input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.-checkbox-css {}

.-checkbox-css .-checkbox-css-inner {
    left: -1px;
}

.-checkbox-css input:checked+.-checkbox-css-inner {
    left: calc(100% - 1.65rem);
}

.-checkbox-css .-checkbox-css-bg {
    background-color: #eee;
}

.-checkbox-css input:checked~.-checkbox-css-bg {
    background-color: #42c1a6;
}

:root {
    --page-shell-max-content-width: 1760px;
}

.vk-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1760px!important;
    max-width: var(--page-shell-max-content-width, 1440px)!important;
    padding-left: 12px!important;
    padding-right: 12px!important
}

.vk-container.mini-container {
    max-width: 1080px!important
}

@media (min-width:1440px) {
    .vk-container.mini-container {
        padding-left: 0!important;
        padding-right: 0!important
    }
}

@media (min-width:640px) {
    .vk-container {
        padding-left: 12px!important;
        padding-right: 12px!important
    }
}

@media (min-width:786px) {
    .vk-container {
        padding-left: 24px!important;
        padding-right: 24px!important
    }
}

@media (min-width:1024px) {
    .vk-container {
        padding-left: 40px!important;
        padding-right: 40px!important
    }
}

@media (min-width:1440px) {
    .vk-container {
        padding-left: 80px!important;
        padding-right: 80px!important
    }
}

body {
    font-family: PingFang SC, "\82F9\65B9", Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1", Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, sans-serif!important;
    ;
}

.hint-text {
    font-size: 0.875rem;
    color: grey;
}

.footer-sub-menu>div>div {
    padding: 0.25rem 0;
    color: #3c3c3c;
}

.footer-menu-bottom {
    color: #3c3c3c;
}

hints {
    color: grey;
}

-moz-keyframes spin {
    to {
        -moz-transform: rotate(360deg);
        transform-origin: center center;
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform-origin: center center;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
        transform-origin: center center;
    }
}

.spinner-icon-holder {
    width: 20px;
    height: 20px;
    display: inline-flex;
}

.spinner-icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 4000ms linear infinite;
}

input[type="radio"]+label span {
    transition: background .2s, transform .2s;
}

input[type="radio"]+label span:hover,
input[type="radio"]+label:hover span {
    transform: scale(1.2);
}

input[type="radio"]:checked+label span {
    background-color: #fbc212;
    box-shadow: 0px 0px 0px 1px white inset;
}

input[type="radio"]:checked+label {
    color: #fbc212;
    font-weight: 600;
}

input[type="checkbox"]:checked+svg {
    display: block;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

.image-change-trigger {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1.5rem;
}

.sell-house-btm {}

.sell-house-btn img {
    height: calc(100% + 5px);
}

.main-header {
    background: #fbc212;
}

.text-official {
    color: #fbc212
}

.text-official-black {
    color: #272727
}

.bg-official {
    background: #fbc212
}

.bg-official-black {
    background: #272727
}

.text-black-500 {
    color: #383838;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 40;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/*home page*/

.home-carousel .owl-stage-outer,
.home-carousel .owl-stage,
.home-carousel .owl-item {
    height: 100%;
}

.owl-lazy {
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#searchForm {
    min-height: 75vh;
}

.min-width-50 {
    min-width: 50%;
}

@media only screen and (max-width: 640px) {
    #searchForm {
        min-height: 45vh;
    }
}


/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}*/

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #00000025;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.alink {
    color: #42c1a6;
}

#helpCenter_container ul {
    list-style: disc;
}

#search_box input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#search_box input[type=search]:hover {
	background-color: #fff;
}
#search_box input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#search_box input:-moz-placeholder {
	color: transparent;
}
#search_box input::-webkit-input-placeholder {
	color: transparent;
}

.iti__flag {background-image: url("/js/lib/intl-tel-input/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("/js/lib/intl-tel-input/img/flags@2x.png");}
}

@media (max-width: 900px) { 
    .lr-text {
        width: 100vw;
        height: auto;
    }
    
    .lr-image {
        width: 100vw;
        height: 100vw;
    }
}

@media (min-width: 900px) {
    .lr-text {
       width: 50vw;
       height: 50vw;
    }
    .lr-image {
       width: 50vw;
       height: 50vw;
    }

}
