<link rel="apple-touch-icon" sizes="180x180" href="./img/fav/apple-touch-icon.png?v=vMgbJ2b0gz">
<link rel="icon" type="image/png" sizes="32x32" href="./img/fav/favicon-32x32.png?v=vMgbJ2b0gz">
<link rel="icon" type="image/png" sizes="16x16" href="./img/fav/favicon-16x16.png?v=vMgbJ2b0gz">
<link rel="manifest" href="./img/fav/site.webmanifest?v=vMgbJ2b0gz">
<link rel="mask-icon" href="./img/fav/safari-pinned-tab.svg?v=vMgbJ2b0gz" color="#5bbad5">
<link rel="shortcut icon" href="./img/fav/favicon.ico?v=vMgbJ2b0gz">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffbd1a">