 <!-- DevExtreme theme -->
 <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.2.4/css/dx.light.css">
 <!-- DevExtreme library -->
 <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/21.2.4/js/dx.all.js"></script>


 <div class="demo-container">
    <h1>SKU管理測試</h1>
     <div id="data-grid-demo" class="mx-12">
         <div id="gridDeleteSelected"></div>
         <div id="gridContainer"></div>
     </div>
 </div>
 {literal}
     <script>
         const itemList = [{
             ID: 1,
             SKU: 'KS-MD-APPLE',
             itemName: '富士蘋果',
             Prefix: 'Mr.',
             Position: 12,
             BirthDate: '1964/03/16',
             HireDate: '1995/01/15',
             onSaleStatus: 1,
         }, {
             ID: 2,
             SKU: 'KS-MD-APPLE',
             itemName: '富士蘋果(小)',
             Prefix: 'Mr.',
             Position: 12,
             BirthDate: '1964/03/16',
             HireDate: '1995/01/15',
             onSaleStatus: 1,
         }, {
             ID: 3,
             SKU: 'KS-MD-APPLE',
             itemName: '富士蘋果(大)',
             Prefix: 'Mr.',
             Position: 12,
             BirthDate: '1964/03/16',
             HireDate: '1995/01/15',
             onSaleStatus: 1,
         }];

         const onSaleStates = [{
             ID: 1,
             value: 'Y',
             Name: '出售中',
         }, {
             ID: 2,
             value: 'N',
             Name: '停止出售',
         }]
     </script>
     <script>
         $(document).ready(function() {
             const dataGrid = $('#gridContainer').dxDataGrid({
                 dataSource: itemList,
                 keyExpr: 'ID',
                 showBorders: true,
                 paging: {
                     enabled: false,
                 },
                 editing: {
                     mode: 'cell',
                     allowUpdating: true,
                     allowAdding: true,
                     allowDeleting: true,
                     confirmDelete: true,
                     selectTextOnEditStart: true,
                     startEditAction: 'click',
                     texts: {
                         deleteRow: '刪除'
                     }
                 },
                 columns: [{
                         dataField: 'SKU',
                         caption: 'SKU',

                     },
                     {
                         dataField: 'itemName',
                         caption: '物品名稱',

                     },
                     {
                         dataField: '可動用數量',
                         width: 170,
                         dataType: 'number',
                     }, {
                         dataField: 'onSaleStatus',
                         caption: '出售中',
                         width: 125,
                         lookup: {
                             dataSource: onSaleStates,
                             displayExpr: 'Name',
                             valueExpr: 'ID',
                         },
                     }, {
                         dataField: '停售時間',
                         dataType: 'datetime',
                     },
                 ],
             }).dxDataGrid('instance');
         })
     </script>
 {/literal}

 {literal}
     <style>
         #data-grid-demo {
             min-height: 700px;
         }

         .options {
             margin-top: 20px;
             padding: 20px;
             background: #f5f5f5;
         }

         .options .caption {
             font-size: 18px;
             font-weight: 500;
         }

         .option {
             margin-top: 10px;
             display: flex;
             align-items: center;
         }

         .option>span {
             width: 120px;
             display: inline-block;
         }

         .option>.dx-widget {
             display: inline-block;
             vertical-align: middle;
             width: 100%;
             max-width: 350px;
         }
     </style>
{/literal}