<script src="https://cdnjs.cloudflare.com/ajax/libs/kendo-ui-core/2014.1.416/js/kendo.core.min.js" integrity="sha512-BTGeW9KyGf217/nQ5S7BtsgTdDbBjACJN+Rgv78Y/GLVPXRdVhIyyXa4KsPsyTwTMC+Oa3nLfWFq71sqNEbkYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div>123</div> 