<script src="js/lib/konva.min.js"></script>
<script src="/js/bhiner-datepicker.js"></script>
<script src="/js/lib/moment-with-locales.min.js"></script>
<script>
    var errorClass = "border-2 -m-1 border-red-400";
    var successClass = "border"
    var shop_id = {$shop_id};
    {literal}
        // TO Lok: deli_arr sample
        var deli_arr = [{
            "deli_id": "10",
            "recipient_name": "willa",
            "recipient_phone": "女",
            "recipient_company": "knjwnfeaflkhkh",
            "deli_date": "2021-10-28",
            "deli_timeslot_id": "9",
            "deli_address": "",
            "deli_region_id": "6",
            "card_head": "",
            "card_body": "",
            "card_sign": "",
            "remarks_internal": "",
            "remarks_external": "",
        }];

        //destination
        window.deliveryHook = {
            shopId : shop_id, 
            holidayList: [],
            deliveryArray: [],
            deliveryObjectTemplate : function(){
                return {
                    deli_id : '',
                    recipient_name: "",
                    recipient_phone: "",
                    recipient_company: "",
                    deli_date: "",
                    deli_timeslot_id: "",
                    deli_address: "",
                    deli_region_id: "",
                    card_head: "",
                    card_body: "",
                    card_sign: "",
                    remarks_internal: "",
                    remarks_external: "",
                };
                    
                
            },
            deliveryAddressMethod: 'same-address', //same-address or  split-address
            refresh: function() {
                //refresh address picker =======
                //toggler UI
                var $deliveryHolder = $('#delivery-address-method-picker')
                $deliveryHolder.find(`[data-address-method="${this.deliveryAddressMethod}"]`).find('.select-active-class').removeClass('hidden')
                .closest(`[data-address-method="${this.deliveryAddressMethod}"]`).siblings().find('.select-active-class').addClass('hidden')

                //form hide or show
                if (this.deliveryAddressMethod == 'same-address') {
                    $('#same-address-form').removeClass('hidden')
                    $('#item-preview-list').find('.indi-address-delivery-picker').addClass('hidden')

                } else {
                    $('#same-address-form').addClass('hidden')
                    $('#item-preview-list').find('.indi-address-delivery-picker').removeClass('hidden')
                }
                //end refresh address picker =======

                //refresh input, form

                //recreate delivery array
                console.log(this)
            }
        }

        $(document).ready(function() {
            //set moment time to server time
            var serverTimeOffset = new Date({/literal}{$timestamp}{literal}).getTime() - Date.now();
            moment.now = function() {
                return serverTimeOffset + Date.now();
            };
            //implement json object to product list
            var deliveryId = []
            window.deliveryHook.holidayList = {/literal}{$result_array.holidayList|@json_encode|escape}{literal}
            $('.product-init').each(function(index, element) {
                //parse holiday object into each dom product indi
                var elementProductId = String($(element).data().productId)
                var elementDeliId = String($(element).data().deliveryId)
                deliveryId.push($(element).data().deliveryId)
                //start to loop holiday and see if product match holiday
                var tempHolidayList = []
                window.deliveryHook.holidayList.forEach(function(holiday, holidayIndex) {
                    if (holiday.product_id_arr == null) {
                        tempHolidayList.push(holiday)
                    } else {
                        //start to loop the product id and see if holiday id match our product
                        holiday.product_id_arr.every(function(holidayProductId,
                            holidayProductIdIndex) {
                            if (holidayProductId == elementProductId) {
                                tempHolidayList.push(holiday)
                            } else {
                                return true
                            }
                        })
                    }
                })
                //after looping, apply holiday into dom
                $(element).data('holidayList', tempHolidayList)
                console.log($(element).data())

            })

            var getDeliveryListStringObj = {
                cust_deli_id_arr: JSON.stringify(deliveryId),
                shop_id: window.deliveryHook.shopId
            }   
            
            $.bajax({
                url: "checkout/api/getDistrictList",
                data: getDeliveryListStringObj,
                method: 'POST',
                callback: function(data) {
                    if (!data.code == 0) {

                    } else {
                        //hide loader
                        $('.js-form-loading-container').hide()
                        $('#main-form-act').removeClass('opacity-0')

                        //put data into product list
                        data.result.forEach(function(deliListArr, index) {
                            //put list into item list
                            $('#item-preview-list').find(`[data-delivery-id="${deliListArr.cust_deli_id}"]`).data('deList', deliListArr.districtList)
                        })
                    }
                }
            })


            //init user interface
            window.deliveryHook.refresh()

            //address handler
            deliveryAddressMethod = ''
            $('#delivery-address-method-picker').find('[data-address-method]').click(function() {
                var $this = $(this)

                window.deliveryHook.deliveryAddressMethod = $this.data().addressMethod
                window.deliveryHook.refresh()
            })

            //pickers ========================
            //===============================

            //pick address and region
            $('.deli-region-picker').click(function(e) {
                var $this = $(this)
                e.preventDefault()
                $vkmodal({
                    fullScreen: false,
                    tapBackgroundToClose: true,
                    content: $("#general-popup").html(),
                    mounted: function(element) {
                        $("[name=regionSearch]").off("keyup")
                        $("[name=regionSearch]").on("keyup", function(){
                            let skey = $(this).val();

                            //start to find regions
                            var domHtml = ''
                            var data;

                            if ($this.hasClass('indi-deli-region-picker')) {

                                data = $this.closest('.product-init').data().deList

                            } else {
                                //get from general array
                                data = $this.data().deList
                            }

                            //parse code into html DOM
                            data.forEach(function(district, key) {
                                tmpDomHtml = '';
                                $tmpDom = $("<div/>");
                                districtBool = false;
                                if (skey == '')
                                    districtBool = true;
                                

                                if (district.show_in_web == 'Y') {
                                    if (skey != '' && district.name.indexOf(skey) >= 0)
                                        districtBool = true;
                                    

                                    $h4 = $("<h4/>").attr({
                                        class: "font-bold text-sm text-gray-500 mb-2 mt-3"
                                    }).html(district.name);

                                    $regionWrapper = $("<div/>").attr({
                                        class: "grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-x-2 gap-y-2"
                                    });

                                    //loop region
                                    regionBool = false;
                                    district.regionList.forEach(function(region, key) {
                                        if (districtBool || (skey != '' && region.name.indexOf(skey) >= 0)){
                                            regionBool = true;
                                            $a = $("<a/>").attr({
                                                href: "#",
                                                class: "indi-region-picker indi-region-picker-inner border border-gray-300 rounded text-sm text-gray-700 font-bold px-3 py-2 hover:opacity-50 transition-all",
                                                "data-region": region.region_id,
                                                "data-time-slot": JSON.stringify(region.timeslotList)
                                            }).html(region.name)
                                            
                                            if (region.shipping_fee && region.shipping_fee > 0)
                                                $a.html(`${region.name} <span class="text-xs text-gray-400">(運費: <span class="text-green-500 extra-fee-js-dom">${region.shipping_fee}</span>)</span>`)
                                                    
                                            $regionWrapper.append($a);
                                        }
                                    })
                                    $tmpDom.append($h4);
                                    $tmpDom.append($regionWrapper);
                                }

                                if (districtBool || regionBool)
                                    domHtml += $tmpDom.html();

                            })

                            //place content
                            element.find('.content-replacer').html(domHtml)

                            //return region code
                            element.find('.indi-region-picker').click(function(e) {
                                
                                $this.removeClass(errorClass).addClass(successClass);
                                $this.siblings(".error_helper").remove();

                                e.preventDefault()
                                var $button = $(this)
                                console.log($button.data())
                                //change the time slot available in product init
                                $this.closest('.product-init').data('timeSlot', $button.data().timeSlot)
                            
                                //place value
                                $this.find('input[name=recipient-region]').val($button.data().region)
                                $this.data('region', $button.data().region)
                                $this.find('.pick-region-js-trigger').text($button.html().replace(/<[^>]*>?/gm, ''))

                                //unlock time stamp
                                $this.closest('.product-init').find('.time-slot-hidden').removeClass('hidden')
                                $this.closest('#same-address-form').find('.time-slot-hidden').removeClass('hidden')

                                //detech batch click or not
                                if($this.hasClass('same-address-picker')){
                                    vkfullScreenLoader('show')
                                    $.bajax({
                                        url: `/checkout/api/getTimeslotList?region_id=${$button.data().region}`,
                                        method: 'POST',
                                        callback: function(data) {
                                            if (!data.code == 0) {
                                                //globalErrorReturn(data);
                                            
                                            } else {
                                                console.log(data);
                                                console.log("ajax done");

                                                //put data into same address form
                                                $this.closest('#same-address-form').data('timeSlot', data.result.timeslotList)
                                                $this.closest('#same-address-form').data('avaDay', data.result.ava_b4_day)
                                            }

                                            //close all popup
                                            vkfullScreenLoader('close')
                                            killVkmodal(element.data().timestamp)
                                        }
                                    }) 
                                } else {
                                    //place display text
                                    killVkmodal(element.data().timestamp)
                                }

                            

                            })
                        });

                        $("[name=regionSearch]").focus().keyup();

                        //close handler
                        element.find('.js-close').click(function() {
                            killVkmodal(element.data().timestamp)
                        })

                        return;
                    },
                });

            })

            //time slot picker

            $(".time-slot-picker").click(function() {
                var $this = $(this)
                /* $.bajax({
                url: "checkout/api/getTimeslotList",
                method: 'POST',
                data: {
                    product_id: 3,
                    shop_id: shop_id
                },
                callback: function(data) {
                    if (!data.code == 0) {
                        globalErrorReturn(data);
                    } else {
                        console.log(data);
                        console.log("ajax done");
                    }
                }
            }) */

                $vkmodal({
                    fullScreen: false,
                    tapBackgroundToClose: true,
                    content: $("#time-slot-popup").html(),
                    mounted: function(element) {
                        element.find(".js-close").click(function() {
                            killVkmodal(element.data().timestamp);
                        });
                        var domHtml = ''

                        var data
                        if($this.hasClass('same-address-picker')){
                            data = $this.closest('#same-address-form').data()
                        } else {
                            data = $this.closest('.product-init').data()
                        }


                        //disable hoiday list
                        // console.log('whole data')
                        // console.log(data)
                        // console.log('data holiday list')
                        // console.log(data.holidayList)
                        if(data.holidayList != undefined){
                            var holidayList = ''
                            for(holidayIndex in data.holidayList){
                                var holiday = data.holidayList[holidayIndex]
                                var holidayStartDate = moment(holiday.start_date)
                                var holidayEndDate = moment(holiday.end_date)
                                var holidayStartDateString = holidayStartDate.format('DD/MM/YYYY')
                                var holidayEndDateString = holidayEndDate.format('DD/MM/YYYY')
                                var dateDifferece = holidayStartDate.diff(holidayEndDate, 'days') * -1
                                if(dateDifferece == 0){
                                    //add solo date
                                    holidayList += `${holidayStartDateString},`
                                } else {
                                    //add date series
                                    var tempDate = holidayStartDate
                                    for(key = 0; key < dateDifferece; key ++){
                                        tempDate = tempDate.add('days',1)
                                        holidayList += `${tempDate.format('DD/MM/YYYY')},`
                                    }
                                }
        
                            }
                            //put into DOM\
                            element.find('.bhiner-datepicker').attr('data-blocked-date', holidayList)

                        }
                        
                        

                        //create content html here
                        
                        var timeSlotHtmlDefault ='';
                        var timeSlotHtmlExtra = '';
                        if($this.hasClass('indi-time-slot-picker') == false){
                            data = $this.closest('#same-address-form').data()
                        }
                          //product indi picker
                          data.timeSlot.forEach(function(timeSlot, index){
                              console.log(index, timeSlot);
                            var tempHtml = `
                            <a href="#" data-time-slot-id="${timeSlot.slot_id}" class="time-slot-picker-js-indi border border-gray-300 rounded text-sm text-gray-700 font-bold px-3 py-2 hover:opacity-50 transition-all" data-extra-fee="${timeSlot.deli_fee}" data-same-day-extra-fee="${timeSlot.same_day_deli_fee}">
                              <div>${moment(`2020-01-01 ${timeSlot.start_time}`).format('HH:mm')} 至 ${moment(`2020-01-01 ${timeSlot.end_time}`).format('HH:mm')} 送貨</div>
                              <div class="text-xs text-gray-400 extra_fee_wrapper">${timeSlot.deli_fee == '0' ? `免運費` : `額外運費: <span class="text-green-500 extra-fee-js-dom">$${timeSlot.deli_fee}</span> `}</div>
                            </a>
                            `

                            if(timeSlot.default == 'Y'){
                              timeSlotHtmlDefault += tempHtml
                            } else {
                              timeSlotHtmlExtra += tempHtml
                            }

                          })
                        
                          //global picker
                          

                    
                        //timeSlotHtmlDefault += '</div>'
                        //timeSlotHtmlExtra += '</div>'
                        //time-field-picker-container

                        //place content

                        element.find('.default-time-slot-container').html(timeSlotHtmlDefault)
                        element.find('.extra-time-slot-container').html(timeSlotHtmlExtra)

                        //event listener

                        //indi time slot picker
                        $('.time-slot-picker-js-indi').click(function(e){
                          var $indiThis = $(this)
                          element.find('.time-slot-picker-js-indi').removeClass('ring-2 ring-green-500 text-green-500')
                          $indiThis.addClass('ring-2 ring-green-500 text-green-500')
                          $this.data('timeSlot',$indiThis.data().timeSlotId)
                        })

                        // date time picker on change
                        $(".bhiner-datepicker").off("change");
                        $(".bhiner-datepicker").on("change", function(){
                            var deli_fee = 0
                            if  (moment().format("Y/M/D") == $(this).val()){
                                $(".time-slot-picker-js-indi").each(function(idx, val){
                                    deli_fee = parseFloat($(val).attr("data-extra-fee")) + parseFloat($(val).attr("data-same-day-extra-fee"))
                                    if (deli_fee > 0)
                                        $(val).find(".extra_fee_wrapper").html(`額外運費: <span class="text-green-500 extra-fee-js-dom">$${deli_fee}</span>`);
                                    else {
                                        $(val).find(".extra_fee_wrapper").html(`免運費`);
                                    }
                                });
                            } else {
                                $(".time-slot-picker-js-indi").each(function(idx, val){
                                    deli_fee = $(val).attr("data-extra-fee")
                                    if (deli_fee > 0)
                                        $(val).find(".extra_fee_wrapper").html(`額外運費: <span class="text-green-500 extra-fee-js-dom">$${deli_fee}</span>`);
                                    else {
                                        $(val).find(".extra_fee_wrapper").html(`免運費`);
                                    }
                                });
                            }                            
                        });
                        //date time picker

                        //date submit :
                        element.find('.js-confirm').click(function(){
                            $this.removeClass(errorClass).addClass(successClass);
                            $this.siblings(".error_helper").remove();
                            console.log(element.find('.bhiner-datepicker').val())
                            console.log(element.find('.extra-time-slot-container').find('.ring-green-500'))
                            if(element.find('.bhiner-datepicker').val().trim() == '' || element.find('.ring-green-500').length == 0){
                                vkAlert({
                                title : '請選擇所需資料',
                                content : '請選擇時段及日期並重試',
                                confirmButtonHtmlClass : 'bg-gray-300 text-gray-600 shadow-none',
                                confirmButtonHtml : '確定',
                                cancelButton : false
                                })
                            } else {
                                var pickedDate = moment(element.find('.bhiner-datepicker').val())
                                var pickedTime = element.find('.ring-green-500').data('timeSlotId')
                                var pickedTimeString = element.find('.ring-green-500').text()

                                //put data and string into html
                                $this.data().pickedDate = pickedDate
                                $this.data().pickedTime = pickedTime
                                $this.find('.content-replacer').html(`
                                <div>
                                    <div class="font-bold ">${pickedDate.format('YYYY/MM/DD')}</div>
                                    <div class="text-sm text-gray-500">${pickedTimeString}</div>
                                </div>
                                `)

                                console.log($this.data())
                                killVkmodal(element.data().timestamp)
                            }
                         
                        })

                        return;
                    }
                });
            });

            $(document).on("click", ".btn_suggest_greeting", function(){

                $.bajax({
                    url: "checkout/api/productDtl",
                    method: 'POST',
                    data: {
                        product_id: $(this).attr("data-product_id")
                    },
                    callback: function(data) {
                        var greetingCateList = data.result.greetingCateList
                        $vkmodal({
                            tapBackgroundToClose: true,
                            content: $("#greeting_popup").html(),
                            mounted : function(element){
                                $domHtml = $("<div/>");

                                cateTpl = `
                                <div class="greetingCate_wrapper">
                                    <h4 class="font-bold text-sm text-gray-500 mb-2 mt-3 cateTit"></h4>
                                    <div class="flex flex-wrap gap-2 subcateList_wrapper"></div>
                                    <div class="greetingList_wrapper hidden flex flex-wrap gap-2 border-t-2 mt-2 pt-2"></div>
                                </div>`

                                subcateTpl = `<div class="cursor-pointer whitespace-nowrap border-b border-gray-200 px-2 py-1 inline-block mb-1 hover:opacity-75 font-bold subCateTit"></div>`;

                                greetingTpl = `<div class="whitespace-nowrap border border-gray-200 px-2 py-1 inline-block mb-1 rounded hover:opacity-75 font-bold greeting"></div>`;

                                greetingCateList.forEach(function(cate, i){

                                    $cateTpl = $(cateTpl);
                                    
                                    

                                    $cateTpl.find(".cateTit").html(cate.name_tc);

                                    cate.subcateList.forEach(function(subcate, ii){
                                        $subcateTpl = $(subcateTpl).clone();
                                        $subcateTpl.html(subcate.name_tc);
                                        $subcateTpl.attr("data-greetingList", JSON.stringify(subcate.greetingList))

                                        $cateTpl.find(".subcateList_wrapper").append($subcateTpl);
                                        
                                    });
                                    $domHtml.append($cateTpl);
                                });

                                //place content
                                element.find('.content-replacer').html("");
                                element.find('.content-replacer').append($domHtml);
                            }
                        })
                        
                    }
                })
            })

            $(document).on("click", ".subCateTit", function(){
                $container = $(this).parents(".greetingCate_wrapper");
                $container.find(".greeting").remove();
                
                $(".subCateTit").removeClass("border-green-500 text-green-500");
                $(this).addClass("border-green-500 text-green-500");
                
                $(".greetingList_wrapper").addClass("hidden");
                $(".greetingList_wrapper .greeting").remove();

                greetingList = JSON.parse($(this).attr("data-greetingList"));
                greetingList.forEach(function(greeting,i){
                    $greetingTpl = $("<div/>").attr("class", "cursor-pointer border border-gray-200 px-2 py-1 inline-block mb-1 rounded hover:opacity-75 font-bold greeting").html(greeting.msg);
                    $container.find(".greetingList_wrapper").removeClass("hidden").append($greetingTpl);
                });
            })

            $(document).on("click", ".greeting", function(){
                // update greeting content
                $("[name=content]").val($(this).html());
                // update canvas
                $("[name=content]").keyup();

                var $this = $(this);
                if ($this.closest('.vk-modal-dom').length == 1) {
                    $this.closest('.vk-modal-dom').data()._destory()
                }
            })

            //card design picker
            $('.card-design-picker').click(function(){
                var $this = $(this)
                product_id = $this.parents("section").attr('data-product-id');
                $vkmodal({
                    fullScreen: true,
                    tapBackgroundToClose: false,
                    content : `
                    <div class="px-5">
                        <div class="flex flex-row items-center">
                            <h4 class="text-2xl font-bold">編輯祝賀卡</h4>
                            <a href="#" class="ml-auto p-4 hover:opacity-50 js-close-confirm text-gray-400 text-3xl "><i class="ri-close-line"></i></a>
                        </div>
                        <div class="option-konva flex flex-row items-center mb-2">
                            <button class="border-2 border-gray-100 font-bold rounded px-4 py-2 text-gray-600" data-card-active="false">我不需要祝賀卡</button>
                            <button class="border-2 border-green-500 font-bold rounded px-4 py-2 text-green-500 ml-1" data-card-active="true">自定義祝賀卡</button>
                        </div>
                        <hr>
                        <div class="card-activated grid grid-cols-1 lg:grid-cols-5 lg:gap-x-4">
                            <div class="col-span-2 grid-form">
                                <h5 class="text-lg font-bold mt-3 mb-1">祝賀卡內容</h5>
                                <h6 class="font-bold mb-1 text-sm">上款</h6>
                                <input name="title" class="w-full border border-gray-300 px-2 py-1 rounded mb-2" type="text" placeholder="上款" value="上款">
                                <h6 class="font-bold mb-1 text-sm">祝賀語 <span class="btn_suggest_greeting cursor-pointer text-green-500" data-product_id="`+ product_id +`">(使用建議祝賀語)</span></h6>
                                <textarea name="content" class="w-full border border-gray-300 px-2 py-1 rounded mb-2" type="text" placeholder="祝賀語">祝賀語</textarea>
                                <h6 class="font-bold mb-1 text-sm">下款</h6>
                                <input name="sign" class="w-full border border-gray-300 px-2 py-1 rounded mb-2" type="text" placeholder="下款" value="下款">
                                <h6  class="font-bold mb-2 text-sm">祝賀卡款式</h6>
                                <div class="card-picker-grid grid grid-cols-4 gap-x-4">
                                    <div class="text-center font-bold text-sm border-2 border-green-500 text-green-500 p-2 rounded hover:opacity-70 cursor-pointer"
                                     data-card-style="1" data-width="3508" data-height="2480" data-ratio="1.4145" data-string="已選擇 - 通用卡(21 x 15cm)">
                                        <img src="./img/card_template/1.jpg" >
                                        <p>通用卡<br/>(21 x 15cm)</p>
                                    </div>
                                    <div class="text-center font-bold text-sm  p-2 rounded hover:opacity-70 cursor-pointer" data-card-style="2" data-width="3508" data-height="2480" data-ratio="1.4145" data-string="已選擇 - A4果籃卡(29.7 x 21cm)">
                                        <img src="./img/card_template/2.jpg">
                                        <p>A4果籃卡<br/>(29.7 x 21cm)</p>
                                    </div>
                                    <div class="text-center font-bold text-sm  p-2 rounded  hover:opacity-70 cursor-pointer" data-card-style="3" data-width="8100" data-height="6252" data-ratio="1.295" data-string="已選擇 - B4花籃卡(35.3 x 50cm)">
                                        <img src="./img/card_template/3.jpg">
                                        <p>B4花籃卡<br/>(35.3 x 50cm)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="konva-stage col-span-3 w-full">
                                <h5 class="text-lg font-bold mt-3 mb-1">祝賀卡設計（可拉動字符）</h5>
                                <div class="vk-konva-stage bg-cover bg-no-repeat my-3" style="background-size: 100% auto;"></div>
                            </div>
                           
                        </div>
                        <div class="sticky lg:relative bottom-0 flex flex-row items-center justify-end py-2 bg-white border-t border-gray-300">
                            <button class="py-2 px-6 rounded border  border-gray-300 text-gray-600 font-bold mr-2 js-close-confirm hover:opacity-75">取消</button>
                            <button class="py-2 px-6 rounded bg-black text-white font-bold hover:opacity-75 submit-card-info">儲存</button>
                        </div>
                    </div>
                    `,
                    mounted : function(element){
                        

                        //parse previous information
                        var _d = $this.data()

                        console.log(_d)
                        element.find('input[name="title"]').val(_d.card_head ? _d.card_head : '上款')
                        element.find('textarea[name="content"]').val(_d.card_body ? _d.card_body : '祝賀語')
                        element.find('input[name="sign"]').val(_d.card_sign ? _d.card_sign : '下款')
                        if(_d.card_activated == true){

                        } else {
                            
                        }

                        //mounted - start to init konva
                        //define :
                        //sign
                        //head
                        //body
                        //card_background
                        //activate
                        //json

                        //init card style
                        $('.vk-konva-stage').css({
                            'background-image' : `url("img/card_template/1.jpg")`
                        })
 
                        //start konva
                        var sceneWidth = 700
                        var sceneHeight = sceneWidth /element.find('.text-green-500[data-card-style]').data().ratio

                        var stage;
                        var konvaTitleText;
                        var konvaContentText;
                        var konvaSignText;
                        var layer;
          
                        
                        if(_d.card_json){
                           
                            stage = Konva.Node.create(_d.card_json, '.vk-konva-stage');

                            console.log(stage.find('.konvaTitleText'))

                            layer = stage.find('.layer')[0]
                            konvaTitleText = stage.find('.konvaTitleText')[0]
                            konvaContentText = stage.find('.konvaContentText')[0]
                            konvaSignText = stage.find('.konvaSignText')[0]

                            
                        } else {
                            //no previous data
                            stage = new Konva.Stage({
                                container: '.vk-konva-stage',   // id of container <div>
                                width:  sceneWidth,
                                height: sceneHeight
                            });

                            layer = new Konva.Layer({
                                name : 'layer'
                            });

                            konvaTitleText = new Konva.Text({
                                name : 'konvaTitleText',
                                x: 140,
                                y: 100,
                                text: element.find('input[name="title"]').val(),
                                fontSize: 25,
                                draggable: true,
                            });

                            konvaContentText = new Konva.Text({
                                name : 'konvaContentText',
                                x: 140,
                                y: 230,
                                text: element.find('textarea[name="content"]').val(),
                                fontSize: 35,
                                draggable: true,
                            });

                             konvaSignText = new Konva.Text({
                                name : 'konvaSignText',
                                x: 140,
                                y: 380,
                                text: element.find('input[name="sign"]').val(),
                                fontSize: 25,
                                draggable: true,
                            });

                            //add text
                          layer.add(konvaTitleText);
                          layer.add(konvaContentText);
                          layer.add(konvaSignText);
                          stage.add(layer);
                        }
                      
                        //responsive
                        var scale;
                        var scaleMultiplier;
                        var containerWidth;
                        function fitStageIntoParentContainer() {
                            
                            console.log(stage)
                      
                            var container = document.querySelector('.konva-stage');

                            // now we need to fit stage into parent container
                            //update containerWidth
                            if(container == null){
                                return false
                            }
                            containerWidth = container.offsetWidth;

                            // but we also make the full scene visible
                            // so we need to scale all objects on canvas
                            //update scale
                            scale = containerWidth / sceneWidth;

                            scaleMultiplier = sceneWidth / containerWidth

                            stage.width(sceneWidth * scale);
                            stage.height(sceneHeight * scale);
                            stage.scale({ x: scale, y: scale });
                            //layer.scale({ x: scale, y: scale });
                        }

                        window.addEventListener('resize', fitStageIntoParentContainer);
                        fitStageIntoParentContainer()

                        

                        //input bind
                        element.find('input[name="title"]').on('keyup', function(){
                            var $this = $(this)
                            konvaTitleText.setAttr('text', $this.val())
                            layer.draw();
                        })
                        element.find('textarea[name="content"]').on('keyup', function(){
                            var $this = $(this)
                            konvaContentText.setAttr('text', $this.val())
                            layer.draw();
                        })
                        element.find('input[name="sign"]').on('keyup', function(){
                            var $this = $(this)
                            konvaSignText.setAttr('text', $this.val())
                            layer.draw();
                        })
                        //key binded
                        element.find(".js-close-confirm").click(function() {
                            
                            vkConfirmDefault({
                                title: '關閉祝賀卡設計',
                                content: '<div>確認關閉祝賀卡設計頁面嗎？你未存儲的設計將會遺失。</div>',
                                confirmButtonHtml: '關閉',
                                cancelButtonHtml: '取消',
                                confirmButtonFunction: function(){
                                    killVkmodal(element.data().timestamp);
                                },
                                cancelButtonFunction : function(){
                                }
                            })
                           
                        });

                        //active card 
                        element.find('.option-konva button').click(function(){
                            var $this = $(this)
                            console.log($this.data().cardActive)
                            if($this.data().cardActive == true){
                                element.find('.card-activated').removeClass('opacity-20 pointer-events-none')
                            } else {
                                element.find('.card-activated').addClass('opacity-20 pointer-events-none')
                            }
                            $this.removeClass('border-gray-100 text-gray-600').addClass('border-green-500 text-green-500')
                            .siblings().removeClass('border-green-500 text-green-500').addClass('border-gray-100 text-gray-600')
                        })

                        //pick card style
                        element.find('[data-card-style]').click(function(e){
                            var $this = $(this)
                            $this.addClass('border-2 border-green-500 text-green-500').siblings().removeClass('border-2 border-green-500 text-green-500')

                            //change card background
                            $('.vk-konva-stage').css({
                                'background-image' : `url("img/card_template/${$this.data().cardStyle}.jpg")`
                            })

                            //change konva stage
                            sceneHeight = sceneWidth / $this.data().ratio
                            //reset stage
                            fitStageIntoParentContainer()
                        })

                        //submit card info to parent
                        element.find('.submit-card-info').click(function(e){
                            console.log(stage.toJSON())
                            if(element.find('[data-card-active="true"]').hasClass('text-green-500')){
                                //active to edit button
                                $this.find('span.pick-card-js-trigger').html(element.find('.card-picker-grid .text-green-500').data().string)
                            }else {
                                $this.find('span.pick-card-js-trigger').html('我不需要賀卡')
                            }
                            $this.data({
                                card_id : element.find('[data-card-style].text-green-500').data().cardStyle,
                                card_head : element.find('input[name="title"]').val(),
                                card_body : element.find('textarea[name="content"]').val(),
                                card_sign : element.find('input[name="sign"]').val(),
                                card_json : stage.toJSON(),
                                card_activate : element.find('[data-card-active="true"]').hasClass('text-green-500')
                            })
                            killVkmodal(element.data().timestamp)
                        })
                        

                    }
                })
            })
            //final payment ========================
            //===============================

            //payment process

            $(document).on("click", ".btn_payment", function(e) {
                $(".error_helper").remove();
                var deliListArray = []
                var isValid = true;

                if (!$("[name=sender_name]").val()){
                    $("[name=sender_name]").addClass(errorClass).removeClass(successClass);
                    $("[name=sender_name]").parent().append($("<div/>").attr("class", "error_helper mt-2 text-xs text-red-600").html("請輸入姓名"));
                    isValid = false;
                }

                if (!$("[name=sender_phone]").val()){
                    $("[name=sender_phone]").addClass(errorClass).removeClass(successClass);
                    $("[name=sender_phone]").parent().append($("<div/>").attr("class", "error_helper mt-2 text-xs text-red-600").html("請輸入手機號碼"));
                    isValid = false;
                }

                if (!$("[name=sender_email]").val()){
                    $("[name=sender_email]").addClass(errorClass).removeClass(successClass);
                    $("[name=sender_email]").parent().append($("<div/>").attr("class", "error_helper mt-2 text-xs text-red-600").html("請輸入電郵地址"));
                    isValid = false;
                } else if (!emailValidation($("[name=sender_email]").val())){
                    $("[name=sender_email]").addClass(errorClass).removeClass(successClass);
                    $("[name=sender_email]").parent().append($("<div/>").attr("class", "error_helper mt-2 text-xs text-red-600").html("請輸入有效的電郵地址"));
                    isValid = false;
                }

                if(window.deliveryHook.deliveryAddressMethod == 'same-address'){
                    if (!$("[name=recipient_name]").val() || $("[name=recipient_name]").val() == ""){
                        $("[name=recipient_name]").addClass(errorClass).removeClass(successClass);
                        $("[name=recipient_name]").parent().append($("<div/>").attr("class", "error_helper mt-2 text-xs text-red-600").html("請輸入收貨人姓名"));
                        isValid = false;
                    }

                    if (!$("[name=recipient_phone]").val() || $("[name=recipient_phone]").val() == ""){
                        $("[name=recipient_phone]").addClass(errorClass).removeClass(successClass);
                        $("[name=recipient_phone]").parent().append($("<div/>").attr("class", "error_helper mt-2 text-xs text-red-600").html("請輸入收貨人電話號碼"));
                        isValid = false;
                    }

                    if (!$('#same-address-form .deli-region-picker') || !$('#same-address-form .deli-region-picker').data().region){
                        $('#same-address-form .deli-region-picker').addClass(errorClass).removeClass(successClass);
                        $('#same-address-form .deli-region-picker').parent().append($("<div/>").attr("class", "error_helper mt-2 text-xs text-red-600").html("請輸入送貨地區"));
                        isValid = false;
                    } else {
                        if (!$('#same-address-form .time-slot-picker') || !$('#same-address-form .time-slot-picker').data() || !$('#same-address-form .time-slot-picker').data().pickedDate){
                            $('#same-address-form .time-slot-picker').addClass(errorClass).removeClass(successClass);
                            $('#same-address-form .time-slot-picker').parent().append($("<div/>").attr("class", "error_helper mt-2 text-xs text-red-600").html("請輸入送貨時段"));
                            isValid = false;
                        }
                    }
                }

                $('#item-preview-list').find('.product-init').each(function(index, $product){
                    $product = $($product)
                    var deliveryTemplateData = window.deliveryHook.deliveryObjectTemplate()

                    console.log($product.find('.time-slot-picker').data())

                    deliveryTemplateData.card_body = $product.find('.card-design-picker').data().card_body
                    deliveryTemplateData.card_head = $product.find('.card-design-picker').data().card_head
                    deliveryTemplateData.card_sign = $product.find('.card-design-picker').data().card_sign
                    deliveryTemplateData.card_id = $product.find('.card-design-picker').data().card_id
                    deliveryTemplateData.card_json = $product.find('.card-design-picker').data().card_json
                    deliveryTemplateData.card_activate = $product.find('.card-design-picker').data().card_activate == true ? 'Y' : 'N'
                    deliveryTemplateData.deli_id = $product.data().deliveryId
                    deliveryTemplateData.deli_region_id = $product.find('.deli-region-picker').data().region
                    deliveryTemplateData.deli_timeslot_id = $product.find('.time-slot-picker').data().timeSlot
                    deliveryTemplateData.remarks_internal = ''
                    deliveryTemplateData.remarks_external = ''

                    

                    //replace with same address data :
                    if(window.deliveryHook.deliveryAddressMethod == 'same-address'){
                        var $sameForm = $('#same-address-form')

                        if (isValid){   
                            deliveryTemplateData.deli_date = $sameForm.find('.time-slot-picker').data().pickedDate.format('YYYY-MM-DD')
                            deliveryTemplateData.deli_address = $sameForm.find('[name="deli_address"]').val()
                            deliveryTemplateData.recipient_company = $sameForm.find('[name="recipient_company"]').val()
                            deliveryTemplateData.recipient_name = $sameForm.find('[name="recipient_name"]').val()
                            deliveryTemplateData.recipient_phone = $sameForm.find('[name="recipient_phone"]').val()
                            deliveryTemplateData.deli_region_id = $sameForm.find('.deli-region-picker').data().region
                            deliveryTemplateData.deli_timeslot_id = $sameForm.find('.time-slot-picker').data().timeSlot
                        }

                    } else {
                        
                        if (!$product.find("[name=recipient_name]").val()){
                            $product.find("[name=recipient_name]").addClass(errorClass).removeClass(successClass);
                            $product.find("[name=recipient_name]").parent().append($("<div/>").attr("class", "error_helper mt-2 text-xs text-red-600").html("請輸入姓名"));
                            isValid = false;
                        }

                        if (!$product.find("[name=recipient_phone]").val()){
                            $product.find("[name=recipient_phone]").addClass(errorClass).removeClass(successClass);
                            $product.find("[name=recipient_phone]").parent().append($("<div/>").attr("class", "error_helper mt-2 text-xs text-red-600").html("請輸入手機號碼"));
                            isValid = false;
                        }

                        if (!$product.find('.deli-region-picker') || !$product.find('.deli-region-picker').data().region){
                            $product.find('.deli-region-picker').addClass(errorClass).removeClass(successClass);
                            $product.find('.deli-region-picker').parent().append($("<div/>").attr("class", "error_helper mt-2 text-xs text-red-600").html("請輸入送貨地區"));
                            isValid = false;
                        } else {
                            if (!$product.find('.time-slot-picker') || !$product.find('.time-slot-picker').data() || !$product.find('.time-slot-picker').data().pickedDate){
                                $product.find('.time-slot-picker').addClass(errorClass).removeClass(successClass);
                                $product.find('.time-slot-picker').parent().append($("<div/>").attr("class", "error_helper mt-2 text-xs text-red-600").html("請輸入送貨時段"));
                                isValid = false;
                            }
                        }

                        if (isValid){
                            deliveryTemplateData.deli_date = $product.find('.time-slot-picker').data().pickedDate.format('YYYY-MM-DD')
                            deliveryTemplateData.deli_address = $product.find('[name="deli_address"]').val()
                            deliveryTemplateData.recipient_company = $product.find('[name="recipient_company"]').val()
                            deliveryTemplateData.recipient_name = $product.find('[name="recipient_name"]').val()
                            deliveryTemplateData.recipient_phone = $product.find('[name="recipient_phone"]').val()
                        }
                    }

                    //push to array
                    deliListArray.push(deliveryTemplateData)

                })

                if (isValid){
                    var finalDeliveryData = {
                        deli_arr: JSON.stringify(deliListArray),
                        shop_id: shop_id,
                        sender_name: $("[name=sender_name]").val(),
                        sender_phone: $("[name=sender_phone]").val(),
                        sender_email: $("[name=sender_email]").val(),
                        sender_company: $("[name=sender_company]").val(),
                    }
    
                    console.log(finalDeliveryData)
    
                    //send payment order
                    $.bajax({
                        url: "checkout/api/saveAddress",
                        method: 'POST',
                        data: finalDeliveryData,
                        callback: function(data) {
                            if (!data.code == 0) {
                                console.log(data.code)
                                globalErrorReturn(data);
                            } else {
                                location.href = "checkout/checkoutConfirmation";
                            }
                        }
                    })
                } else {
                    $("." + errorClass.split(' ').join('.')+":eq(0)").focus()
                    console.log("form field(s) is missing")
                }
            });

            $(document).on("change", "." + errorClass.split(' ').join('.'), function(e){
                $(this).removeClass(errorClass).addClass(successClass);
                $(this).siblings(".error_helper").remove();
            })

            $(document).on("click", "#time-picker-js-modal", function(e) {
                console.log($(e.target));
                if ($(e.target).hasClass("time-picker-js-modal-closer")) {
                    $("#time-picker-js-modal").remove();
                }
            });

            $(".region-picker").click(function() {
                $.bajax({
                    url: "checkout/api/getRegionList",
                    method: 'POST',
                    data: {
                        //product_id: 3,
                        shop_id: shop_id
                    },
                    callback: function(data) {
                        if (!data.code == 0) {
                            globalErrorReturn(data);
                        } else {
                            console.log(data);
                            console.log("ajax done");
                        }
                    }
                })
            });

        });
    {/literal}
</script>
<div class="hidden" id="time-slot-popup">
    <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <div
                class="inline-block bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 align-middle sm:max-w-2xl w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 sm:mt-0 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium text-gray-900 modal-title">
                                請選擇日期
                            </h3>
                        </div>
                    </div>
                    <div class="slot-picker-container mb-4">
                      <input type="text" class="bhiner-datepicker border border-gray-300 px-4 py-2 rounded mt-2 w-full font-bold" data-blocked-date="" placeholder="請選擇日期" >
                    </div>
                    <hr/>
                    <div class="slot-picker-container mt-4">
                      <h4 class="font-bold mt-4 text-lg">選擇時段</h4>
                        
                      </div>
                      <h4  class="font-bold mb-2 mt-4">預設時段</h4>
                      <div class="default-time-slot-container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-2 gap-y-2">

                      </div>
                      <h4  class="font-bold mb-2 mt-4">指定／特殊時段</h4>
                      <div class="extra-time-slot-container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-2 gap-y-2">

                      </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                      <button type="button"
                          class="js-confirm mt-3 w-full inline-flex justify-center rounded-md bg-blue-500 text-white shadow-sm px-4 py-2 bg-white text-base font-medium hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-100 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                          確定
                      </button>
                      <button type="button"
                          class="js-close mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-100 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                          取消
                      </button>

                  </div>
                </div>
              
            </div>
        </div>
    </div>
</div>

<div class="hidden" id="greeting_popup">
    <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <div
                class="inline-block bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 align-middle sm:max-w-2xl w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 sm:mt-0 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium text-gray-900 modal-title">
                                請選擇祝賀語類別
                            </h3>
                        </div>
                    </div>
                    <div class="content-replacer overflow-y-auto" style="height: 60vh">
                        <div class="popup-js-form-loading-container text-center py-24">
                            <svg class="animate-spin mx-auto h-12 w-12 text-black opacity-20"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                    stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor"
                                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button type="button"
                        class="js-close mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-100 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden" id="general-popup">
    <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <div
                class="inline-block bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 align-middle sm:max-w-2xl w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">

                    
                        
                        <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                            
                            <input autocomplete="off" name="regionSearch" placeholder="名稱" class="w-full focus:ring-0 focus:outline-none">
                            
                            <div>
                                <i class="ri-search-line"></i>
                            </div>
                        </div>
                    

                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 sm:mt-0 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium text-gray-900 modal-title">
                                請選擇區域
                            </h3>
                        </div>
                    </div>
                    <div class="content-replacer overflow-y-auto" style="height: 60vh">
                        <div class="popup-js-form-loading-container text-center py-24">
                            <svg class="animate-spin mx-auto h-12 w-12 text-black opacity-20"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                    stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor"
                                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button type="button"
                        class="js-close mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-100 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mx-auto px-6">
    <h1 class="text-3xl font-bold py-8 border-b border-gray-200">結帳</h1>
    <div class="js-form-loading-container text-center py-24">
        <svg class="animate-spin mx-auto h-12 w-12 text-black opacity-20" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
        </svg>
    </div>
    <div class="grid lg:grid-cols-12 gap-x-8 opacity-0 transition-all" id="main-form-act">
        <!-- batch address information -->
        <div class="col-span-12 xl:col-span-6 pb-8">
            <h2 class="text-lg font-medium text-gray-900 mt-10">您的聯絡資料</h2>
            <p class="text-sm text-gray-400">
                我們將以以下聯絡資料通知你有關相關發貨的資料
            </p>
            <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
                <div class="">
                    <label for="name" class="block text-sm font-medium text-gray-700">姓名</label>
                    <div class="mt-1">
                        <input type="text" id="name" name="sender_name" placeholder="你的姓名" autocomplete="name"
                            class="block border-gray-200 border py-2 px-3 w-full rounded" spellcheck="false"
                            data-ms-editor="true" value="{if $result_array.cartDtl.sender_name}{$result_array.cartDtl.sender_name}{else}{$member.name}{/if}" />
                    </div>
                </div>

                <div class="">
                    <label for="tel" class="block text-sm font-medium text-gray-700">手機號碼</label>
                    <div class="mt-1">
                        <input type="text" name="sender_phone" id="tel" placeholder="你的手機號碼" autocomplete="tel"
                            class="block border-gray-200 border py-2 px-3 w-full rounded" spellcheck="false"
                            data-ms-editor="true" value="{if $result_array.cartDtl.sender_phone}{$result_array.cartDtl.sender_phone}{else}{$member.mobile}{/if}" />
                    </div>
                </div>

                <div class="">
                    <label for="email" class="block text-sm font-medium text-gray-700">電郵地址</label>
                    <div class="mt-1">
                        <input type="text" name="sender_email" id="email" placeholder="你的電郵地址" autocomplete="email"
                            class="block border-gray-200 border py-2 px-3 w-full rounded" spellcheck="false"
                            data-ms-editor="true" value="{if $result_array.cartDtl.sender_email}{$result_array.cartDtl.sender_email}{else}{$member.email}{/if}" />
                    </div>
                </div>

                <div class="">
                    <label for="name" class="block text-sm font-medium text-gray-700">公司名稱(如有)</label>
                    <div class="mt-1">
                        <input type="text" id="name" name="sender_company" placeholder="你的公司名稱(如有)" autocomplete="name"
                            class="block border-gray-200 border py-2 px-3 w-full rounded" spellcheck="false"
                            data-ms-editor="true" value="{if $result_array.cartDtl.sender_company}{$result_array.cartDtl.sender_company}{else}{$member.company_name}{/if}" />
                    </div>
                </div>
            </div>
            <div class="mt-10 border-t border-gray-200 pt-10">
                <legend class="text-lg font-medium text-gray-900">
                    送貨設定
                </legend>
                <div id="delivery-address-method-picker"
                    class="mt-4 grid grid-cols-1 gap-y-2 sm:gap-y-6 sm:grid-cols-2 sm:gap-x-4">
                    <label data-address-method="same-address" for="delivery-same-address" x-radio-group-option=""
                        class="relative bg-white border rounded-lg shadow-sm p-4 flex cursor-pointer focus:outline-none border-gray-300 undefined">

                        <div class="flex-1 flex">
                            <div class="flex flex-col">
                                <span id="delivery-method-0-label" class="block text-sm font-medium text-gray-900">
                                    同一派送地址
                                </span>
                                <span id="delivery-method-0-description-0"
                                    class="mt-1 flex items-center text-sm text-gray-500">
                                    全部商品設定為同一個送貨及運送時間
                                </span>
                            </div>
                        </div>
                        <div class="select-active-class hidden">
                            <svg class="h-5 w-5 text-green-600 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <div class="absolute -inset-px rounded-lg border-2 pointer-events-none border-green-500 ">
                            </div>
                        </div>
                    </label>

                    <label for="delivery-split-address" x-radio-group-option=""
                        class="relative bg-white border rounded-lg shadow-sm p-4 flex cursor-pointer focus:outline-none border-gray-300 undefined"
                        data-address-method="split-address">

                        <div class="flex-1 flex">
                            <div class="flex flex-col">
                                <span id="delivery-method-1-label" class="block text-sm font-medium text-gray-900">
                                    分開發送地址
                                </span>
                                <span id="delivery-method-1-description-0"
                                    class="mt-1 flex items-center text-sm text-gray-500">
                                    獨立填寫每個商品的發送地址
                                </span>
                            </div>
                        </div>
                        <div class="select-active-class hidden">
                            <svg class="h-5 w-5 text-green-600 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <div class="absolute -inset-px rounded-lg border-2 pointer-events-none border-green-500">
                            </div>
                        </div>
                    </label>
                </div>

                <div id="same-address-form" class="grid lg:grid-cols-2 gap-x-4 gap-y-6 mt-6">
                    <div>
                        <label for="recipient-name-{$i.deli_id}"
                            class="block text-sm font-medium text-gray-700">收貨人姓名</label>
                        <div class="mt-1">
                            <input type="text" id="recipient-name-{$i.deli_id}" name="recipient_name"
                                placeholder="收貨人姓名" autocomplete="recipient-name"
                                class="block border-gray-200 border py-2 px-3 w-full rounded" spellcheck="false"
                                data-ms-editor="true" value="">
                        </div>
                    </div>

                    <div>
                        <label for="recipient-tel-{$i.deli_id}"
                            class="block text-sm font-medium text-gray-700">收貨人電話號碼</label>
                        <div class="mt-1">
                            <input type="text" id="recipient-tel-{$i.deli_id}" name="recipient_phone"
                                placeholder="收貨人電話號碼" autocomplete="recipient-tel"
                                class="block border-gray-200 border py-2 px-3 w-full rounded" spellcheck="false"
                                data-ms-editor="true" value="">
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <label for="recipient-company"
                            class="block text-sm font-medium text-gray-700">收貨人公司名稱(如適用)</label>
                        <div class="mt-1">
                            <input type="text" id="recipient-company" name="recipient_company"
                                placeholder="收貨人公司名稱(如適用)" autocomplete="recipient-company"
                                class="block border-gray-200 border py-2 px-3 w-full rounded" spellcheck="false"
                                data-ms-editor="true" value="">
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <label class="block text-sm font-medium text-gray-700">送貨地區</label>
                        <div class="mt-1">
                            <div
                                class="relative bg-white border rounded-lg shadow-sm p-1 px-4 flex cursor-pointer focus:outline-none border-gray-300 deli-region-picker same-address-picker" data-de-list='{$result_array.districtList|@json_encode|escape}'>
                                <div class="flex-1 flex items-center">
                                    <div class="flex flex-col">
                                        <input type="hidden" name="recipient-region" placeholder="送貨地區"
                                            autocomplete="recipient-region" spellcheck="false" data-ms-editor="true">
                                        <span class="flex items-center text-sm text-gray-500 pick-region-js-trigger">
                                            未選擇送貨地區
                                        </span>
                                    </div>
                                </div>
                                <div class="text-gray-400 flex flex-col justify-center text-2xl">
                                    <i class="ri-arrow-down-s-line"></i>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <label for="recipient-address-{$i.deli_id}"
                            class="block text-sm font-medium text-gray-700">送貨地址</label>
                        <textarea name="deli_address" id="recipient-address-{$i.deli_id}" rows="4"
                            class="w-full block border-gray-200 border py-2 px-3 rounded" placeholder="送貨地址"
                            spellcheck="false" data-ms-editor="true" autocomplete="off"></textarea>
                    </div>
                    <div class="sm:col-span-2 hidden time-slot-hidden">
                        <label for="recipient-deliver-time" class="block text-sm font-medium text-gray-700">送貨時段</label>
                        <div class="mt-1">
                            <input type="hidden" id="recipient-deliver-time" name="recipient-deliver-time">
                            <div
                                class="relative bg-white border rounded-lg shadow-sm py-1 px-4 flex cursor-pointer focus:outline-none border-gray-300 time-slot-picker same-address-picker">
                                <input type="hidden" value="" name="deli_date">
                                <input type="hidden" value="" name="deli_timeslot_id">
                                <!-- 一般送貨時段：無額外附加費 08:00 至 13:00 時段內送貨 -->
                                <div class="flex-1 flex items-center">
                                    <div class="flex flex-col content-replacer">
                                        <span
                                            class="flex items-center text-sm text-gray-500 pick-time-js-trigger">
                                            未選擇送貨時段
                                        </span>
                                    </div>
                                </div>
                                <div class="text-gray-400 flex flex-col justify-center text-2xl">
                                    <i class="ri-arrow-down-s-line"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Preview items-->
        <div class="col-span-12 xl:col-span-6">
            <div class="border border-gray-200 mt-12 rounded-md px-4" id="item-preview-list">
                <div class="font-bold text-xl my-4">產品一覽</div>
                <!-- indi items -->
                {foreach from=$result_array.cartDtl.deliList key=k item=i}
                    <hr>

                    <section class="product-init py-4" data-delivery-id="{$i.deli_id}"
                        data-product-id="{$i.productDtl.product_id}">
                  
                        <div class="flex flex-row items-start">
                            <div>
                                <img src="{$i.productDtl.img.0.img}" class="rounded w-24 h-auto" />
                            </div>
                            {*<textarea class="hidden district-json-object">{$i.districtList|@json_encode|escape}</textarea>*}
                            <div class="ml-3 flex-1">
                                <p class="text-xs text-gray-400">產品編號: {$i.productDtl.product_code}</p>
                                <h4 class="font-bold">{$i.productDtl.product_name}</h4>
                                {if $i.addon_list.length != '0'}
                                    <div></div>
                                {/if}
                                <p class="pre-price text-gray-400 text-sm mt-1 mb-2">
                                    HKD$ {$i.product_price + $i.addon_price} 
                                </p>
                                <!-- opeartions -->
                                <div class="grid grid-cols-1 gap-y-2 gap-x-4">
                                    <!-- delivery address-->

                                    <div class="indi-address-delivery-picker">
                                        <hr />
                                        <h3 class="font-bold mt-4">送貨地址及時間</h3>
                                        <div class="grid lg:grid-cols-2 gap-x-4 gap-y-3 mt-3">
                                            <div>
                                                <label for="recipient-name-{$i.deli_id}"
                                                    class="block text-sm font-medium text-gray-700">收貨人姓名</label>
                                                <div class="mt-1">
                                                    <input type="text" id="recipient-name-{$i.deli_id}"
                                                        name="recipient_name" placeholder="收貨人姓名"
                                                        autocomplete="recipient-name"
                                                        class="block border-gray-200 border py-2 px-3 w-full rounded"
                                                        spellcheck="false" data-ms-editor="true" value="">
                                                </div>
                                            </div>

                                            <div>
                                                <label for="recipient-tel-{$i.deli_id}"
                                                    class="block text-sm font-medium text-gray-700">收貨人電話號碼</label>
                                                <div class="mt-1">
                                                    <input type="text" id="recipient-tel-{$i.deli_id}"
                                                        name="recipient_phone" placeholder="收貨人電話號碼"
                                                        autocomplete="recipient-tel"
                                                        class="block border-gray-200 border py-2 px-3 w-full rounded"
                                                        spellcheck="false" data-ms-editor="true" value="">
                                                </div>
                                            </div>

                                            <div class="sm:col-span-2">
                                                <label for="recipient-company"
                                                    class="block text-sm font-medium text-gray-700">收貨人公司名稱(如適用)</label>
                                                <div class="mt-1">
                                                    <input type="text" id="recipient-company" name="recipient_company"
                                                        placeholder="收貨人公司名稱(如適用)" autocomplete="recipient-company"
                                                        class="block border-gray-200 border py-2 px-3 w-full rounded"
                                                        spellcheck="false" data-ms-editor="true" value="">
                                                </div>
                                            </div>

                                            <div class="sm:col-span-2">
                                                <label class="block text-sm font-medium text-gray-700">送貨地區</label>
                                                <div class="mt-1">
                                                    <div
                                                        class="relative bg-white border rounded-lg shadow-sm py-1 px-4 flex cursor-pointer focus:outline-none border-gray-300 deli-region-picker indi-deli-region-picker">
                                                        <div class="flex-1 flex items-center">
                                                            <div class="flex flex-col">
                                                                <input type="hidden" name="recipient-region"
                                                                    placeholder="送貨地區" autocomplete="recipient-region"
                                                                    class="block border-gray-200 border py-2 px-3 w-full rounded"
                                                                    spellcheck="false" data-ms-editor="true">
                                                                <span
                                                                    class="flex items-center text-sm text-gray-500 pick-region-js-trigger">
                                                                    未選擇送貨地區
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="text-gray-400 flex flex-col justify-center text-2xl">
                                                            <i class="ri-arrow-down-s-line"></i>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="sm:col-span-2">
                                                <label for="recipient-address-{$i.deli_id}"
                                                    class="block text-sm font-medium text-gray-700">送貨地址</label>
                                                <textarea name="deli_address" id="recipient-address-{$i.deli_id}" rows="4"
                                                    class="w-full block border-gray-200 border py-2 px-3 rounded"
                                                    placeholder="送貨地址" spellcheck="false" data-ms-editor="true"
                                                    autocomplete="off"></textarea>
                                            </div>
                                            <div class="sm:col-span-2 hidden time-slot-hidden">
                                                <label for="recipient-deliver-time"
                                                    class="block text-sm font-medium text-gray-700">送貨時段</label>
                                                <div class="mt-1">
                                                    <input type="hidden" id="recipient-deliver-time"
                                                        name="recipient-deliver-time">
                                                    <div
                                                        class="relative bg-white border rounded-lg shadow-sm py-1 px-4 flex cursor-pointer focus:outline-none border-gray-300 time-slot-picker indi-time-slot-picker">
                                                        <input type="hidden" value="" name="deli_date">
                                                        <input type="hidden" value="" name="deli_timeslot_id">
                                                        <!-- 一般送貨時段：無額外附加費 08:00 至 13:00 時段內送貨 -->
                                                        <div class="flex-1 flex items-center">
                                                            <div class="flex flex-col content-replacer">
                                                                <span
                                                                    class="flex items-center text-sm text-gray-500 pick-time-js-trigger">
                                                                    未選擇送貨時段
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="text-gray-400 flex flex-col justify-center text-2xl">
                                                            <i class="ri-arrow-down-s-line"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- gift card -->
                                    <label class="block text-sm font-medium text-gray-700">心意卡</label>
                                    <div class="relative bg-white border rounded-lg shadow-sm py-1 px-4 flex cursor-pointer focus:outline-none border-gray-300 card-design-picker">
                                        <div class="flex-1 flex items-center">
                                            <div class="flex flex-col">
                                                <span class="flex items-center text-sm text-gray-500 pick-card-js-trigger">
                                                    我不需要賀卡
                                                </span>
                                            </div>
                                        </div>
                                        <div class="text-gray-400 flex flex-col justify-center text-2xl">
                                            <i class="ri-arrow-down-s-line"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                {/foreach}
                <!-- item loops ends herer-->
            </div>
            <section class="my-6">
                <div class="flex flex-col xl:flex-row-reverse items-center">
                    <div
                        class="btn_payment cursor-pointer w-full xl:w-1/3 ml-auto bg-gray-900 text-white font-bold py-3 rounded transition-all hover:opacity-70 text-center">
                        付款</div>
                    <div class="flex flex-row items-center mt-3 xl:mt-0">
                        <span class="text-xs text-gray-500 mr-4">我們接受以下付款選項 : </span>
                        <img src="./img/payment.png" alt="" class="h-6 ">
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>