<div class="flex flex-col px-4 lg:px-10 my-4">
    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">附加產品管理</div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg py-2 w-full">
        <form id="edit_form" action="/admin/product/api/editAddon" method="post">
            <input name="shop_id" type="hidden" value="{$shop_id}" readonly>
            <input name="addon_id" type="hidden"
                value="{if $result_array.addonDtl.addon_id}{$result_array.addonDtl.addon_id}{else}0{/if}" readonly>
            <input type="hidden" name="product_id_arr" value="{$result_array.addonDtl.product_id_arr}">
            <div class="flex flex-col w-full lg: pt-6 lg:mr-6">
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">中文</div>
                        <input
                            class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0"
                            name="name_tc" type="text" value="{$result_array.addonDtl.name_tc}">
                    </div> 
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">英文</div>
                        <input
                            class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0"
                            name="name_en" type="text" value="{$result_array.addonDtl.name_en}">
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">Addon Product List</div>

                        <div
                            class="btn_addProduct bg-blue-500 cursor-pointer text-white hover:opacity-80 rounded-full px-4 py-1 w-32 mb-2">
                            增加顯示產品</div>

                        <div class="grid grid-cols-4 gap-3 productList py-4">
                            <div class="product_tpl hidden border border-gray-400 rounded-lg items-center py-2 text-gray-800"
                                data-product_id="">
                                <div class="flex flex-row justify-between items-center">
                                    <div class="flex flex-col">
                                        <div class="pl-4 text-lg product_name"></div>
                                        <div class="pl-4 text-sm text-gray-600 product_code"></div>
                                    </div>
                                    <div
                                        class="btn-remove_product ml-auto row-span-2 pr-4 text-center hover:opacity-80 cursor-pointer">
                                        <i class="ri-delete-bin-line"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class="btn-submit bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 my-4 mx-auto rounded-full cursor-pointer">
                    儲存</div>
            </div>
        </form>
    </div>
</div>

{if $result_array.addonDtl.addon_id}

<a href="admin/product/productList?addon_id={$result_array.addonDtl.addon_id}"
    class="px-10 mt-8 text-2xl font-bold text-gray-800">有此附加產品的產品</a>
<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-10 lg:mb-8">
    {if $result_array.addonDtl.productList}
    <div class="grid grid-cols-7 gap-3 text-gray-600 border-b-2 border-gray-300 px-4 py-3">
        <div class="flex flex-row my-auto text-sm lg:text-base"><i class="ri-arrow-up-down-line pr-2"></i>
            <div>編號</div>
        </div>
        <div class="flex flex-row my-auto text-sm lg:text-base col-span-2"><i class="ri-arrow-up-down-line pr-2"></i>
            <div>中文</div>
        </div>
        <div class="flex flex-row my-auto text-sm lg:text-base col-span-2"><i class="ri-arrow-up-down-line pr-2"></i>
            <div>英文</div>
        </div>
        <div class="flex flex-row my-auto text-sm lg:text-base"><i class="ri-arrow-up-down-line pr-2"></i>
            <div>售賣中</div>
        </div>
        <div class="flex flex-row my-auto text-sm lg:text-base ml-auto">操作</div>
    </div>

    {foreach from=$result_array.addonDtl.productList key=k item=i}
    <div class="grid grid-cols-7 auto-rows-auto gap-3 px-4 py-3 lg:pl-8 text-gray-800 border-b border-gray-300">
        <div>{$i.gift_product_code}</div>
        <div class="col-span-2 truncate">{$i.gift_product_name_tc}</div>
        <div class="col-span-2 truncate">{$i.gift_product_name_en}</div>
        <div>{if $i.onsale == 'Y'}<i class="ri-check-line text-lg"></i>{else}<i class="ri-close-line text-lg"></i>{/if}
        </div>
        <div class="ml-auto">
            <a href="admin/product/productDtl?product_id={$i.product_id}">查看產品</a>
        </div>
    </div>
    {/foreach}
    {/if}
    {if !$result_array.addonDtl.productList}
    <div class="text-xl text-gray-800 px-4 lg:px-8 py-4">暫未有產品可供顯示</div>
    {/if}
</div>

{/if}

<div id="product_picker" class="hidden">
    <form class="product_picker_form p-4 w-full sm:w-84" autocomplete="off">
        <div>
            <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                <div class="w-full">
                    <input autocomplete="off" name="skey" placeholder="名稱, product_code">
                </div>
                <div>
                    <i class="ri-search-line"></i>
                </div>
            </div>
        </div>
        <div class="relative h-full h-screen-50">
            <div class="product-picker-inner bg-white h-full w-full overflow-y-auto absolute top-0 left-0 z-10">
                <div
                    class="tpl hidden bg-white flex items-center border border-solid rounded mb-2 cursor-pointer hover:bg-gray-100">
                    <div class="mt-2 ml-2 mb-2 h-10 w-10 bg-center bg-contain bg-no-repeat img"></div>
                    <div class="p-2">
                        <div class="font-bold product_code"></div>
                        <div class="product_name"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{literal}
<script>
    $(document).ready(function () {
        product_id_arr = []
        in_product_arr = $('[name=product_id_arr]').val().toString()
        product_id_arr_raw = in_product_arr.split(",")
        product_id_arr_raw.forEach(function (i) {
            product_id_arr.push(parseInt(i))
        })
        filtered_product_array = []

        $.bajax({
            url: "admin/product/api/productList",
            method: 'POST',
            data: {
                skey: $(this).val()
            },
            callback: function (data) {
                if (data.code == 0) {
                    res = data.result
                    const filterByReference = (res, product_id_arr) => {
                        let product_arr = [];
                        product_arr = res.filter(el => {
                            return product_id_arr.find(element => {
                                return element === parseInt(el.product_id);
                            });
                        });
                        return product_arr;
                    }
                    filtered_product_array = filterByReference(res, product_id_arr)

                    filtered_product_array.forEach(function (ele) {
                        $tpl = $(".product_tpl").clone()
                        $container = $(".productList")
                        $tpl.removeClass("product_tpl hidden").addClass("display_product")


                        $tpl.attr("data-product_id", ele.product_id)
                        $tpl.find(".product_code").html(ele.product_code)
                        $tpl.find(".product_name").html(ele.product_name)

                        $container.append($tpl)
                    })
                }
            },
            errorCallback: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        })

        $(document).on("click", ".btn_addProduct", async function (e) {
            $vkmodal({
                fullScreen: false,
                tapBackgroundToClose: true,
                content: $('#product_picker').html(),
                mounted: function () {
                    $(".vk-modal-dom").find("[name=skey]").focus().keyup();
                }
            });
        });

        $(document).off("keyup", ".product_picker_form [name=skey]");
        $(document).on("keyup", ".product_picker_form [name=skey]", function () {
            $container = $(".product-picker-inner");
            $.bajax({
                url: "admin/product/api/productList",
                method: 'POST',
                data: {
                    skey: $(this).val()
                },
                callback: function (data) {
                    if (data.code == 0) {
                        $container.children(".product_option").remove();
                        res = data.result;
                        res.forEach(function ($row) {
                            $tpl = $("#product_picker .tpl").clone();
                            $tpl.removeClass("tpl");
                            $tpl.removeClass("hidden");
                            $tpl.addClass("product_option")

                            $tpl.find(".product_code").html($row.product_code);
                            $tpl.find(".product_name").html($row.product_name);
                            $tpl.find(".img").attr({
                                style: "background-image: url('" + $row.img[
                                    0].img + "')"
                            });
                            $tpl.attr({
                                "data-product_id": $row.product_id,
                                "data-product_name": $row.product_name,
                                "data-product_code": $row.product_code
                            })
                            $container.append($tpl)
                        });
                    }
                },
                errorCallback: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            });
        });


        $(document).off("click", ".product_option");
        $(document).on("click", ".product_option", function () {
            product_arr = []

            product_id = $(this).attr("data-product_id");
            product_name = $(this).attr("data-product_name");
            product_code = $(this).attr("data-product_code");

            $container = $(".productList");
            $tpl = $(".product_tpl").clone();

            $container.find(".display_product").each(function (e) {
                product_arr.push(parseInt($(this).attr("data-product_id")))
            })

            if (product_arr.indexOf(parseInt(product_id)) < 0) {

                $tpl.removeClass("product_tpl hidden").addClass("display_product")

                $tpl.find(".product_name").html(product_name)
                $tpl.find(".product_code").html(product_code)
                $tpl.attr("data-product_id", product_id)

                $container.append($tpl)

            } else {
                vkAlertDefault({
                    title: "此產品已選擇",
                    content: "",
                    confirmButtonHtml: '返回',
                })
            }

            var $this = $(this)
            if ($this.closest('.vk-modal-dom').length == 1) {
                $this.closest('.vk-modal-dom').data()._destory()
            }
            return;
        })

        $(document).off("click", ".btn-remove_product")
        $(document).on("click", ".btn-remove_product", function () {
            $(this).parents(".display_product").remove()
        })

        $(document).off("click", ".btn-submit")
        $(document).on("click", ".btn-submit", async function () {
            var result_arr = [];
            $(".productList").find(".display_product").each(function (idx, val) {
                result_arr.push($(val).data("product_id"));
            });

            $("[name=product_id_arr]").val(result_arr)

            $loader = await globalLoader();
            $.bajax({
                url: "admin/product/api/editAddon",
                method: 'POST',
                formElement: 'Y',
                formElementID: "edit_form",
                callback: function (data) {
                    globalLoader($loader);
                    if (!data.code == 0) {
                        globalLoader($loader);
                        globalErrorReturn(data);
                    } else {
                        globalLoader($loader);
                        location.href = "admin/product/addonDtl?addon_id=" + data.result
                            .addon_id;
                    }
                },
                errorCallback: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            });
        })

    });
</script>
{/literal}