<div class="flex flex-row mx-4 mt-8 mb-4 lg:mx-12">
    <a href="admin/product/cateList"><div class=" text-2xl font-bold">分類管理</div></a>
    <a href="admin/product/cateDtl?cate_id=0"><div class="px-8 py-2 ml-4 bg-blue-500 hover:bg-blue-400 text-white rounded-full cursor-pointer">新增分類</div></a>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 lg:gap-5 mx-4 my-4 lg:mx-12">
    {foreach from=$result_array.cateList key=k item=i}
            <div class="flex flex-col bg-white shadow-lg p-6 rounded-lg h-40 hover:bg-gray-100">
                <div class="flex flex-col">
                    <div class="text-xl">{$i.name_tc}</div>
                    <div class="active_subnav text-sm">{$i.subcate|@count}個子分類</div>
                </div>
                <div class="flex flex-row ml-auto mt-auto text-lg">
                    <a href="admin/product/cateDtl?cate_id={$i.cate_id}"><i class="ri-edit-line pr-2 hover:text-gray-400"></i></a>
                    <a class="btn_del" data-cate_id="{$i.cate_id}"><i class="ri-delete-bin-line hover:text-gray-400"></i></a>
                </div>
            </div>
    {/foreach}
    <div>
        <a href="admin/product/cateDtl?cate_id=0">
            <div class="flex flex-col bg-white shadow-lg p-3 rounded-lg border-4 h-40" style="border-color: rgb(223, 162, 124) !important;">
                <div class="flex flex-col items-center justify-center" style="color: rgb(223, 162, 124) !important;">
                    <i class="ri-add-fill text-5xl"></i>
                    <div>新增分類</div>
                </div>
            </div>
        </a>
    </div>
</div>

<script>
var shop_id = {$shop_id}
{literal}
$(document).ready(function(){
    
    $(document).off("click", ".btn_del");
    $(document).on("click", ".btn_del", async function(e){
        url = "admin/product/api/editCate";
        e.preventDefault();
        $.bajax({
            url: url,
            debug: 'Y',
            method: 'POST',
            formElement: 'N',
            data: {
                shop_id: shop_id,
                cate_id: $(this).attr("data-cate_id"),
                activate: 'N'
            },
            callback: function(data) {
                location.reload();
                console.log("ajax done");
                // do nth
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
   
});
{/literal}
</script>
