<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:ml-12">
    <div class=" text-3xl font-bold">分類管理</div>
    <a href="admin/product/cateList"><i class="ri-arrow-go-back-line text-2xl pl-6"></i></a>
</div>

<form id="edit_form" action="/admin/product/api/editCate" method="post">
    <input name="cate_id" type="hidden" value="{if $result_array.cateDtl.cate_id}{$result_array.cateDtl.cate_id}{else}0{/if}" readonly> 
    <input name="shop_id" type="hidden" value="{$shop_id}" readonly> 
    <div class="flex flex-col items-center justify-around m-4 bg-white rounded-lg shadow-lg lg:mx-12">
        <div class="flex flex-row w-full">
            <div class="w-full p-4 flex-1">
                <div class="text-xs text-gray-600 pb-2">中文顯示</div>
                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_tc" type="text" value="{$result_array.cateDtl.name_tc}"> 
            </div>
            <div class="w-full p-4 flex-1">
                <div class="text-xs text-gray-600 pb-2">英文顯示</div>
                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_en" type="text" value="{$result_array.cateDtl.name_en}"> 
            </div>
        </div>
        {if $result_array.cateDtl.cate_id}
        <div class="flex flex-col w-full px-4 pb-4">
            <div class="w-full flex flex-row items-center py-2">
                <div class="text-xl text-gray-600">相關祝頌語</div>
                <div class="btn_add_greeting flex flex-row py-0.5 w-24 ml-8 rounded-lg border-2 justify-center items-center cursor-pointer hover:shadow-lg" style="border-color: rgb(223, 162, 124) !important; color: rgb(223, 162, 124) !important;">
                    <div>選擇</div>
                </div>
            </div>
            <input name="greeting_cate_id_arr" type="hidden">
            <div class="flex">
                <div class="greetingList_wrapper grid grid-cols-3 md:grid-cols-5 gap-3 w-full bg-gray-200 rounded-lg h-full p-2">
                    <div class="tpl hidden bg-white rounded-lg px-2 py-1 h-12 flex w-full justify-center items-center text-gray-700 greeting">
                        <div class="display_name truncate"></div>
                        <i class="ri-delete-bin-line ml-auto cursor-pointer btn_del_greeting"></i>
                    </div>
                    {foreach from=$result_array.cateDtl.greetingCateList key=k item=i}
                        <div class="greeting_val bg-white rounded-lg px-2 py-1 h-12 flex w-full justify-center items-center text-gray-700 greeting" data-cate_id="{$i.cate_id}" data-name_tc="{$i.name_tc}" data-name_en="{$i.name_en}">
                            <div class="display_name truncate">{$i.name_tc}</div>
                            <i class="ri-delete-bin-line ml-auto cursor-pointer btn_del_greeting"></i>
                        </div>
                    {/foreach}
                </div>
            </div>
        </div>

        <div class="h-44 relative object-center {if !$result_array.cateDtl.cate_banner}w-44 border-4 rounded-lg{/if}" id="preview-border">
            {if $result_array.cateDtl.cate_banner}<img src="{$result_array.cateDtl.cate_banner}" class="h-44 w-full object-contain" id="preview" />
            {else}<img class="hidden flex w-full h-full items-center justify-center text-gray-800 object-contain" src="" id="preview" alt=""><div class="flex w-full h-full items-center justify-center text-gray-800" id="upload-text">按此上載圖片</div>{/if}
            <input name="cate_banner" type="file" class="absolute left-0 bottom-0 w-full h-full opacity-0 cursor-pointer" id="filetag">
        </div>
        {/if}
        <input type="submit" class="w-32 py-2 px-6 bg-blue-500 text-white rounded-full my-4 mx-auto cursor-pointer hover:bg-blue-400" value="{if $result_array.cateDtl.cate_id}提交更改{else}提交{/if}"> 
    </div>
</form>

<div id="greeting_picker" class="hidden">
    <form class="greeting_picker_form p-4 w-full sm:w-84" autocomplete="off">
        <div class="hidden">
            <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                <div class="w-full">
                    <input autocomplete="off" name="skey" placeholder="名稱">
                </div>
                <div>
                    <i class="ri-search-line"></i>
                </div>
            </div>
        </div>
        <div class="relative h-full h-screen-50">
            <div class="greeting-picker-inner bg-white h-full w-full overflow-y-auto absolute top-0 left-0 z-10">
                <div class="tpl hidden bg-white flex items-center border border-solid rounded mb-2 cursor-pointer">
                    <div class="flex flex-col p-2">
                        <div class="text-gray-600 greeting_name"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{foreach from=$result_array.cateDtl.subcateList key=k item=i}
<div class="flex flex-row bg-white rounded-lg items-center justify-between mx-4 my-2 p-4 lg:mx-12 hover:bg-gray-100">
    <i class="ri-drag-move-2-fill text-2xl text-gray-400 hover:text-gray-500 px-1 lg:px-3"></i>
    <div class="grid grid-cols-2 w-full lg:w-1/3 justify-items-center">
        <div class="text-lg">{$i.name_tc}</div>
        <div class="text-gray-500">{$i.product_count}件</div>
    </div>
    <div class="flex flex-row ml-auto text-lg pr-4">
        <a href="admin/product/cateDtl?cate_id={$i.cate_id}&parent_cate_id={$i.parent_cate_id}"><i class="ri-edit-line pr-4 text-gray-800 hover:text-gray-600"></i></a>
        <a href="admin/item/api/subcateItem?cate_id={$i.item_id}"><i class="ri-delete-bin-line text-gray-800 hover:text-gray-600"></i></a>
    </div>
</div>
{/foreach}

{if $result_array.cateDtl.cate_id}
<div class="w-full flex justify-center py-4">
    <a href="admin/product/cateDtl?cate_id=0&parent_cate_id={$result_array.cateDtl.cate_id}">
        <div class="flex flex-row shadow-lg px-8 py-3 rounded-full border-2 justify-center items-center" style="border-color: rgb(223, 162, 124) !important; color: rgb(223, 162, 124) !important;">
            <div>新增子分類</div>
            <i class="ri-add-fill text-lg pl-2"></i>
        </div>
    </a>
</div>
{/if}

{literal}
<script>
$(document).ready(function(){
    
    $(document).off("click", ".btn_add_greeting");
    $(document).on("click", ".btn_add_greeting", function(){
        $that = $(this);
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#greeting_picker').html(),
            mounted: function(){
                $(".vk-modal-dom").find("[name=skey]").focus().keyup();
            }
        });
    });

    $(document).off("click", ".greeting_option");
    $(document).on("click", ".greeting_option", function(){
        cate_id = $(this).attr("data-cate_id");
        
        if ($(".greeting_val[data-cate_id="+cate_id+"]").length == 0){
            $container = $(".greetingList_wrapper");

            $tpl = $(".greetingList_wrapper .tpl").clone();
            $tpl.removeClass("tpl");
            $tpl.removeClass("hidden");
            $tpl.addClass("greeting_val")
            
            $tpl.attr({
                "data-cate_id": $(this).attr("data-cate_id"),
                "data-name_tc": $(this).attr("data-name_tc"),
                "data-name_en": $(this).attr("data-name_en")
            });
            $tpl.find(".display_name").html($(this).attr("data-name_tc"));

            $container.append($tpl);
        }

        var $this = $(this)
        if ($this.closest('.vk-modal-dom').length == 1) {
            $this.closest('.vk-modal-dom').data()._destory()
        }
        return;
    });
    
    $(document).off("click", ".btn_del_greeting");
    $(document).on("click", ".btn_del_greeting", function(){
        $(this).parents(".greeting").remove();
    });

    $(document).off("keyup", ".greeting_picker_form [name=skey]");
    $(document).on("keyup", ".greeting_picker_form [name=skey]", function(){
        $container = $(".greeting-picker-inner");
        $.bajax({
            url: "admin/setting/api/getGreetingCateList",
            debug: 'Y',
            method: 'POST',
            data: {skey:$(this).val()},
            callback: function(data) {
                if (data.code == 0){
                    $container.children(".greeting_option").remove();
                    res = data.result;
                    res.forEach(function($row){
                        $tpl = $("#greeting_picker .tpl").clone();
                        $tpl.removeClass("tpl");
                        $tpl.removeClass("hidden");
                        $tpl.addClass("greeting_option")
                        
                        $tpl.find(".greeting_name").html($row.name_tc); 
                        $tpl.attr({
                            "data-cate_id": $row.cate_id,
                            "data-name_tc": $row.name_tc,
                            "data-name_en": $row.name_en
                        })
                        $container.append($tpl)
                    });
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });
        
    $("#filetag").on("change", function() {
    changeImage(this);

        function changeImage(input) { 
            var reader;
            
            if (input.files && input.files[0]) {
                reader = new FileReader();
                
                reader.onload = function(e) {
                    $("#preview").attr('src', e.target.result);
                    $("#preview").removeClass("hidden");
                    if ($("#upload-text")) {
                        $("#upload-text").addClass("hidden");
                    }
                    if ($("#preview-border")) {
                        $("#preview-border").removeClass("w-44", "border-4", "rounded-lg");
                    }
                }
                
                reader.readAsDataURL(input.files[0]);
            }
        }

    });

    $("#edit_form").submit(async function(e){


        var tmpstr = "";

        // var re = [];
        $(".greeting_val").each(function(idx, val){
            tmpstr += $(val).attr("data-cate_id") + ",";


            // re.push({
            //     greeting_cate_id_arr: $(val).attr("greeting_cate_id_arr"),
            //     cate_id: $(val).attr("data-cate_id"),
            //     sort: idx+1
            // });
        });
        
        $("[name=greeting_cate_id_arr]").val(tmpstr)
        // $("[name=greeting_cate_id_arr]").val(JSON.stringify(re))

        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    if ($("[name=cate_id]").val() == 0){
                        location.href="admin/cate/cateDtl?cate_id=" + data.result.cate_id
                    }
                    globalLoader($loader);
                    // location.reload(); //   production use
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
});

</script>
{/literal}