{foreach from=$result_array.comboProductList key=k item=i}
<div class="mb-4">
    <a href="admin/product/comboProductDtl?comboProduct_id={$i.combo_product_id}">{$i.combo_product_id}</a>
</div>
{/foreach}