<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-12">
    <div class="flex flex-col items-start">
        <a href="admin/product/cutoffTplList"><div class="text-2xl font-bold">截單範本管理</div></a>
    </div>
    <a href="admin/product/cutoffTplDtl?cutoff_tpl_id=0"><div class="ml-4 px-8 py-2 bg-blue-500 hover:bg-blue-400 text-white rounded-full mr-auto cursor-pointer">新增截單範本</div></a>

    <div class="flex bg-white rounded-full ml-auto shadow">
        <form id="list_form" action="admin/product/cutoffTplList" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="skey" class="flex px-4 py-2 rounded-full truncate" type="text" placeholder="名稱" value="{$result_array.page_config.skey}">
                <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bg-white rounded-lg mx-4 my-2 lg:mx-12">
    <div class="grid grid-cols-8 gap-5 text-gray-600 border-b border-gray-300 p-4">
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "addon_id" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="addon_id">
            {if $result_array.page_config.sort == "addon_id"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>編號</div>
        </div>
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "name_tc" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="name_tc">
            {if $result_array.page_config.sort == "name_tc"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>名稱<span class="text-xs text-gray-400">(只在後台顯示)</span></div>
        </div>
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "ava_b4_cutoff" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="ava_b4_cutoff">
            {if $result_array.page_config.sort == "ava_b4_cutoff"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>截單時間</div>
        </div>
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "ava_b4_day" && $result_array.page_config.order == "ava_b4_day"} desc{/if}" data-sort_field="ava_b4_day">
            {if $result_array.page_config.sort == "ava_b4_day"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>需要多少日前下單（天）</div>
        </div>

        <div class="my-auto ml-auto">操作</div>
    </div>

    {foreach from=$result_array.getCutoffTplList key=k item=i}
    <div class="grid grid-cols-8 auto-rows-auto items-center gap-5 p-4 text-gray-800 hover:bg-gray-100 border-t border-gray-300">
        <div>{$i.cutoff_tpl_id}</div>
        <div class="col-span-2 truncate">{$i.adm_name}</div>
        <div class="col-span-2 truncate">{$i.ava_b4_cutoff}</div>
        <div class="col-span-2 truncate">{$i.ava_b4_day}</div>
        <div class="ml-auto">
            <a href="admin/product/cutoffTplDtl?cutoff_tpl_id={$i.cutoff_tpl_id}"><i class="ri-edit-line pr-3 hover:text-gray-400 text-lg"></i></a>
            <a class="btn_del" data-cutoff_tpl_id="{$i.cutoff_tpl_id}" data-shop_id="{$i.shop_id}"><i class="ri-delete-bin-line hover:text-gray-400 text-lg"></i></a>
        </div>
    </div>
    {/foreach}
</div>

{include file='../module/pagerModule.html'}
 

{literal}
<script>
$(document).ready(function(){

    $(document).off("click", ".btn_del");
    $(document).on("click", ".btn_del", async function(e){
        $loader = await globalLoader();
        $this = $(this)
        vkConfirmDefault({
            title: '確認',
            content: '<div>請確認是否刪除這條目？</div>',
            confirmButtonHtml: '確認',
            cancelButtonHtml: '返回',
            confirmButtonFunction: function(){
                $.bajax({
                    url: "admin/product/api/editCutoffTpl",
                    method: 'POST',
                    formElement: 'N',
                    data: {
                        cutoff_tpl_id: $this.attr("data-cutoff_tpl_id"),
                        activate: "N"
                    },
                    callback: function(data) {
                        globalLoader($loader);
                        if (data.code != 0){
                            globalErrorReturn(data);
                        } else {
                            location.reload();
                        }
                    },
                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                });
            },
            cancelButtonFunction : function(){
                globalLoader($loader);
            }
        })
    })
})
</script>
{/literal}