<div class="flex flex-col px-4 lg:px-10 my-4">
    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">截單時間範本管理: {if $result_array.cutoffTplDtl.cutoff_tpl_id}{$result_array.cutoffTplDtl.adm_name}{else}新增截單時間範本{/if}</div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg w-full">    
        <form id="edit_form" action="/admin/product/api/editCutoffTpl" method="post" class="p-2 lg:p-8 ">
            <input name="shop_id" type="hidden" value="{$shop_id}" readonly> 
            <input name="cutoff_tpl_id" type="hidden" value="{if $result_array.cutoffTplDtl.cutoff_tpl_id}{$result_array.cutoffTplDtl.cutoff_tpl_id}{else}0{/if}" readonly> 
            <div class="grid lg:grid-cols-2 gap-2 w-full">
                
                <div>
                    <div class="pb-2">名稱<span class="text-xs text-gray-400">(只在後台顯示)</span></div>
                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="adm_name" type="text" value="{$result_array.cutoffTplDtl.adm_name}"> 
                </div>

                <div>
                </div>                

                <div>
                    <div class="pb-2">截單時間</div>
                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" type="time" name="ava_b4_cutoff" value="{$result_array.cutoffTplDtl.ava_b4_cutoff}">
                </div>
                
                <div>
                    <div class="pb-2">需要多少日前下單</div>
                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" type="number" name="ava_b4_day" value="{$result_array.cutoffTplDtl.ava_b4_day}">
                </div>

                <div class="col-span-2 flex gap-x-2">
                    <input name="product_id_arr" type="hidden">
                    <div class="w-3/5">
                        <div class="pb-2">涉及產品</div>
                        <select class="select_product_id" multiple>     
                            {foreach from=$result_array.product_list key=k item=i}
                            <option value="{$i.product_id}" {if in_array($i.product_id, explode(',', $result_array.cutoffTplDtl.product_id_arr))}selected{/if}>({$i.product_code}) {$i.product_name}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="w-2/5">
                        <div class="pb-2">輔助工具:產品分類<span class="text-sm text-gray-400">(把該產品分類的所有產品加入涉及產品)</span></div>
                        <div class="border p-2 gap-2">
                            {foreach from=$result_array.category_list key=k item=i}
                            <div class="flex items-center mb-2 cate">
                                <div class="flex flex-col">
                                    <div class="text-gray-600 cate_name">
                                        <span class="border-b pb-1 mb-1 cate_option tooltip" data-cate_id="{$i.cate_id}" data-name_tc="{$i.name_tc}" data-product_id_arr="{$i.product_id_arr}">{$i.name_tc}
                                            <div class="tooltiptext px-2 py-1 whitespace-nowrap">{if $i.product_id_arr}此產品分類有{$i.product_count}個產品{else}此產品分類沒有任何產品{/if}</div>
                                        </span>
                                    </div>
                                    <div class="flex flex-row flex-wrap subcateList gap-2 mt-2">
                                        {foreach from=$i.subcate key=kk item=ii}
                                        <div class="cate_option cursor-pointer border border-gray-200 px-2 py-1 inline-block mb-1 rounded hover:opacity-75 font-bold tooltip" data-cate_id="{$ii.cate_id}" data-name_tc="{$ii.name_tc}" data-product_id_arr="{$ii.product_id_arr}">{$ii.name_tc}
                                            <div class="tooltiptext px-2 py-1 whitespace-nowrap">{if $ii.product_id_arr}此產品分類有{$ii.product_count}個產品{else}此產品分類沒有任何產品{/if}</div>
                                        </div>
                                        {/foreach}
                                    </div>                   
                                </div>
                            </div>
                            {/foreach}
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex w-full justify-center items-center mt-4 -mb-4">
                <input type="submit" class="px-6 py-1 bg-blue-500 text-white rounded-full cursor-pointer hover:opacity-70" value="提交"> 
            </div>
        </form>
    </div>
</div>
<style>
.selectize-input .item{
    width: 100%;
}
</style>
{literal}
<script>
$(document).ready(function(){   
    $selectProductId = $(".select_product_id").selectize();
    selectizeProductId = $selectProductId[0].selectize

    $(document).off("click", ".cate_option").on("click", ".cate_option", function(){
        product_id_arr = $(this).attr("data-product_id_arr").split(",")
        org_arr = selectizeProductId.getValue();

        for(var i = 0 ; i < product_id_arr.length ; i++){
            product_id = product_id_arr[i];
            org_arr.push(product_id);
        }

        selectizeProductId.setValue(org_arr, true);

        for(var i = 0 ; i < product_id_arr.length ; i++){
            product_id = product_id_arr[i];
            $option = $(".select_product_id").find(`.item[data-value=${product_id}]`);
            
            $option.addClass("blink_me")
        }

        setTimeout(function(){
            $(".select_product_id .blink_me").removeClass("blink_me")
        },1000)
    })

    $("#edit_form").submit(async function(e){
        $("[name=product_id_arr]").val($(".select_product_id").val().toString())

        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    infoPopup();
                    if ($("[name=cutoff_tpl_id]").val() == 0){
                        location.href = "admin/product/cutoffTplDtl?cutoff_tpl_id=" + data.result.cutoff_tpl_id;
                    } else {
                        globalLoader($loader);
                    }
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })

});
</script>
{/literal}