{literal}
<style>
  .navigation-section {
    background-color: white;
    border-left: 1px solid rgba(209, 213, 219, var(--tw-border-opacity));
    --tw-border-opacity: 1;
  }

  .indi-sku-display-in-js:first-of-type .conditional-option {
    opacity: 0.1;
    pointer-events: none;
  }
</style>
{/literal}

<main class="flex flex-col bg-white h-full overflow-y-hidden border-l border-gray-300" style="font-family: sans-serif;">
  <div class="item-group-title py-6 px-4 flex items-center">
    <div class="flex items-center gap-4">
      <div>
        <h1 class="font-bold text-2xl">運送條件組合管理</h1>
        <p class="text-gray-600">管理產品內的運送條件</p>
      </div>

      <button id="create-item-group" class="hover:bg-blue-400 bg-blue-500 text-white rounded-lg px-3 py-2 font-bold text-lg ml-auto my-3">新增運送條件組合</button>
    </div>

    <div class="ml-auto inline-flex items-center px-4 border border-gray-400 rounded-full overflow-hidden">
      <i class="ri-search-line text-2xl text-gray-500"></i>
      <input placeholder="搜尋: 運送條件組合名稱" id="item-group-searcher" class="bg-transparent px-4 py-2" />
    </div>
  </div>
  <div class="lower-container flex-grow overflow-y-hidden">
    <div class="item-group-list-container overflow-y-auto h-full border-t border-gray-300 bg-gray-100">

      <div id="item-group-list-container-inner" class="flex flex-col gap-y-2 py-2"></div>
    </div>
  </div>
</main>

{literal}
<script>
  var firstRun = true;
  var nonEditableClass = " opacity-50 cursor-not-allowed "
  var delivery_default_timeslot_list = null;

  function updateSelectedCategory(){
    selected_product_id_arr = $(".product-list-act-js .indi-product-display-in-js").map(function(idx, product){
      return $(product).data().product_id
    }).toArray()

    $(".cate_option").each(function(idx, cate){
      bool_is_all = true;
      product_id_arr = $(cate).data().product_id_arr.toString();
      if (product_id_arr){
        product_id_arr = product_id_arr.split(',')
        product_id_arr.forEach(function(product_id, cate){
          if (selected_product_id_arr.indexOf(parseInt(product_id)) < 0){
            bool_is_all = false;
          }
        });
      }

      if(bool_is_all){
        $(cate).addClass("border-green-600 text-green-600")
      } else {
        $(cate).removeClass("border-green-600 text-green-600")
      }
    });
  }

  function indiTimeslot(timeslot, idx) {
    return `
      <div class="grid grid-cols-7 gap-x-4 gap-y-2 bg-white px-2 py-1 items-center timeslot" data-idx="${idx}" data-slot_id="${timeslot.slot_id}">
        <div class="whitespace-nowrap">${timeslot.start_time} - ${timeslot.end_time} (${timeslot.adm_name})</div>
        <div class="flex items-center whitespace-nowrap gap-x-1">
          <div class="flex items-center editable px-2 py-1 ${timeslot.default_same_day_deli_fee =='Y'? nonEditableClass: "editing"}">
            <div>同日送貨運費:</div>
            <input type="text" name="same_day_deli_fee" value="${timeslot.same_day_deli_fee? timeslot.same_day_deli_fee : 0}" class="${timeslot.default_same_day_deli_fee =='Y'? nonEditableClass: "border"}  border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">
          </div>
          <div class="edit cursor-pointer">
            ${timeslot.default_same_day_deli_fee =='Y'? '<i class="ri-edit-2-line"></i>': '<i class="ri-close-line"></i>'}
          </div>
        </div>
        <div class="flex items-center whitespace-nowrap gap-x-1">
          <div class="flex items-center editable px-2 py-1 ${timeslot.default_deli_fee =='Y'? nonEditableClass: "editing"}">
            <div>運費: </div>
            <input type="text" name="deli_fee" value="${timeslot.deli_fee? timeslot.deli_fee : 0}" class="${timeslot.default_deli_fee =='Y'? nonEditableClass: "border"}  border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">
          </div>
          <div class="edit cursor-pointer">
            ${timeslot.default_deli_fee =='Y'? '<i class="ri-edit-2-line"></i>': '<i class="ri-close-line"></i>'}
          </div>
        </div>
        <div class="flex items-center whitespace-nowrap gap-x-1">
          <div class="flex items-center editable px-2 py-1 ${timeslot.default_online_pay_same_day =='Y'? nonEditableClass: "editing"}">
            <div>網上付款同日送貨: </div>
            <label class="switch ${timeslot.default_online_pay_same_day =='Y'? "pointer-events-none": ""}">
                <input name="online_pay_same_day" type="checkbox" ${timeslot.online_pay_same_day == 'Y'? 'checked': ""}>
                <span class="slider"></span>
            </label>
          </div>
          <div class="edit cursor-pointer">
            ${timeslot.default_online_pay_same_day =='Y'? '<i class="ri-edit-2-line"></i>': '<i class="ri-close-line"></i>'}
          </div>
        </div>
        <div class="flex items-center whitespace-nowrap gap-x-1">
          <div class="flex items-center editable px-2 py-1 ${timeslot.default_ava_b4_day =='Y'? nonEditableClass: "editing"}">
            <div>多少日前截單: </div> 
            <input type="text" name="ava_b4_day" value="${timeslot.ava_b4_day? timeslot.ava_b4_day : 0}" class="${timeslot.default_ava_b4_day =='Y'? nonEditableClass: "border"}  border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">
          </div>
          <div class="edit cursor-pointer">
            ${timeslot.default_ava_b4_day =='Y'? '<i class="ri-edit-2-line"></i>': '<i class="ri-close-line"></i>'}
          </div>
        </div>
        <div class="flex items-center whitespace-nowrap gap-x-1">
          <div class="flex items-center editable px-2 py-1 ${timeslot.default_ava_b4_cutoff =='Y'? nonEditableClass: "editing"}">
            <div>截單時間: </div> 
            <input type="time" name="ava_b4_cutoff" value="${timeslot.ava_b4_cutoff? timeslot.ava_b4_cutoff : 0}" class="${timeslot.default_ava_b4_cutoff =='Y'? nonEditableClass: "border"}  border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">
          </div>
          <div class="edit cursor-pointer">
            ${timeslot.default_ava_b4_cutoff =='Y'? '<i class="ri-edit-2-line"></i>': '<i class="ri-close-line"></i>'}
          </div>
        </div>
        <div class="flex items-center whitespace-nowrap gap-x-1">
          <div class="flex items-center editable px-2 py-1 ${timeslot.default_show_in_web =='Y'? nonEditableClass: "editing"}">
            <div>顯示在網站中: </div> 
            <label class="switch ${timeslot.default_show_in_web =='Y'? "pointer-events-none": ""}">
                <input name="show_in_web" type="checkbox" ${timeslot.show_in_web == 'Y'? 'checked': ""}>
                <span class="slider"></span>
            </label>
          </div>
          <div class="edit cursor-pointer">
            ${timeslot.default_show_in_web =='Y'? '<i class="ri-edit-2-line"></i>': '<i class="ri-close-line"></i>'}
          </div>
        </div>
    </div>
    `
  }

  function indiDefault(default_timeslot_list){
    return `<div class=" border-gray-100 border rounded-lg shadow-lg flex flex-col gap-x-4 indi-default-display-in-js relative">
        <div class="rounded-t bg-white px-4 py-2 text-xl font-bold" >一般地區 <span class="text-gray-400 text-sm">(所有不包括在特別運送地區的地區將會視為一般地區)</span></div>
        <div class="bg-gray-100 p-2 divide-y divide-gray-300 ">
          ${default_timeslot_list.map(function(timeslot, idx){
              return indiTimeslot(timeslot, idx);
          }).join("")}
        </div>
    </div>`;
  }

  function indiProduct(product) {
    return ` <div class="bg-white border-gray-100 border rounded-lg shadow-lg flex flex-col gap-x-4 px-4 py-1 indi-product-display-in-js group relative" data-product_id="${product.product_id}">
                  <div class="flex gap-x-2 py-1">
                    <div>(${product.product_code})</div>
                    <div class="font-bold">${product.product_name}</div>
                  </div>
                  <button class="ml-3 remove-indi-item-product-in-group absolute right-1 top-1 group-hover:opacity-100 opacity-0 w-6 h-6 shadow-lg rounded-full hover:bg-red-400 flex items-center justify-center text-white bg-red-500 transition-all">
                      <i class="ri-subtract-line"></i>
                  </button>
            </div>
        `;
  }

  function indiRuleGroup(delivery_custom_region){
    // remove duplicated region first
    $(".rule-list-act-js .region").each(function(idx, region){
      region_id_arr = $(region).data().region_id.toString().split(",");
      name_arr = $(region).html().split(",");

      for (var i = 0; i < region_id_arr.length ; i++){
        delivery_custom_region.region_list.forEach(function(cr, ri){
          if (region_id_arr[i] == cr.region_id){
            region_id_arr.splice(i, 1);
            name_arr.splice(i, 1);

            $(`.region:eq(${idx})`).data("region_id", region_id_arr.join(','))
            $(`.region:eq(${idx})`).html(name_arr.join(","))
          }
        });
      }
    })    

    return `
      <div class="border-gray-100 border rounded-lg shadow-lg flex flex-col gap-x-4 indi-rule-display-in-js relative" data-deli_group_region_id ="${delivery_custom_region.deli_group_region_id}">
        <div class="rounded-t bg-white px-4 py-2">
          <div>
            <span class="text-xl font-bold region" data-region_id="${delivery_custom_region.region_list.map(function(region, idx){return region.region_id}).join(',')}">${delivery_custom_region.region_list.map(function(region, idx){return region.name_tc}).join(',')}</span>
            <span class="text-gray-400 text-sm font-bold">(如沒有特別設定, 所有地區將會預使用其本身的額外收費)</span>
          </div>
          <div class="flex gap-x-2 region_wrapper">
            <div class="flex items-center whitespace-nowrap gap-x-1">
              <div class="flex items-center editable px-2 py-1 ${delivery_custom_region.shipping_fee == null ? nonEditableClass: "editing"}">
                <div>額外收費: </div>
                <input name="shipping_fee" type="number" class="w-24 py-1 px-2 border-gray-200 ${delivery_custom_region.shipping_fee == null? nonEditableClass: "border"}" value="${delivery_custom_region.shipping_fee}">
              </div>
              <div class="edit cursor-pointer">
                ${delivery_custom_region.shipping_fee == null ? '<i class="ri-edit-2-line"></i>': '<i class="ri-close-line"></i>'}
              </div>
            </div>
            
            <div class="flex items-center whitespace-nowrap gap-x-1">
              <div class="flex items-center editable px-2 py-1 ${delivery_custom_region.address_required == null? nonEditableClass: "editing"}">
                <div>需要地址: </div> 
                <label class="switch ${delivery_custom_region.address_required == null? "pointer-events-none": ""}">
                    <input name="address_required" type="checkbox" ${delivery_custom_region.address_required == 'Y'? 'checked': ""}>
                    <span class="slider"></span>
                </label>
              </div>
              <div class="edit cursor-pointer">
                ${delivery_custom_region.address_required == null? '<i class="ri-edit-2-line"></i>': '<i class="ri-close-line"></i>'}
              </div>
            </div>
            
            <div class="flex items-center whitespace-nowrap gap-x-1">
              <div class="flex items-center editable px-2 py-1 ${delivery_custom_region.show_in_web == null? nonEditableClass: "editing"}">
                <div>顯示在網站中: </div> 
                <label class="switch ${delivery_custom_region.show_in_web == null? "pointer-events-none": ""}">
                    <input name="show_in_web" type="checkbox" ${delivery_custom_region.show_in_web == 'Y'? 'checked': ""}>
                    <span class="slider"></span>
                </label>
              </div>
              <div class="edit cursor-pointer">
                ${delivery_custom_region.show_in_web == null? '<i class="ri-edit-2-line"></i>': '<i class="ri-close-line"></i>'}
              </div>
            </div>

          </div>
        </div>
        <div class="bg-gray-100 p-2 divide-y divide-gray-300 ">
          ${delivery_custom_region.timeslot_list? delivery_custom_region.timeslot_list.map(function(timeslot, idx){
              return indiTimeslot(timeslot)
          }).join("") : ""}
        </div>
    </div>
    `
  }

  async function getProductList(){
    var $container = $(".item-list-act-js");
    var $searchResult = $(".product-adder-js-search-result");
    var _resultHtml = "";
    _resultHtml += `
      <div class="flex items-center">
        <div class="font-bold text-lg px-3 py-2">產品:</div>
        <div class="btn_select_all bg-blue-500 font-bold inline-flex items-center text-white font-bold px-3 py-1 pr-4 hover:opacity-75 cursor-pointer">全選</div>
      </div>`;
    product_list = await new Promise(function(resolve, reject){
      $.bajax({
          url: "/admin/product/api/productList",
          method: "POST",
          formElement: "N",
          callback: function (data) {
            var _result = data.result.productList;

            //assign data
            $searchResult.data("searchResult", _result);
          
            _resultHtml += _result.map(function (product, productIndex) {
              return `<div data-product_id="${product.product_id}" class="flex items-center bg-white px-3 py-1 pl-6 product">
                          <div class="leading-tight">
                            <div class="">${product.product_name}</div>  
                          </div>
                          ${checkCurrentProductListIncludeId(product,productIndex)}
                      </div>`;
              }).join("");
            resolve(true);
          },
      })
    });

    $searchResult.html(_resultHtml);

    var $searchResult = $(".product-category-adder-js-search-result");
    _resultHtml = "";
    _resultHtml += `
        <div class="font-bold text-lg px-3 py-2">輔助工具:產品分類<br><span class="text-sm text-gray-400">(把該產品分類的所有產品加入涉及產品)</span></div>`;

    cate_list = await new Promise(function(resolve, reject){
      $.bajax({
        url: "/admin/product/api/getCateList",
          method: "POST",
          formElement: "N",
          callback: function (data) {
            var _result = data.result;
  
            //assign data
            // $searchResult.data("searchResult", _result);
          
            _resultHtml += _result.map(function (category, productIndex) {
              return `<div data-product_id_arr="${category.product_id_arr}" class="flex items-center bg-white px-3 py-1 pl-6">
                          <div class="leading-tight">
                            <div class="cate_option" data-product_id_arr="${category.product_id_arr? category.product_id_arr :''}">${category.name}</div>  
                            <div class="flex flex-row flex-wrap subcateList gap-2 mt-2">
                                ${category.subcate.map(function(subcate){
                                  return `
                                    <div class="cate_option cursor-pointer border border-gray-200 px-2 py-1 inline-block mb-1 rounded hover:opacity-75 font-bold" data-product_id_arr="${subcate.product_id_arr? subcate.product_id_arr : ''}">${subcate.name_tc}</div>
                                  `
                                }).join("")}
                              </div>
                          </div>
                      </div>`;
              }).join("");
  
            resolve(true);
          },
        
      })
    });

    $searchResult.html(_resultHtml);
  }

  function checkCurrentProductListIncludeId(product,productIndex) {
    var tempIdList = [];
    $(".product-list-act-js").find(".indi-product-display-in-js").each(function (index,$item) {
      tempIdList.push($($item).data().product_id);
    });
    if (tempIdList.includes(parseInt(product.product_id))) {
      return `<button href="#" data-product-index="${productIndex}"  data-product-id="${product.product_id}" class="product-adder-js-act rounded border border-gray-300 ml-auto h-8 flex items-center justify-center text-gray-600 font-bold pointer-events-none px-3 bg-gray-100 whitespace-nowrap">已新增</button>`;
    } else {
      return `<button href="#" data-product-index="${productIndex}"  data-product-id="${product.product_id}" class="product-adder-js-act rounded border border-gray-300 ml-auto h-8 w-8 font-bold flex items-center justify-center text-gray-600 "><i class="ri-add-line"></i></button>`;
    }
  }

  function getDeliGroupList(){
    var $container = $(".item-list-act-js");
    var $searchResult = $(".product-adder-js-search-result");
    $.bajax({
        url: "/admin/product/api/getDeliGroupList",
        method: "POST",
        formElement: "N",
        callback: function (data) {
        var _result = data.result;
        var _resultHtml = "";

        //assign data
        $searchResult.data("searchResult", _result);
        if (_result.length == 0) {
            _resultHtml += `<div class="text-center py-12 text-gray-500 w-full">
                            <div class="text-lg font-bold">沒有搜尋結果</div>
                            <div>請更換關鍵字並重試</div>
                            </div>`;
        } else {
            _resultHtml += _result.delivery_group_list.map(function (group, groupIndex) {
            return `<div data-deli_group_id="${group.deli_group_id}" class="flex items-center bg-white px-3 py-2">
                        <div class="leading-tight">
                        <div class="font-bold text-lg">${group.name_tc}</div>  
                        </div>
                        ${checkCurrentListIncludeId(group,groupIndex)}
                    </div>`;
            }).join("");
        }

        $searchResult.html(_resultHtml);
        },
    });
  }

  function checkCurrentListIncludeId(card, cardIndex) {
    var tempIdList = [];
    $(".item-list-act-js").find(".indi-sku-display-in-js").each(function (index,$item) {
      tempIdList.push($($item).data().card_id);
    });
    if (tempIdList.includes(parseInt(card.card_id))) {
      return `<button href="#" data-card-index="${cardIndex}"  data-card-id="${card.card_id}" class="card-adder-js-act rounded border border-gray-300 ml-auto h-8 flex items-center justify-center text-gray-600 font-bold pointer-events-none px-3 bg-gray-100 whitespace-nowrap">已新增</button>`;
    } else {
      return `<button href="#" data-card-index="${cardIndex}"  data-card-id="${card.card_id}" class="card-adder-js-act rounded border border-gray-300 ml-auto h-8 w-8 font-bold flex items-center justify-center text-gray-600 "><i class="ri-add-line"></i></button>`;
    }
  }


  async function renderItemGroupList(groupList) {
    var $container = $("#item-group-list-container-inner");

    //group looper
    var _html = "";
    groupList.forEach(function (list) {
      _html += `
      <div class="px-3 indi-item-group-list-js-dom">
          <div class="bg-white shadow-lg border border-gray-200 rounded-lg">
              <div class="flex px-4 py-3 items-center">
                  <div>
                      <div class="font-bold text-xl"><span class="group-main-title-js">${list.name_tc}</span>
                      </div>
                  </div>
                  <div class="flex ml-auto gap-x-2 items-center">
                      <button data-id="${list.deli_group_id}" class="edit-item-group bg-gray-200 text-gray-700 py-2 px-2 rounded font-bold inline-flex gap-x-2 transition-all hover:bg-gray-100"><i class="ri-pencil-line"></i><span>編輯組合</span></button>
                      <button data-id="${list.deli_group_id}" class="copy-item-group bg-gray-200 text-gray-700 py-2 px-2 rounded font-bold inline-flex gap-x-2 transition-all hover:bg-gray-100"><i class="ri-file-copy-line"></i><span>複製組合</span></button>
                      <button data-id="${list.deli_group_id}" class="remove-item-group bg-gray-200 text-gray-700 py-2 px-2 rounded font-bold inline-flex gap-x-2 hover:text-white hover:bg-red-500 transition-all"><i class="ri-delete-bin-line"></i><span>刪除</span></button>
                  </div>
              </div>
          </div>
      </div>
      `;
    });

    $container.html(_html);
  }

  async function getCardGroupList() {
    $loader = await globalLoader();
    ///admin/item/api/getCardGroupList
    $.bajax({
        url: "/admin/product/api/getDeliGroupList",
        method: "POST",
        formElement: "N",
        data: {
            skey: $("#item-group-searcher").val()
        },
        callback: function (data) {
            globalLoader($loader);
            if (data.code == 0) {
                renderItemGroupList(data.result.delivery_group_list);
                if (firstRun) {
                    firstRun = false;
                    grp_id = getQueryString("grp_id")
                    if (grp_id) {
                        $(`.edit-item-group[data-id=${grp_id}]`).click()
                    }
                }

            } else {
                globalErrorReturn(data);
            }
        },
        errorCallback: function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR);
        },
    });
  }

  $(document).ready(function () {
    //body fullscreen controller
    $("body").addClass("max-h-screen overflow-y-hidden");
    $("#main-container-admin").addClass("overflow-y-hidden");
    getCardGroupList();
  });

  //binging events
  $(document).off("click", ".btn_select_all").on("click", ".btn_select_all", function(){
    var $searchResult = $(".product-adder-js-search-result");
    var $container = $(".product-list-act-js");
    $(".product-adder-js-search-result .product").each(function(productIndex, product){

      product = $searchResult.data().searchResult[productIndex];
      product_id = product.product_id
      if (product){
        // //add to item list
        if ($container.find(`[data-product_id=${product_id}]`).length == 0){
          $container.append(indiProduct(product));
          $searchResult.find(`[data-product_id=${product_id}] .product-adder-js-act`).replaceWith(checkCurrentProductListIncludeId(product, productIndex));
        }
        // $container.find(`[data-product_id=${product_id}]`).addClass("blink_me")
      }
    });

    // checking the selectedCategory
    updateSelectedCategory();
  });

  $(document)
    //
    // edit item group button clicked
    //
    .on("click", ".edit-item-group, #create-item-group, .copy-item-group ", async function () {
      var $this = $(this);
      var operationCase = "";
      if ($this.hasClass("edit-item-group")) {
        operationCase = "edit";
        url = "/admin/product/api/getDeliGroup?deli_group_id=" + $this.data().id
      } else if ($this.hasClass("copy-item-group")) {
        operationCase = "copy";
        url = "/admin/product/api/getDeliGroup?deli_group_id=" + $this.data().id
      } else {
        operationCase = "create";
        url = "/admin/product/api/getDeliGroup"
      }

      $loader = await globalLoader();
      $.bajax({
        url: url,
        method: "POST",
        formElement: "N",
        callback: function (data) {
          globalLoader($loader);
          if (data.code == 0) {
            var _d = data.result;
            delivery_default_timeslot_list = _d.delivery_default_timeslot_list;
              //main item group editor
              $vkmodal({
                fullScreen: false,
                tapBackgroundToClose: true,
                area: "overflow-y-hidden h-full",
                content: `<div class="w-screen max-w-full rounded h-full overflow-y-hidden flex flex-col" style="font-family:sans-serif">
                            <div class="text-2xl font-bold pt-4 pb-4 px-4  border-b border-gray-200 flex items-center"><span>${operationCase == "create" ? "新增運送條件組合" : ""}${operationCase == "edit" ? "編輯運送條件組合" : ""}${operationCase == "copy" ? "複製運送條件組合" : ""}</span>
                                <button class="vk-modal-close inline-flex w-12 h-12 items-center justify-center bg-gray-200 text-gray-500 text-2xl ml-auto rounded"><i class="ri-close-line"></i></button>
                            </div>
                            <div class="related-item-list-js divide-y divide-gray-200 overflow-y-auto h-full">
                                <div class="flex h-full overflow-y-hidden">
                                    <div class="h-full overflow-y-hidden bg-white border-r border-gray-300 w-full max-w-md flex-grow flex flex-col left-panel">
                                        <div class="tab-function-controller border-b border-gray-300 grid grid-cols-3">
                                            <button class="font-bold text-lg ${operationCase != "edit" ? "text-blue-500 border-blue-500": "text-gray-600 border-transparent"} border-b-2 pt-3 pb-2 text-center focus:outline-none" data-tab="1">顯示訊息</button>
                                            <button class="font-bold text-lg ${operationCase == "edit" ? "text-blue-500 border-blue-500": "text-gray-600 border-transparent"} border-b-2 pt-3 pb-2 text-center focus:outline-none" data-tab="2">涉及產品</button>
                                        </div>
                                        <div class="tab-function-controller-listener h-full flex-grow overflow-y-auto">
                                            <div class="overflow-y-auto h-full ${operationCase == "edit" && "hidden"}" data-tab="1">
                                                <div class="grid grid-cols-1 gap-x-4 px-6 gap-y-2 pt-3 pb-3 w-full overflow-y-auto">
                                                    <div>
                                                        <label class="block text-sm font-bold text-gray-700">內部顯示名稱（中文）</label>
                                                        <input type="text" palceholder="內部顯示名稱（中文）" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="name_tc" value="${_d.delivery_group?.name_tc != null? _d.delivery_group.name_tc.trim(): ""}">
                                                    </div>
                                                    <div>
                                                        <label class="block text-sm font-bold text-gray-700">內部顯示名稱（英文）</label>
                                                        <input type="text" palceholder="內部顯示名稱（英文）" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="name_en" value="${_d.delivery_group?.name_en != null? _d.delivery_group.name_en.trim(): ""}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="overflow-y-hidden h-full flex flex-col ${operationCase != "edit" && "hidden"}" data-tab="2">
                                                <div class="flex flex-grow overflow-y-auto bg-gray-100 w-full h-full flex-col divide-y divide-gray-300">
                                                    <div class="product-adder-js-search-result w-full divide-y divide-gray-300 h-1/2 overflow-auto"></div>
                                                    <div class="product-category-adder-js-search-result w-full divide-y divide-gray-300 h-1/2  overflow-auto"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="px-4 py-2 overflow-x-hidden flex-grow right-panel flex flex-col gap-4">
                                        <div class="h-2/3 overflow-auto bg-gray-100 rounded border">
                                            <div class="text-xl font-bold px-4 py-2 bg-white border-b flex items-center gap-x-4">
                                              運送條件 
                                              <div class="btn_add_rule bg-blue-500 font-bold inline-flex items-center text-white font-bold px-3 py-2 pr-4 hover:opacity-75 cursor-pointer" data-deli_group_id="${_d.delivery_group?.deli_group_id}">增加特定地區的運送條件</div>
                                            </div>
                                            <div class="rule-list-act-js gap-2 px-4 py-2 flex flex-col">
                                                ${_d.delivery_default_timeslot_list? indiDefault(_d.delivery_default_timeslot_list) : ""}
                                                ${_d.delivery_cust_region_list? _d.delivery_cust_region_list.map(function(deliver_custom_region, idx) {return indiRuleGroup(deliver_custom_region)}).join("") : ""}
                                            </div>
                                        </div>
                                        <div class="h-1/3 overflow-auto bg-gray-100 rounded border">
                                            <div class="text-xl font-bold px-4 py-2 bg-white border-b">涉及產品</div>
                                            <div class="flex flex-wrap product-list-act-js gap-2 px-4 py-2">
                                                ${_d.delivery_group?.product_list? _d.delivery_group.product_list.map(function (product, productIndex) {return indiProduct(product);}).join(""): ""}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-white py-3 px-4 flex items-center border-t border-gray-200">
                                <button class=" ml-auto bg-blue-500 text-white font-bold rounded-lg py-3 px-6 text-lg save-item-group" data-id="${_d.delivery_group?.deli_group_id}" >${operationCase == "create" ? "創建組合" : ""}${operationCase == "edit" ? "儲存" : ""}${operationCase == "copy" ? "複製組合" : ""}</button>
                            </div>
                        </div>`,
                mounted: function ($elem) {
                    if (operationCase == 'edit'){
                        getProductList();
                    }
                    
                    //change tab listener & search listener
                    $(document)
                        .off("click", ".tab-function-controller [data-tab]")
                        .on("click",".tab-function-controller [data-tab]",function () {
                            var $this = $(this);

                            //text-blue-500 border-blue-500' : 'text-gray-600 border-transparent
                            $this.removeClass("text-gray-600, border-transparent").addClass("text-blue-500 border-blue-500").siblings().addClass("text-gray-600, border-transparent").removeClass("text-blue-500 border-blue-500");
                            $this.closest(".left-panel").find(`.tab-function-controller-listener [data-tab="${$this.data().tab}"]`).removeClass("hidden").siblings().addClass("hidden");

                            if ($this.data().tab == "2") {
                                getProductList();
                            }
                        })

                        //product addr
                        .off("click", ".product-adder-js-act")
                        .on("click", ".product-adder-js-act", function () {
                            var $this = $(this);
                            var $searchResult = $($elem).find(".product-adder-js-search-result");

                            //add to item list
                            var $container = $(".product-list-act-js");
                            $container.append(indiProduct($searchResult.data().searchResult[$this.data().productIndex]));

                            $this.replaceWith(checkCurrentProductListIncludeId($searchResult.data().searchResult[$this.data().productIndex], $this.data().productIndex));


                            updateSelectedCategory()
                        });
                    //enable drag an drop
                

                    //delete indi sku
                    $(document).off("click", ".save-item-group").on("click", ".save-item-group", async function (e) {
                      $loader = await globalLoader();


                      defaultJson = []
                      $(".indi-default-display-in-js .timeslot").each(function(idx, timeslot){
                        defaultJson.push({
                          slot_id: $(timeslot).data().slot_id,
                          same_day_deli_fee: $(timeslot).find("[name=same_day_deli_fee]").parent().hasClass("editing") ? $(timeslot).find("[name=same_day_deli_fee]").val() : "NULL",
                          deli_fee: $(timeslot).find("[name=deli_fee]").parent().hasClass("editing") ? $(timeslot).find("[name=deli_fee]").val() : "NULL",
                          online_pay_same_day: $(timeslot).find("[name=online_pay_same_day]").parents(".editable").hasClass("editing") ? $(timeslot).find("[name=online_pay_same_day]").is(":checked") ? 'Y' : 'N' : "NULL",
                          show_in_web: $(timeslot).find("[name=show_in_web]").parents(".editable").hasClass("editing") ? $(timeslot).find("[name=show_in_web]").is(":checked") ? 'Y' : 'N' : "NULL",
                          ava_b4_day: $(timeslot).find("[name=ava_b4_day]").parents(".editable").hasClass("editing") ? $(timeslot).find("[name=ava_b4_day]").val(): "NULL",
                          ava_b4_cutoff: $(timeslot).find("[name=ava_b4_cutoff]").parents(".editable").hasClass("editing") ? $(timeslot).find("[name=ava_b4_cutoff]").val(): "NULL",
                        })
                      });

                      ruleArr = [];

                      $(".indi-rule-display-in-js").each(function(idx, rule){
                          ruleJson = {};
                          region = $(rule).find(".region_wrapper")

                          timeslotJson = [];
                          $(rule).find(".timeslot").each(function(tidx, timeslot){
                              timeslot = {
                                  slot_id: $(timeslot).data().slot_id,
                                  same_day_deli_fee: $(timeslot).find("[name=same_day_deli_fee]").parents(".editable").hasClass("editing") ? $(timeslot).find("[name=same_day_deli_fee]").val(): "NULL",
                                  deli_fee: $(timeslot).find("[name=deli_fee]").parents(".editable").hasClass("editing") ? $(timeslot).find("[name=deli_fee]").val(): "NULL",
                                  online_pay_same_day: $(timeslot).find("[name=online_pay_same_day]").parents(".editable").hasClass("editing") ? $(timeslot).find("[name=online_pay_same_day]").is(":checked") ? 'Y' : 'N' : "NULL",
                                  show_in_web: $(timeslot).find("[name=show_in_web]").parents(".editable").hasClass("editing") ? $(timeslot).find("[name=show_in_web]").is(":checked") ? 'Y' : 'N' : "NULL",
                                  ava_b4_day: $(timeslot).find("[name=ava_b4_day]").parents(".editable").hasClass("editing") ? $(timeslot).find("[name=ava_b4_day]").val(): "NULL",
                                  ava_b4_cutoff: $(timeslot).find("[name=ava_b4_cutoff]").parents(".editable").hasClass("editing") ? $(timeslot).find("[name=ava_b4_cutoff]").val(): "NULL",
                              }
                              timeslotJson.push(timeslot);
                          }) 

                          ruleJson = {
                              deli_group_region_id: $(rule).data().deli_group_region_id,
                              address_required: $(region).find("[name=address_required]").parents(".editable").hasClass("editing") ? $(region).find("[name=address_required]").is(":checked") ? 'Y' : 'N' : "NULL",
                              shipping_fee: $(region).find("[name=shipping_fee]").parents(".editable").hasClass("editing") ? $(region).find("[name=shipping_fee]").val(): "NULL",
                              show_in_web: $(region).find("[name=show_in_web]").parents(".editable").hasClass("editing") ? $(region).find("[name=show_in_web]").is(":checked") ? 'Y' : 'N' : "NULL",
                              deli_region_id_arr: $(rule).find(".region").data().region_id,
                              timeslot_json: timeslotJson
                          }
                          ruleArr.push(ruleJson)
                      })

                      var submitJson = {
                        deli_group_id: operationCase == "edit" ? _d.delivery_group.deli_group_id : "0",
                        defaultJson: JSON.stringify(defaultJson),
                        name_tc: $elem.find("[name=name_tc]").val(),
                        name_en: $elem.find("[name=name_en]").val(),
                        ruleJson: JSON.stringify(ruleArr),
                        product_id_arr: $('.indi-product-display-in-js').map(function(i, product){return $(product).data().product_id}).toArray().toString()
                      };


                      globalLoader($loader);
                      $.bajax({
                        url: "/admin/product/api/editDeliGroup",
                        method: "POST",
                        formElement: "N",
                        data: submitJson,
                        callback: function (data) {
                        globalLoader($loader);
                          if (data.code == 0) {
                            infoPopup();
                            killVkmodal($elem.data().vkmodalId);
                            getDeliGroupList()
                            getCardGroupList();
                          }
                        },
                      });
                    })
                    .off("click", ".remove-indi-item-product-in-group")
                    .on("click", ".remove-indi-item-product-in-group", function () {
                      var $this = $(this);
                      $this.closest(".indi-product-display-in-js").remove();

                      //change button on list
                      $(".product-adder-js-act").each(function (index, item) {
                        var $searchResult = $($elem).find(".product-adder-js-search-result");
                        var $item = $(item);

                        $item.replaceWith(checkCurrentProductListIncludeId($searchResult.data().searchResult[$item.data().productIndex], $item.data().productIndex));
                      });

                      updateSelectedCategory()
                    });
                },
              });
            

            $(document).off("click", ".cate_option").on("click", ".cate_option", function(){
              var product_id_arr = $(this).data().product_id_arr.toString()
              if(product_id_arr){

                product_id_arr = product_id_arr.split(",")
                var $searchResult = $(".product-adder-js-search-result");
                var $container = $(".product-list-act-js");
  
                for(var i = 0; i < product_id_arr.length ; i++){
                  product_id = product_id_arr[i];
                  productIndex = $searchResult.data().searchResult.map(function(t){return parseInt(t.product_id)}).indexOf(parseInt(product_id))
                  product = $searchResult.data().searchResult[productIndex];
  
                  if (product){
                    if ($(this).hasClass("text-green-600")){
                      $container.find(`[data-product_id=${product_id}]`).remove()                      
                      $searchResult.find(`[data-product_id=${product_id}] .product-adder-js-act`).replaceWith(checkCurrentProductListIncludeId(product, productIndex));
                    } else {
                      //add to item list
                      if ($container.find(`[data-product_id=${product_id}]`).length == 0){
                        $container.append(indiProduct(product));
                        $searchResult.find(`[data-product_id=${product_id}] .product-adder-js-act`).replaceWith(checkCurrentProductListIncludeId(product, productIndex));
                      }

                      $container.find(`[data-product_id=${product_id}]`).addClass("blink_me")
                    }
                  }
  
                  // $this.replaceWith(checkCurrentProductListIncludeId($searchResult.data().searchResult[$this.data().productIndex], $this.data().productIndex));
                }

                setTimeout(function(){
                  $container.find(".blink_me").removeClass("blink_me")
                }, 1000)

                updateSelectedCategory()
              }
            })
          } else {
            globalErrorReturn(data);
          }
        },
        errorCallback: function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR);
        },
      });
      //globalLoader($loader);
      return false;
    })
    //
    // delete item group button clicked
    //
    .on("click", ".remove-item-group", function () {
      var $this = $(this);
      vkAlert({
        title: "剷除賀卡",
        content: `確認運送條件組合<b>${$this
          .closest(".indi-item-group-list-js-dom")
          .find(".group-main-title-js")
          .text()}</b>嗎？`,
        confirmButtonHtml: "確認剷除",
        confirmButtonHtmlClass: "bg-red-500 text-white",
        confirmButtonFunction: function () {
          $.bajax({
            url: "/admin/product/api/delCardGroup?card_group_id=" + $this.data().id,
            method: "POST",
            formElement: "N",
            callback: function (data) {
              globalLoader($loader);
              if (data.code == 0) {
                infoPopup(
                  `成功移除 : ${$this
                    .closest(".indi-item-group-list-js-dom")
                    .find(".group-main-title-js")
                    .text()}`,
                  "成功移除賀卡"
                );
                getCardGroupList();
              } else {
                globalErrorReturn(data);
              }
            },
            errorCallback: function (jqXHR, textStatus, errorThrown) {
              console.log(jqXHR);
            },
          });
        },
        cancelButtonHtml: "取消",
      });
    })
    //
    // searching
    // 
    .on("change", "#item-group-searcher", function () {
      getCardGroupList();
    });


    $(document).on("click", ".edit", function(){
      $editable = $(this).siblings(".editable")
      
      $editable.toggleClass(nonEditableClass + " editing");
      $editable.find("[type=text],[type=number]").toggleClass(nonEditableClass + "border");
      $editable.find(".switch").toggleClass("pointer-events-none")

      $(this).find("i").toggleClass("ri-edit-2-line ri-close-line")
    })

    $(document).on("click", ".btn_add_rule", function(){
      deli_group_id = $(this).data().deli_group_id;
      $.bajax({
        url: "/admin/shipment/api/getDistrictList",
        method: "POST",
        formElement: "N",
        callback: function(data){
          var district_list = data.result.district_list;

          $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            area: "h-full",
            content: `
              <div>
                <div class="bg-white px-4 py-2 text-xl font-bold">請選擇區域或子區域</div>
                <div class="grid grid-cols-3 content_wrapper px-4 py-2 gap-3">
                  ${district_list.map(function(district, didx){
                    return `
                      <div class="border-b">
                        <div class="px-2 my-2 border-b-2 border-gray-600 text-xl font-bold inline-block mb-2 cursor-pointer hover:opacity-80 district">${district.name}</div>
                        <div class="region_wrapper flex flex-wrap gap-4 py-2">
                          ${district.region_list.map(function(region, ridx){
                            return `
                              <div class="region px-2 py-1 border border-gray-600 rounded cursor-pointer hover:opacity-80" data-region_id="${region.region_id}">${region.name}</div>
                            `
                          }).join('')}
                        </div>
                      </div>
                    `
                  }).join('')}

                  </div>
                  <div class="text-center mt-4">
                    <div class="btn_submit_region inline px-16 py-2 bg-blue-500 text-white text-xl rounded-full my-4 cursor-pointer hover:opacity-80">確認</div>
                  </div>
              </div>`,
            mounted: function(){
              $(document).off("click", ".district").on("click", ".district", function(){
                if ($(this).hasClass("checked")){
                  $(this).removeClass("border-green-600 text-green-600 checked").addClass("border-gray-600")
                  $(this).siblings(".region_wrapper").find(".region").removeClass("border-green-600 text-green-600 checked").addClass("border-gray-600")
                } else {
                  $(this).addClass("border-green-600 text-green-600 checked").removeClass("border-gray-600")
                  $(this).siblings(".region_wrapper").find(".region").addClass("border-green-600 text-green-600 checked").removeClass("border-gray-600")

                }
              });

              $(document).off("click", ".region").on("click", ".region", function(){
                $(this).toggleClass("border-gray-600 border-green-600 text-green-600 checked")
              });

              $(document).off("click", ".btn_submit_region").on("click", ".btn_submit_region", function(){
                delivery_custom_region = {
                  activate: 'Y',
                  address_required: null,
                  create_datetime: null,
                  deli_group_id: deli_group_id,
                  deli_group_region_id: 0,
                  shipping_fee: null,
                  show_in_web: null,
                  timeslot_list: delivery_default_timeslot_list
                };

                region_list = []
                $(".region.checked").each(function(idx, region){
                    region_list.push({
                      deli_gorup_region_id: 0,
                      region_id: $(region).data().region_id,
                      name_tc: $(region).html()
                    })
                })
                delivery_custom_region['region_list'] = region_list
                if (region_list.length > 0){
                  $(".rule-list-act-js ").append(indiRuleGroup(delivery_custom_region));
                }
                
                
                $vk = $(this).closest('.vk-modal-dom');

                if ($vk.length == 1) {
                    $vk.closest('.vk-modal-dom').data()._destory()
                }



              });
            }
          });
        }
      })
    })
</script>
{/literal}