{literal}
<style>
  .navigation-section {
    background-color: white;
    border-left: 1px solid rgba(209, 213, 219, var(--tw-border-opacity));
    --tw-border-opacity: 1;
  }

  .indi-sku-display-in-js:first-of-type .conditional-option {
    opacity: 0.1;
    pointer-events: none;
  }
</style>
{/literal}

<main class="flex flex-col bg-white h-full overflow-y-hidden border-l border-gray-300" style="font-family: sans-serif;">
  <div class="item-group-title py-6 px-4 flex items-center">
    <div class="flex items-center gap-4">
      <div>
        <h1 class="font-bold text-2xl">祝賀語組合管理</h1>
        <p class="text-gray-600">管理產品內的祝賀語組合</p>
      </div>


      <button id="create-item-group" class="hover:bg-blue-400 bg-blue-500 text-white rounded-lg px-3 py-2 font-bold text-lg ml-auto my-3">新增祝賀語組合</button>
    </div>

    <div class="ml-auto inline-flex items-center px-4 border border-gray-400 rounded-full overflow-hidden">
      <i class="ri-search-line text-2xl text-gray-500"></i>
      <input placeholder="搜尋: 祝賀語組合名稱" id="item-group-searcher" class="bg-transparent px-4 py-2" />
    </div>
  </div>
  <div class="lower-container flex-grow overflow-y-hidden">
    <div class="item-group-list-container overflow-y-auto h-full border-t border-gray-300 bg-gray-100">

      <div id="item-group-list-container-inner" class="flex flex-col gap-y-2 py-2"></div>
    </div>
  </div>
</main>

{literal}
<script>
  var firstRun = true;
  async function getProductList(){
    var $container = $(".item-list-act-js");
    var $searchResult = $(".product-adder-js-search-result");
    var _resultHtml = "";
    _resultHtml += `<div class="h-1/2 overflow-auto divide-y">
      <div class="font-bold text-lg px-3 py-2">產品:</div>`;
    product_list = await new Promise(function(resolve, reject){
      $.bajax({
          url: "/admin/product/api/productList",
          method: "POST",
          formElement: "N",
          callback: function (data) {
            var _result = data.result.productList;

            //assign data
            $searchResult.data("searchResult", _result);
          
            _resultHtml += _result.map(function (product, productIndex) {
              return `<div data-product_id="${product.product_id}" class="flex items-center bg-white px-3 py-1 pl-6">
                          <div class="leading-tight">
                            <div class="">${product.product_name}</div>  
                          </div>
                          ${checkCurrentProductListIncludeId(product,productIndex)}
                      </div>`;
              }).join("");
            resolve(true);
          },
      })
    });
    _resultHtml += `</div>
      <div class="h-1/2 overflow-auto divide-y">
        <div class="font-bold text-lg px-3 py-2">輔助工具:產品分類<br><span class="text-sm text-gray-400">(把該產品分類的所有產品加入涉及產品)</span></div>`;

    cate_list = await new Promise(function(resolve, reject){
      $.bajax({
        url: "/admin/product/api/getCateList",
          method: "POST",
          formElement: "N",
          callback: function (data) {
            var _result = data.result;
  
            //assign data
            // $searchResult.data("searchResult", _result);
          
            _resultHtml += _result.map(function (category, productIndex) {
              return `<div data-product_id_arr="${category.product_id_arr}" class="flex items-center bg-white px-3 py-1 pl-6">
                          <div class="leading-tight">
                            <div class="cate_option" data-product_id_arr="${category.product_id_arr}">${category.name}</div>  
                            <div class="flex flex-row flex-wrap subcateList gap-2 mt-2">
                                ${category.subcate.map(function(subcate){
                                  return `
                                    <div class="cate_option cursor-pointer border border-gray-200 px-2 py-1 inline-block mb-1 rounded hover:opacity-75 font-bold" data-product_id_arr="${subcate.product_id_arr}">${subcate.name_tc}</div>
                                  `
                                }).join("")}
                              </div>
                          </div>
                      </div>`;
              }).join("");
  
            resolve(true);
          },
        
      })
    });

    _resultHtml += `</div>`

    $searchResult.html(_resultHtml);
  }

    function checkCurrentProductListIncludeId(product,productIndex) {
    var tempIdList = [];
    $(".product-list-act-js").find(".indi-product-display-in-js").each(function (index,$item) {
        tempIdList.push($($item).data().product_id);
    });
    if (tempIdList.includes(parseInt(product.product_id))) {
        return `<button href="#" data-product-index="${productIndex}"  data-product-id="${product.product_id}" class="productc-adder-js-act rounded border border-gray-300 ml-auto h-8 flex items-center justify-center text-gray-600 font-bold pointer-events-none px-3 bg-gray-100 whitespace-nowrap">已新增</button>`;
    } else {
        return `<button href="#" data-product-index="${productIndex}"  data-product-id="${product.product_id}" class="productc-adder-js-act rounded border border-gray-300 ml-auto h-8 w-8 font-bold flex items-center justify-center text-gray-600 "><i class="ri-add-line"></i></button>`;
    }
    }

  function getGreetingCateList(){
    var $container = $(".item-list-act-js");
    var $searchResult = $(".product-adder-js-search-result");
    $.bajax({
        url: "/admin/product/api/getGreetingCateList",
        method: "POST",
        formElement: "N",
        callback: function (data) {
        var _result = data.result.greeting_cate_list;
        var _resultHtml = "";

        //assign data
        $searchResult.data("searchResult", _result);
        if (_result.length == 0) {
            _resultHtml += `<div class="text-center py-12 text-gray-500 w-full">
                            <div class="text-lg font-bold">沒有搜尋結果</div>
                            <div>請更換關鍵字並重試</div>
                            </div>`;
        } else {
            _resultHtml += _result.map(function (greeting, greetingIndex) {
            // return `<div>HI${addon.inhouse_name_tc}</div>`;
            return `<div data-greeting_id="${greeting.greeting_id}" class="flex items-center bg-white px-3 py-2">
                        <div class="leading-tight">
                        <div class="font-bold text-lg">${greeting.name_tc}</div>  
                        </div>
                        ${checkCurrentListIncludeId(greeting,greetingIndex)}
                    </div>`;
            }).join("");
        }

        $searchResult.html(_resultHtml);
        },
    });
  }

  function checkCurrentListIncludeId(greeting, greetingIndex) {
      var tempIdList = [];
      $(".item-list-act-js").find(".indi-sku-display-in-js").each(function (index,$item) {
        tempIdList.push($($item).data().cate_id);
      });

      if (tempIdList.includes(parseInt(greeting.cate_id))) {
        return `<button href="#" data-greeting-index="${greetingIndex}"  data-cate-id="${greeting.cate_id}" class="product-adder-js-act rounded border border-gray-300 ml-auto h-8 flex items-center justify-center text-gray-600 font-bold pointer-events-none px-3 bg-gray-100 whitespace-nowrap">已新增</button>`;
      } else {
        return `<button href="#" data-greeting-index="${greetingIndex}"  data-cate-id="${greeting.cate_id}" class="product-adder-js-act rounded border border-gray-300 ml-auto h-8 w-8 font-bold flex items-center justify-center text-gray-600 "><i class="ri-add-line"></i></button>`;
      }
    }


  async function renderItemGroupList(groupList) {
    var $container = $("#item-group-list-container-inner");

    //group looper
    var _html = "";
    groupList.forEach(function (list) {
      var productlistString = "";

      _html += `
      <div class="px-3 indi-item-group-list-js-dom">
          <div class="bg-white shadow-lg border border-gray-200 rounded-lg">
              <div class="flex px-4 py-3 items-center">
                  <div>
                      <div class="font-bold text-xl"><span class="group-main-title-js">${list.name_tc}</span>
                          <button data-title="${list.name_tc}" data-id="${list.greeting_group_id}" class="check-relative-product inline-flex gap-x-2 text-sm border border-gray-300 py-2 px-2 rounded ml-2 hover:opacity-75 transition-all font-bold"><i class="ri-search-line"></i><span>查閱使用此祝賀語組合的產品</span></button>
                      </div>
                  </div>
                  <div class="flex ml-auto gap-x-2 items-center">
                      <span class="text-gray-500 text-sm mr-4"> (內含祝賀語：${list.greeting_cate_list.length}件)</span>
                      <button data-id="${list.greeting_group_id}" class="edit-item-group bg-gray-200 text-gray-700 py-2 px-2 rounded font-bold inline-flex gap-x-2 transition-all hover:bg-gray-100"><i class="ri-pencil-line"></i><span>編輯組合</span></button>
                      <button data-id="${list.greeting_group_id}" class="copy-item-group bg-gray-200 text-gray-700 py-2 px-2 rounded font-bold inline-flex gap-x-2 transition-all hover:bg-gray-100"><i class="ri-file-copy-line"></i><span>複製組合</span></button>
                      <button data-id="${list.greeting_group_id}" class="remove-item-group bg-gray-200 text-gray-700 py-2 px-2 rounded font-bold inline-flex gap-x-2 hover:text-white hover:bg-red-500 transition-all"><i class="ri-delete-bin-line"></i><span>刪除</span></button>
                  </div>
              </div>
          </div>
      </div>
      `;
    });

    $container.html(_html);
  }

  async function getGreetingGroupList() {
    $loader = await globalLoader();
    ///admin/item/api/getGreetingGroupList
    $.bajax({
      url: "/admin/product/api/getGreetingGroupList",
      method: "POST",
      formElement: "N",
      data: {
        skey: $("#item-group-searcher").val()
      },
      callback: function (data) {
        globalLoader($loader);
        if (data.code == 0) {
          renderItemGroupList(data.result.greeting_group_list);
          if (firstRun) {
            firstRun = false;
            greeting_id = getQueryString("greeting_id")
            if (greeting_id) {
              $(`.edit-item-group[data-id=${greeting_id}]`).click()
            }
          }

        } else {
          globalErrorReturn(data);
        }
      },
      errorCallback: function (jqXHR, textStatus, errorThrown) {
        console.log(jqXHR);
      },
    });
  }

  $(document).ready(function () {
    //body fullscreen controller
    $("body").addClass("max-h-screen overflow-y-hidden");
    $("#main-container-admin").addClass("overflow-y-hidden");
    getGreetingGroupList();
  });

  $(document)
    .on("click", ".check-relative-product", function (e) {
      var $this = $(this);

      function loopRelatedProduct(productData) {
        return ` <div class="flex items-center px-4 py-3 gap-x-2 hover:bg-gray-100 transition-all ">
                      <img src="${productData.img && productData.img[0] &&productData.img[0].img}" onerror="this.src='/img/img.png'" class="w-16 h-16 rounded overflow-hidden border border-gray-300">
                      <div class="ml-2">
                          <div class="font-bold text-sm text-gray-500">MAF146RR</div>
                          <div class="text-xl font-bold">皇牌經濟送禮果籃</div>
                          <!--<div class="text-gray-600 font-bold">價錢(成本) : $500(272)</div>-->
                          <div class="flex items-center">
                          <span>發售中平台 :</span> ${productData.gift_show_in_web == "Y"
            ? `<div class="text-gray-600 px-2 border border-gray-300 font-bold text ml-1 rounded">The Gift</div>`
            : ""
          }${productData.zuri_show_in_web == "Y" ? `<div class="text-gray-600 px-2 border border-gray-300 font-bold text ml-1 rounded">Little Zuri</div>` : ""}${productData.ltp_show_in_web == "Y" ? `<div class="text-gray-600 px-2 border border-gray-300 font-bold text ml-1 rounded">LoTaiPo</div>` : ""}
                          </div>
                      </div>
                      <!--
                      <div class="ml-auto rounded font-bold bg-green-200 text-green-700 py-1 px-3">發售中</div>
                      <div class="ml-2 rounded font-bold bg-green-200 text-green-700 py-1 px-3">顯示中</div>
                      -->
                      <a href="/admin/product/productDtl?product_id=${productData.product_id
          }" target="_blank" class="ml-auto text-gray-600 border border-gray-300 rounded hover:opacity-75 transition-all px-2 py-1 font-bold gap-x-2 inline-flex items-center"><span>查閱產品</span><i class="ri-arrow-right-line"></i></a>
                  </div>`;
      }

      $.bajax({
        url: "/admin/product/api/productList?greeting_group_id=" + $this.data().id,
        method: "POST",
        formElement: "N",
        callback: function (data) {
          globalLoader($loader);
          if (data.code == 0) {
            //getAddonGroupList();
            $vkmodal({
              fullScreen: false,
              tapBackgroundToClose: true,
              content: `<div class="w-screen-90 max-w-screen-lg rounded h-full overflow-y-hidden" style="font-family:sans-serif">
                    <div class="text-2xl font-bold pt-4 pb-4 px-4  border-b border-gray-200 flex items-center"><span>${$this.data().title
                } : 相關產品</span>
                        <button class="vk-modal-close inline-flex w-12 h-12 items-center justify-center bg-gray-200 text-gray-500 text-2xl ml-auto rounded"><i class="ri-close-line"></i></button></div>
                    <div class="related-item-list-js divide-y divide-gray-200">
                      ${data.result.productList.length > 0
                  ? data.result.productList
                    .map(function (product, addonIndex) {


                      
                      return loopRelatedProduct(product);
                    })
                    .join("")
                  : `<div class="text-center py-24 text-gray-600 bg-gray-100">
                      <div class="text-xl font-bold">未有任何相關產品</div>
                      <div> 你可以隨時於產品頁添加此附加產品組合 </div>
                    </div>`
                  } </div></div>`,
              mounted: function () {},
            });
          } else {
            globalErrorReturn(data);
          }
        },
        errorCallback: function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR);
        },
      });
    })


  //binging events
  $(document)
    //
    // edit item group button clicked
    //
    .on("click", ".edit-item-group, #create-item-group, .copy-item-group ", async function () {
      var $this = $(this);
      var operationCase = "";
      if ($this.hasClass("edit-item-group")) {
        operationCase = "edit";
      } else if ($this.hasClass("copy-item-group")) {
        operationCase = "copy";
      } else {
        operationCase = "create";
      }

      $loader = await globalLoader();
      $.bajax({
        url: "/admin/product/api/getGreetingGroupDtl?greeting_group_id=" + $this.data().id,
        method: "POST",
        formElement: "N",
        callback: function (data) {
          globalLoader($loader);
          if (data.code == 0) {
            var _d = data.result.greeting_group;

            itemGroupEditPanelSummon(_d);

            //dom renders
            function itemGroupEditPanelSummon(_d) {
              var _d = _d;
              if (_d == null) {
                _d = {
                  item_list: [],
                };
              }
              //main item group editor
              $vkmodal({
                fullScreen: false,
                tapBackgroundToClose: true,
                area: "overflow-y-hidden h-full",
                content: `<div class="w-screen max-w-full rounded h-full overflow-y-hidden flex flex-col" style="font-family:sans-serif">
              <div class="text-2xl font-bold pt-4 pb-4 px-4  border-b border-gray-200 flex items-center"><span>${operationCase == "create" ? "新增祝賀語組合" : ""
                  }${operationCase == "edit" ? "編輯祝賀語組合" : ""}${operationCase == "copy" ? "複製祝賀語組合" : ""
                  }</span>
                  <button class="vk-modal-close inline-flex w-12 h-12 items-center justify-center bg-gray-200 text-gray-500 text-2xl ml-auto rounded"><i class="ri-close-line"></i></button></div>
              <div class="related-item-list-js divide-y divide-gray-200 overflow-y-auto h-full bg-gray-100">
              <div class="flex h-full overflow-y-hidden">
              <div class="h-full overflow-y-hidden bg-white border-r border-gray-300 w-full max-w-md flex-grow flex flex-col left-panel">
                <div class="tab-function-controller border-b border-gray-300 grid grid-cols-3">
                  <button class="font-bold text-lg ${operationCase != "edit"? "text-blue-500 border-blue-500": "text-gray-600 border-transparent"} border-b-2 pt-3 pb-2 text-center focus:outline-none" data-tab="1">顯示訊息</button>
                  <button class="font-bold text-lg ${operationCase == "edit"? "text-blue-500 border-blue-500": "text-gray-600 border-transparent"} border-b-2 pt-3 pb-2 text-center  focus:outline-none" data-tab="2">添加祝賀語</button>
                  <button class="font-bold text-lg text-gray-600 border-transparent border-b-2 pt-3 pb-2 text-center focus:outline-none" data-tab="3">涉及產品</button>
                </div>
                <div class="tab-function-controller-listener h-full flex-grow overflow-y-auto">
                <div class="overflow-y-hidden h-full flex flex-col ${operationCase != "edit" && "hidden" }" data-tab="2">
                  <div class="flex flex-grow overflow-y-auto bg-gray-100 w-full">
                    <div class="product-adder-js-search-result w-full divide-y divide-gray-300"></div>
                  </div>
                </div>
                <div class="overflow-y-auto h-full ${operationCase == "edit" && "hidden"}" data-tab="1">
                  <div class="grid grid-cols-1 gap-x-4 px-6 gap-y-2 pt-3 pb-3 w-full overflow-y-auto">

                  <div>
                    <label class="block text-sm font-bold text-gray-700">內部顯示名稱（中文）</label>
                    <input type="text" palceholder="內部顯示名稱（中文）" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="name_tc" value="${_d.name_tc != null? _d.name_tc.trim(): ""}">
                  </div>
                  <div>
                    <label class="block text-sm font-bold text-gray-700">內部顯示名稱（英文）</label>
                    <input type="text" palceholder="內部顯示名稱（英文）" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="name_en" value="${_d.name_en != null? _d.name_en.trim(): ""}">
                  </div>
                 
                  </div>
                </div>
                </div>
              </div>
               
                <div class="px-4 py-2 overflow-x-hidden flex-grow right-panel flex flex-col gap-4">
                  <div class="h-1/2 overflow-auto bg-gray-100 rounded border">
                    <div class="text-xl font-bold px-4 py-2 bg-white border-b">祝賀語</div>
                    <div class="grid grid-cols-4 item-list-act-js gap-2 px-4 py-2">
                        ${_d.greeting_cate_list? _d.greeting_cate_list.map(function (cate, cateIndex) {return indiGreeting(cate);}).join(""): ""}                    </div>
                  </div>
                  <div class="h-1/2 overflow-auto bg-gray-100 rounded border">
                    <div class="text-xl font-bold px-4 py-2 bg-white border-b">涉及產品</div>
                    <div class="flex flex-wrap product-list-act-js gap-2 px-4 py-2">
                      ${_d.product_list? _d.product_list.map(function (product, productIndex) {return indiProduct(product);}).join(""): ""}
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="bg-white py-3 px-4 flex items-center border-t border-gray-200">
                <button class=" ml-auto bg-blue-500 text-white font-bold rounded-lg py-3 px-6 text-lg save-item-group"
                data-id="${_d.item_id}"
                >${operationCase == "create" ? "創建組合" : ""}${operationCase == "edit" ? "儲存" : ""
                  }${operationCase == "copy" ? "複製組合" : ""}</button>
              </div>
          </div>`,
                mounted: function ($elem) {
                  if (operationCase == 'edit'){
                    getGreetingCateList();
                  }
                  
                  //change tab listener & search listener
                  $(document)
                    .off("click", ".tab-function-controller [data-tab]")
                    .on("click",".tab-function-controller [data-tab]",function () {
                        var $this = $(this);
                        leftTab = $this.data().tab
                        leftTab = leftTab == 3 ? 2: leftTab;
                        
                        //text-blue-500 border-blue-500' : 'text-gray-600 border-transparent
                        $this.removeClass("text-gray-600, border-transparent").addClass("text-blue-500 border-blue-500")
                          .siblings().addClass("text-gray-600, border-transparent").removeClass("text-blue-500 border-blue-500");
                        $this.closest(".left-panel").find(`.tab-function-controller-listener [data-tab="${leftTab}"]`).removeClass("hidden")
                          .siblings().addClass("hidden");

                        if ($this.data().tab == "2") {
                          getGreetingCateList();
                        } else if ($this.data().tab == "3") {
                          getProductList();
                        }
                      }
                    )
                    
                    //item adder
                    .off("click", ".product-adder-js-act")
                    .on("click", ".product-adder-js-act", function () {
                      var $this = $(this);
                      var $searchResult = $($elem).find(".product-adder-js-search-result");

                      //add to item list
                      var $container = $(".item-list-act-js");
                      $container.append(indiGreeting($searchResult.data().searchResult[$this.data().greetingIndex]));

                      $this.replaceWith(checkCurrentListIncludeId($searchResult.data().searchResult[$this.data().greetingIndex], $this.data().greetingIndex));
                    })
                    .off("click", ".productc-adder-js-act")
                    .on("click", ".productc-adder-js-act", function () {
                      var $this = $(this);
                      var $searchResult = $($elem).find(".product-adder-js-search-result");

                      //add to item list
                      var $container = $(".product-list-act-js");
                      $container.append(indiProduct($searchResult.data().searchResult[$this.data().productIndex]));

                      $this.replaceWith(checkCurrentProductListIncludeId($searchResult.data().searchResult[$this.data().productIndex], $this.data().productIndex));
                    })
                    ;
                  //enable drag an drop
                  
                  //delete indi sku
                  $(document)
                    .off("click", ".remove-indi-item-sku-in-group")
                    .on("click", ".remove-indi-item-sku-in-group", function () {
                      var $this = $(this);
                      $this.closest(".indi-sku-display-in-js").remove();

                      //change button on list
                      $(".product-adder-js-act").each(function (index, item) {
                        var $searchResult = $($elem).find(".product-adder-js-search-result");
                        var $item = $(item);

                        $item.replaceWith(checkCurrentListIncludeId($searchResult.data().searchResult[$item.data().greetingIndex], $item.data().greetingIndex));
                      });
                    })
                    .off("click", ".remove-indi-item-product-in-group")
                    .on("click", ".remove-indi-item-product-in-group", function () {
                      var $this = $(this);product
                      $this.closest(".indi-product-display-in-js").remove();

                      //change button on list
                      $(".productc-adder-js-act").each(function (index, item) {
                        var $searchResult = $($elem).find(".product-adder-js-search-result");
                        var $item = $(item);

                        $item.replaceWith(checkCurrentProductListIncludeId($searchResult.data().searchResult[$item.data().productIndex], $item.data().productIndex));
                      });
                    })
                    //search item for add
                    .off("click", ".item-sku-adder-js-lower")
                    .on("click", ".item-sku-adder-js-lower", function (e) {
                      var $itemListContainer = $(".item-list-act-js");

                      $vkmodal({
                        fullScreen: false,
                        tapBackgroundToClose: true,
                        area: "overflow-y-hidden  my-12 sm:w-full  h-screen-80 sm:max-w-screen-sm sm:max-h-screen-sm ",
                        content: `<div class="flex flex-col h-full w-full overflow-hidden" style="font-family:sans-serif">
                          <div class="flex items-center px-4 py-3 border-b border-gray-300">
                              <h3 class="text-xl font-bold">增加物品</h3>
                              <div class="border border-gray-300 rounded-lg flex items-center flex-grow mx-3">
                              <i class="ri-search-line text-xl text-gray-500 ml-3"></i>
                              <input class="bg-transparent py-2 px-3 w-full js-search-item-to-add-input"/>
                              </div>
                              <button class="bg-gray-200 text-gray-500 text-xl rounded  vk-modal-close w-10 h-10 inline-flex items-center justify-center"><i class="ri-close-line"></i></button>
                          </div>
                          <div class="bg-gray-100 flex-grow js-search-item-to-add-input-result overflow-y-auto relative"></div>
                          <!--<div class="flex items-center px-4 py-3 border-t border-gray-300">
                              <button class="ml-auto inline-flex items-center gap-x-2 bg-blue-500 text-white font-bold rounded px-6 py-2 text-lg"><i class="ri-add-circle-line"></i><span>添加</span></button>
                          </div>-->
                          </div>`,
                        mounted: function ($elem) {
                          //force focus input
                          $(".js-search-item-to-add-input").focus();

                          $elem
                            .find(".js-search-item-to-add-input")
                            .on("input", function (e) {
                              var $container = $elem.find(
                                ".js-search-item-to-add-input-result"
                              );
                              $container.html(
                                `<div class="absolute top-0 left-0 right-0 bottom-0 m-auto inline-flex w-24 h-24 items-center justify-center opacity-30"><svg class="animate-spin -ml-1 mr-3 h-12 w-12 text-grey-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path></svg></div>`
                              );
                              var $this = $(this);
                              if ($this.val().trim() == "") {
                                $container.html("");
                                return false;
                              }
                              $.bajax({
                                url: "/admin/item/api/getAllItemList?skey=" +
                                  $this.val(),
                                method: "POST",
                                formElement: "N",
                                callback: function (data) {
                                  if (data.code == 0) {
                                    if (data.result.length > 0) {
                                      var _d = data.result;

                                      function indiSkuSearchResult(
                                        sku,
                                        skuIndex
                                      ) {
                                        return `
                                    <div class="bg-white rounded shadow-lg border border-gray-200 flex items-center px-2 py-1">
                                      <image src="${sku.item_img
                                          }" class="w-16 h-16 border border-gray-200 rounded bg-gray-400" onerror="this.src='/img/img.png'"/>
                                      <div class="ml-2">
                                        <div class="font-bold text-sm text-gray-500 leading-tight">供應商：${sku.supplier.name_tc
                                          }</div>
                                        <div class="text-lg font-bold">${sku.inhouse_name_tc
                                          }${sku.various_list.length > 0
                                            ? `(${sku.various_list
                                              .map(function (
                                                _var,
                                                _varIndex
                                              ) {
                                                return `${_var.name_tc}`;
                                              })
                                              .join(", ")})`
                                            : ``
                                          }</div>
                                        <div class="text-sm text-gray-500">${sku.sku
                                          }</div>
                                      </div>
                                      <div class="text-gray-600 font-bold leading-tight ml-4">成本 : $${sku.cost
                                          }（可用存貨：${sku.ava_qty}）</div>
                                      <button data-index="${skuIndex}" class="vk-modal-close ml-auto inline-flex items-center gap-x-2 bg-blue-500 text-white font-bold rounded px-6 py-2 text-lg add-indi-item-sku-into-group"><i class="ri-add-circle-line"></i><span>添加</span></button>
                                    </div>
                                    `;
                                      }

                                      $container.html(`
                                    <div class="py-3 font-bold text-gray-600 px-3">共有 ${data.result.length
                                        } 個搜尋結果 : </div>
                                    <div class="flex flex-col gap-y-2 px-3 pb-2">
                                      ${_d
                                          .map(function (sku, skuIndex) {
                                            return indiSkuSearchResult(
                                              sku,
                                              skuIndex
                                            );
                                          })
                                          .join("")}
                                    </div>
                                  `);

                                      $(document)
                                        .off(
                                          "click",
                                          ".add-indi-item-sku-into-group"
                                        )
                                        .on(
                                          "click",
                                          ".add-indi-item-sku-into-group",
                                          function (e) {
                                            var $this = $(this);
                                            console.log(
                                              _d[$this.data().index]
                                            );
                                            $(".item-list-act-js").append(
                                              indiSku({
                                                item_id: _d[$this.data().index]
                                                  .item_id,
                                                qty: 1,
                                                item: _d[$this.data().index],
                                              })
                                            );
                                          }
                                        );
                                    } else {
                                      $container.html(`
                                    <div class="flex flex-col gap-y-2 px-3 items-center justify-center text-gray-400 text-center h-full text-2xl">
                                      沒有搜尋結果
                                    </div>
                                  `);
                                    }
                                  } else {}

                                  console.log(data);
                                },
                              });
                            });
                        },
                      });
                      // $.bajax({
                      //   url: "/admin/item/api/getItemGroupDtl?grp_id=" + $this.data().id,
                      //   method: "POST",
                      //   formElement: "N",
                      //   callback: function (data) {}
                      // })
                    })
                    //save or publish item group
                    .off("click", ".save-item-group")
                    .on("click", ".save-item-group", async function (e) {
                      $loader = await globalLoader();
                      globalLoader($loader);

                      var submitJson = {
                        greeting_group_id: operationCase == "edit" ? _d.greeting_group_id : "0",
                        name_tc: $elem.find('[name="name_tc"]').val(),
                        name_en: $elem.find('[name="name_en"]').val(),
                        cate_id_arr: [],
                        product_id_arr: $('.indi-product-display-in-js').map(function(i, product){return $(product).data().product_id}).toArray().toString()
                      };

                      //start to calculate item sets

                      var $this = $(this);
                      var greetingListJson = []
                      $('.indi-sku-display-in-js').each(function (idx,i) {
                        greetingListJson.push($(i).data().cate_id)
                      })
                      submitJson.cate_id_arr = JSON.stringify(greetingListJson);

                      $.bajax({
                        url: "/admin/product/api/editGreetingGroup",
                        method: "POST",
                        formElement: "N",
                        data: submitJson,
                        callback: function (data) {
                          globalLoader($loader);
                          if (data.code == 0) {
                            infoPopup();
                            killVkmodal($elem.data().vkmodalId);
                            getGreetingGroupList();
                          }
                        },
                      });
                    });
                },
              });
            }

            $(document).off("click", ".cate_option").on("click", ".cate_option", function(){
              var product_id_arr = $(this).data().product_id_arr.toString()
              if(product_id_arr){
                product_id_arr = product_id_arr.split(",")
                var $searchResult = $(".product-adder-js-search-result");
                var $container = $(".product-list-act-js");
  
                for(var i = 0; i < product_id_arr.length ; i++){
                  product_id = product_id_arr[i];
                  productIndex = $searchResult.data().searchResult.map(function(t){return parseInt(t.product_id)}).indexOf(parseInt(product_id))
                  product = $searchResult.data().searchResult[productIndex];
  
                  if (product){
                    // //add to item list
                    if ($container.find(`[data-product_id=${product_id}]`).length == 0){
                      $container.append(indiProduct(product));
                      $searchResult.find(`[data-product_id=${product_id}] .productc-adder-js-act`).replaceWith(checkCurrentProductListIncludeId(product, productIndex));
                    }

                    $container.find(`[data-product_id=${product_id}]`).addClass("blink_me")
                  }
  
                  // $this.replaceWith(checkCurrentProductListIncludeId($searchResult.data().searchResult[$this.data().productIndex], $this.data().productIndex));
                }

                setTimeout(function(){
                  $container.find(".blink_me").removeClass("blink_me")
                }, 1000)
              }
            });

            function indiGreeting(greeting) {
              return ` <div class="bg-white border-gray-100 border rounded-lg shadow-lg flex flex-col gap-x-4 p-4 indi-sku-display-in-js group relative" data-cate_id="${greeting.cate_id}">
                            <div class="py-1 font-bold text-xl">${greeting.name_tc}</div>
                            <button class="ml-3 remove-indi-item-sku-in-group absolute right-1 top-1 group-hover:opacity-100 opacity-0 w-6 h-6 shadow-lg rounded-full hover:bg-red-400 flex items-center justify-center text-white bg-red-500 transition-all">
                                <i class="ri-subtract-line"></i>
                            </button>
                      </div>
                  `;
            }
            function indiProduct(product) {
              return ` <div class="bg-white border-gray-100 border rounded-lg shadow-lg flex flex-col gap-x-4 px-4 py-1 indi-product-display-in-js group relative" data-product_id="${product.product_id}">
                            <div class="flex gap-x-2 py-1">
                              <div>(${product.product_code})</div>
                              <div class="font-bold">${product.product_name}</div>
                            </div>
                            <button class="ml-3 remove-indi-item-product-in-group absolute right-1 top-1 group-hover:opacity-100 opacity-0 w-6 h-6 shadow-lg rounded-full hover:bg-red-400 flex items-center justify-center text-white bg-red-500 transition-all">
                                <i class="ri-subtract-line"></i>
                            </button>
                      </div>
                  `;
            }
          } else {
            globalErrorReturn(data);
          }
        },
        errorCallback: function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR);
        },
      });
      //globalLoader($loader);
      return false;
    })
    //
    // delete item group button clicked
    //
    .on("click", ".remove-item-group", function () {
      var $this = $(this);
      vkAlert({
        title: "剷除祝賀語",
        content: `確認祝賀語組合<b>${$this
          .closest(".indi-item-group-list-js-dom")
          .find(".group-main-title-js")
          .text()}</b>嗎？`,
        confirmButtonHtml: "確認剷除",
        confirmButtonHtmlClass: "bg-red-500 text-white",
        confirmButtonFunction: function () {
          $.bajax({
            url: "/admin/product/api/delGreetingGroup?greeting_group_id=" + $this.data().id,
            method: "POST",
            formElement: "N",
            callback: function (data) {
              globalLoader($loader);
              if (data.code == 0) {
                infoPopup(
                  `成功移除 : ${$this
                    .closest(".indi-item-group-list-js-dom")
                    .find(".group-main-title-js")
                    .text()}`,
                  "成功移除祝賀語"
                );
                getGreetingGroupList();
              } else {
                globalErrorReturn(data);
              }
            },
            errorCallback: function (jqXHR, textStatus, errorThrown) {
              console.log(jqXHR);
            },
          });
        },
        cancelButtonHtml: "取消",
      });
    })
    //
    // searching
    // 
    .on("change", "#item-group-searcher", function () {
      getGreetingGroupList();
    });
</script>
{/literal}