<script src="/adminA/js/jquery.dad.js"></script>

{literal}
<style>
  .navigation-section {
    background-color: white;
    border-left: 1px solid rgba(209, 213, 219, var(--tw-border-opacity));
    --tw-border-opacity: 1;
  }
  .indi-sku-display-in-js:first-of-type .conditional-option {
    opacity: 0.1;
    pointer-events: none;
  }
</style>
{/literal}

<main class="flex flex-col bg-white h-full border-l border-gray-300" style="font-family: sans-serif;">
  <div class="item-group-title py-2 px-4 flex items-center">
    <div class="flex items-center gap-4">
      <div>
        <h1 class="font-bold text-2xl">產品組合管理</h1>
        <p class="text-gray-600">產品組合可以讓你快速增加選項、缺貨填補及額外價格</p>
      </div>
  
      <button id="create-item-group" class="hover:bg-blue-400 bg-blue-500 text-white rounded-lg px-3 py-2 font-bold text-lg ml-auto my-3">創建物品組合</button>
    </div>

    <div class="flex ml-auto">
        <div class="relative flex">
            <button class="btn_cate_switch flex items-center mr-2 px-3">
                <div class="tooltip">顯示種類 - <span class="font-bold" id="picked-cate-js">所有</span><span class="tooltiptext bottom whitespace-nowrap px-4 py-2">只對物品組合的預設物品</span></div>
                <i class="ri-arrow-down-s-fill"></i>
            </button>
            <div
                class="select-type-list bg-white rounded-lg shadow border border-gray-200 w-96 absolute right-0 top-full py-1 hidden">
                <div class="opacity:0 fixed h-screen w-screen top-0 left-0 panel-closer"></div>
                <div class="grid grid-cols-2 gap-x-2 z-10 relative">
                    <div class="col-span-2 flex items-center">
                        <input class="ml-2" type="checkbox" id="cate-check-all" checked />
                        <label for="cate-check-all" class="cursor-pointer flex-grow font-bold ml-2 py-1 text-lg">顯示所有</label>
                    </div>

                    {foreach from=$result_array.item_cate_list item=i}
                        <div class="parent col-span-2 grid grid-cols-2 items-center">
                            <div class="bg-gray-200 h-px col-span-2"></div>
                            <div class="col-span-2 flex items-center">
                                <input class="parent_check_box ml-2" type="checkbox"
                                    id="cate-check-{$i.cate_id}" checked />
                                <label for="cate-check-{$i.cate_id}"
                                    class="cursor-pointer flex-grow font-bold ml-2 py-1 text-lg">{$i.cate_name_tc}</label>
                            </div>

                            <div class="col-span-2 grid grid-cols-2 children_group">
                                {foreach from=$i.child_list item=ii}
                                    <div class="col-span-1 flex items-center">
                                        <input name="cate" class="ml-2" type="checkbox" id="cate-check-{$ii.cate_id}" checked value="{$ii.cate_id}" />
                                        <label for="cate-check-{$ii.cate_id}" class="cursor-pointer flex-grow ml-2 py-1">{$ii.cate_name_tc}</label>
                                    </div>
                                {/foreach}
                            </div>
                        </div>
                    {/foreach}
                </div>
            </div>
        </div>
        <div
            class="search-bar flex items-center bg-white rounded-lg border border-gray-300 overflow-hidden">
            <i class="ri-search-line text-xl ml-3 leading-none text-gray-700"></i>
            <input placeholder="搜尋" id="item-group-searcher" class="bg-transparent px-4 py-2"/>
        </div>
    </div>
  </div>
  <div class="lower-container flex-grow">
    <div class="item-group-list-container border-t border-gray-300 bg-gray-100">
      <div id="item-group-list-container-inner" class="flex flex-col gap-y-2 py-2"></div>
    </div>
  </div>
</main>

{literal}
<script>
var boolFirstInit = true;

  async function renderItemGroupList(groupList) {
    var $container = $("#item-group-list-container-inner");

    //group looper
    var _html = "";
    groupList.forEach(function (list) {
      var itemlistString = "";
      var itemImgPath = ""

      itemImgPath = list.item_list[0].item_img;

      list.item_list.forEach(function (item, itemIndex) {
        var itemString = `<span class="px-1 py-1 border border-gray-200 rounded">${item.inhouse_name_tc}`;
        if (item.item && item.item.various_list && item.item.various_list.length > 0) { 
          var item = item.item;
          itemString += "(";
          //if its not parent, add various string
          item.various_list.forEach(function (various, variousIndex) {
            itemString += (variousIndex == 0 ? "" : ",") + various.name_tc;
          });
          itemString += ")";
        }
        itemString += "</span>";
        itemlistString += itemString;
      });



      _html += `
        <div class="px-3">
          <div class="px-3 py-2 indi-item-group-list-js-dom flex items-center bg-white shadow-lg border border-gray-200 rounded-lg gap-x-4">
              <div><img src="${itemImgPath}" class="w-20 h-20 object-contain border rounded-lg p-1" /></div>
              <div class="w-full">
                  <div class="flex items-center">
                      <div class="">
                          <div class="font-bold text-xl flex flex-wrap gap-x-2 items-center">
                            <span class="group-main-title-js">${list.adm_name}</span>
                            <span class="text-gray-500 text-sm"> ( ${list.inhouse_name_tc}, 總數量：${list.storage_qty}, 內含物品：${list.item_list.length}件)</span>
                            ${list.productCount > 0 ? `<button data-id="${list.grp_id}" data-tit="${list.inhouse_name_tc}" class="check-relative-product inline-flex gap-x-2 text-sm border border-gray-300 py-2 px-2 rounded hover:opacity-75 transition-all font-bold"><i class="ri-search-line"></i><span>查閱使用此物組合的相關產品</span></button>` : `<!--<button class="inline-flex gap-x-2 text-sm border border-gray-300 py-2 px-2 rounded ml-2 font-bold"><span>沒有產品使用</span></button>-->`}
                          </div>
                          <div class="text-sm text-gray-600 flex items-center mt-1 flex-wrap gap-2">${itemlistString}</div>
                      </div>
                      <div class="flex ml-auto gap-x-2 whitespace-nowrap">
                          <button data-id="${list.grp_id}" class="edit-item-group bg-gray-200 text-gray-700 py-2 px-2 rounded font-bold inline-flex gap-x-2 transition-all hover:bg-gray-100"><i class="ri-pencil-line"></i><span>編輯組合</span></button>
                          <button data-id="${list.grp_id}" class="copy-item-group bg-gray-200 text-gray-700 py-2 px-2 rounded font-bold inline-flex gap-x-2 transition-all hover:bg-gray-100"><i class="ri-file-copy-line"></i><span>複製組合</span></button>
                          <button data-id="${list.grp_id}" class="remove-item-group bg-gray-200 text-gray-700 py-2 px-2 rounded font-bold inline-flex gap-x-2 hover:text-white hover:bg-red-500 transition-all"><i class="ri-delete-bin-line"></i><span>刪除</span></button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        `;
    });

    $container.html(_html);
  }
  async function getItemGroupList() {
    var cate_id_arr = []
    $("[name=cate]:checked").each(function(idx, val) {
        cate_id_arr.push($(val).val())
    });
    
    if (cate_id_arr.length == 0){
      var $container = $('#item-group-list-container-inner');
      $container.html("");
    } else {
      $loader = await globalLoader();
      $.bajax({
        url: "/admin/item/api/getItemGroupList",
        method: "POST",
        data:{
          skey: $("#item-group-searcher").val(),
          cate_id_arr: cate_id_arr.join(','),
        },
        formElement: "N",
        callback: function (data) {
          globalLoader($loader);
          if (data.code == 0) {
            renderItemGroupList(data.result.group_list);
            if (boolFirstInit && getQueryString("grp_id")){
              boolFirstInit = false;
              grp_id = getQueryString("grp_id");
              $(`.edit-item-group[data-id=${grp_id}]`).focus().click()
            }
          } else {
            globalErrorReturn(data);
          }
        },
        errorCallback: function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR);
        },
      });
    }
  }

  $(document).ready(function () {
    //body fullscreen controller
    $("body").addClass("max-h-screen overflow-y-hidden");
    $("#main-container-admin").addClass("overflow-y-hidden");
    getItemGroupList();
  });


  $(document).on("click", ".btn_cate_switch", function() {
      $(".select-type-list").toggleClass("hidden");
  }).on('click', '.panel-closer', function(){
      $(".select-type-list").addClass("hidden");
  })

  $(document).on("change", "[name=cate]", function() {
      if ($(this).parents(".children_group").find("[name=cate]:not(:checked)").length > 0) {
          // some siblings are not checked
          $(this).parents(".parent").find(".parent_check_box").prop("checked", false);
      } else {
          // all silbings are checked
          $(this).parents(".parent").find(".parent_check_box").prop("checked", true);
      }

      if ($(".parent_check_box:not(:checked)").length > 0) {
          $("#cate-check-all").prop("checked", false);
      } else {
          $("#cate-check-all").prop("checked", true);
      }

      getItemGroupList();
  })

  $(document).on("change", "#cate-check-all", function() {
      if ($(this).prop("checked")) {
          $(".parent_check_box").prop("checked", true);
          $("[name=cate]").prop("checked", true);
      } else {
          $(".parent_check_box").prop("checked", false);
          $("[name=cate]").prop("checked", false);
      }

      getItemGroupList();
  });

  $(document).on("change", ".parent_check_box", function() {
      if ($(this).prop("checked")) {
          $(this).parents(".parent").find("[name=cate]").prop("checked", true);
      } else {
          $(this).parents(".parent").find("[name=cate]").prop("checked", false);
      }

      getItemGroupList();
  });

  //binging events
  $(document)
    //
    // check item group relative product list
    //
    .on("click", ".check-relative-product", function (e) {
      var $this = $(this)
      function loopRelatedProduct(product) {
        return ` <div class="flex items-center px-4 py-3 gap-x-2 hover:bg-gray-100 transition-all ">
                      <img src="${product.img[0] ? product.img[0].img : ''}" class="w-16 h-16 rounded overflow-hidden border border-gray-300">
                      <div>
                          <div class="font-bold text-sm text-gray-500">${product.product_code}</div>
                          <div class="text-xl font-bold">${product.product_name}</div>
                          <div class="text-gray-600 font-bold">價錢(成本) : ${product.price}(${product.sp_price})</div>
                      </div>

                      <div class="ml-auto flex gap-2">
                        ${product.show_in_web === 'Y' ? `<div class="ml-2 rounded font-bold bg-green-200 text-green-700 py-1 px-3">顯示中</div>` : ''}
                        ${product.sales_status == '10_not_for_sale'? '<div class="ml-2 rounded font-bold bg-gray-200 text-gray-700 py-1 px-3">未上架</div>': ''}
                        ${product.sales_status == '20_coming_soon'? '<div class="ml-2 rounded font-bold bg-gray-200 text-gray-700 py-1 px-3">即將上架</div>': ''}
                        ${product.sales_status == '30_on_sale'? '<div class="ml-2 rounded font-bold bg-green-200 text-green-700 py-1 px-3">上架中</div>': ''}
                        ${product.sales_status == '40_out_of_stock'? '<div class="ml-2 rounded font-bold bg-gray-200 text-gray-700 py-1 px-3">缺貨</div>': ''}
                        <a href="admin/product/productDtl?product_id=${product.product_id}" target="_blank" class="text-gray-600 border border-gray-300 rounded hover:opacity-75 transition-all px-2 py-1 ml-2 font-bold gap-x-2 inline-flex items-center"><span>查閱產品</span><i class="ri-arrow-right-line"></i></a>
                      </div>
                  </div>`;
      }
      
      $.bajax({
        url: "/admin/product/api/productList?grp_id=" + $this.data().id,
        method: "POST",
        formElement: "N",
        callback: function (data) {
          console.log(data)
          globalLoader($loader);
          if (data.code == 0) {
            productList = data.result.productList
            $vkmodal({
              fullScreen: false,
              tapBackgroundToClose: true,
              content: `
                  <div class="w-screen-90 max-w-screen-lg rounded h-full overflow-y-hidden" style="font-family:sans-serif">
                      <div class="text-2xl font-bold pt-4 pb-4 px-4  border-b border-gray-200 flex items-center"><span>${$this.attr("data-tit")}</span>
                        <button class="vk-modal-close inline-flex w-12 h-12 items-center justify-center bg-gray-200 text-gray-500 text-2xl ml-auto rounded"><i class="ri-close-line"></i></button>
                      </div>
                      <div class="related-item-list-js divide-y divide-gray-200">
                        ${
                          productList.map(function(product, idx){
                            return loopRelatedProduct(product);
                          }).join("")
                        }
                      </div>
                  </div>`,
              mounted: function () {},
            });

          } else {
            globalErrorReturn(data);
          }
        },
        errorCallback: function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR);
        },
      });

    })
    //
    // edit item group button clicked
    //
    .on("click", ".edit-item-group, #create-item-group, .copy-item-group ", async function () {
        var $this = $(this);
        var operationCase = "";
        if ($this.hasClass("edit-item-group")) {
          operationCase = "edit";
        } else if ($this.hasClass("copy-item-group")) {
          operationCase = "copy";
        } else {
          operationCase = "create";
        }

        $loader = await globalLoader();
        $.bajax({
          url: "/admin/item/api/getItemGroupDtl?grp_id=" + $this.data().id,
          method: "POST",
          formElement: "N",
          callback: function (data) {
            globalLoader($loader);
            if (data.code == 0) {
              var _d = data.result.group;

              function indiSku(sku) {
                return ` <div class="bg-white border-gray-100 border rounded-lg shadow-lg px-4 py-3 flex gap-x-4 items-center indi-sku-display-in-js">
                      <div class="h-12 w-12 rounded bg-gray-200 text-gray-500 flex items-center justify-center text-xl draggable-handler"><i class="ri-drag-move-2-line"></i></div>
                      <div class="h-16 w-16 border border-gray-300 rounded overflow-hidden">
                        <input type="hidden" value="${sku.item_id}" name="item_id">
                        <img src="${sku.item.item_img}" class="h-16 w-16 object-contain"/>
                      </div>
                      <div>
                        <div class="font-bold text-sm text-gray-500 leading-tight">供應商：${sku.item.supplier.name_tc}</div>
                        <div class="text-lg font-bold">${sku.item.inhouse_name_tc}${sku.item.various_list.length > 0? `(${sku.item.various_list.map(function (_var, _varIndex) {return `${_var.name_tc}`;}).join(", ")})`: ``}</div>
                        <div class="text-sm text-gray-500">${sku.item.sku}</div>
                        <div class="text-gray-600 font-bold leading-tight text-sm">成本 : $${sku.item.cost}（可用存貨：${sku.item.ava_qty}）</div>
                      </div>
                      <div class="flex flex-col ml-auto gap-y-2">
                       <div class="flex gap-x-4">
                        <div class="flex items-center gap-x-2">
                          <p class="text-sm text-gray-600 mr-1">數量</p>
                          <input type="number" oninput="this.value = this.value.replace(/[^0-9]/g, '');" class="border border-gray-300 rounded px-1 py-1 border-raduis w-10 text-center" name="qty" value="${sku.qty != null ? sku.qty : '1'}" />
                        </div>
                        <div class="flex items-center gap-x-2 conditional-option transition-all">
                          <p class="text-sm text-gray-600 mr-1">物品缺貨時替補</p>
                          <label class="switch">
                            <input type="hidden" name="is_auto_replace">
                            <input id="overlay" type="checkbox" ${sku.is_auto_replace == "Y" ? "checked" : ""}>
                            <span class="slider"></span>
                          </label>
                        </div>
                        <div class="flex items-center gap-x-2 conditional-option transition-all">
                          <p class="text-sm text-gray-600 mr-1">可作為選項</p>
                          <label class="switch">
                            <input type="hidden" name="is_client_optional">
                            <input id="overlay" type="checkbox" ${sku.is_client_optional == "Y" ? "checked" : ""}>
                            <span class="slider"></span>
                          </label>
                        </div>
                        <div class="flex items-center gap-x-2 conditional-option transition-all">
                          <p class="text-sm text-gray-600 mr-1">作為選項額外價格</p>
                          <input type="number" class="border border-gray-300 rounded px-1 py-1 border-raduis w-20" name="additional_price" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" value="${sku.additional_price != null ? sku.additional_price : '0'}"/>
                        </div>
                       </div>
               
                        <div class="flex items-center gap-x-2">
                          <p class="text-sm text-gray-600 mr-1">備註</p>
                          <input type="text" class="border border-gray-300 rounded px-3 py-1 border-raduis flex-grow" name="remarks" value="${sku.item_remarks != null ? sku.item_remarks : ''}" />
                        </div>
             
                      </div>
                      <button class="ml-3 remove-indi-item-sku-in-group bg-gray-200 text-gray-700 py-2 px-2 rounded font-bold inline-flex gap-x-2 hover:text-white hover:bg-red-500 transition-all items-center"><i class="ri-delete-bin-line"></i><span>刪除</span></button>
                    </div>`;
              }
              itemGroupEditPanelSummon(_d);
              function itemGroupEditPanelSummon(_d) {
                var _d = _d;
                if (_d == null) {
                  _d = {
                    item_list: [],
                  };
                }
                //main item group editor
                $vkmodal({
                  fullScreen: false,
                  tapBackgroundToClose: true,
                  area: "overflow-y-hidden h-full",
                  content: `<div class="w-screen-90 max-w-screen-lg rounded h-full overflow-y-hidden flex flex-col" style="font-family:sans-serif">
                <div class="text-2xl font-bold pt-4 pb-4 px-4  border-b border-gray-200 flex items-center"><span>${operationCase == "create" ? "新增物品組合" : ""}${operationCase == "edit" ? "編輯物品組合" : ""}${operationCase == "copy" ? "複製物品組合" : ""}</span>
                    <button class="vk-modal-close inline-flex w-12 h-12 items-center justify-center bg-gray-200 text-gray-500 text-2xl ml-auto rounded"><i class="ri-close-line"></i></button></div>
                <div class="related-item-list-js divide-y divide-gray-200 overflow-y-auto h-full bg-gray-100">
                  <div class="grid grid-cols-2 gap-x-4 px-6 gap-y-2 pt-3 pb-3 border-b border-gray-200 bg-white">
                    <div>
                      <label class="block text-sm font-bold text-gray-700">組合名稱</label>
                      <input type="text" placeholder="物品組合名稱" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="adm_name" value="${_d.adm_name != null ? _d.adm_name.trim() : ""}">
                    </div>
                    <div>
                      <label class="block text-sm font-bold text-gray-700">副名</label>
                      <input type="text" placeholder="副名" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="alias" value="${_d.alias != null ? _d.alias.trim() : ""}">
                    </div>
                    <div>
                      <label class="block text-sm font-bold text-gray-700">內部顯示名稱（中文）</label>
                      <input type="text" placeholder="物品組合名稱" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="inhouse_name_tc" value="${_d.inhouse_name_tc != null? _d.inhouse_name_tc.trim(): ""}">
                    </div>
                    <div>
                      <label class="block text-sm font-bold text-gray-700">內部顯示名稱（英文）</label>
                      <input type="text" placeholder="副名" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="inhouse_name_en" value="${_d.inhouse_name_en != null? _d.inhouse_name_en.trim(): ""}">
                    </div>
                    <div>
                      <label class="block text-sm font-bold text-gray-700">The Gift物品組合名稱（中文）</label>
                      <input type="text" placeholder="The Gift物品組合名稱（中文）" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="gift_name_tc" value="${_d.gift_name_tc != null ? _d.gift_name_tc.trim() : ""}">
                    </div>
                    <div>
                      <label class="block text-sm font-bold text-gray-700">The Gift物品組合名稱（英文）</label>
                      <input type="text" placeholder="The Gift物品組合名稱（英文）" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="gift_name_en" value="${_d.gift_name_en != null ? _d.gift_name_en.trim() : ""}">
                    </div>
                    <div>
                      <label class="block text-sm font-bold text-gray-700">Little Zuri物品組合名稱（中文）</label>
                      <input type="text" placeholder="Little Zuri物品組合名稱（中文）" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="zuri_name_tc" value="${_d.zuri_name_tc != null ? _d.zuri_name_tc.trim() : ""}">
                    </div>
                    <div>
                      <label class="block text-sm font-bold text-gray-700">Little Zuri物品組合名稱（英文）</label>
                      <input type="text" placeholder="Little Zuri物品組合名稱（英文）" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="zuri_name_en" value="${_d.zuri_name_en != null ? _d.zuri_name_en.trim() : ""}">
                    </div>
                    <div>
                      <label class="block text-sm font-bold text-gray-700">LoTaiPo 物品組合名稱（中文）</label>
                      <input type="text" placeholder="LoTaiPo 物品組合名稱（中文）" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="ltp_name_tc" value="${_d.ltp_name_tc != null ? _d.ltp_name_tc.trim() : ""}">
                    </div>
                    <div>
                      <label class="block text-sm font-bold text-gray-700">LoTaiPo 物品組合名稱（英文）</label>
                      <input type="text" placeholder="LoTaiPo 物品組合名稱（英文）" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="ltp_name_en" value="${_d.ltp_name_en != null ? _d.ltp_name_en.trim() : ""}">
                    </div>
                  </div>
                  <div class=" px-4 pt-2 overflow-x-hidden">
                    <div class="item-list-act-js flex flex-col gap-y-2 ">${_d.item_list? _d.item_list.map(function (sku, skuIndex) {return indiSku(sku);}).join(""): ""}</div>
                    <div class="text-center py-4">
                      <button class="bg-blue-500 font-bold text-white rounded-lg text-lg py-3 px-6 inline-flex gap-x-3 hover:opacity-75 transition-all item-sku-adder-js-lower"><i class="ri-add-circle-line"></i><span>新增物品</span></button>
                    </div>
                  </div>
                </div>
                <div class="bg-white py-3 px-4 flex items-center border-t border-gray-200">
                  <button class=" ml-auto bg-blue-500 text-white font-bold rounded-lg py-3 px-6 text-lg save-item-group" data-id="${_d.item_id}">${operationCase == "create" ? "創建組合" : ""}${operationCase == "edit" ? "儲存" : ""}${operationCase == "copy" ? "複製組合" : ""}</button>
                </div>
            </div>`,
                  mounted: function ($elem) {
                    console.log($elem);
                    //enable drag an drop
                    $elem.find(".item-list-act-js").dad({
                      draggable: ".draggable-handler",
                    });

                    //delete indi sku
                    $(document)
                      .off("click", ".remove-indi-item-sku-in-group")
                      .on(
                        "click",
                        ".remove-indi-item-sku-in-group",
                        function () {
                          var $this = $(this);
                          $this.closest(".indi-sku-display-in-js").remove();
                        }
                      )
                      //search item for add
                      .off("click", ".item-sku-adder-js-lower")
                      .on("click", ".item-sku-adder-js-lower", function (e) {
                        var $itemListContainer = $(".item-list-act-js");

                        $vkmodal({
                          fullScreen: false,
                          tapBackgroundToClose: true,
                          area:
                            "overflow-y-hidden  my-12 sm:w-full  h-screen-80 sm:max-w-screen-sm sm:max-h-screen-sm ",
                          content: `<div class="flex flex-col h-full w-full overflow-hidden" style="font-family:sans-serif">
                      <div class="flex items-center px-4 py-3 border-b border-gray-300">
                        <h3 class="text-xl font-bold">增加物品</h3>
                        <div class="border border-gray-300 rounded-lg flex items-center flex-grow mx-3">
                          <i class="ri-search-line text-xl text-gray-500 ml-3"></i>
                          <input class="bg-transparent py-2 px-3 w-full js-search-item-to-add-input"/>
                        </div>
                        <button class="bg-gray-200 text-gray-500 text-xl rounded  vk-modal-close w-10 h-10 inline-flex items-center justify-center"><i class="ri-close-line"></i></button>
                      </div>
                      <div class="bg-gray-100 flex-grow js-search-item-to-add-input-result overflow-y-auto relative"></div>
                    </div>`,
                          mounted: function ($elem) {
                            //force focus input
                            $(".js-search-item-to-add-input").focus();

                            $elem
                              .find(".js-search-item-to-add-input")
                              .on("input", function (e) {
                                var $container = $elem.find(
                                  ".js-search-item-to-add-input-result"
                                );
                                $container.html(
                                  `<div class="absolute top-0 left-0 right-0 bottom-0 m-auto inline-flex w-24 h-24 items-center justify-center opacity-30"><svg class="animate-spin -ml-1 mr-3 h-12 w-12 text-grey-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path></svg></div>`
                                );
                                var $this = $(this);
                                if ($this.val().trim() == "") {
                                  $container.html("");
                                  return false;
                                }
                                $.bajax({
                                  url:
                                    "/admin/item/api/getAllItemList?skey=" +
                                    $this.val(),
                                  method: "POST",
                                  formElement: "N",
                                  callback: function (data) {
                                    if (data.code == 0) {
                                      if (data.result.length > 0) {
                                        var _d = data.result;

                                        function indiSkuSearchResult(sku,skuIndex) {
                                          return `
                                            <div class="bg-white rounded shadow-lg border border-gray-200 flex items-center px-2 py-1">
                                              <img src="${sku.item_img}" class="w-16 h-16 border border-gray-200 rounded bg-gray-400" onerror="this.src='/img/img.png'"/>
                                              <div class="ml-2">
                                                <div class="font-bold text-sm text-gray-500 leading-tight">供應商：${sku.supplier.name_tc}</div>
                                                <div class="text-lg font-bold">${sku.inhouse_name_tc}${sku.various_list.length > 0? `(${sku.various_list.map(function (_var,_varIndex) {return `${_var.name_tc}`;}).join(", ")})`: ``}</div>
                                                <div class="text-sm text-gray-500">${sku.sku}</div>
                                              </div>
                                              <div class="text-gray-600 font-bold leading-tight ml-4">成本 : $${sku.cost}（可用存貨：${sku.ava_qty}）</div>
                                              <button data-index="${skuIndex}" class="vk-modal-close ml-auto inline-flex items-center gap-x-2 bg-blue-500 text-white font-bold rounded px-6 py-2 text-lg add-indi-item-sku-into-group"><i class="ri-add-circle-line"></i><span>添加</span></button>
                                            </div>
                                            `;
                                        }

                                        $container.html(`
                                          <div class="py-3 font-bold text-gray-600 px-3">共有 ${data.result.length} 個搜尋結果 : </div>
                                          <div class="flex flex-col gap-y-2 px-3 pb-2">${_d.map(function (sku, skuIndex) {return indiSkuSearchResult(sku,skuIndex);}).join("")}
                                      </div>
                                    `);

                                        $(document)
                                          .off("click",".add-indi-item-sku-into-group")
                                          .on("click",".add-indi-item-sku-into-group",function (e) {
                                              var $this = $(this);
                                              $(".item-list-act-js").append(
                                                indiSku({
                                                  item_id:_d[$this.data().index].item_id,
                                                  qty: 1,
                                                  item: _d[$this.data().index],
                                                })
                                              );
                                            }
                                          );
                                      } else {
                                        $container.html(`
                                      <div class="flex flex-col gap-y-2 px-3 items-center justify-center text-gray-400 text-center h-full text-2xl">
                                       沒有搜尋結果
                                      </div>
                                    `);
                                      }
                                    } else {
                                    }

                                    console.log(data);
                                  },
                                });
                              });
                          },
                        });
                        // $.bajax({
                        //   url: "/admin/item/api/getItemGroupDtl?grp_id=" + $this.data().id,
                        //   method: "POST",
                        //   formElement: "N",
                        //   callback: function (data) {}
                        // })
                      })
                      //save or publish item group
                      .off("click", ".save-item-group")
                      .on("click", ".save-item-group", async function (e) {
                        $loader = await globalLoader();
                        globalLoader($loader);

                        var submitJson = {
                          grp_id: operationCase == "edit" ? _d.grp_id : "0",
                          adm_name: $elem.find('[name="adm_name"]').val(),
                          alias: $elem.find('[name="alias"]').val(),
                          inhouse_name_tc: $elem.find('[name="inhouse_name_tc"]').val(),
                          inhouse_name_en: $elem.find('[name="inhouse_name_en"]').val(),
                          gift_name_tc: $elem.find('[name="gift_name_tc"]').val(),
                          gift_name_en: $elem.find('[name="gift_name_en"]').val(),
                          zuri_name_tc: $elem.find('[name="zuri_name_tc"]').val(),
                          zuri_name_en: $elem.find('[name="zuri_name_en"]').val(),
                          ltp_name_tc: $elem.find('[name="ltp_name_tc"]').val(),
                          ltp_name_en: $elem.find('[name="ltp_name_en"]').val(),
                          is_tpl: 'Y',
                          item_json: [],
                        };

                        //start to calculate item sets
                        $elem
                          .find(".item-list-act-js .indi-sku-display-in-js")
                          .each(function (itemIndex, item) {
                            submitJson.item_json.push({
                              item_id: $(item).find('input[name="item_id"]').val(),
                              qty: $(item).find('input[name="qty"]').val(),
                              is_client_optional: $(item).find('input[name="is_client_optional"]').closest(".switch").find('input[type="checkbox"]').is(":checked")? "Y": "N",
                              additional_price: $(item).find('input[name="additional_price"]').val(),
                              is_auto_replace: $(item).find('input[name="is_auto_replace"]').closest(".switch").find('input[type="checkbox"]').is(":checked")? "Y": "N",
                              remarks: $(item).find('input[name="remarks"]').val(),
                            });
                          });

                        var $this = $(this);
                        submitJson.item_json = JSON.stringify(
                          submitJson.item_json
                        );

                        $.bajax({
                          url: "/admin/item/api/editItemGrp",
                          method: "POST",
                          formElement: "N",
                          data: submitJson,
                          callback: function (data) {
                            globalLoader($loader);
                            if (data.code == 0) {
                              infoPopup();
                              killVkmodal($elem.data().vkmodalId);
                              getItemGroupList();
                            }
                          },
                        });
                      });
                  },
                });
              }
            } else {
              globalErrorReturn(data);
            }
          },
          errorCallback: function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR);
          },
        });
        //globalLoader($loader);
        return false;
      }
    )
    //
    // delete item group button clicked
    //
    .on("click", ".remove-item-group", function () {
      var $this = $(this);
      vkAlert({
        title: "剷除物品組合",
        content: `確認剷除物品組合<b>${$this.closest(".indi-item-group-list-js-dom").find(".group-main-title-js").text()}</b>嗎？`,
        confirmButtonHtml: "確認剷除",
        confirmButtonHtmlClass: "bg-red-500 text-white",
        confirmButtonFunction: function () {
          $.bajax({
            url: "/admin/item/api/delItemGroup?grp_id=" + $this.data().id,
            method: "POST",
            formElement: "N",
            callback: function (data) {
              globalLoader($loader);
              if (data.code == 0) {
                infoPopup('成功移除物品組合', '成功移除物品組合')
                getItemGroupList();
              } else {
                globalErrorReturn(data);
              }
            },
            errorCallback: function (jqXHR, textStatus, errorThrown) {
              console.log(jqXHR);
            },
          });
        },
        cancelButtonHtml: "取消",
      });
    })
    //
    // searching
    //
    .on("change", "#item-group-searcher", function(){
      getItemGroupList();
    });
</script> 
{/literal}
