<div class="sortable grid grid-cols-4 auto-rows-auto gap-5">

    {foreach from=$result_array.productList key=k item=i}
    <div class="product">
        <img src="{$i.img.0.img}">
        <div class="truncate">{$i.product_name_tc}</div>
    </div>
    {/foreach}
</div>

<script>
{literal}
$(document).ready(function(){
    $(".sortable").sortable({
        animation: 150,
        onUpdate: async function(e){
            console.log("AAAA");
            // nav_id_arr = [];
            // $(".navItem").each(function(){
            //     nav_id_arr.push($(this).attr("data-nav_id"));
            // });

            // $loader = await globalLoader();
            // e.preventDefault();
            // $.bajax({
            //     url: "admin/page/api/sortNav",
            //     method: 'POST',
            //     data: {
            //         nav_id_arr: nav_id_arr.toString(),
            //         shop_id: shop_id
            //     },
            //     callback: function(data) {
            //         globalLoader($loader);
            //         if (!data.code == 0){
            //             globalErrorReturn(data)
            //         } else {
            //             // location.reload(); //   production use
            //         }
            //     },
            //     errorCallback: function(jqXHR, textStatus, errorThrown) {
            //         console.log(jqXHR);
            //     },
            // });
        }
    })
});
{/literal}
</script>
