<script src="https://cdn.tiny.cloud/1/68fu0z5t4y9y8al1jtldxgili6iop0dak2gdwjtl9jp7hlz7/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<div class="flex flex-col px-4 lg:px-10 my-4">
    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">產品範本管理: {if $result_array.productTplDtl.tpl_id}{$result_array.productTplDtl.adm_name}{else}新增產品範本{/if}</div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg py-2 w-full">    
        <form id="edit_form" action="/admin/product/api/editProductTpl" method="post" class="p-2 lg:p-8 ">
            <input name="shop_id" type="hidden" value="{$shop_id}" readonly> 
            <input name="tpl_id" type="hidden" value="{if $result_array.productTplDtl.tpl_id}{$result_array.productTplDtl.tpl_id}{else}0{/if}" readonly> 
            <div class="grid lg:grid-cols-2 gap-x-2 gap-y-8 w-full">
                
                <div>
                    <div class="text-sm text-gray-600 pb-2">名稱<span class="text-xs text-gray-400">(只在後台顯示)</span></div>
                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="adm_name" type="text" value="{$result_array.productTplDtl.adm_name}"> 
                </div>

                <div>
                    <div class="text-sm text-gray-600 pb-2">標準利潤率</div>
                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="markup" type="number" value="{$result_array.productTplDtl.markup}"> 
                </div>                

                <div>
                    <div class="text-sm text-gray-600 pb-2">標準送貨資料(中文)</div>
                    <textarea class="border-2 border-gray-300 tinymce w-full" name="deli_msg_tc">{$result_array.productTplDtl.deli_msg_tc}</textarea>
                </div>
                
                <div>
                    <div class="text-sm text-gray-600 pb-2">標準送貨資料(英文)</div>
                    <textarea class="border-2 border-gray-300 tinymce w-full" name="deli_msg_en">{$result_array.productTplDtl.deli_msg_en}</textarea>
                </div>

                <div>
                    <div class="text-sm text-gray-600 pb-2">標準詳細資料(中文)</div>
                    <textarea class="border-2 border-gray-300 tinymce w-full" name="info_msg_tc">{$result_array.productTplDtl.info_msg_tc}</textarea>
                </div>
                
                <div>
                    <div class="text-sm text-gray-600 pb-2">標準詳細資料(英文)</div>
                    <textarea class="border-2 border-gray-300 tinymce w-full" name="info_msg_en">{$result_array.productTplDtl.info_msg_en}</textarea>
                </div>

            </div>

            <div class="flex w-full items-center justify-center mt-8">
                <input type="submit" class="px-6 py-1 bg-blue-500 text-white rounded-full cursor-pointer hover:opacity-70" value="提交"> 
            </div>
        </form>
    </div>
</div>
 
{literal}
<script>
$(document).ready(function(){
    try{
        tinymce.init({
            language: 'zh_TW',
            content_css: "/css/tailwind.css, /css/global.css?v=2",
            language_url: '/adminA/js/tinymce/langs/zh_TW.js',
            selector: '.tinymce',
            width : 'full',
            menubar: false,
            plugins: ["link image emoticons textcolor fullscreen code table paste preview",],
            paste_data_images: true,
            paste_merge_formats: true,
            images_upload_url: '/admin/product/api/uploadImg',
            paste_word_valid_elements: "b,strong,i,em,h1,h2",
            paste_webkit_styles: "color font-size",
            paste_retain_style_properties: "color font-size",
            paste_convert_word_fake_lists: true,
            inline_styles : false,
            cleanup_on_startup : true,
            fix_list_elements : false,
            fix_nesting : false,
            fix_table_elements : false,
            paste_use_dialog : true,
            paste_auto_cleanup_on_paste : true,
            images_upload_handler: function (blobInfo, success, failure) {
                var xhr, formData;
                xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', '/admin/product/api/uploadImg');
                xhr.onload = function() {
                    var json;
                    if (xhr.status != 200) {
                        failure('HTTP Error: ' + xhr.status);
                        return;
                    }
                    json = JSON.parse(xhr.responseText);
                    if(json.code!='0'){
                        failure(json.msg);
                        return;
                    } else {
                        if (!json || typeof json.result.img_path != 'string') {
                            failure(json.result.error);
                            return;
                        }
                        success("/" + json.result.img_path);
                    }
                };
                formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.filename());
                xhr.send(formData);
            },
            toolbar: 'undo redo | formatselect | forecolor backcolor | bold italic underline | alignleft aligncenter alignright | fontsizeselect | link image fullscreen | emoticons | removeformat code | table tabledelete | tableprops tablerowprops tablecellprops | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol | preview | customButton priceOfCounctry',
            toolbar_mode: 'sliding',
            theme_advanced_buttons3_add : "preview",
            plugin_preview_width : "500", // working!
            plugin_preview_height : "600", // working!
        });
    } catch(e){
        console.log(e);
        // do nothing, select mode
    }
   
    $("#edit_form").submit(async function(e){
        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    infoPopup();
                    if ($("[name=tpl_id]").val() == 0){
                        location.href = "admin/product/productTplDtl?tpl_id=" + data.result.tpl_id;
                    } else {
                        globalLoader($loader);
                    }
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
        })

});
</script>
{/literal}