{literal}
<style>
  .navigation-section {
    background-color: white;
    border-left: 1px solid rgba(209, 213, 219, var(--tw-border-opacity));
    --tw-border-opacity: 1;
  }
#container{
    background-color: #f3f3f3;
}
</style>
<script>
  $(document).ready(function () {
    //body fullscreen controller
    $("body").addClass("max-h-screen overflow-y-hidden");
    $("#main-container-admin").addClass("overflow-y-hidden");

  });
</script>
{/literal}


<script src="https://cdn.tiny.cloud/1/68fu0z5t4y9y8al1jtldxgili6iop0dak2gdwjtl9jp7hlz7/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="/adminA/js/jquery.dad.js"></script>


<div class=""  style="font-family: sans-serif;">
<form id="editProductForm" action="admin/product/api/editProduct" method="post" class="relative border-l border-gray-300">
    <input name="product_id" value="{if $result_array.productDtl.product_id}{$result_array.productDtl.product_id}{else}0{/if}" class="hidden" readonly>
    <div class="flex items-center space-between bg-white border-b border-gray-300 sticky top-0 px-3 z-30">
        <div class="md:flex items-center py-2">

            <div class="mr-10">
                <div class="text-gray-600">編輯產品</div>
                <div class="text-3xl font-bold text-gray-800" style="margin-top:-5px">{$result_array.productDtl.product_name_tc}</div>
            </div>

            
            <div class="md:flex items-center gap-8">
                <!-- <div class="flex flex-row justify-between py-1">
                    <div class="text-gray-600 lg:px-2 flex items-center">顯示中</div>
                    <label class="switch">
                        <input type="hidden" name="show_in_web">
                        <input id="show_in_web" type="checkbox" {if $result_array.productDtl.show_in_web === 'Y'}checked{/if}>
                        <span class="slider"></span>
                    </label>
                </div> -->

                <div class="flex gap-2 items-center">
                    <div class="text-gray-600 tooltip">於全部產品顯示
                        <span class="tooltiptext w-32 px-2 py-1 bottom">如果沒有剔選於網站顯示，將不會顯示全部產品中。</span>
                    </div>
                    <label class="switch">
                        <input type="hidden" name="display_in_cate">
                        <input id="display_in_cate" type="checkbox" {if $result_array.productDtl.display_in_cate === 'Y'}checked{/if}>
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="flex gap-2 items-center">
                    <div class="text-gray-600 whitespace-nowrap flex items-center">產品狀態</div>
                    <select name="sales_status" class="border border-gray-300 py-2 px-1 rounded w-full">
                        <option value="10_to_be_confirm" {if $result_array.productDtl.sales_status == '10_to_be_confirm'}selected{/if}>待確定</option>
                        <option value="20_not_for_sale" {if $result_array.productDtl.sales_status == '20_not_for_sale'}selected{/if}>下架中</option>
                        <option value="25_schdeuled_sale" {if $result_array.productDtl.sales_status == '25_schdeuled_sale'}selected{/if}>即將發售</option>
                        <option value="30_on_sale" {if $result_array.productDtl.sales_status == '30_on_sale'}selected{/if}>上架中</option>
                        <option value="40_out_of_stock" {if $result_array.productDtl.sales_status == '40_out_of_stock'}selected{/if}>缺貨中</option>
                    </select>
                </div>

                <div class="flex gap-2 items-center">
                    <div class="text-gray-600 text-sm tooltip whitespace-nowrap">發佈日期排程
                        <span class="tooltiptext px-4 py-1">
                            此日期後, 此產品將會自動變更成<b>上架中</b>
                        </span>
                    </div>
                    {if $result_array.productDtl.sales_status == '25_schdeuled_sale'}
                        <input type="date" name="publish_date" class="w-full border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" value="{$result_array.productDtl.publish_date}">
                    {else}
                        <input type="date" name="publish_date" class="bg-gray-100 text-gray-500 cursor-not-allowed w-full border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" value="" readonly>
                    {/if}
                </div>

                <div class="flex gap-2 items-center">
                    <div class="text-gray-600 whitespace-nowrap flex items-center">前台狀態: <strong>{if $result_array.productDtl.frontend_status == "10_dont_show"}不顯示{else if $result_array.productDtl.frontend_status=="40_out_of_stock"}顯示為缺貨中{else if $result_array.productDtl.frontend_status== "30_on_sales"}顯示(正常出售){/if}</strong></div>
                </div>

            </div>
        </div>
        <div class="flex items-center ml-auto gap-4">
            <a class="btn_preview text-sm border border-gray-300 py-2 px-2 rounded ml-2 hover:opacity-75 transition-all font-bold">預覽</a>
            <input type="submit" class="px-16 py-2 bg-blue-500 text-white text-xl rounded-full my-4 cursor-pointer hover:opacity-80 font-bold" value="儲存">
        </div>
    </div>

    <input name="shop_id" type="hidden" value="{$shop_id}">
    <input name="product_img_path_arr" type="hidden">
    <!-- main container for lower section-->
    <div class="px-6 pt-3">
        <!-- 產品顯示資訊 main -->
    <div class="lg:flex tag_content mb-4">
        <div class="flex flex-col lg:mr-4 lg:w-2/3 gap-3">
            <div class="bg-white  rounded-lg shadow-lg ">
                <div class="flex flex-row p-4 py-4 items-center">
                    <div class="text-2xl text-gray-800 font-bold">產品資訊</div>
                    <div class="ml-auto text-right">
                        <div class="text-sm font-bold text-gray-600 mb-2">
                            範本將會影響送貨安排資料, 額外資料, 標準利潤
                        </div>
                        <select name="product_tpl_id" class="border border-gray-300 py-1 px-1 rounded font-bold">
                            <option value="NULL" data-markup="0">-- 未使用 --</option>
                            {foreach from=$result_array.productTplList key=k item=i}
                                <option value="{$i.tpl_id}" {if $result_array.productDtl.product_tpl_id == $i.tpl_id}selected{/if} data-markup="{$i.markup}">{$i.adm_name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
        
                <div class="grid grid-cols-2 gap-2 w-full px-6 pb-6 border-b-2 border-gray-300">
                    {if $result_array.src_product_id_arr}
                    <input type="hidden" name="src_product_id_arr" value="{$result_array.productDtl.src_product_id_arr}">
                    <div class="w-full p-2">
                        <div class="text-sm text-red-700 pb-2">此產品是組合產品,並由以下產品組成</div>
                        <ol>
                            {foreach from=$result_array.srcProductDtl key=l item=i}
                            <li>
                                <a href="admin/product/productDtl?product_id={$i.product_id}">{$i.product_name_tc} ({$i.product_code})</a>
                            </li>
                            {/foreach}
                        </ol>
                    </div>
                    {/if}
                    
                    <div class="col-span-2">
                        <div class="text-sm text-gray-700 mb-2">產品編碼</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="product_code" type="text" value="{$result_array.productDtl.product_code}">
                    </div>
                
                    <div>
                        <div class="text-sm text-gray-700 mb-2">中文名稱</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="product_name_tc" type="text" value="{if $result_array.skuDtl}{$result_array.skuDtl.name_tc}{else}{$result_array.productDtl.product_name_tc}{/if}">
                    </div>
                
                    <div>
                        <div class="text-sm text-gray-700 mb-2">英文名稱</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="product_name_en" type="text" value="{if $result_array.skuDtl}{$result_array.skuDtl.name_en}{else}{$result_array.productDtl.product_name_en}{/if}">
                    </div>

                    <div>
                        <div class="text-sm text-gray-700 mb-2">啟用新產品標記</div>
                        <label class="switch">
                            <input type="hidden" name="is_new">
                            <input id="is_new" type="checkbox" {if $result_array.productDtl.is_new === 'Y'}checked{/if}>
                            <span class="slider"></span>
                        </label>
                    </div>

                    <div class="grid grid-cols-2 gap-x-2">
                        <div>
                            <div class="text-sm text-gray-700 mb-2">右上角產品標籤 (中文)</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="product_tag_tc" type="text" value="{$result_array.productDtl.product_tag_tc}">
                        </div>
                        <div>
                            <div class="text-sm text-gray-700 mb-2">右上角產品標籤 (英文)</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="product_tag_en" type="text" value="{$result_array.productDtl.product_tag_en}">
                        </div>
                    </div>

                    <div class="grid grid-cols-2 gap-x-2">
                        <div>
                            <div class="text-sm text-gray-700 mb-2">左下角產品標籤 (中文)</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="bottom_product_tag_tc" type="text" value="{$result_array.productDtl.bottom_product_tag_tc}">
                        </div>
                        <div>
                            <div class="text-sm text-gray-700 mb-2">左下角產品標籤 (英文)</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="bottom_product_tag_en" type="text" value="{$result_array.productDtl.bottom_product_tag_en}">
                        </div>
                    </div>

                    <div class="grid grid-cols-2 gap-x-2">
                        <div>
                            <div class="text-sm text-gray-700 mb-2">右下角產品標籤 (中文)</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="bottom_product_tag_2_tc" type="text" value="{$result_array.productDtl.bottom_product_tag_2_tc}">
                        </div>
                        <div>
                            <div class="text-sm text-gray-700 mb-2">右下角產品標籤 (英文)</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="bottom_product_tag_2_en" type="text" value="{$result_array.productDtl.bottom_product_tag_2_en}">
                        </div>
                    </div>
                    
                   
                </div>
        
                <div class="flex flex-col w-full px-6">
                    <div class="flex flex-col mx-2 mt-3">
                        <div class="flex items-center">
                            <div class="text-2xl text-gray-800 font-bold">產品圖片</div>
                            <!-- <label for="input_product_img" class="ml-4 px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full cursor-pointer text-sm">按此上載圖片</label> -->
                            <div class="text-sm text-gray-700 py-1 ml-4">建議尺寸 600px x 600px</div>
                        </div>
                    </div>
                    <div class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-3 py-4 mb-4 w-full sort_wrapper" id="product_img_container">
                        
                        {foreach from=$result_array.productDtl.img key=k item=i}
                        <div class="w-36 h-36 relative object-center border-4 rounded-lg product_img" data-map_id="{$i.map_id}">
                            <div class="absolute btn_del_img top-1 left-1 cursor-pointer z-20"><i class="ri-close-line"></i></div>
                            <img src="{$i.img}" class="h-full w-full object-contain">
                        </div>
                        {/foreach}
    
                        <label for="input_product_img" class="bg-gray-200 flex items-center w-36 h-36 relative object-center border-4 rounded-lg product_img cursor-pointer">
                            <div class="text-center w-full">
                                <i class="ri-add-line text-2xl"></i>
                                <div class="font-bold text-gray-600 whitespace-nowrap text-xl">增加圖片</div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-lg">
                <div class="flex flex-row p-4 py-4 items-center">
                    <div class="text-2xl text-gray-800 font-bold">
                        無視缺貨繼續出售
                        <span class="text-sm text-gray-400 font-normal">
                            啟用此選項後, 如果在此時間內下單此產品, 將不會理會缺貨狀態, 客戶能照常下單。另外, 如沒有設定時段, 將會適用於所有時段。
                        </span>
                    </div>
                </div>
        
                <div class="w-full px-6 pb-6 border-b-2 border-gray-300">
                    <div class="flex gap-8 flex-wrap">
                        <div class="flex-0">
                            <div class="text-sm text-gray-700 mb-2">啟用</div>
                            <div>
                                <label class="switch">
                                    <input type="hidden" name="is_force_checkout">
                                    <input id="is_force_checkout" type="checkbox" {if $result_array.productDtl.is_force_checkout === 'Y'}checked{/if}>
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </div>
                        <div class="flex-1">
                            <div class="text-gray-700 text-sm mb-2">開始時段</div>
                            <input type="date" name="force_checkout_start_date" class="w-full border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" value="{$result_array.productDtl.force_checkout_start_date}">
                        </div>
                        <div class="flex-1">
                            <div class="text-gray-700 text-sm mb-2">結束時段</div>
                            <input type="date" name="force_checkout_end_date" class="w-full border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" value="{$result_array.productDtl.force_checkout_end_date}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col lg:w-1/3 gap-y-3">
            <!-- 產品分類 -->
            <div class="flex flex-col bg-white rounded-lg shadow-lg px-6 py-4">
                <div class="flex flex-row my-2 items-center">
                    <div class="text-gray-800 text-2xl font-bold">產品分類</div>
                    <div class="ml-auto flex items-center border px-6 btn_add_cate cursor-pointer hover:opacity-50">
                        編輯
                        <i class="ri-edit-line text-gray-600 text-xl ml-2 "></i>
                    </div>
                </div>
                <input name="cate_id_arr" type="hidden" class="hidden" value="">

                <div class="cateList_wrapper flex flex-wrap">
                    {foreach from=$result_array.productDtl.cate key=k item=i}
                    <div class="bg-blue-600 text-white px-6 py-2 rounded-full mr-2 my-1 cate_chose flex items-center" data-cate_id={$i.cate_id}>
                        {$i.name_tc}
                        <i class="text-blue-200 ri-close-line ml-2 btn_del_cate cursor-pointer text-lg hover:opacity-50"></i>
                    </div>
                        {foreach from=$i.subcate key=kk item=ii}
                        <div class="bg-blue-600 text-white px-6 py-2 rounded-full mr-2 my-1 cate_chose flex items-center" data-cate_id={$ii.cate_id}>
                            {$ii.name_tc}
                            <i class="text-blue-200 ri-close-line ml-2 btn_del_cate cursor-pointer text-lg hover:opacity-50"></i>
                        </div>
                        {/foreach}
                    {/foreach}
                </div>
            </div>

            <!-- 祝賀語 -->
            <div class="flex flex-col bg-white rounded-lg shadow-lg px-6 py-4">
                <div class="my-2 items-center">
                    <div class="text-gray-800 text-2xl font-bold">祝賀語組合款</div>
                    <div class="mt-2">
                        <select class="selectize w-full rounded " name="greeting_group_id">
                            <option value="NULL">-- 不適用 --</option> 
                            {foreach from=$result_array.greeting_group_list item=i}
                            <option value="{$i.greeting_group_id}" {if $i.greeting_group_id == $result_array.productDtl.greeting_group_id}selected="selected"{/if}>{$i.name_tc}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
            </div>

            <!-- 祝賀卡款式 -->
            <div class="flex flex-col bg-white rounded-lg shadow-lg px-6 py-4">
                <div class="my-2 items-center">
                    <div class="text-gray-800 text-2xl font-bold">祝賀卡組合</div>
                    <div class="mt-2">
                        <select class="selectize w-full rounded " name="card_group_id">
                            <option value="NULL">-- 不適用 --</option> 
                            {foreach from=$result_array.card_group_list item=i}
                            <option value="{$i.card_group_id}" {if $i.card_group_id == $result_array.productDtl.card_group_id}selected="selected"{/if}>{$i.name_tc}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
            </div>

            <!-- 附加產品 -->
            <div class="flex flex-col bg-white rounded-lg shadow-lg px-6 py-4">
                <div class="my-2 items-center">
                    <div class="text-gray-800 text-2xl font-bold">附加產品組合</div>
                    <div class="mt-2">
                        <select class="selectize w-full rounded " name="addon_group_id">
                            <option value="NULL">-- 不適用 --</option> 
                            {foreach from=$result_array.addon_group_list item=i}
                            <option value="{$i.addon_group_id}" {if $i.addon_group_id == $result_array.productDtl.addon_group_id}selected="selected"{/if}>{$i.inhouse_name_tc}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 產品內容及計價 -->
    <div class="lg:flex item-center tag_content mb-4 w-full">
        <div class="flex flex-col lg:mr-4 lg:w-4/6 lg:mb-0 mb-4">

            <div class="bg-white rounded-lg shadow-lg">
    
                {if $result_array.productDtl.src_product_id_arr}
                <div class=" p-4 lg:px-10 lg:pt-8">
                    <input type="hidden" name="src_product_id_arr" value="{$result_array.productDtl.src_product_id_arr}">
                    <div class="w-full p-2">
                        <div class="text-sm text-red-700 pb-2">此產品是組合產品,並由以下產品組成，產品內容不能更改。</div>
                        <ol>
                            {foreach from=$result_array.productDtl.srcProductDtl key=l item=i}
                            <li>
                                <a href="admin/product/productDtl?product_id={$i.product_id}">{$i.product_name_tc} ({$i.product_code})</a>
                            </li>
                            {/foreach}
                        </ol>
                    </div>
                </div>
                {/if}
                <input name="item_json" type="hidden">
                <div class="flex items-center py-4 px-6">
                    <div class="text-2xl text-gray-800 font-bold">產品內容</div>
                    <div class="btn_product_item ml-4 px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full cursor-pointer">增加產品內容</div>
                    <!-- <div class="btn_log_view ml-4 px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full cursor-pointer">查看產品修改紀錄</div> -->
                </div>
                <div id="itemList_container" class="flex flex-col gap-y-2 py-2 overflow-y-auto border-t border-gray-300 bg-gray-100 px-3">
                   
                </div>
            </div>
        </div>
        <!-- 計價部份 --> 
        <div class="flex flex-col lg:w-2/6">
            <div class="bg-white rounded-lg shadow-lg mb-4 text-xl font-bold">
                <div class="grid grid-cols-2 border-b px-8 py-4">
                    <div class="text-2xl text-gray-900">產品計價</div>
                    <div class="text-right">
                        <div class="text-sm text-gray-600 mb-2">
                            範本將會影響送貨安排資料, 額外資料, 標準利潤
                        </div>
                        <select name="product_tpl_id" class="border border-gray-300 py-1 px-1 rounded text-sm">
                            <option value="NULL" data-markup="0">-- 未使用 --</option>
                            {foreach from=$result_array.productTplList key=k item=i}
                                <option value="{$i.tpl_id}" {if $result_array.productDtl.product_tpl_id == $i.tpl_id}selected{/if} data-markup="{$i.markup}">{$i.adm_name} ({$i.markup}%利潤)</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="">成本</div>
                </div>
                <div class="border-b px-8">
                    <div class="flex my-4">
                        <div class=" text-gray-400 flex-0 mr-4">來貨</div>
                        <div class="flex-1"><div class="border-dotted border-b-2 h-1/2" style="border-color:#999;"></div></div>
                        <div class=" text-gray-400 flex-0 ml-4 item_cost">$0</div>
                    </div>
                    <div class="flex my-4">
                        <div class=" text-gray-400 flex-0 mr-4">平台收費({if $result_array.shop.platform_commission}{$result_array.shop.platform_commission}{else}0{/if}%)</div>
                        <div class="flex-1"><div class="border-dotted border-b-2 h-1/2" style="border-color:#999;"></div></div>
                        <div class=" text-gray-400 flex-0 ml-4 std_platform_commission">$0</div>
                    </div>
                    <div class="flex my-4">
                        <div class=" text-gray-400 flex-0 mr-4">銷售員分成</div>
                        <div class="flex-1"><div class="border-dotted border-b-2 h-1/2" style="border-color:#999;"></div></div>
                        <div class=" text-gray-400 flex-0 ml-4 std_commission">$0</div>
                    </div>
                </div>
                <div class="px-8">
                    <div class="flex justify-end my-2">
                        <div class="text-gray-400 mr-4">總成本</div>
                        <div class="ttl_cost">$0</div>
                    </div>
                    <div class="flex flex-col md:flex-row justify-end items-end md:items-center my-2 gap-4">
                        <div class="text-gray-400 whitespace-nowrap">顯示原價</div>
                        <div><input name="price" type="text" value="${if $result_array.productDtl.price}{$result_array.productDtl.price}{else}0{/if}" class="font-bold text-right border border-gray-300 rounded-lg py-1 pl-2 pr-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 w-32" /></div>
                        <div class="text-gray-400 whitespace-nowrap">最終售價</div>
                        <div><input name="sp_price" type="text" value="${if $result_array.productDtl.sp_price}{$result_array.productDtl.sp_price}{else}0{/if}" class="font-bold text-right border border-gray-300 rounded-lg py-1 pl-2 pr-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 w-32" /></div>
                    </div>
                    <div class="flex justify-end items-center my-2 text-gray-400 text-sm">
                        根據標準利潤率(<span class="std_markup">{foreach from=$result_array.productTplList key=k item=i}{if $result_array.productDtl.product_tpl_id == $i.tpl_id}{$i.markup}{/if}{/foreach}%</span>), 建議售價為：<span class="std_suggest_unit_price">$</span>
                    </div>
                </div>
            </div>

            <div>
                <div class="flex items-center py-2">
                <h1 class="text-xl font-bold text-gray-800 mb-2">產品內容修改日誌</h1>
                </div>
                <div class="h-40 overflow-auto bg-gray-800 text-white font-bold px-6 py-4 rounded-lg">
                    {foreach from=$result_array.log_list key=k item=log}     
                    <div class="grid grid-cols-9 items-center">
                        <div class="col-span-3">[{$log.create_datetime}] <span class="text-blue-300">{$log.username}</span></div>
                        {if $log.action == 'update'}
                            <div class="col-span-6 whitespace-nowrap">- {$log.action_display} - {$log.original} => {$log.updated}</div>
                        {else if $log.action == "add"}
                            <div class="col-span-6 whitespace-nowrap">- {$log.action_display} - {$log.updated}</div>
                        {else}
                            <div class="col-span-6 whitespace-nowrap">- {$log.action_display} - {$log.original}</div>
                        {/if}
                    </div>
                    {/foreach}


                </div>
            </div>  
        </div>
    </div>

     <!-- 額外詳細資料 -->
     <div class="bg-white flex flex-col tag_content mb-4 rounded-lg w-full shadow-lg">
        <div class="text-2xl text-gray-800 font-bold px-6 py-4">額外詳細資料 <span class="text-xs text-gray-400">(顯示在產品內容之下)</span></div>
        <div class="flex flex-col px-6 mb-4 border-gray-300">
            <div class="text-sm text-gray-600 py-4">只在此產品使用的額外詳細資料 <span class="text-xs text-gray-400">(如果沒有剔選, 將不會顯示)</span></div>
            <label class="switch">
                <input type="hidden" name="cust_info_act">
                <input id="cust_info_act" value='Y' type="checkbox" {if $result_array.productDtl.cust_info_act === 'Y'}checked{/if}>
                <span class="slider"></span>
            </label>
        </div>
        <div class="flex flex-col lg:flex-row w-full gap-4 lg:px-6">
            <div class="flex flex-col  my-4 w-full">
                <div class="text-sm text-gray-600 mb-2">額外詳細資料 (中文)</div>
                <textarea class="border-2 border-gray-300 tinymce" name="cust_info_tc">{$result_array.productDtl.cust_info_tc}</textarea>
            </div>
            <div class="flex flex-col mt-4 mb-16 w-full">
                <div class="text-sm text-gray-600 mb-2">額外詳細資料 (English)</div>
                <textarea class="border-2 border-gray-300 tinymce" name="cust_info_en">{$result_array.productDtl.cust_info_en}</textarea>
            </div>
        </div>
    </div>

    <!-- 送貨安排 -->
    <div class="bg-white flex flex-col tag_content mb-4 rounded-lg w-full shadow-lg">
        <div class="text-2xl text-gray-800 font-bold px-6 py-4 ">送貨安排</div>
        <div class="grid lg:grid-cols-4 gap-4 w-full px-6 pb-6 border-b-2 border-gray-300">
            <div class="">
                <div class="text-sm text-gray-600 pb-4">
                    截單範本
                </div>
                <select name="cutoff_tpl_id" class="border border-gray-300 py-2 px-1 rounded w-full">
                    <option value="">-- 未使用 --</option>
                    {foreach from=$result_array.cutoffTplList key=k item=i}
                        <option value="{$i.cutoff_tpl_id}" {if $result_array.productDtl.cutoff_tpl_id == $i.cutoff_tpl_id}selected{/if}>{$i.adm_name}</option>
                    {/foreach}
                </select>
            </div>
            
            <div class="">
                <div class="text-sm text-gray-600 pb-4">運送條件<a href="admin/product/deliveryGroup" class="text-sm text-blue-700 px-2 flex-none cursor-pointer hover:opacity-80" target="_blank">(按此修改運送條件)</a></div>
                <select name="deli_group_id" class="border border-gray-300 py-2 px-1 rounded w-full">
                    <option value="NULL">--</option>
                    {foreach from=$result_array.deliveryGroupList key=k item=i}
                        <option value="{$i.deli_group_id}" {if $result_array.productDtl.deli_group_id == $i.deli_group_id}selected{/if}>{$i.name_tc}</option>
                    {/foreach}
                </select>
            </div>

            <div class="">
                <div class="text-sm text-gray-700 mb-2 tooltip">
                    需要多少日前下單
                    <span class="tooltiptext px-6 py-2 text-left">
                        <div class="whitespace-nowrap">需要多少日前下單是跟據截單範本，無法個別修改。</div>
                    </span>
                </div>
                {if $result_array.productDtl.cutoff_tpl_id == ""}
                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="ava_b4_day" type="text" value="{$result_array.productDtl.ava_b4_day}">
                {else}
                    <input class="bg-gray-100 text-gray-500 cursor-not-allowed border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="ava_b4_day" type="text" value="{$result_array.productDtl.ava_b4_day}" readonly>
                {/if}
            </div>

            <div class="">
                <div class="text-sm text-gray-700 mb-2 tooltip">
                    截單時間
                    <span class="tooltiptext px-6 py-2 text-left">
                        <div class="whitespace-nowrap">截單時間是跟據截單範本，無法個別修改。</div>
                    </span>
                </div>
                {if $result_array.productDtl.cutoff_tpl_id == ""}
                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="ava_b4_cutoff" type="time" value="{$result_array.productDtl.ava_b4_cutoff}">
                {else}
                    <input class="bg-gray-100 text-gray-500 cursor-not-allowed border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="ava_b4_cutoff" type="time" value="{$result_array.productDtl.ava_b4_cutoff}" readonly>
                {/if}
            </div>
        </div>

        <div class="text-2xl text-gray-800 font-bold px-6 py-4 ">送貨日期
            <span class="text-sm text-gray-400">
                產品只在此段時間送貨
            </span>
        </div>
       
        <div class="w-full px-6 pb-6 border-b-2 border-gray-300">
            <div class="grid grid-cols-4 gap-8">
                <div class="">
                    <div class="text-gray-700 text-sm mb-2">此日期後開始送貨</div>
                    <input type="date" name="delivery_start_date" class="w-full border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" value="{$result_array.productDtl.delivery_start_date}">
                </div>
                
                <div class="">
                    <div class="text-gray-700 text-sm mb-2">此日期前開始送貨</div>
                    <input type="date" name="delivery_end_date" class="w-full border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" value="{$result_array.productDtl.delivery_end_date}">
                </div>
            </div>
        </div>

        <div class="flex flex-col lg:px-6 my-4 border-gray-300">
            <div class="text-sm text-gray-600 py-4">只在此產品使用的送貨資料 <span class="text-xs text-gray-400">(如果沒有剔選, 將會使用範本的預設的送貨資料)</span></div>
            <label class="switch">
                <input type="hidden" name="cust_deli_act">
                <input id="cust_deli_act" value='Y' type="checkbox" {if $result_array.productDtl.cust_deli_act === 'Y'}checked{/if}>
                <span class="slider"></span>
            </label>
        </div>
        <div class="flex flex-col lg:flex-row w-full gap-4 lg:px-6">
            <div class="flex flex-col my-4 w-full">
                <div class="text-sm text-gray-600 mb-2">運送選項 (中文)</div>
                <textarea class="border-2 border-gray-300 tinymce" name="cust_deli_tc">{$result_array.productDtl.cust_deli_tc}</textarea>
            </div>
            <div class="flex flex-col mt-4 mb-16 w-full">
                <div class="text-sm text-gray-600 mb-2">運送選項 (English)</div>
                <textarea class="border-2 border-gray-300 tinymce" name="cust_deli_en">{$result_array.productDtl.cust_deli_en}</textarea>
            </div>
        </div>
    </div>

    <!-- 附加資訊 -->
    <div class="bg-white flex flex-col tag_content mb-4 rounded-lg w-full shadow-lg">
        <div class="text-2xl text-gray-800 font-bold px-6 py-4">附加資訊</div>
        <div class="flex flex-col px-6 mb-4 border-t-2 border-gray-300">
            <div class="text-sm text-gray-600 py-4">只在此產品使用的附加資訊 <span class="text-xs text-gray-400">(如果沒有剔選, 將會使用範本的預設的附加資訊)</span></div>
            <label class="switch">
                <input type="hidden" name="cust_addinfo_act">
                <input id="cust_addinfo_act" value='Y' type="checkbox" {if $result_array.productDtl.cust_addinfo_act === 'Y'}checked{/if}>
                <span class="slider"></span>
            </label>
        </div>
        <div class="flex flex-col lg:flex-row w-full lg:px-6 gap-4">
            <div class="flex flex-col my-4 w-full">
                <div class="text-sm text-gray-600 mb-2">附加資訊 (中文)</div>
                <textarea class="border-2 border-gray-300 tinymce" name="cust_addinfo_tc">{$result_array.productDtl.cust_addinfo_tc}</textarea>
            </div>
            <div class="flex flex-col mt-4 mb-16 w-full">
                <div class="text-sm text-gray-600 mb-2">附加資訊 (English)</div>
                <textarea class="border-2 border-gray-300 tinymce" name="cust_addinfo_en">{$result_array.productDtl.cust_addinfo_en}</textarea>
            </div>
        </div>
    </div>

   

    </div>
</form>



<div id="product_item_content_log_container" class="hidden">
    <div class="grid grid-cols-7 border-b-2 border-gray-300 lg:pl-8">
        <div class="text-gray-700 px-4 py-4">Log ID</div>
        <div class="text-gray-700 px-4 py-4">用戶</div>
        <div class="text-gray-700 px-4 py-4">類型</div>
        <div class="col-span-3 text-gray-700 px-4 py-4">紀錄</div>
        <div class="text-gray-700 px-4 py-4">時間</div>
    </div>
    <div class="log_container">

    </div>
    <div id="log_tpl" class="hidden grid grid-cols-7 border-b-2 border-gray-300 lg:pl-8">
        <div class="text-gray-700 px-4 py-4 log_id">Log ID</div>
        <div class="text-gray-700 px-4 py-4 admin">用戶</div>
        <div class="text-gray-700 px-4 py-4 action"></div>
        <div class="col-span-3 text-gray-700 px-1 py-3 change"></div>
        <div class="text-gray-700 px-4 py-4 create_datetime">時間</div>
    </div>

    <div id="log_chg_tpl" class="hidden grid grid-cols-6 gap-2">
        <div class="col py-1 px-2"></div>
        <div class="col-span-2 org py-1 px-2"></div>
        <div class="py-1 px-2"><i class="ri-arrow-right-line"></i></div>
        <div class="col-span-2 new py-1 px-2"></div>
    </div>
</div>

<form id="uploadProductImgForm" class="hidden">
    <input type="file" multiple id="input_product_img" name="input_product_img[]">
</form>

{include file='module/cardPicker.html'}
{include file='module/productItemPicker.html'}
{include file='module/addonPicker.html'}
{include file='module/greetingPicker.html'}
{include file='module/catePicker.html'}

<script>
var $shop_id = {$shop_id}
var thridParty;
var batchEditMode = {if $result_array.batchEditMode == 'Y'}"Y"{else}"N"{/if};
var product_id = "{$result_array.productDtl.product_id}";
var std_markup = parseFloat("{foreach from=$result_array.productTplList key=k item=i}{if $result_array.productDtl.product_tpl_id == $i.tpl_id}{$i.markup}{/if}{/foreach}");
if (isNaN(std_markup))
    std_markup = 0;
var commission_fee = {if $result_array.shop.commission}parseFloat({$result_array.shop.commission} / 100){else}0{/if};
var platform_commission_fee = {if $result_array.shop.platform_commission}parseFloat({$result_array.shop.platform_commission} / 100){else}0{/if};
var ttlCost = 0;
var readonlyClass = "bg-gray-100 text-gray-500 cursor-not-allowed";
{literal}
function priceCalc(){
    
    // calc cost
    item_cost = 0;
    $(".item_grp").each(function(i, item_grp){
        item_cost += parseFloat($(item_grp).find(".cost").html() * $(item_grp).find("[name=item_qty]").val())
    });
    $(".item_cost").html("$" + thousand_separator(item_cost))
    
    // calc revenue
    let std_revenue = Math.round(item_cost * std_markup / 100);
    $(".std_revenue").html("$" + thousand_separator(std_revenue));

    // Calc commission
    let std_commission = Math.round((std_revenue + item_cost) * commission_fee);
    $(".std_commission").html("$" + thousand_separator(std_commission));

    // Calc platform
    let std_platform_commission = Math.round((std_revenue + item_cost) * platform_commission_fee);
    $(".std_platform_commission").html("$" + thousand_separator(std_platform_commission));

    // Calc ttl_cost
    let ttl_cost = item_cost + std_commission + std_platform_commission
    $(".ttl_cost").html("$" + thousand_separator(ttl_cost));


    // Calc suggest unit price
    let std_suggest_unit_price = Math.round(std_revenue + ttl_cost);
    $(".std_suggest_unit_price").html("$" + thousand_separator(std_suggest_unit_price));
}

function itemListGrpContent(item_grp){
    var item_list = item_grp.item_list
    var bool_single = item_list.length > 1 ? false: true;
    if (bool_single){
        $tpl = `
            ${item_grp.ava_qty < item_grp.qty ? `<div class="text-white text-center rounded-t-lg bg-red-500 font-bold py-1">缺貨</div>` : ``}
            <div class="flex justify-between px-6 py-3">
                <div class="flex items-center gap-4 flex-1 mr-10">
                    <input type="hidden" name="grp_id">


                    <div class="h-12 w-12 bg-gray-200 flex items-center justify-center rounded">
                        <i class="ri-drag-move-2-line"></i>
                    </div>
                    <img src="${item_list[0].item.item_img}" class="w-24 h-24 rounded object-contain">
                    <div class="grid grid-cols-2 flex-1 justify-between">
                        <div class="flex items-center">
                            <div>
                                <div class="font-bold text-gray-400">${item_list[0].item.sku}</div>
                                <div class="font-bold text-2xl">${item_list[0].item.inhouse_name_tc? item_list[0].item.inhouse_name_tc : ""}</div>
                                <div class="font-bold text-gray-400">${item_list[0].item.remarks? item_list[0].item.remarks : ""}</div>
                            </div>
                        </div>
                        <div class="flex gap-x-4 gap-y-2 flex-wrap">
                            <div class="flex items-center">
                                <div class="whitespace-nowrap text-gray-400 font-bold">數量</div>
                                <input name="item_qty" type="number" class="border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 w-32" value="${item_grp.qty}"/>
                            </div>
                            <div class="flex items-center">
                                <div class="whitespace-nowrap text-gray-400 font-bold">可用存量：</div>
                                <span class="qty">${item_grp.ava_qty}</span>
                            </div>
                            <div class="flex items-center">
                                <div class="whitespace-nowrap text-gray-400 font-bold">成本：$<span class="cost">${item_list[0].item.cost}</span></div>
                            </div>

                            <div class="flex items-center gap-2">
                                <div class="whitespace-nowrap text-gray-400 font-bold">前台將會顯示數量:</div>
                                <label class="switch">
                                    <input type="hidden" name="is_product_page_show_qty">
                                    <input class="is_product_page_show_qty" type="checkbox" ${item_grp.is_product_page_show_qty =='Y' ? `checked`: ``}>
                                    <span class="slider"></span>
                                </label>
                            </div>

                            <div class="flex items-center gap-2">
                                <div class="whitespace-nowrap text-gray-400 font-bold">無視缺貨繼續出售:</div>
                                <label class="switch">
                                    <input type="hidden" name="is_force_checkout">
                                    <input class="is_force_checkout" type="checkbox" ${item_grp.is_force_checkout =='Y' ? `checked`: ``}>
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="hidden">
                        ${item_list.map(function(item){
                            return `
                                <div class="item">
                                    <input name="item_id" value="${item.item.item_id}" />
                                    <input name="inhouse_name_tc" value="${item.item.inhouse_name_tc}" />
                                    <input name="inhouse_name_en" value="${item.item.inhouse_name_en}" />
                                    <input name="gift_name_tc" value="${item.item.gift_name_tc}" />
                                    <input name="gift_name_en" value="${item.item.gift_name_en}" />
                                    <input name="zuri_name_tc" value="${item.item.zuri_name_tc}" />
                                    <input name="zuri_name_en" value="${item.item.zuri_name_en}" />
                                    <input name="ltp_name_tc" value="${item.item.ltp_name_tc}" />
                                    <input name="ltp_name_en" value="${item.item.ltp_name_en}" />
                                    <input name="qty" value="${item.qty}" />
                                    <input name="additional_price" value="${item.additional_price}" />
                                    <input name="is_client_optional" value="${item.is_client_optional}" />
                                    <input name="is_auto_replace" value="${item.is_auto_replace}" />
                                    <input name="remarks" value="${item.item.remarks}" />
                                    <input name="show_in_web" value="${item.is_active}" />
                                </div>
                            `;
                        }).join("")}
                    </div>
                </div>
                <div class="flex flex-col gap-2 flex-0">
                    <div class="btn_del_item_grp bg-gray-200 text-gray-700 py-2 px-2 rounded font-bold flex gap-x-2 hover:text-white hover:bg-red-500 transition-all"><i class="ri-delete-bin-line"></i>刪除</div>
                </div>
            </div>
        `;
    } else {
        // group item
        $tpl = `
        ${item_grp.ava_qty < item_grp.qty? `<div class="text-white text-center rounded-t-lg bg-red-500 font-bold py-1">缺貨</div>` : ``}
        <div class="flex justify-between px-6 py-3">
            <div class="flex gap-4 flex-1 mr-10">
                <input type="hidden" name="grp_id">
                <div class="mt-5 h-12 w-12 bg-gray-200 flex items-center justify-center rounded">
                    <i class="ri-drag-move-2-line"></i>
                </div>
                <img src="${item_list[0].item_img}" class="w-24 h-24 rounded object-contain">
                <div class="flex-1">
                    <div class="flex gap-4 mb-2">
                        <div class="flex flex-wrap gap-4 items-center gap-4">
                            <div class="font-bold text-2xl whitespace-nowrap">${item_grp.inhouse_name_tc}</div>
                            <div class="text-gray-400 font-bold text-sm">內含物品: ${item_list.length}件</div>
                            <div class="flex items-center">
                                <div class="whitespace-nowrap text-gray-400 font-bold">數量</div>
                                <input name="item_qty" type="number" class="border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 w-32" value="${item_grp.qty}"/>
                            </div>
                            <div class="text-gray-400 font-bold text-sm">可用存量: ${item_grp.ava_qty}件</div>
                            <div class="text-gray-400 font-bold text-sm">預設物品成本：$<span class="cost">${item_list[0].item.cost}</span></div>
                            
                            <div class="flex items-center gap-2">
                                <div class="whitespace-nowrap text-gray-400 font-bold">前台將會顯示數量:</div>
                                <label class="switch">
                                    <input type="hidden" name="is_product_page_show_qty">
                                    <input class="is_product_page_show_qty" type="checkbox" ${item_grp.is_product_page_show_qty=='Y' ? `checked`: ``}>
                                    <span class="slider"></span>
                                </label>
                            </div>
                            <div class="flex items-center gap-2">
                                <div class="whitespace-nowrap text-gray-400 font-bold">無視缺貨繼續出售:</div>
                                <label class="switch">
                                    <input type="hidden" name="is_force_checkout">
                                    <input class="is_force_checkout" type="checkbox" ${item_grp.is_force_checkout =='Y' ? `checked`: ``}>
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-wrap gap-4 w-full">
                        ${item_list.map(function(item, k){
                            return `
                                <div class="flex border rounded items-center justift-between px-6 py-3 gap-4" style="min-width:49%;">
                                    <div class="flex items-center flex-1">
                                        <img src="${item.item_img}" class="h-16 w-16 rounded mr-10 object-contain">
                                        <div>
                                            <div class="text-xl font-bold">
                                                ${item.inhouse_name_tc}
                                                ${(item.item.various_list && item.item.various_list.length > 0) ?
                                                    `(${item.item.various_list.map(function (various, variousIndex) {
                                                            return (variousIndex == 0 ? "" : ",") + various.name_tc;
                                                        }).join('')
                                                    })`
                                                :
                                                    ``
                                                } 
                                                ${item.qty>1? `x ${item.qty}` : ""}
                                            </div>
                                            ${item.additional_price > 0 && item.is_client_optional == 'Y' ? `<div class="text-gray-400">作為選項額外價格：$${item.additional_price}</div>` : ''}
                                        </div>
                                    </div>
                                    <div class="flex gap-4 flex-0">
                                        ${k == 0 ? `<div class="font-bold bg-gray-300 text-gray-800 px-2 py-1 rounded">預設</div>` : `
                                            ${item.is_client_optional == 'Y' ? `<div class="font-bold bg-blue-300 text-blue-800 px-2 py-1 rounded">選項</div>`: ''}
                                            ${item.is_auto_replace == 'Y' ? `<div class="font-bold bg-gray-300 text-gray-800 px-2 py-1 rounded">缺貨時替補</div>`: ''}
                                        `}

                                        ${item.is_unlimited_qty == 'Y' ? `<div class="font-bold bg-green-300 text-green-800 px-2 py-1 rounded">無限存量</div>`: ''}

                                    </div>
                                </div>
                            `
                        }).join("")}
                    </div>
                    <div class="hidden">
                        ${item_list.map(function(item){
                            return `
                                <div class="item">
                                    <input name="item_id" value="${item.item_id}" />
                                    <input name="inhouse_name_tc" value="${item.inhouse_name_tc}" />
                                    <input name="inhouse_name_en" value="${item.inhouse_name_en}" />
                                    <input name="gift_name_tc" value="${item.gift_name_tc}" />
                                    <input name="gift_name_en" value="${item.gift_name_en}" />
                                    <input name="zuri_name_tc" value="${item.zuri_name_tc}" />
                                    <input name="zuri_name_en" value="${item.zuri_name_en}" />
                                    <input name="ltp_name_tc" value="${item.ltp_name_tc}" />
                                    <input name="ltp_name_en" value="${item.ltp_name_en}" />
                                    <input name="qty" value="${item.qty}" />
                                    <input name="additional_price" value="${item.additional_price}" />
                                    <input name="is_client_optional" value="${item.is_client_optional}" />
                                    <input name="is_auto_replace" value="${item.is_auto_replace}" />
                                    <input name="remarks" value="${item.remarks}" />
                                    <input name="show_in_web" value="${item.is_active}" />
                                </div>
                            `;
                        }).join("")}
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-2 flex-0">
                <div class="btn_edit_item_grp copy border border-gray-700 text-gray-700 py-2 px-2 rounded font-bold flex gap-x-2 transition-all cursor-pointer hover:bg-gray-100 whitespace-nowrap"><i class="ri-pencil-line"></i>複製</div>
                <div class="btn_edit_item_grp border border-gray-700 text-gray-700 py-2 px-2 rounded font-bold flex gap-x-2 transition-all cursor-pointer hover:bg-gray-100 whitespace-nowrap"><i class="ri-pencil-line"></i>檢視</div>
                <div class="btn_del_item_grp bg-gray-200 text-gray-700 py-2 px-2 rounded font-bold flex gap-x-2 hover:text-white hover:bg-red-500 transition-all whitespace-nowrap"><i class="ri-delete-bin-line"></i>刪除</div>
            </div>
        </div>
        `;
    }

    return $tpl;
}

function updateCateIdArr(){
    $("[name=cate_id_arr]").val("");
    $(".cate_chose").each(function(idx, val){
        $("[name=cate_id_arr]").val($("[name=cate_id_arr]").val() + $(val).attr("data-cate_id") + ",")
    })
}

function itemListGrpInit(item_grp){
    $tpl = `
        <div class="item_grp bg-white shadow-lg border border-gray-200 rounded-lg" data-grp_id="${item_grp.grp_id}">
            ${itemListGrpContent(item_grp)}
        </div>
    `;
    return $tpl;
}

function itemListInit(){ 
    if (product_id != 0){
        $.bajax({
            url: "/admin/product/api/productDtl?product_id=" + product_id,
            method: "POST",
            formElement: "N",
            callback: function (data) {
                if (data.code == 0) {
                    item_group_list = data.result.productDtl.item_group_list
                    $container = $("#itemList_container");
                    $container.find(".item_grp").remove();
                    
                    item_group_list.forEach(function(item_grp, idx){
                        $tpl = itemListGrpInit(item_grp);
                        $container.append($tpl);
                    });

                    priceCalc();
                }
            }
        });
    }
}

$(document).ready(function () {
    itemListInit();
    updateCateIdArr()

    $(document).off("change", "[name=sales_status]")
    $(document).on("change", "[name=sales_status]", function(){
        try {
            sales_code = parseInt($("[name=sales_status]").val().split("_")[0])
        } catch (ex){
            sales_code = 0
        }

        if (sales_code == 25){
            $("[name=publish_date]").removeClass(readonlyClass).prop("readonly", false);
        } else {
            $("[name=publish_date]").addClass(readonlyClass).prop("readonly", true);
        }
    })
    

    $(document).off("click", ".btn_preview");
    $(document).on("click", ".btn_preview", function(){
        window.open(`/product/productDtl/${$("[name=product_code]").val()}`, "_blank"); 
    });
    
    $(document).off("change", "[name=item_qty]");
    $(document).on("change", "[name=item_qty]", function(){
        // $(this).parents(".item_grp").find(".item [name=qty]").val($(this).val());
        priceCalc();
    });

    $(document).off("click", ".btn_edit_item_grp");
    $(document).on("click", ".btn_edit_item_grp", function(){
        url = `admin/module/editItemGrp?grp_id=${$(this).parents(".item_grp").attr("data-grp_id")}`;
        if ($(this).hasClass("copy")){
            url += "&copy=Y";
        }
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            ajaxPath: url,
        });
    });

    $(document).off("click", ".btn_del_item_grp");
    $(document).on("click", ".btn_del_item_grp", function(){
        $(this).parents(".item_grp").remove();
        priceCalc();
    })

    $(document).off("change", "[name=cutoff_tpl_id]")
    $(document).on("change", "[name=cutoff_tpl_id]", function(){
        if ($(this).val() != ""){
            $("[name=ava_b4_day]").addClass(readonlyClass).attr("readonly", true);
            $("[name=ava_b4_cutoff]").addClass(readonlyClass).attr("readonly", true);
        } else {
            $("[name=ava_b4_day]").removeClass(readonlyClass).attr("readonly", false);
            $("[name=ava_b4_cutoff]").removeClass(readonlyClass).attr("readonly", false);
        }
    });

    $(document).off("click", ".btn_del_item")
    $(document).on("click", ".btn_del_item", function(){
        $(this).parents(".item").remove();
    })

    $(document).off("click", ".btn_product_item")
    $(document).on("click", ".btn_product_item", function(){
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#product_item_picker').html(),
            mounted: function(){
                $(".vk-modal-dom").find("[name=skey]").focus().keyup();
            }
        });
    });

    $("#itemList_container").sortable();
    
    $(document).off("click", ".sku_option")
    $(document).on("click", ".sku_option", function(){
        $this = $(this);

        item_grp = $this.data("item_grp");
        item_grp.qty = 1;

        $tpl = itemListGrpInit(item_grp);

        $("#itemList_container").append($tpl);
        
        $("#container").animate({
            scrollTop: $("#itemList_container .item_grp:last-of-type").position().top -150
        }, 500);

        priceCalc()
    });

    $(document).off("change", "[name=product_tpl_id]")
    $(document).on("change", "[name=product_tpl_id]", function(){
        var value = $(this).val();
        $(`[name=product_tpl_id] option`).prop("selected", "false")
        $(`[name=product_tpl_id] [value='${value}']`).prop("selected", "true")

        std_markup = parseFloat($(this).find("option:selected").attr("data-markup"));
        $(".std_markup").html(std_markup +  "%");
        priceCalc();
    });


    $(document).off("click", ".btn_del_img")
    $(document).on("click", ".btn_del_img", function(){
        $(this).parents(".product_img").remove()
    });

    try{
        tinymce.init({
            language: 'zh_TW',
            content_css: "/css/tailwind.css, /css/global.css?v=2",
            language_url: '/adminA/js/tinymce/langs/zh_TW.js',
            selector: '.tinymce',
            width : 'full',
            menubar: false,
            plugins: ["link image emoticons textcolor fullscreen code table paste preview",],
            paste_data_images: true,
            paste_merge_formats: true,
            images_upload_url: '/admin/product/api/uploadImg',
            paste_word_valid_elements: "b,strong,i,em,h1,h2",
            paste_webkit_styles: "color font-size",
            paste_retain_style_properties: "color font-size",
            paste_convert_word_fake_lists: true,
            inline_styles : false,
            cleanup_on_startup : true,
            fix_list_elements : false,
            fix_nesting : false,
            fix_table_elements : false,
            paste_use_dialog : true,
            paste_auto_cleanup_on_paste : true,
            images_upload_handler: function (blobInfo, success, failure) {
                var xhr, formData;
                xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', '/admin/product/api/uploadImg');
                xhr.onload = function() {
                    var json;
                    if (xhr.status != 200) {
                        failure('HTTP Error: ' + xhr.status);
                        return;
                    }
                    json = JSON.parse(xhr.responseText);
                    if(json.code!='0'){
                        failure(json.msg);
                        return;
                    } else {
                        if (!json || typeof json.result.img_path != 'string') {
                            failure(json.result.error);
                            return;
                        }
                        success("/" + json.result.img_path);
                    }
                };
                formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.filename());
                xhr.send(formData);
            },
            toolbar: 'undo redo | formatselect | forecolor backcolor | bold italic underline | alignleft aligncenter alignright | fontsizeselect | link image fullscreen | emoticons | removeformat code | table tabledelete | tableprops tablerowprops tablecellprops | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol | preview | customButton priceOfCounctry',
            toolbar_mode: 'sliding',
            theme_advanced_buttons3_add : "preview",
            plugin_preview_width : "500", // working!
            plugin_preview_height : "600", // working!
        });
    } catch(e){
        console.log(e);
        // do nothing, select mode
    }

    $(document).off("click", ".btn_submit-productItem")
    $(document).on("click", ".btn_submit-productItem", function(){
        $vk = $(this).closest('.vk-modal-dom');

        if ($vk.length == 1) {
            $vk.closest('.vk-modal-dom').data()._destory()
        }
    })

    $(document).off("click", ".btn_submit-card");
    $(document).on("click", ".btn_submit-card", async function(){
        $vk = $(this).closest('.vk-modal-dom');
        $(".cardList_wrapper *").remove();
        $("[name=card_id_arr]").val("");

        $vk.find(".card_option.active").each(function(idx, val){
            $tpl = $("<div/>").attr({
                class: "bg-blue-600 text-white px-6 py-2 rounded-full mr-4 my-2 card flex items-center cursor-default",
                "data-card_id": $(this).attr("data-card_id")
            }).html($(this).attr("data-name_tc")).append($("<i/>").attr("class", "ri-close-line ml-2 btn_del_card cursor-pointer text-lg hover:opacity-50"))
            $("[name=card_id_arr]").val($("[name=card_id_arr]").val() + $(val).attr("data-card_id") + ",")
            $(".cardList_wrapper").append($tpl);
        });

        if ($vk.length == 1) {
            $vk.closest('.vk-modal-dom').data()._destory()
        }
    });

    $(document).off("click", ".btn_submit-cate");
    $(document).on("click", ".btn_submit-cate", async function(){
        $vk = $(this).closest('.vk-modal-dom');
        $(".cateList_wrapper *").remove();

        
        $vk.find(".cate_option.active").each(function(idx, val){
            $tpl = $("<div/>").attr({
                class: "bg-blue-600 text-white px-6 py-2 rounded-full mr-2 my-1 cate_chose flex items-center",
                "data-cate_id": $(this).attr("data-cate_id")
            }).html($(this).attr("data-name_tc") + '<div class="ml-2 btn_del_cate cursor-pointer"><i class="ri-close-line"></i></div>')
            $(".cateList_wrapper").append($tpl);
        });

        updateCateIdArr();

        if ($vk.length == 1) {
            $vk.closest('.vk-modal-dom').data()._destory()
        }
    });
    
    $(document).off("click", ".btn_del_card");
    $(document).on("click", ".btn_del_card", function(){
        $(this).parents(".card").remove();
        $("[name=greeting_id_arr]").val("");
        $(".greeting").each(function(idx, val){
            $("[name=greeting_id_arr]").val($("[name=greeting_id_arr]").val() + $(val).attr("data-greeting_cate_id") + ",")
        });
    });

    $(document).off("click", ".btn_del_cate");
    $(document).on("click", ".btn_del_cate", function(){
        $(this).parents(".cate_chose").remove();
        updateCateIdArr();
    });

    $(document).off("click", ".btn_del_addon");
    $(document).on("click", ".btn_del_addon", function(){
        $(this).parents(".addon").remove();
        $("[name=addonList]").val("");
        $(".addon").each(function(idx, val){
            $("[name=addonList]").val($("[name=addonList]").val() + $(val).attr("data-addon_cate_id") + ",")
        });
    });

    $(document).off("click", ".btn_add_cardTpl");
    $(document).on("click", ".btn_add_cardTpl", function(){
        $that = $(this);
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#card_picker').html(),
            mounted: function(){
                console.log("AA");
                $(".vk-modal-dom").find("[name=skey]").focus().keyup();
            }
        });
    });

    $(document).off("click", ".btn_add_addon");
    $(document).on("click", ".btn_add_addon", function(){
        $that = $(this);
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#addon_picker').html(),
            mounted: function(){
                $(".vk-modal-dom").find("[name=skey]").focus().keyup();
            }
        });
    });


    $(document).off("click", ".vk-modal-dom .btn-submit_addon_edit")
    $(document).on("click", ".vk-modal-dom .btn-submit_addon_edit", function() {
        $this = $(this).parents(".addon_edit_form");
        $parent_addon_val = $("*[data-addon_cate_id=" + $this.find("[name=addon_id]").val() + "]")

        let res_prod_arr = []
        $(".addon_product_container").find(".product_arr_option").each(function(i, e){
            res_prod_arr.push(parseInt($(e).attr("data-product_id")))
        })

        $parent_addon_val.attr("data-product_id_arr", res_prod_arr)
        $parent_addon_val.attr("data-inhouse_name_tc", $this.find("[name=inhouse_name_tc]").val())
        $parent_addon_val.attr("data-inhouse_name_en", $this.find("[name=inhouse_name_en]").val())
        $parent_addon_val.attr("data-gift_name_tc", $this.find("[name=gift_name_tc]").val())
        $parent_addon_val.attr("data-gift_name_en", $this.find("[name=gift_name_en]").val())
        $parent_addon_val.attr("data-zuri_name_tc", $this.find("[name=zuri_name_tc]").val())
        $parent_addon_val.attr("data-zuri_name_en", $this.find("[name=zuri_name_en]").val())
        $parent_addon_val.attr("data-ltp_name_tc", $this.find("[name=ltp_name_tc]").val())
        $parent_addon_val.attr("data-ltp_name_en", $this.find("[name=ltp_name_en]").val())
        $parent_addon_val.attr("data-alias", $this.find("[name=alias]").val())
        $parent_addon_val.find(".display_name").html($this.find("[name=inhouse_name_tc]").val())

        var $this = $(this)
        if ($this.closest('.vk-modal-dom').length == 1) {
            $this.closest('.vk-modal-dom').data()._destory()
        }
        return;
    })

    $(document).off("click", ".btn_add_cate");
    $(document).on("click", ".btn_add_cate", function(){
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#cate_picker').html(),
            mounted: function(){
                $(".vk-modal-dom").find("[name=skey]").focus().keyup();
            }
        });
    });

    $(document).off("click", ".btn_add_greeting");
    $(document).on("click", ".btn_add_greeting", function(){
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#greeting_picker').html(),
            mounted: function(){
                $(".vk-modal-dom").find("[name=skey]").focus().keyup();
            }
        });
    });

    

    $("#editProductForm").submit(async function (e) {
        e.preventDefault();
        if (batchEditMode == 'Y'){
            vkConfirmDefault({
                title: '確認',
                content: '<div>請留意，批量更新會同時意響多於一件產品，是否確認這更新？</div>',
                confirmButtonHtml: '確認',
                cancelButtonHtml: '返回',
                confirmButtonFunction: function(){
                    submitGo();
                }
            })
        } else {
            submitGo();
        }
    });

    async function submitGo(){

        if ($("#show_in_web").is(":checked")) {
            $("[name=show_in_web]").val("Y")
        } else {
            $("[name=show_in_web]").val("N")
        }

        if ($("#is_new").is(":checked")) {
            $("[name=is_new]").val("Y")
        } else {
            $("[name=is_new]").val("N")
        }

        if ($("#display_in_cate").is(":checked")) {
            $("[name=display_in_cate]").val("Y")
        } else {
            $("[name=display_in_cate]").val("N")
        }

        if ($("#onsale").is(":checked")) {
            $("[name=onsale]").val("Y")
        } else {
            $("[name=onsale]").val("N")
        }

        if ($("#cust_deli_act").is(":checked")) {
            $("[name=cust_deli_act]").val("Y")
        } else {
            $("[name=cust_deli_act]").val("N")
        }

        if ($("#cust_info_act").is(":checked")) {
            $("[name=cust_info_act]").val("Y")
        } else {
            $("[name=cust_info_act]").val("N")
        }

        if ($("#cust_addinfo_act").is(":checked")) {
            $("[name=cust_addinfo_act]").val("Y")
        } else {
            $("[name=cust_addinfo_act]").val("N")
        }

        if ($("#is_force_checkout").is(":checked")) {
            $("[name=is_force_checkout]").val("Y")
        } else {
            $("[name=is_force_checkout]").val("N")
        }

        product_img_path_arr = [];
        $(".product_img").each(function(){
            product_img_path_arr.push($(this).find("img").attr("src"));
        });
        $("[name=product_img_path_arr]").val('["' + product_img_path_arr.join('","') + '"]');
                    
        item_json = [];
        $(".item_grp").each(function(idx, item_grp){
            resList = [];
            $(item_grp).find(".item").each(function(i, item){
                resList.push({
                    item_id: $(item).find("[name=item_id]").val(),
                    inhouse_name_tc: $(item).find("[name=inhouse_name_tc]").val(),
                    inhouse_name_en: $(item).find("[name=inhouse_name_en]").val(),
                    gift_name_tc: $(item).find("[name=gift_name_tc]").val(),
                    gift_name_en: $(item).find("[name=gift_name_en]").val(),
                    zuri_name_tc: $(item).find("[name=zuri_name_tc]").val(),
                    zuri_name_en: $(item).find("[name=zuri_name_en]").val(),
                    ltp_name_tc: $(item).find("[name=ltp_name_tc]").val(),
                    ltp_name_en: $(item).find("[name=ltp_name_en]").val(),
                    qty: $(item).find("[name=qty]").val(),
                    additional_price: $(item).find("[name=additional_price]").val(),
                    is_client_optional: $(item).find("[name=is_client_optional]").val(),
                    is_auto_replace: $(item).find("[name=is_auto_replace]").val(),
                    remarks: $(item).find("[name=remarks]").val() ? $(item).find("[name=remarks]").val() : "",
                    show_in_web: $(item).find("[name=show_in_web]").val(),
                });
            });	
            item_json.push({
                grp_id: $(item_grp).attr("data-grp_id"),
                item_list: resList,
                qty: $(item_grp).find("[name=item_qty]").val(),
                is_product_page_show_qty: $(item_grp).find(".is_product_page_show_qty").is(":checked") ? "Y" : "N",
                is_force_checkout: $(item_grp).find(".is_force_checkout").is(":checked") ? "Y" : "N"
            });
        });

        $("[name=item_json").val(JSON.stringify(item_json));

        updateCateIdArr();

        $loader = await globalLoader();
        $.bajax({
            url: "admin/product/api/editProduct",
            method: 'POST',
            formElement: 'Y',
            formElementID: "editProductForm",
            callback: function(data) {
                if (data.code != 0){
                    globalErrorReturn(data);
                } else {
                    infoPopup("成功", "已更新產品資料。");
                    // location.replace("admin/product/productDtl?product_id=" + data.result.product.product_id)
                }
                globalLoader($loader);
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                globalLoader($loader);
                console.log(jqXHR);
            },
        });
    }

    $(document).off("click", ".btn_nav");
    $(document).on("click", ".btn_nav", function(){
        activeClass = "text-blue-700";
        tag = $(this).attr('data-tag');

        $(".btn_nav").removeClass(activeClass);
        $(".btn_nav[data-tag=" + tag + "]").addClass(activeClass)

        $(".tag_content").addClass("hidden");
        $(".tag_content[data-tag=" + tag + "]").removeClass("hidden")
    });

    $product_img_count = ($("#product_img_container").find("img").length - 1).toString();
    
    $(document).off("change", "#input_product_img");
    $(document).on("change", "#input_product_img", async function(){
        $loader = await globalLoader();
        $.bajax({
            url: "admin/product/api/uploadProductImg",
            method: 'POST',
            formElement: 'Y',
            formElementID: "uploadProductImgForm",
            callback: function(data) {
                if (data.code == 0){
                    $container = $("#product_img_container");
                    data.result.img_path_arr.forEach(function(v, i){
                        $tpl = $("<div/>").attr({
                            class: "w-36 h-36 relative object-center border-4 rounded-lg product_img",
                            "data-map_id": 0
                        })
    
                        $tpl.append(`<div class="absolute btn_del_img top-1 left-1 cursor-pointer z-20"><i class="ri-close-line"></i></div>`);
                        $tpl.append(`<img src="${v}" class="h-full w-full object-contain">`);
    
                        $container.prepend($tpl);  
                    })
                    globalLoader($loader);
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                globalLoader($loader);
            },
        });
        $container = $("#product_img_container");
        $this = $(this)
        $tpl = $(this).parents(".btn_upload_img").clone();
        $this.parents(".btn_upload_img").find(".btn_del_img").removeClass("hidden")
        $this.parents(".btn_upload_img").removeClass("border-4")
        $tpl.addClass("product_img")
    });

    $(document).off("change", ".product_img_file")
    $(document).on("change", ".product_img_file", function(){
        $this = $(this);
        reader = new FileReader();

        reader.onload = function(e) {
            $this.siblings(".preview").attr("src", e.target.result)
        }
        reader.readAsDataURL($(this)[0].files[0]);
    });

    $(".sort_wrapper").sortable({
        animation: 150,
    });

    $(document).off("click", ".btn_suggestedPrice")
    $(document).on("click", ".btn_suggestedPrice", function(){
        let val = $(this).data("sg_price")
        $("input[name=price]").val(val)
    })
});
{/literal}
</script>