<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-12">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">產品範本</div>
    </div>
    <a href="admin/product/productTplDtl?tpl_id=0"><div class="ml-4 px-8 py-2 bg-blue-500 hover:bg-blue-400 text-white rounded-full mr-auto cursor-pointer">新增產品範本</div></a>

    <div class="flex bg-white rounded-full ml-auto shadow">
        <form id="list_form" action="admin/product/productTplList" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="skey" class="flex px-4 py-2 rounded-full truncate" type="text" placeholder="編號, 名稱" value="{$result_array.page_config.skey}">
                <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bg-white rounded-lg mx-4 my-2 lg:mx-12">
    <div class="grid grid-cols-5 gap-5 text-gray-600 border-b border-gray-300 p-4">
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "tpl_id" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="tpl_id">
            {if $result_array.page_config.sort == "tpl_id"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>編號</div>
        </div>
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "adm_name" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="adm_name">
            {if $result_array.page_config.sort == "adm_name"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>名稱</div>
        </div>
        <div class="flex flex-row my-auto">
            利潤率
        </div>
        <div class="my-auto ml-auto">操作</div>
    </div>

    {foreach from=$result_array.productTplList key=k item=i}
    <div class="grid grid-cols-5 auto-rows-auto gap-5 p-4 text-gray-800 hover:bg-gray-100 border-t border-gray-300">
        <div>{$i.tpl_id}</div>
        <div class="col-span-2 truncate">{$i.adm_name}</div>
        <div>{$i.markup}</div>
        <div class="ml-auto">
            <a href="admin/product/productTplDtl?tpl_id={$i.tpl_id}"><i class="ri-edit-line pr-3 hover:text-gray-400 text-lg"></i></a>
            <a class="btn_del" data-tpl_id="{$i.tpl_id}"><i class="ri-delete-bin-line hover:text-gray-400 text-lg"></i></a>
        </div>
    </div>
    {/foreach}
</div>

{include file='../module/pagerModule.html'}
 

<script>
shop_id = {$shop_id}
{literal}
$(document).ready(function(){
    $(document).off("click", ".btn_del");
    $(document).on("click", ".btn_del", async function(e){
        $loader = await globalLoader();
        $this = $(this)
        vkConfirmDefault({
            title: '確認',
            content: '<div>請確認是否刪除這條目？</div>',
            confirmButtonHtml: '確認',
            cancelButtonHtml: '返回',
            confirmButtonFunction: function(){
                $.bajax({
                    url: "admin/product/api/editProductTpl",
                    method: 'POST',
                    formElement: 'N',
                    data: {
                        shop_id: shop_id,
                        tpl_id: $this.attr("data-tpl_id"),
                        activate: 'N',
                    },
                    callback: function(data) {
                        globalLoader($loader);
                        if (data.code != 0){
                            globalErrorReturn(data);
                        } else {
                            location.reload()
                        }
                    },
                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                });
            },
            cancelButtonFunction : function(){
                globalLoader($loader);
            }
        })
    })

    
})
</script>
{/literal}