<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-12">
    <div class="flex flex-col items-start">
        <a href="admin/product/productList">
            <div class="text-2xl font-bold">產品管理</div>
        </a>
    </div>
    <a href="admin/product/productDtl?product_id=0">
        <div class="ml-8 px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full mr-auto cursor-pointer">增加產品</div>
    </a>
    <div class="btn_batchEdit hidden ml-8 px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full cursor-pointer">批量修改</div>
    <div class="btn_comboProductEdit hidden ml-8 px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full cursor-pointer">新增組合產品</div>
    <div class="flex bg-white rounded-full ml-auto shadow">
        <form id="list_form" action="admin/product/productList" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="skey" class="flex px-4 py-2 rounded-full" type="text" placeholder="編號, 名稱" value="{$result_array.page_config.skey}">
                <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bg-white rounded-lg mx-4 my-2 lg:mx-12">
    <div class="grid grid-cols-8 gap-5 text-gray-600 border-b-2 border-gray-300 p-4 lg:px-8">
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "product_code" && $result_array.page_config.order=="desc" } desc{/if}" data-sort_field="product_code">
            {if $result_array.page_config.sort == "product_code"}
            {if $result_array.page_config.order == "desc"}
            <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
            {else}
            <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>
            {/if}
            {else}
            <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>編號</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "product_name_tc" && $result_array.page_config.order=="desc" } desc{/if}" data-sort_field="product_name_tc">
            {if $result_array.page_config.sort == "product_name_tc"}
            {if $result_array.page_config.order == "desc"}
            <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
            {else}
            <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>
            {/if}
            {else}
            <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>中文</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "product_name_en" && $result_array.page_config.order=="desc" } desc{/if}" data-sort_field="product_name_en">
            {if $result_array.page_config.sort == "product_name_en"}
            {if $result_array.page_config.order == "desc"}
            <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
            {else}
            <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>
            {/if}
            {else}
            <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>英文</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "price" && $result_array.page_config.order=="desc" } desc{/if}" data-sort_field="price">
            {if $result_array.page_config.sort == "price"}
            {if $result_array.page_config.order == "desc"}
            <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
            {else}
            <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>
            {/if}
            {else}
            <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>價錢(成本)</div>
        </div>
        <div class="flex flex-row my-auto">
            <div>淨利率</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "onsale" && $result_array.page_config.order=="desc" } desc{/if}" data-sort_field="onsale">
            {if $result_array.page_config.sort == "onsale"}
            {if $result_array.page_config.order == "desc"}
            <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
            {else}
            <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>
            {/if}
            {else}
            <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>發售中</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "onsale" && $result_array.page_config.order=="desc" } desc{/if}" data-sort_field="show_in_web">
            {if $result_array.page_config.sort == "show_in_web"}
            {if $result_array.page_config.order == "desc"}
            <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
            {else}
            <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>
            {/if}
            {else}
            <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>顯示中</div>
        </div>
        <div class="my-auto ml-auto">操作</div>
    </div>

    {foreach from=$result_array.productList key=k item=i}
    <div class="grid grid-cols-8 auto-rows-auto gap-5 p-4 lg:px-8 text-gray-800 hover:bg-gray-100 border-b border-gray-300 product">
        <div class="flex flex-row items-center">
            <input type="checkbox" id="batchEdit[{$k}]_label" name="batchEdit[{$k}]" value="{$i.product_id}" class="w-4 h-4">
            <label class="pl-2 truncate" for="batchEdit[{$k}]_label">{$i.product_code}</label>
        </div>
        <div class="truncate">{$i.product_name_tc} {if !$i.product_name_tc}<span class=" text-gray-400">(未命名)</span>{/if}</div>
        <div class="truncate">{$i.product_name_en} {if !$i.product_name_en}<span class=" text-gray-400">(未命名)</span>{/if}</div>
        <div class="pl-2">{if $i.sp_price}<span class="tooltip cursor-default">{$i.sp_price}<span class="tooltiptext px-2 py-1 whitespace-nowrap">原價: {$i.price}</span></span>{else}{$i.price}{/if}({$i.cost})</div>
        <div class="pl-2">
            {if $i.cost}
                {if $i.sp_price}
                    {if $i.sp_price != 0}
                    <span class="{if $i.sp_price - $i.cost > 0}text-green-500{else}text-red-500{/if} font-bold">{(($i.sp_price - $i.cost)/ $i.cost * 100)|number_format:2}%</span>
                    {/if}
                {else}
                    {if $i.price != 0}
                        <span class="{if $i.price - $i.cost > 0}text-green-500{else}text-red-500{/if}  font-bold">{(($i.price - $i.cost)/ $i.cost * 100)|number_format:2}%</span>
                    {else}
                    <span class=" text-gray-400">未設定價錢</span>
                    {/if}
                {/if}
            {else}
            <span class=" text-gray-400">未設定價錢</span>
            {/if}
        </div>
        <div class="pl-2">{if $i.onsale == 'Y'}<span class="rounded text-gray-500 font-bold px-3 py-1 border border-gray-400">發售中</span>{else}<span class="rounded text-gray-400 bg-gray-200 font-bold px-3 py-1">未發售</span>{/if}</div>
        <div class="pl-2">{if $i.show_in_web == 'Y'}<span class="rounded text-gray-500 font-bold px-3 py-1 border border-gray-400">顯示中</span>{else}<span class="rounded text-gray-400 bg-gray-200 font-bold px-3 py-1">隱藏中</span>{/if}</div>
        <div class="flex flex-row w-full justify-end">
            <a href="admin/product/productDtl?product_id={$i.product_id}" class="btn_popup"><i class="ri-edit-line pr-3 hover:text-gray-400 text-lg"></i></a>
            <div class="btn_copy cursor-pointer mr-3" data-product_id="{$i.product_id}"><i class="ri-file-copy-line hover:text-gray-400 text-lg"></i></div>
            <div class="btn_del cursor-pointer" data-product_id="{$i.product_id}"><i class="ri-delete-bin-line hover:text-gray-400 text-lg"></i></div>
        </div>
    </div>
    {/foreach}
</div>

{include file='../module/pagerModule.html'}

{literal}
<script>
    $(document).ready(function () {

        $(document).off("click", ".btn_copy")
        $(document).on("click", ".btn_copy", function(e){
            e.preventDefault();
            $.bajax({
                url: "admin/product/api/duplicateProduct",
                debug: 'Y',
                method: 'POST',
                formElement: 'N',
                data: {
                    product_id: $(this).attr("data-product_id"),
                },
                callback: function(data) {
                    if (data.code != 0){
                        globalErrorReturn(data);
                    } else {
                        location.reload();
                    }
                },
                errorCallback: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            });
        }) 

        $(document).off("click", ".btn_comboProductEdit");
        $(document).on("click", ".btn_comboProductEdit", function(){
            tArr = [];
            $("[name^='batchEdit']:checked").each(function(idx, ele){
                tArr.push($(ele).val());
            });
            
            location.href = "admin/product/productDtl?product_id=0&src_product_id=" + tArr.join(",");
        });

        $(document).off("click", ".btn_batchEdit");
        $(document).on("click", ".btn_batchEdit", function(){
            tArr = [];
            $("[name^='batchEdit']:checked").each(function(idx, ele){
                tArr.push($(ele).val());
            });
            
            location.href = "admin/product/productDtl?product_id=" + tArr.join(",");
        });


        $(document).off("click", "[name^='batchEdit']");
        $(document).on("click", "[name^='batchEdit']", function(){
            if ($("[name^='batchEdit']:checked").length > 0){
                $(".btn_batchEdit").removeClass("hidden");
            } else {
                $(".btn_batchEdit").addClass("hidden");
            }

            if ($("[name^='batchEdit']:checked").length == 2){
                $(".btn_comboProductEdit").removeClass("hidden");
            } else {
                $(".btn_comboProductEdit").addClass("hidden");
            }
        });

        $(document).off("click", ".btn_del");
        $(document).on("click", ".btn_del", async function(e){
            $loader = await globalLoader();
            $this = $(this)
            vkConfirmDefault({
                title: '確認',
                content: '<div>請確認是否刪除這條目？</div>',
                confirmButtonHtml: '確認',
                cancelButtonHtml: '返回',
                confirmButtonFunction: function(){
                    $.bajax({
                        url: "admin/product/api/editProduct",
                        method: 'POST',
                        formElement: 'N',
                        data: {
                            shop_id: "{/literal}{$shop_id}{literal}",
                            product_id: $this.attr("data-product_id"),
                            activate: 'N'
                        },
                        callback: function(data) {
                            globalLoader($loader);
                            if (data.code != 0){
                                globalErrorReturn(data);
                            } else {
                                location.reload();
                            }
                        },
                        errorCallback: function(jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR);
                        },
                    });
                },
                cancelButtonFunction : function(){
                    globalLoader($loader);
                }
            })
        })

    });
</script>
{/literal}