{literal}
<style>
#onesignal-bell-container {
    display: none !important;
}
.navigation-section {
    background-color: white;
    border-left: 1px solid rgba(209, 213, 219, var(--tw-border-opacity));
    --tw-border-opacity: 1;
}
#container{
    background-color: white;
}
</style>
{/literal}
<main class="bg-white">
    <div class="px-4 py-4 border-gray-200 border-b flex ">
        <div class="flex items-center">
            <h1 class="text-3xl font-bold">產品管理</h1>
            <a href="admin/product/productDtl?product_id=0" id="add-cate-dad" class="bg-blue-500 px-3 py-2 font-bold inline-flex text-white ml-2">
                <i class="ri-add-line"></i>
                <span class="ml-2">增加產品</span>
            </a>
            
            <div class=" ml-4">
                <div class="px-3 py-2 font-bold inline-flex">批量動作: </div>
                <select class="batch_act border border-gray-300 py-1 px-1 rounded font-bold">
                    <option value="">-- 修改項目 --</option>
                    <option value="del">刪除產品</option>
                    <option value="addon_group">修改附加產組合</option>
                    <option value="card_group">修改賀卡組合</option>
                    <option value="greeting_group">修改祝賀語組合</option>
                    <!-- <option value="show_in_web_Y">修改顯示狀態: 顯示中</option>
                    <option value="show_in_web_N">修改顯示狀態: 非顯示中</option> -->
                    <option value="10_to_be_confirm">修改產品狀態: 待確定</option>
                    <option value="20_not_for_sale">修改產品狀態: 下架中</option>
                    <option value="25_schdeuled_sale">修改產品狀態: 即將發售</option>
                    <option value="30_on_sale">修改產品狀態: 上架中</option>
                    <option value="40_out_of_stock">修改產品狀態: 缺貨中</option>
                    <option value="force_checkout">無視缺貨繼續出售</option>
                    <option value="delivery_date">送貨日期</option>
                    <option value="add_cate">增加產品分類</option>
                    <!-- <option value="publish_date">修改上架日期</option> -->
                    <option value="product_tpl_id">修改產品範本</option>
                    <option value="product_tag">修改右上角產品標籤</option>
                    <option value="bottom_product_tag">修改左下角產品標籤</option>
                    <option value="bottom_product_tag_2">修改右下角產品標籤</option>
                    <option value="is_new">啟用新產品標記</option>
                    <option value="is_not_new">停用新產品標記</option>
                </select>
            </div>
        </div>
        <div class="flex ml-auto">
            <div class="relative flex">
                <button class="btn_cate_switch flex items-center mr-2 px-3">
                    <div>顯示種類 - <span class="font-bold" id="picked-cate-js">所有</span></div>
                    <i class="ri-arrow-down-s-fill"></i>
                </button>
                <div class="select-type-list bg-white rounded-lg shadow border border-gray-200 w-96 absolute right-0 top-full py-1 hidden">
                    <div class="opacity:0 fixed h-screen w-screen top-0 left-0 panel-closer"></div>
                    <div class="grid grid-cols-2 gap-x-2 z-10 relative">
                        <div class="col-span-2 flex items-center">
                            <input class="ml-2" type="checkbox" id="cate-check-all" checked />
                            <label for="cate-check-all" class="cursor-pointer flex-grow font-bold ml-2 py-1 text-lg">顯示所有</label>
                        </div>

                        {foreach from=$result_array.category_list item=i}
                            <div class="parent col-span-2 grid grid-cols-2 items-center">
                                <div class="bg-gray-200 h-px col-span-2"></div>
                                <div class="col-span-2 flex items-center">
                                    <input class="parent_check_box ml-2" type="checkbox" id="cate-check-{$i.cate_id}" checked />
                                    <label for="cate-check-{$i.cate_id}" class="cursor-pointer flex-grow font-bold ml-2 py-1 text-lg">{$i.name_tc}</label>
                                </div>

                                <div class="col-span-2 grid grid-cols-2 children_group">
                                    {foreach from=$i.subcate item=ii}
                                        <div class="col-span-1 flex items-center">
                                            <input name="cate" class="ml-2" type="checkbox" id="cate-check-{$ii.cate_id}" checked value="{$ii.cate_id}" />
                                            <label for="cate-check-{$ii.cate_id}" class="cursor-pointer flex-grow ml-2 py-1">{$ii.name_tc}</label>
                                        </div>
                                    {/foreach}
                                </div>
                            </div>
                        {/foreach}
                    </div>
                </div>
            </div>
            <div class="search-bar flex items-center bg-white rounded-lg border border-gray-300 overflow-hidden">
                <i class="ri-search-line text-xl ml-3 leading-none text-gray-700"></i>
                <input placeholder="產品名稱、編碼、SKU搜尋" class="bg-transparent px-3 py-2 w-72" name="skey">
            </div>
        </div>
    </div>
    <div class="productList-container">
        <div class="productList-header grid grid-cols-8 bg-gray-100 text-gray-700 px-2">
            <div class="px-2 py-2"><input type="checkbox" id="btn_batch_all" name="btn_batch_all" class="w-4 h-4"></div>
            <div class="px-4 py-2 flex items-center cursor-pointer sortable sort-non" data-sort="product_code"><i class="ri-arrow-up-down-line"></i><div class="font-bold">產品編碼</div></div>
            <div class="px-4 py-2 flex items-center cursor-pointer sortable sort-non" data-sort="product_name_tc"><i class="ri-arrow-up-down-line"></i><div class="font-bold">名稱</div></div>
            <div class="px-4 py-2 flex items-center cursor-pointer sortable sort-non" data-sort="act_price"><i class="ri-arrow-up-down-line"></i><div class="font-bold">價格(成本)</div></div>
            <div class="px-4 py-2 flex items-center cursor-pointer sortable sort-non" data-sort="act_profit_ratio"><i class="ri-arrow-up-down-line"></i><div class="font-bold">淨利率</div></div>
            <div class="px-4 py-2 flex items-center mx-auto cursor-pointer sortable sort-non" data-sort="sales_status"><i class="ri-arrow-up-down-line"></i><div class="font-bold">產品狀態</div></div>
            <div class="px-4 py-2 flex items-center mx-auto cursor-pointer sortable sort-non" data-sort="frontend_status"><i class="ri-arrow-up-down-line"></i><div class="font-bold">前台狀態</div></div>
            <div class="ml-auto px-4 py-2 font-bold">操作</div>
        </div>
        <div class="productList-content">
        </div>
    </div>
</main>

<textarea class="hidden" id="product_tpl_list">{$result_array.product_tpl_list|@json_encode nofilter}</textarea>
<textarea class="hidden" id="addon_group_list">{$result_array.addon_group_list|@json_encode nofilter}</textarea>
<textarea class="hidden" id="card_group_list">{$result_array.card_group_list|@json_encode nofilter}</textarea>
<textarea class="hidden" id='greeting_group_list'>{$result_array.greeting_group_list|@json_encode nofilter}</textarea>
<textarea class="hidden" id='category_list'>{$result_array.category_list|@json_encode nofilter}</textarea>

{literal}
<script>

var product_tpl_list = JSON.parse($("#product_tpl_list").val());
var category_list = JSON.parse($("#category_list").val());
var addon_group_list = JSON.parse($("#addon_group_list").val());
var card_group_list = JSON.parse($("#card_group_list").val());
var greeting_group_list = JSON.parse($("#greeting_group_list").val());


    async function productListInit(){
        $(".batch_act option:eq(0)").prop("selected", true)
        $sort = $(".sortable:not(.sort-non)")

        var cate_id_arr = []
        if (!$("#cate-check-all").prop("checked")){
            $("[name=cate]:checked").each(function(idx, val) {
                cate_id_arr.push($(val).val())
            });

            if (cate_id_arr.length == 0){
                $container = $(".productList-content");
                $container.find(".product").remove();
            } else {
                request();
            }
        } else {
            request();
        }

        function request(){
            $.bajax({
                url: "/admin/product/api/productList",
                method: "POST",
                formElement: "N",
                data: {
                    skey: $("[name=skey]").val(),
                    cate_id_arr: cate_id_arr.join(','),
                    sort: $sort.attr("data-sort"),
                    order: $sort.hasClass("sort-asc") ? "asc": "desc" 
                },
                callback: function (data) {
                    if (!data.code == 0) {
                        globalErrorReturn(data);
                    } else {
                        $container = $(".productList-content");
                        $container.find(".product").remove();

                        data.result.productList.forEach(function(product, idx){
                            $tpl = genProduct(product);
                            $container.append($tpl);
                        });
                    }
                },
                errorCallback: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            });
        }
    }

    function genProduct(product){
        $tpl = `
            <div class="product grid grid-cols-8 items-center border-b" data-product_id="${product.product_id}">
                <div class="flex flex-row items-center px-4 py-2">
                    <input type="checkbox" id="batchEdit[${product.product_id}]_label" name="batchEdit[${product.product_id}]" value="${product.product_id}" class="w-4 h-4">
                    ${product.img[0] ? `<img src="${product.img[0].img}" class="ml-4 h-12 w-12 bg-gray-400">`: ''}
                    
                    
                </div>
                <div class="px-4 py-2">${product.product_code? product.product_code: ''}</div>
                <div class="px-4 py-2 font-bold">${product.product_name_tc? product.product_name_tc: ''}</div>
                <div class="px-4 py-2">${product.act_price}(${product.cost})</div>
                <div class="px-4 py-2 font-bold">${product.act_profit_ratio? `<span class="text-green-600">${product.act_profit_ratio}<span>` : `<span class="text-red-600">${product.act_profit_ratio}<span>`}</div>
                <div class="px-4 py-2 mx-auto">
                    ${product.sales_status == '10_to_be_confirm'? '<div class="inline-block rounded font-bold bg-gray-200 text-gray-700 py-1 px-3">待確定</div>': ''}
                    ${product.sales_status == '20_not_for_sale'? '<div class="inline-block rounded font-bold bg-gray-200 text-gray-700 py-1 px-3">下架中</div>': ''}
                    ${product.sales_status == '25_schdeuled_sale'? `<div class="inline-block rounded font-bold bg-gray-200 text-gray-700 py-1 px-3 text-center">即將發售<br>(${product.publish_date})</div>`: ''}
                    ${product.sales_status == '30_on_sale'? `<div class="inline-block rounded font-bold bg-green-200 text-green-700 py-1 px-3 text-center">上架中${product.delivery_start_date ? `<br>(${product.delivery_start_date} - ${product.delivery_end_date})` :''}</div>`: ''}
                    ${product.sales_status == '40_out_of_stock'? '<div class="inline-block rounded font-bold bg-gray-200 text-gray-700 py-1 px-3">缺貨中</div>': ''}
                </div>
                <div class="px-4 py-2 mx-auto">${product.frontend_status == '10_dont_show' ? `<div class="bg-gray-200 text-gray-700 font-bold inline-block px-2 p-1 rounded">非顯示中</div>` : product.frontend_status == "40_out_of_stock" ? `<div class="bg-blue-200 text-blue-700 font-bold inline-block px-2 p-1 rounded">顯示為缺貨</div>` : `<div class="bg-green-200 text-green-700 font-bold inline-block px-2 p-1 rounded">顯示中</div>`}</div>
                <div class="px-4 py-2 flex right ml-auto">
                    <a href="admin/product/productDtl?product_id=${product.product_id}" class="flex items-center ml-2 cursor-pointer">
                        <i class="ri-edit-line text-gray-600 text-xl ml-2 "></i>編輯
                    </a>
                    <a href="admin/product/productDtl?product_id=${product.product_id}&copy=Y" class="flex items-center ml-2 cursor-pointer">
                        <i class="ri-edit-line text-gray-600 text-xl ml-2 "></i>複製
                    </a>
                    <div class="flex items-center ml-2 btn_del cursor-pointer">
                        <i class="ri-delete-bin-line"></i>刪除
                    </div>
                </div>
            </div>
        `;
        return $tpl;
    }

    $(document).off("click", "#btn_batch_all");
    $(document).on("click", "#btn_batch_all", function(){
        $("[name^='batchEdit']").prop("checked", $(this).prop("checked"))
    });

    $(document).off("input", ".batch_act");
    $(document).on("input", ".batch_act", function(){
        product_id_arr = [];
        $("[name^='batchEdit']:checked").each(function(i, e){
            product_id_arr.push($(e).val())
        });

        var action = $(this).val();

        if (action && product_id_arr.length > 0){
            switch(action){
                case 'bottom_product_tag':
                case 'bottom_product_tag_2':
                case 'product_tag':
                    vkConfirmDefault({
                        title: '確認',
                        content: `<div>請確認是否批量${$(this).find("option:selected").text()}成<input name="tc" class="border px-1 mx-1" placeholder="中文"/> <input name="en" class="border px-1 mx-1" placeholder="英文"/>?</div>`,
                        confirmButtonHtml: '確認',
                        cancelButtonHtml: '返回',
                        confirmButtonFunction: async function(e){
                            url = "admin/product/api/batchEditProduct";
                            data = {
                                product_id_arr: product_id_arr.join(','),
                                action: action,
                                param: $("[name=tc]").val(),
                                param_2: $("[name=en]").val(),
                            }

                            $loader = await globalLoader();
                            $.bajax({
                                url: url,
                                method: 'POST',
                                formElement: 'N',
                                data: data,
                                callback: function(data) {
                                    globalLoader($loader);
                                    if (data.code == 0){
                                        productListInit();
                                        $("#btn_batch_all").prop("checked", false);
                                    } else {
                                        globalErrorReturn(data);
                                    }
                                },
                                errorCallback: function(jqXHR, textStatus, errorThrown) {
                                    console.log(jqXHR);
                                },
                            });
                        }, 
                        cancelButtonFunction: async function(e){
                            $(".batch_act option:eq(0)").prop("selected", true)
                            $sort = $(".sortable:not(.sort-non)")
                        }
                    })
                    break;
                case '25_schdeuled_sale':
                    vkConfirmDefault({
                        title: '確認',
                        content: `<div>
                                <div>請確認是否批量修改發產品狀態為即將發售?</div>
                                <div class="flex items-center gap-x-2">
                                    <input type="date" name="publish_date" class="w-full border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" >
                                </div>
                            </div>`,
                        confirmButtonHtml: '確認',
                        cancelButtonHtml: '返回',
                        confirmButtonFunction: async function(e){
                            url = "admin/product/api/batchEditProduct";
                            data = {
                                product_id_arr: product_id_arr.join(','),
                                action: action,
                                param: $("[name=publish_date]").val(),
                            }

                            $loader = await globalLoader();
                            $.bajax({
                                url: url,
                                method: 'POST',
                                formElement: 'N',
                                data: data,
                                callback: function(data) {
                                    globalLoader($loader);
                                    if (data.code == 0){
                                        productListInit();
                                        $("#btn_batch_all").prop("checked", false);
                                    } else {
                                        globalErrorReturn(data);
                                    }
                                },
                                errorCallback: function(jqXHR, textStatus, errorThrown) {
                                    console.log(jqXHR);
                                },
                            });
                        }, 
                        cancelButtonFunction: async function(e){
                            $(".batch_act option:eq(0)").prop("selected", true)
                            $sort = $(".sortable:not(.sort-non)")
                        }
                    })
                    break;
                case 'delivery_date':
                    vkConfirmDefault({
                        title: '確認',
                        content: `<div>
                                <div>請確認是否批量修改送貨日期?</div>
                                <div class="flex items-center gap-x-2">
                                    <input type="date" name="delivery_start_date" class="w-full border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" >
                                    - 
                                    <input type="date" name="delivery_end_date" class="w-full border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">
                                </div>
                            </div>`,
                        confirmButtonHtml: '確認',
                        cancelButtonHtml: '返回',
                        confirmButtonFunction: async function(e){
                            url = "admin/product/api/batchEditProduct";
                            data = {
                                product_id_arr: product_id_arr.join(','),
                                action: action,
                                param: $("[name=delivery_start_date]").val(),
                                param_2: $("[name=delivery_end_date]").val(),
                            }

                            $loader = await globalLoader();
                            $.bajax({
                                url: url,
                                method: 'POST',
                                formElement: 'N',
                                data: data,
                                callback: function(data) {
                                    globalLoader($loader);
                                    if (data.code == 0){
                                        productListInit();
                                        $("#btn_batch_all").prop("checked", false);
                                    } else {
                                        globalErrorReturn(data);
                                    }
                                },
                                errorCallback: function(jqXHR, textStatus, errorThrown) {
                                    console.log(jqXHR);
                                },
                            });
                        }, 
                        cancelButtonFunction: async function(e){
                            $(".batch_act option:eq(0)").prop("selected", true)
                            $sort = $(".sortable:not(.sort-non)")
                        }
                    })
                    break;
                case 'force_checkout':
                    vkConfirmDefault({
                        title: '確認',
                        content: `<div>
                                <div>請確認是否批量修改無視缺貨繼續出售?</div>
                                <div class="flex items-center gap-x-4">
                                    <div class="flex items-center gap-x-2">
                                        <div>啟用</div>
                                        <label class="switch">
                                            <input type="hidden" name="is_force_checkout">
                                            <input id="is_force_checkout" type="checkbox" checked="">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                    <div class="flex items-center gap-x-2">
                                        <input type="date" name="force_checkout_start_date" class="w-full border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" >
                                        - 
                                        <input type="date" name="force_checkout_end_date" class="w-full border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">
                                    </div>
                                </div>
                            </div>`,
                        confirmButtonHtml: '確認',
                        cancelButtonHtml: '返回',
                        confirmButtonFunction: async function(e){
                            url = "admin/product/api/batchEditProduct";
                            data = {
                                product_id_arr: product_id_arr.join(','),
                                action: action,
                                param: $("#is_force_checkout").is(":checked") ? "Y" : "N",
                                param_2: $("[name=force_checkout_start_date]").val(),
                                param_3: $("[name=force_checkout_end_date]").val(),
                            }

                            $loader = await globalLoader();
                            $.bajax({
                                url: url,
                                method: 'POST',
                                formElement: 'N',
                                data: data,
                                callback: function(data) {
                                    globalLoader($loader);
                                    if (data.code == 0){
                                        productListInit();
                                        $("#btn_batch_all").prop("checked", false);
                                    } else {
                                        globalErrorReturn(data);
                                    }
                                },
                                errorCallback: function(jqXHR, textStatus, errorThrown) {
                                    console.log(jqXHR);
                                },
                            });
                        }, 
                        cancelButtonFunction: async function(e){
                            $(".batch_act option:eq(0)").prop("selected", true)
                            $sort = $(".sortable:not(.sort-non)")
                        }
                    })
                    break;
                case 'publish_date':
                // case 'product_tpl_id':
                    vkConfirmDefault({
                        title: '確認',
                        content: `<div>請確認是否批量${$(this).find("option:selected").text()}成<input name="vkActParam" id="vkActParam" type="date" class="border px-1 mx-1"/>?</div>`,
                        confirmButtonHtml: '確認',
                        cancelButtonHtml: '返回',
                        confirmButtonFunction: async function(e){
                            url = "admin/product/api/batchEditProduct";
                            data = {
                                product_id_arr: product_id_arr.join(','),
                                action: action,
                                param: $("#vkActParam").val()
                            }

                            $loader = await globalLoader();
                            $.bajax({
                                url: url,
                                method: 'POST',
                                formElement: 'N',
                                data: data,
                                callback: function(data) {
                                    globalLoader($loader);
                                    if (data.code == 0){
                                        productListInit();
                                        $("#btn_batch_all").prop("checked", false);
                                    } else {
                                        globalErrorReturn(data);
                                    }
                                },
                                errorCallback: function(jqXHR, textStatus, errorThrown) {
                                    console.log(jqXHR);
                                },
                            });
                        }, 
                        cancelButtonFunction: async function(e){
                            $(".batch_act option:eq(0)").prop("selected", true)
                            $sort = $(".sortable:not(.sort-non)")
                        }
                    })
                    break;
                case 'product_tpl_id':
                    vkConfirmDefault({
                        title: '確認',
                        content: `<div>請確認是否批量${$(this).find("option:selected").text()}:<select id="vkActParam" class="border ml-2 rounded">
                                ${product_tpl_list.map(function(tpl, idx){
                                    return `<option value="${tpl.tpl_id}">${tpl.adm_name}</option>`
                                }).join('')}
                            </select>?</div>`,
                        confirmButtonHtml: '確認',
                        cancelButtonHtml: '返回',
                        mounted: function(){
                            $("#vkActParam").selectize()
                        },
                        confirmButtonFunction: async function(e){
                            url = "admin/product/api/batchEditProduct";

                            data = {
                                product_id_arr: product_id_arr.join(','),
                                action: action,
                                param: $("#vkActParam").val()
                            }

                            $loader = await globalLoader();
                            $.bajax({
                                url: url,
                                method: 'POST',
                                formElement: 'N',
                                data: data,
                                callback: function(data) {
                                    globalLoader($loader);
                                    if (data.code == 0){
                                        productListInit();
                                        $("#btn_batch_all").prop("checked", false);
                                    } else {
                                        globalErrorReturn(data);
                                    }
                                },
                                errorCallback: function(jqXHR, textStatus, errorThrown) {
                                    console.log(jqXHR);
                                },
                            });
                        }, 
                        cancelButtonFunction: async function(e){
                            $(".batch_act option:eq(0)").prop("selected", true)
                            $sort = $(".sortable:not(.sort-non)")
                        }
                    })
                    break;
                case 'add_cate':
                    vkConfirmDefault({
                        title: '確認',
                        content: `<div style="width:600px; min-height:200px;">請確認是否批量增加此產品分類至已剔選產品<select id="vkActParam" class="border rounded">
                                ${category_list.map(function(category, idx){
                                    return `<option value="${category.cate_id}">${category.name_tc} (${category.name_en})</option>`
                                }).join('')}
                            </select></div>`,
                        confirmButtonHtml: '確認',
                        cancelButtonHtml: '返回',
                        mounted: function(){
                            $("#vkActParam").selectize()
                        },
                        confirmButtonFunction: async function(e){
                            url = "admin/product/api/batchEditProduct";

                            data = {
                                product_id_arr: product_id_arr.join(','),
                                action: action,
                                param: $("#vkActParam").val()
                            }

                            $loader = await globalLoader();
                            $.bajax({
                                url: url,
                                method: 'POST',
                                formElement: 'N',
                                data: data,
                                callback: function(data) {
                                    globalLoader($loader);
                                    if (data.code == 0){
                                        productListInit();
                                        $("#btn_batch_all").prop("checked", false);
                                    } else {
                                        globalErrorReturn(data);
                                    }
                                },
                                errorCallback: function(jqXHR, textStatus, errorThrown) {
                                    console.log(jqXHR);
                                },
                            });
                        }, 
                        cancelButtonFunction: async function(e){
                            $(".batch_act option:eq(0)").prop("selected", true)
                            $sort = $(".sortable:not(.sort-non)")
                        }
                    })
                    break;
                case 'addon_group':
                    vkConfirmDefault({
                        title: '確認',
                        content: `<div>請確認是否批量${$(this).find("option:selected").text()}:<select id="vkActParam" class="border ml-2 rounded">
                                ${addon_group_list.map(function(addon, idx){
                                    return `<option value="${addon.addon_group_id}">${addon.inhouse_name_tc}</option>`
                                }).join('')}
                            </select>?</div>`,
                        confirmButtonHtml: '確認',
                        cancelButtonHtml: '返回',
                        confirmButtonFunction: async function(e){
                            url = "admin/product/api/batchEditProduct";
    
                            data = {
                                product_id_arr: product_id_arr.join(','),
                                action: action,
                                param: $("#vkActParam").val()
                            }
    
                            $loader = await globalLoader();
                            $.bajax({
                                url: url,
                                method: 'POST',
                                formElement: 'N',
                                data: data,
                                callback: function(data) {
                                    globalLoader($loader);
                                    if (data.code == 0){
                                        productListInit();
                                        $("#btn_batch_all").prop("checked", false);
                                    } else {
                                        globalErrorReturn(data);
                                    }
                                },
                                errorCallback: function(jqXHR, textStatus, errorThrown) {
                                    console.log(jqXHR);
                                },
                            });
                        }, 
                        cancelButtonFunction: async function(e){
                            $(".batch_act option:eq(0)").prop("selected", true)
                            $sort = $(".sortable:not(.sort-non)")
                        }
                    })
                    break;
                case 'card_group':
                    vkConfirmDefault({
                        title: '確認',
                        content: `<div>請確認是否批量${$(this).find("option:selected").text()}:<select id="vkActParam" class="border ml-2 rounded">
                                ${card_group_list.map(function(card, idx){
                                    return `<option value="${card.card_group_id}">${card.name_tc}</option>`
                                }).join('')}
                            </select>?</div>`,
                        confirmButtonHtml: '確認',
                        cancelButtonHtml: '返回',
                        confirmButtonFunction: async function(e){
                            url = "admin/product/api/batchEditProduct";
    
                            data = {
                                product_id_arr: product_id_arr.join(','),
                                action: action,
                                param: $("#vkActParam").val()
                            }
    
                            $loader = await globalLoader();
                            $.bajax({
                                url: url,
                                method: 'POST',
                                formElement: 'N',
                                data: data,
                                callback: function(data) {
                                    globalLoader($loader);
                                    if (data.code == 0){
                                        productListInit();
                                        $("#btn_batch_all").prop("checked", false);
                                    } else {
                                        globalErrorReturn(data);
                                    }
                                },
                                errorCallback: function(jqXHR, textStatus, errorThrown) {
                                    console.log(jqXHR);
                                },
                            });
                        }, 
                        cancelButtonFunction: async function(e){
                            $(".batch_act option:eq(0)").prop("selected", true)
                            $sort = $(".sortable:not(.sort-non)")
                        }
                    })
                    break;
                case 'greeting_group':
                    vkConfirmDefault({
                        title: '確認',
                        content: `<div>請確認是否批量${$(this).find("option:selected").text()}:<select id="vkActParam" class="border ml-2 rounded">
                                ${greeting_group_list.map(function(greeting, idx){
                                    return `<option value="${greeting.greeting_group_id}">${greeting.name_tc}</option>`
                                }).join('')}
                            </select>?</div>`,
                        confirmButtonHtml: '確認',
                        cancelButtonHtml: '返回',
                        confirmButtonFunction: async function(e){
                            url = "admin/product/api/batchEditProduct";
    
                            data = {
                                product_id_arr: product_id_arr.join(','),
                                action: action,
                                param: $("#vkActParam").val()
                            }
    
                            $loader = await globalLoader();
                            $.bajax({
                                url: url,
                                method: 'POST',
                                formElement: 'N',
                                data: data,
                                callback: function(data) {
                                    globalLoader($loader);
                                    if (data.code == 0){
                                        productListInit();
                                        $("#btn_batch_all").prop("checked", false);
                                    } else {
                                        globalErrorReturn(data);
                                    }
                                },
                                errorCallback: function(jqXHR, textStatus, errorThrown) {
                                    console.log(jqXHR);
                                },
                            });
                        }, 
                        cancelButtonFunction: async function(e){
                            $(".batch_act option:eq(0)").prop("selected", true)
                            $sort = $(".sortable:not(.sort-non)")
                        }
                    })
                    break;
                default: 
                    vkConfirmDefault({
                        title: '確認',
                        content: `<div>請確認是否批量${$(this).find("option:selected").text()}?</div>`,
                        confirmButtonHtml: '確認',
                        cancelButtonHtml: '返回',
                        confirmButtonFunction: async function(e){
                            url = "admin/product/api/batchEditProduct";
                            $loader = await globalLoader();
                            $.bajax({
                                url: url,
                                method: 'POST',
                                formElement: 'N',
                                data: {
                                    product_id_arr: product_id_arr.join(','),
                                    action: action,
                                },
                                callback: function(data) {
                                    globalLoader($loader);
                                    if (data.code == 0){
                                        productListInit();
                                        $("#btn_batch_all").prop("checked", false);
                                    } else {
                                        globalErrorReturn(data);
                                    }
                                },
                                errorCallback: function(jqXHR, textStatus, errorThrown) {
                                    console.log(jqXHR);
                                },
                            });
                        }, 
                        cancelButtonFunction: async function(e){
                            $(".batch_act option:eq(0)").prop("selected", true)
                            $sort = $(".sortable:not(.sort-non)")
                        }
                    })
                    break;
            }
        } else {  
            $(".batch_act option:eq(0)").prop("selected", true)
            $sort = $(".sortable:not(.sort-non)")
        }
    });
    
    $(document).on("click", ".btn_cate_switch", function() {
        $(".select-type-list").toggleClass("hidden");
    }).on('click', '.panel-closer', function(){
        $(".select-type-list").addClass("hidden");
    })

    $(document).on("change", "[name=cate]", function() {
        if ($(this).parents(".children_group").find("[name=cate]:not(:checked)").length > 0) {
            // some siblings are not checked
            $(this).parents(".parent").find(".parent_check_box").prop("checked", false);
        } else {
            // all silbings are checked
            $(this).parents(".parent").find(".parent_check_box").prop("checked", true);
        }

        if ($(".parent_check_box:not(:checked)").length > 0) {
            $("#cate-check-all").prop("checked", false);
        } else {
            $("#cate-check-all").prop("checked", true);
        }

        productListInit();
    })

    $(document).on("change", "#cate-check-all", function() {
        if ($(this).prop("checked")) {
            $(".parent_check_box").prop("checked", true);
            $("[name=cate]").prop("checked", true);
        } else {
            $(".parent_check_box").prop("checked", false);
            $("[name=cate]").prop("checked", false);
        }

        productListInit();
    });

    $(document).on("change", ".parent_check_box", function() {
        if ($(this).prop("checked")) {
            $(this).parents(".parent").find("[name=cate]").prop("checked", true);
        } else {
            $(this).parents(".parent").find("[name=cate]").prop("checked", false);
        }

        productListInit();
    });

    $(document).off("click", ".btn_del");
    $(document).on("click", ".btn_del", async function(e){
        $loader = await globalLoader();
        $product = $(this).parents(".product");
        vkConfirmDefault({
            title: '確認',
            content: '<div>請確認是否刪除這條目?</div>',
            confirmButtonHtml: '確認',
            cancelButtonHtml: '返回',
            confirmButtonFunction: function(){
                $.bajax({
                    url: "admin/product/api/editProduct",
                    method: 'POST',
                    formElement: 'N',
                    data: {
                        shop_id: "{/literal}{$shop_id}{literal}",
                        product_id: $product.attr("data-product_id"),
                        activate: 'N'
                    },
                    callback: function(data) {
                        globalLoader($loader);
                        if (data.code != 0){
                            globalErrorReturn(data);
                        } else {
                            productListInit();
                        }
                    },
                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                });
            },
            cancelButtonFunction : function(){
                globalLoader($loader);
            }
        })
    })

    $(document).off("click", ".btn_copy")
    $(document).on("click", ".btn_copy", async function(e){
        $loader = await globalLoader();
        $product = $(this).parents(".product");

        $.bajax({
            url: "admin/product/api/duplicateProduct",
            debug: 'Y',
            method: 'POST',
            formElement: 'N',
            data: {
                product_id: $product.attr("data-product_id"),
            },
            callback: function(data) {
                if (data.code != 0){
                    globalErrorReturn(data);
                } else {
                    productListInit();
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    }) 

    $(document).off("keyup", "[name=skey]");
    $(document).on("keyup", "[name=skey]", function(){
        productListInit();
    });

    $(document).ready(function () {
        productListInit();
        
        $(document).on("click", ".sortable", function(){
            var $ele = $(this);
            $ele.siblings(".sortable").removeClass("sort-desc sort-asc").addClass("sort-non");
            $ele.siblings(".sortable").find("i").removeClass("ri-arrow-down-line ri-arrow-up-line").addClass("ri-arrow-up-down-line");

            if ($ele.hasClass("sort-non")){
                $ele.removeClass("sort-non").addClass("sort-desc");
                $ele.find("i").removeClass("ri-arrow-up-down-line").addClass("ri-arrow-down-line");
            } else if ($ele.hasClass("sort-desc")) {
                $ele.removeClass("sort-desc").addClass("sort-asc");
                $ele.find("i").removeClass("ri-arrow-down-line").addClass("ri-arrow-up-line");
            } else if ($ele.hasClass("sort-asc")){
                $ele.removeClass("sort-asc").addClass("sort-non");
                $ele.find("i").removeClass("ri-arrow-up-line").addClass("ri-arrow-up-down-line");
            }

            productListInit();
        });
    });
</script>
{/literal}