<div class="flex flex-col px-4 lg:px-12 lg:pb-16">
    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">產品報價</div>
        </div>
    </div>
    
    <div class="lg:flex">

        <div class="flex flex-col lg:mr-4 lg:w-4/5 lg:mb-0 mb-4">
    
            <div class="bg-white rounded-lg shadow-lg">
    
                <input name="item_json" type="hidden">
                <div class="flex items-center py-4 px-6">
                    <div class="text-2xl text-gray-800 font-bold">產品內容</div>
                    <div class="btn_product_item ml-4 px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full cursor-pointer">修改產品內容</div>
                </div>
                <div id="itemList_container" class="flex flex-col gap-y-2 py-2 overflow-y-auto border-t border-gray-300 bg-gray-100 px-3">
                </div>
            </div>
        </div>


        <div class="flex flex-col lg:mr-4 lg:w-1/5 lg:mb-0 mb-4">
    
            <div class="bg-white rounded-lg shadow-lg">
    
                <input name="item_json" type="hidden">
                <div class="py-2 px-6">
                    <div class="text-2xl text-gray-800 font-bold mb-4">產品計價</div>
                    <div class="font-bold text-xl">成本</div>
                </div>
                <div class="flex flex-col gap-y-2 py-2 overflow-y-auto border-t border-gray-300 px-6">
                    <div class="text-xl">
                        <div class="flex my-4">
                            <div class=" text-gray-400 flex-0 mr-4">來貨</div>
                            <div class="flex-1"><div class="border-dotted border-b-2 h-1/2" style="border-color:#999;"></div></div>
                            <div class=" text-gray-400 flex-0 ml-4 item_cost">$ -</div>
                        </div>
                        <div class="flex my-4">
                            <div class=" text-gray-400 flex-0 mr-4">平台收費(20%)</div>
                            <div class="flex-1"><div class="border-dotted border-b-2 h-1/2" style="border-color:#999;"></div></div>
                            <div class=" text-gray-400 flex-0 ml-4 std_platform_commission">$ -</div>
                        </div>
                        <div class="flex my-4">
                            <div class=" text-gray-400 flex-0 mr-4">銷售員分成</div>
                            <div class="flex-1"><div class="border-dotted border-b-2 h-1/2" style="border-color:#999;"></div></div>
                            <div class=" text-gray-400 flex-0 ml-4 std_commission">$ -</div>
                        </div>
                        <div class="border-b">

                        </div>
                        <div class="flex justify-end my-2">
                            <div class="text-gray-400 mr-4">總成本</div>
                            <div class="ttl_cost">$ - </div>
                        </div>
                    </div>
            
                </div>
            </div>
        </div>
    </div>




</div>
<script>
var commission_fee = {if $result_array.shop.commission}parseFloat({$result_array.shop.commission} / 100){else}0{/if};
var platform_commission_fee = {if $result_array.shop.platform_commission}parseFloat({$result_array.shop.platform_commission} / 100){else}0{/if};
var ttlCost = 0;

</script>

{literal}
<script>

function priceCalc(){
    // calcList_container cost
    item_cost = 0;
    $("#itemList_container .item_grp").each(function(i, item){
        item_cost += parseFloat($(item).find(".cost").html() * $(item).find("[name=item_qty]").val())
    });
    $(".item_cost").html("$" + thousand_separator(item_cost))
    
    // // calc revenue
    // let std_revenue = Math.round(item_cost * std_markup / 100);
    // $(".std_revenue").html("$" + thousand_separator(std_revenue));

    // Calc commission
    let std_commission = Math.round(item_cost * commission_fee);
    $(".std_commission").html("$" + thousand_separator(std_commission));

    // Calc platform
    let std_platform_commission = Math.round(item_cost * platform_commission_fee);
    $(".std_platform_commission").html("$" + thousand_separator(std_platform_commission));

    // Calc ttl_cost
    let ttl_cost = item_cost + std_commission + std_platform_commission
    $(".ttl_cost").html("$" + thousand_separator(ttl_cost));


    // // Calc suggest unit price
    // let std_suggest_unit_price = Math.round(std_revenue + ttl_cost);
    // $(".std_suggest_unit_price").html("$" + thousand_separator(std_suggest_unit_price));
}

$(document).ready(function(){
    $(document).off("change", "[name=item_qty]");
    $(document).on("change", "[name=item_qty]", function(){
        priceCalc();
    });

    $(document).off("click", ".btn_product_item")
    $(document).on("click", ".btn_product_item", function(){
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#product_item_picker').html(),
            mounted: function(){
                $(".vk-modal-dom").find("[name=skey]").focus().keyup();
            }
        });
    });

    $(document).off("click", ".item_option")
    $(document).on("click", ".item_option", function(){
        $container = $("#itemList_container");
        item = $(this).data("item")
        console.log(item);
        tpl = `<div class="item_grp bg-white shadow-lg border border-gray-200 rounded-lg">
                <div class="flex justify-between px-6 py-3">
                    <div class="flex items-center gap-4 flex-1 mr-10">
                        <img src="${item.item_img}" class="w-24 h-24 rounded object-contain">
                        <div class="grid grid-cols-2 flex-1 justify-between">
                            <div class="flex items-center">
                                <div>
                                    <div class="font-bold text-gray-400">${item.sku}</div>
                                    <div class="font-bold text-2xl">${item.inhouse_name_tc? item.inhouse_name_tc : ""}</div>
                                    <div class="font-bold text-gray-400">${item.remarks? item.remarks : ""}</div>
                                </div>
                            </div>
                            <div class="flex gap-x-4 gap-y-2 flex-wrap">
                                <div class="flex items-center">
                                    <div class="whitespace-nowrap text-gray-400 font-bold">數量</div>
                                    <input name="item_qty" type="number" class="border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 w-32" value="1"/>
                                </div>
                                <div class="flex items-center">
                                    <div class="whitespace-nowrap text-gray-400 font-bold">可用存量：</div>
                                    <span class="qty">${item.ava_qty}</span>
                                </div>
                                <div class="flex items-center">
                                    <div class="whitespace-nowrap text-gray-400 font-bold">成本：$<span class="cost">${item.cost}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 flex-0">
                        <div class="btn_del_item_grp bg-gray-200 text-gray-700 py-2 px-2 rounded font-bold flex gap-x-2 hover:text-white hover:bg-red-500 transition-all"><i class="ri-delete-bin-line"></i>刪除</div>
                    </div>
                </div>
            </div>`

        $container.append(tpl);

        priceCalc()
    });

    
    $(document).off("click", ".btn_del_item_grp");
    $(document).on("click", ".btn_del_item_grp", function(){
        $(this).parents(".item_grp").remove();
        priceCalc();
    })
});
</script>
{/literal}

{include file='module/itemPicker.html'}
