<div class="breadcumb container vk-container text-sm py-5 "><a href="# " class="text-gray-400 hover:underline hover:opacity-75 ">禮籃種類</a><span class="text-gray-400 mx-2 ">/</span><a href="# " class="text-theme hover:underline hover:opacity-75 ">尿片蛋糕</a></div>
<section class="container vk-container ">
    <img src="./img/temp_result_banner.jpg " alt="banner " class="w-full lg:w-auto lg:h-120 mx-auto ">
</section>
<section class="container vk-container ">
    <div class="flex flex-row ">
        <aside class="w-84 left-column-selector hidden lg:block ">
            <form action="# " class="border border-gray-300 ">
                <div class="border-b border-gray-300 ">
                    <h6 class="font-bold py-4 px-6 ">分類</h6>
                    <ul class="px-6 mb-6 ">
                        <li class="flex items-center py-1 relative "><input type="checkbox " class="absolute top-0 left-0 w-full h-full opacity-0 ">
                            <div class="h-5 w-5 border border flex items-center justify-center mr-2 ">
                                <i class="ri-check-line text-gray-600 "></i>
                            </div><span>分類選項</span></li>
                        <li class="flex items-center py-1 relative "><input type="checkbox " class="absolute top-0 left-0 w-full h-full opacity-0 ">
                            <div class="h-5 w-5 border border flex items-center justify-center mr-2 ">
                                <i class="ri-check-line text-gray-600 "></i>
                            </div><span>分類選項</span></li>
                        <li class="flex items-center py-1 relative "><input type="checkbox " class="absolute top-0 left-0 w-full h-full opacity-0 ">
                            <div class="h-5 w-5 border border flex items-center justify-center mr-2 ">
                                <i class="ri-check-line text-gray-600 "></i>
                            </div><span>分類選項</span></li>
                        <li class="flex items-center py-1 relative "><input type="checkbox " class="absolute top-0 left-0 w-full h-full opacity-0 ">
                            <div class="h-5 w-5 border border flex items-center justify-center mr-2 ">
                                <i class="ri-check-line text-gray-600 "></i>
                            </div><span>分類選項</span></li>
                    </ul>
                </div>
                <div class="border-b border-gray-300 ">
                    <h6 class="font-bold py-4 px-6 ">分類</h6>
                    <ul class="px-6 mb-6 ">
                        <li class="flex items-center py-1 relative "><input type="checkbox " class="absolute top-0 left-0 w-full h-full opacity-0 ">
                            <div class="h-5 w-5 border border flex items-center justify-center mr-2 ">
                                <i class="ri-check-line text-gray-600 "></i>
                            </div><span>分類選項</span></li>
                        <li class="flex items-center py-1 relative "><input type="checkbox " class="absolute top-0 left-0 w-full h-full opacity-0 ">
                            <div class="h-5 w-5 border border flex items-center justify-center mr-2 ">
                                <i class="ri-check-line text-gray-600 "></i>
                            </div><span>分類選項</span></li>
                        <li class="flex items-center py-1 relative "><input type="checkbox " class="absolute top-0 left-0 w-full h-full opacity-0 ">
                            <div class="h-5 w-5 border border flex items-center justify-center mr-2 ">
                                <i class="ri-check-line text-gray-600 "></i>
                            </div><span>分類選項</span></li>
                        <li class="flex items-center py-1 relative "><input type="checkbox " class="absolute top-0 left-0 w-full h-full opacity-0 ">
                            <div class="h-5 w-5 border border flex items-center justify-center mr-2 ">
                                <i class="ri-check-line text-gray-600 "></i>
                            </div><span>分類選項</span></li>
                    </ul>
                </div>
                <div class="border-b border-gray-300 ">
                    <h6 class="font-bold py-4 px-6 ">分類</h6>
                    <ul class="px-6 mb-6 ">
                        <li class="flex items-center py-1 relative "><input type="checkbox " class="absolute top-0 left-0 w-full h-full opacity-0 ">
                            <div class="h-5 w-5 border border flex items-center justify-center mr-2 ">
                                <i class="ri-check-line text-gray-600 "></i>
                            </div><span>分類選項</span></li>
                        <li class="flex items-center py-1 relative "><input type="checkbox " class="absolute top-0 left-0 w-full h-full opacity-0 ">
                            <div class="h-5 w-5 border border flex items-center justify-center mr-2 ">
                                <i class="ri-check-line text-gray-600 "></i>
                            </div><span>分類選項</span></li>
                        <li class="flex items-center py-1 relative "><input type="checkbox " class="absolute top-0 left-0 w-full h-full opacity-0 ">
                            <div class="h-5 w-5 border border flex items-center justify-center mr-2 ">
                                <i class="ri-check-line text-gray-600 "></i>
                            </div><span>分類選項</span></li>
                        <li class="flex items-center py-1 relative "><input type="checkbox " class="absolute top-0 left-0 w-full h-full opacity-0 ">
                            <div class="h-5 w-5 border border flex items-center justify-center mr-2 ">
                                <i class="ri-check-line text-gray-600 "></i>
                            </div><span>分類選項</span></li>
                    </ul>
                </div>
                <div class="px-6 py-4 ">
                    <input type="submit " value="篩選 " class="bg-theme text-white w-full py-3 hover:opacity-75 ">
                </div>
            </form>
        </aside>
        <div class="lg:ml-12 flex-1 ">
            <div class="flex flex-row ">
                <div>
                    <h1 class="font-bold text-xl ">尿片蛋糕</h1>
                    <div class="text-gray-400 text-sm ">共<strong>52</strong>個搜尋結果</div>
                </div>
                <div class="picker-holder ml-auto flex flex-row justify-end items-center ">
                    <div class="text-gray-600 ">排序</div>
                    <div class="bg-gray-200 rounded ml-4 px-4 py-2 flex flex-row items-center ">
                        <select name=" " id=" " class="appearance-none bg-transparent text-gray-500 outline-none ">
                                <option value=" ">由最便宜排列</option>
                        </select>
                        <i class="ri-arrow-down-s-line text-gray-500 ml-2 text-lg "></i>
                    </div>
                </div>
            </div>
            <!-- item list -->
            <section class="item-list-showcase mt-6 ">
                <div class="mb-4 mini-container ">
                    <div class="grid grid-flow-row grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4 ">
                        <a class="hover:opacity-75 " href="# ">
                            <img src="./img/temp/1.png " alt=" ">
                            <h3 class="font-bold pt-2 ">時尚紳士美食禮籃</h3>
                            <div class="pricing ">
                                <span class="pre-price text-gray-400 line-through text-sm ">HKD$ 1,088</span>
                                <span class="price text-gray-500 font-bold ">HKD$ 988</span>

                            </div>
                            <span class="bg-theme text-gray text-xs bg-primary inline-block rounded-sm px-1 text-white mt-1 ">5% OFF</span>
                        </a>
                        <a class="hover:opacity-75 " href="# "> <img src="./img/temp/2.png " alt=" ">
                            <h3 class="font-bold pt-2 ">時尚紳士美食禮籃</h3>
                            <div class="pricing ">
                                <span class="pre-price text-gray-400 line-through text-sm ">HKD$ 1,088</span>
                                <span class="price text-gray-500 font-bold ">HKD$ 988</span>

                            </div>
                            <span class="bg-theme text-gray text-xs bg-primary inline-block rounded-sm px-1 text-white mt-1 ">5% OFF</span>
                        </a>
                        <a class="hover:opacity-75 " href="# "> <img src="./img/temp/4.png " alt=" ">
                            <h3 class="font-bold pt-2 ">時尚紳士美食禮籃</h3>
                            <div class="pricing ">
                                <span class="pre-price text-gray-400 line-through text-sm ">HKD$ 1,088</span>
                                <span class="price text-gray-500 font-bold ">HKD$ 988</span>

                            </div>
                            <span class="bg-theme text-gray text-xs bg-primary inline-block rounded-sm px-1 text-white mt-1 ">5% OFF</span>
                        </a>
                        <a class="hover:opacity-75 " href="# "> <img src="./img/temp/3.png " alt=" ">
                            <h3 class="font-bold pt-2 ">時尚紳士美食禮籃</h3>
                            <div class="pricing ">
                                <span class="pre-price text-gray-400 line-through text-sm ">HKD$ 1,088</span>
                                <span class="price text-gray-500 font-bold ">HKD$ 988</span>

                            </div>
                            <span class="bg-theme text-gray text-xs bg-primary inline-block rounded-sm px-1 text-white mt-1 ">5% OFF</span>
                        </a>

                        <a class="hover:opacity-75 " href="# ">
                            <img src="./img/temp/4.png " alt=" ">
                            <h3 class="font-bold pt-2 ">時尚紳士美食禮籃</h3>
                            <div class="pricing ">
                                <span class="pre-price text-gray-400 line-through text-sm ">HKD$ 1,088</span>
                                <span class="price text-gray-500 font-bold ">HKD$ 988</span>

                            </div>
                            <span class="bg-theme text-gray text-xs bg-primary inline-block rounded-sm px-1 text-white mt-1 ">5% OFF</span>
                        </a>
                        <a class="hover:opacity-75 " href="# "> <img src="./img/temp/1.png " alt=" ">
                            <h3 class="font-bold pt-2 ">時尚紳士美食禮籃</h3>
                            <div class="pricing ">
                                <span class="pre-price text-gray-400 line-through text-sm ">HKD$ 1,088</span>
                                <span class="price text-gray-500 font-bold ">HKD$ 988</span>

                            </div>
                            <span class="bg-theme text-gray text-xs bg-primary inline-block rounded-sm px-1 text-white mt-1 ">5% OFF</span>
                        </a>
                        <a class="hover:opacity-75 " href="# "> <img src="./img/temp/3.png " alt=" ">
                            <h3 class="font-bold pt-2 ">時尚紳士美食禮籃</h3>
                            <div class="pricing ">
                                <span class="pre-price text-gray-400 line-through text-sm ">HKD$ 1,088</span>
                                <span class="price text-gray-500 font-bold ">HKD$ 988</span>

                            </div>
                            <span class="bg-theme text-gray text-xs bg-primary inline-block rounded-sm px-1 text-white mt-1 ">5% OFF</span>
                        </a>
                        <a class="hover:opacity-75 " href="# "> <img src="./img/temp/2.png " alt=" ">
                            <h3 class="font-bold pt-2 ">時尚紳士美食禮籃</h3>
                            <div class="pricing ">
                                <span class="pre-price text-gray-400 line-through text-sm ">HKD$ 1,088</span>
                                <span class="price text-gray-500 font-bold ">HKD$ 988</span>

                            </div>
                            <span class="bg-theme text-gray text-xs bg-primary inline-block rounded-sm px-1 text-white mt-1 ">5% OFF</span>
                        </a>
                        <a class="hover:opacity-75 " href="# "> <img src="./img/temp/2.png " alt=" ">
                            <h3 class="font-bold pt-2 ">時尚紳士美食禮籃</h3>
                            <div class="pricing ">
                                <span class="pre-price text-gray-400 line-through text-sm ">HKD$ 1,088</span>
                                <span class="price text-gray-500 font-bold ">HKD$ 988</span>

                            </div>
                            <span class="bg-theme text-gray text-xs bg-primary inline-block rounded-sm px-1 text-white mt-1 ">5% OFF</span>
                        </a>
                        <a class="hover:opacity-75 " href="# "> <img src="./img/temp/2.png " alt=" ">
                            <h3 class="font-bold pt-2 ">時尚紳士美食禮籃</h3>
                            <div class="pricing ">
                                <span class="pre-price text-gray-400 line-through text-sm ">HKD$ 1,088</span>
                                <span class="price text-gray-500 font-bold ">HKD$ 988</span>

                            </div>
                            <span class="bg-theme text-gray text-xs bg-primary inline-block rounded-sm px-1 text-white mt-1 ">5% OFF</span>
                        </a>
                        <a class="hover:opacity-75 " href="# "> <img src="./img/temp/2.png " alt=" ">
                            <h3 class="font-bold pt-2 ">時尚紳士美食禮籃</h3>
                            <div class="pricing ">
                                <span class="pre-price text-gray-400 line-through text-sm ">HKD$ 1,088</span>
                                <span class="price text-gray-500 font-bold ">HKD$ 988</span>

                            </div>
                            <span class="bg-theme text-gray text-xs bg-primary inline-block rounded-sm px-1 text-white mt-1 ">5% OFF</span>
                        </a>
                    </div>
                </div>
            </section>
            <!-- pager -->
            <div class="flex flex-row items-center justify-center py-8 ">
                <a href="# " class="border border-gray-200 text-gray-400 h-8 text-center flex items-center justify-center hover:opacity-75 mx-1 px-4 ">上一頁</a>
                <a href="# " class="border border-theme bg-theme text-white w-8 h-8 text-center flex items-center justify-center hover:opacity-75 mx-1 ">1</a>
                <a href="# " class="border border-gray-200 text-gray-400 w-8 h-8 text-center flex items-center justify-center hover:opacity-75 mx-1 ">2</a>
                <a href="# " class="border border-gray-200 text-gray-400 w-8 h-8 text-center flex items-center justify-center hover:opacity-75 mx-1 ">3</a>
                <a href="# " class="border border-gray-200 text-gray-400 w-8 h-8 text-center flex items-center justify-center hover:opacity-75 mx-1 ">4</a>
                <a href="# " class="border border-gray-200 text-gray-400 w-8 h-8 text-center flex items-center justify-center hover:opacity-75 mx-1 ">5</a>
                <a href="# " class="border border-gray-200 text-gray-400 h-8 text-center flex items-center justify-center hover:opacity-75 mx-1 px-4 ">下一頁</a>
            </div>
            <!-- pager -->
            <!-- item list -->
        </div>
    </div>
</section>