<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="h2">
            {$RM.hello} {$result_array.member_name},
        </td>
    </tr>
    <tr>
        <td class="bodycopy">
           {$RM.thankyouValidateEmail}
        </td>
    </tr>
    <tr>
        <td class="bodycopy">
            <br />
            <hr />
            {$result_array.pins}
            <hr />
        </td>
    </tr>
    <tr>
        <td class="bodycopy">
            <br />
            <br />
            <span style="color: gray;">{$RM.autoEmailNoReply}</span>
            <br/>
            <br/>
        </td>
    </tr>
</table>