<div id="addon_picker" class="hidden">
    <div class="p-4">
        <div class="text-xl mb-2">請選擇附加產品</div>
        <form class="addon_picker_form w-full overflow-y-auto pr-4 mb-2" autocomplete="off">
            <div class="hidden">
                <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                    <div class="w-full">
                        <input autocomplete="off" name="skey" placeholder="名稱">
                    </div>
                    <div>
                        <i class="ri-search-line"></i>
                    </div>
                </div>
            </div>
            <div class="h-full h-screen-50">
                <div class="addon-picker-inner bg-white h-full w-full">
                    <div class="tpl hidden cursor-pointer border px-2 py-1 mb-1 rounded hover:opacity-75 font-bold">
                        <div class="flex flex-col p-2">
                            <div class="text-gray-600 addon_name whitespace-nowrap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="text-center">
            <div class="inline px-16 py-2 bg-blue-500 text-white text-xl rounded-full my-4 cursor-pointer btn_submit-addon">儲存</div>
        </div>
    </div>
</div>

{literal}
<script>
var activeClass = "active border-green-500 text-green-500";
var inactiveClass = "border-gray-200 ";

$(document).ready(function(){
    $(document).off("click", ".addon_option");
    $(document).on("click", ".addon_option", function(){
        if ($(this).hasClass("active")){
            $(this).removeClass(activeClass)
        } else {
            $(this).addClass(activeClass);
        }
    });
    
    
    $(document).off("keyup", ".addon_picker_form [name=skey]");
    $(document).on("keyup", ".addon_picker_form [name=skey]", function(){
        $container = $(".addon-picker-inner");
        $.bajax({
            url: "admin/product/api/getAddonList",
            method: 'POST',
            data: {skey:$(this).val()},
            callback: function(data) {
                if (data.code == 0){
                    var addon_id_arr = $("[name=addon_id_arr]").val().split(",");

                    $container.children(".addon_option").remove();
                    res = data.result;
                    res.forEach(function($row){
                        $tpl = $("#addon_picker .tpl").clone();
                        $tpl.removeClass("tpl");
                        $tpl.removeClass("hidden");
                        $tpl.addClass("addon_option")
                        
                        $tpl.find(".addon_name").html($row.inhouse_name_tc); 
                        $tpl.attr({
                            'data-addon_id' : $row.addon_id,
                            "data-inhouse_name_tc": $row.inhouse_name_tc,
                        })

                        if (addon_id_arr.indexOf($row['addon_id']) != -1)
                            $tpl.addClass(activeClass);

                        $container.append($tpl)
                    });
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });
});

</script>
{/literal}