<div id="card_picker" class="hidden">
    <div class="p-4">
        <div class="text-xl mb-2">請選擇祝賀卡款式</div>
        <form class="card_picker_form w-full overflow-y-auto pr-4 mb-2" autocomplete="off">
            <div class="hidden">
                <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                    <div class="w-full">
                        <input autocomplete="off" name="skey" placeholder="名稱">
                    </div>
                    <div>
                        <i class="ri-search-line"></i>
                    </div>
                </div>
            </div>
            <div class="h-full h-screen-50">
                <div class="card-picker-inner bg-white h-full w-full">
                    <div class="tpl hidden flex items-center mb-2 w-full justify-between gap-28 border p-2 rounded cursor-pointer text-gray-600">
                        <div class="">
                            <div class="name_tc font-bold"></div>
                            <div class="size"></div>
                        </div>
                        <div class="">
                            <img src="" class="h-16">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="text-center">
            <div class="inline px-16 py-2 bg-blue-500 text-white text-xl rounded-full my-4 cursor-pointer btn_submit-card">儲存</div>
        </div>
    </div>
</div>

{literal}
<script>
var activeClass = "active border-green-500 text-green-500";

$(document).ready(function(){
    $(document).off("click", ".card_option");
    $(document).on("click", ".card_option", function(){
        if ($(this).hasClass("active")){
            $(this).removeClass(activeClass)
        } else {
            $(this).addClass(activeClass)
        }
    });
    
    
    $(document).off("keyup", ".card_picker_form [name=skey]");
    $(document).on("keyup", ".card_picker_form [name=skey]", function(){
        $container = $(".card-picker-inner");
        $.bajax({
            url: "admin/product/api/getCardList",
            method: 'POST',
            data: {skey:$(this).val()},
            callback: function(data) {
                if (data.code == 0){
                    var card_id_arr = $("[name=card_id_arr]").val().split(",");

                    $container.children(".card_option").remove();
                    res = data.result;
                    res.forEach(function($row){
                        $tpl = $("#card_picker .tpl").clone();
                        $tpl.removeClass("tpl");
                        $tpl.removeClass("hidden"); 
                        $tpl.addClass("card_option");
                        
                        if (card_id_arr.indexOf($row['card_id']) != -1)
                            $tpl.addClass(activeClass);

                        $tpl.attr({
                            "data-card_id": $row['card_id'],
                            "data-name_tc": $row['name_tc'],
                            "data-size": $row['size'],
                            "data-img_path": $row['img_path']
                        })

                        $tpl.find(".name_tc").html($row['name_tc']);
                        $tpl.find(".size").html($row['size']);
                        $tpl.find("img").attr({
                            "src": $row['img_path']
                        });
                        
                        $container.append($tpl)
                    });
                    
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });
});

</script>
{/literal}