<div id="cate_picker" class="hidden">
    <div class="p-4">
        <div class="text-xl mb-2">請選擇產品分類及或子分類</div>
        <form class="cate_picker_form w-full overflow-y-auto pr-4 mb-2" autocomplete="off">
            <div class="hidden">
                <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                    <div class="w-full">
                        <input autocomplete="off" name="skey" placeholder="名稱">
                    </div>
                    <div>
                        <i class="ri-search-line"></i>
                    </div>
                </div>
            </div>
            <div class="h-full h-screen-50">
                <div class="cate-picker-inner bg-white h-full w-full">
                    <div class="tpl hidden flex items-center mb-2">
                        <div class="flex flex-col">
                            <div class="text-gray-600 cate_name">
                                <span class="border-b pb-1 mb-1 cate_option"></span>
                            </div>
                            <div class="flex flex-row flex-wrap subcateList gap-2 mt-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="text-center">
            <div class="inline px-16 py-2 bg-blue-500 text-white text-xl rounded-full my-4 cursor-pointer btn_submit-cate">儲存</div>
        </div>
    </div>
</div>

{literal}
<script>
var activeClass = "active border-green-500 text-green-500 font-bold";


$(document).ready(function(){
    $(document).off("click", ".cate_option");
    $(document).on("click", ".cate_option", function(){
        if ($(this).hasClass("active")){
            $(this).removeClass(activeClass)
        } else {
            $(this).addClass(activeClass)
        }
    });
    
    
    $(document).off("keyup", ".cate_picker_form [name=skey]");
    $(document).on("keyup", ".cate_picker_form [name=skey]", function(){
        $container = $(".cate-picker-inner");
        $container.children(".cate").remove();

        $.bajax({
            url: "admin/product/api/getCateList",
            method: 'POST',
            data: {skey:$(this).val()},
            callback: function(data) {
                if (data.code == 0){
                    var cate_id_arr = $("[name=cate_id_arr]").val().split(",");

                    res = data.result;
                    res.forEach(function($row){
                        $tpl = $("#cate_picker .tpl").clone();
                        $tpl.removeClass("tpl");
                        $tpl.removeClass("hidden"); 
                        $tpl.addClass("cate");
                        
                        $tpl.find(".cate_name span").html($row.name_tc).attr({
                            "data-cate_id": $row['cate_id'],
                            "data-name_tc": $row['name_tc']
                        });

                        if (cate_id_arr.indexOf($row['cate_id']) != -1)
                            $tpl.find(".cate_name span").addClass(activeClass);

                        if ($row.subcate.length){
                            $row.subcate.forEach(function($row2){
                                $div = $("<div/>").attr({
                                    class: "cate_option cursor-pointer border border-gray-200 px-2 py-1 inline-block mb-1 rounded hover:opacity-75 font-bold",
                                    "data-cate_id": $row2['cate_id'],
                                    "data-name_tc": $row2['name_tc']
                                }).html($row2.name_tc)

                                if (cate_id_arr.indexOf($row2['cate_id']) != -1)
                                    $div.addClass(activeClass);
        
                                $tpl.find(".subcateList").append($div);
                            });
                        } else {
                            $tpl.find(".subcateList").append($div);
                        }
                        
                        $container.append($tpl)
                    });
                    
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });
});

</script>
{/literal}