{literal}
<style>
.item-list-act-js .item_group_item:first-of-type .conditional-option {
    opacity: 0.1;
    pointer-events: none;
}
</style>
{/literal}

<div class="w-screen-90 max-w-screen-lg rounded h-full overflow-y-hidden flex flex-col item_group_elem">
    <div class="text-2xl font-bold pt-4 pb-4 px-4  border-b border-gray-200 flex items-center">
        <span>編輯物品組合</span>
        <button class="vk-modal-close inline-flex w-12 h-12 items-center justify-center bg-gray-200 text-gray-500 text-2xl ml-auto rounded">
            <i class="ri-close-line"></i>
        </button>
    </div>
    <div class="related-item-list-js divide-y divide-gray-200 overflow-y-auto h-full bg-gray-100">
        <div class="grid grid-cols-2 gap-x-4 px-6 gap-y-2 pt-3 pb-3 border-b border-gray-200 bg-white">
            <div>
                <label class="block text-sm font-bold text-gray-700">組合名稱</label>
                <input type="hidden" name="grp_id" value="{$result_array.group.grp_id}">
                <input type="text" placeholder="物品組合名稱" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="adm_name" value="{$result_array.group.adm_name}">
            </div>
            <div>
                <label class="block text-sm font-bold text-gray-700">副名</label>
                <input type="text" placeholder="副名" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="alias" value="{$result_array.group.alias}">
            </div>
            <div>
                <label class="block text-sm font-bold text-gray-700">內部顯示名稱（中文）</label>
                <input type="text" placeholder="物品組合名稱" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="inhouse_name_tc" value="{$result_array.group.inhouse_name_tc}">
            </div>
            <div>
                <label class="block text-sm font-bold text-gray-700">內部顯示名稱（英文）</label>
                <input type="text" placeholder="副名" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="inhouse_name_en" value="{$result_array.group.inhouse_name_en}">
            </div>
            <div>
                <label class="block text-sm font-bold text-gray-700">The Gift物品組合名稱（中文）</label>
                <input type="text" placeholder="The Gift物品組合名稱（中文）" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="gift_name_tc" value="{$result_array.group.gift_name_tc}">
            </div>
            <div>
                <label class="block text-sm font-bold text-gray-700">The Gift物品組合名稱（英文）</label>
                <input type="text" placeholder="The Gift物品組合名稱（英文）" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="gift_name_en" value="{$result_array.group.gift_name_en}">
            </div>
            <div>
                <label class="block text-sm font-bold text-gray-700">Little Zuri物品組合名稱（中文）</label>
                <input type="text" placeholder="Little Zuri物品組合名稱（中文）" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="zuri_name_tc" value="{$result_array.group.zuri_name_tc}">
            </div>
            <div>
                <label class="block text-sm font-bold text-gray-700">Little Zuri物品組合名稱（英文）</label>
                <input type="text" placeholder="Little Zuri物品組合名稱（英文）" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="zuri_name_en" value="{$result_array.group.zuri_name_en}">
            </div>
            <div>
                <label class="block text-sm font-bold text-gray-700">LoTaiPo 物品組合名稱（中文）</label>
                <input type="text" placeholder="LoTaiPo 物品組合名稱（中文）" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="ltp_name_tc" value="{$result_array.group.ltp_name_tc}">
            </div>
            <div>
                <label class="block text-sm font-bold text-gray-700">LoTaiPo 物品組合名稱（英文）</label>
                <input type="text" placeholder="LoTaiPo 物品組合名稱（英文）" class="border border-gray-300 px-2 py-1 rounded w-full mt-1" name="ltp_name_en" value="{$result_array.group.ltp_name_en}">
            </div>
            {if $result_array.copy == 'Y'}
            <div>
                <label class="block text-sm font-bold text-gray-700">儲存成為物品組合</label>
                <label class="switch mt-1">
                    <input name="is_tpl" type="checkbox" {if $result_array.group.is_tpl === 'Y'}checked{/if}>
                    <span class="slider"></span>
                </label>
            </div>
            {/if}
        </div>
        <div class=" px-4 pt-2 overflow-x-hidden item_group_item_list">
            <div class="item-list-act-js flex flex-col gap-y-2 " data-dad-active="true" style="position: relative; user-select: none;">
            {foreach from=$result_array.group.item_list key=k item=item}
                <div class="item_group_item bg-white border-gray-100 border rounded-lg shadow-lg px-4 py-3 flex gap-x-4 items-center indi-sku-display-in-js">
                    <div class="h-12 w-12 rounded bg-gray-200 text-gray-500 flex items-center justify-center text-xl draggable-handler">
                        <i class="ri-drag-move-2-line"></i>
                    </div>
                    <div class="h-16 w-16 border border-gray-300 rounded overflow-hidden">
                        <input type="hidden" value="{$item.item_id}" name="item_id">
                        <img src="{$item.item.item_img}" class="h-16 w-16" ondragstart="return false">
                    </div>
                    <div>
                        <div class="font-bold text-sm text-gray-500 leading-tight">供應商：{$item.item.supplier.name_tc}</div>
                        <div class="text-lg font-bold">{$item.item.inhouse_name_tc}</div>
                        <div class="text-sm text-gray-500">{$item.item.sku}</div>
                        <div class="text-gray-600 font-bold leading-tight text-sm flex items-center">成本 : ${$item.item.cost}（可用存貨：{$item.item.ava_qty}） {if $item.is_unlimited_qty == 'Y'}<div class="font-bold bg-green-300 text-green-800 px-2 py-1 rounded">無限存量</div>{/if}</div>
                    </div>
                    <div class="flex flex-col ml-auto gap-y-2">
                        <div class="flex gap-x-4">
                            <div class="flex items-center gap-x-2">
                              <p class="text-sm text-gray-600 mr-1">數量</p>
                              <input type="number" oninput="this.value = this.value.replace(/[^0-9]/g, '');" class="border border-gray-300 rounded px-1 py-1 border-raduis w-10 text-center" name="qty" value="{$item.qty}">
                            </div>
                            <div class="flex items-center gap-x-2 conditional-option transition-all">
                                <p class="text-sm text-gray-600 mr-1">物品缺貨時替補</p>
                                <label class="switch">
                                    <input type="hidden" name="is_auto_replace">
                                    <input type="checkbox" {if $item.is_auto_replace == 'Y'}checked{/if}>
                                    <span class="slider"></span>
                                </label>
                            </div>
                            <div class="flex items-center gap-x-2 conditional-option transition-all">
                                <p class="text-sm text-gray-600 mr-1">可作為選項</p>
                                <label class="switch">
                                    <input type="hidden" name="is_client_optional">
                                    <input type="checkbox" {if $item.is_client_optional == 'Y'}checked{/if}>
                                    <span class="slider"></span>
                                </label>
                            </div>
                            <div class="flex items-center gap-x-2 conditional-option transition-all">
                                <p class="text-sm text-gray-600 mr-1">作為選項額外價格</p>
                                <input type="number" class="border border-gray-300 rounded px-1 py-1 border-raduis w-20" name="additional_price" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" value="{$item.additional_price}">
                            </div>
                           </div>
                        <div class="flex items-center gap-x-2">
                            <p class="text-sm text-gray-600 mr-1">備註</p>
                            <input type="text" class="border border-gray-300 rounded px-3 py-1 border-raduis flex-grow" name="remarks" value="{$item.item_remarks}">
                        </div>
                    </div>
                    <button class="ml-3 remove-indi-item-sku-in-group bg-gray-200 text-gray-700 py-2 px-2 rounded font-bold inline-flex gap-x-2 hover:text-white hover:bg-red-500 transition-all items-center">
                        <i class="ri-delete-bin-line"></i>
                        <span>刪除</span>
                    </button>
                </div>
            {/foreach}
            </div>
            <div class="text-center py-4">
                <button class="bg-blue-500 font-bold text-white rounded-lg text-lg py-3 px-6 inline-flex gap-x-3 hover:opacity-75 transition-all item-sku-adder-js-lower">
                    <i class="ri-add-circle-line"></i>
                    <span>新增物品</span>
                </button>
            </div>
        </div>
    </div>
    <div class="bg-white py-3 px-4 flex items-center border-t border-gray-200">
        <button class="ml-auto bg-blue-500 text-white font-bold rounded-lg py-3 px-6 text-lg save-item-group">儲存</button>
    </div>
</div>
<script>
var target_grp_id = "{$result_array.group.target_grp_id}";


</script>

{literal}
<script>
$(document).ready(function(){

    function indiSku(sku) {
        return `
            <div class="item_group_item bg-white border-gray-100 border rounded-lg shadow-lg px-4 py-3 flex gap-x-4 items-center indi-sku-display-in-js">
                <div class="h-12 w-12 rounded bg-gray-200 text-gray-500 flex items-center justify-center text-xl draggable-handler"><i class="ri-drag-move-2-line"></i></div>
                <div class="h-16 w-16 border border-gray-300 rounded overflow-hidden">
                    <input type="hidden" value="${sku.item_id}" name="item_id">
                    <img src="${sku.item.item_img}" class="h-16 w-16"/>
                </div>
                <div>
                    <div class="font-bold text-sm text-gray-500 leading-tight">供應商：${sku.item.supplier.name_tc}</div>
                    <div class="text-lg font-bold">${sku.item.inhouse_name_tc}${sku.item.various_list.length > 0? `(${sku.item.various_list.map(function (_var, _varIndex) {return `${_var.name_tc}`;}).join(", ")})`: ``}</div>
                    <div class="text-sm text-gray-500">${sku.item.sku}</div>
                    <div class="text-gray-600 font-bold leading-tight text-sm">成本 : $${sku.item.cost}（可用存貨：${sku.item.qty}） ${sku.is_unlimited_qty == 'Y' ? `<div class="font-bold bg-green-300 text-green-800 px-2 py-1 rounded">無限存量</div>` : ``}</div>
                </div>
                <div class="flex flex-col ml-auto gap-y-2">
                    <div class="flex gap-x-4">
                        <div class="flex items-center gap-x-2">
                        <p class="text-sm text-gray-600 mr-1">數量</p>
                        <input type="number" oninput="this.value = this.value.replace(/[^0-9]/g, '');" class="border border-gray-300 rounded px-1 py-1 border-raduis w-10 text-center" name="qty" value="${sku.qty != null ? sku.qty : '1'}" />
                    </div>
                    <div class="flex items-center gap-x-2 conditional-option transition-all">
                        <p class="text-sm text-gray-600 mr-1">物品缺貨時替補</p>
                        <label class="switch">
                        <input type="hidden" name="is_auto_replace">
                        <input id="overlay" type="checkbox" ${sku.is_auto_replace == "Y" ? "checked" : ""}>
                        <span class="slider"></span>
                        </label>
                    </div>
                    <div class="flex items-center gap-x-2 conditional-option transition-all">
                        <p class="text-sm text-gray-600 mr-1">可作為選項</p>
                        <label class="switch">
                        <input type="hidden" name="is_client_optional">
                        <input id="overlay" type="checkbox" ${sku.is_client_optional == "Y" ? "checked" : ""}>
                        <span class="slider"></span>
                        </label>
                    </div>
                    <div class="flex items-center gap-x-2 conditional-option transition-all">
                        <p class="text-sm text-gray-600 mr-1">作為選項額外價格</p>
                        <input type="number" class="border border-gray-300 rounded px-1 py-1 border-raduis w-20" name="additional_price" oninput="this.value = this.value.replace(/[^0-9.]/g, '');"value="${sku.additional_price != null ? sku.additional_price : '0'}"/>
                    </div>
                </div>
        
                <div class="flex items-center gap-x-2">
                    <p class="text-sm text-gray-600 mr-1">備註</p>
                    <input type="text" class="border border-gray-300 rounded px-3 py-1 border-raduis flex-grow" name="remarks" value="${sku.remarks != null ? sku.remarks : ''}" />
                </div>
        
                </div>
                <button  class="ml-3 remove-indi-item-sku-in-group bg-gray-200 text-gray-700 py-2 px-2 rounded font-bold inline-flex gap-x-2 hover:text-white hover:bg-red-500 transition-all items-center"><i class="ri-delete-bin-line"></i><span>刪除</span></button>
            </div>`;
        }
    
    function indiSkuSearchResult(sku, skuIndex) {
        return `
            <div class="bg-white rounded shadow-lg border border-gray-200 flex items-center px-2 py-1 gap-x-2">
                <image src="${sku.item_img}" class="w-16 h-16 border border-gray-200 rounded bg-gray-400" onerror="this.src='/img/img.png'"/>
                <div class="ml-2">
                    <div class="font-bold text-sm text-gray-500 leading-tight">供應商：${sku.supplier.name_tc}</div>
                    <div class="text-lg font-bold">${sku.inhouse_name_tc}${sku.various_list.length > 0? `(${sku.various_list.map(function (_var,_varIndex) {return `${_var.name_tc}`;}).join(", ")})`: ``}</div>
                    <div class="text-sm text-gray-500">${sku.sku}</div>
                </div>
                <div class="text-gray-600 font-bold leading-tight ml-4 flex items-center">成本 : $${sku.cost}（可用存貨：${sku.qty}） ${sku.is_unlimited_qty == 'Y' ? `<div class="font-bold bg-green-300 text-green-800 px-2 py-1 rounded">無限存量</div>` : ``} </div>
                <button data-index="${skuIndex}" class="vk-modal-close ml-auto inline-flex items-center gap-x-2 bg-blue-500 text-white font-bold rounded px-6 py-2 text-lg add-indi-item-sku-into-group"><i class="ri-add-circle-line"></i><span>添加</span></button>
            </div>
        `;
    }

    $(".item-list-act-js").dad({draggable: ".draggable-handler",});

    $(document).off("click", ".remove-indi-item-sku-in-group");
    $(document).on("click", ".remove-indi-item-sku-in-group", function(){
        $(this).parents(".item_group_item").remove();
    });

    $(document).off("click", ".save-item-group");
    $(document).on("click", ".save-item-group", async function(){
        $loader = await globalLoader();
        $elem = $(this).parents(".item_group_elem");

        var submitJson = {
            grp_id: $elem.find('[name=grp_id]').val(),
            adm_name: $elem.find('[name="adm_name"]').val(),
            alias: $elem.find('[name="alias"]').val(),
            inhouse_name_tc: $elem.find('[name="inhouse_name_tc"]').val(),
            inhouse_name_en: $elem.find('[name="inhouse_name_en"]').val(),
            gift_name_tc: $elem.find('[name="gift_name_tc"]').val(),
            gift_name_en: $elem.find('[name="gift_name_en"]').val(),
            zuri_name_tc: $elem.find('[name="zuri_name_tc"]').val(),
            zuri_name_en: $elem.find('[name="zuri_name_en"]').val(),
            ltp_name_tc: $elem.find('[name="ltp_name_tc"]').val(),
            ltp_name_en: $elem.find('[name="ltp_name_en"]').val(),
            item_json: [],
        };

        {/literal}
        {if $result_array.copy == 'Y'}
        if ($elem.find("[name=is_tpl]").is(":checked"))
            submitJson.is_tpl = 'Y';
        else
            submitJson.is_tpl = 'N';
        {/if}
        {literal}
    
        //start to calculate item sets
        $elem.find(".item-list-act-js .indi-sku-display-in-js").each(function (itemIndex, item) {
            submitJson.item_json.push({
                item_id: $(item).find('input[name="item_id"]').val(),
                qty: $(item).find('input[name="qty"]').val(),
                is_client_optional: $(item).find('input[name="is_client_optional"]').closest(".switch").find('input[type="checkbox"]').is(":checked")? "Y": "N",
                additional_price: $(item).find('input[name="additional_price"]').val(),
                is_auto_replace: $(item).find('input[name="is_auto_replace"]').closest(".switch").find('input[type="checkbox"]').is(":checked")? "Y": "N",
                remarks: $(item).find('input[name="remarks"]').val(),
            });
        });
    
        var $this = $(this);
        submitJson.item_json = JSON.stringify(submitJson.item_json);
        
                
        $vk = $(this).closest('.vk-modal-dom');
        $.bajax({
            url: "/admin/item/api/editItemGrp",
            method: "POST",
            formElement: "N",
            data: submitJson,
            callback: function (data) {
                item_grp = data.result;
                grp_id = target_grp_id
                $container = $(`.item_grp[data-grp_id='${grp_id}']`)
                $container.attr("data-grp_id", item_grp.grp_id)
                $tpl = itemListGrpContent(item_grp)
                $container.html($tpl);
                globalLoader($loader);

                
                if ($vk.length == 1) {
                    $vk.closest('.vk-modal-dom').data()._destory()
                }
            },
        });
    });


    $(document).off("click", ".item-sku-adder-js-lower");
    $(document).on("click", ".item-sku-adder-js-lower", function(){
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            area: "overflow-y-hidden  my-12 sm:w-full  h-screen-80 sm:max-w-screen-sm sm:max-h-screen-sm ",
            content: `
                <div class="flex flex-col h-full w-full overflow-hidden" style="font-family:sans-serif">
                    <div class="flex items-center px-4 py-3 border-b border-gray-300">
                    <h3 class="text-xl font-bold">增加物品</h3>
                    <div class="border border-gray-300 rounded-lg flex items-center flex-grow mx-3">
                        <i class="ri-search-line text-xl text-gray-500 ml-3"></i>
                        <input class="bg-transparent py-2 px-3 w-full js-search-item-to-add-input"/>
                    </div>
                    <button class="bg-gray-200 text-gray-500 text-xl rounded  vk-modal-close w-10 h-10 inline-flex items-center justify-center"><i class="ri-close-line"></i></button>
                    </div>
                    <div class="bg-gray-100 flex-grow js-search-item-to-add-input-result overflow-y-auto relative"></div>
                </div>`,
            mounted: function ($elem) {
                //force focus input
                $(".js-search-item-to-add-input").focus();

                $elem.find(".js-search-item-to-add-input").on("input", function (e) {
                    var $container = $elem.find(".js-search-item-to-add-input-result");
                    $container.html(`
                        <div class="absolute top-0 left-0 right-0 bottom-0 m-auto inline-flex w-24 h-24 items-center justify-center opacity-30">
                            <svg class="animate-spin -ml-1 mr-3 h-12 w-12 text-grey-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle><path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path></svg>
                        </div>`
                    );
                    var $this = $(this);
                    if ($this.val().trim() == "") {
                        $container.html("");
                        return false;
                    }
                    $.bajax({
                        url: "/admin/item/api/getAllItemList?skey=" + $this.val(),
                        method: "POST",
                        formElement: "N",
                        callback: function (data) {
                            if (data.code == 0) {
                                if (data.result.length > 0) {
                                    var _d = data.result;

                                    $container.html(`
                                        <div class="py-3 font-bold text-gray-600 px-3">共有 ${data.result.length} 個搜尋結果 : </div>
                                        <div class="flex flex-col gap-y-2 px-3 pb-2">${_d.map(function (sku, skuIndex) {return indiSkuSearchResult(sku,skuIndex);}).join("")}</div>
                                    `);

                                    $(document).off("click", ".add-indi-item-sku-into-group")
                                    $(document).on("click",".add-indi-item-sku-into-group",function (e) {
                                        var $this = $(this);
                                        
                                        $(".item-list-act-js").append(indiSku({item_id:_d[$this.data().index].item_id,qty: 1,item: _d[$this.data().index],}));
                                    });
                                } else {
                                    $container.html(`<div class="flex flex-col gap-y-2 px-3 items-center justify-center text-gray-400 text-center h-full text-2xl">沒有搜尋結果</div>`);
                                }
                            } 
                        },
                    });
                });
            },
        });
    })


});


</script>
{/literal}