<div id="greeting_picker" class="hidden">
    <div class="p-4" style="min-width: 480px;">
        <div class="text-xl mb-2">請選擇祝賀語分類</div>
        <form class="greeting_picker_form w-full mb-2" autocomplete="off">
            <div class="hidden">
                <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                    <div class="w-full">
                        <input autocomplete="off" name="skey" placeholder="名稱">
                    </div>
                    <div>
                        <i class="ri-search-line"></i>
                    </div>
                </div>
            </div>
            
            <div class="greeting-picker-inner bg-white w-screen-50 flex flex-wrap flex-row gap-2">
                <div class="tpl hidden bg-white flex items-center border border-solid rounded mb-2 cursor-pointer hover:bg-gray-100">
                    <div class="flex flex-col p-2">
                        <div class="greeting_name"></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="text-center">
            <div class="inline px-16 py-2 bg-blue-500 text-white text-xl rounded-full my-4 cursor-pointer btn_submit-greeting">儲存</div>
        </div>
    </div>
</div>

{literal}
<script>
var activeClass = "active border-green-500 text-green-500";
$(document).ready(function(){
    $(document).off("click", ".greeting_option");
    $(document).on("click", ".greeting_option", function(){
        if ($(this).hasClass("active")){
            $(this).removeClass(activeClass)
        } else {
            $(this).addClass(activeClass)
        }
    });
    
    
    $(document).off("keyup", ".greeting_picker_form [name=skey]");
    $(document).on("keyup", ".greeting_picker_form [name=skey]", function(){
        $container = $(".greeting-picker-inner");
        $.bajax({
            url: "admin/product/api/getCateGreeting",
            method: 'POST',
            data: {skey:$(this).val()},
            callback: function(data) {
                if (data.code == 0){
                    var greeting_id_arr = $("[name=greeting_id_arr]").val().split(",");

                    $container.children(".greeting_option").remove();
                    res = data.result;
                    res.forEach(function($row){
                        $tpl = $("#greeting_picker .tpl").clone();
                        $tpl.removeClass("tpl");
                        $tpl.removeClass("hidden");
                        $tpl.addClass("greeting_option")
                        
                        $tpl.find(".greeting_name").html($row.name_tc); 
                        $tpl.attr({
                            "data-greeting_cate_id": $row.cate_id,
                            "data-name_tc": $row.name_tc
                        })

                        if (greeting_id_arr.indexOf($row.cate_id) != -1)
                            $tpl.addClass(activeClass);

                        $container.append($tpl)
                    });
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });
});

</script>
{/literal}