<div id="product_item_picker" class="hidden">
    <div class="p-4">
        <div class="text-xl mb-2">
            請選擇物品
        </div>
        <form class="item_picker_form w-full pr-4 mb-2" autocomplete="off">
            <div>
                <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                    <div class="w-full">
                        <input autocomplete="off" name="skey" placeholder="名稱" class="w-full">
                    </div>
                    <div>
                        <i class="ri-search-line"></i>
                    </div>
                </div>
            </div>
            <div class="w-screen-50 h-screen-50 overflow-y-auto ">
                <div class="item-picker-inner bg-white h-full w-full"></div>
            </div>
        </form>
        <div class="text-center mt-4">
            <div class="inline px-16 py-2 bg-blue-500 text-white text-xl rounded-full my-4 cursor-pointer btn_submit-item">確認</div>
        </div>
    </div>
</div>

{literal}
<script>
var activeClass = "active border-green-500 text-green-500";


function itemOptionInit(item){
    $tpl = $("<div/>").data("item", item).attr({
        "class": "item_option flex items-center gap-4 flex-1 shadow-lg border border-gray-200 rounded-lg px-4 py-3 mb-2",
        "data-item_id": item.item_id
    });

    $tpl.append(`
        <input type="hidden" name="grp_id">
        <img src="${item.item_img}" class="w-12 h-12 rounded">
        <div class="grid grid-cols-3 flex-1 justify-between">
            <div class="col-span-2">
                <div class="font-bold text-gray-400 text-sm">${item.sku}</div>
                <div class="font-bold text-xl">${item.inhouse_name_tc? item.inhouse_name_tc : ""}</div>
                <div class="font-bold text-gray-400 text-sm">${item.remarks? item.remarks : ""}</div>
            </div>
            <div class="flex gap-4 items-center ml-auto">
                <div class="whitespace-nowrap text-gray-400 font-bold">可用存量：${item.qty}</div>
                <span class="qty"></span>
            </div>
        </div>
    `);

    return $tpl;
}

$(document).ready(function(){
    $(document).on("click", ".btn_submit-item", function(){
        killVkmodal($(this).parents(".vk-modal-dom").data("vkmodal-id"));
    })

    $(document).off("keyup", ".item_picker_form [name=skey]");
    $(document).on("keyup", ".item_picker_form [name=skey]", function(){
        $container = $(".item-picker-inner");
        $.bajax({
            url: "admin/item/api/getItemList",
            method: 'POST',
            data: {skey:$(this).val()},
            callback: function(data) {
                if (data.code == 0){
                    $container.children(".item_option").remove();
                    res = data.result;
                    res.forEach(function($row){
                        $tpl = itemOptionInit($row);
                        $container.append($tpl)
                    });
                    
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });
});

</script>
{/literal}