<!-- NAV BAR-->
<section class="navigation-section">
    <div class="pt-8 pb-2 px-4 lg:px-12">
        <div class="flex items-center">
            <div class="flex flex-row items-center text-gray-500">
            {foreach from=$breadcrumb key=k item=i name=foo} 
                {if not $smarty.foreach.foo.last}
                    <a href="{$i.url}" class="phref font-medium text-gray-800 hover:text-gray-600">{$i.page_title}</a>
                    <span class="px-2"> <i class="ri-arrow-right-s-line ri-lg flex"></i> </span>
                {else}
                    <a href="{$i.url}" class="phref text-gray-700 hover:text-gray-500">{$i.page_title}</a>
                {/if} 
            {/foreach}

            {if $breadcrumb|@count >2}
                <a href="javascript:history.back()"><i class="ri-arrow-go-back-line ml-2"></i></a>
            {/if}
            </div>
        </div>
    </div>
</section>