<!-- pager -->
<div id="pager" class="flex flex-row items-center justify-center py-8 text-gray-600">


    <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
        {if $result_array.page_config.page > 1}
        <a href="#"  data-page="{$result_array.page_config.page - 1}" class=" btn_page_ctl relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
          <span class="sr-only">上一頁</span>
          <!-- Heroicon name: solid/chevron-left -->
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
        </a>
        {/if}

        {for $foo=($result_array.page_config.page -2) to ($result_array.page_config.page+2)}
        {if $foo > 0 && $foo <=  {($result_array.page_config.ttlCount / $result_array.page_config.limit)|ceil}}
            {if $foo == $result_array.page_config.page}
                <a href="#" aria-current="page" data-page="{$foo}" class="btn_page_ctlz-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium z-10">
                    {$foo}
                  </a>
            {else}
            <a href="#" data-page="{$foo}" class="btn_page_ctl bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium">
                {$foo}
              </a>
  
            {/if}
            {/if}
        {/for}

   



        {if ($result_array.page_config.page + 1) <= {($result_array.page_config.ttlCount / $result_array.page_config.limit)|ceil}}
        <a href="#"  data-page="{$result_array.page_config.page + 1}" class="btn_page_ctl relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
          <span class="sr-only">下一頁</span>
          <!-- Heroicon name: solid/chevron-right -->
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
        </a>
        {/if}
      </nav>




    
   
</div>
<!-- pager -->


<script>
{literal}
$(document).ready(function(){
    $("#pager .btn_page_ctl").on("click", function(e){
        var page = $(this).attr("data-page").replace("page_", "");
        $("[name=sorting]").attr("data-page", page);

        $("#list_form [name=page]").val(page);
        $("#list_form").submit();

    });
});
{/literal}
</script>