<div id="product_item_picker" class="hidden">
    <div class="p-4">
        <div class="text-xl mb-2">
            請選擇物品組合或SKU 
            <div class="btn_new_item_grp text-blue-700 hover:opacity-75 text-sm inline-block cursor-pointer">(編輯物品組合)</div>
            <div class="btn_new_item text-blue-700 hover:opacity-75 text-sm inline-block cursor-pointer">(編輯物品)</div>
        </div>
        <div class="productItem_picker_form w-full pr-4 mb-2" >
            <div>
                <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                    <div class="w-full">
                        <input autocomplete="off" name="skey" placeholder="名稱" class="w-full">
                    </div>
                    <div>
                        <i class="ri-search-line"></i>
                    </div>
                </div>
            </div>
            <div class="h-screen-60 w-screen-80 overflow-y-auto ">
                <div class="productItem-picker-inner bg-white h-full w-full"></div>
            </div>
        </div>
        <div class="text-center">
            <div class="inline px-16 py-2 bg-blue-500 text-white text-xl rounded-full my-4 cursor-pointer btn_submit-productItem">確認</div>
        </div>
    </div>
</div>

{literal}
<script>
var activeClass = "active border-green-500 text-green-500";


function skuOptionInit(item_grp){
    var item_list = item_grp.item_list
    var bool_single = item_list.length > 1 ? false: true;

    $tpl = $("<div/>").data("item_grp", item_grp).attr({
        "class": "sku_option mb-2 flex justify-between bg-white shadow-lg border border-gray-200 rounded-lg px-4 py-3",
        "data-grp_id": item_grp.grp_id
    });

    if (bool_single){
        $tpl.append(`
            <div class="flex items-center gap-4 flex-1">
                <input type="hidden" name="grp_id">
                <img src="${item_list[0].item.item_img}" class="w-24 h-24 rounded object-contain">
                <div class="flex flex-1 justify-between">
                    <div class="flex items-center">
                        <div>
                            <div class="font-bold text-gray-400 flex items-center">${item_list[0].item.sku} ${item_list[0].item.sku == item_list[0].item.sku_prefix ? `<div class="font-bold ml-2 bg-gray-500 px-1 text-xs rounded text-white">(主產品)</div>` : ``}</div>
                            <div class="font-bold text-2xl">${item_list[0].item.inhouse_name_tc? item_list[0].item.inhouse_name_tc : ""}</div>
                            <div class="font-bold text-gray-400">${item_list[0].item.remarks? item_list[0].item.remarks : ""}</div>
                        </div>
                    </div>
                    <div class="flex gap-4 items-center ml-auto">
                        <div class="whitespace-nowrap text-gray-400 font-bold">成本：${item_list[0].item.cost}</div>
                        <div class="whitespace-nowrap text-gray-400 font-bold">可用存量：${item_list[0].item.ava_qty}</div>
                        <span class="qty"></span>
                    </div>
                </div>
            </div>
        `);
    } else {
        // group item
        $tpl.append(`
            <div class="flex gap-4 flex-1 mr-10">
                <input type="hidden" name="grp_id">
                <img src="${item_list[0].item_img}" class="w-24 h-24 rounded object-contain">
                <div class="flex-1">
                    <div class="flex items-center gap-2">
                        <div class="font-bold text-2xl ">${item_grp.inhouse_name_tc}</div>
                        <div class="text-gray-400 font-bold text-sm ml-4">內含物品: ${item_list.length}件</div>
                        <div class="whitespace-nowrap text-sm text-gray-400 font-bold">預設物品成本：${item_list[0].item.cost}</div>
                        <div class="whitespace-nowrap text-gray-400 font-bold">可用存量：${item_grp.ava_qty}</div>
                    </div>
                    <div class="flex flex-wrap gap-4 w-full">
                        ${item_list.map(function(item, k){
                            return `
                                <div class="flex border rounded items-center justify-between px-4 py-3 gap-4" style="min-width:49%">
                                    <div class="flex items-center flex-1">
                                        <img src="${item.item_img}" class="h-16 w-16 rounded mr-2 object-contain">
                                        <div>
                                            <div>
                                                ${item.inhouse_name_tc} 
                                                ${(item.item.various_list && item.item.various_list.length > 0) ?
                                                    `(
                                                        ${item.item.various_list.map(function (various, variousIndex) {
                                                            return (variousIndex == 0 ? "" : ",") + various.name_tc;
                                                        }).join('')
                                                    })`
                                                :
                                                    ``
                                                }
                                                ${item.qty>1? `x ${item.qty}` : ""}
                                            </div>
                                            ${item.additional_price > 0 && item.is_client_optional == 'Y' ? `<div class="text-gray-400">作為選項額外價格：$${item.additional_price}</div>` : ''}
                                        </div>
                                    </div>
                                    <div class="flex gap-4 flex-0 ml-auto">
                                        ${item.is_client_optional == 'Y' ? `<div class="font-bold bg-blue-300 text-blue-800 px-2 py-1 rounded">選項</div>`: ''}
                                        ${item.is_auto_replace == 'Y' ? `<div class="font-bold bg-gray-300 text-gray-800 px-2 py-1 rounded">缺貨時替補</div>`: ''}
                                        ${k == 0 ? `<div class="font-bold bg-gray-300 text-gray-800 px-2 py-1 rounded">預設</div>` : ''}
                                    </div>
                                </div>
                            `
                        }).join("")}
                    </div>
                </div>
            </div>
        `);
    }

    return $tpl;
}

$(document).ready(function(){
    $(document).on("click", ".btn_new_item_grp", function(){
        winSizeStr = `height=${$(window).height() * 0.8},width=${$(window).width() * 0.8}`;
        var mywindow = window.open('admin/product/itemGrpList', '編輯物品組合', winSizeStr);
        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/
    })

    $(document).on("click", ".btn_new_item", function(){
        winSizeStr = `height=${$(window).height() * 0.8},width=${$(window).width() * 0.8}`;
        var mywindow = window.open('admin/item/itemList', '編輯物品', winSizeStr);
        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/
    })

    $(document).off("keyup", ".productItem_picker_form [name=skey]");
    $(document).on("keyup", ".productItem_picker_form [name=skey]", function(){
        $container = $(".productItem-picker-inner");
        $.bajax({
            url: "admin/product/api/getProductItemList",
            method: 'POST',
            data: {skey:$(this).val()},
            callback: function(data) {
                if (data.code == 0){
                    $container.children(".sku_option").remove();
                    res = data.result.item_list;
                    res.forEach(function($row){
                        $tpl = skuOptionInit($row);
                        $container.append($tpl)
                    });
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });
});

</script>
{/literal}