<div id="product_picker" class="hidden">
    <div class="p-4 product_picker_outer">
        <div class="text-xl mb-2">請選擇產品</div>
        <input type="hidden" name="activeIdArr">
        <form class="product_picker_form w-full overflow-y-auto pr-4 mb-2" autocomplete="off">
            <div>
                <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                    <div class="w-full">
                        <input autocomplete="off" name="skey" placeholder="名稱" class="w-full">
                    </div>
                    <div>
                        <i class="ri-search-line text-lg"></i>
                    </div>
                </div>
            </div>
            <div class="w-screen-50 h-screen-50">
                <div class="product-picker-inner bg-white h-full w-full">
                    <div class="tpl hidden bg-white flex items-center border border-solid rounded mb-2 cursor-pointer">
                        <div class="mt-2 ml-2 mb-2 h-10 w-10 bg-center bg-contain bg-no-repeat img"></div>
                        <div class="p-2">
                            <div class="font-semibold name"></div>
                            <div class="text-xs text-gray-400 product_code"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="text-center">
            <div class="inline px-16 py-2 bg-blue-500 text-white text-xl rounded-full my-4 cursor-pointer btn_submit-product">確認</div>
        </div>
    </div>
</div>

{literal}
<script>
var activeClass = "active border-green-500 text-green-500";

$(document).ready(function(){
    let activeIdIntArr = []

    $(document).on("click", ".btn_submit-product", function(){
        $vk = $(this).closest('.vk-modal-dom');
        $vk.data()._destory();
    })

    $(document).off("keyup", ".product_picker_form [name=skey]");
    $(document).on("keyup", ".product_picker_form [name=skey]", function(){
        $container = $(".product-picker-inner");

        activeIdIntArr = []
        if ($(".vk-modal-dom").find("[name=activeIdArr]").val()) {
            $(".vk-modal-dom").find("[name=activeIdArr]").val().split(",").map(function(val) {
                activeIdIntArr.push(parseInt(val))
            })
        }
        $.bajax({
            url: "admin/product/api/productList",
            method: 'POST',
            data: {skey:$(this).val()},
            callback: function(data) {
                if (data.code == 0){
                    $container.children(".product_option").remove();
                    res = data.result.productList;
                    res.forEach(function($row){
                        $tpl = $("#product_picker .tpl").clone();
                        $tpl.removeClass("tpl");
                        $tpl.removeClass("hidden"); 
                        $tpl.addClass("product_option");
                        
                        $tpl.data("product", $row)

                        $tpl.find(".name").html($row.product_name_tc);
                        $tpl.find(".product_code").html($row.product_code);
                        if ($row.img[0])
                            $tpl.find(".img").attr({style: "background-image: url('" + $row.img[0].img+ "')"});

                        if (activeIdIntArr.includes(parseInt($row.product_id))) {
                            $tpl.addClass(activeClass);
                        }

                        $container.append($tpl)
                    });
                    
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });
});

</script>
{/literal}