<div id="skuCode_picker" class="hidden">
    <div class="">
        <div class="text-xl mb-2 p-4">
            請選擇SKU
            <span class="text-xs text-gray-400">(系統會自動生成所有被選攝的SKU組合)</span>
        </div>
        <form class="skuCode_picker_form w-full overflow-y-auto mb-2" autocomplete="off">
            <div class="px-4">
                <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                    <div class="w-full">
                        <input autocomplete="off" name="skey" placeholder="SKU code" class="w-full">
                    </div>
                    <div>
                        <i class="ri-search-line"></i>
                    </div>
                </div>
            </div>
            <div class="h-full h-screen-50">
                <div class="skuCode-picker-inner bg-white h-full w-full">
                    <div class="tpl hidden flex items-center mb-2 px-4">
                        <div class="flex flex-col">
                            <div class="text-gray-600 ">
                                <span class="border-b pb-1 mb-1 code"></span>
                            </div>
                            <div class="flex flex-row flex-wrap valueList gap-2 mt-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="text-center my-4">
            <div class="inline px-16 py-2 bg-blue-500 text-white text-xl rounded-full my-4 cursor-pointer btn_submit-skuCode">儲存</div>
        </div>
    </div>
</div>

{literal}
<script>
var activeClass = "active border-green-500 text-green-500";
var selectedVal = [];
var regex = /[^A-z0-9_]/

$(document).ready(function(){
    $(document).off("click", ".value_option");
    $(document).on("click", ".value_option", function(){
        if ($(this).hasClass("active")){
            selectedVal.splice(selectedVal.indexOf($(this).attr("data-val_id")),1);
            $(this).removeClass(activeClass)
        } else {
            selectedVal.push($(this).attr("data-val_id"));
            $(this).addClass(activeClass)
        }
    });

    $(document).off("keyup", ".skuCode_picker_form [name=skey]");
    $(document).on("keyup", ".skuCode_picker_form [name=skey]", function(){
        $container = $(".skuCode-picker-inner");
        $this = $(this);
        $.bajax({
            url: "admin/item/api/getSkuCodeList",
            method: 'POST',
            data: {skey:$(this).val()},
            callback: function(data) {
                if (data.code == 0){
                    $container.children(".code_wrapper").remove();

                    var codeList = data.result;

                    res = codeList;

                    codeList.forEach(function(val, idx){
                        $tpl = $("#skuCode_picker .tpl").clone();
                        $tpl.removeClass("tpl hidden");
                        $tpl.addClass("code_wrapper")

                        $tpl.find(".code").html(val.code)
                        $tpl.attr("data-code_id", val.code_id)


                        val.valueList.forEach(function($val){
                            $div = $("<div/>").attr({
                                class: "value_option cursor-pointer border border-gray-200 px-2 py-1 inline-block mb-1 rounded hover:opacity-75 font-bold h-full",
                                "data-val_id": $val.val_id
                            }).html($val.val)

                            if (selectedVal.indexOf($val.val_id) >= 0)
                                $div.addClass(activeClass);
    
                            $tpl.find(".valueList").append($div);
                        });


                        $input = $("<input/>").attr({
                            class: "w-28 border border-gray-200 px-2 py-1 inline-block mb-1 rounded font-bold ",
                            placeholder: "新增SKU 值"
                        });
                        
                        $valContainer = $("<div/>").attr({class: " valContainer"})

                        $valContainer.append($input)

                        $valError = $("<div/>").attr({class:"text-xs text-red-500"}).html("請只輸入英文, 數字, _")

                        $input.on("keyup", function() {
                            let validation = $(this).val().match(regex)
                            if (validation) {
                                $(this).val("")
                                $(this).children($valError).remove()
                                $(this).parents(".valContainer").append($valError)
                                $(this).addClass("border-2 border-red-500")
                            } 
                        })

                        $input.on("focus", function() {
                            $(this).removeClass("border-2 border-red-500")
                            $(this).parents($valContainer).find($valError).remove()
                        })

                        $input.on("change", function(){
                            $val = $(this)

                            if (!!$val.val()) {
                                vkConfirmDefault({
                                    title: '確認',
                                    content: '<div>請確認是否在' + val.code + '新增' + $val.val() + '？</div>',
                                    confirmButtonHtml: '確認',
                                    cancelButtonHtml: '返回',
                                    confirmButtonFunction: async function(e){
                                        url = "admin/item/api/addSkuVal";
                                        $loader = await globalLoader();
                                        $.bajax({
                                            url: url,
                                            method: 'POST',
                                            formElement: 'N',
                                            data: {
                                                code_id: val.code_id,
                                                val: $val.val()
                                            },
                                            callback: function(data) {
                                                globalLoader($loader);
                                                if (data.code == 0){
                                                    $this.focus().keyup();
                                                } else {
                                                    globalErrorReturn(data);
                                                }
                                            },
                                            errorCallback: function(jqXHR, textStatus, errorThrown) {
                                                console.log(jqXHR);
                                            },
                                        });
                                    },
                                    cancelButtonFunction : function(){
                                        $val.val("")
                                    }
                                })
                            }
                        })

                        $tpl.find(".valueList").append($valContainer);


                        $container.append($tpl);
                    });

                    $div = $("<div/>").attr({
                        class: "flex items-center mb-2 code_wrapper border-t p-4 relative"
                    });

                    $input = $("<input/>").attr({
                        class: "w-32 border border-gray-200 px-2 py-1 inline-block mb-1 rounded font-bold",
                        placeholder: "新增 SKU 類別"
                    });

                    $inputContainer = $("<div/>").attr({ class: "relative"})

                    $inputContainer.append($input)
                    
                    $error = $("<div/>").attr({
                        class: "absolute text-xs text-red-500 mt-14", 
                    }).html("請只輸入英文, 數字, _")

                    $input.on("keyup", function() {
                        let validation = $(this).val().match(regex)
                        if (validation) {
                            $input.val("")
                            $div.find($error).remove()
                            $div.append($error)
                            $input.addClass("border-2 border-red-500")
                        }
                    })

                    $input.on("focus", function() {
                        $input.removeClass("border-2 border-red-500")
                        $div.find($error).remove()
                    })
                    
                    $input.on("change", function(){
                        $val = $(this);

                        if (!!$input.val()) {
                            vkConfirmDefault({
                                title: '確認',
                                content: '<div>請確認是否新增' + $val.val() + '？</div>',
                                confirmButtonHtml: '確認',
                                cancelButtonHtml: '返回',
                                confirmButtonFunction: async function(e){
                                    url = "admin/item/api/addSkuCode";
                                    $loader = await globalLoader();
                                    $.bajax({
                                        url: url,
                                        method: 'POST',
                                        formElement: 'N',
                                        data: {
                                            code: $val.val()
                                        },
                                        callback: function(data) {
                                            globalLoader($loader);
                                            if (data.code == 0){
                                                $this.focus().keyup();
                                            } else {
                                                globalErrorReturn(data);
                                            }
                                        },
                                        errorCallback: function(jqXHR, textStatus, errorThrown) {
                                            console.log(jqXHR);
                                        },
                                    });
                                },
                                cancelButtonFunction : function(){
                                    $val.val("")
                                }
                            })
                        }
                    });

                    $div.append($input);

                    $container.append($div);


                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });
});

</script>
{/literal}