

<div id="skuMutli_picker" class="hidden">
    <form class="skuMulti_picker_form p-4 w-full sm:w-84" autocomplete="off">
        <div>
            <div class="mb-4 font-bold text-xl pickerTit">新增物品</div>
            <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                <div class="w-full">
                    <input autocomplete="off" name="skey" placeholder="搜尋: sku, 名稱">
                </div>
                <div>
                    <i class="ri-search-line"></i>
                </div>
            </div>
        </div>
        <div class="relative h-full h-screen-50">
            <div class="sku-picker-inner bg-white h-full w-full overflow-y-auto absolute top-0 left-0 z-10">
                <div class="tpl hidden bg-white flex items-center border border-solid rounded mb-2 cursor-pointer">
                    <div class="mt-2 ml-2 mb-2 h-10 w-10 bg-center bg-contain bg-no-repeat img"></div>
                    <div class="p-2">
                        <div class="font-bold sku_val"></div>
                        <div class="text-xs text-gray-400 name"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center my-4">
            <div class="inline px-16 py-2 bg-blue-500 text-white text-xl rounded-full my-4 cursor-pointer btn_submit-skuMulti">儲存</div>
        </div>
    </form>
</div>
{literal}
<script>
var activeClass = "active border-green-500 text-green-500";

$(document).ready(function(){
    $(document).off("click", ".sku_option");
    $(document).on("click", ".sku_option", function(){
        if ($(this).hasClass("active")){
            let idx = $(".skuMulti_picker_form").data('sku_id_arr').indexOf($(this).data('sku_data')['sku_id'])
            $(".skuMulti_picker_form").data("sku_arr").splice(idx,1);
            $(".skuMulti_picker_form").data("sku_id_arr").splice(idx,1);
            $(this).removeClass(activeClass)
        } else {
            if (!$(".skuMulti_picker_form").data("sku_arr")){
                $(".skuMulti_picker_form").data("sku_arr", []);
                $(".skuMulti_picker_form").data("sku_id_arr", []);
            }
            $(".skuMulti_picker_form").data("sku_arr").push($(this).data("sku_data"));
            $(".skuMulti_picker_form").data("sku_id_arr").push($(this).data("sku_data")['sku_id']);
            $(this).addClass(activeClass)
        }
    });

    $(document).off("keyup", ".skuMulti_picker_form [name=skey]");
    $(document).on("keyup", ".skuMulti_picker_form [name=skey]", function(){
        $container = $(".sku-picker-inner");
        var sku_arr = $(".skuMulti_picker_form").data("sku_arr");
        if (sku_arr){
            var sku_id_arr = sku_arr.map(function(v) {return v.sku_id})
            $(".skuMulti_picker_form").data("sku_id_arr", sku_id_arr);

        }

        $.bajax({
            url: "admin/item/api/getSkuList",
            method: 'POST',
            data: {skey:$(this).val()},
            callback: function(data) {
                if (data.code == 0){
                    

                    $container.children(".sku_option").remove();
                    res = data.result;
                    res.forEach(function($row){
                        $tpl = $("#skuMutli_picker .tpl").clone();
                        $tpl.removeClass("tpl hidden");
                        $tpl.addClass("sku_option")

                        $tpl.data('sku_data', $row);

                        $tpl.find(".name").html($row.name_tc);
                        $tpl.find(".sku_val").html($row.sku_val);
                        $tpl.find(".img").attr({style: "background-image: url('" + $row.item_img+ "')"});

                        $tpl.attr("data-sku", JSON.stringify($row));

                        if (sku_id_arr && sku_id_arr.indexOf($row['sku_id']) != -1){
                            $tpl.addClass(activeClass);                            
                        }

                        $container.append($tpl)
                    });
                    
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });
});
</script>
{/literal}