

<div id="sku_picker" class="hidden">
    <form class="sku_picker_form p-4 w-full sm:w-84" autocomplete="off">
        <div>
            <div class="mb-4 font-bold text-xl pickerTit">新增物品</div>
            <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                <div class="w-full">
                    <input autocomplete="off" name="skey" placeholder="搜尋: sku, 名稱">
                </div>
                <div>
                    <i class="ri-search-line"></i>
                </div>
            </div>
        </div>
        <div class="relative h-full h-screen-50">
            <div class="sku-picker-inner bg-white h-full w-full overflow-y-auto absolute top-0 left-0 z-10">
                <div class="tpl hidden bg-white flex items-center border border-solid rounded mb-2 cursor-pointer">
                    <div class="mt-2 ml-2 mb-2 h-10 w-10 bg-center bg-contain bg-no-repeat img"></div>
                    <div class="p-2">
                        <div class="font-bold sku_val"></div>
                        <div class="text-xs text-gray-400 name"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{literal}
<script>
$(document).ready(function(){
    $(document).off("keyup", ".sku_picker_form [name=skey]");
    $(document).on("keyup", ".sku_picker_form [name=skey]", function(){
        $container = $(".sku-picker-inner");
        $.bajax({
            url: "admin/item/api/getSkuList",
            method: 'POST',
            data: {skey:$(this).val()},
            callback: function(data) {
                if (data.code == 0){
                    $container.children(".sku_option").remove();
                    res = data.result;
                    res.forEach(function($row){
                        $tpl = $("#sku_picker .tpl").clone();
                        $tpl.removeClass("tpl hidden");
                        $tpl.addClass("sku_option")
                        
                        $tpl.attr({
                            "data-name_tc": $row.name_tc,
                            "data-name_en": $row.name_en,
                            "data-sku_id": $row.sku_id,
                            "data-cost": $row.cost,
                            "data-item_img" : $row.item_img,
                            "data-sku_val" : $row.sku_val,
                            "data-item_id" : $row.item_id,
                            "data-sku": JSON.stringify($row)
                        })

                        $tpl.find(".name").html($row.name_tc);
                        $tpl.find(".sku_val").html($row.sku_val);
                        $tpl.find(".img").attr({style: "background-image: url('" + $row.item_img+ "')"});

                        $tpl.attr("data-sku_id", $row.sku_id);
                        $container.append($tpl)
                    });
                    
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });
});
</script>
{/literal}