

<div id="supplier_picker" class="hidden">
    <form class="supplier_picker_form p-4 w-full sm:w-84" autocomplete="off">
        <div>
            <div class="mb-4 font-bold text-xl pickerTit">選擇供應商 <a href="admin/item/supplierDtl?supplier_id=0" target="_blank" class="text-sm text-blue-700 px-2 flex-none cursor-pointer">(新增)</a></div>
            <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                <div class="w-full">
                    <input autocomplete="off" name="skey" placeholder="搜尋: 供應商名稱，電絡人姓名" class="w-full">
                </div>
                <div>
                    <i class="ri-search-line"></i>
                </div>
            </div>
        </div>
        <div class="relative h-full h-screen-50">
            <div class="supplier-picker-inner bg-white h-full w-full overflow-y-auto absolute top-0 left-0 z-10">
                <div class="tpl hidden bg-white py-2 px-4 border border-solid rounded mb-2 cursor-pointer">
                    <div class="font-bold supplier_name"></div>
                    <div class="text-xs text-gray-400 contact_person"></div>
                </div>
            </div>
        </div>
    </form>
</div>

{literal}
<script>
$(document).ready(function(){
    $(document).off("keyup", ".supplier_picker_form [name=skey]");
    $(document).on("keyup", ".supplier_picker_form [name=skey]", function(){
        $container = $(".supplier-picker-inner");
        $.bajax({
            url: "admin/supplier/api/getSupplierList",
            method: 'POST',
            data: {skey:$(this).val()},
            callback: function(data) {
                if (data.code == 0){
                    $container.children(".supplier_option").remove();
                    res = data.result.supplier_list;
                    res.forEach(function($row){
                        $tpl = $("#supplier_picker .tpl").clone();
                        $tpl.removeClass("tpl hidden");
                        $tpl.addClass("supplier_option")

                        $tpl.attr({
                            "data-contact_phone": $row.phone,
                            "data-contact_email": $row.email,
                            "data-supplier_name": $row.name_tc,
                            "data-supplier_id": $row.supplier_id
                        })
                        $tpl.data("item_list", $row.item_list);

                        if ($row.contact_list[0]){
                            $tpl.attr({
                                "data-contact_name": $row.contact_list[0].contact_name,
                            });
                            $tpl.find(".contact_person").html($row.contact_list[0].contact_name + " (" + $row.contact_list[0].contact_phone + ")")
                        }
                        
                        $tpl.find(".supplier_name").html($row.name_tc)
                        $container.append($tpl)
                    });
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });
});
</script>
{/literal}