

<div id="various_picker" class="hidden">
    <div class="w-full sm:w-120">
        <div class="relative h-full h-screen-50">
            <div class="various-picker-inner bg-white h-full w-full overflow-y-auto absolute top-0 left-0 z-10"></div>
        </div>    
        <div class="flex border-t">
            <button class="btn_add_various px-2 py-1 m-2 ml-auto cursor-pointer bg-blue-500 text-white font-bold rounded hover:bg-blue-400">加入規格</button>
        </div>
    </div>
</div>
{literal}
<script>
$(document).ready(function(){
    
    $(document).on("click", ".val", function(){
        $(this).toggleClass("active border-green-500 text-green-500 border-white")
    });

});
</script>
{/literal}