<div id="editSkuStock" class="hidden">

    <form class="mb-0" style="width: 25vw;" id="voidSku_form">
        <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">

                <div class="mb-4 font-bold text-xl pickerTit">物品出庫 / 註銷</div>

                <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-6 location_picker">
                        <label for="location_id" class="block text-sm font-medium text-gray-700">庫存位置</label>
                        <input type="hidden" name="location_id">
                        <div class="location-adm_name mt-1 border border-gray-300 rounded-lg w-full py-1 px-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 bg-gray-100 text-gray-500 cursor-not-allowed"></div>
                    </div>


                    <div class="col-span-6">
                        <label for="sku_val" class="block text-sm font-medium text-gray-700">相關物品</label>
                        <input type="hidden" name="item_id" value="">
                        <div class="sku_select_disable mt-1 border border-gray-300 rounded-lg w-full py-1 px-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 bg-gray-100 text-gray-500 cursor-not-allowed">未有物品可供選擇</div>
                        <select class="hidden sku_select mt-1 block w-full py-2 px-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <option>-- 選擇SKU --</option>
                        </select>
                    </div>


                    <div class="col-span-6">
                        <div class="flex">
                            <label for="qty" class="block text-sm font-medium text-gray-700">數量</label>
                            <p class="ml-2 text-sm font-medium text-gray-700 sku_qty">(現有數量: )</p>
                        </div>
                        <input type="number" name="qty" class="mt-1 border border-gray-300 rounded-lg w-full py-1 px-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" min="0">
                    </div>


                    <div class="col-span-6 tar_location_picker hidden">
                        <div class="flex">
                            <label for="location_id" class="block text-sm font-medium text-gray-700">目標庫存位置</label>
                            <p class="ml-2 text-sm font-medium text-gray-700 adm_name">(現在位置: )</p>
                        </div>
                        <input type="hidden" name="tar_location_id">
                        <select class="tar_location_select mt-1 block w-full py-2 px-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <option>-- 選擇位置 --</option>
                            {foreach from=$result_array.locationList key=k item=i}
                            <option value="{$i.location_id}">{$i.adm_name} ({$i.remarks})</option>
                            {/foreach}
                        </select>
                    </div>


                    <div class="col-span-6 remarks_picker">
                        <label class="block text-sm font-medium text-gray-700">預設備註</label>
                        <select class="advice_remarks mt-1 block w-full py-2 px-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <option>-- 未使用 --</option>
                            <option value="盤點">盤點</option>
                            <option value="遺失">遺失</option>
                            <option value="損壞">損壞</option>
                            <option value="禮物">禮物</option>
                        </select>
                    </div>

                    <div class="col-span-6 remarks_picker">
                        <label for="remarks" class="block text-sm font-medium text-gray-700"> 備註</label>
                        <input type="text" name="remarks" class="mt-1 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">
                    </div>


                </div>
            </div>
            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                <button type="submit"
                    class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-500 hover:opacity-70 focus:outline-none focus:ring-2 focus:ring-offset-2">
                    提交
                </button>
            </div>
        </div>
    </form>

</div>

<script>
let skuDetails = {}

$(document).ready(function(){
    $(document).on("click", ".btn_voidSku", function () {
        $this = $(this);
        $sku_val = $(this).parents(".sku").data("sku_val")
        $sku_qty = $(this).parents(".sku").data("qty")
        $item_id = $(this).parents(".sku").data("item_id")
        $location_id = $(this).parents(".location").data("location_id");
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#editSkuStock').html(),
            mounted: function () {
                $(".vk-modal-dom").find("[name=location_id]").attr("value", $location_id)

                $.bajax({
                    url: "admin/item/api/getLocationDtl",
                    method: 'POST',
                    data: {
                        location_id: $location_id,
                    },
                    callback: function(data) {
                        if (data.code == 0){
                            res = data.result.locationDtl

                            $(".vk-modal-dom").find(".location-adm_name").html(res.adm_name)

                            // if ($this.parents(".sku").length > 0) {
                            //     $(".vk-modal-dom").find(".sku_select").removeClass("hidden")
                            //     $(".vk-modal-dom").find(".sku_select_disable").addClass("hidden")

                            //     $(".vk-modal-dom").find("[name=item_id]").val($item_id)
                            //     $option = $("<option/>").attr({
                            //         value: $item_id
                            //     }).attr("data-sku_qty", $sku_qty).html($sku_val).addClass("sku_option").attr("selected", "selected");

                            //     $(".vk-modal-dom").find(".sku_qty").html("(現有數量: " + $sku_qty + " )")
                            //     $(".vk-modal-dom").find("[name=qty]").attr("max", $sku_qty)

                            //     $(".vk-modal-dom").find(".sku_select").append($option);
                                
                            // } else {
                                if ((res.itemList).length > 0) {
                                    $(".vk-modal-dom").find(".sku_select").removeClass("hidden")
                                    $(".vk-modal-dom").find(".sku_select_disable").addClass("hidden")
                
                                    $(".vk-modal-dom").find(".sku_option").remove();
                                    (res.itemList).forEach(function(item){

                                        console.log(item);
                                        $option = $("<option/>").attr({
                                            value: item.item_id
                                        }).attr("data-sku_qty", item.qty).html(item.display_name).addClass("sku_option");
                                        $(".vk-modal-dom").find(".sku_select").append($option);
                                    });
                                } else {
                                    $(".vk-modal-dom").find(".sku_option").remove();
                                    $(".vk-modal-dom").find(".sku_select_disable").removeClass("hidden").html("此位置未有產品")
                                    $(".vk-modal-dom").find(".sku_select").addClass("hidden")
                                    $(".vk-modal-dom").find(".sku_qty").html("(現有數量: )")
                                }
                            // }
                        } else {
                            globalErrorReturn(data);
                        }
                    },
                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                });
            }
        });
    });

    $(document).on("click", ".btn_transferSku", function () {
        $this = $(this);
        $location_id =  $(this).parents(".location").data("location_id");
        $adm_name = $(this).parents(".location").data("adm_name");
        $("#voidSku_form").attr("id", "transferSku_form");

        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#editSkuStock').html(),
            mounted: function () {
                $(".vk-modal-dom").find(".tar_location_picker").removeClass("hidden")
                $(".vk-modal-dom").find(".location_picker").addClass("hidden")
                $(".vk-modal-dom").find(".remarks_picker").addClass("hidden")
                $(".vk-modal-dom").find(".pickerTit").html("物品轉庫")
                $(".vk-modal-dom").find("[name=location_id]").val($location_id)
                $(".vk-modal-dom").find(".adm_name").html("(現在位置: " + $adm_name + ")")

                $(".vk-modal-dom").find(".tar_location_select").children("option").map(function () {
                    if ($(this).val() == $location_id) {
                        $(this).attr("disabled", true);
                        $this_html = $(this).html()
                        $(this).html($this_html + "(現在位置)")
                    }
                })

                $.bajax({
                    url: "admin/item/api/getLocationDtl",
                    method: 'POST',
                    data: {
                        location_id: $location_id,
                    },
                    callback: function(data) {
                        if (data.code == 0){
                            res = data.result.locationDtl
                            $(".vk-modal-dom").find(".location-adm_name").html(res.adm_name)
                            
                            // if ($this.parents(".sku").length > 0) {
                            //     $sku_id = $this.parents(".sku").data("sku_id")
                            //     $sku_val = $this.parents(".sku").data("sku_val")
                            //     $qty = $this.parents(".sku").data("qty")

                            //     $(".vk-modal-dom").find(".sku_select").removeClass("hidden")
                            //     $(".vk-modal-dom").find(".sku_select_disable").addClass("hidden")
                            //     $(".vk-modal-dom").find(".sku_option").remove();
                            //     $option = $("<option/>").attr({
                            //         value: $sku_id
                            //     }).attr("data-qty", $qty).html($sku_val).addClass("sku_option").attr("selected", "selected");
                            //     $(".vk-modal-dom").find("[name=sku_id]").val($sku_id)
                            //     $(".vk-modal-dom").find(".sku_qty").html("(現有數量: " + $qty + " )")
                            //     $(".vk-modal-dom").find(".sku_select").append($option);
                            // } else {
                                if (res.itemList.length > 0) {
                                    $(".vk-modal-dom").find(".sku_select").removeClass("hidden")
                                    $(".vk-modal-dom").find(".sku_select_disable").addClass("hidden")
                
                                    $(".vk-modal-dom").find(".sku_option").remove();
                                    (res.itemList).forEach(function(item){
                                        $option = $("<option/>").attr({
                                            value: item.item_id
                                        }).attr("data-sku_qty", item.qty).html(item.display_name).addClass("sku_option");
                                        $(".vk-modal-dom").find(".sku_select").append($option);
                                    });
                                } else {
                                    $(".vk-modal-dom").find(".sku_option").remove();
                                    $(".vk-modal-dom").find(".sku_select_disable").removeClass("hidden").html("此位置未有產品")
                                    $(".vk-modal-dom").find(".sku_select").addClass("hidden")
                                    $(".vk-modal-dom").find(".sku_qty").html("(現有數量: )")
                                }
                            // }
                        } else {
                            globalErrorReturn(data);
                        }
                    },
                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                });
            }
        });
    });

    $(document).on("change", ".vk-modal-dom .tar_location_select", function() {
        $tar_location_id = $(this).val();
        $(this).siblings("[name=tar_location_id]").attr("value", $tar_location_id);
    })

    $(document).on("change", ".vk-modal-dom .sku_select", function() {
        item_id = $(this).val();
        sku_qty = $(this).find(":selected").data("sku_qty");
        if (sku_qty) {
            $(".vk-modal-dom").find(".sku_qty").html("(現有數量: " + sku_qty + " )")
            $(".vk-modal-dom").find("[name=qty]").attr("max", sku_qty);
        } else {
            $(".vk-modal-dom").find(".sku_qty").html("(現有數量: )")
        }
        $(this).siblings("[name=item_id]").attr("value", item_id);
        $(".vk-modal-dom").find("[name=qty]").attr("max", sku_qty)
    })

    $(document).on("change", ".vk-modal-dom .advice_remarks", function(){
        $("[name=remarks]").val($(this).val());
    });

    $(document).on("change", ".vk-modal-dom .location_select", function(){
        $("[name=location_id]").val($(this).val());
    });
    
    $(document).on("keyup", ".vk-modal-dom [name=remarks]", function(){
        $(".vk-modal-dom .advice_remarks option:eq(0)").prop("selected", true)
    });


    $(document).on("submit", ".vk-modal-dom #voidSku_form", async function(e){
        e.preventDefault();
        $vk = $(this).parents(".vk-modal-dom")

        $loader = await globalLoader();

        // validation needed

        $.bajax({
            url: "admin/item/api/voidSku",
            method: 'POST',
            data: {
                code: "ITEMID:" + $vk.find("[name=item_id]").val(),
                qty: $vk.find("[name=qty]").val(),
                remarks: $vk.find("[name=remarks]").val(),
                location_id: $vk.find("[name=location_id]").val(),
            },
            callback: function(data) {
                if (data.code == 0){   
                    location.reload();
                } else {
                    globalErrorReturn(data);
                    globalLoader($loader);
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                globalLoader($loader);
                console.log(jqXHR);
            },
        });
    })

    $(document).on("submit", ".vk-modal-dom #transferSku_form", async function(e){
        e.preventDefault();
        $vk = $(this).parents(".vk-modal-dom")

        $loader = await globalLoader();

        // validation needed

        $.bajax({
            url: "admin/item/api/moveItem",
            method: 'POST',
            data: {
                location_id: $vk.find("[name=location_id]").val(),
                tar_location_id: $vk.find("[name=tar_location_id]").val(),
                code: "ITEMID:" + $vk.find("[name=item_id]").val(),
                qty: $vk.find("[name=qty]").val(),
            },
            callback: function(data) {
                if (data.code == 0){   
                    location.reload();
                } else {
                    globalErrorReturn(data);
                    globalLoader($loader);
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                globalLoader($loader);
                console.log(jqXHR);
            },
        });
    })
});
</script>