<div>
  <div class="container vk-container">
    <h1 class="text-3xl font-bold my-8">購物車</h1>
    <hr class="border-gray-200" />
    <div class="mt-12 lg:grid lg:grid-cols-12 lg:gap-x-12 lg:items-start xl:gap-x-16">


      <div class="no_item_text text-center col-span-12 py-44 {if $result_array.cartDtl.deliList|@count != '0'}hidden{/if}">
        <h2 class="text-2xl">暫時未有任何商品</h2>
        <p class="text-lg text-gray-400">未有商品？<a href="/" class="underline font-bold hover:opacity-80">立即遊覽</a>並增加至購物車</p>
      </div>

      {if $result_array.cartDtl.deliList|@count != '0'}
      <div class="items-container lg:col-span-8">
       
        {foreach from=$result_array.cartDtl.deliList key=k item=i}
        <div class="py-8 cart_item">
          <div class="flex flex-row">
            <div class="w-1/3">
              <img
                src="{$i.productDtl.img.0.img}"
                alt="{$i.productDtl.product_name}"
                class="rounded overflow-hidden w-full"
              />
            </div>
            <div class="ml-4 w-2/3">
              <div class="font-bold text-sm text-gray-400">
                {$i.productDtl.product_code}
              </div>
              <h2 class="font-bold text-base md:text-lg">
                {$i.productDtl.product_name}
              </h2>
              <div class="pricing font-bold text-green-500 text-xl">
                <span>${$i.deliDtl.product_price}</span>
              </div>
              {if $i.addonList}
              <div>
                附加產品: 
                <ol class="list-decimal ml-4">
                  {foreach from=$i.addonList key=kk item=ii}
                    <li>{$ii.productDtl.product_name} * {$ii.qty}</li>
                  {/foreach}

                </ol>
              </div>
              {/if}

              {assign var=isClientOption value=N}
              {foreach from=$i.deliDtl.itemList key=kk item=ii}
                {if $ii.isClientOption == 'Y'}{assign var=isClientOption value=Y}{/if}
              {/foreach}
              {if $isClientOption == 'Y'}
              <div>
                升級物品: 
                <ol class="list-decimal ml-4">
                  {foreach from=$i.deliDtl.itemList key=kk item=ii}
                    {if $ii.isClientOption == 'Y'}
                      <li>{$ii.name}</li>
  
                    {/if}
                  {/foreach}
                </ol>
              </div>
              {/if}


              <div class="flex flex-row mt-2 text-sm font-bold text-gray-500">
                <span class="mr-1">小結 : </span>
                <div class="flex flex-row">
                  <span>${$i.product_price + $i.addon_price|number_format:2:".":","}</span>
                </div>
              </div>
            </div>
            <div class="operation-tools ml-auto">
              <a class="text-xl text-gray-400 hover:text-gray-500 px-4 py-4 btn_del_deliItem cursor-pointer" data-deli_id="{$i.deli_id}"><i class="ri-delete-bin-line"></i></a>
            </div>
          </div>
        </div>
        <hr class="border-gray-200" />
        {/foreach}
      </div>
      <section
        aria-labelledby="summary-heading"
        class="cart_summary mt-16 bg-gray-50 rounded-lg px-4 py-6 sm:p-6 lg:p-8 lg:mt-0 lg:col-span-4 sticky top-16"
      >
        <h2 id="summary-heading" class="text-lg font-medium text-gray-900">
            購物車預覽
        </h2>

        <dl class="mt-6 space-y-4">
          <div class="flex items-center justify-between">
            <dt class="text-sm text-gray-600">
                小計
            </dt>
            <dd class="text-sm font-medium text-gray-900 product_price">
              ${$result_array.cartDtl.product_price|number_format:2:".":","}
            </dd>
          </div>
         
          <div
            class="border-t border-gray-200 pt-4 flex items-center justify-between"
          >
            <dt class="flex text-sm text-gray-600">
              <span>運費</span>
             
            </dt>
            <dd class="text-sm font-medium text-gray-900">
                待定
            </dd>
          </div>
          <div
            class="border-t border-gray-200 pt-4 flex items-center justify-between"
          >
            <dt class="text-base font-medium text-gray-900">
                總計
            </dt>
            <dd class="text-base font-medium text-gray-900 total_product_price">
                HKD${$result_array.cartDtl.product_price|number_format:2:".":","}
            </dd>
          </div>
        </dl>

        <div class="mt-6">
          <a
            href="/checkout/checkoutConfirmAddress"
            class="flex justify-center w-full themeBackgroundColor border border-transparent rounded-md shadow-sm py-3 px-4 text-base font-medium text-white hover:opacity-75 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 "
          >
          <span class="mr-2">下一步</span><i class="ri-arrow-right-line"></i>
        </a>
        </div> 
      </section>
      {/if}
    </div>
  </div>
</div>

<script>
var member_id = '{$member.member_id}';
var shop_id = '{$shop_id}';
{literal}
$(document).ready(function(){
  $(document).on("click", ".btn_del_deliItem", async function(){
    $this = $(this);
    $loader = await globalLoader();
    $.bajax({
        url: "myAccount/api/removeCartDeliItem",
        method: 'POST',
        data:{
            deli_id: $(this).attr("data-deli_id"),
            member_id: member_id,
            shop_id: shop_id
        },
        callback: function(data) {
          if (!data.code == 0){
              globalLoader($loader);
              globalErrorReturn(data);
            } else {
              $this.parents(".cart_item").remove()
              if ($(".items-container").children(".cart_item").length == 0 ) {
                $(".no_item_text").removeClass("hidden")
                $(".items-container").addClass("hidden")
                $(".cart_summary").addClass("hidden")
              }
              infoPopup("成功", "已成功從購物車刪除。");
              $(".product_price").html("$" + data.result.product_price);
              $(".total_product_price").html("HKD$" + data.result.product_price);
              globalLoader($loader);
            }
        },
        errorCallback: function(jqXHR, textStatus, errorThrown) {
            console.log(jqXHR);
        },
    });
  })
})
{/literal}
</script>