<div class="bg-white">
    <div class="container vk-container">
        <div class="flex flex-col w-full justify-center items-center pt-24 pb-16 text-gray-700">
            
            <div class="text-2xl pt-4">歡迎使用The Gift 禮譽服務，你已成功認證。</div>
        </div>
    </div>
</div>
