<link href="adminA/css/global.css?v={$timestamp}" rel="stylesheet">
<link href="css/tailwind.css{$srcVersion}" rel="stylesheet">
<link href="css/fonts/remixicon.css?v={$timestamp}" rel="stylesheet" type="text/css" >
<link rel="stylesheet" href="js/lib/selectize/selectize.css?v={$timestamp}">
<link rel="stylesheet" href="adminA/js/devExpress/css/dx.light.css">
<link rel="stylesheet" href="adminA/js/devExpress/css/dx.material.the-gift.css">
