<div class="mt-6 mb-4 lg:mx-12">
	<div class="text-3xl font-bold">資訊板</div>
	<div class="flex flex-row py-4">
		<a href="admin?period=7d" class="{if $result_array.period == '7d'}bg-blue-200 text-blue-700{else}text-gray-700 hover:opacity-80{/if} px-8 py-2 rounded-full cursor-pointer">最近七⽇數據</a>
		<!-- <div class="bg-blue-200 text-blue-700 px-8 py-2 rounded-full ml-4 cursor-pointer">本⽉數據</div> -->
		<a href="admin?period=m" class="{if $result_array.period == 'm'}bg-blue-200 text-blue-700{else}text-gray-700 hover:opacity-80{/if} px-8 py-2 rounded-full ml-4 cursor-pointer">本⽉數據</a>
	</div>
	<div class="bg-white rounded-lg shadow-lg w-full overflow-auto lg:max-w-2xl">
		<!-- chart here -->
		<script src="./js/lib/chart.min.js"></script>
		<canvas id="chart-js" class="w-full py-6 max-w-full"></canvas>
		<script>
			var lbl = ['{"','"|implode: $result_array.orderStat.lbl}'];
			var val = ['{"','"|implode: $result_array.orderStat.val}'];
			{literal}
			var ctx = document.getElementById('chart-js').getContext('2d');
			var myChart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: lbl,
					datasets: [{
						label: '# of Votes',
						data: val,
						borderColor: [
							'rgba(29, 78, 216, 1)',
						],
						borderWidth: 1
					}]
				},
				options: {
					scales: {
						y: {
							beginAtZero: true
						}
					}
				}
			});
			{/literal}
		</script>
		
	</div>
</div>

<div class="flex flex-col lg:flex-row gap-4 lg:mx-12">
	<div class="bg-white rounded-lg shadow-lg w-full">
		<div class="flex flex-col px-8 py-4">
			<div class="flex flex-row py-4">
				<div class="text-xl">新會員註冊</div>
				<div class="text-blue-600 ml-auto cursor-pointer hover:opacity-75"><a href="admin/member/memberList?business=N">會員管理<i class="ri-arrow-right-line pl-2"></i></a></div>
			</div>
			<div class="flex flex-col">
				<div class="text-gray-700 border-b-2 border-gray-300 py-2">會員</div>
				{foreach from=$result_array.memberList key=k item=i}
				<div class="flex flex-row items-center text-gray-700 border-b-2 border-gray-300 py-2 hover:bg-gray-100">
					<a href="admin/member/memberDtl?member_id={$i.member_id}" class="hover:opacity-70">{$i.email}</a>
					<div class="text-lg ml-auto">
						{if $i.method == 'facebook'}
							<i class="ri-facebook-circle-fill"></i>
						{else if $i.method == 'google'}
							<i class="ri-google-fill"></i>
						{else}
							<i class="ri-mail-fill"></i>
						{/if}
					</div>
				</div>
				{/foreach}
			</div>
		</div>
	</div>
	<div class="bg-white rounded-lg shadow-lg w-full">
		<div class="flex flex-col px-8 py-4">
			<div class="flex flex-row py-4">
				<div class="text-xl">最新訂單</div>
				<div class="text-blue-600 ml-auto cursor-pointer hover:opacity-75"><a href="admin/shipment/orderList">訂單管理<i class="ri-arrow-right-line pl-2"></i></a></div>
			</div>
			<div class="flex flex-col">
				<div class="flex flex-row text-gray-700 border-b-2 border-gray-300 py-2">訂單編號<div class="ml-auto">訂單價格</div></div>
				{foreach from=$result_array.orderList key=k item=i}
				<div class="flex flex-row items-center text-gray-700 border-b-2 border-gray-300 py-2 hover:bg-gray-100">
					<a href="admin/shipment/orderDtl?order_id={$i.order_id}" class="hover:opacity-75">{$i.order_no}</a>
					<div class="text-lg ml-auto">
						{$i.final_price}
					</div>
				</div>
				{/foreach}
			</div>
		</div>
	</div>
	<div class="bg-white rounded-lg shadow-lg w-full">
		<div class="flex flex-col px-8 py-4">
			<div class="flex flex-row py-4">
				<div class="text-xl">近三十日最暢銷產品</div>
			</div>
			<div class="flex flex-col">
				<div class="flex flex-row text-gray-700 border-b-2 border-gray-300 py-2">產品<div class="ml-auto">銷量</div></div>
				{foreach from=$result_array.productList key=k item=i}
				<div class="flex flex-row items-center text-gray-700 border-b-2 border-gray-300 py-2 hover:bg-gray-100">
					<a href="admin/product/productDtl?product_id={$i.product_id}" class="hover:opacity-75">{$i.product_name_tc}</a>
					<div class="text-lg ml-auto">
						{$i.counter}
					</div>
				</div>
				{/foreach}
			</div>
		</div>
	</div>
</div>