<script src="js/jquery.min.js"></script>
<script src="js/jquery.md5.js"></script>
<script src="js/bajax.js{$srcVersion}"></script>
<script src="js/bmodal.js{$srcVersion}"></script>
<script src="js/bloader.js{$srcVersion}"></script>
<script src="adminA/js/beditable.js{$srcVersion}"></script>
<script src="adminA/js/global.js{$srcVersion}"></script>
<script src="js/pace.js"></script>
<script src="js/vk-modal.js?v={$timestamp}"></script>
<script src="js/lib/selectize/selectize.js?v={$timestamp}"></script>
<script src="js/lib/vanilla-picker/vanilla-picker.js?v={$timestamp}"></script>
<script src="/js/lib/moment-with-locales.min.js"></script>

<script src="adminA/js/devExpress/js/dx.all.js"></script>   
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
