<div class="flex flex-col px-4 lg:px-12">
    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">公司註冊優惠管理</div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg py-2 w-full">    
        <form id="edit_form" action="/admin/discount/api/editCompanyDiscount" method="post">
            <input name="shop_id" type="hidden" value="{$shop_id}" readonly> 
            <input type="hidden" name="discount_id" value="{if $result_array.companyDiscountDtl.discount_id}{$result_array.companyDiscountDtl.discount_id}{else}0{/if}">
            <div class="flex flex-col w-full lg: pt-6 lg:mr-6">
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="pb-2">公司名稱</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="company_name" type="text" value="{$result_array.companyDiscountDtl.company_name}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="pb-2">電郵後綴 <span class="text-sm text-gray-400">(會員註冊時, 電郵包含此後綴將會使用此優惠) (請使用<span class="text-red-600">逗號</span>分隔, eg: @gmail.com,@hsbc.com,@yahoo.com.hk)</span></div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="email_suffix" type="text" value="{$result_array.companyDiscountDtl.email_suffix}"> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="pb-2">現金消費額 <span class="text-xs text-gray-400">(會員註冊後, 將會得到此現金消費額)</span></div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="credit" type="number" value="{$result_array.companyDiscountDtl.credit}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="pb-2">限額 <span class="text-xs text-gray-400">(能夠得到此優惠的會員數)</span></div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="quota" type="number" value="{$result_array.companyDiscountDtl.quota}"> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="pb-2">過期日</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="expiry_date" type="date" value="{$result_array.companyDiscountDtl.expiry_date|substr:0:10}"> 
                    </div>
                </div>
                <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 my-4 mx-auto rounded-full cursor-pointer" type="submit" value="儲存">
            </div>
        </form>

        <div class="flex flex-row h-full items-center">
            <div class="text-2xl text-gray-800 p-2 lg:pl-8">已得到此優惠的會員列表</div>
            <!-- <div class="bg-blue-500 hover:bg-blue-300 text-white px-6 py-1 my-4 ml-4 rounded-full cursor-pointer btn_addVoucher">增加優惠券</div> -->
        </div>

        {if $result_array.companyDiscountDtl.applicantList}
        <div class="grid grid-cols-5 gap-5 text-gray-600 border-b border-gray-300 px-4 py-3 lg:px-8">
            <div>會員編號</div>
            <div>會員名稱</div>
            <div>電話</div>
            <div>申請日期</div>
            <div class="ml-auto">操作</div>
        </div>
        {foreach from=$result_array.companyDiscountDtl.applicantList key=k item=i}
        
            <div class="voucher grid grid-cols-5 auto-rows-auto gap-5 px-4 py-3 lg:px-8 text-gray-800 border-t border-gray-300 hover:bg-gray-100">
                <div>{$i.memberDtl.member_no}</div>
                <div>{$i.memberDtl.name}</div>
                <div>{$i.memberDtl.mobile}</div>
                <div>{$i.memberDtl.create_datetime|substr:0:10}</div>
                <div class="ml-auto">
                    <a href="admin/member/memberDtl?member_id={$i.member_id}" class="border border-gray-300 rounded hover:opacity-60 cursor-pointer px-4 py-1" target="_blank">查看會員</a>
                </div>
            </div>
        {/foreach}
        {else}
        <div class="text-xl px-8 text-gray-700 pb-4">未有申請人可供顯示</div> 
        {/if}
    </div>
</div>

{literal}
<script>
$(document).ready(function(){
    $("#edit_form").submit(async function(e){
        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                globalLoader($loader);
                if (!data.code == 0){
                    globalErrorReturn(data);
                } else {
                    infoPopup();
                    location.href = "admin/discount/companyDiscountDtl?discount_id=" + data.result.discount_id
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
});
</script>
{/literal}