<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-10">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">公司註冊優惠列表</div>
    </div>
    <a href="admin/discount/companyDiscountDtl?discount_id=0"><div class=" ml-4 px-8 py-2 bg-blue-500 hover:bg-blue-400 text-white rounded-full mr-auto cursor-pointer">新增公司註冊優惠</div></a>

    <div class="flex bg-white rounded-full ml-auto shadow">
        <form id="list_form" action="admin/discount/companyDiscountList" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="skey" class="flex px-4 py-2 rounded-full truncate" type="text" placeholder="編號, 名稱, Email後綴" value="{$result_array.page_config.skey}">
                <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-10">
    <div class="grid grid-cols-7 gap-5 text-gray-600 border-b-2 border-gray-300 px-4 py-3 lg:px-8">
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "discount_id" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="discount_id">
            {if $result_array.page_config.sort == "discount_id"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>編號</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "company_name" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="company_name">
            {if $result_array.page_config.sort == "company_name"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div class="truncate">公司名稱</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "email_suffix" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="email_suffix">
            {if $result_array.page_config.sort == "email_suffix"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div class="truncate">Email後綴</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "credit" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="credit">
            {if $result_array.page_config.sort == "credit"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div class="truncate">現金消費額</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "quota" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="quota">
            {if $result_array.page_config.sort == "quota"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>限額</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "expiry_date|substr:0:10" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="expiry_date|substr:0:10">
            {if $result_array.page_config.sort == "expiry_date|substr:0:10"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div class="truncate">有效日期</div>
        </div>
        <div class="flex flex-row my-auto ml-auto">操作</div>
    </div>

    {foreach from=$result_array.companyDiscountList key=k item=i}
    <div class="grid grid-cols-7 auto-rows-auto items-center gap-5 px-4 py-3 lg:px-8 text-gray-800 border-b border-gray-300 hover:bg-gray-100">
        <div>{$i.discount_id}</div>
        <div class="truncate">{$i.company_name}</div>
        <div class="truncate">{$i.email_suffix}</div>
        <div class="truncate">{$i.credit}</div>
        <div>{$i.quota}</div>
        <div class="truncate">{$i.expiry_date|substr:0:10}</div>
        <div class="ml-auto">
            <a href="admin/discount/companyDiscountDtl?discount_id={$i.discount_id}"><i class="ri-edit-line pr-2 hover:text-gray-400 text-lg"></i></a>
            <a class="btn_del" data-discount_id="{$i.discount_id}"><i class="ri-delete-bin-line hover:text-gray-400 text-lg"></i></a>
        </div>
    </div>
    {/foreach}
</div>

{include file='../module/pagerModule.html'}

<script>

{literal}
$(document).ready(function(){
    
    $(document).off("click", ".btn_del");
    $(document).on("click", ".btn_del", async function(e){
        $loader = await globalLoader();
        $this = $(this)
        vkConfirmDefault({
            title: '確認',
            content: '<div>請確認是否刪除這條目？</div>',
            confirmButtonHtml: '確認',
            cancelButtonHtml: '返回',
            confirmButtonFunction: function(){
                $.bajax({
                    url: "admin/discount/api/editCompanyDiscount",
                    method: 'POST',
                    formElement: 'N',
                    data: {
                        shop_id: "{/literal}{$shop_id}{literal}",
                        discount_id: $this.attr("data-discount_id"),
                        activate: 'N'
                    },
                    callback: function(data) {
                        if (data.code != 0){
                            globalLoader($loader);
                            globalErrorReturn(data);
                        } else {
                            infoPopup();
                            location.reload();
                        }
                    },
                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                });
            },
            cancelButtonFunction : function(){
                globalLoader($loader);
            }
        })
    })
    
});
{/literal}
</script>