<div class="flex flex-col px-4 lg:px-12">
    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">優惠碼管理</div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg py-2 w-full">    
        <form id="edit_form" action="/admin/discount/api/editCoupon" method="post">
            <input name="shop_id" type="hidden" value="{$shop_id}" readonly> 
            <input type="hidden" name="coupon_id" value="{if $result_array.couponDtl.coupon_id}{$result_array.couponDtl.coupon_id}{else}0{/if}" readonly>
            <div class="flex flex-col w-full lg: pt-6 lg:mr-6">
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="pb-2">優惠碼</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="code" type="text" value="{$result_array.couponDtl.code}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="pb-2">系統顯示</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="adm_name" type="text" value="{$result_array.couponDtl.adm_name}"> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="pb-2">折扣</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="discount" type="number" value="{$result_array.couponDtl.discount}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="pb-2">折扣類型</div>
                        <select class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:border-opacity-0" name="type" type="text" value="{if $result_array.couponDtl.type == 'P'}%{else}${/if}">
                            <option value="P"{if $result_array.couponDtl.type == "P"}selected{/if}>%</option>
                            <option value="A"{if $result_array.couponDtl.type == "A"}selected{/if}>$</option>
                        </select>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="pb-2">開始時段</div>
                        <input type="date" name="start_date" class="w-full border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" value="{$result_array.couponDtl.start_date}">
                    </div>
                    <div class="w-full p-2">
                        <div class="pb-2">結束時段</div>
                        <input type="date" name="end_date" class="w-full border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" value="{$result_array.couponDtl.end_date}">
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="pb-2">最低消費</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="minimum_order_amt" type="number" value="{$result_array.couponDtl.minimum_order_amt}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="pb-2">可以兌換次數</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="usage_limit" type="number" value="{$result_array.couponDtl.usage_limit}"> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="pb-2">可以同時使用優惠券</div>
                        <select class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:border-opacity-0" name="allow_voucher" type="text" value="{$result_array.couponDtl.allow_voucher}">
                            <option value="Y"{if $result_array.couponDtl.allow_voucher == "Y"}selected{/if}>Yes</option>
                            <option value="N"{if $result_array.couponDtl.allow_voucher == "N"}selected{/if}>No</option>
                        </select>
                    </div>
                    <div class="w-full p-2">
                        <div class="pb-2">只限會員使用</div>
                        <select class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:border-opacity-0" name="member_only" type="text" value="{$result_array.couponDtl.member_only}">
                            <option value="Y"{if $result_array.couponDtl.member_only == "Y"}selected{/if}>Yes</option>
                            <option value="N"{if $result_array.couponDtl.member_only == "N"}selected{/if}>No</option>
                        </select>
                    </div>
                    <div class="w-full p-2">
                        <div class="pb-2">售貨員</div>
                        <select class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:border-opacity-0" name="sales_admin_id" type="text" value="">
                            {foreach from=$result_array.salesList key=k item=i}
                            <option value="{$i.admin_id}" {if $i.admin_id == $result_array.couponDtl.sales_admin_id}selected{/if}>{$i.username}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="pb-2">電郵後綴 <span class="text-sm text-gray-600 ">(請使用<span class="text-red-600">逗號</span>分隔, eg: @gmail.com,@hsbc.com,@yahoo.com.hk)</span></div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="email_suffix" value="{$result_array.couponDtl.email_suffix}"/>
                    </div>
                </div>
                
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="pb-2">白名單 (產品) <span class="text-xs">(以下產品<span class="text-red-600 font-bold text-base">才能</span>使用此優惠碼, 其它產品將不能使用)</span></div>  
                        <select multiple class="selectize wlist_product_id rounded w-full">
                            {foreach from=$result_array.productList key=k item=i}
                            <option value="{$i.product_id}" {if $result_array.couponDtl && in_array($i.product_id, $result_array.couponDtl.wlist_product_id_arr)}selected{/if}>({$i.product_code}){$i.product_name_tc}</option>
                            {/foreach}
                        </select>
                        <input type="hidden" name="wlist_product_id_arr">
                    </div>
                </div>
                
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="pb-2">白名單 (產品分類) <span class="text-xs">(以下產品分類的產品<span class="text-red-600 font-bold text-base">才能</span>使用此優惠碼, 其它產品分類將不能使用)</span></div>  
                        <select multiple class="selectize wlist_cate_id rounded w-full">
                            {foreach from=$result_array.cateList key=k item=i}
                            <option class="cate" value="{$i.cate_id}" {if $result_array.couponDtl && in_array($i.cate_id, $result_array.couponDtl.wlist_cate_id_arr)}selected{/if}>({$i.cate_id}){$i.name_tc}</option>
                            {/foreach}
                        </select>
                        <input type="hidden" name="wlist_cate_id_arr">
                    </div>
                </div>
                
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="pb-2">黑名單 (產品) <span class="text-xs">(以下產品將<span class="text-red-600 font-bold text-base">不能</span>使用此優惠碼)</span></div>
                        <select multiple class="selectize blist_product_id  rounded w-full">
                            {foreach from=$result_array.productList key=k item=i}
                            <option value="{$i.product_id}" {if $result_array.couponDtl && in_array($i.product_id, $result_array.couponDtl.blist_product_id_arr)}selected{/if}>({$i.product_code}){$i.product_name_tc}</option>
                            {/foreach}
                        </select>
                        <input type="hidden" name="blist_product_id_arr">
                    </div>
                </div>
                
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="pb-2">黑名單(產品分類)<span class="text-xs">(以下產品分類的產品將<span class="text-red-600 font-bold text-base">不能</span>使用此優惠碼)</span></div>
                        <select multiple class="selectize blist_cate_id  rounded w-full">
                            {foreach from=$result_array.cateList key=k item=i}
                            <option value="{$i.cate_id}" {if $result_array.couponDtl && in_array($i.cate_id, $result_array.couponDtl.blist_cate_id_arr)}selected{/if}>({$i.cate_id}){$i.name_tc}</option>
                            {/foreach}
                        </select> 
                        <input type="hidden" name="blist_cate_id_arr">
                    </div>
                </div>


                <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 my-4 mx-auto rounded-full cursor-pointer" type="submit" value="儲存">
            </div>
        </form>
    </div>
</div>


{literal}
<script>
let selectedProductArr = []
let selectedProductObjArr = []
var tagActiveCls = "border border-b-0 active";
var tagInactiveCls = "border-b";

$(document).ready(function(){


    $("#edit_form").submit(async function(e){
        e.preventDefault();
        $loader = await globalLoader();

        $("[name=blist_product_id_arr").val($(".blist_product_id").val().toString());
        $("[name=blist_cate_id_arr").val($(".blist_cate_id").val().toString());
        $("[name=wlist_product_id_arr").val($(".wlist_product_id").val().toString());
        $("[name=wlist_cate_id_arr").val($(".wlist_cate_id").val().toString());
        
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    infoPopup();
                    // globalLoader($loader);
                    location.href ="admin/discount/couponDtl?coupon_id=" + data.result.coupon_id
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                    globalLoader($loader);
                console.log(jqXHR);
            },
        });
    })
   
});
</script>
{/literal}