<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-10">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">禮物卡列表</div>
    </div>
    <a href="admin/discount/giftCardDtl?card_id=0"><div class=" ml-4 px-8 py-2 bg-blue-500 hover:bg-blue-400 text-white rounded-full mr-auto cursor-pointer">新增禮物卡</div></a>

    <div class="flex bg-white rounded-full ml-auto shadow">
        <form id="list_form" action="admin/discount/giftCardList" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="skey" class="flex px-4 py-2 rounded-full truncate" type="text" placeholder="編號, 名稱" value="{$result_array.page_config.skey}">
                <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-10">
    <div class="grid grid-cols-8 items-center gap-5 text-gray-600 border-b-2 border-gray-300 px-4 py-3 lg:pl-10">
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "card_id" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="card_id">
            {if $result_array.page_config.sort == "card_id"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>編號</div>
        </div>
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "name_tc" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="name_tc">
            {if $result_array.page_config.sort == "name_tc"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>中文</div>
        </div>
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "name_en" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="name_en">
            {if $result_array.page_config.sort == "name_en"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>英文</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "credit" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="credit">
            {if $result_array.page_config.sort == "credit"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div class="truncate">現金消費額</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "expiry_date|substr:0:10" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="expiry_date|substr:0:10">
            {if $result_array.page_config.sort == "expiry_date|substr:0:10"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div class="truncate">到期日</div>
        </div>
        <div class="flex flex-row my-auto ml-auto">操作</div>
    </div>

    {foreach from=$result_array.cardList key=k item=i}
    <div class="grid grid-cols-8 auto-rows-auto items-center gap-5 px-4 py-3 lg: pl-10 text-gray-800 border-b border-gray-300 hover:bg-gray-100">
        <div>{$i.card_id}</div>
        <div class="col-span-2 truncate">{$i.name_tc}</div>
        <div class="col-span-2 truncate">{$i.name_en}</div>
        <div>{$i.credit}</div>
        <div class="truncate">{$i.expiry_date|substr:0:10}</div>
        <div class="ml-auto">
            <a href="admin/discount/giftCardDtl?card_id={$i.card_id}"><i class="ri-edit-line pr-1 hover:text-gray-400 text-lg"></i></a>
            <!-- <a class="btn_del" data-order_id="{$i.card_id}"><i class="ri-delete-bin-line hover:text-gray-400"></i></a> -->
        </div>
    </div>
    {/foreach}
</div>

{include file='../module/pagerModule.html'}
