<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-12">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">實體禮物訂單</div>
    </div>

    <div class="flex bg-white rounded-full ml-auto shadow hidden">
        <form id="list_form" action="admin/discount/giftDeliList" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="deli_status" type="hidden" value="{$result_array.page_config.deli_status}">
                <input name="skey" class="flex px-4 py-2 rounded-full truncate" type="text" placeholder="編號, 狀態, 產品, 地區" value="{$result_array.page_config.skey}">
                <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bg-white rounded-lg mx-4 lg:mx-10 my-1 text-gray-600 shadow-lg">
    <div class="flex flex-row w-full px-4 lg:px-8 py-2 items-center ">
        <i class="ri-filter-line text-lg"></i>
        <div class="px-2">狀態篩選</div>
        
        <div id="deli_status_container" class="flex flex-row flex-wrap h-full items-center">
            <div class="{if $result_array.page_config.deli_status|strstr:"requested"}bg-blue-500 text-white btn_sorting_active{else}bg-gray-300 text-gray-800{/if} flex items-center justify-center text-sm rounded-full hover:opacity-80 cursor-pointer h-6 px-2 m-2 truncate  btn_sorting" data-sort_field="deli_status" data-sort_value ="requested"><div>已下單</div></div>
            <div class="{if $result_array.page_config.deli_status|strstr:"delivered"}bg-blue-500 text-white btn_sorting_active{else}bg-gray-300 text-gray-800{/if} flex items-center justify-center text-sm rounded-full hover:opacity-80 cursor-pointer h-6 px-2 m-2 truncate  btn_sorting" data-sort_field="deli_status" data-sort_value ="delivered"><div>已寄出</div></div>
            <div class="{if $result_array.page_config.deli_status|strstr:"cancelled"}bg-blue-500 text-white btn_sorting_active{else}bg-gray-300 text-gray-800{/if} flex items-center justify-center text-sm rounded-full hover:opacity-80 cursor-pointer h-6 px-2 m-2 truncate  btn_sorting" data-sort_field="deli_status" data-sort_value ="cancelled"><div>已取消</div></div>
        </div>

        <div class="btn-sorting_submit bg-gray-100 border border-gray-300 text-gray-800 rounded hover:opacity-70 px-4 py-0.5 cursor-pointer ml-auto">提交</div>
    </div>
</div>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-10">
    <div class="grid grid-cols-8 gap-5 text-gray-600 border-b border-gray-300 px-4 py-3 lg:px-8">
        <div>ID</div>
        <div class="col-span-2">禮物</div>
        <div class="col-span-2 truncate">用戶</div>
        <div class="col-span-2 truncate">備註</div>
        <div class="truncate">訂單狀態</div>
    </div>

    {foreach from=$result_array.giftDeliList key=k item=i}
    <div class="row grid grid-cols-8 auto-rows-auto items-center gap-5 px-4 py-3 lg:px-8 text-gray-800 border-t border-gray-300 hover:bg-gray-100 items-center" data-deli_id="{$i.deli_id}">
        <div>{$i.deli_id}</div>
        <div class="col-span-2">{$i.name_tc}</div>
        <div class="col-span-2">
            <a href="admin/member/memberDtl?member_id={$i.member_id}" class="text-sm text-blue-700 flex-none cursor-pointer tooltip hover:opacity-70" target="_blank">
                {$i.name}
                <span class="tooltiptext px-2 py-1 min-w-32">
                    {if $i.mobile}<div class="whitespace-nowrap">電話: {$i.mobile}</div>{/if}
                    {if $i.email}<div class="whitespace-nowrap">電郵: {$i.email}</div>{/if}
                </span>
            </a>
        </div>
        <div class="col-span-2">
            <input name="remarks" class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" value="{$i.remarks}">
        </div>
        <div>
            <select name="deli_status" class="border border-gray-300 py-1 px-1 rounded w-full">
                <option value="requested" {if $i.deli_status =='requested'}selected{/if}>已下單</option>
                <option value="delivered" {if $i.deli_status =='delivered'}selected{/if}>已寄出</option>
                <option value="cancelled" {if $i.deli_status =='cancelled'}selected{/if}>已取消</option>
            </select>
        </div>
    </div>
    {/foreach}
</div>

{include file='../module/pagerModule.html'}
<script>
var shop_id = {$shop_id}
{literal}
$(document).ready(function(){
    
    var sorting_submit = function() {
        let sorting_filter = [];
        $("#deli_status_container .btn_sorting_active").each(function(idx, val) {
    
            if (!sorting_filter.includes(val)){
                sorting_filter.push($(val).data("sort_value"))
            }
        })
    
        $("#list_form [name=deli_status]").val((sorting_filter));
        
        $("#list_form").submit();
    }

    $(document).off("click", ".btn_sorting")
    $(document).on("click", ".btn_sorting", function() {
        $(this).toggleClass("bg-gray-300 text-gray-800 bg-blue-500 text-white btn_sorting_active")
    })

    $(document).off("click", ".btn-sorting_submit")
    $(document).on("click", ".btn-sorting_submit", function(){
        sorting_submit();
    })

    $("[name=deli_status], [name=remarks]").on("change", function(){
        submitGo($(this).parents(".row"));
    });

    async function submitGo($row){
        $.bajax({
            url: "admin/discount/api/editGiftDeli",
            method: 'POST',
            formElement: 'N',
            data: {
                deli_id: $row.attr("data-deli_id"),
                remarks: $row.find("[name=remarks]").val(),
                deli_status: $row.find("[name=deli_status]").val()
            },
            callback: function(data) {
                if (data.code != 0){
                    globalErrorReturn(data);
                } else {
                    infoPopup();
                    // location.reload();
                }
                
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    }
})
{/literal}
</script>