<div class="flex flex-col px-4 lg:px-10">
    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">禮物卡管理</div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg py-2 w-full mb-4">
        <form id="edit_form" action="/admin/discount/api/editGiftCard" method="post">
            <input type="hidden" name="shop_id"
                value="{$shop_id}">
            <input name="card_id" type="hidden" value="{if $result_array.cardDtl.card_id}{$result_array.cardDtl.card_id}{else}0{/if}" readonly>
            <div class="flex flex-col w-full lg: pt-6 lg:mr-6">
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">中文名稱</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_tc" type="text" value="{$result_array.cardDtl.name_tc}">
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">英文名稱</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_en" type="text" value="{$result_array.cardDtl.name_en}">
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">現金消費額</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="credit" type="number" value="{$result_array.cardDtl.credit}" required>
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">到期日</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0"name="expiry_date" type="date" value="{$result_array.cardDtl.expiry_date|substr:0:10}">
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">新增禮物卡數量 <span class="text-gray-400 text-xs">(如果數量不是0, 按儲存後將會自動生成相應數目的禮物卡)</span></div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="quota" type="number" value="0">
                    </div>
                    <div class="w-full p-2">

                    </div>
                </div>
                <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 my-4 mx-auto rounded-full cursor-pointer" type="submit" value="儲存">
            </div>
        </form>
    </div>


    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex items-center gap-x-2">
            <div class="text-2xl font-bold text-gray-800">禮物卡列表</div>
            <a href="admin/discount/api/downloadGiftCard?card_id={$result_array.cardDtl.card_id}" target="_blank" class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 mx-auto rounded-full cursor-pointer">下載未使用禮物卡</a>
        </div>
    </div>
    
    <div class="bg-white rounded-lg shadow-lg py-2 w-full mb-4">
        <div class="grid grid-cols-9 gap-5 text-gray-600 border-b-2 border-gray-300 px-4 py-3">
            <div class="col-span-2 my-auto">中文</div>
            <div class="col-span-2 my-auto">英文</div>
            <div class="col-span-2 my-auto">禮物卡碼</div>
            <div class="my-auto">狀態</div>
            <div class="my-auto">現金消費額</div>
            <div class="my-auto">到期日</div>
        </div>
    
        {foreach from=$result_array.cardDtl.keyList key=k item=i}
        <div
            class="grid grid-cols-9 auto-rows-auto gap-5 px-4 py-3 text-gray-800 border-b border-gray-300 hover:bg-gray-100">
            <div class="col-span-2">{$i.name_tc}</div>
            <div class="col-span-2">{$i.name_en}</div>
            <div class="col-span-2">{$i.code}</div>
            <div>{if $i.used_by_id}<span class="text-red-600">己使用</span>{else}<span class="text-green-600">未使用</span>{/if}</div>
            <div>{$i.credit}</div>
            <div>{$i.expiry_date|substr:0:10}</div>
        </div>
        {/foreach}
    </div>
</div>


{literal}
<script>
    $(document).ready(function () {
        $("#edit_form").submit(async function (e) {
            $loader = await globalLoader();
            e.preventDefault();
            $.bajax({
                url: $(this).attr("action"),
                method: 'POST',
                formElement: 'Y',
                formElementID: $(this).attr('id'),
                callback: function (data) {
                    if (!data.code == 0) {
                        globalLoader($loader);
                        globalErrorReturn(data)
                    } else {
                        globalLoader($loader);
                        location.href = "admin/discount/giftCardDtl?card_id=" + data
                            .result.card_id
                    }
                },
                errorCallback: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            });
        })
    });
</script>
{/literal}