<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-12">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">新會員優惠</div>
    </div>

</div>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 py-2 lg:mx-12">
    <form id="edit_form" action="admin/page/api/editShop" method="post">
        <div class="flex flex-col lg:flex-row justify-between lg:px-8">
            <input name="shop_id" type="hidden" value="{$shop_id}" readonly>
            <div class="w-full p-2">
                <div class="text-sm text-gray-600 pb-2">新會員現金消費額</div>
                <input
                    class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0"
                    name="new_member_credit" type="text" value="{$result_array.shopDtl.new_member_credit}">
            </div>
        </div>
        <div class="flex flex-col lg:flex-row justify-between lg:px-8">
            <div class="w-full p-2">
                <div class="text-sm text-gray-600 pb-2">優惠券 (新會員註冊後, 將會自動獲得)</div>
                <input type="hidden" name="voucher_id_arr">
                <select class="voucher_id_arr selectize rounded" multiple>
                    {foreach from=$result_array.voucherList key=k item=i}
                    <option class="py-1" value="{$i.voucher_id}" {if $result_array.shopDtl.voucher_id_arr|strstr:$i.voucher_id}selected{/if}>{$i.name_tc} </option> 
                    {/foreach} 
                </select> 
            </div> 
        </div> 
        <div class="flex w-full">
            <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 my-8 mx-auto rounded-full cursor-pointer" type="submit" value="儲存">
        </div>
    </form>
</div>

{literal}
<script>
    $(document).ready(function () {
        $("#edit_form").submit(async function (e) {
            $("[name=voucher_id_arr]").val($(".voucher_id_arr").val().toString());

            $loader = await globalLoader();
            e.preventDefault();
            $.bajax({
                url: $(this).attr("action"),
                method: 'POST',
                formElement: 'Y',
                formElementID: $(this).attr('id'),
                callback: function (data) {
                    if (!data.code == 0) {
                        globalLoader($loader);
                        vkAlertDefault({
                            title: "錯誤",
                            content: data.code + ": " + data.msg,
                            confirmButtonHtml: "確認",
                            confirmButtonFunction: function (e) {}
                        });
                    } else {
                        infoPopup();
                        globalLoader($loader);
                    }
                },
                errorCallback: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            });
        })
    });
</script>
{/literal}