<div class="flex flex-col px-4 lg:px-12">
    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">禮物管理</div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg py-2 w-full">    
        <form id="edit_form" action="/admin/discount/api/editGift" method="post">
            <input type="hidden" name="shop_id" value="{$result_array.giftDtl.shop_id}">
            <input name="gift_id" type="text" value="{if $result_array.giftDtl.gift_id}{$result_array.giftDtl.gift_id}{else}0{/if}" readonly hidden> 
            <div class="flex flex-col w-full lg: pt-6 lg:mr-6">
                <div class="flex flex-col lg:flex-row justify-center items-center lg:px-8">
                    <div class="flex flex-row mx-auto h-full pl-2 py-4 flex-1">
                        <div class="flex flex-col">
                            <div class="text-sm text-gray-600 pb-2">顯示圖片</div>
                            <div class="h-44 relative object-center {if !$result_array.giftDtl.gift_img}w-44 border-4 rounded-lg{/if}" id="preview-border">
                                {if $result_array.giftDtl.gift_img}<img src="{$result_array.giftDtl.gift_img}" class="h-44 w-full object-contain" id="preview" />
                                {else}<img class="hidden flex w-full h-full items-center justify-center text-gray-800 object-contain" src="" id="preview" alt=""><div class="flex w-full h-full items-center justify-center text-gray-800" id="upload-text">按此上載圖片</div>{/if}
                                <input name="gift_img" type="file" class="absolute left-0 bottom-0 w-full h-full opacity-0 cursor-pointer" id="filetag">
                            </div>
                        </div>
                    </div>
                    <div class="w-full p-2 flex-1 mt-auto">
                        <div class="text-sm text-gray-600 pb-2">禮物編號</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2 text-gray-500 cursor-not-allowed" name="gift_id" type="text" value="{if $result_array.giftDtl.gift_id}{$result_array.giftDtl.gift_id}{else}新增禮物{/if}" readonly> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">中文</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2" name="name_tc" type="text" value="{$result_array.giftDtl.name_tc}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">英文</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2" name="name_en" type="text" value="{$result_array.giftDtl.name_en}"> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">消耗積分</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2" name="required_point" type="text" value="{$result_array.giftDtl.required_point}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">數量</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2" name="quota" type="text" value="{$result_array.giftDtl.quota}"> 
                    </div>
                </div>
                <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 mt-8 mx-auto rounded-full cursor-pointer" type="submit" value="儲存">
            </div>
        </form>
    </div>
</div>

{literal}
<script>
var fileTag = document.getElementById("filetag"),
uploadText = document.getElementById('upload-text')
preview = document.getElementById("preview");
previewBorder = document.getElementById("preview-border");
    
fileTag.addEventListener("change", function() {
changeImage(this);

    function changeImage(input) { 
        var reader;
        
        if (input.files && input.files[0]) {
            reader = new FileReader();
            
            reader.onload = function(e) {
                preview.setAttribute('src', e.target.result);
                preview.classList.remove("hidden");
                if (uploadText) {
                    uploadText.classList.add("hidden");
                }
                if (previewBorder) {
                    previewBorder.classList.remove("w-44", "border-4", "rounded-lg");
                }
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }

});

$(document).ready(function(){
    $("#edit_form").submit(async function(e){
        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            debug: 'Y',
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                globalLoader($loader);
                if (!data.code == 0){
                    vkAlertDefault({
                        title: "錯誤",
                        content: data.code + ": " +data.msg,
                        confirmButtonHtml: "確認",
                        confirmButtonFunction:function(e){}
                    });
                }
                location.reload();
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
   
});
</script>
{/literal}