<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-10">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">合作公司列表</div>
    </div>
    <a href="admin/discount/partnerDtl?gift_id=0"><div class=" ml-4 px-8 py-2 bg-blue-500 text-white rounded-full mr-auto cursor-pointer">新增合作公司</div></a>

    <div class="flex bg-white rounded-full ml-auto shadow">
        <form id="list_form" action="admin/discount/partnerList" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="skey" class="flex px-4 py-2 rounded-full truncate" type="text" placeholder="編號, 名稱" value="{$result_array.page_config.skey}">
                <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-10">
    <div class="grid md:grid-cols-3 lg:grid-cols-4 gap-5 p-4">
        {foreach from=$result_array.giftList key=k item=i}
        <div class="relative border border-gray-300 rounded-lg text-gray-700 p-2 w-full h-60">
            <div class="bg-center bg-cover bg-no-repeat w-full h-3/4" style="background-image: url('{$i.gift_img}');"></div>
            <a href="#"><i class="ri-drag-move-2-line bg-gray-200 px-2 py-1 rounded-lg absolute top-2 left-2"></i></a>
            <a href="admin/discount/giftDtl?gift_id={$i.gift_id}"><i class="ri-edit-line bg-gray-200 px-2 py-1 rounded-lg absolute top-2 right-2"></i></a>
            <div class="pt-2">{$i.name_tc}</div>
            <div class="flex flex-row w-full">
                <div>庫存：{$i.quota}</div>
                <div class="ml-auto">兌換積分：{$i.required_point}</div>
            </div>
        </div>
        {/foreach}

        <a href="admin/discount/giftDtl?gift_id=0">
            <div class="flex flex-col bg-white shadow-lg p-3 rounded-lg border-2 h-60 w-full" style="border-color: rgb(223, 162, 124) !important;">
                <div class="flex flex-col items-center justify-center my-auto" style="color: rgb(223, 162, 124) !important;">
                    <i class="ri-add-fill text-5xl"></i>
                    <div>新增禮物</div>
                </div>
            </div>
        </a>
    </div>
</div>
