<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-12">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">積分匯率</div>
    </div>

</div>

<form id="edit_form" action="/admin/discount/api/editPtRatio" method="post">
    <div class="bg-white rounded-lg shadow-lg mx-4 my-2 py-2 lg:mx-12">
            <input type="hidden" name="shop_id" value="{$result_array.shopDtl.shop_id}">
            <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                <div class="w-full p-2">
                    <div class="text-xl text-gray-700 pb-2">兌換分數</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="point_ratio" type="number" value="{$result_array.shopDtl.point_ratio}"> 
                </div>
            </div>
        <div class="flex w-full">
            <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 my-4 mx-auto rounded-full cursor-pointer" type="submit" value="儲存">
        </div>
    </div>
</form>

{literal}
<script>
$(document).ready(function(){
    $("#edit_form").submit(async function(e){
        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    vkAlertDefault({
                        title: "錯誤",
                        content: data.code + ": " +data.msg,
                        confirmButtonHtml: "確認",
                        confirmButtonFunction:function(e){}
                    });
                } else {
                    infoPopup();
                    globalLoader($loader);
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
   
});
</script>
{/literal}