<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-10">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">優惠券列表</div>
    </div>
    <a href="admin/discount/voucherDtl?voucher_id=0"><div class=" ml-4 px-8 py-2 bg-blue-500 hover:bg-blue-400 text-white rounded-full mr-auto cursor-pointer">增加優惠券</div></a>

    <div class="flex bg-white rounded-full ml-auto shadow">
        <form id="list_form" action="admin/discount/voucherList" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="skey" class="flex px-4 py-2 rounded-full truncate " type="text" placeholder="編號, 名稱" value="{$result_array.page_config.skey}">
                <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-10">
    <div class="grid grid-cols-8 gap-3 text-gray-600 border-b border-gray-300 px-4 py-3 lg:px-8">

        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "voucher_id" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="voucher_id">
            {if $result_array.page_config.sort == "voucher_id"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>編號</div>
        </div>
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "name_tc" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="name_tc">
            {if $result_array.page_config.sort == "name_tc"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>名稱</div>
        </div>
        <div class="flex flex-row h-full items-center my-auto cursor-pointer sortable{if $result_array.page_config.sort == "type" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="type">
            {if $result_array.page_config.sort == "type"} 
                {if $result_array.page_config.order == "desc"}
                    <div class="text-lg">%</div>
                {else}
                    <div class="text-lg">$</div>
                {/if}
            {else}
                <i class="ri-percent-line pr-1"></i><div class="text-lg pr-2"> / $</div>
            {/if}
            <div>折扣</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "minimum_order_amt" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="minimum_order_amt">
            {if $result_array.page_config.sort == "minimum_order_amt"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div class="truncate">最低消費</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "ava_day" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="ava_day">
            {if $result_array.page_config.sort == "ava_day"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div class="truncate">有效期</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "expiry_date|substr:0:10" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="expiry_date|substr:0:10">
            {if $result_array.page_config.sort == "expiry_date|substr:0:10"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div class="truncate">有效時限</div>
        </div>
        <div class="flex flex-row my-auto ml-auto">操作</div>
    </div>

    {foreach from=$result_array.voucherList key=k item=i}
    <div class="grid grid-cols-8 auto-rows-auto gap-3 px-4 py-3 lg:px-8 text-gray-800 border-t border-gray-300 hover:bg-gray-100">
        <div>{$i.voucher_id}</div>
        <div class="col-span-2 truncate font-bold">{$i.name_tc}</div>
        <div>{if $i.type == 'A'}${/if}{$i.discount}{if $i.type == 'P'}%{/if}</div>
        <div>{$i.minimum_order_amt}</div>
        <div>{$i.ava_day}</div>
        <div class="truncate">{$i.expiry_date|substr:0:10}</div>
        <div class="ml-auto">
            <a href="admin/discount/voucherDtl?voucher_id={$i.voucher_id}"><i class="ri-edit-line pr-2 hover:text-gray-400 text-lg"></i></a>
            <a class="btn_del" data-voucher_id="{$i.voucher_id}" data-shop_id="{$i.shop_id}"><i class="ri-delete-bin-line hover:text-gray-400 text-lg"></i></a>
        </div>
    </div>
    {/foreach}
</div>

{include file='../module/pagerModule.html'}


{literal}
<script>
$(document).ready(function(){
    // $(document).off("click", ".btn_del");
    // $(document).on("click", ".btn_del", function(e){
    //     url = "admin/member/api/delVoucher";
    //     e.preventDefault();
    //     $.bajax({
    //         url: url,
    //         debug: 'Y',
    //         method: 'POST',
    //         formElement: 'N',
    //         data: {
    //             member_voucher_id: $(this).data("voucher_id"),
    //             activate: "N"
    //         },
    //         callback: function(data) {
    //             if (data.code == 0){
    //                 vkAlertDefault({
    //                     title: "確認訊息",
    //                     content: "已成功更新資料",
    //                     confirmButtonHtml: "刷新",
    //                     confirmButtonFunction:function(e){location.reload();}
    //                 });
    //             } else {
    //                 $vkmodal({
    //                     fullScreen: false,
    //                     tapBackgroundToClose: true,
    //                     //ajaxPath: url,
    //                     //content: $('#country_picker_holder').html(),
    //                     content: JSON.stringify(data.msg),
    //                     mounted: function(elem) {}
    //                 });
    //             }
    //         },
    //         errorCallback: function(jqXHR, textStatus, errorThrown) {
    //             console.log(jqXHR);
    //         },
    //     });
    // })

    $(document).off("click", ".btn_del");
    $(document).on("click", ".btn_del", async function(e){
        $loader = await globalLoader();
        $this = $(this)
        vkConfirmDefault({
            title: '確認',
            content: '<div>請確認是否刪除這條目？</div>',
            confirmButtonHtml: '確認',
            cancelButtonHtml: '返回',
            confirmButtonFunction: function(){
                $.bajax({
                    url: "admin/discount/api/editVoucher",
                    method: 'POST',
                    formElement: 'N',
                    data: {
                        voucher_id: $this.attr("data-voucher_id"),
                        shop_id: $this.attr("data-shop_id"),
                        activate: 'N',
                    },
                    callback: function(data) {
                        if (data.code != 0){
                            globalLoader($loader);
                            globalErrorReturn(data);
                        } else {
                            location.reload();
                        }
                    },
                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                });
            },
            cancelButtonFunction : function(){
                globalLoader($loader);
            }
        })
    })
})
</script>
{/literal}
