<div class="flex flex-col px-4 lg:px-12 lg:pb-16">
    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">優惠券管理</div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg w-full">    
        <form id="edit_form" action="/admin/discount/api/editVoucher" method="post">
            <input name="shop_id" type="hidden" value="{$shop_id}" readonly>
            <input type="hidden" name="voucher_id" value="{if $result_array.voucherDtl.voucher_id}{$result_array.voucherDtl.voucher_id}{else}0{/if}">
            <input type="hidden" name="cate_id_arr" value="{$result_array.voucherDtl.cate_id_arr}">
            <div class="flex flex-col w-full lg: pt-6 lg:mr-6">
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="pb-2">中文名稱<span class="text-gray-400 text-sm">(將會顯示在前台優惠劵選擇時)</span></div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_tc" type="text" value="{$result_array.voucherDtl.name_tc}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="pb-2">英文名稱<span class="text-gray-400 text-sm">(將會顯示在前台優惠劵選擇時)</span></div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_en" type="text" value="{$result_array.voucherDtl.name_en}"> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="pb-2">中文備註</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks_tc" type="text" value="{$result_array.voucherDtl.remarks_tc}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="pb-2">英文備註</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks_en" type="text" value="{$result_array.voucherDtl.remarks_en}"> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="pb-2">折扣</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="discount" type="number" value="{$result_array.voucherDtl.discount}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="pb-2">折扣類型</div>
                        <select class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:border-opacity-0" name="type" type="text" value="{if $result_array.voucherDtl.type == 'P'}%{else}${/if}">
                            <option value="P" {if $result_array.voucherDtl.type == "P"}selected{/if}>%</option>
                            <option value="A" {if $result_array.voucherDtl.type == "A"}selected{/if}>$</option>
                        </select>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="pb-2">有效天數</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="ava_day" type="number" value="{$result_array.voucherDtl.ava_day}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="pb-2">截止日期</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="expiry_date" type="date" value="{$result_array.voucherDtl.expiry_date|substr:0:10}"> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="pb-2">最低消費</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="minimum_order_amt" type="number" value="{$result_array.voucherDtl.minimum_order_amt}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="pb-2">兌換</div>
                        <select class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:border-opacity-0" name="redeem" type="text" value="{$result_array.voucherDtl.redeem}">
                        <option value="Y" {if $result_array.voucherDtl.redeem == "Y"}selected{/if}>可以兌換</option>
                        <option value="N" {if $result_array.voucherDtl.redeem == "N"}selected{/if}>不可兌換</option>
                        </select>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="pb-2">能否和特價產品同時使用</div>
                        <label class="switch">
                            <input type="hidden" name="is_ava_discount_product">
                            <input id="is_ava_discount_product" class="val" type="checkbox" {if $result_array.voucherDtl.is_ava_discount_product =='Y'}checked{/if}>
                            <span class="slider"></span>
                        </label>
                    </div>
                    <div class="w-full p-2">
                        <div class="pb-2">相關營業員</div>
                        <select class="selectize w-full rounded" name="sales_admin_id" type="text" value="">
                            {foreach from=$result_array.salesList key=k item=i}
                            <option value="{$i.admin_id}" {if $i.admin_id == $result_array.voucherDtl.sales_admin_id}selected{/if}>{$i.username}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="pb-2">產品分類黑名單<span class="text-gray-400 text-sm">(以下分類的產品無法使用此優惠券)</span></div>
                        <select multiple class="blist selectize rounded w-full">
                            {foreach from=$result_array.cateList item=i key=k}
                            <option value="{$i.cate_id}" {if in_array($i.cate_id, $result_array.voucherDtl.cate_id_arr)}selected{/if}>{$i.name_tc} ({$i.name_en})</option>
                            {/foreach}
                        </select>
                        <input type="hidden" name="cate_id_arr">
                    </div>
                </div>

                <div class="btn-submit bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 mt-8 mx-auto rounded-full cursor-pointer">儲存</div>
            </div>
        </form>

        <div class="flex flex-row items-center p-2 lg:px-8">
            <div class="text-2xl text-gray-800 font-bold">有此優惠券的會員列表</div>
        </div>
        <div class="filter p-2 lg:px-8">
            <div class="flex items-center gap-x-2">
                <div>優惠劵獲得時間: </div>
                <input name="voucher_get_start_date" type="date" class="border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">
                <span class="font-bold text-xl"> - </span>
                <input name="voucher_get_end_date" type="date" class="border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">
                <div class="flex gap-x-4">
                    <div class="btn-search bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 rounded-full cursor-pointer">搜尋</div>
                    <div class="btn_download_voucherMember bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 rounded-full cursor-pointer">下載列表</div>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-7 gap-5 text-gray-600 border-b border-gray-300 px-4 py-3 lg:px-8">
            <div class="text-gray-600">會員編號</div>
            <div class="text-gray-600">名稱</div>
            <div class="text-gray-600">電話</div>
            <div class="text-gray-600">電郵</div>
            <div class="text-gray-600">使用狀態</div>
            <div class="text-gray-600">獲得日期</div>
            <div class="text-gray-600 ml-auto">操作</div>
        </div>
        <div class="member_list_container">

        </div>
    </div>
</div>

{literal} 
<script>
$(document).ready(function(){
    $(document).off("click", ".btn_download_voucherMember").on("click",".btn_download_voucherMember", async function(){

        link = "admin/discount/api/downloadVoucherMember?";
        link += `shop_id=${$("[name=shop_id]").val()}`;
        link += `&voucher_id=${$("[name=voucher_id]").val()}`;
        link += `&voucher_get_start_date=${$("[name=voucher_get_start_date]").val()}`;
        link += `&voucher_get_end_date=${$("[name=voucher_get_end_date]").val()}`;
        console.log(link);
        window.open(link, '_blank');
    })

    $(document).off("click", ".btn-search").on("click",".btn-search", async function(){
        $loader = await globalLoader();
        $.bajax({
            url: "admin/discount/api/getVoucherMember",
            method: 'POST',
            formElement: 'N',
            data: {
                shop_id: $("[name=shop_id]").val(),
                voucher_id: $("[name=voucher_id]").val(),
                voucher_get_start_date: $("[name=voucher_get_start_date]").val(),
                voucher_get_end_date: $("[name=voucher_get_end_date]").val(),
            },
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    $container = $(".member_list_container")
                    $container.find(".member").remove();

                    member_list = data.result.member_list;

                    for (var i = 0 ; i < member_list.length ; i++){
                        member = member_list[i];
                        $container.append(genMember(member));
                    }

                    globalLoader($loader);

                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                globalLoader($loader);
            },
        });


        function genMember(member){
            return `
                <div class="member grid grid-cols-7 auto-rows-auto gap-5 px-4 py-3 lg:px-8 text-gray-800 border-t border-gray-300 hover:bg-gray-100 items-center">
                    <div>${member.member_no}</div>
                    <div>${member.name}</div>
                    <div>${member.mobile}</div>
                    <div>${member.email}</div>
                    <div>${member.voucher_use_date? `${member.voucher_use_date}<br><a href="admin/shipment/orderDtl?order_id=${member.order_id}" class="cursor-pointer font-bold text-blue-600 hover:opacity-80">${member.order_no}</a>` : `未使用`}</div>
                    <div>${member.voucher_get_date}</div>
                    <div class="ml-auto"><a href="admin/member/memberDtl?member_id=${member.member_id}" class="border border-gray-300 rounded px-4 py-1 text-gray-600 hover:opacity-60">查看會員</a></div>
                </div>

            `
        }

        // <div>${member.redeemed == 'Y' ? '已使用' : "未使用"}</div>
    })


    $(document).off("click", ".btn-show-record")
    $(document).on("click", ".btn-show-record", function(){
        $(".allMemberList").removeClass("hidden");
        $("#edit-log-complete").removeClass("hidden")
        $(this).html("已顯示全部會員")
    })


    $(document).off("click", ".btn-submit")
    $(document).on("click", ".btn-submit", async function(){ 
        $loader = await globalLoader();

        $("[name=cate_id_arr]").val($(".blist").val().toString());
        
        if ($("#is_ava_discount_product").is(":checked")) {
            $("[name=is_ava_discount_product]").val("Y")
        } else {
            $("[name=is_ava_discount_product]").val("N")
        }

        $.bajax({
            url: "admin/discount/api/editVoucher",
            method: 'POST',
            formElement: 'Y',
            formElementID: "edit_form",
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    infoPopup();
                    location.href = "admin/discount/voucherList"
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                globalLoader($loader);
            },
        });
    })
});
</script>
{/literal}