<p>您好,</p>

<p>
    請按以下連結來完成餘下的認證步驟。<br>
    <a href="{$baseURL}/myAccount/validate?valid_code={$result_array.valid_code}">按此</a>
</p>

<p>如果您並無The Gift 禮譽帳戶會員帳戶，請忽略此資訊或前往「聯絡我們」頁面回報問題。</p>

<p>
    The Gift 禮譽管理團隊<br>
    此乃自動系統發出的電子郵件，請勿回覆此電郵。
</p>