
<div class="flex flex-col  px-4 lg:px-12">
    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">會員等級設定</div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg py-2 w-full">    
        <form id="edit_form" action="admin/member/api/editMembership" method="post">
            <input type="hidden" name="shop_id" value="{$shop_id}">
            <input type="hidden" name="membership_id" value="{if $result_array.membershipDtl.membership_id}{$result_array.membershipDtl.membership_id}{else}0{/if}">
            <div class="flex flex-col w-full lg:pt-6 lg:mr-6">
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">中文</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_tc" type="text" value="{$result_array.membershipDtl.name_tc}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">英文</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_en" type="text" value="{$result_array.membershipDtl.name_en}"> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">消費折扣<span class="text-gray-300 text-xs">(百份比)</span></div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="discount" value="{$result_array.membershipDtl.discount}" type="number"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">升級所需分數</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="upgrade_point" value="{$result_array.membershipDtl.upgrade_point}" type="number"> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">升級後的會員等級</div>
                        <select class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:border-opacity-0" name="upgrade_to_membership_id">
                            <option value="NULL">-- 沒有 --</option>
                            {foreach from=$result_array.membershipList key=k item=i}
                                <option value="{$i.membership_id}" {if $i.membership_id == $result_array.membershipDtl.upgrade_to_membership_id}selected{/if}>{$i.name_tc}</option>
                            {/foreach}
                        </select>
                    </div>
                    <!-- <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">等級有效時限(0為永久，按月份計算)</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="upgrade_period" type="text" value="{$result_array.membershipDtl.upgrade_period}"> 
                    </div> -->
                </div>

                <div class="flex w-full justify-center items-center my-4">
                    <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 rounded-full cursor-pointer" type="submit" value="儲存">
                </div>
            </div>
        </form>
    </div>
</div>

{literal}
<script>
$(document).ready(function(){
    $("#edit_form").submit(async function(e){
        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    infoPopup();
                    globalLoader($loader);
                    location.href = "admin/member/membershipDtl?membership_id=" + data.result.membership_id
                    // location.reload(); //   production use
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
   
});
</script>
{/literal}