<div class="flex flex-col px-4 lg:px-12 pb-8">
    <div class="flex flex-row items-center mt-8 mb-4"> 
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">會員管理</div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg w-full">    
        <form id="edit_form" action="admin/member/api/editMember" method="post">
            <input type="hidden" name="shop_id" value="{$shop_id}">
            <input type="hidden" name="member_id" value="{if $result_array.memberDtl.member_id}{$result_array.memberDtl.member_id}{else}0{/if}">
            <div class="flex flex-col w-full lg: pt-6 lg:mr-6">
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">會員編號</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 bg-gray-100 cursor-not-allowed select-none" name="member_no" type="text" value="{$result_array.memberDtl.member_no}" readonly> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">名稱</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name" type="text" value="{$result_array.memberDtl.name}"> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">公司名稱 （有公司名稱 示為公司會員)</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="company_name" type="text" value="{$result_array.memberDtl.company_name}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">密碼 (不能顯示, 只供更改)</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="password" type="password" value="" autocomplete="new-password"> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">電子郵件</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="email" type="text" value="{$result_array.memberDtl.email}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">聯絡電話</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="mobile" type="text" value="{$result_array.memberDtl.mobile}"> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">註冊方法</div>
                        {if $result_array.memberDtl.member_id == 0}
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="method" type="text" value="{$result_array.memberDtl.method}">
                        {else}
                        <div class="bg-gray-100 h-8 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 text-gray-600 cursor-not-allowed flex flex-row items-center">
                            {if $result_array.memberDtl.method == 'facebook'}<i class="ri-facebook-circle-fill pr-2"></i>Facebook
                            {else if $result_array.memberDtl.method == 'google'}<i class="ri-google-fill pr-2"></i>Google
                            {else}Default
                            {/if}
                        </div>
                        {/if}
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">認證</div>
                        <select class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="verify">
                            <option value="Y" {if $result_array.memberDtl.verify == "Y"}selected{/if}>已認證</option>
                            <option value="N" {if $result_array.memberDtl.verify == "N"}selected{/if}>未認證</option>
                        </select>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">積分</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="point" type="text" value="{$result_array.memberDtl.point}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">會員升級分數</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="exp" type="text" value="{$result_array.memberDtl.exp}"> 
                    </div>   
                    <div class="flex w-full p-2 gap-x-2">
                        <div class="w-full">
                            <div class="text-sm text-gray-600 pb-2">現金消費額</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 {if $result_array.memberDtl.is_charge_cash_dollar != "Y"}bg-gray-100 text-gray-800{/if}" name="cash_dollar" type="text" value="{$result_array.memberDtl.cash_dollar}"> 
                        </div>
                        <div class="is_charge_cash_dollar">
                            <div class="text-sm text-gray-600 pb-2">啟用</div>
                            <label class="switch">
                                <input type="hidden" name="is_charge_cash_dollar">
                                <input class="val" type="checkbox" {if $result_array.memberDtl.is_charge_cash_dollar == "Y"}checked{/if}>
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">銷售員</div>
                        <select class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:border-opacity-0" name="sales_admin_id" type="text" value="">
                            {foreach from=$result_array.salesList key=k item=i}
                            <option value="{$i.admin_id}" {if $i.admin_id == $result_array.memberDtl.sales_admin_id}selected{/if}>{$i.username}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">會員等級</div>
                        <select class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="membership_id" type="text" value="{$result_array.membershipDtl.membership_id}">
                            {foreach from=$result_array.membershipList key=k item=i}
                            <option value="{$i.membership_id}" {if $i.membership_id == $result_array.memberDtl.membership_id}selected{/if}>{$i.name_tc}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">備註</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remark" type="text" value="{$result_array.memberDtl.remark}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">月結客戶</div>
                        <label class="switch">
                            <input type="hidden" name="is_monthly_payment">
                            <input for="is_monthly_payment" class="val" type="checkbox" {if $result_array.memberDtl.is_monthly_payment == "Y"}checked{/if}>
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>

                <div class="text-2xl text-gray-800 pt-4 lg:pl-10">限制列表</div>
                <div class="text-gray-600 pb-2 lg:pl-10">如設有限制, 此會員只能看見以下 產品／時段／地區</div>

                <div class="grid grid-cols-2 justify-between lg:px-8">
                    <div class="w-full p-2 col-span-2">
                        <div class="text-sm text-gray-600 pb-2">產品</div>
                        <select class="product_id_select selectize border-gray-300 rounded" multiple>
                            {foreach from=$result_array.productList key=k item=i}
                                <option value="{$i.product_id}" {if $result_array.memberDtl.product_id_arr|strstr:{$i.product_id}}selected{/if}>{$i.product_name} ({$i.product_code})</option>
                            {/foreach}
                        </select>
                        <input name="product_id_arr" type="hidden"> 
                    </div>
                
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">地區</div>
                        <select class="region_id_select selectize border-gray-300 rounded" multiple>
                            {foreach from=$result_array.regionList key=k item=i}
                                <option value="{$i.region_id}" {if $result_array.memberDtl.region_id_arr|strstr:{$i.region_id}}selected{/if}>{$i.name_tc}</option>
                            {/foreach}
                        </select>
                        <input name="region_id_arr" type="hidden"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">時段</div>
                        <select class="slot_id_select selectize border-gray-300 rounded" multiple>
                            {foreach from=$result_array.timeslotList key=k item=i}
                                <option value="{$i.slot_id}" {if $result_array.memberDtl.slot_id_arr|strstr:{$i.slot_id}}selected{/if}>{$i.adm_name} ({$i.start_time} - {$i.end_time})</option>
                            {/foreach}
                        </select>
                        <input name="slot_id_arr" type="hidden"> 
                    </div>
                </div>

                <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 my-4 mx-auto rounded-full cursor-pointer" type="submit" value="儲存">
            </div>
        </form>

        {if $result_array.memberDtl.member_id && $result_array.memberDtl.member_id != 0}
        <div class="flex flex-row h-full items-center">
            <div class="text-2xl text-gray-800 p-2 lg:pl-8">持有優惠券列表</div>
            <div class="bg-blue-500 hover:bg-blue-300 text-white px-6 py-1 my-4 ml-4 rounded-full cursor-pointer btn_addVoucher">增加優惠券</div>
        </div>

        <div class="voucher_grid grid grid-cols-11 gap-5 text-gray-600 border-b border-gray-300 px-4 py-3 lg:px-8 {if !$result_array.memberDtl.voucherList}hidden{/if}">
            <div class="flex flex-row my-auto">優惠券編號</div>
            <div class="col-span-2 flex flex-row my-auto">名稱</div>
            <div class="flex flex-row my-auto">折扣</div>
            <div class="flex flex-row my-auto">最低消費</div>
            <div class="flex flex-row my-auto">使用狀態</div>
            <div class="col-span-2 flex flex-row my-auto">使用日期&時間(如有)</div>
            <div class="col-span-2 flex flex-row my-auto">到期日</div>
            <div class="my-auto ml-auto">操作</div>
        </div>
        <div class="voucher_container">
            {foreach from=$result_array.memberDtl.voucherList key=k item=i}
            <div class="voucher grid grid-cols-11 auto-rows-auto gap-5 px-4 py-3 lg:px-8 text-gray-800 border-t border-gray-300 hover:bg-gray-100">
                <div>{$i.voucher_id}</div>
                <div class="col-span-2 truncate">{$i.name}</div>
                <div>{if $i.type == 'A'}${/if}{$i.discount}{if $i.type == 'P'}%{/if}</div>
                <div class="truncate">{$i.minimum_order_amt}</div>
                <div class="truncate">{if $i.redeemed == "Y"}已使用{else}未使用{/if}</div>
                <div class="col-span-2 truncate">{$i.redeem_datetime}</div>
                <div class="col-span-2 truncate">{if $i.expiry_date}{$i.expiry_date}{else}無限使用日期{/if}</div>
                <div class="ml-auto">
                    <a class="btn_del" data-member_voucher_id="{$i.member_voucher_id}"><i class="ri-delete-bin-line hover:text-gray-400 text-lg"></i></a>
                </div>
            </div>
            {/foreach}
        </div>

        <div class="new_voucher_tpl hidden grid grid-cols-11 auto-rows-auto gap-5 px-4 py-3 lg:px-8 text-gray-800 border-t border-gray-300 hover:bg-gray-100 ">
            <input type="hidden" name="member_id" class="member_id">
            <div class="voucher_id"></div>
            <div class="col-span-2 truncate voucher_name"></div>
            <div class="voucher_discount"></div>
            <div class="truncate voucher_minamount"></div>
            <div class="truncate">未使用</div>
            <div class="col-span-2"></div>
            <div class="col-span-2 truncate voucher_expdate"></div>
            <div class="ml-auto">
                <a class="btn_del" data-member_id="{$i.memberid}"><i class="ri-delete-bin-line hover:text-gray-400"></i></a>
            </div>
        </div>

        <div class="no_voucher_text text-xl px-8 text-gray-700 pb-4 {if $result_array.memberDtl.voucherList}hidden{/if}">未有優惠券可供顯示</div> 
        
        {/if}
    </div>
</div>

<div id="voucher_picker" class="hidden">
    <form class="voucher_picker_form p-4 w-full sm:w-84" autocomplete="off">
        <div>
            <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                <div class="w-full">
                    <input autocomplete="off" name="skey" placeholder="名稱, voucher_id">
                </div>
                <div>
                    <i class="ri-search-line"></i>
                </div>
            </div>
        </div>
        <div class="relative h-full h-screen-50">
            <div class="voucher-picker-inner bg-white h-full w-full overflow-y-auto absolute top-0 left-0 z-10">
                <div class="tpl hidden bg-white flex items-center border border-solid rounded mb-2 cursor-pointer hover:bg-gray-100" data-member_id="{$result_array.memberDtl.member_id}">
                    <div class="p-2 flex flex-col">
                        <div class="voucher_name"></div>
                        <div class="flex flex-row text-gray-600">
                            <div class="pr-1">折扣:</div>
                            <div class="voucher_discount"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{literal}
<script>
var disableCls = "bg-gray-100 text-gray-800";

$(document).ready(function(){
    $(document).on("click", ".is_charge_cash_dollar .slider", function(){
        if ($(".is_charge_cash_dollar [type=checkbox]").is(":checked")){
            $("[name=cash_dollar]").addClass(disableCls);
        } else {   
            $("[name=cash_dollar]").removeClass(disableCls);
        }
    });
    
    $(document).on("click", ".btn_addVoucher", async function(e){
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#voucher_picker').html(),
            mounted: function(){
                $(".vk-modal-dom").find("[name=skey]").focus().keyup();
            }
        });
    });

    $(document).off("keyup", ".voucher_picker_form [name=skey]");
    $(document).on("keyup", ".voucher_picker_form [name=skey]", function(){
        $container = $(".voucher-picker-inner");
        $.bajax({
            url: "admin/discount/api/getVoucherList",
            method: 'POST',
            data: {skey:$(this).val()},
            callback: function(data) {
                if (data.code == 0){
                    $container.children(".voucher_option").remove();
                    res = data.result;
                    console.log("result: " + res);
                    res.forEach(function($row){
                        $tpl = $("#voucher_picker .tpl").clone();
                        $tpl.removeClass("tpl");
                        $tpl.removeClass("hidden");
                        $tpl.addClass("voucher_option")
                        
                        $tpl.find(".voucher_name").html("優惠券名稱: " + $row.name_tc);
                        if ($row.type == "A") { 
                            $tpl.find(".voucher_discount").html("$" + $row.discount)
                        } else {  
                            $tpl.find(".voucher_discount").html($row.discount + "%")
                        }
                        $tpl.attr({
                            "data-voucher_id": $row.voucher_id,
                            "data-voucher_name": $row.name_tc,
                            "data-voucher_discount": $row.discount,
                            "data-voucher_type": $row.type,
                            "data-voucher_minamount": $row.minimum_order_amt,
                            "data-voucher_expdate": $row.expiry_date
                        })
                        $container.append($tpl)
                    });
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });

    $(document).off("click", ".voucher_option");
    $(document).on("click", ".voucher_option", function(e){
        $container = $(".voucher_container");

        voucher_id = $(this).attr("data-voucher_id");
        voucher_name = $(this).attr("data-voucher_name");
        voucher_discount = $(this).attr("data-voucher_discount");
        voucher_type = $(this).attr("data-voucher_type");
        voucher_minamount = $(this).attr("data-voucher_minamount");
        voucher_expdate = function() {
            if ($(this).attr("data-voucher_expdate") != null) {
                return $(this).attr("data-voucher_expdate").substr(0, 10)
            } else {
                return "無限使用日期"
            }
        }
        voucher_final_discount = function() {
            if (voucher_type == "P") {
                return `${voucher_discount} %`
            } else {
                return `$ ${voucher_discount}`
            }
        }

        url = "admin/member/api/addVoucher";
        e.preventDefault();
        $.bajax({
            url: url,
            debug: 'Y',
            method: 'POST',
            formElement: 'N',
            data: {
                voucher_id: $(this).attr("data-voucher_id"),
                member_id: $(this).attr("data-member_id")
            },
            callback: function(data) {
                if (data.code == 0){
                    $("[name=voucher_id]").val(voucher_id);

                    $tpl = $(".new_voucher_tpl").clone();
                    $tpl.removeClass("new_voucher_tpl hidden").addClass("new_voucher");

                    $tpl.find(".voucher_id").html(voucher_id)
                    $tpl.find(".voucher_name").html(voucher_name)
                    $tpl.find(".voucher_discount").html(voucher_final_discount)
                    $tpl.find(".voucher_minamount").html(voucher_minamount)
                    $tpl.find(".voucher_expdate").html(voucher_expdate)

                    $container.append($tpl)

                    $(".no_voucher_text").addClass("hidden")
                    $(".voucher_grid").removeClass("hidden")
                    infoPopup("成功", "已成功為此會員增加新的惠優券")
                } else {
                    $vkmodal({
                        fullScreen: false,
                        tapBackgroundToClose: true,
                        //ajaxPath: url,
                        //content: $('#country_picker_holder').html(),
                        content: JSON.stringify(data.msg),
                        mounted: function(elem) {}
                    });
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });

        var $this = $(this)
        if ($this.closest('.vk-modal-dom').length == 1) {
            $this.closest('.vk-modal-dom').data()._destory()
        }
    
    })

    $("#edit_form").submit(async function(e){
        $("[name=product_id_arr]").val($(".product_id_select").val().toString());
        $("[name=region_id_arr]").val($(".region_id_select").val().toString());
        $("[name=slot_id_arr]").val($(".slot_id_select").val().toString());

        if ($(".is_charge_cash_dollar .val").is(":checked")) {
            $("[name=is_charge_cash_dollar]").val("Y")
        } else {
            $("[name=is_charge_cash_dollar]").val("N")
        }

        $("[name=is_monthly_payment]").val($("[for=is_monthly_payment]").is(":checked") ? 'Y' : 'N')


        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data)
                } else {
                    infoPopup();
                    if ($("[name=member_id").val() == 0){
                        location.href ="admin/member/memberDtl?member_id=" + data.result.member_id 
                    } else {
                        globalLoader($loader);
                    }
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })

    $(document).off("click", ".btn_del");
    $(document).on("click", ".btn_del", async function(e){
        $voucher = $(this).parents(".voucher");

        $loader = await globalLoader();
        $this = $(this)
        url = "admin/member/api/delVoucher";
        e.preventDefault();
        $.bajax({
            url: url,
            debug: 'Y',
            method: 'POST',
            formElement: 'N',
            data: {
                member_voucher_id: $(this).attr("data-member_voucher_id"),
                activate: "N"
            },
            callback: function(data) {
                if (data.code != 0){
                    globalLoader($loader);  
                    globalErrorReturn(data)
                } else {
                    $voucher.remove()
                    if ($(".voucher_container .voucher").length ==0 ){
                        $(".voucher_grid").addClass("hidden")
                        $(".no_voucher_text").removeClass("hidden")
                    }
                    globalLoader($loader);
                    infoPopup("成功", "已成功為此會員刪除新的惠優券")
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
   
});
</script>
{/literal}