
.selectize-dropdown{
    border: 1px solid rgb(215, 215, 215);
}
.loading_gif {
    background-image: url(/img/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: 100%;
    color: transparent;
}

.active_nav {
    background-color: rgb(250, 238, 230);
    color: rgb(222, 146, 98) !important;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

.active_nav a:hover {
    background-color: rgb(250, 238, 230);
    color: rgb(216, 172, 144) !important;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

#desktopSideBar {
    box-shadow: 7px -3px 16px -3px rgb(148 148 148 / 12%);
    border-right: 1px solid #ececec;
}

#asideNav a:hover {
    color: rgb(222, 146, 98) !important;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

.active_subnav {
    color: rgb(222, 146, 98) !important;
}

.active_subnav a:hover {
    color: rgb(219, 171, 141) !important;
}

.active_subsidenav {
    width: 250px !important;
}

.is_processing svg {
    display: inline-block !important;
}

#desktop-header {
    width: calc(100% - 16rem);
}

.hint-text {
    font-size: .875rem;
    color: gray;
}

.desktop-header-min {
    width: calc(100% - 6rem) !important;
}

.price-font {
    font-family: 'Montserrat', sans-serif;
}

.price-tag::after {
    content: "HK$";
}

.price-tag-chi-h+label::after {
    content: "";
}

.price-tag-chi-t+label::after {
    content: "千";
}

.price-tag-chi-tt+label::after {
    content: "萬";
}

.required-missing {
    order-color: #c53030;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px #c53030;
    outline: 0 none;
}

.is-active-tab {
    background-color: #4a5568;
}

.is-active-tab a {
    background-color: #4a5568;
    color: white;
}

.is-active-tab * {
    color: white;
}

a:hover {
    cursor: pointer;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #000000;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

#create-content-modal {
    background-color: rgba(0,0,0,0.4); 
}

input[type="radio"]+label span {
    transition: background .2s, transform .2s;
}

input[type="radio"]+label span:hover,
input[type="radio"]+label:hover span {
    transform: scale(1.2);
}

input[type="radio"]:checked+label span {
    background-color: #374251;
    box-shadow: 0px 0px 0px 1px white inset;
}

input[type="radio"]:checked+label {
    color: #374251;
    font-weight: 600;
}

input[type="checkbox"]:checked+svg {
    display: block;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
}

.active-toggle {
    right: 0;
    border-color: #68D391;
    background-color: #68D391;
}

.active-toggle+.toggle-label {
    background-color: #68D391;
}

#container {
    background-color: rgb(244, 237, 232);
}

.dropdown-arrow {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}

.active-lang-toggle {
    background-color: white;
    color: rgb(222, 146, 98);
    border-color: rgb(222, 146, 98);
}

.switch {
    display: inline-block;
    min-width: 36px;
    min-height: 24px;
    width: 36px;
    height: 24px;
    position: relative;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s;
    transform: translate(-50%);
}

.tooltip .tooltiptext.bottom{
    bottom: auto;
    top: 150%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.tooltip .tooltiptext.bottom::after{
    border-color: transparent transparent #333 transparent;
    bottom: 100%;
    top: auto;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.after_percentage{
    position: relative;
}

.after_percentage:after{
    content: '%';
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-50%, -50%);
}

.page_popup .vk-modal-dom-container{
    width: 1000px;
    max-width: 80%;
}

.page_popup .page_popup_hidden{
    display: none;
}


.page_popup .btn_popup{
    display: none;
}

.selectize-control > div{
    flex-wrap: wrap;
    gap: 0.5rem;
}

.childPopup .navigation-section, .page_popup .navigation-section{
    display: none;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(180deg);
    }
}

.blink_me {
    color: red;
    animation: blinker 2s linear infinite;
  }
  
  @keyframes blinker {
    50% {
        background-color: yellow;
        opacity: 0;
    }
  }