<a href="admin/user/adminList">管理員列表</a><br/>
<a href="admin/user/adminDtl?admin_id=0" class="pl-5">新增管理員</a><br/>
<a href="admin/user/adminRoleList">管理角色 admin role</a><br/>
<a href="admin/user/adminRoleDtl?admin_role=0" class="pl-5">新增管理角色</a><br/>

<hr>




{if $submode}
    {include file="{$mode}/{$submode}.html"}
{/if}