
<table class="w-full">
    <tr>
        <th>Admin id</th>
        <th>Name</th>
        <th>Role</th>
        <th>Action</th>
    </tr>

    {foreach from=$result_array.memberList key=k item=i}
        <tr>
            <td>{$i.admin_id}</td>
            <td>{$i.username}</td>
            <td>{$i.role_id}</td>
            <td><a href="admin/admin/adminDtl?admin_id={$i.admin_id}">edit</a></td>
        </tr>
    {/foreach}
</table>


<hr/>