
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.lazy.min.js"></script>
<script src="/js/bajax.js{$srcVersion}"></script>
<style>
body {
    padding: 0px;
    margin: 0px;
}
table{
    width: 100%;
}

td {
    padding: 3px 5px;
}
textarea{
    width: 100%;
}
</style>
{literal}

<table border=1>
    <tr>
        <th style="width: 10%">Name</th>
        <th style="width: 15%">URL (onClick the URL ajax console.log)</th>
        <th style="width: 75%">Param</th>
    </tr>
    <tr>
        <td>getItemTagList</td>
        <td class="ajax" data-form="1">admin/item/api/getItemTagList</td>
        <td>
            <form id="1"></form>
        </td>
    </tr>
    <tr>
        <td>getSkuTagList</td>
        <td class="ajax" data-form="2">admin/item/api/getSkuTagList</td>
        <td>
            <form id="2"></form>
        </td>
    </tr>
    <tr>
        <td>addItemTag</td>
        <td class="ajax" data-form="3">admin/item/api/addItemTag</td>
        <td>
            <form id="3">
                <input name="item_id" value="1">
                <input name="tag" value="hello world">
            </form>
        </td>
    </tr>
    <tr>
        <td>addSkuTag</td>
        <td class="ajax" data-form="4">admin/item/api/addSkuTag</td>
        <td>
            <form id="4">
                <input name="sku_id" value="1">
                <input name="tag" value="hello world">
            </form>
        </td>
    </tr>
    <tr>
        <td>addSku</td>
        <td class="ajax" data-form="5">admin/item/api/addSku</td>
        <td>
            <form id="5">
                <input name="item_id" value="80">
                <input name="codeMap" value='[{"code":"1","valList":["6","11"]},{"code":"2","valList":["9","17"]},{"code":"3","valList":["3"]}]'>
            </form>
        </td>
    </tr>
</table>
{/literal}

<script>

$(".ajax").on("click", function(){
    $this= $(this);
    $.bajax({
        url: $(this).html(),
        method: 'POST',
        formElement: 'Y',
        formElementID: $(this).attr("data-form"),
        callback: function(data) {
            console.log(data.result);
        },
    });
})


</script>