<div class="flex flex-col px-4 lg:px-12">

    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">特別運送條件管理</div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg my-4 py-2">
        <form id="edit_form" action="/admin/setting/api/editCustDeliGrp" method="post" class="content_edit_form">
            <input type="text" name="shop_id" value="{if $result_array.grpDtl.shop_id}{$result_array.grpDtl.shop_id}{else}1{/if}" hidden readonly>
            <div class="flex flex-col w-full lg:pt-4 lg:pb-4 lg:mr-6">
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">名稱</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="adm_name" type="text" value="{$result_array.grpDtl.adm_name}"> 
                    </div>
                </div>
                <input name="grp_id" type="hidden" value="{if $result_array.grpDtl.grp_id}{$result_array.grpDtl.grp_id}{else}0{/if}"> 
                <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 mt-4 mx-auto rounded-full cursor-pointer" type="submit" value="儲存">
            </div>
        </form>
    </div>

    {if $result_array.grpDtl.grp_id}

        <div class="bg-white rounded-lg shadow-lg my-4">
            <div class="flex flex-row items-center my-2 pt-6 lg:pt-0 border-gray-300 lg:border-0">
                <div class="text-2xl px-10 py-4">地區特別運送條件列表</div>
                <div class="btn_add_region px-6 py-1 mx-4 bg-blue-500 text-white rounded-full mr-auto cursor-pointer hover:opacity-70">增加地區</div>
            </div>
            <div class="grid grid-cols-5 gap-3 text-gray-600 {if $result_array.districtDtl.regionList}border-b{/if} border-gray-300 px-4 pb-3 pt-8 lg:px-8">
                <div class="flex flex-row my-auto text-sm lg:text-base"><div>地區</div></div>
                <div class="flex flex-row my-auto text-sm lg:text-base"><div>額外收費</div></div>
                <div class="flex flex-row my-auto text-sm lg:text-base"><div>需要地址</div></div>
                <div class="flex flex-row my-auto text-sm lg:text-base"><div>顯示中</div></div>
                <div class="flex flex-row my-auto text-sm lg:text-base ml-auto mr-1">操作</div>
            </div>
            <div class="regionList">
                {foreach from=$result_array.grpDtl.custRegionList key=k item=i}
                <form id="editCustDeliRegionForm_{$k}" action="/admin/setting/api/editCustDeliRegion" method="post" class="content_edit_form editCustDeliRegionForm">
                    <input type="hidden" name="cust_id" value="{$i.cust_id}">
                    <div class="grid grid-cols-5 auto-rows-auto items-center gap-3 px-4 py-3 lg:px-8 text-gray-800 border-t border-gray-300">
                        <div>
                            <select name="region_id">
                                {foreach from=$result_array.regionList key=kk item=ii}
                                <option value="{$ii.region_id}" {if $i.region_id == $ii.region_id}selected{/if}>{$ii.name_tc}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div class="flex flex-row items-center">$<input name="shipping_fee" type="number" value="{$i.shipping_fee}" class="border border-gray-300 rounded-lg w-16 ml-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0"></div>
                        <div>
                            <label class="switch">
                                <input type="hidden" name="address_required">
                                <input class="address_required" type="checkbox" {if $i.address_required == 'Y'}checked{/if}>
                                <span class="slider"></span>
                            </label>
                        </div>
                        <div>
                            <label class="switch">
                                <input type="hidden" name="show_in_web">
                                <input class="show_in_web" type="checkbox" {if $i.show_in_web == 'Y'}checked{/if}>
                                <span class="slider"></span>
                            </label>
                        </div>
                        
                        <div class="ml-auto text-lg flex flex-row">
                            <div class="relative cursor-pointer hover:text-gray-600">
                                <i class="ri-save-line text-lg"></i>
                                <input type="submit" class="absolute left-0 top-0 w-full h-full z-50 opacity-0 cursor-pointer btn-submit">
                            </div>
                            <a class="btn_del pl-2" data-cust_id="{$i.cust_id}"><i class="ri-delete-bin-line text-lg hover:opacity-70"></i></a>
                        </div>
                    </div>
                </form>
                {/foreach}
            </div>
            <form action="/admin/setting/api/editCustDeliRegion" method="post" class="content_edit_form hidden editCustDeliRegionForm_tpl">
                <input name="cust_id" value="0" type="hidden">
                <input name="grp_id" value="{if $result_array.grpDtl.grp_id}{$result_array.grpDtl.grp_id}{else}0{/if}" type="hidden">
                <div class="grid grid-cols-5 auto-rows-auto gap-3 px-4 py-3 lg:px-8 text-gray-800 border-t border-gray-300">
                    <div>
                        <select name="region_id">
                            {foreach from=$result_array.regionList key=k item=i}
                            <option value="{$i.region_id}">{$i.name_tc}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="flex flex-row items-center">$<input type="number" name="shipping_fee" class="border border-gray-300 rounded-lg w-16 ml-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0"></div>
                    <div>
                        <label class="switch">
                            <input type="hidden" name="address_required">
                            <input class="address_required" type="checkbox" checked>
                            <span class="slider"></span>
                        </label>
                    </div>
                    <div>
                        <label class="switch">
                            <input type="hidden" name="show_in_web">
                            <input class="show_in_web" type="checkbox" checked>
                            <span class="slider"></span>
                        </label>
                    </div>
                    
                    <div class="ml-auto text-lg flex flex-row">
                        <div class="relative cursor-pointer hover:text-gray-600">
                            <i class="ri-save-line text-lg"></i>
                            <input type="submit" class="absolute left-0 top-0 w-full h-full z-50 opacity-0 cursor-pointer btn-submit">
                        </div>
                        <a class="btn_del pl-2" data-cust_id="{$i.cust_id}"><i class="ri-delete-bin-line text-lg hover:opacity-70"></i></a>
                    </div>
                </div>
            </form>
        </div>

        <div class="bg-white rounded-lg shadow-lg my-4">
            <div class="flex flex-row items-center my-2 pt-6 lg:pt-0 border-gray-300 lg:border-0">
                <div class="text-2xl px-10 py-4">時段特別運送條件列表</div>
                <div class="btn_add_timeslot px-6 py-1 mx-4 bg-blue-500 text-white rounded-full mr-auto cursor-pointer hover:opacity-70">增加時段</div>
            </div>
            <div class="grid grid-cols-9 gap-3 text-gray-600 {if $result_array.districtDtl.regionList}border-b{/if} border-gray-300 px-4 pb-3 pt-8 lg:px-8">
                <div class="flex flex-row my-auto text-sm lg:text-base col-span-2"><div>時段</div></div>
                <div class="flex flex-row my-auto text-sm lg:text-base col-span-2"><div>地區</div></div>
                <div class="flex flex-row my-auto text-sm lg:text-base"><div>運費</div></div>
                <div class="flex flex-row my-auto text-sm lg:text-base"><div>同日送貨運費</div></div>
                <div class="flex flex-row my-auto text-sm lg:text-base"><div>網上付款同日送貨</div></div>
                <div class="flex flex-row my-auto text-sm lg:text-base"><div>顯示中</div></div>
                <div class="flex flex-row my-auto text-sm lg:text-base ml-auto mr-1">操作</div>
            </div>
            <div class="timeslotList">
                {foreach from=$result_array.grpDtl.custTimeslotList key=k item=i}
                <form id="editCustDeliTimeslotForm_{$k}" action="/admin/setting/api/editCustDeliTimeslot" method="post" class="content_edit_form editCustDeliTimeslotForm">
                    <input type="hidden" name="cust_id" value="{$i.cust_id}">
                    <input type="hidden" name="grp_id" value="{if $result_array.grpDtl.grp_id}{$result_array.grpDtl.grp_id}{else}0{/if}">
                    <div class="grid grid-cols-9 auto-rows-auto items-center gap-3 px-4 py-3 lg:px-8 text-gray-800 border-t border-gray-300">
                        <div class="col-span-2">
                            <select name="slot_id" class="w-full">
                                {foreach from=$result_array.timeslotList key=kk item=ii}
                                <option value="{$ii.slot_id}" {if $i.slot_id == $ii.slot_id}selected{/if}>{$ii.adm_name}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div class="col-span-2">
                            <select name="region_id" class="w-full">
                                <option value="">-- 所有區域 --</option>
                                {foreach from=$result_array.regionList key=kk item=ii}
                                <option value="{$ii.region_id}" {if $i.region_id == $ii.region_id}selected{/if}>{$ii.name_tc}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="deli_fee" type="number" value="{$i.deli_fee}"> 
                        </div>
                        <div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="same_day_deli_fee" type="number" value="{$i.same_day_deli_fee}"> 
                        </div>
                        <div class="flex items-center">
                            <label class="switch">
                                <input type="hidden" name="online_pay_same_day">
                                <input class="online_pay_same_day" type="checkbox" {if $i.online_pay_same_day == "Y"}checked{/if}>
                                <span class="slider"></span>
                            </label>
                        </div>
                        <div>
                            <label class="switch">
                                <input type="hidden" name="show_in_web">
                                <input class="show_in_web" type="checkbox" {if $i.show_in_web == "Y"}checked{/if}>
                                <span class="slider"></span>
                            </label>
                        </div>
                        <div class="ml-auto text-lg flex flex-row">
                            <div class="relative cursor-pointer hover:opacity-70">
                                <i class="ri-save-line"></i>
                                <input type="submit" class="absolute left-0 top-0 w-full h-full z-50 opacity-0 cursor-pointer btn-submit text-lg">
                            </div>
                            <a class="btn_del pl-2" data-cust_id="{$i.cust_id}" data-tbl=""><i class="ri-delete-bin-line text-lg hover:opacity-70"></i></a>
                        </div>
                    </div>
                </form>
                {/foreach}
            </div>
            <form action="/admin/setting/api/editCustDeliTimeslot" method="post" class="content_edit_form editCustDeliTimeslotForm_tpl hidden">
                <input type="hidden" name="cust_id" value="0">
                <input type="hidden" name="grp_id" value="{if $result_array.grpDtl.grp_id}{$result_array.grpDtl.grp_id}{else}0{/if}">
                <div class="grid grid-cols-9 auto-rows-auto gap-3 px-4 py-3 lg:px-8 text-gray-800 border-t border-gray-300">
                    <div class="col-span-2">
                        <select name="slot_id" class="w-full">
                            {foreach from=$result_array.timeslotList key=kk item=ii}
                            <option value="{$ii.slot_id}">{$ii.adm_name} ({$ii.start_time} - {$ii.end_time})</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="col-span-2">
                        <select name="region_id" class="w-full">
                            <option value="">-- 所有區域 --</option>
                            {foreach from=$result_array.regionList key=kk item=ii}
                            <option value="{$ii.region_id}">{$ii.name_tc}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="deli_fee" type="number" value="{$i.deli_fee}"> 
                    </div>
                    <div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="same_day_deli_fee" type="number" value="{$i.same_day_deli_fee}"> 
                    </div>
                    <div class="flex items-center">
                        <label class="switch">
                            <input type="hidden" name="online_pay_same_day">
                            <input class="online_pay_same_day" type="checkbox" checked>
                            <span class="slider"></span>
                        </label>
                    </div>
                    <div>
                        <label class="switch">
                            <input type="hidden" name="show_in_web">
                            <input class="show_in_web" type="checkbox" checked>
                            <span class="slider"></span>
                        </label>
                    </div>
                    <div class="ml-auto text-lg flex flex-row">
                        <div class="relative cursor-pointer">
                            <i class="ri-save-line"></i>
                            <input type="submit" class="absolute left-0 top-0 w-full h-full z-50 opacity-0 cursor-pointer btn-submit">
                        </div>
                        <a class="btn_del pl-2" data-cust_id="{$i.cust_id}"><i class="ri-delete-bin-line text-lg hover:opacity-70"></i></a>
                    </div>
                </div>
            </form>
        </div>
    {/if}
</div>

{literal}
<script>
$(document).ready(function(){

    $(".btn_add_timeslot").on("click", function(e){
        if ($(".editCustDeliTimeslotForm").length > 0)
            var count = parseInt($(".editCustDeliTimeslotForm:last").attr("id").replace("editCustDeliTimeslotForm_", "")) + 1;
        else 
            var count = 0;
        $tpl = $(".editCustDeliTimeslotForm_tpl").clone();
        $tpl.removeClass("editCustDeliTimeslotForm_tpl hidden").attr("id", "editCustDeliTimeslotForm_" + count);
        
        $(".timeslotList").append($tpl);
    })

    $(".btn_add_region").on("click", function(e){
        if ($(".editCustDeliRegionForm").length > 0)
            var count = parseInt($(".editCustDeliRegionForm:last").attr("id").replace("editCustDeliRegionForm_", "")) + 1;
        else
            var count = 0;
        $tpl = $(".editCustDeliRegionForm_tpl").clone();
        $tpl.removeClass("editCustDeliRegionForm_tpl hidden").attr("id", "editCustDeliRegionForm_" + count);
        
        $(".regionList").append($tpl);
    })

    $(document).off("click", ".btn-submit")
    $(document).on("click", ".btn-submit", function(){
        $form = $(this).parents(".content_edit_form")

        if ($form.find(".address_required").is(":checked")) {
            $form.find("[name=address_required]").val("Y")
        } else if ($form.find(".address_required").not(":checked")){
            $form.find("[name=address_required]").val("N")
        }

        if ($form.find(".show_in_web").is(":checked")) {
            $form.find("[name=show_in_web]").val("Y")
        } else if ($form.find(".show_in_web").not(":checked")){
            $form.find("[name=show_in_web]").val("N")
        }

        if ($form.find(".online_pay_same_day").is(":checked")) {
            $form.find("[name=online_pay_same_day]").val("Y")
        } else if ($form.find(".online_pay_same_day").not(":checked")){
            $form.find("[name=online_pay_same_day]").val("N")
        }
    })

    $(document).on("submit", ".content_edit_form", async function(e){
        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    infoPopup("成功", "已更新資料。");
                    if ($("[name=grp_id]").val() == 0)
                        location.href = "admin/setting/custDeliDtl?grp_id=" + data.result.grp_id
                    else 
                        globalLoader($loader);
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })

    $(document).on("click", ".regionList .btn_del", async function (e) {
        $loader = await globalLoader();
        url = "admin/setting/api/editCustDeliRegion";
        $container = $(this).parents(".content_edit_form");
        e.preventDefault();
        $.bajax({
            url: url,
            debug: 'Y',
            method: 'POST',
            formElement: 'N',
            data: {
                cust_id: $(this).attr("data-cust_id"),
                activate: 'N'
            },
            callback: function (data) {
                globalLoader($loader);
                if (!data.code == 0){
                    globalErrorReturn(data);
                } else {
                    $container.remove();
                }
            },
            errorCallback: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })

    $(document).on("click", ".timeslotList .btn_del", async function (e) {
        $loader = await globalLoader();
        url = "admin/setting/api/editCustDeliTimeslot";
        $container = $(this).parents(".content_edit_form");
        e.preventDefault();
        $.bajax({
            url: url,
            debug: 'Y',
            method: 'POST',
            formElement: 'N',
            data: {
                cust_id: $(this).attr("data-cust_id"),
                activate: 'N'
            },
            callback: function (data) {
                globalLoader($loader);
                if (!data.code == 0){
                    globalErrorReturn(data);
                } else {
                    $container.remove();
                }
            },
            errorCallback: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })

});
</script>
{/literal}