<script src="/adminA/js/jquery.dad.js"></script>

<main class="bg-white">
  <div class="px-4 py-4 overflow-y-auto border-gray-200 border-b flex mb-3 items-center">
    <h1 class="text-3xl font-bold">區域管理</h1>
    <a href="#" class="add-cate bg-blue-500 px-3 py-2 font-bold inline-flex text-white ml-2">
      <i class="ri-add-line"></i>
      <span class="ml-2">增加區域</span>
    </a>
  </div>
  <div class="px-4 pb-4">
    <div class="dad-container-js dad"></div>
  </div>
</main>

{literal}
<style>
  .navigation-section {
    background-color: white;
  }
  #container{
    background-color: white;
  }
</style>

<script>

function initDad(){
  try { 
    dadInstance.deactivate();
  } catch {

  }
  dadInstance = $(".dad").dad({ exchangable: true, draggable: ".dragger",});
  dadInstance.activate();


  $(".dad").off("dadDrop").on("dadDrop", async function(e, droppedElement){
    e.preventDefault();
    $loader = await globalLoader();
    globalLoader($loader);

    district_id_arr = [];
    $(".district").each(function(idx, district){
      district_id_arr.push($(district).find("[name=district_id]").val())
    });

    var data = {
      district_id_arr: district_id_arr.toString(),
    };

    $.bajax({
        url: '/admin/setting/api/sortDistrict',
        method: 'POST',
        formElement: 'N',
        data: data,
        callback: function (data) {
            if (!data.code == 0) {
              globalLoader($loader);
              globalErrorReturn(data)
            } else {
              infoPopup();
              globalLoader($loader);
              initDad();
            }
        },
        errorCallback: function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR);
        },
    });
  })
}

function initCateList(){
  $.bajax({
    url: "/admin/setting/api/getDistrictList",
    method: "POST",
    formElement: "N",

    callback: function (data) {
      var html = "";
      var districtList = data.result.district_list;
      districtList.map(function (district, index) {
        html += `
        <div class="border-2 border-gray-300 border-dashed mb-3 pb-3 py-2 bg-gray-100 dad-outer-container district">
          <h4 class="font-bold text-gray-600 text-2xl px-5 py-2 flex items-center gap-x-4">
            <div class="dragger flex items-center px-3 text-gray-400">
              <i class="ri-drag-move-2-line"></i>
            </div>
            <span class="cate-dad-title" data-cate-id="${district.district_id}">${district.name_tc}</span>
            <div class="items-center dad-edit-mode flex gap-x-4 gap-y-2 flex-wrap hidden text-base">
              <div>中文名稱：<input name="name_tc" class="py-1 px-2 border border-gray-200" value="${district.name_tc}"></div>
              <div>英文名稱：<input name="name_en" class="py-1 px-2 border border-gray-200" value="${district.name_en}"></div>

              <div class="flex items-center gap-2">
                <div class="text-gray-600">額外收費</div>
                <input name="shipping_fee" class="w-16 py-1 px-2 border border-gray-200">
              </div>
              <div class="flex items-center gap-2">
                <div class="text-gray-600">顯示在網站中</div>
                <label class="switch">
                  <input name="show_in_web" type="checkbox" ${district.show_in_web == 'Y' ? `checked` : ``}>
                  <span class="slider"></span>
                </label>
              </div>
              <input name="district_id" type="hidden" value="${district.district_id}">
              <a href="#" class="bg-blue-500 border border-blue-500 px-3 py-2 font-bold inline-flex text-white text-base save-dad-edit"><span class="">儲存</span></a>
              <a href="#" class="px-3 py-2 font-bold inline-flex text-gray-700 text-base border border-gray-400 cancel-dad-edit-mode"><span class="">取消</span></a>
            </div>
            <a href="#" class="p3-4 py-2 ml-2 edit-cate-dad"><i class="ri-edit-line"></i></a>
            <a href="#" class="add-cate-child bg-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-auto"><i class="ri-add-line"></i><span class="ml-2 whitespace-nowrap">增加子區域</span></a>
            <a href="#" class="remove-cate-dad bg-red-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2"><i class="ri-add-line"></i><span class="ml-2 whitespace-nowrap">刪除區域</span></a>
          </h4>
          <div class="cate-dad px-5 py-2">`;
          if (district.region_list){
            district.region_list.map(function (region, regionIdx) {
              html += `
                <div class="border border-gray-300 text-xl py-2 px-3 bg-white mb-px flex cate-child-indi rounded">
                  <span class="flex items-center cate-child-title text-base">${region.name_tc}</span>
                  <div class="items-center edit-mode hidden text-sm gap-x-4 flex-wrap">
                    <div> 
                      中文名稱：<input name="name_tc" class="py-1 px-2 border border-gray-200" value="${region.name_tc}" />
                    </div>
                    <div>
                      英文名稱：<input name="name_en" class="py-1 px-2 border border-gray-200" value="${region.name_en}" />
                    </div>

                    <div>
                      額外收費：<input name="shipping_fee" type="number" class="w-16 py-1 px-2 border border-gray-200" value="${region.shipping_fee}" />
                    </div>
                    
                    <div class="flex items-center gap-2">
                      <div class="text-gray-600">需要地址</div>
                      <label class="switch">
                        <input name="address_required" type="checkbox" ${region.address_required == 'Y' ? `checked` : ``}>
                        <span class="slider"></span>
                      </label>
                    </div>

                    <div class="flex items-center gap-2">
                      <div class="text-gray-600">顯示在網站中</div>
                      <label class="switch">
                        <input name="show_in_web" type="checkbox" ${region.show_in_web == 'Y' ? `checked` : ``}>
                        <span class="slider"></span>
                      </label>
                    </div>

                    <input name="region_id" type="hidden" value="${region.region_id}"/>
                    <a href="#" class="bg-blue-500 border border-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2 save-edit"><span class="">儲存</span></a>
                    <a href="#" class="px-3 py-2 font-bold inline-flex text-gray-700 text-base border border-gray-400 ml-2 cancel-edit-mode"><span class="">取消</span></a>
                  </div>
                  <a href="#" class="p3-4 py-2 ml-2 edit-cate-child"><i class="ri-edit-line"></i></a>
                  <a href="#" class="p3-4 py-2 text-xl delete-cate-child ml-auto flex items-center px-3"><i class="ri-close-line"></i></a>
                </div>
              `;
            });
          }

        html += `</div></div>`;
      });

      $(".dad-container-js").html(html);

      initDad();
    },
  });
}


$(document).ready(function(){

    initCateList();

    $(document).off("click", ".add-cate").on("click", ".add-cate", function (e) {
        e.preventDefault();
        $(".dad-container-js").append(`
          <div class="border-2 border-gray-300 border-dashed mb-3 pb-3 py-2 bg-gray-100 dad-outer-container district">
            <h4 class="font-bold text-gray-600 text-2xl px-5 py-2 flex items-center">
              <div class="dragger flex items-center px-3 text-gray-400"><i class="ri-drag-move-2-line"></i></div>
              <span class="cate-dad-title hidden">未命名</span>

              <div class="items-center dad-edit-mode flex gap-2 flex">
                <div>中文名稱：<input name="name_tc" class="py-1 px-2 border border-gray-200" placeholder="未命名"></div>
                <div>英文名稱：<input name="name_en" class="py-1 px-2 border border-gray-200" placeholder="unnamed"></div>

                <div class="flex items-center gap-2">
                  <div class="text-gray-600">顯示在網站中</div>
                  <label class="switch">
                    <input name="show_in_web" type="checkbox" checked>
                    <span class="slider"></span>
                  </label>
                </div>
                <input name="district_id" type="hidden" value="0">
                <a href="#" class="bg-blue-500 border border-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2 save-dad-edit"><span class="">儲存</span></a>
                <a href="#" class="px-3 py-2 font-bold inline-flex text-gray-700 text-base border border-gray-400 ml-2 cancel-dad-edit-mode"><span class="">取消</span></a>
              </div>
              <a href="#" class="p3-4 py-2 ml-2 edit-cate-dad"><i class="ri-edit-line"></i></a>
              <a href="#" class="add-cate-child bg-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-auto"><i class="ri-add-line"></i><span class="ml-2">增加子分類</span></a>
              <a href="#" class="remove-cate-dad bg-red-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2"><i class="ri-add-line"></i><span class="ml-2">刪除分類</span></a>
            </h4>
            <div class="cate-dad px-5 py-2" style="min-height: 60px;"></div>
          </div>
      `);
        $("html").animate({
          scrollTop: $(".dad-container-js>*:last-child").position().top
        }, 500);
      
        initDad();
      });

    $(document).off("click", ".edit-cate-dad").on("click", ".edit-cate-dad", function (e) {
      //start edit mode
      e.preventDefault();
      var $this = $(this);
      var $child = $this.parents("h4");
      $child.find(".dad-edit-mode").removeClass("hidden").addClass("flex");
      $child.find("input").focus();
      $child.find(".edit-cate-dad").addClass("hidden");
      $child.find(".cate-dad-title").addClass("hidden");
    })

    $(document).off("click", ".save-dad-edit").on("click", ".save-dad-edit", async function(e){
      //start edit mode
      e.preventDefault();
      $loader = await globalLoader();

      var $this = $(this);
      var $child = $this.closest("h4");

      var data = {
        shop_id: 1,
        district_id: $child.find("[name=district_id]").val(),
        name_tc: $child.find("[name=name_tc]").val(),
        name_en: $child.find("[name=name_en]").val(),
        shipping_fee: $child.find("[name=shipping_fee]").val(),
        show_in_web: $child.find("[name=show_in_web").is(":checked") ? 'Y': 'N'
      };

      if ($child.find("[name=district_id]").val() == 0){
        data['sort'] = $(".district").length
      }

      $.bajax({
          url: '/admin/setting/api/editDistrict',
          method: 'POST',
          formElement: 'N',
          data: data,
          callback: function (data) {
              if (!data.code == 0) {
                globalLoader($loader);
                globalErrorReturn(data)
              } else {
                $child.find(".dad-edit-mode").addClass("hidden").removeClass("flex");
                $child.find(".edit-cate-dad").removeClass("hidden");
                $child.find(".cate-dad-title").html($child.find("input").val()).removeClass("hidden");
                $child.find("[name=district_id]").val(data.result.district_id)
                $child.parents(".dad-outer-container").find(".tag-dad-title").attr("data-cate-id", data.result.district_id);
                globalLoader($loader);
                infoPopup();
                initDad();
                initCateList();
              }
          },
          errorCallback: function (jqXHR, textStatus, errorThrown) {
              console.log(jqXHR);
          },
      });

    })

    $(document).off("click", ".cancel-dad-edit-mode").on("click", ".cancel-dad-edit-mode", function (e) {
      //start edit mode
      e.preventDefault();
      var $this = $(this);
      var $child = $this.closest("h4");
      $child.find(".dad-edit-mode").addClass("hidden").removeClass("flex");
      $child.find(".edit-cate-dad").removeClass("hidden");
      $child.find(".cate-dad-title").removeClass("hidden");
    })
  
    $(document).off("click", ".edit-cate-child").on("click", ".edit-cate-child", function (e) {
      //start edit mode
      e.preventDefault();
      var $this = $(this);
      var $child = $this.closest(".cate-child-indi");
      $child.find(".edit-mode").removeClass("hidden").addClass("flex");
      $child.find("input").focus();
      $child.find(".edit-cate-child").addClass("hidden");
      $child.find(".cate-child-title").addClass("hidden");
    });
    
    $(document).off("click", ".save-edit").on("click", ".save-edit", async function (e) {
      //save button
      e.preventDefault();
      $loader = await globalLoader();

      var $this = $(this);
      var $child = $this.closest(".cate-child-indi");
      
      var district_id = $child.parents(".dad-outer-container").find(".cate-dad-title").attr("data-cate-id");

      var data = {
        region_id: $child.find("[name=region_id]").val(),
        district_id: district_id,
        name_tc: $child.find("[name=name_tc]").val(),
        name_en: $child.find("[name=name_en]").val(),
        shipping_fee: $child.find("[name=shipping_fee]").val(),
        show_in_web: $child.find("[name=show_in_web").is(":checked") ? 'Y': 'N',
        address_required: $child.find("[name=address_required").is(":checked") ? 'Y': 'N',
      };

      $.bajax({
          url: '/admin/setting/api/editRegion',
          method: 'POST',
          formElement: 'N',
          data: data,
          callback: function (data) {
              if (!data.code == 0) {
                globalLoader($loader);
                globalErrorReturn(data)
              } else {
                $child.find(".edit-mode").addClass("hidden").removeClass("flex");
                $child.find(".edit-cate-child").removeClass("hidden");
                $child.find(".cate-child-title").removeClass("hidden").html($child.find("[name=name_tc]").val());
                $child.find("[name=region_id]").val(data.result.region_id)
                globalLoader($loader);
                infoPopup();
                initDad();
              }
          },
          errorCallback: function (jqXHR, textStatus, errorThrown) {
              console.log(jqXHR);
          },
      });
    })
   
    $(document).off("click", ".cancel-edit-mode").on("click", ".cancel-edit-mode", function (e) {
      //cancel edit mode
      e.preventDefault();
      var $this = $(this);
      var $child = $this.closest(".cate-child-indi");
      $child.find(".edit-mode").addClass("hidden").removeClass("flex");
      $child.find(".edit-cate-child").removeClass("hidden");
      $child.find(".cate-child-title").removeClass("hidden");
    })

    $(document).off("click", ".remove-cate-dad").on("click", ".remove-cate-dad", async function (e) {
      e.preventDefault();

      var $this = $(this);

      vkConfirmDefault({
          title: '確認',
          content: '<div>請確認是否刪除這條目？</div>',
          confirmButtonHtml: '確認',
          cancelButtonHtml: '返回',
          confirmButtonFunction: async function(e){
              $loader = await globalLoader();
              var data = {
                district_id: $this.closest("h4").find("[name=district_id]").val(),
                activate: 'N'
              };
            
              $.bajax({
                  url: '/admin/setting/api/editDistrict',
                  method: 'POST',
                  formElement: 'N',
                  data: data,
                  callback: function (data) {
                      if (!data.code == 0) {
                        globalLoader($loader);
                        globalErrorReturn(data)
                      } else {
                        infoPopup();
                        $this.closest(".dad-outer-container").remove();
                        globalLoader($loader);
                      }
                  },
                  errorCallback: function (jqXHR, textStatus, errorThrown) {
                      console.log(jqXHR);
                  },
              });
          }
      })
    });

    $(document).off("click", ".delete-cate-child").on("click", ".delete-cate-child", async function(e){
      //delete child
      e.preventDefault();
      var $this = $(this);
      var $child = $this.closest(".cate-child-indi");

      vkConfirmDefault({
          title: '確認',
          content: '<div>請確認是否刪除這條目？</div>',
          confirmButtonHtml: '確認',
          cancelButtonHtml: '返回',
          confirmButtonFunction: async function(e){
              $loader = await globalLoader();
              var data = {
                region_id: $child.find("[name=region_id]").val(),
                activate: 'N'
              };

              $.bajax({
                  url: '/admin/setting/api/editRegion',
                  method: 'POST',
                  formElement: 'N',
                  data: data,
                  callback: function (data) {
                      if (!data.code == 0) {
                        globalLoader($loader);
                        globalErrorReturn(data)
                      } else {
                        $child.remove();
                        infoPopup();
                        globalLoader($loader);
                      }
                  },
                  errorCallback: function (jqXHR, textStatus, errorThrown) {
                      console.log(jqXHR);
                  },
              });
          }
      })
    })

    $(document).off("click", ".add-cate-child").on("click", ".add-cate-child", function (e) {
    if ($(this).parents(".dad-outer-container").find(".dad-edit-mode [name=district_id]").val() == 0){
      vkAlertDefault({
        title: "錯誤",
        content: "請先命名區域再增加子區域",
        confirmButtonHtml: "確認"
      });
      return false;
    }
    e.preventDefault;
    var $this = $(this);
    $this.closest(".dad-outer-container").find(".cate-dad").append(`
      <div class="border border-gray-300 text-xl py-2 px-3 bg-white mb-px flex cate-child-indi rounded">
        <span class="flex items-center cate-child-title text-base hidden">未命名</span>
        <div class="items-center edit-mode text-sm gap-2 flex flex-wrap">
          <div>中文名稱：<input name="name_tc" class="py-1 px-2 border border-gray-200" placeholder="未命名" /></div>
          <div>英文名稱：<input name="name_en" class="py-1 px-2 border border-gray-200" placeholder="unnamed" /></div>
          <div>額外收費：<input name="shipping_fee" type="number" class="w-16 py-1 px-2 border border-gray-200" value="0" /></div>
          
          <div class="flex items-center gap-2">
            <div class="text-gray-600">需要地址</div>
            <label class="switch">
              <input name="address_required" type="checkbox" checked>
              <span class="slider"></span>
            </label>
          </div>

          <div class="flex items-center gap-2">
            <div class="text-gray-600">顯示在網站中</div>
            <label class="switch">
              <input name="show_in_web" type="checkbox" checked>
              <span class="slider"></span>
            </label>
          </div>

          <input name="region_id" type="hidden" value="0"/>
          <a href="#" class="bg-blue-500 border border-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2 save-edit"><span class="">儲存</span></a>
          <a href="#" class="px-3 py-2 font-bold inline-flex text-gray-700 text-base border border-gray-400 ml-2 cancel-edit-mode"><span class="">取消</span></a>
        </div>
        <a href="#" class="p3-4 py-2 ml-2 edit-cate-child hidden"><i class="ri-edit-line"></i></a>
        <a href="#" class="p3-4 py-2 text-xl delete-cate-child ml-auto flex items-center px-3"><i class="ri-close-line"></i></a>
      </div>`);
  });
});
</script>
{/literal}

