<div class="flex flex-col px-4 lg:px-10">
    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">運送區域管理</div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg w-full mt-2 mb-8">    
        <form id="edit_form" class="content_edit_form" action="/admin/setting/api/editDistrict" method="post">
            <input name="shop_id" type="hidden" value="{if $result_array.districtDtl.shop_id}{$result_array.districtDtl.shop_id}{else}{$shop_id}{/if}" readonly> 
            <input name="district_id" type="hidden" value="{if $result_array.districtDtl.district_id}{$result_array.districtDtl.district_id}{else}0{/if}" readonly> 
            <div class="flex flex-col w-full lg: pt-6 lg:mr-6">
                <div class="grid grid-cols-1 lg:grid-cols-2 lg:px-8">
                    <div class="flex w-full">
                        <div class="flex-none p-2">
                            <div class="text-sm text-gray-600 pb-2">顯示中</div>
                            <label class="switch mb-0 pb-0">
                                <input type="hidden" name="show_in_web">
                                <input id="show_in_web" type="checkbox" {if $result_array.districtDtl.show_in_web === 'Y'}checked{/if}>
                                <span class="slider"></span>
                            </label>
                        </div>
                        <div class="w-full flex-1 p-2">
                            <div class="text-sm text-gray-600 pb-2">中文</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_tc" type="text" value="{$result_array.districtDtl.name_tc}"> 
                        </div>
                    </div>
                    <div class="w-full flex-1 p-2">
                        <div class="text-sm text-gray-600 pb-2">英文</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_en" type="text" value="{$result_array.districtDtl.name_en}"> 
                    </div>
                </div>
                <input type="text" name="sort" value="{$result_array.districtDtl.sort}" hidden>
                <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 my-4 mx-auto rounded-full cursor-pointer" type="submit" value="儲存">
            </div>
        </form>

        {if $result_array.districtDtl.district_id}
        <div class="flex flex-row items-center px-4 my-2 lg:pl-4 pt-6 lg:pt-0 border-t-2 border-gray-300 lg:border-0">
            <div class="text-xl text-gray-700">區域列表</div>
            <div class="btn_add_region px-6 py-1 mx-4 bg-blue-500 text-white rounded-full mr-auto cursor-pointer hover:opacity-70">增加地區</div>
        </div>

        <div class="grid grid-cols-9 gap-3 text-gray-600 {if $result_array.districtDtl.regionList}border-b{/if} border-gray-300 px-4 pb-3 pt-8 lg:px-8">
            <div class="flex flex-row my-auto text-sm lg:text-base"><div>編號</div></div>
            <div class="flex flex-row my-auto text-sm lg:text-base col-span-2"><div>中文</div></div>
            <div class="flex flex-row my-auto text-sm lg:text-base col-span-2"><div>英文</div></div>
            <div class="flex flex-row my-auto text-sm lg:text-base"><div>額外收費</div></div>
            <div class="flex flex-row my-auto text-sm lg:text-base"><div>需要地址</div></div>
            <div class="flex flex-row my-auto text-sm lg:text-base"><div>顯示中</div></div>
            <div class="flex flex-row my-auto text-sm lg:text-base ml-auto mr-1">操作</div>
        </div>

        <div class="regionList">
            {foreach from=$result_array.districtDtl.regionList key=k item=i}
            <form id="region_edit_form_{$k}" class="region_edit_form" action="/admin/setting/api/editRegion" method="post">
                <div class="grid grid-cols-9 auto-rows-auto gap-3 px-4 py-3 lg:px-8 text-gray-800 border-t border-gray-300">
                    <input name="district_id" type="hidden" value="{$result_array.districtDtl.district_id}">    
                    <input name="region_id" value="{$i.region_id}" class="text-gray-600" readonly>
                    <input name="name_tc" value="{$i.name_tc}" class="col-span-2 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">
                    <input name="name_en" value="{$i.name_en}" class="col-span-2 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">
                    <div class="flex flex-row items-center">$<input name="shipping_fee" value="{$i.shipping_fee}" class="border border-gray-300 rounded-lg w-16 ml-1 py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0"></div>
                    <div>
                        <label class="switch">
                            <input type="hidden" name="address_required">
                            <input class="address_required" type="checkbox" {if $i.address_required === 'Y'}checked{/if}>
                            <span class="slider"></span>
                        </label>
                    </div>
                    <div>
                        <label class="switch">
                            <input type="hidden" name="show_in_web">
                            <input class="show_in_web" type="checkbox" {if $i.show_in_web === 'Y'}checked{/if}>
                            <span class="slider"></span>
                        </label>
                    </div>
                    
                    <div class="ml-auto text-lg flex flex-row">
                        <div class="relative cursor-pointer">
                            <i class="ri-save-line text-lg"></i>
                            <input type="submit" class="absolute left-0 top-0 w-full h-full z-50 opacity-0 cursor-pointer btn-submit" data-region_id="{$i.region_id}">
                        </div>
                        <a class="btn_del cursor-pointer pl-2" data-region_id="{$i.region_id}"><i class="ri-delete-bin-line text-lg"></i></a>
                    </div>
                </div>
            </form>
            {/foreach}
        </div>
        {/if}

        <form class="region_edit_form_tpl hidden" action="/admin/setting/api/editRegion" method="post">
            <div class="grid grid-cols-9 auto-rows-auto gap-3 px-4 py-3 lg:px-8 text-gray-800 border-t border-gray-300">
                <input name="district_id" type="hidden" value="{$result_array.districtDtl.district_id}">
                <input name="region_id" class="text-gray-600" value="0" readonly>
                <input name="name_tc" class="border border-gray-200 col-span-2 truncate rounded-lg focus:ring-2 focus:border-opacity-0 ring-yellow-600 ring-opacity-70 px-2">
                <input name="name_en" class="border border-gray-200 col-span-2 truncate rounded-lg focus:ring-2 focus:border-opacity-0 ring-yellow-600 ring-opacity-70 px-2">
                <div class="flex flex-row items-center">$<input name="shipping_fee" class="border border-gray-200 focus:border-opacity-0 w-16 ml-1 px-2 rounded-lg focus:ring-2 ring-yellow-600 ring-opacity-70"></div>
                <div>
                    <label class="switch">
                        <input type="hidden" name="address_required" value="Y">
                        <input class="address_required" type="checkbox" {if $i.address_required === 'Y'}checked{/if}>
                        <span class="slider"></span>
                    </label>
                </div>
                <div>
                    <label class="switch">
                        <input type="hidden" name="show_in_web" value="Y">
                        <input class="show_in_web" type="checkbox" {if $i.show_in_web === 'Y'}checked{/if}>
                        <span class="slider"></span>
                    </label>
                </div>
                
                <div class="ml-auto text-lg flex flex-row">
                    <div class="relative cursor-pointer">
                        <i class="ri-save-line"></i>
                        <input type="submit" class="absolute left-0 top-0 w-full h-full z-50 opacity-0 cursor-pointer btn-submit" data-region_id="{$i.region_id}">
                    </div>
                    <a class="btn_del cursor-pointer pl-2" data-region_id="{$i.region_id}"><i class="ri-delete-bin-line"></i></a>
                </div>
            </div>
        </form>
    </div>
</div>

{literal}
<script>
$(document).ready(function(){

    $(".btn_add_region").on("click", async function(e){

        $tpl = $(".region_edit_form_tpl").clone();
        $tpl.removeClass("region_edit_form_tpl hidden").addClass("region_edit_form")

        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $tpl.attr("action"),
            method: 'POST',
            formElement: 'N',
            data: {
                district_id: $tpl.find("[name=district_id]").val(),
                region_id: 0,
            },
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    globalLoader($loader);
                    $tpl.find("[name=region_id]").val(data.result.region_id)
                    $tpl.attr("id", $(".regionList").children().length)
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
        
        $(".regionList").append($tpl);
    });

    $(document).off("click", ".btn-submit")
    $(document).on("click", ".btn-submit", function(){
        $form = $(this).parents(".content_edit_form")

        if ($form.find(".address_required").is(":checked")) {
            $form.find("[name=address_required]").val("Y")
        } else if ($form.find(".address_required").not(":checked")){
            $form.find("[name=address_required]").val("N")
        }

        if ($form.find(".show_in_web").is(":checked")) {
            $form.find("[name=show_in_web]").val("Y")
        } else if ($form.find(".show_in_web").not(":checked")){
            $form.find("[name=show_in_web]").val("N")
        }

        $form.submit();
    })

    $(document).on("click", ".btn_del", async function(e){
        $loader = await globalLoader();
        $this = $(this);
        $.bajax({
            url: "admin/setting/api/editRegion",
            method: 'POST',
            data: {
                region_id: $(this).attr("data-region_id"),
                activate: 'N'
            },
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    globalLoader($loader);
                    $this.parents(".region_edit_form").remove();
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })

    $(document).off("submit", ".content_edit_form")
    $(document).on("submit", ".content_edit_form", async function(e){
        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                console.log(data)
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    globalLoader($loader);
                    location.href="admin/setting/districtDtl?district_id=" + data.result.district_id
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });

    $(document).off("submit", ".region_edit_form")
    $(document).on("submit", ".region_edit_form", async function(e){
        e.preventDefault();
        
        if ($(this).find(".show_in_web").is(":checked")) {
            $(this).find("[name=show_in_web]").val("Y")
        } else if ($(this).find(".show_in_web").not(":checked")){
            $(this).find("[name=show_in_web]").val("N")
        }

        if ($(this).find(".address_required").is(":checked")) {
            $(this).find("[name=address_required]").val("Y")
        } else if ($(this).find(".address_required").not(":checked")){
            $(this).find("[name=address_required]").val("N")
        }
        
        $loader = await globalLoader();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    globalLoader($loader);
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });

    });
});
</script>
{/literal}