<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-10">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">電郵列表</div>
    </div>

    <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
    <input name="order" type="hidden" value="{$result_array.page_config.order}">
    <input name="page" type="hidden" value="{$result_array.page_config.page}">
    <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
    <input name="skey" type="hidden" placeholder="名稱" value="{$result_array.page_config.skey}">
</div>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-10">
    <div class="grid grid-cols-5 gap-5 text-gray-600 border-b-2 border-gray-300 px-4 py-3 lg:px-8">
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "name_tc" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="name_tc">
            <!-- {if $result_array.page_config.sort == "name_tc"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if} -->
            <div>名稱</div>
        </div>
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "name_en" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="name_en">
            <!-- {if $result_array.page_config.sort == "name_en"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if} -->
            <div>備註</div>
        </div>
        <div class="flex flex-row my-auto ml-auto">操作</div>
    </div>

    {foreach from=$result_array.emailTplList key=k item=i}
    <div class="grid grid-cols-5 auto-rows-auto items-center gap-5 px-4 py-3 lg:px-8 text-gray-800 border-b border-gray-300 hover:bg-gray-100">
        <div class="col-span-2 truncate">{$i.adm_name}</div>
        <div class="col-span-2 truncate">{$i.remarks}</div>
        <div class="ml-auto">
            <a href="admin/setting/emailTplDtl?tpl_id={$i.tpl_id}" class="border border-gray-300 rounded font-bold py-2 px-2 ml-2 hover:opacity-75" target="_blank">範本</i></a>
        </div>
    </div>
    {/foreach}
</div>

{literal}
<script>
$(document).ready(function(){
    $(document).off("click", ".btn_del");
    $(document).on("click", ".btn_del", async function(e){
        $loader = await globalLoader()
        $this = $(this)
        vkConfirmDefault({
            title: '確認',
            content: '<div>請確認是否刪除這條目？</div>',
            confirmButtonHtml: '確認',
            cancelButtonHtml: '返回',
            confirmButtonFunction: function(){
                $.bajax({
                    url: "admin/member/api/editMembership",
                    method: 'POST',
                    formElement: 'N',
                    data: {
                        shop_id: $this.attr("data-shop_id"),
                        membership_id: $this.attr("data-membership_id"),
                        activate: 'N',
                    },
                    callback: function(data) {
                        if (data.code != 0){
                            globalLoader($loader);
                            globalErrorReturn(data);
                        } else {
                            location.reload();
                        }
                    },
                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                });
            },
            cancelButtonFunction : function(){
                globalLoader($loader);
            }
        })
    })
})
</script>
{/literal}
