<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-10">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">祝賀語列表</div>
    </div>

    <div class="flex bg-white rounded-full ml-auto shadow">
        <form id="list_form" action="admin/setting/greetingCateDtl" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="skey" class="flex px-4 py-2 rounded-full truncate" type="text" placeholder="編號, 名稱" value="{$result_array.page_config.skey}">
                <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div>



<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-10">

    <div class="bg-white rounded-lg py-2 w-full">
        <form id="edit_form" action="/admin/setting/api/editGreetingCate" method="post">
            <input name="shop_id" type="hidden" value="{$result_array.greetingCateDtl.shop_id}" readonly> 
            <div class="flex flex-col w-full lg: pt-6 lg:mr-6">
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">編號</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2 text-gray-500 cursor-not-allowed" name="cate_id" type="text" value="{$result_array.greetingCateDtl.cate_id}" readonly> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">中文</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2" name="name_tc" type="text" value="{$result_array.greetingCateDtl.name_tc}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">英文</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2" name="name_en" type="text" value="{$result_array.greetingCateDtl.name_en}"> 
                    </div>
                </div>
                <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 mt-8 mx-auto rounded-full cursor-pointer" type="submit" value="儲存">
            </div>
        </form>
    </div>

    <div class="p-4 text-2xl">詳細祝頌語列表</div>

    <div class="grid grid-cols-6 gap-3 text-gray-600 border-b-2 border-gray-300 px-4 py-3">
        <div class="flex flex-row my-auto text-sm lg:text-base"><i class="ri-arrow-up-down-line pr-2"></i><div>編號</div></div>
        <div class="flex flex-row my-auto text-sm lg:text-base col-span-2"><i class="ri-arrow-up-down-line pr-2"></i><div>中文</div></div>
        <div class="flex flex-row my-auto text-sm lg:text-base col-span-2"><i class="ri-arrow-up-down-line pr-2"></i><div>英文</div></div>
        <!-- <div class="flex flex-row my-auto text-sm lg:text-base col-span-2"><i class="ri-arrow-up-down-line pr-2"></i><div>中文內容</div></div>
        <div class="flex flex-row my-auto text-sm lg:text-base col-span-2"><i class="ri-arrow-up-down-line pr-2"></i><div>英文內容</div></div> -->
        <div class="flex flex-row my-auto text-sm lg:text-base">操作</div>
    </div>
    
    {foreach from=$result_array.greetingCateDtl.subcateList key=k item=i}
    <div class="grid grid-cols-6 auto-rows-auto gap-3 px-4 py-3 lg:pl-8 text-gray-800 border-b border-gray-300">
        <div>{$i.subcate_id}</div>
        <div class="col-span-2">{$i.name_tc}</div>
        <div class="col-span-2">{$i.name_en}</div>
        <!-- <div>{$i.name_tc}</div>
        <div>{$i.name_en}</div>
        <div class="col-span-2 truncate">{$i.greeting_arr_tc}</div>
        <div class="col-span-2 truncate">{$i.greeting_arr_en}</div> -->
        <div>
            <a href="admin/setting/greetingList?cate_id={$i.parent_cate_id}&subcate_id={$i.subcate_id}"><i class="ri-edit-line pr-1"></i></a>
            <a class="btn_del" data-order_id="{$i.greeting_id}"><i class="ri-delete-bin-line"></i></a>
        </div>
    </div>
    {/foreach}
</div>

{literal}
<script>
$(document).ready(function(){
    $(".content_edit_form").submit(async function(e){
        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            debug: 'Y',
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                globalLoader($loader);
                if (!data.code == 0){
                    vkAlertDefault({
                        title: "錯誤",
                        content: data.code + ": " +data.msg,
                        confirmButtonHtml: "確認",
                        confirmButtonFunction:function(e){}
                    });
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
});
</script>
{/literal}