<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-10">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">祝賀語子分類</div>
    </div>
</div>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-10">
    <div class="py-2 w-full border-b border-gray-200">    
        <form id="subcateForm" action="/admin/setting/api/editGreetingSubcate" method="post">
            <input name="shop_id" type="hidden" value="{$shop_id}" readonly> 
            <input name="parent_cate_id" type="hidden" value="{$result_array.parentCateDtl.cate_id}" readonly> 
            <input name="subcate_id" type="hidden" value="{if $result_array.subcateDtl.subcate_id}{$result_array.subcateDtl.subcate_id}{else}0{/if}" readonly> 
            <div class="flex flex-col w-full lg: pt-6 lg:mr-6">
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">中文</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_tc" type="text" value="{$result_array.subcateDtl.name_tc}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">英文</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_en" type="text" value="{$result_array.subcateDtl.name_en}"> 
                    </div>
                </div>
                <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 my-4 mx-auto rounded-full cursor-pointer" type="submit" value="儲存">
            </div>
        </form>
    </div>
    {if $result_array.subcateDtl.subcate_id}
        <div class="px-6 py-4 text-2xl">祝賀語列表</div>

        <div class="grid grid-cols-4 gap-3 text-gray-600 border-b border-gray-300 px-4 py-3">
            <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "greeting_id" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="greeting_id">
                {if $result_array.page_config.sort == "greeting_id"} 
                    {if $result_array.page_config.order == "desc"}
                        <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                    {else}
                        <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                    {/if}
                {else}
                    <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
                {/if}
                <div>編號</div>
            </div>
            <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "msg" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="msg">
                {if $result_array.page_config.sort == "msg"} 
                    {if $result_array.page_config.order == "desc"}
                        <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                    {else}
                        <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                    {/if}
                {else}
                    <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
                {/if}
                <div>祝賀語信息</div>
            </div>
            <div class="my-auto ml-auto">操作</div>
        </div>
        <div id="greeting_container">
            <div class="greeting">
                <form class="content_edit_form grid grid-cols-4 auto-rows-auto gap-3 px-4 py-3 lg:pl-8 text-gray-800 border-t border-gray-300 items-center" action="/admin/setting/api/editGreeting" method="post">
                    <input type="hidden" name="shop_id" value="{$shop_id}" readonly>
                    <input type="hidden" name="subcate_id" value="{$result_array.subcateDtl.subcate_id}" readonly>
                    <input class="text-gray-600 cursor-not-allowed" type="hidden" name="greeting_id" value="0" readonly>
                    <div>新增祝賀語</div>
                    <input class="col-span-2 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="msg" value="">
                    <div class="ml-auto text-lg flex flex-row items-center">
                        <div class="relative cursor-pointer">
                            <i class="ri-save-line"></i>
                            <input type="submit" class="absolute left-0 top-0 w-full h-full z-50 opacity-0 cursor-pointer">
                        </div>
                    </div>
                </form>
            </div>
            {foreach from=$result_array.subcateDtl.greetingList key=k item=i}
            <div class="greeting">
                <form class="content_edit_form grid grid-cols-4 auto-rows-auto gap-3 px-4 py-3 lg:pl-8 text-gray-800 border-t border-gray-300" action="/admin/setting/api/editGreeting" method="post">
                    <input type="hidden" name="shop_id" value="{$i.shop_id}" readonly>
                    <input type="hidden" name="subcate_id" value="{$i.subcate_id}" readonly>
                    <input class="text-gray-600 cursor-not-allowed" name="greeting_id" value="{$i.greeting_id}" readonly>
                    <input class="col-span-2 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="msg" value="{$i.msg}">
                    <div class="ml-auto text-lg flex flex-row items-center">
                        <div class="relative cursor-pointer">
                            <i class="ri-save-line"></i>
                            <input type="submit" class="absolute left-0 top-0 w-full h-full z-50 opacity-0 cursor-pointer">
                        </div>
                        <a class="btn_del cursor-pointer pl-2" data-greeting_id="{$i.greeting_id}"><i class="ri-delete-bin-line"></i></a>
                    </div>
                </form>
            </div>
            {/foreach}
        </div>
    {/if}
</div>

<script>
var shop_id = '{$shop_id}';
{literal}
$(document).ready(function(){

    $(".btn_del").on("click", async function(){
        $row = $(this).parents(".greeting");
        $loader = await globalLoader();
        $this = $(this)
        vkConfirmDefault({
            title: '確認',
            content: '<div>請確認是否刪除這條目？</div>',
            confirmButtonHtml: '確認',
            cancelButtonHtml: '返回',
            confirmButtonFunction: function(){
                $.bajax({
                    url: "admin/setting/api/editGreeting",
                    method: 'POST',
                    formElement: 'N',
                    data: {
                        greeting_id: $this.attr("data-greeting_id"),
                        shop_id: shop_id,
                        activate: 'N',
                    },
                    callback: function(data) {
                        if (data.code != 0){
                            globalLoader($loader);
                            globalErrorReturn(data);
                        } else {
                            infoPopup();
                            globalLoader($loader);
                            $row.remove();
                        }
                    },
                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                });
            },
            cancelButtonFunction : function(){
                globalLoader($loader);
            }
        })
    });

    $(".btn_add_greeting").on("click", function(e){
        $tpl = $(".greetingTpl").clone();
        $tpl.removeClass("greetingTpl hidden");

        $("#greeting_container").prepend($tpl);
    });

    $("#subcateForm").submit(async function(e){
        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            debug: 'Y',
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    infoPopup();
                    if ($("[name=subcate_id]").val() == 0)
                        location.href = "admin/setting/greetingSubcateDtl?cate_id="+ data.result.parent_cate_id +"&subcate_id=" + data.result.subcate_id;
                    else 
                        globalLoader($loader);
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });

    $(".content_edit_form").submit(async function(e){
        $form = $(this);
        $(this).attr("id","submittingForm");
        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            debug: 'Y',
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                $("#submittingForm").attr("id", "");
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    infoPopup();
                    if ($form.find("[name=greeting_id]").val() == 0 )
                        location.reload();
                    else 
                        globalLoader($loader);
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
});
{/literal}
</script>