<div class="flex flex-col px-4 lg:px-12">
    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">祝賀語管理</div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg py-2 w-full">    
        <form id="edit_form" action="/admin/setting/api/editGreeting" method="post">
            <input name="shop_id" type="text" value="{$shop_id}" readonly hidden> 
            <div class="flex flex-col w-full lg: pt-6 lg:mr-6">
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">編號</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2 text-gray-500 cursor-not-allowed" name="greeting_id" type="text" value="{if $result_array.greetingDtl.greeting_id}{$result_array.greetingDtl.greeting_id}{else}新增祝賀語{/if}" readonly> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">中文</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2" name="name_tc" type="text" value="{$result_array.greetingDtl.name_tc}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">英文</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2" name="name_en" type="text" value="{$result_array.greetingDtl.name_en}"> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">中文內容</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2" name="greeting_arr_tc" type="text" value="{$result_array.greetingDtl.greeting_arr_tc}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">英文內容</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2" name="greeting_arr_en" type="text" value="{$result_array.greetingDtl.greeting_arr_en}"> 
                    </div>
                </div>
                
                <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 mt-8 mx-auto rounded-full cursor-pointer" type="submit" value="儲存">
            </div>
        </form>
    </div>
</div>

<!-- 
用緊這個祝賀語的cate

{foreach from=$result_array.greetingDtl.cate key=k item=i}
    <div class="flex">
        <a href="admin/product/cateDtl?cate_id={$i.cate_id}">{$i.name_tc}</a>
    </div>
{/foreach} -->


{literal}
<script>
$(document).ready(function(){
    $("#edit_form").submit(async function(e){
        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            debug: 'Y',
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    location.href = "admin/setting/greetingDtl?cate_id=" + data.result.cate_id
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
   
});
</script>
{/literal}