<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-10">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">祝賀語分類</div>
    </div>
</div>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-10">

    <div class="py-2 w-full border-b border-gray-200">    
        <form id="edit_form" class="content_edit_form" action="/admin/setting/api/editGreetingCate" method="post">
            <input name="shop_id" type="hidden" value="{$shop_id}" readonly> 
            <input name="cate_id" type="hidden" value="{if $result_array.greetingCateDtl.cate_id}{$result_array.greetingCateDtl.cate_id}{else}0{/if}" readonly> 
            <div class="flex flex-col w-full lg: pt-6 lg:mr-6">
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">中文</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_tc" type="text" value="{$result_array.greetingCateDtl.name_tc}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">英文</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_en" type="text" value="{$result_array.greetingCateDtl.name_en}"> 
                    </div>
                </div>
                <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 my-4 mx-auto rounded-full cursor-pointer" type="submit" value="儲存">
            </div>
        </form>
    </div>
    {if $result_array.greetingCateDtl.cate_id}
        <div class="flex items-center">
            <div class="px-6 py-4 text-2xl">祝賀語子分類列表</div>
            <a href="admin/setting/greetingSubcateDtl?cate_id={$result_array.greetingCateDtl.cate_id}&subcate_id={$i.subcate_id}" class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 my-4 rounded-full cursor-pointer">新增子類別</a>
        </div>

        <div class="grid grid-cols-6 gap-3 text-gray-600 border-b border-gray-300 px-4 py-3">
            <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "greeting_id" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="greeting_id">
                {if $result_array.page_config.sort == "greeting_id"} 
                    {if $result_array.page_config.order == "desc"}
                        <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                    {else}
                        <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                    {/if}
                {else}
                    <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
                {/if}
                <div>編號</div>
            </div>
            <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "name_tc" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="name_tc">
                {if $result_array.page_config.sort == "name_tc"} 
                    {if $result_array.page_config.order == "desc"}
                        <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                    {else}
                        <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                    {/if}
                {else}
                    <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
                {/if}
                <div>中文</div>
            </div>
            <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "name_en" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="name_en">
                {if $result_array.page_config.sort == "name_en"} 
                    {if $result_array.page_config.order == "desc"}
                        <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                    {else}
                        <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                    {/if}
                {else}
                    <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
                {/if}
                <div>英文</div>
            </div>
            <div class="flex flex-row my-auto text-sm lg:text-base ml-auto">操作</div>
        </div>
        
        {foreach from=$result_array.greetingCateDtl.subcateList key=k item=i}
        <div class="subcate grid grid-cols-6 auto-rows-auto items-center gap-3 px-4 py-3 lg:pl-8 text-gray-800 border-t border-gray-300 hover:bg-gray-100">
            <div>{$i.subcate_id}</div>
            <div class="col-span-2">{$i.name_tc}</div>
            <div class="col-span-2">{$i.name_en}</div>
            <div class="ml-auto">
                <a href="admin/setting/greetingSubcateDtl?cate_id={$i.parent_cate_id}&subcate_id={$i.subcate_id}"><i class="ri-edit-line pr-2 hover:text-gray-400 text-lg"></i></a>
                <a class="btn_del" data-subcate_id="{$i.subcate_id}"><i class="ri-delete-bin-line hover:text-gray-400 text-lg"></i></a>
            </div>
        </div>
        {/foreach}
    {/if}
</div>

<script>
var shop_id = '{$shop_id}';
{literal}
$(document).ready(function(){
    $(".btn_del").on("click", async function(){
        $row = $(this).parents(".subcate");
        $loader = await globalLoader();
        $this = $(this)
        vkConfirmDefault({
            title: '確認',
            content: '<div>請確認是否刪除這條目？</div>',
            confirmButtonHtml: '確認',
            cancelButtonHtml: '返回',
            confirmButtonFunction: function(){
                $.bajax({
                    url: "admin/setting/api/editGreetingSubcate",
                    method: 'POST',
                    formElement: 'N',
                    data: {
                        subcate_id: $this.attr("data-subcate_id"),
                        shop_id: shop_id,
                        activate: 'N',
                    },
                    callback: function(data) {
                        if (data.code != 0){
                            globalLoader($loader);
                            globalErrorReturn(data);
                        } else {
                            infoPopup();
                            globalLoader($loader);
                            $row.remove();
                        }
                    },
                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                });
            },
            cancelButtonFunction : function(){
                globalLoader($loader);
            }
        })
    });

    $(".content_edit_form").submit(async function(e){
        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    infoPopup();
                    if ($("[name=cate_id").val() == 0)
                        location.href = "admin/setting/greetingCateDtl?cate_id=" + data.result.cate_id
                    else
                        globalLoader($loader);
                    
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
});
{/literal}
</script>