<div class="flex flex-col px-4 lg:px-12">
    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">假期管理</div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg py-2 w-full">    
        <form id="edit_form" action="/admin/setting/api/editHoliday" method="post">
            <input name="shop_id" type="text" value="{$shop_id}" readonly hidden> 
            <div class="flex flex-col w-full lg: pt-6 lg:mr-6">
                <div class="grid grid-cols-1 lg:grid-cols-2 lg:px-8">
                    <input name="holiday_id" type="hidden" value="{if $result_array.holidayDtl.holiday_id}{$result_array.holidayDtl.holiday_id}{else}0{/if}" readonly> 
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">名稱(只在管理頁面使用)</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="adm_name" type="text" value="{$result_array.holidayDtl.adm_name}"> 
                    </div>
                    <div class="flex w-full">
                        <div class="w-full p-2">
                            <div class="text-sm text-gray-600 pb-2">每日限額<span class="text-xs text-gray-400">(每日出貨上限, 客人<span class="text-red-600 font-bold text-base">不能</span>下單超出此數量的訂單)</span></div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="quota_everyday" type="text" value="{$result_array.holidayDtl.quota_everyday}"> 
                        </div>
                        <!-- <div class="p-2 flex-none items-center">
                            <div class="text-sm text-gray-600 pb-3">休息</div>
                            <label class="switch">
                                <input type="hidden" name="isDayOff">
                                <input id="isDayOff" type="checkbox" {if $result_array.holidayDtl.isDayOff === 'Y'}checked{/if}>
                                <span class="slider"></span>
                            </label>
                        </div> -->
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="p-2 flex-1">
                        <div class="text-sm text-gray-600 pb-2">開始日期</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="start_date" type="date" value="{$result_array.holidayDtl.start_date|substr:0:10}"> 
                    </div>
                    <div class="p-2 flex-1">
                        <div class="text-sm text-gray-600 pb-2">結束日期</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="end_date" type="date" value="{$result_array.holidayDtl.end_date|substr:0:10}"> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">中文備註 <span class="text-xs text-gray-400">(會顯示在前台提示客人)</span></div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remark_tc" type="text" value="{$result_array.holidayDtl.remark_tc}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">英文備註 <span class="text-xs text-gray-400">(會顯示在前台提示客人)</span></div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remark_en" type="text" value="{$result_array.holidayDtl.remark_en}"> 
                    </div>
                </div>

                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">產品<span class="text-xs text-gray-400">(只適用已選擇產品, 如果漏空, 將會適用在<span class="text-sm text-red-600">所有</span>產品)</span></div>
                        <select class="product_id_arr selectize rounded" multiple>
                            {foreach from=$result_array.productList key=k item=i}
                            <option value="{$i.product_id}" {if in_array($i.product_id, $result_array.holidayDtl.productList)}selected{/if}>({$i.product_code}) {$i.product_name}</option>
                            {/foreach}
                        </select>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="product_id_arr" type="hidden" value="{$result_array.holidayDtl.product_id_arr}"> 
                    </div>
                </div>
                <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 my-4 mx-auto rounded-full cursor-pointer" type="submit" value="儲存">
            </div>
        </form>
    </div>
</div>

{literal}
<script>
$(document).ready(function(){
    $("#edit_form").submit(async function(e){
        $("[name=product_id_arr]").val($(".product_id_arr").val().toString());

        if ($("#isDayOff").is(":checked")) {
            $("[name=isDayOff]").val("Y")
        } else if ($("#isDayOff").not(":checked")){
            $("[name=isDayOff]").val("N")
        }

        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    infoPopup();
                    location.href = "admin/setting/holidayDtl?holiday_id=" + data.result.holiday_id
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
});
</script>
{/literal}