<div class="flex flex-col px-4 lg:px-10">
    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">運送區域管理</div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg py-2 w-full">    
        <form id="edit_form" action="/admin/setting/api/editRegion" method="post">
            <input name="shop_id" type="text" value="{$result_array.regionDtl.shop_id}" readonly hidden> 
            <div class="flex flex-col w-full lg: pt-6 lg:mr-6">
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">編號</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2 text-gray-500 cursor-not-allowed" name="region_id" type="text" value="{$result_array.regionDtl.region_id}" readonly> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">中文</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2" name="name_tc" type="text" value="{$result_array.regionDtl.name_tc}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">英文</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2" name="name_en" type="text" value="{$result_array.regionDtl.name_en}"> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">運費</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2" name="shipping_fee" type="text" value="{$result_array.regionDtl.shipping_fee}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">使用中</div>
                        <select class="bg-gray-200 rounded-lg w-full py-1 pl-2" name="active" type="text" value="{$result_array.regionDtl.active}">
                            <option value="Y">Yes</option>
                            <option value="N">No</option>
                        </select>
                    </div><div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">需要地址</div>
                        <select class="bg-gray-200 rounded-lg w-full py-1 pl-2" name="address_required" type="text" value="{$result_array.regionDtl.address_required}">
                            <option value="Y">Yes</option>
                            <option value="N">No</option>
                        </select>
                    </div>
                </div>
                <input type="text" name="sort" value="{$result_array.regionDtl.sort}" hidden>
                <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 mt-8 mx-auto rounded-full cursor-pointer" type="submit" value="儲存">
            </div>
        </form>
    </div>

    <div class="bg-white rounded-lg shadow-lg py-2 w-full my-4">    
        <div class="text-2xl px-10 py-4">增加地區</div>
        <form id="edit_form" action="/admin/setting/api/editDistrict" method="post">
            <input name="shop_id" type="text" value="{$shop_id}" readonly hidden> 
            <div class="flex flex-col w-full lg:pt-4 lg:mr-6">
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">編號</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2" name="district_id" type="text" value="0"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">地區編號</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2" name="region_id" type="text" value="{$result_array.regionDtl.region_id}"> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">中文</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2" name="name_tc" type="text"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">英文</div>
                        <input class="bg-gray-200 rounded-lg w-full py-1 pl-2" name="name_en" type="text"> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">使用中</div>
                        <select class="bg-gray-200 rounded-lg w-full py-1 pl-2" name="active" type="text">
                            <option value="Y">Yes</option>
                            <option value="N">No</option>
                        </select>
                    </div>
                </div>
                <input type="text" name="sort" hidden>
                <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 mt-8 mx-auto rounded-full cursor-pointer" type="submit" value="儲存">
            </div>
        </form>
    </div>
</div>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-10">
    <div class="grid grid-cols-7 gap-3 text-gray-600 border-b-2 border-gray-300 px-4 py-3">
        <div class="flex flex-row my-auto text-sm lg:text-base"><i class="ri-arrow-up-down-line pr-2"></i><div>編號</div></div>
        <div class="flex flex-row my-auto text-sm lg:text-base col-span-2"><i class="ri-arrow-up-down-line pr-2"></i><div>中文</div></div>
        <div class="flex flex-row my-auto text-sm lg:text-base col-span-2"><i class="ri-arrow-up-down-line pr-2"></i><div>英文</div></div>
        <div class="flex flex-row my-auto text-sm lg:text-base"><i class="ri-arrow-up-down-line pr-2"></i><div>使用中</div></div>
        <div class="flex flex-row my-auto text-sm lg:text-base">操作</div>
    </div>

    {foreach from=$result_array.regionDtl.districtList key=k item=i}
    <div class="grid grid-cols-7 auto-rows-auto gap-3 px-4 py-3 lg:pl-8 text-gray-800 border-b border-gray-300">
        <div>{$i.district_id}</div>
        <div class="col-span-2 truncate">{$i.name_tc}</div>
        <div class="col-span-2 truncate">{$i.name_en}</div>
        <div>{if $i.active == 'Y'}<i class="ri-check-line text-lg"></i>{else}<i class="ri-close-line text-lg"></i>{/if}</div>
        <div>
            <a href="#"><i class="ri-edit-line pr-1"></i></a>
            <a class="btn_del" data-order_id="{$i.district_id}"><i class="ri-delete-bin-line"></i></a>
        </div>
    </div>
    {/foreach}
</div>


{literal}
<script>
$(document).ready(function(){
    $(".content_edit_form").submit(async function(e){
        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            debug: 'Y',
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                globalLoader($loader);
                if (!data.code == 0){
                    vkAlertDefault({
                        title: "錯誤",
                        content: data.code + ": " +data.msg,
                        confirmButtonHtml: "確認",
                        confirmButtonFunction:function(e){}
                    });
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
});
</script>
{/literal}