<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-10">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">運送區域列表</div>
    </div>
    <a href="admin/setting/regionDtl?region_id=0"><div class=" ml-4 px-8 py-2 bg-blue-500 hover:bg-blue-400 text-white rounded-full mr-auto cursor-pointer">新增區域</div></a>

    <div class="flex bg-white rounded-full ml-auto shadow">
        <form id="list_form" action="admin/setting/regionList" method="get" class="m-0">
            <div class="flex flex-row">
                <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 mr-1 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="skey" class="flex p-2 rounded-full truncate" type="text" placeholder="編號, 名稱" value="{$result_array.page_config.skey}">
            </div>
        </form>
    </div>
</div>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-10">
    <div class="grid grid-cols-9 gap-3 text-gray-600 border-b-2 border-gray-300 px-4 py-3 lg:px-8">
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "region_id" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="region_id">
            {if $result_array.page_config.sort == "region_id"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>編號</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "name_tc" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="name_tc">
            {if $result_array.page_config.sort == "name_tc"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>中文</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "name_en" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="name_en">
            {if $result_array.page_config.sort == "name_en"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>英文</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "shipping_fee" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="shipping_fee">
            {if $result_array.page_config.sort == "shipping_fee"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>運費</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "slot_id" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="slot_id">
            {if $result_array.page_config.sort == "slot_id"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>使用中</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "address_required" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="address_required">
            {if $result_array.page_config.sort == "address_required"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>需要地址</div>
        </div>
        <div class="flex flex-row my-auto text-sm lg:text-base ml-auto">操作</div>
    </div>

    {foreach from=$result_array.regionList key=k item=i}
    <div class="grid grid-cols-9 auto-rows-auto gap-3 px-4 py-3 lg:px-8 text-gray-800 border-b border-gray-300 hover:bg-gray-100">
        <div>{$i.region_id}</div>
        <div class="col-span-2 truncate">{$i.name_tc}</div>
        <div class="col-span-2 truncate">{$i.name_en}</div>
        <div>{if $i.shipping_fee}$ {$i.shipping_fee}{else}{/if}</div>
        <div>{if $i.active == 'Y'}<i class="ri-check-line text-lg"></i>{else}<i class="ri-close-line text-lg hover:text-gray-400"></i>{/if}</div>
        <div>{if $i.address_required == 'Y'}<i class="ri-check-line text-lg"></i>{else}<i class="ri-close-line text-lg hover:text-gray-400"></i>{/if}</div>
        <div class="ml-auto">
            <a href="admin/setting/regionDtl?region_id={$i.region_id}"><i class="ri-edit-line pr-1"></i></a>
            <a class="btn_del" data-order_id="{$i.coupon_id}"><i class="ri-delete-bin-line"></i></a>
        </div>
    </div>
    {/foreach}
</div>
<!-- {$result_array|@print_r} -->