<div class="flex flex-col px-4 lg:px-12">
    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">時段管理</div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg py-2 w-full">
        <form id="edit_form" action="admin/setting/api/editTimeslot" method="post">
            <input name="shop_id" type="hidden"
                value="{if $result_array.timeslotDtl.shop_id}{$result_array.timeslotDtl.shop_id}{else}1{/if}" readonly>
            <div class="flex flex-col w-full lg: pt-6 lg:mr-6">
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="slot_id" type="hidden" value="{if $result_array.timeslotDtl.slot_id}{$result_array.timeslotDtl.slot_id}{else}0{/if}" readonly>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">名稱</div>
                        <input
                            class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0"
                            name="adm_name" type="text" value="{$result_array.timeslotDtl.adm_name}">
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">網上付款同日送貨</div>
                        <select class="border border-gray-300 rounded-lg w-full py-1 pl-2  focus:border-opacity-0"
                            name="online_pay_same_day" type="text"
                            value="{$result_array.timeslotDtl.online_pay_same_day}">
                            <option value="Y" {if $result_array.timeslotDtl.online_pay_same_day=="Y" }selected{/if}>Yes
                                </option> <option value="N" {if $result_array.timeslotDtl.online_pay_same_day=="N"
                                }selected{/if}>No </option> </select> </div> </div> <div
                                class="flex flex-col lg:flex-row justify-between lg:px-8">
                                <div class="w-full p-2">
                                    <div class="text-sm text-gray-600 pb-2">開始時間</div>
                                    <input
                                        class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0"
                                        name="start_time" type="time" value="{$result_array.timeslotDtl.start_time}">
                                </div>
                                <div class="w-full p-2">
                                    <div class="text-sm text-gray-600 pb-2">結束時間</div>
                                    <input
                                        class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0"
                                        name="end_time" type="time" value="{$result_array.timeslotDtl.end_time}">
                                </div>
                    </div>
                    <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                        <div class="w-full p-2">
                            <div class="text-sm text-gray-600 pb-2">同日送貨運費</div>
                            <input
                                class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0"
                                name="same_day_deli_fee" type="text"
                                value="{$result_array.timeslotDtl.same_day_deli_fee}">
                        </div>
                        <div class="w-full p-2">
                            <div class="text-sm text-gray-600 pb-2">運費</div>
                            <input
                                class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0"
                                name="deli_fee" type="text" value="{$result_array.timeslotDtl.deli_fee}">
                        </div>
                    </div>
                    <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                        <div class="w-full p-2">
                            <div class="text-sm text-gray-600 pb-2">預設</div>
                            <select class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:border-opacity-0"
                                name="default" type="text" value="{$result_array.timeslotDtl.default}">
                                <option value="Y" {if $result_array.timeslotDtl.default=="Y" }selected{/if}>Yes
                                    </option> <option value="N" {if $result_array.timeslotDtl.default=="N"
                                    }selected{/if}>No </option> </select> </div> <div class="w-full p-2">
                                    <div class="text-sm text-gray-600 pb-2">顯示頁面</div>
                                    <select
                                        class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:border-opacity-0"
                                        name="show_in_web" type="text" value="{$result_array.timeslotDtl.show_in_web}">
                                        <option value="Y" {if $result_array.timeslotDtl.show_in_web=="Y"
                                            }selected{/if}>Yes </option> <option value="N" {if
                                            $result_array.timeslotDtl.show_in_web=="N" }selected{/if}>No </option>
                                            </select> </div> </div> <input
                                            class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 my-4 mx-auto rounded-full cursor-pointer"
                                            type="submit" value="儲存">
                        </div>
        </form>
    </div>
</div>

{literal}
<script>
    $(document).ready(function () {
        $("#edit_form").submit(async function (e) {
            $loader = await globalLoader();
            e.preventDefault();
            $.bajax({
                url: $(this).attr("action"),
                method: 'POST',
                formElement: 'Y',
                formElementID: $(this).attr('id'),
                callback: function (data) {
                    if (!data.code == 0) {
                        globalLoader($loader);
                        globalErrorReturn(data);
                    } else {
                        globalLoader($loader);
                        location.href = "admin/setting/timeslotDtl?slot_id=" + data.result.slot_id
                    }
                },
                errorCallback: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            });
        })
    });
</script>
{/literal}