<form id="edit_form" action="/admin/user/api/editAdminRole" method="post">
    <div class="px-6 py-2">
        <div class="flex flex-col w-full justify-start px-8 py-4 bg-white rounded-lg">
            <div class="flex flex-col">
                <div class="text-gray-500 text-sm pb-1">角色名字:</div>
                <input name="role_id" type="hidden" value="{if $result_array.roleDtl}{$result_array.roleDtl.role_id}{else}0{/if}"> 
                <input name="adm_name" type="text" class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" value="{$result_array.roleDtl.adm_name}"> 
            </div>

            <div class="flex flex-col pt-4">
                <div class="text-gray-500 text-sm py-2">產品white list: (PS: 沒有輸入示為所有產品階可)</div>
                <select class="product_id_select selectize border border-gray-300 rounded" multiple>
                    {foreach from=$result_array.productList key=k item=i}
                        <option value="{$i.product_id}" {if $result_array.roleDtl.product_id_arr|strstr:{$i.product_id}}selected{/if}>{$i.product_name}</option>
                    {/foreach}
                </select>
                <input name="product_id_arr" type="hidden"> 
            </div>
        </div>
    </div>
        
    <div class="mb-5 px-6">
        <div class="bg-white rounded-lg mb-4">
            <div class="role_category_all">
                <div class="flex flex-row w-full h-full items-center py-2">
                    <div class="text-3xl font-bold p-4" id="app_all_setting">手機應用程式</div>
                    <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl-all" data-ctl="N">無權閱覽</div>
                    <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl-all" data-ctl="Y">閱覽並使用</div>
                </div>
                <div class="role_category">
                    <!-- <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 px-4">一般</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="N">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="Y">閱覽並使用</div>
                    </div> -->
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>
                                倉庫管理
                            </div>
                            <div>
                                <select class="border border-gray-300 rounded-lg w-full py-1 pl-2" name="mobile_right">
                                    <option value="N" {if $result_array.roleDtl.mobile_right == "N"}selected{/if}>無權閱覽</option>
                                    <option value="Y" {if $result_array.roleDtl.mobile_right == "Y"}selected{/if}>閱覽並使用</option>
                                </select>
                            </div>
                        </div>
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>
                                送貨時間頁面
                            </div>
                            <div>
                                <select class="border border-gray-300 rounded-lg w-full py-1 pl-2" name="driver_right">
                                    <option value="N" {if $result_array.roleDtl.driver_right == "N"}selected{/if}>無權閱覽</option>
                                    <option value="Y" {if $result_array.roleDtl.driver_right == "Y"}selected{/if}>閱覽並使用</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-5 px-6">
        <div class="bg-white rounded-lg mb-4">
            <div class="role_category_all">
                <div class="flex flex-row w-full h-full items-center py-2">
                    <div class="text-3xl font-bold p-4" id="gift_all_setting">The Gift</div>
                    <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl-all" data-ctl="10">無權閱覽</div>
                    <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl-all" data-ctl="30">閱覽</div>
                    <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl-all" data-ctl="50">修改</div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 px-4">一般</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>資訊板, 供應商管理, 未處理祝賀卡管理, 會員等級管理, 
                                    <span class="tooltip cursor-default">設定
                                        <span class="tooltiptext px-2 py-1 whitespace-nowrap">祝賀語管理, 假期管理, 時段管理, 運送區域管理, 特別運送條件管理, 賀卡列表, 電郵列表</span>
                                    </span>
                            </div>
                            <div>
                                <select class="border border-gray-300 rounded-lg w-full py-1 pl-2 gift-gen-stg" name="gift_shop">
                                    <option value="10" {if $result_array.roleDtl.gift_right.shop eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.gift_right.shop eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.gift_right.shop eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">倉庫管理</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>物品管理, 物品組合管理</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">物品管理
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">物品管理
                                        物品組合管理</span>
                                </span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="gift_item">
                                    <option value="10" {if $result_array.roleDtl.gift_right.item eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.gift_right.item eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.gift_right.item eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>入庫紀錄, 出庫紀錄, 庫存狀態, 盤點</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">倉庫管理
                                    <span class="tooltiptext px-2 py-1 whitespace-nowrap">入庫紀錄, 出庫紀錄, 庫存狀態, 盤點</span>
                                </span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="gift_warehouse">
                                    <option value="10" {if $result_array.roleDtl.gift_right.warehouse eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.gift_right.warehouse eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.gift_right.warehouse eq '50'}selected{/if}>修改</option> 
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">訂單管理</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>訂單管理, 運單管理, 未處理的入數紙, 未處理的Excel, 未處理賀卡</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">訂單管理
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">訂單管理
                                        運單管理
                                        未處理的入數紙
                                        未處理的Excel
                                        未處理賀卡</span>
                                </span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="gift_order">
                                    <option value="10" {if $result_array.roleDtl.gift_right.order eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.gift_right.order eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.gift_right.order eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>快速下單</div>
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="gift_quickOrder">
                                    <option value="10" {if $result_array.roleDtl.gift_right.quickOrder eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.gift_right.quickOrder eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.gift_right.quickOrder eq '50'}selected{/if}>修改</option> 
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">產品管理 / 分類管理</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>產品管理, 附加產品管理, 產品範本管理, 截單範本管理</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">產品管理
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">產品管理
                                        附加產品管理
                                        產品範本管理
                                        截單範本管理</span>
                                </span>
                                <span class="px-3">/</span>
                                <span>分類管理</span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="gift_product">
                                    <option value="10" {if $result_array.roleDtl.gift_right.product eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.gift_right.product eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.gift_right.product eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">網站管理</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>風格管理, 資訊管理, 導覽列管理, 彈出框, 所有頁面</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">網站管理
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">風格管理
                                        資訊管理
                                        導覽列管理
                                        彈出框
                                        所有頁面</span>
                                </span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="gift_page">
                                    <option value="10" {if $result_array.roleDtl.gift_right.page eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.gift_right.page eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.gift_right.page eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">會員管理</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>一般會員, 公司會員</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">會員管理
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">一般會員
                                        公司會員</span>
                                </span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="gift_member">
                                    <option value="10" {if $result_array.roleDtl.gift_right.member eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.gift_right.member eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.gift_right.member eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">折扣及宣傳</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>優惠券, 優惠碼, 積分匯率, 公司註冊優惠, 實體禮物, 實體禮物訂單, 禮物卡, 新會員優惠</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">折扣及宣傳
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">優惠券
                                        優惠碼
                                        積分匯率
                                        公司註冊優惠
                                        實體禮物
                                        實體禮物訂單
                                        禮物卡
                                        新會員優惠</span>
                                </span>
                            </div>  -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="gift_discount">
                                    <option value="10" {if $result_array.roleDtl.gift_right.discount eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.gift_right.discount eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.gift_right.discount eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">管理員管理</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>管理員列表, 管理員角色</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">管理員管理
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">管理員列表
                                        管理員角色</span>
                                </span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="gift_admin">
                                    <option value="10" {if $result_array.roleDtl.gift_right.admin eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.gift_right.admin eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.gift_right.admin eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-5 px-6">
        <div class="bg-white rounded-lg mb-4">
            <div class="role_category_all">
                <div class="flex flex-row w-full h-full items-center py-2">
                    <div class="text-3xl font-bold p-4" id="zuri_all_setting">Little Zuri</div>
                    <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl-all" data-ctl="10">無權閱覽</div>
                    <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl-all" data-ctl="30">閱覽</div>
                    <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl-all" data-ctl="50">修改</div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 px-4">一般</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>資訊板, 供應商管理, 未處理祝賀卡管理, 會員等級管理, 
                                    <span class="tooltip cursor-default">設定
                                        <span class="tooltiptext px-2 py-1 whitespace-nowrap">祝賀語管理, 假期管理, 時段管理, 運送區域管理, 特別運送條件管理, 賀卡列表, 電郵列表</span>
                                    </span>
                            </div>
                            <div>
                                <select class="border border-gray-300 rounded-lg w-full py-1 pl-2 zuri-gen-stg" name="zuri_shop">
                                    <option value="10" {if $result_array.roleDtl.zuri_right.shop eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.zuri_right.shop eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.zuri_right.shop eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">倉庫管理</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>物品管理, 物品組合管理</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">物品管理
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">物品管理
                                        物品組合管理</span>
                                </span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="zuri_item">
                                    <option value="10" {if $result_array.roleDtl.zuri_right.item eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.zuri_right.item eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.zuri_right.item eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>入庫紀錄, 出庫紀錄, 庫存狀態, 盤點</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">倉庫管理
                                    <span class="tooltiptext px-2 py-1 whitespace-nowrap">入庫紀錄, 出庫紀錄, 庫存狀態, 盤點</span>
                                </span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="zuri_warehouse">
                                    <option value="10" {if $result_array.roleDtl.zuri_right.warehouse eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.zuri_right.warehouse eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.zuri_right.warehouse eq '50'}selected{/if}>修改</option> 
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">訂單管理</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>訂單管理, 運單管理, 未處理的入數紙, 未處理的Excel, 未處理賀卡</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">訂單管理
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">訂單管理
                                        運單管理
                                        未處理的入數紙
                                        未處理的Excel
                                        未處理賀卡</span>
                                </span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="zuri_order">
                                    <option value="10" {if $result_array.roleDtl.zuri_right.order eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.zuri_right.order eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.zuri_right.order eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>快速下單</div>
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="zuri_quickOrder">
                                    <option value="10" {if $result_array.roleDtl.zuri_right.quickOrder eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.zuri_right.quickOrder eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.zuri_right.quickOrder eq '50'}selected{/if}>修改</option> 
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">產品管理 / 分類管理</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>產品管理, 附加產品管理, 產品範本管理, 截單範本管理</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">產品管理
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">產品管理
                                        附加產品管理
                                        產品範本管理
                                        截單範本管理</span>
                                </span>
                                <span class="px-3">/</span>
                                <span>分類管理</span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="zuri_product">
                                    <option value="10" {if $result_array.roleDtl.zuri_right.product eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.zuri_right.product eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.zuri_right.product eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">網站管理</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>風格管理, 資訊管理, 導覽列管理, 彈出框, 所有頁面</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">網站管理
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">風格管理
                                        資訊管理
                                        導覽列管理
                                        彈出框
                                        所有頁面</span>
                                </span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="zuri_page">
                                    <option value="10" {if $result_array.roleDtl.zuri_right.page eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.zuri_right.page eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.zuri_right.page eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">會員管理</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>一般會員, 公司會員</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">會員管理
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">一般會員
                                        公司會員</span>
                                </span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="zuri_member">
                                    <option value="10" {if $result_array.roleDtl.zuri_right.member eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.zuri_right.member eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.zuri_right.member eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">折扣及宣傳</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>優惠券, 優惠碼, 積分匯率, 公司註冊優惠, 實體禮物, 實體禮物訂單, 禮物卡, 新會員優惠</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">折扣及宣傳
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">優惠券
                                        優惠碼
                                        積分匯率
                                        公司註冊優惠
                                        實體禮物
                                        實體禮物訂單
                                        禮物卡
                                        新會員優惠</span>
                                </span>
                            </div>  -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="zuri_discount">
                                    <option value="10" {if $result_array.roleDtl.zuri_right.discount eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.zuri_right.discount eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.zuri_right.discount eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">管理員管理</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>管理員列表, 管理員角色</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">管理員管理
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">管理員列表
                                        管理員角色</span>
                                </span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="zuri_admin">
                                    <option value="10" {if $result_array.roleDtl.zuri_right.admin eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.zuri_right.admin eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.zuri_right.admin eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-5 px-6">
        <div class="bg-white rounded-lg mb-4">
            <div class="role_category_all">
                <div class="flex flex-row w-full h-full items-center py-2">
                    <div class="text-3xl font-bold p-4" id="ltp_all_setting">LoTaiPo</div>
                    <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl-all" data-ctl="10">無權閱覽</div>
                    <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl-all" data-ctl="30">閱覽</div>
                    <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl-all" data-ctl="50">修改</div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 px-4">一般</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>資訊板, 供應商管理, 未處理祝賀卡管理, 會員等級管理, 
                                    <span class="tooltip cursor-default">設定
                                        <span class="tooltiptext px-2 py-1 whitespace-nowrap">祝賀語管理, 假期管理, 時段管理, 運送區域管理, 特別運送條件管理, 賀卡列表, 電郵列表</span>
                                    </span>
                            </div>
                            <div>
                                <select class="border border-gray-300 rounded-lg w-full py-1 pl-2 ltp-gen-stg" name="ltp_shop">
                                    <option value="10" {if $result_array.roleDtl.ltp_right.shop eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.ltp_right.shop eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.ltp_right.shop eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">倉庫管理</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>物品管理, 物品組合管理</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">物品管理
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">物品管理
                                        物品組合管理</span>
                                </span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="ltp_item">
                                    <option value="10" {if $result_array.roleDtl.ltp_right.item eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.ltp_right.item eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.ltp_right.item eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>入庫紀錄, 出庫紀錄, 庫存狀態, 盤點</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">倉庫管理
                                    <span class="tooltiptext px-2 py-1 whitespace-nowrap">入庫紀錄, 出庫紀錄, 庫存狀態, 盤點</span>
                                </span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="ltp_warehouse">
                                    <option value="10" {if $result_array.roleDtl.ltp_right.warehouse eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.ltp_right.warehouse eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.ltp_right.warehouse eq '50'}selected{/if}>修改</option> 
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">訂單管理</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>訂單管理, 運單管理, 未處理的入數紙, 未處理的Excel, 未處理賀卡</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">訂單管理
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">訂單管理
                                        運單管理
                                        未處理的入數紙
                                        未處理的Excel
                                        未處理賀卡</span>
                                </span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="ltp_order">
                                    <option value="10" {if $result_array.roleDtl.ltp_right.order eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.ltp_right.order eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.ltp_right.order eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>快速下單</div>
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="ltp_quickOrder">
                                    <option value="10" {if $result_array.roleDtl.ltp_right.quickOrder eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.ltp_right.quickOrder eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.ltp_right.quickOrder eq '50'}selected{/if}>修改</option> 
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">產品管理 / 分類管理</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>產品管理, 附加產品管理, 產品範本管理, 截單範本管理</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">產品管理
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">產品管理
                                        附加產品管理
                                        產品範本管理
                                        截單範本管理</span>
                                </span>
                                <span class="px-3">/</span>
                                <span>分類管理</span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="ltp_product">
                                    <option value="10" {if $result_array.roleDtl.ltp_right.product eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.ltp_right.product eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.ltp_right.product eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">網站管理</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>風格管理, 資訊管理, 導覽列管理, 彈出框, 所有頁面</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">網站管理
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">風格管理
                                        資訊管理
                                        導覽列管理
                                        彈出框
                                        所有頁面</span>
                                </span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="ltp_page">
                                    <option value="10" {if $result_array.roleDtl.ltp_right.page eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.ltp_right.page eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.ltp_right.page eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">會員管理</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>一般會員, 公司會員</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">會員管理
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">一般會員
                                        公司會員</span>
                                </span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="ltp_member">
                                    <option value="10" {if $result_array.roleDtl.ltp_right.member eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.ltp_right.member eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.ltp_right.member eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">折扣及宣傳</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 border-b border-gray-200 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>優惠券, 優惠碼, 積分匯率, 公司註冊優惠, 實體禮物, 實體禮物訂單, 禮物卡, 新會員優惠</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">折扣及宣傳
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">優惠券
                                        優惠碼
                                        積分匯率
                                        公司註冊優惠
                                        實體禮物
                                        實體禮物訂單
                                        禮物卡
                                        新會員優惠</span>
                                </span>
                            </div>  -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="ltp_discount">
                                    <option value="10" {if $result_array.roleDtl.ltp_right.discount eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.ltp_right.discount eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.ltp_right.discount eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="role_category">
                    <div class="flex flex-row w-full h-full items-center">
                        <div class="text-gray-800 text-xl pb-2 pt-4 px-4">管理員管理</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-none btn-ctl" data-ctl="10">無權閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-read btn-ctl" data-ctl="30">閱覽</div>
                        <div class="flex items-center bg-gray-300 hover:opacity-80 rounded-full px-3 text-sm cursor-pointer h-6 text-gray-800 mx-2 btn-edit btn-ctl" data-ctl="50">修改</div>
                    </div>
                    <div class="grid grid-cols-2 gap-3 pb-4 px-4 text-gray-600">
                        <div class="flex flex-row w-full items-center justify-between">
                            <div>管理員列表, 管理員角色</div>
                            <!-- <div>
                                <span class="tooltip cursor-default">管理員管理
                                    <span class="tooltiptext px-2 py-1 whitespace-pre-wrap w-32 leading-tight">管理員列表
                                        管理員角色</span>
                                </span>
                            </div> -->
                            <div>
                                <select class="border border-gray-200 rounded-lg w-full py-1 pl-2" name="ltp_admin">
                                    <option value="10" {if $result_array.roleDtl.ltp_right.admin eq '10'}selected{/if}>無權閱覽</option>
                                    <option value="30" {if $result_array.roleDtl.ltp_right.admin eq '30'}selected{/if}>閱覽</option>
                                    <option value="50" {if $result_array.roleDtl.ltp_right.admin eq '50'}selected{/if}>修改</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex w-full border-t border-gray-300">
                <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 my-8 mx-auto rounded-full cursor-pointer" type="submit" value="儲存">
            </div>
        </div>
    </div>

    
</form>


{literal}
<script>
$(document).ready(function(){
    
    $(document).off("click", ".btn-ctl")
    $(document).on("click", ".btn-ctl", function(){

        var act = $(this).attr("data-ctl"); // del / edit / none
        var $container = $(this).parents(".role_category");

        $container.find("select option").attr("selected", false);
        $container.find("select option[value=" + act + "]").attr("selected", true);
    })

    $(document).off("click", ".btn-ctl-all")
    $(document).on("click", ".btn-ctl-all", function(){

        var act = $(this).attr("data-ctl"); // del / edit / none
        var $container = $(this).parents(".role_category_all");

        $container.find("select option").attr("selected", false);
        $container.find("select option[value=" + act + "]").attr("selected", true);
    })


    $("#edit_form").submit(async function(e){
        $("[name=product_id_arr]").val($(".product_id_select").val().toString());
        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                globalLoader($loader);
                if (!data.code == 0){
                    globalErrorReturn(data);
                } else {
                    // globalErrorReturn(data);
                    // location.href = "admin/user/adminRoleDtl?role_id=" + data.result.role_id
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
   
});
</script>
{/literal}