<div class="flex flex-col px-4 lg:px-12">
    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">管理員管理</div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg py-2 w-full">    
        <form id="edit_form" action="/admin/user/api/editAdmin" method="post">
            <input type="hidden" name="admin_id" value="{if $result_array.adminDtl.admin_id}{$result_array.adminDtl.admin_id}{else}0{/if}">
            <div class="flex flex-col w-full lg: pt-6 lg:mr-6">
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">名稱</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 {if $result_array.adminDtl.admin_id}bg-gray-100 text-gray-500 cursor-not-allowed{/if}" name="username" type="text" value="{$result_array.adminDtl.username}" {if $result_array.adminDtl.admin_id}readonly{/if}> 
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row justify-between lg:px-8">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">密碼</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="password" type="password" value=""> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">管理員角色</div>
                        <select name="role_id" class="border border-gray-300 rounded-lg w-full py-1 pl-2 h-8 focus:border-opacity-0">
                            {foreach $result_array.adminRoleList key=k item=i}
                                <option value="{$i.role_id}" {if $i.role_id == $result_array.adminDtl.role_id}selected{/if}>{$i.adm_name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                
                <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 my-4 mx-auto rounded-full cursor-pointer" type="submit" value="儲存">
            </div>
        </form>
    </div>
</div>

{literal}
<script>
$(document).ready(function(){
    $("#edit_form").submit(async function(e){
        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                globalLoader($loader);
                if (!data.code == 0){
                    globalErrorReturn(data);
                } else {
                    location.href = "admin/user/adminDtl?admin_id=" + data.result.admin_id
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
   
});
</script>
{/literal}