<div class="container vk-container mini-container">
    <div class="flex flex-row w-full justify-center items-center py-8 text-gray-800" style="height: 40vh;">
        <div class="flex flex-col items-center justify-center h-full flex-1">
            <div class="text-xl font-bold">如有任何查詢或疑問?</div>
            <div class="text-xl font-bold pb-4">我們樂意為你解答!</div>
            <div class="flex flex-row py-1 items-center">
                <i class="ri-phone-line text-xl pr-2"></i>
                <div class="font-bold pr-4">聯絡我們</div>
                <a href="tel:+85227398808"><div class="text-gray-600">+ 852 2739 8808</div></a>
            </div>
            <div class="flex flex-row py-1 items-center">
                <i class="ri-whatsapp-line text-xl pr-2"></i>
                <div class="font-bold pr-4">Whatsapp</div>
                <a href="https://wa.me/+85259201618"><div class="text-gray-600">+ 852 5920 1618</div></a>
            </div>
            <div class="flex flex-row py-1 items-center">
                <i class="ri-mail-line text-xl pr-2"></i>
                <div class="font-bold pr-4">電郵</div>
                <a href="mailto:cs@thegift.com.hk"><div class="text-gray-600">cs@thegift.com.hk</div></a>    
            </div>
            <div class="flex flex-row py-1 items-center">
                <i class="ri-map-pin-line text-xl pr-2"></i>
                <div class="font-bold pr-4">地址</div>         
                <div class="text-gray-600">官塘開源道47號凱源工業大廈12樓H室</div>         
            </div>
        </div>
        <form action="" id="contact_us_form">
            <div class="flex flex-col">
                <div class="flex flex-row flex-1">
                    <div class="flex flex-col justify-evenly px-4">
                        <input type="text" name="name" class="px-2 py-1 border border-gray-300 rounded" placeholder="姓名">
                        <input type="text" name="phone" class="px-2 py-1 border border-gray-300 rounded" placeholder="電話號碼">
                        <input type="text" name="email" class="px-2 py-1 border border-gray-300 rounded" placeholder="電郵地址">
                    </div>
                    <div class="flex flex-col justify-between">
                        <input type="text" name="title" class="px-2 py-1 mb-4 border border-gray-300 rounded" placeholder="主題">
                        <textarea name="content" cols="30" rows="5" class="px-2 py-1 border border-gray-300 rounded" placeholder="信息"></textarea>
                    </div>
                </div>
                <div class="relative bg-gray-800 hover:bg-gray-900 text-white text-center px-4 py-1 mx-auto mt-4">
                    提交
                    <input type="submit" class="absolute top-0 left-0 h-full w-full cursor-pointer opacity-0 z-10">
                </div>
            </div>
        </form>
    </div>
</div>
<!-- insert google map later -->

{literal}
<script>
    $(document).ready(function() {
        $("#contact_us_form").submit(async function(e){
        $loader = await globalLoader();
        e.preventDefault();

        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    //dev use
                    console.log(data);
                    globalLoader($loader);
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
    })
</script>
{/literal}