<script src="js/lib/md5.js?v=1"></script>
<div id="forceChangePasswordContainer" class="container mx-auto">
	<div class="w-full flex justify-center items-center">
		<form id="forceChangePasswordForm" class='flex flex-col justify-between my-32 rounded-lg border border-gray-500' style="min-width:566px;min-height: 444px;">
			<div style="flex:0 0 64px;" class="border-b flex justify-center items-center">
				<h1 class="text-center">重設密碼</h1>
			</div>
			<div class="p-8 flex-grow">
				<div class="py-2">
					新密碼 <span class="text-gray-500">(密碼必須為7-15個字元內及包括1個數字)</span>
				</div>
				<div class="py-2">
					<input type="password" name="new_password" class="px-3 py-3 placeholder-gray-400 text-black bg-white rounded text-sm shadow 
					focus:outline-none focus:shadow-outline w-full checknum" placeholder="新密碼" style="transition: all 0.15s ease 0s;"/>
					<div class="py-2 hidden text-red-400 require-msg require-msg-1">
						請輸入新的密碼
					</div>
					<div class="py-2 hidden text-red-400 require-msg require-msg-4">
						密碼格式不正確
					</div>
					<input type="password" name="new_password_go" class="hidden"/> 
				</div>
				<div class="py-2">
					確認新密碼
				</div>
				<div class="py-2">
					<input type="password" name="new_password_confirm" class="px-3 py-3 placeholder-gray-400 text-black bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full checknum" placeholder="確認新密碼" style="transition: all 0.15s ease 0s;"/>
					<div class="py-2 hidden text-red-400 require-msg require-msg-2">
						請輸入新的確認密碼
					</div>
					<div class="py-2 hidden text-red-400 require-msg require-msg-3">
						密碼不一致
					</div>
				</div>
			</div>
			<div class="px-8 flex justify-center items-center" style="flex:0 0 100px;">
				<div class="w-full text-center">
					<a href="#" id="changePasswordGo" class="w-full text-center block p-4 px-16 bg-primary text-black font-medium rounded-lg">確定</a>
				</div>
			</div>
		</form>
	</div>
	{literal}
	<script type="text/javascript">
		function CheckPassword(inputtxt) {
            var paswd = /^[a-zA-Z0-9]{7,15}$/;
            if (inputtxt.match(paswd)) {
                return true;
            } else {
                return false;
            }
        }

		function forgetPasswordContainer_Init(){
			$(document).off('click', '#changePasswordGo');
			$(document).on( "click" ,"#changePasswordGo",function(e) {
				e.preventDefault();
				$('.require-msg').addClass('hidden');
				var pass = true;
				var new_password = $('[name=new_password]').val();
				if(!new_password || new_password==''){
					$('.require-msg-1').removeClass('hidden');
					pass = false;
				}
				var new_password_confirm = $('[name=new_password_confirm]').val();
				if(!new_password_confirm || new_password_confirm==''){
					$('.require-msg-2').removeClass('hidden');
					pass = false;
				}
				if(new_password!=new_password_confirm){
					$('.require-msg-3').removeClass('hidden');
					pass = false;	
				}
				if (!CheckPassword(new_password)){
					$('.require-msg-4').removeClass('hidden');
					pass = false;	
				}
				if(!pass){
					return;
				}
				$('[name=new_password_go]').val($.md5(new_password));
				$('[name=new_password]').removeAttr('name')
				$('[name=new_password_confirm]').removeAttr('name')
				var url = "/api/member/resetpasswordGo";
				$.bajax({
					url : url,
					debug : 'N',
					formElement : 'Y',
					formElementID : 'forceChangePasswordForm',
					callback : function(data) {
						if(data.result.code=='0'){
							pageHandler('/memberCenter');
						} else {
							window.location.reload();
						}
					},
				});
			});
		}
		forgetPasswordContainer_Init();
	</script>
	{/literal}
</div>