<div id="forgetPasswordContainer" class="bg-gray-200">
	{literal}
    <style type="text/css">
       
    </style>
    {/literal}
    <div class="forgetPassword-panel container mx-auto p-0 lg:p-12">
        <div class="container text-center validateEmail-form shadow-xl bg-white rounded-lg flex flex-col justify-center min-h-screen-70 p-12">
            <div>
                <div>
                    <div>
                        <i class="text-6xl mb-2 text-gray-400 ri-mail-send-line"></i>
                    </div>
                    <div>
                        <h3 class="text-3xl font-medium">{$RM.forgetPassword}?</h3>
                    </div>
                    <div class="py-2 px-2 text-gray-600">
                        <p>{$RM.10541}</p>
                    </div>
                    <div class="py-2">
						<input type="text" name="email" class="w-120 {$generalInput_class} text-center" placeholder="{$RM.emailAddress}"/>
					</div>
                    <div class="text-red-400 font-semibold">
                        <span class="error-msg require-msg hidden">* {$RM.10542}</span>
                        <span class="error-msg global-error hidden"></span>
                    </div>
                </div>
                <div class="mt-6">
                    <a href="#" id="forgetPasswordGo" class="button px-8 py-4 bg-black text-official rounded-lg font-bold  hover:opacity-75">{$RM.10543}</a>
                </div>
                <div class="text-base font-semibold text-gray-600 mt-8">
                    <a href="/" class="phref resend text-primary">{$RM.10544}</a>
                </div>
            </div>
        </div>
    </div>
    {literal}
	<script type="text/javascript">
		function forgetPasswordContainer_Init(){
			$(document).off('click', '#forgetPasswordGo');
			$(document).on( "click" ,"#forgetPasswordGo",function(e) {
				e.preventDefault();
				$('.require-msg').addClass('hidden');
				var email = $('[name=email]').val();
				if(!email || email=='' || !ValidateEmail(email)){
					$('.require-msg').removeClass('hidden');
					return;
				}
				
				window.forgetPasswordGoContainer = $.bmodal({
					type : 'modal',
					title : '{/literal}{$RM.forgetPassword}{literal}',
					content : '{/literal}{$RM.PleaseWait}{literal}...',
					elementId : 'forgetPasswordGoContainer',
					footerClose : true,
					closeOnBackgroundClick : true,
					ajaxPath : '/forgetPasswordGo?target='+encodeURIComponent(email),
					callback : function(data) {
						//console.log('yo');
					},
				});
			});
		}
		
		function ValidateEmail(mail) {
			
			if (/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(mail)){
				return true;
			}
		    return false;
		}
		forgetPasswordContainer_Init();
	</script>
	{/literal}
</div>