<div id="forgetPasswordGoContainer">
	{if $result_array.need_captcha=='Y'}
		<form id="captchaForm" class="flex flex-col justify-between">
			<div class="flex-grow">
				<div class="flex">
					<div>
						<img class="captcha_img" src="/api/captcha/getCapchaImage?v={$timestamp}"/>
					</div>
					<div class="flex ml-4" style="line-height: 45px;">
						<a href="#" class="refresh_captcha"><i class="ri-restart-line"></i></a>
					</div>
				</div>
				<div class="py-2"> 
					{$RM.10546} <span class="invalid_captcha hidden text-red-400">{$RM.10547}</span>
				</div>
				<div class="py-2"> 
					<input type="text" name="captcha" class="px-3 py-3 placeholder-gray-400 text-black bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full checknum" placeholder="{$RM.10548}" style="transition: all 0.15s ease 0s;"/>
					<input type="hidden" name="email" value="{$result_array.email}"/>
				</div>
			</div>
			<div style="flex:0 0 65px;" class="flex justify-center items-center">
				<a href="#" id="sumbitCaptcha" class="display w-full text-center block p-2 bg-primary text-black font-medium rounded-lg">{$RM.Submit}</a>
			</div>
		</form>
		<script type="text/javascript">
			function forgetPasswordGoContainer_Init(){
				$(document).off('click', '.refresh_captcha');
				$(document).on( "click" ,".refresh_captcha",function(e) {
					$('.captcha_img').attr('src','/api/captcha/getCapchaImage?v='+Math.floor(Date.now() /1000));
				});

				$(document).off('submit', '#captchaForm');
				$(document).on( "submit" ,"#captchaForm",function(e) {
					return false;
				});

				$(document).off('click', '#sumbitCaptcha');
				$(document).on( "click" ,"#sumbitCaptcha",function(e) {
					$('.invalid_captcha').addClass('hidden');
					var captcha = $('[name=captcha]').val();
					if(!captcha || captcha ==''){
						$('.invalid_captcha').removeClass('hidden');
						return;
					}
					var url = "/api/captcha/validateCaptcha";
					$.bajax({
						url : url,
						debug : 'N',
						formElement : 'Y',
						formElementID : 'captchaForm',
						callback : function(data) {
							//console.log(data);
							if(data.result.code=='-1'){
								$('.invalid_captcha').removeClass('hidden');
								$('.refresh_captcha').trigger('click');
							} else {
								$.bmodal({
									elementId : 'forgetPasswordGoContainer',
									close : 'Y',
								});
								$.bmodal({
									type : 'alert',
									title : '{$RM.success}',
									content : '{$RM.10550}',
									trueBtnName : '{$RM.Ok}',
									callback : function(data) {
										//console.log('yo');
									},
								});	
							}
						},
					});
				});
			}
			forgetPasswordGoContainer_Init();
		</script>
	{/if}
</div>