{*
{literal}
<!-- Facebook Pixel Code -->
<script>
    ! function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1026998931124855');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1026998931124855&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
{/literal}
*}
<!-- js Langed text -->
<script src="https://apis.google.com/js/api:client.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.lazy.min.js"></script>
<script src="/js/bajax.js{$srcVersion}"></script>
<script src="/js/bmodal.js{$srcVersion}"></script>
<script src="/js/vk-modal.js{$srcVersion}"></script>
<script src="/js/bloader.js{$srcVersion}"></script>
<script src="/js/pouchdb-7.1.1.min.js"></script>
<script src="/js/global.function.js{$srcVersion}"></script>
<script src="/js/lib/moment-with-locales.min.js"></script>
<script src="/js/bhiner-datepicker.js{$srcVersion}"></script>
<!--<script src="/adminA/js/global.js{$srcVersion}"></script>-->
<!--<script src="/js/pace.js"></script>-->

<!-- carousel -->
<script src="/js/lib/OwlCarousel2-2.3.4/dist/owl.carousel.js?v={$timestamp}"></script>
<!-- parallax bg image-->
<script src="/js/lib/jquery.paroller.min.js"></script>
<!-- phone input -->
<script src="/js/lib/intl-tel-input/js/intlTelInput-jquery.js"></script>
<script src="/js/lib/intl-tel-input/js/intlTelInput.js"></script>
<script src="/js/lib/intl-tel-input/js/data.js"></script>
<script src="/js/lib/intl-tel-input/js/utils.js"></script>