<div class="pure_html_container container vk-container mini-container mx-auto">
    {$i.html_tc}
</div>

{literal}
<style>
@media screen and (max-width: 900px) {
  .pure_html_container tr {
    display: flex;
    flex-direction: column;
    height: 100% !important;
  }

  .pure_html_container td {
    height: 100% !important;
    width: 100% !important;
    margin: 0 auto !important;
  }

  .pure_html_container img{
    margin: 0 auto !important;
  }
}

</style>
{/literal}