<section>
    <div class="mx-auto grid grid-cols-2 md:grid-cols-4">
        <div class="col-span-2">
            <img src="../../../img/littlezuri_tmp/l_img.jpeg" alt="" class="object-cover">
        </div>
        <div class="">
            
        </div>
    </div>
</section>