<div>
    {literal}
    <script>
        $(document).ready(function() {
            $('.parallax-window').paroller();
        })
    </script>
    {/literal}
    <div class="flex md:flex-row flex-col ">
        <div class="lg:w-1/2 bg-theme relative lr-text">
            <div class="flex flex-col justify-center lg:absolute top-0 left-0 h-full w-full text-white px-4 md:px-16 py-8 md:py-0">
                {$contentDtl.html_tc}
                <div class="text-center text-2xl lg:text-6xl mt-5 "><i class="ri-double-quotes-r "></i></div>
            </div>

        </div>
        <div class="lg:w-1/2 bg-cover bg-center bg-no-repeat paroller " data-paroller-factor="-0.5 " style="background: url('{$contentDtl.lr_img_tc}') repeat center; background-size: cover; ">

        </div>
    </div>
</div>