
<script src="/js/lib/konva.min.js"></script>
{foreach from=$result_array.deliList key=k item=i}
<div class="card" id="card_{$k}" style="background-repeat:no-repeat;background-size:cover;background-image:url(/img/card_template/{$i.card_id}.jpg);"></div>
<div class="footer"></div>
<script>
    konvaJson = JSON.parse('{$i.card_json}')
    stage = Konva.Node.create(konvaJson, 'card_{$k}');
    document.getElementById("card_{$k}").style.width = konvaJson.attrs.width
</script>
{/foreach}




{literal}
<style>
@media print {
    body{
        margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
    }
    .card{
        height: 100%;
        width: 100%;
        /* position: fixed;
        top: 0;
        left: 0;
        margin: 0; */
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    footer {page-break-after: always;}
}
</style>
{/literal}