<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-12">
    <div class="flex flex-col items-start">
        <a href="admin/shipment/cardList"><div class="text-2xl font-bold">未處理祝賀卡管理</div></a>
    </div>
    
    
    <div class="flex bg-white rounded-full ml-auto shadow hidden">
        <form id="list_form" action="admin/shipment/cardList" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="card_id_arr" type="hidden" value="{$result_array.page_config.card_id_arr}">
                <input name="skey" class="flex px-4 py-2 rounded-full truncate" type="text" placeholder="SKU, 中文, 英文" value="{$result_array.page_config.skey}">
                <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bg-white rounded-lg mx-4 lg:mx-10 my-1 text-gray-600 shadow-lg">
    <div class="flex flex-row w-full px-4 lg:px-8 py-2 items-center ">
        <i class="ri-filter-line text-lg"></i>
        <div class="px-2">狀態篩選</div>
        
        <div id="card_id_container" class="flex flex-row flex-wrap h-full items-center">
            {foreach from=$result_array.cardList key=k item=i}
                <div class="{if $result_array.page_config.card_id_arr|strstr:"{$i.card_id}"}bg-blue-500 text-white btn_sorting_active{else}bg-gray-300 text-gray-800{/if} flex items-center justify-center text-sm rounded-full hover:opacity-80 cursor-pointer h-6 px-2 m-2 truncate  btn_sorting" data-sort_field="card_id_arr" data-sort_value ="{$i.card_id}"><div>{$i.name_tc}</div></div>
                {/foreach}
        </div>

        <div class="btn-sorting_submit bg-gray-100 border border-gray-300 text-gray-800 rounded hover:opacity-70 px-4 py-0.5 cursor-pointer ml-auto">提交</div>
    </div>
</div>


<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-10">
    <div class="grid grid-cols-9 gap-5 text-gray-600 border-b-2 border-gray-300 px-4 py-3 lg:px-8">
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "deli_id" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="deli_id">
            {if $result_array.page_config.sort == "deli_id"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>運單編號</div>
        </div>
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "card_id" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="card_id">
            {if $result_array.page_config.sort == "card_id"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>祝賀卡款式</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "deli_date" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="deli_date">
            {if $result_array.page_config.sort == "deli_date"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>運送日子</div>
        </div>
        <div class="my-auto">運單狀態</div>
        <div class="col-span-3 my-auto ml-auto">操作</div>
    </div>

    {foreach from=$result_array.deliList key=k item=i}
    <div class="card grid grid-cols-9 auto-rows-auto gap-5 px-4 py-3 lg:px-8 text-gray-800 border-b border-gray-300 hover:bg-gray-100" data-deli_id="{$i.deli_id}">
        <div class="col-span-2 truncate">{$i.deli_no}</div>
        <div class="col-span-2 truncate">{$i.card_name}</div>
        <div class="truncate">{$i.deli_date}</div>
        <div class="truncate">{$i.deli_statusDisplay}</div>
        <div class="col-span-3 ml-auto flex items-center">
            <a href="admin/shipment/cardPrint?deli_id={$i.deli_id}" target="_blank" class="bg-blue-500 text-white btn_sorting_active flex items-center justify-center my-1 text-sm rounded-full hover:opacity-80 cursor-pointer h-6 px-2 mx-2">預覽</a>
            <div class="btn_complete bg-blue-500 text-white btn_sorting_active flex items-center justify-center my-1 text-sm rounded-full hover:opacity-80 cursor-pointer h-6 px-2 mx-3">處理完成</div>
            <a href="admin/shipment/deliDtl?deli_id={$i.deli_id}"><i class="ri-edit-line hover:text-gray-500 text-lg"></i></a>
        </div>
    </div>
    {/foreach}
</div>


{include file='../module/pagerModule.html'}


{literal}
<script>
$(document).ready(function(){
    var sorting_submit = function() {
        let card_id_filter = [];
        
        $("#card_id_container .btn_sorting_active").each(function(idx, val) {
            
            if (!card_id_filter.includes(val)){
                card_id_filter.push($(val).data("sort_value"))
            }
        })
        
        $("#list_form [name=card_id_arr]").val(card_id_filter.join(","));
        
        $("#list_form").submit();
    }

    $(document).off("click", ".btn_sorting")
    $(document).on("click", ".btn_sorting",  async function() {
        $(this).toggleClass("bg-gray-300 text-gray-800 bg-blue-500 text-white btn_sorting_active")
    })

    $(document).off("click", ".btn-sorting_submit")
    $(document).on("click", ".btn-sorting_submit", function(){
        sorting_submit()
    })

    $(document).on("click", ".btn_complete", async function(){
        $loader = await globalLoader();
        $card = $(this).parents(".card")
        $.bajax({
            url: 'admin/shipment/api/cardComplete',
            method: 'POST',
            data: {
                deli_id: $card.attr("data-deli_id")
            },
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    $card.remove();
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
    
})
</script>
{/literal}