
<script src="js/qrcode.min.js"></script>
<div class="py-2 mx-2 md:mx-4 lg:mx-12 mt-8 mb-4 justify-between">
    <div class="flex flex-row py-2 mx-2 md:mx-4 lg:mx-12 mb-2 justify-between">
        <div></div>
        <div class="flex-none bg-yellow-300 bg-opacity-60 rounded-lg px-4 py-1 border border-yellow-400 text-yellow-600 flex flex-row items-center items_remark_alert {if !$result_array.deliDtl.remarks_external || !$result_array.deliDtl.remarks_internal}hidden{/if}">
            <i class="ri-error-warning-line text-3xl pr-4"></i>
            <div class="flex flex-col">
                <div>{if $result_array.deliDtl.remarks_internal}請注意內部備註{/if}</div>  
                <div>{if $result_array.deliDtl.remarks_external}請注意對客戶備註{/if}</div>
                <div class="items_remark_alert hidden">請注意運單物品備註</div>
            </div>
        </div>
    </div>
    <div class="text-3xl font-bold text-gray-800 items-center flex">
        {if $result_array.deliDtl.deli_no}
            運單編號：{$result_array.deliDtl.deli_no}
            <i class="ri-qr-code-line btn_ctl cursor-pointer hover:opacity-70 text-4xl ml-2" data-ctl="deli_qrcode" title="訂單二維碼"></i>
            <a href="admin/shipment/deliPrint?deli_id={$result_array.deliDtl.deli_id}" target="_blank" class="font-normal text-sm bg-blue-500 hover:opacity-70 cursor-pointer text-white rounded-lg my-auto ml-2 mr-4 px-4 py-1">列印出車單</a>
            <a href="admin/shipment/packingPrint?deli_id={$result_array.deliDtl.deli_id}" target="_blank" class="font-normal text-sm bg-blue-500 hover:opacity-70 cursor-pointer text-white rounded-lg my-auto ml-2 mr-4 px-4 py-1">列印執貨單</a>
        {else}
            新增運單
        {/if}
    </div>
</div>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mb-16 lg:mx-12">
    <div class="p-2 lg:p-8 border-t border-gray-300">
        <form class="content_edit_form" id="edit_form" action="/admin/shipment/api/editDeli" method="post">
            <input name="deli_id" type="hidden" value="{if $result_array.deliDtl.deli_id}{$result_array.deliDtl.deli_id}{else}0{/if}" readonly>
            <input name="itemList" type="hidden" />
            <div class="flex flex-col">
                <div class="mb-4">
                    <div class="font-bold text-xl mb-4">負責同事</div>
                    <div class="grid grid-cols-3 gap-2 mb-2">
                        <div>
                            <div class="pb-2">檢查同事</div>
                            <select name="incharge_admin_id" class="selectize">
                                <option value="NULL">-- 沒有 --</option>
                                {foreach from=$result_array.admin_list key=k item=i}
                                <option value="{$i.admin_id}" {if $i.admin_id == $result_array.deliDtl.incharge_admin_id}selected{/if}>{$i.username}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div class="col-span-2 flex gap-x-4">
                            <div>
                                <div class="pb-2">Print 賀卡</div>
                                <label class="switch">
                                    <input name="is_greeting_card_printed" type="hidden">
                                    <input for="is_greeting_card_printed" type="checkbox" {if $result_array.deliDtl.is_greeting_card_printed =='Y'}checked{/if}>
                                    <span class="slider"></span>
                                </label>
                            </div>
                            <div>
                                <div class="pb-2">Print 三寶</div>
                                <label class="switch">
                                    <input name="is_compose_note_printed" type="hidden">
                                    <input for="is_compose_note_printed" type="checkbox" {if $result_array.deliDtl.is_compose_note_printed =='Y'}checked{/if}>
                                    <span class="slider"></span>
                                </label>
                            </div>
                            <div>
                                <div class="pb-2">Print 簽收紙</div>
                                <label class="switch">
                                    <input name="is_receive_note_printed" type="hidden">
                                    <input for="is_receive_note_printed" type="checkbox" {if $result_array.deliDtl.is_receive_note_printed =='Y'}checked{/if}>
                                    <span class="slider"></span>
                                </label>
                            </div>
                            <div>
                                <div class="pb-2">跟空白卡比客人</div>
                                <label class="switch">
                                    <input name="is_blank_card_provide" type="hidden">
                                    <input for="is_blank_card_provide" type="checkbox" {if $result_array.deliDtl.is_blank_card_provide =='Y'}checked{/if}>
                                    <span class="slider"></span>
                                </label>
                            </div>
                            <div>
                                <div class="pb-2">客人自備卡</div>
                                <label class="switch">
                                    <input name="is_client_card" type="hidden">
                                    <input for="is_client_card" type="checkbox" {if $result_array.deliDtl.is_client_card =='Y'}checked{/if}>
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </div>
                        <div>
                            <div class="pb-2">執貨同事</div>
                            <select name="composer_admin_id" class="selectize">
                                <option value="NULL">-- 沒有 --</option>
                                {foreach from=$result_array.composer_list key=k item=i}
                                <option value="{$i.admin_id}" {if $i.admin_id == $result_array.deliDtl.composer_admin_id}selected{/if}>{$i.username}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div>
                            <div class="pb-2">司機</div>
                            <select name="driver_admin_id" class="selectize">
                                <option value="NULL">-- 未安排 --</option>
                                {foreach from=$result_array.driver_list key=k item=i}
                                <option value="{$i.admin_id}" {if $i.admin_id == $result_array.deliDtl.driver_admin_id}selected{/if}>{$i.username}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <div class="font-bold text-xl mb-4">運單狀態</div>
                    <div class="grid grid-cols-3 gap-2 mb-2">
                        <input name="shop_id" type="hidden" value="{$shop_id}">

                        <div>
                            <div class="pb-2">訂單編號</div>
                            <div class="{if !$result_array.deliDtl.deli_id}btn_order_picker cursor-pointer{else}text-gray-600 cursor-not-allowed{/if} bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 h-8">
                                {$result_array.orderDtl.order_no}
                            </div>
                            <input type="hidden" name="order_id" value="{$result_array.deliDtl.order_id}">
                        </div>
                        <div>
                            <div class="pb-2">運單狀態</div>
                            <select name="deli_status" class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:border-opacity-0 h-8">
                                <option value="incart" {if $result_array.deliDtl.deli_status == 'incart'}selected{/if}>購物車中</option> 
                                <option value="paid" {if $result_array.deliDtl.deli_status == 'paid'}selected{/if}>已付款</option>
                                <option value="confirmed" {if $result_array.deliDtl.deli_status == 'confirmed'}selected{/if}>已核實</option>
                                <option value="packing" {if $result_array.deliDtl.deli_status == 'packing'}selected{/if}>執貨中</option>
                                <option value="readyToPack" {if $result_array.deliDtl.deli_status == 'readyToPack'}selected{/if}>已完成執貨並等待包裝</option>
                                <option value="packed" {if $result_array.deliDtl.deli_status == 'packed'}selected{/if}>包裝完成</option>
                                <option value="scheduled" {if $result_array.deliDtl.deli_status == 'scheduled'}selected{/if}>已安排運輸</option>
                                <option value="delivering" {if $result_array.deliDtl.deli_status == 'delivering'}selected{/if}>運送中</option>
                                <option value="cantDeliver" {if $result_array.deliDtl.deli_status == 'cantDeliver'}selected{/if}>無發送達</option>
                                <option value="acknowledged" {if $result_array.deliDtl.deli_status == 'acknowledged'}selected{/if}>客戶已確認</option>
                                <option value="delivered" {if $result_array.deliDtl.deli_status == 'delivered'}selected{/if}>已送達</option>
                                <option value="completed" {if $result_array.deliDtl.deli_status == 'completed'}selected{/if}>已核實送達</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <div class="font-bold text-xl mb-4">收件人資料</div>
                    <div class="grid grid-cols-3 gap-2 mb-2">
                        <div>
                            <div class="pb-2">收件人姓名</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="recipient_name" type="text" value="{$result_array.deliDtl.recipient_name}"> 
                        </div>
                        <div>
                            <div class="pb-2">收件人電話</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="recipient_phone" type="text" value="{$result_array.deliDtl.recipient_phone}"> 
                        </div>
                        <div>
                            <div class="pb-2">收件人公司</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="recipient_company" type="text" value="{$result_array.deliDtl.recipient_company}"> 
                        </div>
                    </div>
                </div>
                
                <div class="mb-4">
                    <div class="font-bold text-xl mb-4">運送資料</div>
                    <div class="grid grid-cols-3 gap-2 mb-2">
                        <div>
                            <div class="pb-2">日子</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="deli_date" type="date" value="{$result_array.deliDtl.deli_date|substr:0:10}"> 
                        </div>
                        <div>
                            <div class="pb-2">時段</div>
                            <select name="deli_timeslot_id" class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:border-opacity-0 h-8">
                                {foreach from=$result_array.timeslotList key=k item=i}
                                <option value="{$i.slot_id}" {if $i.slot_id == $result_array.deliDtl.deli_timeslot_id}selected{/if}>{$i.adm_name} ({$i.start_time} - {$i.end_time})</option>
                                {/foreach}
                            </select>
                        </div>
                        <div>
                            <div class="pb-2">區域</div>
                            <select name="deli_region_id" class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:border-opacity-0 h-8">
                            {foreach from=$result_array.regionList key=k item=i}
                                <option value="{$i.region_id}" {if $i.region_id == $result_array.deliDtl.deli_region_id}selected{/if}>{$i.name_tc}</option>
                            {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div class="pb-2">地址</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="deli_address" value="{$result_array.deliDtl.deli_address}">
                    </div>

                    <div class="grid grid-cols-2 gap-2 mb-2">
                        <div>
                            <div class="pb-2">運送前相片</div>
                            <div class="w-full h-60 relative object-center {if !$result_array.deliDtl.deli_before_photo_path}border-4 rounded-lg{/if}" id="b-preview-border">
                                {if $result_array.deliDtl.deli_before_photo_path}<img src="{$result_array.deliDtl.deli_before_photo_path}" class="w-full h-full object-contain"/>
                                {else}<img class="hidden flex w-full h-full items-center justify-center text-gray-800 object-contain" src="" alt="" id="b-preview"><div class="flex w-full h-full items-center justify-center text-gray-800 cursor-pointer" id="b-upload-text">按此上載圖片</div>{/if}
                                <input name="deli_before_photo_path" type="file" class="absolute left-0 bottom-0 w-full h-full opacity-0 cursor-pointer" id="b-filetag">
                            </div>
                        </div>
                        <div>
                            <div class="pb-2">運送後相片</div>
                            <div class="w-full h-60 relative object-center {if !$result_array.deliDtl.deli_after_photo_path}border-4 rounded-lg{/if}" id="a-preview-border">
                                {if $result_array.deliDtl.deli_after_photo_path}<img src="{$result_array.deliDtl.deli_after_photo_path}" class="w-full h-full object-contain"/>
                                {else}<img class="hidden flex w-full h-full items-center justify-center text-gray-800 object-contain" src="" alt="" id="a-preview"><div class="flex w-full h-full items-center justify-center text-gray-800 cursor-pointer" id="a-upload-text">按此上載圖片</div>{/if}
                                <input name="deli_after_photo_path" type="file" class="absolute left-0 bottom-0 w-full h-full opacity-0 cursor-pointer" id="a-filetag">
                            </div> 
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <div class="flex items-center">
                        <div class="font-bold text-xl mb-4">禮物卡
                            {if $result_array.deliDtl.card_completed == 'Y'}
                                <span class="text-green-500 text-sm">(禮物卡已列印)</span>
                            {else if $result_array.deliDtl.card_completed == 'N' && $result_array.deliDtl.card_activate == 'Y' && $result_array.deliDtl.card_json != ''}
                                <span class="text-red-500 text-sm">(禮物卡尚未列卯)</span>
                            {/if}
                        </div>
                    </div>
                    <div class="flex items-center">
                        {if $result_array.deliDtl.card_json}
                        <a href="admin/shipment/cardPrint?deli_id={$result_array.deliDtl.deli_id}" target="_blank" class="px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full my-2 cursor-pointer mb-4">列印</a>
                        {else}
                        沒有使用禮物卡
                        {/if}
                    </div>
                    
                    {if $result_array.deliDtl.card_type == "normal" || $result_array.deliDtl.card_type == "1"} 
                    <div class="grid grid-cols-1 gap-2 mb-2">
                        <div>
                            <div class="pb-2">上款</div>
                            <input class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="card_head" type="text" value="{$result_array.deliDtl.card_head}"> 
                        </div>
                    </div>
                    <div class="grid grid-cols-1 gap-2 mb-2">
                        <div>
                            <div class="pb-2">內容</div>
                            <input class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="card_body" type="text" value="{$result_array.deliDtl.card_body}"> 
                        </div>
                    </div>
                    <div class="grid grid-cols-1 gap-2 mb-2">
                        <div>
                            <div class="pb-2">下款</div>
                            <input class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="card_sign" type="text" value="{$result_array.deliDtl.card_sign}"> 
                        </div>
                    </div>
                    {elseif $result_array.deliDtl.card_type == "live" || $result_array.deliDtl.card_type == "2"}
                    <div class="grid grid-cols-2 gap-2 mb-2">
                        <div>
                            <div class="pb-2">json</div>
                            <input class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="card_json" type="text" value="{$result_array.deliDtl.card_json}"> 
                        </div>
                    </div>
                    {/if}
                </div>
    
                <div class="mb-4">
                    <div class="font-bold text-xl mb-4">價格資料</div>
                    <div class="grid grid-cols-2 gap-2 mb-2">
                        <div>
                            <div class="pb-2">貨物價格</div>
                            <div class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 text-gray-600 cursor-not-allowed h-8">{$result_array.deliDtl.product_price}</div> 
                        </div>
                        <div>
                            <div class="pb-2">附加物品價格</div>
                            <div class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 text-gray-600 cursor-not-allowed h-8">{$result_array.deliDtl.addon_price}</div>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-2 mb-2">
                        <div>
                            <div class="pb-2">運輸額外收費</div>
                            <div class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 text-gray-600 cursor-not-allowed h-8">{$result_array.deliDtl.shipping_fee}</div>
                        </div>
                        <div>
                            <div class="pb-2">時段附加費</div>
                            <div class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 text-gray-600 cursor-not-allowed h-8">{$result_array.deliDtl.timeslot_fee}</div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div>
                            <div class="pb-2">總價格 <span class="text-gray-400">(貨物總價格 + 運輸總額外收費 + 時段總附加費)</span></div>
                            <div class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 text-gray-600 cursor-not-allowed">
                                {$result_array.deliDtl.deli_price}
                                <span class="text-gray-400">
                                    =
                                    ({$result_array.deliDtl.product_price} + {$result_array.deliDtl.addon_price} + {$result_array.deliDtl.shipping_fee} + {$result_array.deliDtl.timeslot_fee})
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <div class="font-bold text-xl mb-4">備註</div>
                    <div class="grid grid-cols-1 gap-2 mb-2">
                        <div class="pb-2">內部備註</div>
                        <input class="{if $result_array.deliDtl.remarks_internal}bg-yellow-300 bg-opacity-60 border-yellow-400{/if} border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks_internal" type="text" value="{$result_array.deliDtl.remarks_internal}"> 
                    </div>
                    <div class="grid grid-cols-1 gap-2 mb-2">
                        <div class="pb-2">司機備註</div>
                        <input class="{if $result_array.deliDtl.remarks_packing}bg-yellow-300 bg-opacity-60 border-yellow-400{/if} border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks_packing" type="text" value="{$result_array.deliDtl.remarks_packing}"> 
                    </div>
                    <div class="grid grid-cols-1 gap-2 mb-2">
                        <div class="pb-2">執貨同事備註</div>
                        <input class="{if $result_array.deliDtl.remarks_driver}bg-yellow-300 bg-opacity-60 border-yellow-400{/if} border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks_driver" type="text" value="{$result_array.deliDtl.remarks_driver}"> 
                    </div>
                    <div class="grid grid-cols-1 gap-2 mb-2">
                        <div class="pb-2">對客戶備註</div>
                        <input class="{if $result_array.deliDtl.remarks_external}bg-yellow-300 bg-opacity-60 border-yellow-400{/if} border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks_external" type="text" value="{$result_array.deliDtl.remarks_external}"> 
                    </div>
                </div>

                <div>
                    <input type="submit" class="px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full my-2 cursor-pointer mb-4" value="提交">
                </div>
            </div>
        </form>
    </div>
    <div class="flex flex-row w-full border">
        <div class="flex flex-col w-full">
            <div class="flex flex-row w-full justify-between ">
                <div class="font-bold text-xl mb-4 pl-2 lg:pl-8 mt-2 lg:mt-8 flex items-center flex">
                    運單物品資料: {$result_array.deliDtl.productDtl.product_name}
                    <i class="ri-qr-code-line btn_ctl cursor-pointer hover:opacity-70 text-xl ml-auto" data-ctl="deli_qrcode" title="訂單二維碼"></i>
                </div>
                <div class="new_item_btn bg-blue-500 hover:opacity-70 cursor-pointer text-white rounded-lg my-auto ml-auto mr-4 px-4 py-1 lg:mt-8">增加運單物品</div>
            </div>
            <div class="flex border-t w-full">
                {if $result_array.deliDtl.itemList}
                <div class="w-60 h-60 flex px-8 flex-shrink">
                    <img src="{$result_array.deliDtl.productDtl.img.0.img}" class="object-contain">
                </div>
            
                <div class="flex flex-col item-center border-l border-gray-300 flex-grow">
                    <div class="grid grid-cols-7 border-b border-gray-300 px-4 py-2">
                        <div class="text-gray-700 px-4 whitespace-nowrap">圖片</div>
                        <div class="col-span-2 text-gray-700 px-4 whitespace-nowrap">物品</div>
                        <div class="text-gray-700 px-4 whitespace-nowrap">數量</div>
                        <div class="text-gray-700 px-4 whitespace-nowrap">已包裝好數量</div>
                        <div class="col-span-2 text-gray-700 px-4 whitespace-nowrap">備註</div>
                    </div>
                    <div class="itemList">
                        {foreach from=$result_array.deliDtl.itemList key=k item=i}
                        <div class="item">
                            <input name="map_id" type="hidden" value="{$i.map_id}" readonly>
                            <div class="grid grid-cols-7 px-4 border-b border-gray-300">
                                <div class="h-20 p-2">
                                    {foreach from=$result_array.itemFullList key=kk item=ii}
                                        {if $ii.item_id == $i.item_id}
                                            <img src="{$ii.item_img}" class="item_img object-contain h-full " alt="">
                                        {/if}
                                    {/foreach}
                                </div>
                                <div class="col-span-2 text-gray-800 px-4 whitespace-nowrap flex items-center">
                                    <select class="itemVal px-2 py-1 w-full border border-gray-300 rounded-lg">
                                        {foreach from=$result_array.itemFullList key=kk item=ii}
                                            <option value="{$ii.item_id}" {if $i.item_id == $ii.item_id}selected{/if}>({$ii.item_id}) {$ii.inhouse_name_tc}</option>
                                        {/foreach}
                                    </select>
                                </div>
                                <div class="text-gray-800 px-4 flex items-center">
                                    <button type="button" class="mr-1 hover:opacity-70 qty_sub"><i class="ri-subtract-line text-lg"></i></button>
                                    <input class="border border-gray-300 focus:border-transparent rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500" name="qty" value="{$i.qty}" />
                                    <button type="button" class="ml-1 hover:opacity-70 qty_add"><i class="ri-add-line text-lg"></i></button>
                                </div>
                                <div class="text-gray-800 px-4 flex items-center">{$i.packed_qty}</div>
                                <div class="col-span-2 text-gray-800 px-4 flex items-center item_remark"><input class="{if $i.remarks}bg-yellow-300 bg-opacity-60 border-yellow-400{/if} border border-gray-300 focus:border-transparent rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500" name="remarks" value="{$i.remarks}" /></div>
                            </div>
                        </div>
                        {/foreach}
                    </div>
                </div>
                {else}
                <div class="text-xl px-8 text-gray-700 py-6">未有運單物品可供顯示</div> 
                {/if}


            </div>
        </div>
    </div>

    <div id="show-edit-record">
        <div class="flex flex-row border-t p-2 lg:pt-8 lg:pl-8 items-center">
            <div class="text-2xl text-gray-800 pr-8">最近修改紀錄</div>
            <div class="{if $result_array.deliDtl.auditLogList|@count > 5}hidden{/if} text-lg text-gray-700" id="edit-log-complete">已顯示全部記錄</div>
            {if $result_array.deliDtl.auditLogList|@count > 5}
            <div class="flex items-center justify-center px-6 py-1 hover:bg-gray-100 cursor-pointer rounded-full border btn-show-record text-gray-700 w-48 text-center" style="border-color: rgb(222, 146, 98);">查看全部修改記錄</div>
            {/if}
        </div>
        {if $result_array.deliDtl.auditLogList}
        <div class="flex flex-col item-center">
            <div class="grid grid-cols-8 border-b-2 border-gray-300 lg:pl-8">
                <div class="text-gray-700 px-4 py-4">Log ID</div>
                <div class="text-gray-700 px-4 py-4">用戶</div>
                <div class="text-gray-700 px-4 py-4">修改條目</div>
                <div class="col-span-3 text-gray-700 px-4 py-4">紀錄</div>
                <div class="col-span-2 text-gray-700 px-4 py-4">時間</div>
            </div>
            {foreach from=$result_array.deliDtl.auditLogList key=k item=i}
            <div class="grid grid-cols-8 border-b border-gray-300 lg:pl-8 auditLog {if $k > 4}hidden{/if}">
                <div class="text-gray-700 px-4 py-4">{$i.log_id}</div>
                <div class="text-gray-700 px-4 py-4">{$i.username}</div>
                <div class="text-gray-700 px-4 py-4">{$i.fieldDisplay}</div>
                <div class="col-span-3 text-gray-700 px-4 py-4 items-center flex">
                    {if $i.field == "deli_before_photo_path" || $i.field == "deli_after_photo_path"}
                        {if $i.originalDisplay}{$i.originalDisplay}{else}<img src="{$i.original_value}" class="h-16">{/if}
                        <i class="ri-arrow-right-line"></i>
                        {if $i.updatedDisplay}{$i.updatedDisplay}{else}<img src="{$i.updated_value}" class="h-16">{/if}
                    {else}
                        {if $i.originalDisplay}{$i.originalDisplay}{else}{$i.original_value}{/if}
                        <i class="ri-arrow-right-line"></i>
                        {if $i.updatedDisplay}{$i.updatedDisplay}{else}{$i.updated_value}{/if}
                    {/if}
                </div>
                <div class="col-span-2 text-gray-700 px-4 py-4">{$i.create_datetime}</div>
            </div>
            {/foreach}
        </div>
        {else}
        <div class="text-xl px-8 text-gray-700 pb-4">未有修改紀錄可供顯示</div> 
        {/if}
    </div>
</div>

<div id="order_picker" class="hidden">
    <form class="order_picker_form p-4 w-full sm:w-84" autocomplete="off">
        <div>
            <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                <div class="w-full">
                    <input autocomplete="off" name="skey" placeholder="訂單編號">
                </div>
                <div>
                    <i class="ri-search-line"></i>
                </div>
            </div>
        </div>
        <div class="relative h-full h-screen-50">
            <div class="order-picker-inner bg-white h-full w-full overflow-y-auto absolute top-0 left-0 z-10">
                <div class="tpl hidden bg-white flex items-center border border-solid rounded mb-2 cursor-pointer hover:bg-gray-100">
                    <div class="p-2">
                        <div class="order_no"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="qrcode" class="hidden"></div>

{include file='module/itemPicker.html'}
{if $result_array.deliDtl.card_json}
<script>
var konvaJson = JSON.parse('{$result_array.deliDtl.card_json}');
var card_id = '{$result_array.deliDtl.card_id}';
</script>
{/if}

<script>
var deli_id = '{$result_array.deliDtl.deli_id}';
var deli_no = '{$result_array.deliDtl.deli_no}';
</script>


{literal}
<script>

$(document).on("click", ".item_option", function(){
    $container = $(".itemList");
    item = $(this).data("item")

    tpl = ` <div class="item">
                <input name="map_id" type="hidden" value="0" readonly>
                <div class="grid grid-cols-7 px-4 border-b border-gray-300">
                    <div class="h-20 p-2 item_img_wrapper">
                        <img src="${item.item_img}" class="item_img object-contain h-full w-12 h-12" alt="">
                    </div>
                    <div class="col-span-2 text-gray-800 px-4 whitespace-nowrap flex items-center">
                        ${item.inhouse_name_tc}
                    </div>
                    <div class="text-gray-800 px-4 flex items-center">
                        <button type="button" class="mr-1 hover:opacity-70 qty_sub"><i class="ri-delete-bin-line text-lg"></i></button>
                        <input class="border border-gray-300 focus:border-transparent rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500" name="qty" value="1" />
                        <button type="button" class="ml-1 hover:opacity-70 qty_add"><i class="ri-add-line text-lg"></i></button>
                    </div>
                    <div class="text-gray-800 px-4 flex items-center">0</div>
                    <div class="col-span-2 text-gray-800 px-4 flex items-center item_remark"><input class="border border-gray-300 focus:border-transparent rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500" name="remarks" value="" /></div>
                </div>
            </div>`

    $container.append(tpl);
});

$(document).on("click", ".btn_ctl", function(){
    ctl = $(this).attr('data-ctl');
    switch (ctl){
        case 'deli_qrcode':
            $("#qrcode").html("")
            new QRCode(document.getElementById("qrcode"), `DELIID:${deli_id}||DELINO:${deli_no}`);

            setTimeout(function(){
                var mywindow = window.open('', 'QR Code', 'height=300,width=300');
                mywindow.document.write(document.getElementById("qrcode").innerHTML);
                mywindow.document.close(); // necessary for IE >= 10
                mywindow.focus(); // necessary for IE >= 10*/
            }, 500)
            break;
    }
})

$(".itemList").children(".item").each(function() {
    if ($(this).find("[name=qty]").val() <= 1) {
        $(this).find("[name=qty]").siblings("button").find("i.ri-subtract-line").removeClass("ri-subtract-line").addClass("ri-delete-bin-line")
    }
})   

$(document).off("click", ".qty_add")
$(document).on("click", ".qty_add", function() {
    var currentValue = $(this).siblings("[name=qty]").val()
    currentValue ++; 
    if (currentValue > 1) {
        $(this).siblings("[name=qty]").val(currentValue)
        $(this).siblings("button").find("i.ri-delete-bin-line").removeClass("ri-delete-bin-line").addClass("ri-subtract-line")
    } else {
        console.log($(this).siblings("button"))
        $(this).siblings("qty_sub").find(".ri-delete-bin-line").removeClass("ri-delete-bin-line").addClass("ri-add-line")
        $(this).siblings("[name=qty]").val(currentValue)
    }
})

$(document).off("click", ".qty_sub")
$(document).on("click", ".qty_sub", function() {
    var currentValue = $(this).siblings("[name=qty]").val()
    currentValue --;
    if (currentValue == 1) {
        $(this).find("i.ri-subtract-line").removeClass("ri-subtract-line").addClass("ri-delete-bin-line")
        $(this).siblings("[name=qty]").val(currentValue)
    } else if (currentValue <= 0) {
        $(this).parents(".item").remove()
    } else {
        $(this).siblings("[name=qty]").val(currentValue)
    }
})

$(document).off("click", ".new_item_btn")
$(document).on("click", ".new_item_btn", function(){
    $vkmodal({
        fullScreen: false,
        tapBackgroundToClose: true,
        content: $('#product_item_picker').html(),
        mounted: function(){
            $(".vk-modal-dom").find("[name=skey]").focus().keyup();
        }
    });
});


$("#a-filetag").on("change", function() {
    changeImage(this);

    function changeImage(input) { 
        if (input.files && input.files[0]) {
            $reader = new FileReader();
            
            $reader.onload = function(e) {
                $("#a-preview").attr('src', e.target.result);
                $("#a-preview").show();
                $("#a-upload-text").hide();
                $("#a-preview-border").removeClass("w-44 border-4 rounded-lg");
            }
            
            $reader.readAsDataURL(input.files[0]);
        }
    }
});

$("#b-filetag").on("change", function() {
    changeImage(this);

    function changeImage(input) { 
        if (input.files && input.files[0]) {
            $reader = new FileReader();
            
            $reader.onload = function(e) {
                $("#b-preview").attr('src', e.target.result);
                $("#b-preview").show();
                $("#b-upload-text").hide();
                $("#b-preview-border").removeClass("w-44 border-4 rounded-lg");
            }
            
            $reader.readAsDataURL(input.files[0]);
        }
    }
});

$(document).off("click", ".btn-show-record")
$(document).on("click", ".btn-show-record", function(){
    $(".auditLog").removeClass("hidden");
    $("#edit-log-complete").removeClass("hidden")
    $(this).hide()
})


$(".item_remark input").each(function(i,v ){
    if($(v).val())
    $(".items_remark_alert").removeClass("hidden")    
})

$(document).ready(function(){

    $(document).on("click", ".btn_order_picker", async function(e){
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#order_picker').html(),
            mounted: function(){
                $(".vk-modal-dom").find("[name=skey]").focus().keyup();
            }
        });
    });

    $(document).off("keyup", ".order_picker_form [name=skey]");
    $(document).on("keyup", ".order_picker_form [name=skey]", function(){
        $container = $(".order-picker-inner");
        $.bajax({
            url: "admin/shipment/api/getOrderList",
            method: 'POST',
            data: {skey:$(this).val()},
            callback: function(data) {
                if (data.code == 0){
                    $container.children(".order_option").remove();
                    res = data.result.orderList;
                    res.forEach(function($row){
                        $tpl = $("#order_picker .tpl").clone();
                        $tpl.removeClass("tpl");
                        $tpl.removeClass("hidden");
                        $tpl.addClass("order_option")
                        
                        $tpl.find(".order_no").html($row.order_no)
                        
                        $tpl.attr({
                            "data-order_id": $row.order_id,
                            "data-order_no": $row.order_no
                        })
                        $container.append($tpl)
                    });
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });

    $(document).off("click", ".order_option");
    $(document).on("click", ".order_option", function(){
        order_id = $(this).attr("data-order_id");
        
        $("[name=order_id]").val(order_id);
        $(".btn_order_picker").html($(this).attr("data-order_no"));
        

        var $this = $(this)
        if ($this.closest('.vk-modal-dom').length == 1) {
            $this.closest('.vk-modal-dom').data()._destory()
        }
        return;
    })


    // $(document).off("change", ".itemVal");
    // $(document).on("change", ".itemVal", function(e){
    //     var $dom = $(this).parents(".item");
    //     var item = itemFullList.find(o => o.item_id === $(this).val());

    //     $dom.find("[name=sku_id] option").remove();
    //     item.skuList.forEach(function(sku){
    //         $option = $("<option/>").attr({
    //             value: sku.sku_id
    //         }).html(sku.sku_val);
    //         $dom.find("[name=sku_id]").append($option);
    //     }); 
        
    //     $dom.find(".item_img").attr("src", item.item_img);
    // });


    $(".content_edit_form").submit(async function(e){
        var itemList = [];
        $(".itemList .item").each(function(idx, val){
            itemList.push({
                map_id: $(val).find("[name=map_id]").val(),
                deli_id: $("[name=deli_id]").val(),
                remarks: $(val).find("[name=remarks]").val(),
                sku_id: $(val).find("[name=sku_id]").val(),
                qty: $(val).find("[name=qty]").val()
            });
        });
        $("[name=itemList]").val(JSON.stringify(itemList));


        $("[name=is_greeting_card_printed]").val($("[for=is_greeting_card_printed]").is(":checked")?'Y': 'N' );
        $("[name=is_compose_note_printed]").val($("[for=is_compose_note_printed]").is(":checked")?'Y': 'N' );
        $("[name=is_receive_note_printed]").val($("[for=is_receive_note_printed]").is(":checked")?'Y': 'N' );
        $("[name=is_blank_card_provide]").val($("[for=is_blank_card_provide]").is(":checked")?'Y': 'N' );
        $("[name=is_client_card]").val($("[for=is_client_card]").is(":checked")?'Y': 'N' );

        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                globalLoader($loader);
                if (!data.code == 0){
                    globalErrorReturn(data);
                } else {
                    // location.replace("admin/shipment/deliDtl?deli_id=" + data.result.deli_id)
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
});
</script>
{/literal}