
<form id="list_form" action="admin/shipment/deliList" method="get" class="m-0">
    <div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-12">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold">運單管理</div>
        </div>
        <!-- <a href="admin/shipment/deliDtl?deli_id=0"><div class="ml-8 px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full mr-auto cursor-pointer my-auto">增加運單</div></a> -->
        <div class="ml-4">
            <div class="px-3 py-2 font-bold inline-flex ml-2">批量動作: </div>
            <select class="batch_act border border-gray-300 py-1 px-1 rounded font-bold">
                <option value="">-- 修改項目 --</option>
                <option value="item_update">更改物品</option>
            </select>
        </div>

        <div class="flex bg-white rounded-full ml-auto shadow">
            <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
            <input name="order" type="hidden" value="{$result_array.page_config.order}">
            <input name="page" type="hidden" value="{$result_array.page_config.page}">
            <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
            <input name="timeslot_id_arr" type="hidden" value="{$result_array.page_config.timeslot_id_arr}">
            <input name="region_id_arr" type="hidden" value="{$result_array.page_config.region_id_arr}">
            <input name="deli_status" type="hidden" value="{$result_array.page_config.deli_status}">
            <input name="item_id_arr" type="hidden" value="{$result_array.page_config.item_id_arr}">
            <input name="skey" class="flex px-4 py-2 rounded-full truncate" type="text" placeholder="運單編號, 訂單編號, 產品名稱" value="{$result_array.page_config.skey}">
            <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                <i class="ri-search-line text-lg"></i>
            </div>
        </div>
    </div>

    <div class="bg-white rounded-lg mx-4 lg:mx-10 my-1 text-gray-600 shadow-lg">
        <div class="grid grid-cols-12 w-full px-4 lg:px-8 py-2">
            <div class="col-span-12 flex flex-row w-full items-center py-2">
                <i class="ri-filter-line text-lg"></i>
                <div class="px-2 flex-none">狀態篩選</div>
                <select id="deli_status_container" class="selectize w-full" multiple>
                    <option value="incart" {if $result_array.page_config.deli_status|strstr:"incart"}selected{/if}>購物車中</option>
                    <option value="waitingPayment" {if $result_array.page_config.deli_status|strstr:"waitingPayment"}selected{/if}>待收款</option>
                    <option value="paid" {if $result_array.page_config.deli_status|strstr:"paid"}selected{/if}>已收款</option>
                    <option value="packing" {if $result_array.page_config.deli_status|strstr:"packing"}selected{/if}>執貨中</option>
                    <option value="readyToPack" {if $result_array.page_config.deli_status|strstr:"readyToPack"}selected{/if}>已完成執貨並等待包裝</option>
                    <option value="packed" {if $result_array.page_config.deli_status|strstr:"packed"}selected{/if}>已包裝</option>
                    <option value="scheduled" {if $result_array.page_config.deli_status|strstr:"scheduled"}selected{/if}>已安排運輸</option>
                    <option value="delivering" {if $result_array.page_config.deli_status|strstr:"delivering"}selected{/if}>運送中</option>
                    <option value="cantDeliver" {if $result_array.page_config.deli_status|strstr:"cantDeliver"}selected{/if}>無法送達</option>
                    <option value="acknowledged" {if $result_array.page_config.deli_status|strstr:"acknowledged"}selected{/if}>客戶已確認</option>
                    <option value="delivered" {if $result_array.page_config.deli_status|strstr:"delivered"}selected{/if}>已送達</option>
                    <option value="completed" {if $result_array.page_config.deli_status|strstr:"completed"}selected{/if}>已核實送達</option>
                </select>
            </div>
            <div class="col-span-12 flex flex-row w-full items-center py-2 border-t border-b border-gray-300">
                <i class="ri-filter-line text-lg"></i>
                <div class="px-2 flex-none">時段篩選</div>
                <div class="w-full">
                    <select id="timeslot_container" class="selectize w-full" multiple>
                        {foreach from=$result_array.timeslotList key=k item=i}
                        <option value="{$i.slot_id}" {if in_array($i.slot_id, explode(',',$result_array.page_config.timeslot_id_arr))}selected{/if}>({$i.slot_id}) {$i.adm_name}({$i.start_time} - {$i.end_time})</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="col-span-12 flex flex-row w-full items-center py-2 border-b border-gray-300">
                <i class="ri-filter-line text-lg"></i>
                <div class="px-2 flex-none">地區篩選</div>
                <div class="w-full">
                    <select id="region_container" class="selectize w-full" multiple>
                        {foreach from=$result_array.regionList key=k item=i}
                        <option value="{$i.region_id}" {if in_array($i.region_id, explode(',',$result_array.page_config.region_id_arr))}selected{/if}>({$i.region_id}) {$i.name_tc} ({$i.name_en})</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="col-span-3 flex flex-row w-full items-center py-2 border-b border-gray-300">
                <i class="ri-filter-line text-lg"></i>
                <div class="px-2 flex-none">落單日期</div>
                <input name="order_date_start" type="date" class="border border-gray-300 focus:border-transparent rounded-lg w-32 py-1 pl-2 focus:ring-2 ring-blue-500" value="{$result_array.page_config.order_date_start}"><span class="mx-2"> - </span><input name="order_date_end" type="date" class="border border-gray-300 focus:border-transparent rounded-lg w-32 py-1 pl-2 focus:ring-2 ring-blue-500" value="{$result_array.page_config.order_date_end}">
            </div>
            <div class="col-span-3 flex flex-row w-full items-center py-2 border-b border-gray-300">
                <i class="ri-filter-line text-lg"></i>
                <div class="px-2 flex-none">運送日期</div>
                <input name="deli_date_start" type="date" class="border border-gray-300 focus:border-transparent rounded-lg w-32 py-1 pl-2 focus:ring-2 ring-blue-500" value="{$result_array.page_config.deli_date_start}"><span class="mx-2"> - </span><input name="deli_date_end" type="date" class="border border-gray-300 focus:border-transparent rounded-lg w-32 py-1 pl-2 focus:ring-2 ring-blue-500" value="{$result_array.page_config.deli_date_end}">
            </div>
            <div class="col-span-6 flex flex-row w-full items-center py-2 border-b border-gray-300">
                <i class="ri-filter-line text-lg"></i>
                <div class="px-2 flex-none">內含物品</div>
                <div class="w-full">
                    <select id="item_container" class="selectize w-full" multiple>
                        {foreach from=$result_array.itemList key=k item=i}
                        <option value="{$i.item_id}" {if in_array($i.item_id, explode(',',$result_array.page_config.item_id_arr))}selected{/if}>({$i.item_id}) {$i.inhouse_name_tc}</option>
                        {/foreach}
                    </select>
                </div>
            </div>

            <div class="col-span-12 btn-sorting_submit bg-gray-100 border border-gray-300 text-gray-800 rounded hover:opacity-70 px-4 py-0.5 cursor-pointer mx-auto mt-4 mb-2">提交</div>
        </div>
    </div>
</form>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-10">
    <div class="grid grid-cols-12 gap-5 text-gray-600 border-b-2 border-gray-300 px-4 py-3 lg:px-8">
        <div class="col-span-2 flex flex-row my-auto cursor-pointer flex items-center gap-2" >
            <input type="checkbox" id="btn_batch_all" name="btn_batch_all" class="w-4 h-4">
            <div class="sortable flex {if $result_array.page_config.sort == "deli_id" && $result_array.page_config.order == "desc"}desc{/if}" data-sort_field="deli_id">
                {if $result_array.page_config.sort == "deli_id"} 
                    {if $result_array.page_config.order == "desc"}
                        <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                    {else}
                        <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                    {/if}
                {else}
                    <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
                {/if}
                <div>運單編號</div>
            </div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "product_code" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="product_code">
            {if $result_array.page_config.sort == "product_code"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>產品編號</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "order_datetime" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="order_datetime">
            {if $result_array.page_config.sort == "order_datetime"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>落單日期</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "deli_date" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="deli_date">
            {if $result_array.page_config.sort == "deli_date"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>運送日期</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "deli_timeslot_id" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="deli_timeslot_id">
            {if $result_array.page_config.sort == "deli_timeslot_id"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>運送時段</div>
        </div>
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "deli_region_id" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="deli_region_id">
            {if $result_array.page_config.sort == "deli_region_id"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>運送地區</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "car_id" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="car_id">
            {if $result_array.page_config.sort == "car_id"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>車</div>
        </div>
        <div class="my-auto">運單狀態</div>
        <div class="my-auto">運單狀態</div>
        <div class="my-auto ml-auto">操作</div>
    </div>

    {foreach from=$result_array.deliList key=k item=i}
    <div class="grid grid-cols-12 auto-rows-auto items-center gap-5 px-4 py-3 lg:px-8 text-gray-800 border-b border-gray-300 hover:bg-gray-100" data-itemList='{json_encode($i.deliDtl.itemList)}' data-deli_id="{$i.deli_id}" data-deli_no="{$i.deli_no}">
        <div class="col-span-2 truncate flex items-center gap-2"><input type="checkbox" id="batchEdit[{$i.deli_id}]_label" name="batchEdit[{$i.deli_id}]" value="{$i.deli_id}" class="w-4 h-4">{$i.deli_no}</div>
        <div class="truncate">{$i.productDtl.product_code}</div>
        <div class="truncate">{$i.order_datetime|substr:0:11}</div>
        <div class="truncate">{$i.deli_date}</div>
        <div class="truncate">{$i.timeslotDtl.adm_name}<br>({$i.timeslotDtl.start_time} - {$i.timeslotDtl.end_time})</div>
        <div class="truncate col-span-2">{$i.regionDtl.name_tc}<br>{$i.deli_address}</div>
        <div class="truncate">{$i.deli_statusDisplay}</div>
        <div class="ml-auto"><a href="admin/shipment/deliDtl?deli_id={$i.deli_id}" class="items-center flex border px-2"><i class="ri-edit-line hover:text-gray-500 text-lg"></i>編輯</a></div>
    </div>
    {/foreach}
</div>

{include file='../module/pagerModule.html'}

{literal}
<script>
$(document).ready(function(){

    $(document).off("click", "#btn_batch_all");
    $(document).on("click", "#btn_batch_all", function(){
        $("[name^='batchEdit']").prop("checked", $(this).prop("checked"))
    });

    var sorting_submit = function() {
        
        $("#list_form [name=deli_status]").val($("#deli_status_container").val().toString());
        $("#list_form [name=timeslot_id_arr]").val($("#timeslot_container").val().toString());
        $("#list_form [name=region_id_arr]").val($("#region_container").val().toString());
        $("#list_form [name=item_id_arr]").val($("#item_container").val().toString());

        $("#list_form").submit();
    }

    $(document).off("click", ".btn_sorting")
    $(document).on("click", ".btn_sorting",  async function() {
        $(this).toggleClass("bg-gray-300 text-gray-800 bg-blue-500 text-white btn_sorting_active")
    })

    $(document).off("click", ".btn-sorting_submit")
    $(document).on("click", ".btn-sorting_submit", function(){
        sorting_submit()
    })
    
    $(document).off("input", ".batch_act");
    $(document).on("input", ".batch_act", function(){
        deli_id_arr = [];
        $("[name^='batchEdit']:checked").each(function(i, e){
            deli_id_arr.push($(e).val())
        });

        var action = $(this).val();

        if (action && deli_id_arr.length > 0){
            switch(action){
                case 'item_update':
                    var to_item_id = null;
                    var qty = null;
                    vkConfirmDefault({
                        title: '確認',
                        content: `<div class="flex flex-col gap-4">
                                    <div>請選擇需要更改的物品？</div>
                                    <div>
                                        <div class="font-bold">由:</div> 
                                        <select id="src_item_id">
                                            <option value=""></option>
                                            {/literal}
                                            {foreach from=$result_array.itemList key=k item=i}
                                            <option value="{$i.item_id}">({$i.item_id}) {$i.inhouse_name_tc}</option>
                                            {/foreach}
                                            {literal}
                                        </select>
                                    </div>
                                    <div>  
                                        <div class="font-bold">變更為:</div>
                                        <select id="to_item_id">
                                            <option value=""></option>
                                            {/literal}
                                            {foreach from=$result_array.itemList key=k item=i}
                                            <option value="{$i.item_id}">({$i.item_id}) {$i.inhouse_name_tc}</option>
                                            {/foreach}
                                            {literal}
                                        </select>
                                    </div>
                                    <div>
                                        <div class="flex items-baseline font-bold">數量: <div class="text-red-600 text-sm font-normal">數量漏空時, 將不會更改其數量</div></div>
                                        <input id="change_qty" name="qty" placeholder="數量漏空時, 將不會更改其數量" class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 w-full">
                                    </div>
                                </div>`,
                        confirmButtonHtml: '確認',
                        cancelButtonHtml: '返回',
                        mounted: function(ele){
                            $("#src_item_id").selectize();
                            $("#to_item_id").selectize();
                        }, 
                        confirmButtonFunction: async function(e){
                            to_item_id = $("#to_item_id").val()
                            qty = $("#change_qty").val()

                            content = `<div style="width:600px;">
                                <div class="font-bold mb-2 text-xl">請確認是否批量更改物品？</div>

                                <div class="grid grid-cols-3 w-full border-b mb-1">
                                    <div class="px-2">運單編號</div>
                                    <div class="px-2">由</div>
                                    <div class="px-2">變更為</div>
                                </div>`;

                            deli_id_arr.forEach(function(deli_id){
                                try {
                                    JSON.parse($(`[data-deli_id=${deli_id}]`).attr("data-itemList")).forEach(function(item){
                                        if (item.item_id == $("#src_item_id").val()){
                                            try {
                                                content += `
                                                    <div class="grid grid-cols-3 w-full map" data-map_id=${item.map_id}>
                                                        <div class="px-1 whitespace-nowrap">${$(`[data-deli_id=${deli_id}]`).attr("data-deli_no")}</div>
                                                        <div class="px-1 whitespace-nowrap">${$("#src_item_id").text()} * ${item.qty}</div>
                                                        <div class="px-1 whitespace-nowrap">${$("#to_item_id").text()} * ${$("#change_qty").val() ? $("#change_qty").val() : item.qty}</div>
                                                    </div>
                                                `
                                            } catch (ex){

                                            }
                                        } 
                                    })
                                } catch (ex){}
                            })

                            content += `</div>`;
                            


                            vkConfirmDefault({
                                title: '確認',
                                content: content,
                                confirmButtonHtml: '確認',
                                cancelButtonHtml: '返回',
                                confirmButtonFunction: async function(e){
                                    var data = {
                                        map_id_arr: $(".map").map(function(kdx, map){return $(map).attr('data-map_id').toString()}).toArray().join(','),
                                        to_item_id: to_item_id,
                                        action: action,
                                        qty: qty
                                    }
                                    $("#change_qty").val() ? data.qty = $("#change_qty").val() : ``;

                                    url = "admin/shipment/api/batchEditDeli";
                                    $loader = await globalLoader();
                                    $.bajax({
                                        url: url,
                                        method: 'POST',
                                        formElement: 'N',
                                        data: data,
                                        callback: function(data) {
                                            globalLoader($loader);
                                            if (data.code == 0){
                                                location.reload();
                                                $("#btn_batch_all").prop("checked", false);
                                            } else {
                                                globalErrorReturn(data);
                                            }
                                        },
                                        errorCallback: function(jqXHR, textStatus, errorThrown) {
                                            console.log(jqXHR);
                                        },
                                    });
                                }, 
                                cancelButtonFunction: async function(e){
                                    $(".batch_act option:eq(0)").prop("selected", true)
                                    $sort = $(".sortable:not(.sort-non)")
                                }
                            })
                        }, 
                        cancelButtonFunction: async function(e){
                            $(".batch_act option:eq(0)").prop("selected", true)
                            $sort = $(".sortable:not(.sort-non)")
                        }
                    })
                    break;
                default: 
                    vkConfirmDefault({
                        title: '確認',
                        content: `<div>請確認是否批量${$(this).find("option:selected").text()}？</div>`,
                        confirmButtonHtml: '確認',
                        cancelButtonHtml: '返回',
                        confirmButtonFunction: async function(e){
                            url = "admin/product/api/batchEditProduct";
                            $loader = await globalLoader();
                            $.bajax({
                                url: url,
                                method: 'POST',
                                formElement: 'N',
                                data: {
                                    product_id_arr: product_id_arr.join(','),
                                    action: action,
                                },
                                callback: function(data) {
                                    globalLoader($loader);
                                    if (data.code == 0){
                                        productListInit();
                                        $("#btn_batch_all").prop("checked", false);
                                    } else {
                                        globalErrorReturn(data);
                                    }
                                },
                                errorCallback: function(jqXHR, textStatus, errorThrown) {
                                    console.log(jqXHR);
                                },
                            });
                        }, 
                        cancelButtonFunction: async function(e){
                            $(".batch_act option:eq(0)").prop("selected", true)
                            $sort = $(".sortable:not(.sort-non)")
                        }
                    })
                    break;
            }
        } else {  
            $(".batch_act option:eq(0)").prop("selected", true)
            $sort = $(".sortable:not(.sort-non)")
        }
    });
    
})
</script>
{/literal}