<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-12">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">未處理的入數紙</div>
    </div>

    <div class="flex bg-white rounded-full ml-auto shadow">
        <form id="list_form" action="admin/shipment/depositSlipList" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="skey" class="flex px-4 py-2 rounded-full truncate" type="text" placeholder="賬單編號, 客戶電話" value="{$result_array.page_config.skey}">
                <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div> 

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-10">
    <div class="grid grid-cols-10 gap-5 text-gray-600 border-b border-gray-300 px-4 py-3 lg:px-8">
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "deli_id" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="deli_id">帳單號碼</div>
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "phone" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="phone">電話號碼</div>
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "phone" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="phone">上載人名稱</div>
        <div class="col-span-3 row-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "productDtl.product_code" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="productDtl.product_code">已上載的入數紙</div>
        <div class="my-auto ml-auto row-span-2">操作</div>
    </div>

    {foreach from=$result_array.slipList key=k item=i}
    <form action="admin/shipment/api/editDepositSlip" method="post" class="edit_form">
        <input name="shop_id" type="hidden" value="{$i.shop_id}">
        <div class="slip grid grid-cols-10 auto-rows-auto gap-5 px-4 py-3 lg:px-8 text-gray-800 border-t border-gray-300 hover:bg-gray-100" data-slip_id="{$i.slip_id}">
            <div class="col-span-2 flex flex-row items-center">
                <input type="text" name="order_no" class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" value="{$i.order_no}">
                <div class="btn-submit relative cursor-pointer text-gray-700 hover:opacity-70 text-2xl pl-4 flex items-center">
                    <i class="ri-save-line"></i>
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                </div>
            </div>
            <div class="col-span-2 flex flex-row items-center">
                <input type="tel" name="phone" class="bg-gray-100 cursor-not-allowed border border-gray-300 rounded-lg w-full py-1 pl-2" value="{$i.phone}" readonly>
            </div>
            <div class="col-span-2 flex flex-row items-center">
                <input type="text" name="submitter_name" class="bg-gray-100 cursor-not-allowed border border-gray-300 rounded-lg w-full py-1 pl-2" value="{$i.submitter_name}" readonly>
            </div>
            <div class="col-span-3">
                <a href="{$i.deposit_slip}" target="_blank"><img src="{$i.deposit_slip}" class="w-full h-24 object-cover"></a>
            </div>
            <div class="ml-auto flex flex-row items-center text-xl text-gray-700 gap-x-2">
                <div class="btn_check flex items-center">認可<i class="ri-check-line hover:opacity-70 cursor-pointer"></i></div>
                <div class="btn_void flex items-center">刪除<i class="ri-delete-bin-line hover:opacity-70 cursor-pointer"></i></div>
            </div>
        </div>
    </form>
    {/foreach}
</div>

{include file='../module/pagerModule.html'}
<script>
var shop_id = {$shop_id}
{literal}
$(document).ready(function(){
    $(document).ready(function(){
        $(".btn_check").on("click", async function(){
            var $slip = $(this).parents(".slip");
            var slip_id = $slip.attr("data-slip_id");

            $.bajax({
                url: "admin/shipment/api/getOrderList",
                method: 'POST',
                formElement: 'N',
                data: {
                    shop_id: $slip.find("[name=shop_id]").val(),
                    order_no: $slip.find("[name=order_no]").val(),
                },
                callback: function(data) {
                    if (data.code != 0){
                        globalErrorReturn(data);
                    } else {
                        if (data.result.orderList.length >0){
                            vkConfirmDefault({
                                title: '確認',
                                content: '<div>請確認這張入數紙是訂單: ' + $slip.find("[name=order_no]").val() + '</div>',
                                confirmButtonHtml: '確認',
                                cancelButtonHtml: '返回',
                                confirmButtonFunction: function(){
                                    $.bajax({
                                        url: "admin/shipment/api/approveDepositSlip",
                                        method: 'POST',
                                        formElement: 'N',
                                        data: {
                                            slip_id: slip_id,
                                            order_no: $slip.find("[name=order_no]").val(),
                                            is_confirmed: 'Y',
                                            order_id: data.result.orderList[0].order_id
                                        },
                                        callback: function(data) {
                                            if (data.code != 0){
                                                globalErrorReturn(data);
                                            } else {
                                                location.reload();
                                            }
                                        },
                                        errorCallback: function(jqXHR, textStatus, errorThrown) {
                                            console.log(jqXHR);
                                        },
                                    });
                                }
                            })
                        } else {
                            vkAlertDefault({
                                title: "錯誤",
                                content: "<div>沒有找到訂單: " + $slip.find("[name=order_no]").val() + "</div>",
                                confirmButtonHtml: "確認",
                                confirmButtonFunction:function(e){}
                            });
                        }
                        
                    }
                },
                errorCallback: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            });
        })
        $(".edit_form").submit(async function(e){
            $(this).attr("id","submittingForm");
            $loader = await globalLoader();
            e.preventDefault();
            $.bajax({
                url: $(this).attr("action"),
                method: 'POST',
                formElement: 'Y',
                formElementID: $(this).attr('id'),
                callback: function(data) {
                    $("#submittingForm").attr("id", "");
                    if (data.code != 0){
                        globalLoader($loader);
                        globalErrorReturn(data)
                    } else {
                        globalLoader($loader);
                    }
                },
                errorCallback: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            });
        })

        $(".btn_void").on("click", async function(){
            $row = $(this).parents(".edit_form");
            $loader = await globalLoader();
            var slip_id = $(this).parents(".slip").attr("data-slip_id");
            vkConfirmDefault({
                title: '確認',
                content: '<div>請確認是否刪除這條目？</div>',
                confirmButtonHtml: '確認',
                cancelButtonHtml: '返回',
                confirmButtonFunction: function(){
                    $.bajax({
                        url: "admin/shipment/api/editDepositSlip",
                        method: 'POST',
                        formElement: 'N',
                        data: {
                            slip_id: slip_id,
                            activate: 'N',
                        },
                        callback: function(data) {
                            globalLoader($loader);
                            if (data.code != 0){
                                globalErrorReturn(data);
                            } else {
                                $row.remove();
                            }
                        },
                        errorCallback: function(jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR);
                        },
                    });
                },
                cancelButtonFunction : function(){
                globalLoader($loader);
            }
            })
        })
        
    });
})
{/literal}
</script>
