
<link rel='stylesheet' type='text/css' href='adminA/js/jquery-week-calendar/libs/css/smoothness/jquery-ui-1.8.11.custom.css' />
<link rel='stylesheet' type='text/css' href='adminA/js/jquery-week-calendar/jquery.weekcalendar.css' />

<!-- <script type='text/javascript' src='adminA/js/jquery-week-calendar/libs/jquery-1.4.4.min.js'></script> -->
<script type='text/javascript' src='adminA/js/jquery-week-calendar/libs/jquery-ui-1.8.11.custom.min.js'></script>

<script type="text/javascript" src="adminA/js/jquery-week-calendar/libs/date.js"></script>
<script type='text/javascript' src='adminA/js/jquery-week-calendar/jquery.weekcalendar.js?v=1'></script>


<div id="calendar"></div>


{literal}
<script type='text/javascript'>
var year = new Date().getFullYear();
var month = new Date().getMonth();
var day = new Date().getDate();


$(document).ready(function() {
    var eventData = {
                events : [
                    {'id':1, 'start': new Date(year, month, day, 12), 'end': new Date(year, month, day, 13, 35),'title':'Lunch with Mike'},
                    {'id':2, 'start': new Date(year, month, day, 14), 'end': new Date(year, month, day, 14, 45),'title':'Dev Meeting'},
                    {'id':3, 'start': new Date(year, month, day + 1, 18), 'end': new Date(year, month, day + 1, 18, 45),'title':'Hair cut'},
                    {'id':4, 'start': new Date(year, month, day - 1, 8), 'end': new Date(year, month, day - 1, 9, 30),'title':'Team breakfast'},
                    {'id':5, 'start': new Date(year, month, day + 1, 14), 'end': new Date(year, month, day + 1, 16),'title':'Product showcase'},
                    {'id':5, 'start': new Date(year, month, day + 1, 15), 'end': new Date(year, month, day + 1, 17),'title':'Overlay event'}
                ]
            };
            $('#calendar').weekCalendar({
                data: eventData,

                timeslotsPerHour: 2,
                allowCalEventOverlap: true,
                overlapEventsSeparate: true,
                totalEventsWidthPercentInOneColumn : 95,

                height: function($calendar) {
                    return $(window).height() - $('h1').outerHeight(true);
                },
                eventRender: function(calEvent, $event) {
                    console.log($event);
                    if (calEvent.end.getTime() < new Date().getTime()) {
                        $event.css('backgroundColor', '#d00');
                        $event.find('.time').css({
                            backgroundColor: '#999',
                            border:'1px solid #888'
                        });
                    }
                },
                eventNew: function(calEvent, $event) {
                    console.log('<strong>Added event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
                },
                eventDrop: function(calEvent, $event) {
                    console.log('<strong>Moved Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
                },
                eventResize: function(calEvent, $event) {
                    console.log('<strong>Resized Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
                },
                eventClick: function(calEvent, $event) {
                    console.log('<strong>Clicked Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
                },
                eventMouseover: function(calEvent, $event) {
                    console.log('<strong>Mouseover Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
                },
                eventMouseout: function(calEvent, $event) {
                    console.log('<strong>Mouseout Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
                },
                noEvents: function() {
                    console.log('There are no events for this week');
                }
            });


//     $.bajax({
//             url: "/admin/shipment/api/getDriverSchedule2",
//             method: "POST",
//             formElement: "N",
//             callback: function (data) {
//             var schedule_list = data.result.schedule_list;
        
                
//             // var eventData = {
//             //     events : schedule_list
//             // };

//             var eventData = {
//                 events : [
//                     {'id':1, 'start': new Date(year, month, day, 12), 'end': new Date(year, month, day, 13, 35),'title':'Lunch with Mike'},
//                     {'id':2, 'start': new Date(year, month, day, 14), 'end': new Date(year, month, day, 14, 45),'title':'Dev Meeting'},
//                     {'id':3, 'start': new Date(year, month, day + 1, 18), 'end': new Date(year, month, day + 1, 18, 45),'title':'Hair cut'},
//                     {'id':4, 'start': new Date(year, month, day - 1, 8), 'end': new Date(year, month, day - 1, 9, 30),'title':'Team breakfast'},
//                     {'id':5, 'start': new Date(year, month, day + 1, 14), 'end': new Date(year, month, day + 1, 16),'title':'Product showcase'},
//                     {'id':5, 'start': new Date(year, month, day + 1, 15), 'end': new Date(year, month, day + 1, 17),'title':'Overlay event'}
//                 ]
//             };
//             $('#calendar').weekCalendar({
//                 data: eventData,

//                 timeslotsPerHour: 2,
//                 allowCalEventOverlap: true,
//                 overlapEventsSeparate: true,
//                 totalEventsWidthPercentInOneColumn : 95,

//                 height: function($calendar) {
//                     return $(window).height() - $('h1').outerHeight(true);
//                 },
//                 eventRender: function(calEvent, $event) {
//                     console.log($event);
//                     if (calEvent.end.getTime() < new Date().getTime()) {
//                         $event.css('backgroundColor', '#d00');
//                         $event.find('.time').css({
//                             backgroundColor: '#999',
//                             border:'1px solid #888'
//                         });
//                     }
//                 },
//                 eventNew: function(calEvent, $event) {
//                     console.log('<strong>Added event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
//                 },
//                 eventDrop: function(calEvent, $event) {
//                     console.log('<strong>Moved Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
//                 },
//                 eventResize: function(calEvent, $event) {
//                     console.log('<strong>Resized Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
//                 },
//                 eventClick: function(calEvent, $event) {
//                     console.log('<strong>Clicked Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
//                 },
//                 eventMouseover: function(calEvent, $event) {
//                     console.log('<strong>Mouseover Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
//                 },
//                 eventMouseout: function(calEvent, $event) {
//                     console.log('<strong>Mouseout Event</strong><br/>Start: ' + calEvent.start + '<br/>End: ' + calEvent.end);
//                 },
//                 noEvents: function() {
//                     console.log('There are no events for this week');
//                 }
//             });

//         },
//     })
// });
});
</script>
{/literal}
