<link rel="stylesheet" href="adminA/js/jquery.schedule/css/style.min.css?v=1">
<script src="adminA/js/jquery.schedule/js/jq.schedule.js?v=1"></script>
<script src="https://releases.jquery.com/git/ui/jquery-ui-git.js"></script>


<div class="flex flex-col px-4 lg:px-12 lg:pb-16">
    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">排車系統</div>
        </div>
    </div>
    


    
    <div id="schedule"></div>
</div>

{literal}
<script>

$(document).ready(function(){
    var $sc = $("#schedule").timeSchedule({
        startTime: "09:00", // schedule start time(HH:ii)
        endTime: "24:00",   // schedule end time(HH:ii)
        widthTime: 60 * 20,  // cell timestamp example 10 minutes
        timeLineY: 60,       // height(px)
        verticalScrollbar: 20,   // scrollbar (px)
        timeLineBorder: 2,   // border(top and bottom)
        bundleMoveWidth: 3,  // width to move all schedules to the right of the clicked time line cell
        draggable: true,
        resizable: true,
        dataWidth: 80,
        resizableLeft: true,
        onChange: function(node, data){
            console.log("onchange")
        },
    });

    $.bajax({
          url: "/admin/shipment/api/getDriverSchedule",
          method: "POST",
          formElement: "N",
          callback: function (data) {
            var driver_list = data.result.driver_list;
            
            for(var i = 0 ; i < driver_list.length ; i++){
                driver = driver_list[i]
                // rowData = [];
                // for(var j = 0 ; j < driver.schedule_list ; j++){
                //     sc = driver_schedule_list[j];
                //     rowData.push({
                //         start: sc.start,
                //         end: sc.end,
                //         text: sc.text
                //     })
                // }
                $("#schedule").timeSchedule('addRow', 0, {
                    title : driver.username,
                    schedule: driver.schedule_list
                });
            }
        },
    })

    // rows : {
    //         '0' : {
    //             title : 'Title Area1',
    //             schedule:[
    //                 {
    //                     start: '09:00',
    //                     end: '12:00',
    //                     text: 'Text Area',
    //                     data: {
    //                     }
    //                 },
    //                 {
    //                     start: '11:00',
    //                     end: '14:00',
    //                     text: 'Text Area',
    //                     data: {
    //                     }
    //                 }
    //             ]
    //         },
    //         '1' : {
    //             title : 'Title Area2',
    //             schedule:[
    //                 {
    //                     start: '16:00',
    //                     end: '17:00',
    //                     text: 'Text Area',
    //                     data: {
    //                     }
    //                 }
    //             ]
    //         }
    //     },

});

</script>
{/literal}