<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-12">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">未處理的Excel下單</div>
    </div>

    <div class="flex bg-white rounded-full ml-auto shadow hidden">
        <form id="list_form" action="admin/shipment/deliList" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="skey" class="flex px-4 py-2 rounded-full truncate" type="text" placeholder="編號, 狀態, 產品, 地區" value="{$result_array.page_config.skey}">
                <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-10">
    <div class="grid grid-cols-9 gap-5 text-gray-600 border-b border-gray-300 px-4 py-3 lg:px-8">
        <div>檔案編號</div>
        <div class="col-span-2 truncate">客人姓名</div>
        <div class="col-span-2 truncate">客人電話</div>
        <div class="col-span-2 truncate">客人電郵</div>
        <div>已上載的檔案</div>
        <div class="my-auto ml-auto">操作</div>
    </div>

    {foreach from=$result_array.excelList key=k item=i}
    <div class="slip grid grid-cols-9 auto-rows-auto gap-5 px-4 py-3 lg:px-8 text-gray-800 border-t border-gray-300 hover:bg-gray-100" data-excel_id="{$i.excel_id}">
        <div>{$i.excel_id}</div>
        <div class="col-span-2 truncate">{$i.name}</div>
        <div class="col-span-2 truncate">{$i.phone}</div>
        <div class="col-span-2 truncate">{$i.email}</div>
        <a href="{$i.excel_path}" target="_blank">
            <div class="flex flex-row items-center">
                <i class="ri-save-3-line text-lg pr-2"></i>
                <div>下載檔案</div>
            </div>
        </a>
        <div class="ml-auto flex">
            <div class="btn_check pr-2"><i class="ri-check-line hover:text-gray-400 cursor-pointer"></i></div>
            <div class="btn_void"><i class="ri-delete-bin-line hover:text-gray-400 cursor-pointer"></i></div>
        </div>
    </div>
    {/foreach}
</div>

{include file='../module/pagerModule.html'}
<script>
var shop_id = {$shop_id}
{literal}
$(document).ready(function(){
    $(document).ready(function(){
        $(".btn_check").on("click", async function(){
            var excel_id = $(this).parents(".slip").attr("data-excel_id");
            vkConfirmDefault({
                title: '確認',
                content: '<div>請確認這檔案已完成處理？</div>',
                confirmButtonHtml: '確認',
                cancelButtonHtml: '返回',
                confirmButtonFunction: function(){
                    $.bajax({
                        url: "admin/shipment/api/editExcel",
                        method: 'POST',
                        formElement: 'N',
                        data: {
                            excel_id: excel_id,
                            is_confirmed: 'Y',
                        },
                        callback: function(data) {
                            if (data.code != 0){
                                globalErrorReturn(data);
                            } else {
                                // location.reload();
                            }
                        },
                        errorCallback: function(jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR);
                        },
                    });
                }
            })
        })

        $(".btn_void").on("click", async function(){
            $loader = await globalLoader();
            var excel_id = $(this).parents(".slip").attr("data-excel_id");
            vkConfirmDefault({
                title: '確認',
                content: '<div>請確認是否刪除這條目？</div>',
                confirmButtonHtml: '確認',
                cancelButtonHtml: '返回',
                confirmButtonFunction: function(){
                    $.bajax({
                        url: "admin/shipment/api/editExcel",
                        method: 'POST',
                        formElement: 'N',
                        data: {
                            excel_id: excel_id,
                            activate: 'N',
                        },
                        callback: function(data) {
                            if (data.code != 0){
                                globalLoader($loader);
                                globalErrorReturn(data);
                            } else {
                                location.reload();
                            }
                        },
                        errorCallback: function(jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR);
                        },
                    });
                },
                cancelButtonFunction : function(){
                    globalLoader($loader);
                }
            })
        })
        
    });
})
{/literal}
</script>