<div class="flex flex-row py-2 mx-2 md:mx-4 lg:mx-12 mt-8 mb-4 justify-between">
    <div class="flex items-center">
        <div class="text-3xl font-bold text-gray-800 flex-none mr-4 ">訂單編號：{$result_array.orderDtl.order_no}</div>
        {if $result_array.orderDtl.order_status == 'paid'}
        <div class="btn_accept_order text-3xl bg-blue-500 hover:opacity-70 text-white text-center px-8 py-1 rounded-full text-sm mx-auto whitespace-nowrap cursor-pointer">核實訂單</div>
        {/if}
    </div>
    <div class="flex flex-row">
        {if $result_array.orderDtl.remarks_external || $result_array.orderDtl.remarks_internal || $result_array.orderDtl.remarks_from_client}
            <div class="flex-none bg-yellow-300 bg-opacity-60 rounded-lg px-4 py-1 border border-yellow-400 text-yellow-600 flex flex-row items-center">
                <i class="ri-error-warning-line text-3xl pr-4"></i>
                <div class="flex flex-col">
                    <div>{if $result_array.orderDtl.remarks_from_client}請注意客戶備註{/if}</div>   
                    <div>{if $result_array.orderDtl.remarks_internal}請注意內部備註{/if}</div>  
                    <div>{if $result_array.orderDtl.remarks_external}請注意對客戶備註{/if}</div>    
                </div>
            </div>
        {/if}
    
        {foreach from=$result_array.orderDtl.deliList key=k item=i}
            {foreach from=$i.deliDtl.itemList key=kk item=ii}
                    {if $ii.remarks || $ii.isClientOption == "Y" || $ii.isAddon == "Y"}
                        {assign var=deliRemark value=Y}
                        
                    {/if}
            {/foreach}
        {/foreach}

        {if $deliRemark == 'Y'}
        <div class="flex-none bg-yellow-300 bg-opacity-60 rounded-lg px-4 py-1 border border-yellow-400 text-yellow-600 flex flex-row items-center ml-8">
            <i class="ri-error-warning-line text-3xl pr-4"></i>
            <div class="flex flex-col">
                <div>請注意運單產品備註 / 特別要求</div>
            </div>
        </div>
        {/if}
    </div>
</div>

<div class="flex gap-4 lg:px-12">

    <div class="bg-white rounded-lg hadow-lg my-2 mb-8 w-3/5">
        <div class="p-2 lg:p-8 ">
            <form class="content_edit_form" id="edit_form" action="/admin/shipment/api/editOrder" method="post">
                <input name="order_id" type="hidden" value="{if $result_array.orderDtl.order_id}{$result_array.orderDtl.order_id}{else}0{/if}" readonly>
                <div class="flex flex-col">
                    
                    <div class="mb-4">
                        <div class="font-bold text-xl mb-4">訂單狀態</div>
                        <div class="grid grid-cols-3 gap-2">
                            <div>
                                <div class="pb-2">訂單狀態</div>
                                <select name="order_status" class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:border-opacity-0 h-8">
                                    <option value="incart" {if $result_array.orderDtl.order_status == 'incart'}selected{/if}>在購物車中</option>
                                    <option value="waitingPayment" {if $result_array.orderDtl.order_status == 'waitingPayment'}selected{/if}>等待收款</option>
                                    <option value="autoAccept" {if $result_array.orderDtl.order_status == 'autoAccept'}selected{/if}>系統自動認可入數紙</option>
                                    <option value="paid" {if $result_array.orderDtl.order_status == 'paid'}selected{/if}>已付款</option>
                                    <option value="confirmed" {if $result_array.orderDtl.order_status == 'confirmed'}selected{/if}>已核實</option>
                                    <option value="deliProcess" {if $result_array.orderDtl.order_status == 'deliProcess'}selected{/if}>已進入包裝及運輸流程</option>
                                    <option value="completed" {if $result_array.orderDtl.order_status == 'completed'}selected{/if}>完成</option>
                                    <option value="cancelled" {if $result_array.orderDtl.order_status == 'cancelled'}selected{/if}>取消</option>
                                    <option value="refunded" {if $result_array.orderDtl.order_status == 'refunded'}selected{/if}>退款</option>
                                    <option value="onHold" {if $result_array.orderDtl.order_status == 'onHold'}selected{/if}>暫停</option>
                                    <option value="delay" {if $result_array.orderDtl.order_status == 'delay'}selected{/if}>延遲</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mb-4">
                        <div class="font-bold text-xl mb-4">客戶資料{if $result_array.orderDtl.is_monthly_payment}<span class="px-2 py-1 bg-red-500 rounded-lg ml-4 text-yellow-300">月結客戶</span>{/if}</div>
                        <div class="grid grid-cols-4 gap-2 mb-2">
                            <div>
                                <div class="pb-2">會員編號（如有）</div>
                                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="member_id" type="text" value="{$result_array.orderDtl.member_no}"> 
                            </div>
                            <div>
                                <div class="pb-2">客戶姓名</div>
                                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="sender_name" type="text" value="{$result_array.orderDtl.sender_name}"> 
                            </div>
                            <div>
                                <div class="pb-2">客戶電郵</div>
                                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="sender_email" type="text" value="{$result_array.orderDtl.sender_email}"> 
                            </div>
                            <div>
                                <div class="pb-2">客戶電話</div>
                                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="sender_phone" type="text" value="{$result_array.orderDtl.sender_phone}"> 
                            </div>
                        </div>
                    </div>
        
                    <div class="mb-4">
                        <div class="font-bold text-xl mb-4">價格資料</div>
                        <div class="grid grid-cols-3 gap-2 mb-2">
                            <div>
                                <div class="pb-2">貨物總價格</div>
                                <div class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 text-gray-600 cursor-not-allowed h-8">{$result_array.orderDtl.product_price}</div>
                            </div>
                            <div>
                                <div class="pb-2">運輸總額外收費</div>
                                <div class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 text-gray-600 cursor-not-allowed">{$result_array.orderDtl.shipping_fee}</div>
                            </div>
                            <div>
                                <div class="pb-2">時段總附加費</div>
                                <div class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 text-gray-600 cursor-not-allowed">{$result_array.orderDtl.timeslot_fee}</div>
                            </div>
                        </div>
                        <div class="grid grid-cols-4 gap-2 mb-2">
                            <div>
                                <div class="pb-2">積分使用</div>
                                {if $result_array.orderDtl.cash_dollar_used}
                                <div class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 text-gray-600 cursor-not-allowed">{$result_array.orderDtl.cash_dollar_used}</div>
                                {else}
                                    <div class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 text-gray-600 cursor-not-allowed text-gray-500">- 沒有使用積分 -</div>
                                {/if}
                            </div>
                            <div>
                                <div class="pb-2">優惠碼折扣</div>
                                {if $result_array.orderDtl.coupon_discount}
                                <div class="bg-gray-200 rounded-lg w-full py-1 px-2 cursor-not-allowed">{$result_array.orderDtl.coupon_discount}</div>
                                {else}
                                <div class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 text-gray-600 cursor-not-allowed text-gray-500">- 沒有使用優惠碼 -</div>
                                {/if}
                            </div>
                            <div>
                                <div class="pb-2">優惠卷</div>
                                {if $result_array.orderDtl.voucher_discount}
                                <div class="bg-gray-200 rounded-lg w-full py-1 px-2 cursor-not-allowed">{$result_array.orderDtl.voucher_discount}</div>
                                {else}
                                    <div class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 text-gray-600 cursor-not-allowed text-gray-500">- 沒有使用優惠卷 -</div>
                                {/if}
                            </div>
                            <div>
                                <div class="pb-2">會員階級折扣</div>
                                {if $result_array.orderDtl.membership_discount}
                                <div class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 text-gray-600 cursor-not-allowed">{$result_array.orderDtl.membership_discount}</div>
                                {else}
                                    <div class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 text-gray-600 cursor-not-allowed text-gray-500">- 沒有會員階級折扣 -</div>
                                {/if}
                            </div>
                        </div>
                        <div class="mb-2">
                            <div>
                                <div class="pb-2">總價格 <span class="text-gray-400">((貨物總價格 + 運輸總額外收費 + 時段總附加費) - (積分使用 + 優惠碼折扣 + 優惠卷折扣 + 會員階級折扣))</span></div>
                                <div class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 cursor-not-allowed">
                                    {$result_array.orderDtl.final_price}
                                    <span class="text-gray-400">
                                        =
                                        ({$result_array.orderDtl.product_price} + {if $result_array.orderDtl.shipping_fee}{$result_array.orderDtl.shipping_fee}{else}0{/if} + {if $result_array.orderDtl.timeslot_fee}{$result_array.orderDtl.timeslot_fee}{else}0{/if})
                                    -
                                    ({if $result_array.orderDtl.cash_dollar_used}{$result_array.orderDtl.cash_dollar_used}{else}0{/if} + {if $result_array.orderDtl.coupon_discount}{$result_array.orderDtl.coupon_discount}{else}0{/if} + {if $result_array.orderDtl.coupon_discount}{$result_array.orderDtl.voucher_discount}{else}0{/if} + {if $result_array.orderDtl.membership_discount}{$result_array.orderDtl.membership_discount}{else}0{/if}) 
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="font-bold text-xl mb-4">備註</div>
                        <div class="mb-2">
                            <div>
                                <div class="pb-2">由客戶提供的備註</div>
                                <input class="{if $result_array.orderDtl.remarks_from_client}bg-yellow-300 bg-opacity-60 border-yellow-400{/if} border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks_from_client" type="text" value="{$result_array.orderDtl.remarks_from_client}"> 
                            </div>
                        </div>
                        <div class="mb-2">
                            <div>
                                <div class="pb-2">內部備註</div>
                                <input class="{if $result_array.orderDtl.remarks_internal}bg-yellow-300 bg-opacity-60 border-yellow-400{/if} border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks_internal" type="text" value="{$result_array.orderDtl.remarks_internal}"> 
                            </div>
                        </div>
                        <div class="mb-2">
                            <div>
                                <div class="pb-2">對客戶備註</div>
                                <input class="{if $result_array.orderDtl.remarks_external}bg-yellow-300 bg-opacity-60 border-yellow-400{/if} border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks_external" type="text" value="{$result_array.orderDtl.remarks_external}"> 
                            </div>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="font-bold text-xl mb-4">其它</div>
                        <div class="grid grid-cols-2 gap-2 mb-2">
                            <div>
                                <div class="pb-2">積分賺取</div>
                                <input class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 text-gray-500 cursor-not-allowed" name="point_gain" type="text" value="{$result_array.orderDtl.point_gain}" readonly> 
                            </div>
                            <div>
                                <div class="pb-2">Excel下單檔案</div>
                                {if $result_array.orderDtl.excel_path}
                                    <a href="{$result_array.orderDtl.excel_path}">檔案下載</a>
                                {else}
                                <div class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 cursor-not-allowed text-gray-500">- 沒有Excel下單檔案 -</div>
                                {/if}
                            </div>
                            <div>
                                <div class="pb-2">售貨員</div>
                                <select class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:border-opacity-0" name="sales_admin_id" type="text" value="{$result_array.orderDtl.sales_admin_id}">
                                    {foreach from=$result_array.salesList key=k item=i}
                                    <option value="{$i.admin_id}" {if $i.admin_id == $result_array.orderDtl.sales_admin_id}selected{/if}>{$i.username}</option>
                                    {/foreach}
                                </select>
                            </div>
                            <div></div>
                            <div>
                                <div class="pb-2">入數紙</div>
                                <input class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 text-gray-800 cursor-not-allowed" name="is_confirmed" type="text" value="{if $result_array.orderDtl.slipList.0.is_confirmed == "Y"}已確認{else}顧客未上傳{/if}" readonly> 
                            </div>
                            {if $result_array.orderDtl.slipList.0}
                            <div></div>
                            <div>
                                <img src="{$result_array.orderDtl.slipList.0.deposit_slip}" class="w-full h-full object-cover" alt="">
                            </div>
                            {/if}
                        </div>
                    </div>

                    <div>
                        <input type="submit" class="px-6 py-1 bg-blue-500 text-white rounded-full my-2 cursor-pointer mb-4 hover:opacity-70" value="提交"> 
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="bg-white rounded-lg hadow-lg my-2 mb-8 w-2/5">

        <div class="p-2">
            <div class="text-2xl text-gray-800 p-2 ">運送訂單資料</div>

            <div class="grid grid-cols-7 gap-5 text-gray-600 border-b-2 border-gray-300 px-2 py-3">
                <div class="flex flex-row my-auto">運送前圖片</div>
                <div class="col-span-2 flex flex-row my-auto">運單編號<br>(產品編號)產品</div>
                <div class="col-span-2 flex flex-row my-auto">運送日子<br>運送地區</div>
                <div class="flex flex-row my-auto">運單狀態</div>
                <div class="my-auto">操作</div>
            </div>
            {foreach from=$result_array.orderDtl.deliList key=k item=i}
            <div class="grid grid-cols-7 auto-rows-auto gap-5 px-4 py-3 text-gray-800 border-b border-gray-300 hover:bg-gray-100">
                <div class="flex items-center"><img src="{$i.productDtl.img.0.img}" alt="" class="object-contain h-24"></div>
                <div class="col-span-2 flex items-center">{$i.deli_no}<br>{if $i.productDtl.product_code}({$i.productDtl.product_code}){/if}{$i.productDtl.product_name}</div>
                <div class="col-span-2 flex items-center truncate">{$i.deli_date} ({$i.timeslotDtl.adm_name})<br>{$i.regionDtl.name_tc}</div>
                <div class="flex items-center truncate">{$i.deli_statusDisplay}</div> 
                <div class="flex items-center">
                    <a href="admin/shipment/deliDtl?deli_id={$i.deli_id}"><div class="bg-blue-500 hover:opacity-70 text-white text-center px-4 py-1 rounded-full text-sm mx-auto whitespace-nowrap">查看</div></a>
                </div>
            </div>
            {/foreach}

        </div>



    </div>
</div>

<div class="lg:px-12">
    <div class="bg-white rounded-lg hadow-lg my-2 mb-8">
        <div class="text-2xl text-gray-800 p-2 lg:pl-8 border-gray-300">客戶付款記錄</div>

        <div class="grid grid-cols-6 gap-5 text-gray-600 border-b-2 border-gray-300 px-4 py-3 lg:px-8">
            <div class="flex flex-row my-auto">付款狀態</div>
            <div class="flex flex-row my-auto">付款方式</div>
            <div class="col-span-2 flex flex-row my-auto">交易編號</div>
            <div class="flex flex-row my-auto">應繳款項</div>
            <div class="flex flex-row my-auto">已收款項</div>
        </div>
        {foreach from=$result_array.orderDtl.paymentList key=k item=i}
        <div class="grid grid-cols-6 auto-rows-auto gap-5 px-4 py-3 lg:px-8 text-gray-800 border-b border-gray-300 hover:bg-gray-100">
            <div class="truncate">{$i.payment_status}</div>
            <div class="truncate">{$i.payment_method}</div>
            <div class="col-span-2 truncate">{$i.transaction_id}</div>
            <div class="truncate">$ {$i.expected_payment_value}</div>
            <div class="truncate">{if $i.actual_payment_value}$ {$i.actual_payment_value}{/if}</div>
        </div>
        {/foreach}
    </div>
</div>

<div class="lg:px-12">
    <div class="bg-white rounded-lg hadow-lg my-2 mb-8">
        <div id="show-edit-record">
            <div class="flex flex-row p-2 lg:pt-8 lg:pl-8 items-center">
                <div class="text-2xl text-gray-800 pr-8">最近修改紀錄</div>
                <div class="{if $result_array.orderDtl.auditLogList|@count > 5}hidden{/if} text-lg text-gray-700" id="edit-log-complete">已顯示全部記錄</div>
                {if $result_array.orderDtl.auditLogList|@count > 5}
                <div class="flex items-center justify-center px-6 py-1 hover:bg-gray-100 cursor-pointer rounded-full border btn-show-record text-gray-700 w-48 text-center" style="border-color: rgb(222, 146, 98);">查看全部修改記錄</div>
                {/if}
            </div>
            {if $result_array.orderDtl.auditLogList}
            <div class="flex flex-col item-center">
                <div class="grid grid-cols-8 border-b border-gray-300 lg:pl-8">
                    <div class="text-gray-700 px-4 py-4">Log ID</div>
                    <div class="text-gray-700 px-4 py-4">用戶</div>
                    <div class="text-gray-700 px-4 py-4">修改條目</div>
                    <div class="col-span-3 text-gray-700 px-4 py-4">紀錄</div>
                    <div class="col-span-2 text-gray-700 px-4 py-4">時間</div>
                </div>
                {foreach from=$result_array.orderDtl.auditLogList key=k item=i}
                <div class="grid grid-cols-8 border-t border-gray-300 lg:pl-8 auditLog {if $k > 4}hidden{/if}">
                    <div class="text-gray-700 px-4 py-4 truncate">{$i.log_id}</div>
                    <div class="text-gray-700 px-4 py-4 truncate">{$i.username}</div>
                    <div class="text-gray-700 px-4 py-4">{$i.fieldDisplay}</div>
                    <div class="col-span-3 text-gray-700 px-4 py-4 truncate">
                        {if $i.originalDisplay}{$i.originalDisplay}{else}{$i.original_value}{/if}
                        <i class="ri-arrow-right-line"></i>
                        {if $i.updatedDisplay}{$i.updatedDisplay}{else}{$i.updated_value}{/if}
                    </div>
                    <div class="col-span-2 text-gray-700 px-4 py-4 truncate">{$i.create_datetime}</div>
                </div>
                {/foreach}
            </div>
            {else}
            <div class="text-xl px-8 text-gray-700 pb-4">未有修改紀錄可供顯示</div> 
            {/if}
        </div>
    </div>
</div>


{literal}
<script>
$(document).ready(function(){
    $(document).off("click", ".btn_accept_order").on("click", ".btn_accept_order", async function(){
        $loader = await globalLoader();
        $.bajax({
            url: "admin/shipment/api/acceptOrder",
            debug: 'Y',
            method: 'POST',
            data: {
                order_id: $("[name=order_id]").val()
            },
            formElement: 'N',
            callback: function(data) {
                globalLoader($loader);
                if (!data.code == 0){
                    vkAlertDefault({
                        title: "錯誤",
                        content: data.code + ": " +data.msg,
                        confirmButtonHtml: "確認",
                        confirmButtonFunction:function(e){}
                    });
                } else {
                    infoPopup();
                    // globalLoader($loader);
                    location.reload();
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })

    $(".content_edit_form").submit(async function(e){
        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            debug: 'Y',
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                globalLoader($loader);
                if (!data.code == 0){
                    vkAlertDefault({
                        title: "錯誤",
                        content: data.code + ": " +data.msg,
                        confirmButtonHtml: "確認",
                        confirmButtonFunction:function(e){}
                    });
                } else {
                    infoPopup();
                    // globalLoader($loader);
                    location.replace("admin/shipment/orderDtl?order_id=" + data.result.order_id)
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })

    $(document).off("click", ".btn-show-record")
    $(document).on("click", ".btn-show-record", function(){
        $(".auditLog").removeClass("hidden");
        $("#edit-log-complete").removeClass("hidden")
        $(this).hide()
    })
});
</script>
{/literal}