<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-10">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">訂單管理</div>
    </div>
    <a href="admin/shipment/quickOrder"><div class="ml-8 px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full mr-auto cursor-pointer">快速下單</div></a>

    <div class="flex bg-white rounded-full ml-auto shadow">
        <form id="list_form" action="admin/shipment/orderList" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="order_status" type="hidden" value="{$result_array.page_config.order_status}">
                <input name="skey" type="text" class="flex py-2 px-4 rounded-full truncate" placeholder="送件人名稱, 電話, 訂單號碼" value="{$result_array.page_config.skey}">
                <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bg-white rounded-lg mx-4 lg:mx-10 my-1 text-gray-600 shadow-lg">
    <div class="flex flex-row w-full px-4 lg:px-8 py-2 items-center ">
        <i class="ri-filter-line text-lg"></i>
        <div class="px-2">狀態篩選</div>
        
        <select id="order_status_container" multiple class="selectize">
            <option value="incart" {if $result_array.page_config.order_status|strstr:"incart"}selected{/if}>購物車中</option>
            <option value="waitingPayment" {if $result_array.page_config.order_status|strstr:"waitingPayment"}selected{/if}>等待收款</option>
            <option value="autoAccept" {if $result_array.page_config.order_status|strstr:"autoAccept"}selected{/if}>系統自動認可入數紙</option>
            <option value="paid" {if $result_array.page_config.order_status|strstr:"paid"}selected{/if}>已付款</option>
            <option value="deliProcess" {if $result_array.page_config.order_status|strstr:"deliProcess"}selected{/if}>已進入包裝及運輸流程</option>
            <option value="completed" {if $result_array.page_config.order_status|strstr:"completed"}selected{/if}>完成</option>
            <option value="cancelled" {if $result_array.page_config.order_status|strstr:"cancelled"}selected{/if}>取消</option>
            <option value="refunded" {if $result_array.page_config.order_status|strstr:"refunded"}selected{/if}>退款</option>
            <option value="onHold" {if $result_array.page_config.order_status|strstr:"onHold"}selected{/if}>暫停</option>
            <option value="delay" {if $result_array.page_config.order_status|strstr:"delay"}selected{/if}>延遲</option>
        </select>

        <div class="btn-sorting_submit bg-gray-100 border border-gray-300 text-gray-800 rounded hover:opacity-70 px-4 py-0.5 cursor-pointer ml-auto">提交</div>
    </div>
</div>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-10">
    <div class="grid grid-cols-11 gap-5 items-center text-gray-600 border-gray-300 px-4 py-3 lg:px-8 border-b">
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "order_no" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="order_no">
            {if $result_array.page_config.sort == "order_no"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>訂單號碼</div>
        </div>
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "order_datetime" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="order_datetime">
            {if $result_array.page_config.sort == "order_datetime"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>建立訂單時間</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "final_price" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="final_price">
            {if $result_array.page_config.sort == "final_price"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>價格</div>
        </div>
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "sender_name" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="sender_name">
            {if $result_array.page_config.sort == "sender_name"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>客戶姓名</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "sender_phone" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="sender_phone">
            {if $result_array.page_config.sort == "sender_phone"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>客戶電話</div>
        </div>
        <div class="col-span-2 my-auto">運單狀態</div>
        <div class="my-auto ml-auto">操作</div>
    </div>
    
    {foreach from=$result_array.orderList key=k item=i}
    <div class="order_grp border-b border-gray-300 hover:bg-gray-100 pb-4">
        <div class="grid grid-cols-11 auto-rows-auto items-center gap-5 px-4 lg:px-8 py-2 text-gray-800">
            <div class="col-span-2 truncate btn_order_deli flex cursor-pointer" data-order_id="{$i.order_id}">{$i.order_no}</div>
            <div class="col-span-2 truncate flex cursor-pointer">{$i.order_datetime}</div>
            <div class="truncate">{$i.final_price}</div>
            <div class="col-span-2 truncate">{$i.sender_name}</div>
            <div class="truncate">{$i.sender_phone}</div>
            <div class="col-span-2 truncate">{if $i.order_status == 'autoAccept'}<span class="blink_me px-2 py-1">{$i.order_statusDisplay}</span>{else}{$i.order_statusDisplay}{/if}</div>
            <div class="ml-auto">
                <a href="admin/shipment/orderDtl?order_id={$i.order_id}"><i class="ri-edit-line hover:text-gray-400 text-lg"></i></a>
            </div>
        </div>
        {if $i.deliList}
            <div class="bg-gray-100 px-10 deli_wrapper text-xs border-t border-gray-200 py-2">
                <div class="grid grid-cols-9 gap-5 text-gray-500 pb-0.5 font-light">
                    <div class="col-span-2 flex flex-row my-auto">運單號碼</div>
                    <div class="col-span-2 flex flex-row my-auto">產品</div>
                    <div class="col-span-2 flex flex-row my-auto"><div>(運送日子)</div><div>運送時段</div></div>
                    <div class="flex flex-row my-auto">運送地區</div>
                    <div class="flex flex-row my-auto">運單狀態</div>
                    <div class="my-auto ml-auto">操作</div>
                </div>
            </div>
            {foreach from=$i.deliList key=kk item=ii}
            <div class="bg-gray-100 px-10 grid grid-cols-9 auto-rows-auto border-b border-gray-200 gap-5 text-gray-800 font-medium py-1 items-center">
                <div class="col-span-2 text-sm">{$ii.deli_no}</div>
                <div class="col-span-2">
                    <span class="text-sm truncate">{$ii.productDtl.product_name_tc}</span>
                </div>
                <div class="col-span-2">
                    (<span class="text-sm truncate">{$ii.deli_date}</span>)
                    <span class="text-sm truncate">{$ii.timeslotDtl.adm_name} ({$ii.timeslotDtl.start_time} - {$ii.timeslotDtl.end_time})</span>
                </div>
                <div class="text-sm truncate">{$ii.regionDtl.name_tc}</div>
                <div class="text-sm truncate">{if $ii.deli_status == 'autoAccept'}<span class="blink_me px-2 py-1">{$ii.deli_statusDisplay}</span>{else}{$ii.deli_statusDisplay}{/if}</div>
                <a href="admin/shipment/deliDtl?deli_id={$ii.deli_id}" class="ml-auto hover:opacity-70"><i class="ri-edit-line"></i></a>
            </div>
        {/foreach}
        {/if}
    </div>
    {/foreach}
</div>

{include file='../module/pagerModule.html'}

{literal}
<script>
$(document).ready(function(){

    var sorting_submit = function() {
        $("#list_form [name=order_status]").val($("#order_status_container").val().toString());
        
        $("#list_form").submit();
    }

    $(document).off("click", ".btn_sorting")
    $(document).on("click", ".btn_sorting", function() {
        $(this).toggleClass("bg-gray-300 text-gray-800 bg-blue-500 text-white btn_sorting_active")
    })

    $(document).off("click", ".btn-sorting_submit")
    $(document).on("click", ".btn-sorting_submit", function(){
        sorting_submit();
    })

    // $(document).off("click", ".btn_order_deli");
    // $(document).on("click", ".btn_order_deli", function(){
    //     $(".deli_wrapper").addClass("hidden");

    //     $container = $(this).parents(".order_grp").find(".deli_wrapper");
    //     $container.removeClass("hidden");

    //     $.bajax({
    //         url: "admin/shipment/api/getDeliList",
    //         method: 'POST',
    //         data: {order_id:$(this).attr("data-order_id")},
    //         callback: function(data) {

    //             if (data.code == 0){
    //                 $(".deliList").remove();
    //                 res = data.result.deliList;
    //                 res.forEach(function($row){
    //                     $tpl = $(".deliListTpl").clone();
    //                     $tpl.removeClass("hidden");
    //                     $tpl.removeClass("deliListTpl");
    //                     $tpl.addClass("deliList");

                        // $tpl.find(".deli_id").html($row.deli_id);
                        // $tpl.find(".deli_statusDisplay").html($row.deli_statusDisplay);
                        // $tpl.find(".product_name").html($row.productDtl.product_name_tc)
                        // $tpl.find(".deli_date").html($row.deli_date);
                        // $tpl.find(".region").html($row.regionDtl.name_tc);
                        // $tpl.find(".timeslot").html($row.timeslotDtl.adm_name);
                        // $tpl.find(".action a").attr("href", "admin/shipment/deliDtl?deli_id=" + $row.deli_id);

    //                     $container.append($tpl)
    //                 });
                    
    //             }
    //         },
    //         errorCallback: function(jqXHR, textStatus, errorThrown) {
    //             console.log(jqXHR);
    //         },
    //     });
    // });

});
</script>
{/literal}