<div class="flex flex-row py-2 mx-2 md:mx-4 lg:mx-12 mt-8 mb-4">
    <div class="text-3xl font-bold text-gray-800">收費總覽</div>
</div>

<div class="bg-white rounded-lg hadow-lg mx-4 my-2 lg:mx-12">
    <div class="p-2 lg:p-8 ">
        <form id="order_create" action="/admin/shipment/api/orderCreate" method="post">
            <input type="hidden" name="sender_name" value="{$result_array.orderDtl.sender_name}" readonly>
            <input type="hidden" name="sender_email" value="{$result_array.orderDtl.sender_email}" readonly>
            <input type="hidden" name="sender_phone" value="{$result_array.orderDtl.sender_phone}" readonly>
            <input type="hidden" name="sender_company" value="{$result_array.orderDtl.sender_company}" readonly>
            <input type="hidden" name="remarks_from_client" value="{$result_array.orderDtl.remarks_from_client}" readonly>
            <input type="hidden" name="remarks_internal" value="{$result_array.orderDtl.remarks_internal}" readonly>
            <input type="hidden" name="remarks_external" value="{$result_array.orderDtl.remarks_external}" readonly>
            <input type="hidden" name="member_id" value="{$result_array.memberDtl.member_id}" readonly>
            <input type="hidden" name="deli_arr" readonly>
            <div class="flex flex-col">

                <div class="mb-4">
                    <div class="font-bold text-xl mb-4">折扣</div>
                    <div class="mb-2">
                        <div>
                            <div class="pb-2">優惠碼</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="coupon_code" type="text"> 
                        </div>
                    </div>
                    <div class="mb-2">
                        <div>
                            <div class="pb-2">優惠券</div>
                            <select class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:border-opacity-0 voucher_apply" name="member_voucher_id">
                                <option value="">-- 不使用 --</option>
                                {foreach from=$result_array.memberDtl.voucherList key=k item=i}
                                {if $i.redeemed == 'N'}
                                    <option value="{$i.member_voucher_id}">{$i.name}</option>
                                {/if}
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="mb-2">
                        <div>
                            <div class="pb-2">使用現金回贈 ( 現有 ${$result_array.memberDtl.cash_dollar} )</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="cash_dollar" type="number" max="{$result_array.memberDtl.cash_dollar}"> 
                        </div>
                    </div>
                </div>

                <div class="mb-4">
                    <div class="font-bold text-xl mb-4">產品列表</div>
                    <div class="grid grid-cols-7 gap-2 mb-2 border-b">
                        
                        <div>編號</div>
                        <div class="col-span-3">產品</div>
                        <div class="col-span-2 text-sm text-gray-400 text-right">(產品 + 升級物品 + 運送地區 + 時段)</div>
                        <div class="text-right">價格</div>
                        
                    </div>
                    <div class="grid grid-cols-7 gap-2 mb-2">
                        {foreach from=$result_array.deliDtl.deli_arr key=k item=i}
                        <div>{$k+1}</div>
                        <div class="col-span-3">({$result_array.deli_arr.$k.product_code}) {$result_array.deli_arr.$k.product_name}</div>
                        <div class="col-span-2 text-right"><span class="text-sm text-gray-400">(${$i.product_price} + ${$i.addon_price} + ${$i.shipping_fee} + ${$i.timeslot_fee})</span></div>
                        <div class="text-right">${$i.deli_price}</div>
                        {/foreach}
                    </div>


                    <div class="grid grid-cols-7 gap-2 mb-2">
                        <div class="col-span-6"></div>
                        <div class="border-t pt-2 text-right">小計 ${$result_array.deliDtl.ttl_deli_price}</div>
                    </div>
                </div>

                <div class="flex flex-col ml-auto border-b border-gray-300">
                    <div class="use_coupon flex flex-row py-1 justify-between hidden">
                        <div class="pr-4 text-gray-600 text-sm">已使用優惠碼</div>
                        <div class="coupon_val"></div>
                    </div>
                    <div class="use_voucher flex flex-row py-1 justify-between hidden">
                        <div class="pr-4 text-gray-600 text-sm">已使用優惠券</div>
                        <div class="voucher_val"></div>
                    </div>
                    <div class="use_cashdollar flex flex-row py-1 justify-between hidden">
                        <div class="pr-4 text-gray-600 text-sm">已使用現金回贈</div>
                        <div class="cashdollar_val"></div>
                    </div>
                </div>

                <div class="flex flex-row pt-8 ml-auto items-center">
                    <div class="text-lg pr-4">總計</div>
                    <div class="text-lg final_price">${$result_array.deliDtl.ttl_deli_price}</div>
                </div>


                <div class="btn-submit w-24 px-6 py-1 bg-blue-500 hover:bg-blue-400 text-center text-white rounded-full my-2 cursor-pointer mb-4">提交</div>
            </div>

            
        </form>
    </div>
</div>

{literal}
<script>

var productPrice = {/literal}{$result_array.deliDtl.ttl_deli_price}{literal};
var voucher = null;
var coupon = null;
var cash_dollar = 0;
var cash_dollarLimit = "{/literal}{$result_array.memberDtl.cash_dollar}{literal}";
$(document).ready(function(){
    $("#order_create").submit(async function(e){
   
        // $loader = await globalLoader();
        e.preventDefault();
        url = $(this).attr("action")
        id = $(this).attr('id')

        vkConfirmDefault({
            title: '確認',
            content: '<div>請確認是否儲存這條目？</div>',
            confirmButtonHtml: '確認',
            cancelButtonHtml: '返回',
            confirmButtonFunction: function(){
                $.bajax({
                url: url,
                method: 'POST',
                formElement: 'Y',
                formElementID: id,
                callback: function(data) {
                    // globalLoader($loader);
                    if (!data.code == 0){
                        vkAlertDefault({
                            title: "錯誤",
                            content: data.code + ": " +data.msg,
                            confirmButtonHtml: "確認",
                            confirmButtonFunction:function(e){}
                        });
                    } else {
                        vkAlertDefault({
                            title: "成功儲存",
                            content: "",
                            confirmButtonHtml: "返回運單管理",
                            confirmButtonFunction:function(e){window.location.href = "admin/shipment/orderList"}
                        });
                    }
                },
                errorCallback: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            })
            }
        })
    });


    function recalcFinalPrice(){
        finalPrice = 0;
        finalPrice += productPrice;

        if (coupon && coupon.couponDtl.act_discount){
            finalPrice -= coupon.couponDtl.act_discount;
        }

        if (!coupon || coupon.couponDtl.allow_voucher == 'Y'){
            // check coupon allow voucher or not
            $(".voucher_apply").attr("disabled", false).removeClass("cursor-not-allowed")
            if (voucher && voucher.voucherDtl.act_discount){
                finalPrice -= voucher.voucherDtl.act_discount
            }
        } else {
            $('.voucher_apply').prop('selectedIndex', 0);
            $(".voucher_apply").attr("disabled", true).addClass("cursor-not-allowed")
        }

        finalPrice -= cash_dollar;

        $(".final_price").html(`$ ${finalPrice}`)
    }

    $(document).off("change", "[name=cash_dollar]");
    $(document).on("change", "[name=cash_dollar]", async function(){
        
        if ($(this).val() > parseInt(cash_dollarLimit)){
            vkAlertDefault({
                title: "提示",
                content: "此用戶只有" + cash_dollarLimit + "現金回贈",
                confirmButtonHtml: "確認",
                confirmButtonFunction:function(e){}
            });
            $(this).val(cash_dollarLimit);
        } else if($(this).val() < 0){
            $(this).val(0);
        } else {
            cash_dollar = $(this).val();
            $(".use_cashdollar").removeClass("hidden")
            $(".cashdollar_val").html(`- $${cash_dollar}`)
        }

        recalcFinalPrice();
    });

    $(document).off("change", "[name=coupon_code]");
    $(document).on("change", "[name=coupon_code]", async function (){
        if ($(this).val() == ""){
            coupon = null;
            recalcFinalPrice();
        } else {

            $loader = await globalLoader();
            $.bajax({
                url: "admin/shipment/api/couponApply",
                data: {
                    coupon_code: $(this).val(),
                    final_price: productPrice,
                    deli_arr: JSON.stringify(deli_arr)
                },
                method: 'POST',
                callback: function(data) {
                    globalLoader($loader);
                    if (!data.code == 0){
                        vkAlertDefault({
                            title: "錯誤",
                            content: data.code + ": " +data.msg,
                            confirmButtonHtml: "確認",
                            confirmButtonFunction:function(e){}
                        });
                    } else {
                        coupon = data.result;
                        $(".use_coupon").removeClass("hidden")
                        $(".coupon_val").html(`- $${coupon.couponDtl.act_discount}`)
                        recalcFinalPrice();
                    }
                },
                errorCallback: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            });
        }
    });

    $(document).off("change", ".voucher_apply");
    $(document).on("change", ".voucher_apply", async function (){

        if ($(this).val() == ""){
            voucher = null;
            recalcFinalPrice();
        } else {

            // $loader = await globalLoader();
            $.bajax({
                url: "admin/shipment/api/voucherApply",
                data: {
                    member_voucher_id: $(this).val(),
                    final_price: productPrice,
                    deli_arr: JSON.stringify(deli_arr)
                },
                method: 'POST',
                callback: function(data) {
                    // globalLoader($loader);
                    if (!data.code == 0){
                        vkAlertDefault({
                            title: "錯誤",
                            content: data.code + ": " +data.msg,
                            confirmButtonHtml: "確認",
                            confirmButtonFunction:function(e){}
                        });
                    } else {
                        voucher = data.result;
                        $(".use_voucher").removeClass("hidden")
                        $(".voucher_val").html(`- $${voucher.voucherDtl.act_discount}`)
                        recalcFinalPrice();
                    }
                },
                errorCallback: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            });
        }
    });

    $(document).off("click", ".btn-submit")
    $(document).on("click", ".btn-submit", function(){
        $("#order_create").submit()
    })
});
</script>
{/literal}