<div class="flex flex-row py-2 mx-2 md:mx-4 lg:mx-12 mt-8 mb-4">
    <div class="text-3xl font-bold text-gray-800">快速新增訂單</div>
</div>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-12">
    <div class="px-8 lg:pt-8 lg:mb-8">
        <form id="quick_order"  method="post" action="/admin/shipment/quickOrderPreview">
            <div class="flex flex-col" data-page="1">
                <div class="mb-4">
                    <div class="flex flex-row justify-start items-center mb-4">
                        <div class="text-xl font-bold text-xl mr-2">客戶資料</div>
                        <div class="btn-add_member bg-blue-500 text-white rounded-full px-6 py-1 hover:opacity-70 cursor-pointer my-auto">選擇會員</div>
                    </div>
                    <div class="grid grid-cols-4 gap-2 mb-2">
                        <div class="col-span-2">
                            <div class="pb-2">會員編號</div>
                            <input class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 cursor-not-allowed" name="sender_no" type="text" readonly> 
                        </div>
                        <div class="col-span-2">
                            <div class="pb-2">客戶姓名</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="sender_name" type="text"> 
                        </div>
                        <div class="col-span-2">
                            <div class="pb-2">客戶電郵</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="sender_email" type="text"> 
                        </div>
                        <div class="col-span-2">
                            <div class="pb-2">客戶電話</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="sender_phone" type="text"> 
                        </div>
                        <div class="col-span-2">
                            <div class="pb-2">客戶公司 (如有)</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="sender_company" type="text"> 
                        </div>
                    </div>
                </div>
    
                <div class="mb-6">
                    <div class="font-bold text-xl mb-4">備註</div>
                    <div class="mb-2">
                        <div>
                            <div class="pb-2">由客戶提供的備註</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks_from_client" type="text"> 
                        </div>
                    </div>
                    <div class="mb-2">
                        <div>
                            <div class="pb-2">內部備註</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks_internal" type="text"> 
                        </div>
                    </div>
                    <div class="mb-2">
                        <div>
                            <div class="pb-2">對客戶備註</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks_external" type="text" > 
                        </div>
                    </div>
                </div>

                <div class="mb-4 flex flex-row h-full items-center">
                    <input type="hidden" name="deli_arr" class="w-full">
                    <div class="font-bold text-xl pr-4">運單列表</div>
                    <div class="px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full cursor-pointer btn_add_deli">新增運單</div>
                </div>

                <div class="deli_tpl hidden">
                    <div class="grid grid-cols-7 gap-5 text-gray-800 border-b-2 border-gray-300 px-4 py-3 lg:px-8 -mx-8">
                        <div class="product_code"></div>
                        <div class="col-span-2 product_name"></div>
                        <div class="deli_date"></div>
                        <div class="deli_time"></div>
                        <div class="deli_region"></div>
                        <div class="ml-auto">
                            <i class="ri-edit-line btn_edit cursor-pointer"></i>
                            <i class="ri-delete-bin-line btn_del px-2 cursor-pointer"></i>
                            <i class="ri-file-copy-2-line btn_copy cursor-pointer"></i>
                        </div>
                    </div>
                    <div class="deliVal"></div>
                </div>

                <div class="md:flex">
                    <div class="deli_list_wrapper md:w-2/3 mr-2"></div>
                    <div class="calc_wrapper md:w-1/3">
                        <div class="bg-white rounded-lg shadow-lg mb-4 text-xl font-bold">
                            <div class="grid grid-cols-2 items-center border-b px-8 py-4">
                                <div class="text-4xl text-gray-900">訂單計價</div>
                            </div>
                            <div class="border-b px-8">
                                <div class="flex my-4">
                                    <div class=" text-gray-400 flex-0 mr-4">產品價格</div>
                                    <div class="flex-1"><div class="border-dotted border-b-2 h-1/2" style="border-color:#999;"></div></div>
                                    <div class=" text-gray-400 flex-0 ml-4 product_price">$0.00</div>
                                </div>
                                <div class="flex my-4">
                                    <div class=" text-gray-400 flex-0 mr-4">升級物品價格</div>
                                    <div class="flex-1"><div class="border-dotted border-b-2 h-1/2" style="border-color:#999;"></div></div>
                                    <div class=" text-gray-400 flex-0 ml-4 upgrade_price">$0.00</div>
                                </div>
                                <div class="flex my-4">
                                    <div class=" text-gray-400 flex-0 mr-4">附加產品價格</div>
                                    <div class="flex-1"><div class="border-dotted border-b-2 h-1/2" style="border-color:#999;"></div></div>
                                    <div class=" text-gray-400 flex-0 ml-4 addon_price">$0.00</div>
                                </div>
                                <div class="flex my-4">
                                    <div class=" text-gray-400 flex-0 mr-4">運送成本</div>
                                    <div class="flex-1"><div class="border-dotted border-b-2 h-1/2" style="border-color:#999;"></div></div>
                                    <div class=" text-gray-400 flex-0 ml-4 shipping_fee">$0.00</div>
                                </div>
                            </div>
                            <div class="px-8">
                                <div class="flex justify-end my-2 py-2">
                                    <div class="text-gray-400 mr-4">價格</div>
                                    <div class="ttl_price">$0.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    

            <div class="flex w-full">
                <input type="submit" class="px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full my-4 mx-auto cursor-pointer" value="提交"> 
            </div>
            <input name="deli_arr" type="hidden">

        </form>
    </div>
</div>


<div id="member_picker" class="hidden">
    <form class="member_picker_form p-4 w-full sm:w-84" autocomplete="off" style="width: 70vw;">
        <div>
            <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                <div class="w-full">
                    <input class="w-full" autocomplete="off" name="skey" placeholder="名稱, 會員編號, 電話, 電郵">
                </div>
                <div>
                    <i class="ri-search-line"></i>
                </div>
            </div>
        </div>
        <div class="relative h-full h-screen-50">
            <div class="member-picker-inner bg-white h-full w-full overflow-y-auto absolute top-0 left-0 z-10">
                <div class="tpl hidden bg-white items-center border border-solid rounded mb-2 cursor-pointer hover:bg-gray-100">
                    <div class="px-2 pt-2 grid grid-cols-8 gap-3 text-sm text-gray-500">
                        <div class="">會員編號</div>
                        <div class="col-span-2">名稱</div>
                        <div class="">電話</div>
                        <div class="col-span-2">電郵</div>
                        <div class="col-span-2">公司 (如有)</div>
                    </div>
                    <div class="px-2 pb-2 grid grid-cols-8 gap-3">
                        <div class="member_no"></div>
                        <div class="col-span-2 member_name"></div>
                        <div class="member_phone"></div>
                        <div class="col-span-2 member_email"></div>
                        <div class="col-span-2 member_company"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{include file='module/productPicker.html'}

<script>

var regionList = JSON.parse('{$result_array.regionList|@json_encode nofilter}');
var timeslotList = JSON.parse('{$result_array.timeslotList|@json_encode nofilter}');
</script>

{literal}
<script>

var deli_arr = [];
var itemArr = [];
var addonArr = [];

function calcPrice(){
    console.log("calcPrice");
    var product_price = 0;
    var upgrade_price = 0;
    var addon_price = 0;
    var shipping_fee = 0;
    

    $(".deli").each(function(idx, deli){
        $deli = $(deli);
        product = $deli.data('product');

        // product price
        product_price += parseInt(product.act_price);

        // upgrade price
        $deli.find(".deliItem").each(function(idx, item){
            $item = $(item);

            if ($item.hasClass("selector")){
                // dropdown ava
                $item = $item.find(":selected")
                upgrade_price += parseInt($item.data("additional_price"));
            } else {
                // wo dropdown
            }
        })

        // addon price
        $deli.find(".addon_product").each(function(idx, addon){
            $addon = $(addon);

            if ($addon.find("[name=qty]").val() > 0 ){
                addon_price += parseInt($addon.data("product_price") * $addon.find("[name=qty]").val());
            }
        })

        // shipping_fee 
        if ($deli.find("[name=deli_region_id]").val()){
            t = regionList.find(e => e.region_id === $deli.find("[name=deli_region_id]").val()).shipping_fee
            if (t)
                shipping_fee += parseInt(t)
        }

        if ($deli.find("[name=deli_timeslot_id]").val()){
            t = timeslotList.find(e => e.slot_id === $deli.find("[name=deli_timeslot_id]").val()).deli_fee;
            if (t)
                shipping_fee += parseInt(t);
        }

        if (moment().format("YYYY-MM-DD") == $("[name=deli_date]").val()){
            // same day deli 
            t = timeslotList.find(e => e.slot_id === $deli.find("[name=deli_timeslot_id]").val()).same_day_deli_fee;
            if (t)
                shipping_fee += parseInt(t)
        }
    });

    var ttl_price = parseInt(product_price + upgrade_price + addon_price + shipping_fee);

    $(".calc_wrapper .product_price").html(`$${thousand_separator(product_price)}`)
    $(".calc_wrapper .upgrade_price").html(`$${thousand_separator(upgrade_price)}`)
    $(".calc_wrapper .addon_price").html(`$${thousand_separator(addon_price)}`)
    $(".calc_wrapper .shipping_fee").html(`$${thousand_separator(shipping_fee)}`)
    $(".calc_wrapper .ttl_price").html(`$${thousand_separator(ttl_price)}`)

}

$(document).ready(function(){

    $(document).on("change", "[name=deli_date], [name=deli_timeslot_id], [name=deli_region_id], .deliItem.selector, .addon_product [name=qty]", function(){
        calcPrice();
    })

    $(document).on("click", ".btn_del_deliItem", function(){
        $(this).parents(".deli").remove();
    })

    $(document).on("click", ".btn_add_deli", function(){
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#product_picker').html(),
            mounted: function(ele){
                $(".vk-modal-dom").find("[name=skey]").focus().keyup();

                $(document).off("click", ".product_option");
                $(document).on("click", ".product_option", function(){
                    $container = $(".deli_list_wrapper")
                    product = $(this).data("product")

                    $deli = $('<div>').attr("class", "deli flex bg-white shadow-lg border border-gray-200 rounded-lg px-4 py-3 mb-2 relative")
                    $deli.data("product", product);
                    
                    var html = `
                            <input name="product_id" type="hidden" value="${product.product_id}">
                            <a class="text-xl text-gray-400 hover:text-gray-500 px-4 py-4 btn_del_deliItem cursor-pointer absolute top-3 right-3"><i class="ri-delete-bin-line"></i></a>
                            <div class="mr-4">
                                ${product.img ? `<img src="${product.img[0].img}" class="w-24 h-24 rounded">` : ''}
                            </div>
                            <div class="flex-1">
                                <div class="text-xl font-bold">${product.product_name}</div>
                                <div class="md:flex gap-4">
                                    <div class="w-full md:w-1/2">
                                        <div class="grid grid-cols-2 gap-2 mb-2">
                                            <div>
                                                <div class="pb-2">收件人姓名</div>
                                                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="recipient_name" type="text"> 
                                            </div>
                                            <div>
                                                <div class="pb-2">收件人電話</div>
                                                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="recipient_phone" type="text"> 
                                            </div>
                                            <div>
                                                <div class="pb-2">收件人公司</div>
                                                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="recipient_company" type="text"> 
                                            </div>
                                            <div>
                                                <div class="pb-2">日子</div>
                                                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="deli_date" type="date"> 
                                            </div>
                                            <div class="col-span-2">
                                                <div class="pb-2">時段<span class="hidden text-sm text-red-400 same_day_deli_fee ml-2">(此時段會加收同日運送收費: <span></span>)</span></div>
                                                <select class="selectize w-full" name="deli_timeslot_id">
                                                    ${timeslotList.map(function(timeslot, idx){
                                                        return `<option value="${timeslot.slot_id}">${timeslot.adm_name}(${timeslot.start_time} - ${timeslot.end_time}) ${timeslot.deli_fee > 0 ? `(運費:${timeslot.deli_fee})` : ``} ${timeslot.same_day_deli_fee > 0 ? `(同日運費:${timeslot.same_day_deli_fee})` : ``}</option>`;
                                                    }).join('')}
                                                </select>
                                            </div>
                                            <div class="col-span-2">
                                                <div class="pb-2">區域</div>
                                                <select class="selectize w-full" name="deli_region_id">
                                                    ${regionList.map(function(region, idx){
                                                        return `<option value="${region.region_id}">${region.name} ${region.shipping_fee > 0 ? `(額外運費: ${region.shipping_fee})`: ``}</option>`;
                                                    }).join('')}
                                                </select>
                                            </div>
                                            <div class="col-span-2">
                                                <div class="pb-2">地址</div>
                                                <textarea name="deli_address" class="w-full block border-gray-200 border py-2 px-3 rounded" placeholder="送貨地址" spellcheck="false" data-ms-editor="true" autocomplete="off"></textarea>
                                            </div>
                                        </div>
                                        <div class="grid grid-cols-3 gap-2 mb-2">
                                            <div>
                                                <div class="pb-2">禮物卡 - 上款</div>
                                                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="card_head" type="text"> 
                                            </div>
                                            <div>
                                                <div class="pb-2">禮物卡 - 內容</div>
                                                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="card_body" type="text"> 
                                            </div>
                                            <div>
                                                <div class="pb-2">禮物卡 - 下款</div>
                                                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="card_sign" type="text"> 
                                            </div>
                                        </div>
        
                                        <div class="grid grid-cols-2 gap-2 mb-2">
                                            <div>
                                                <div class="pb-2">內部備註</div>
                                                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks_internal" type="text"> 
                                            </div>
                                            <div>
                                                <div class="pb-2">對客戶備註</div>
                                                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks_external" type="text"> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w-full md:w-1/2">
                                        <div class="mb-2"> 
                                            <div class="text-xl font-bold">產品內容</div>
                                            ${product.item_group_list.map(function(item_group, idx){
                                                var isSingle = true;
                                                item_group.item_list.forEach(function(item, idx){
                                                    if (idx > 0){
                                                        if (item.is_client_optional == 'Y')
                                                            isSingle = false;
                                                    }
                                                });

                                                if (isSingle){
                                                    // single item
                                                    var item = item_group.item_list[0] 
                                                    return `<div class="deliItem" data-item_id="${item.item_id}" data-qty="${item.qty}">${item.inhouse_name_tc} ${item.consume > 1 ?  `* ${item.consume}`: ``}</div>`;
                                                } else {
                                                    // multi item
                                                    return `<select class="deliItem selector px-2 py-1 w-full border border-gray-300 rounded-lg">
                                                            ${item_group.item_list.map(function(item, idx){
                                                                if (idx == 0 || item.is_client_optional == 'Y')
                                                                    if (idx == 0){
                                                                        return `<option data-item_id="${item.item_id}" data-qty="${item.qty}" data-isclientoption="N" data-additional_price="0">(預設)${item.inhouse_name_tc} ${item.consume > 1 ?  `* ${item.consume}`: ``}</option>`
                                                                    } else {
                                                                        return `<option data-item_id="${item.item_id}" data-qty="${item.qty}" data-isclientoption="Y" data-remarks="客戶更改內容" data-additional_price="${item.additional_price? item.additional_price :0 }">${item.inhouse_name_tc} ${item.consume > 1 ?  `* ${item.consume}`: ``}${item.additional_price > 0 ? `(追加價錢: $${item.additional_price})` : ``}</option>`
                                                                    }
                                                                else 
                                                                    return null
                                                            }).join('')}
                                                        </select>`;
                                                }

                                            }).join('')}
                                        </div>

                                        <hr class="mb-2">

                                        <div class="flex items-center">
                                            <div class="text-xl font-bold">附加產品</div>
                                            <div class="btn_addAddon cursor-pointer bg-blue-500 rounded-full px-4 py-1 text-white ml-2">選擇</div>
                                        </div>    
                                        <div class="addon_wrapper hidden">
                                            ${product.addonList.map(function(addon, idx){
                                                return `
                                                    <div class="addonGroup mb-2"> 
                                                        <div class="btn_addon_tag cursor-pointer whitespace-nowrap font-bold px-1 border-b-2 font-medium text-sm">${addon.inhouse_name_tc}</div>
                                                        ${addon.product_list.map(function(product, i){
                                                            return `<div class="addon_product" data-product_price="${product.act_price}" data-product_id="${product.product_id}" data-product_code="${product.product_code}" data-product_name="${product.product_name}">${product.product_name}(價格: $${product.act_price}) (數量: <input name="qty" value="0" class="border border-gray-300 rounded-lg w-10 mx-2 px-2 focus:ring-2 ring-blue-500 focus:border-opacity-0"></input>) </div>` 
                                                        }).join('')}
                                                    </div>
                                                `
                                            }).join('')}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    `
                    $deli.html(html);
                    $deli.find(".selectize").selectize();
                    $container.append($deli);
                        
                    
                    $("html").animate({
                        scrollTop: $(".deli_list_wrapper .deli:last-of-type").position().top -150
                    }, 500);

                    // $(".selectize:not(.selectize-control)").selectize()
                    calcPrice();
                });
            }
        });
    });

    $(document).on("click", ".btn_addAddon", function(){
        $deli = $(this).parents(".deli")
        $deli.find(".addon_wrapper").removeClass("hidden")
        $(this).remove();
    })

    $(document).on("click", ".btn-add_member", async function(e){
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#member_picker').html(),
            mounted: function(){
                $(".vk-modal-dom").find("[name=skey]").focus().keyup();
            }
        });
    });

    $(document).off("keyup", ".member_picker_form [name=skey]");
    $(document).on("keyup", ".member_picker_form [name=skey]", function(){
        $container = $(".member-picker-inner");
        $.bajax({
            url: "admin/member/api/getMemberList",
            method: 'POST',
            data: {skey:$(this).val()},
            callback: function(data) {
                if (data.code == 0){
                    $container.children(".member_option").remove();
                    res = data.result.memberList;
                    res.forEach(function($row){
                        $tpl = $("#member_picker .tpl").clone();
                        $tpl.removeClass("tpl");
                        $tpl.removeClass("hidden");
                        $tpl.addClass("member_option")
                        
                        $tpl.find(".member_no").html($row.member_no); 
                        $tpl.find(".member_name").html($row.name);
                        $tpl.find(".member_phone").html($row.mobile);
                        $tpl.find(".member_email").html($row.email);
                        $tpl.find(".member_company").html($row.company_name);
                        $tpl.attr({
                            "data-member_id": $row.member_id,
                            "data-member_no": $row.member_no,
                            "data-member_name": $row.name,
                            "data-member_phone": $row.mobile,
                            "data-member_email": $row.email,
                            "data-member_company": $row.company_name,
                        })
                        $container.append($tpl)
                    });
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });

    $(document).off("click", ".member_option")
    $(document).on("click", ".member_option", function(){
        $this = $(this)
        $("input[name=sender_id]").val($this.data("member_id"));
        $("input[name=sender_no]").val($this.data("member_no"));
        $("input[name=sender_name]").val($this.data("member_name"));
        $("input[name=sender_phone]").val($this.data("member_phone"));
        $("input[name=sender_email]").val($this.data("member_email"));
        $("input[name=sender_company]").val($this.data("member_company"));

        if ($this.closest('.vk-modal-dom').length == 1) {
            $this.closest('.vk-modal-dom').data()._destory()
        }
    })

    function checkSameDay(sel){
        cur = new Date();
        if( sel.getFullYear() === cur.getFullYear() && sel.getMonth() === cur.getMonth() && sel.getDate() === cur.getDate())
            return true;

    }

    $(document).off("change", "[name=member_id]");
    $(document).on("change", "[name=member_id]", function(){
        $("[name=sender_name]").val($(this).find("option:selected").attr("data-name"));
        $("[name=sender_email]").val($(this).find("option:selected").attr("data-email"));
        $("[name=sender_phone]").val($(this).find("option:selected").attr("data-phone"));
    });

    $("#quick_order").submit(async function (e) {
        e.preventDefault();

        var deli_arr = [];
        $(".deli").each(function(idx, deli){
            $deli = $(deli);

            itemList = [];

            $(deli).find(".deliItem").each(function(idx, item){
                $item = $(item);

                if ($item.hasClass("selector")){
                    // dropdown ava
                    $item = $item.find(":selected")
                    itemList.push({
                        "item_id": $item.data("item_id"),
                        "qty": $item.data("qty"),
                        "isClientOption": $item.data("isclientoption"),
                        "isAddon": 'N',
                        "remarks": $item.data("remarks"),
                    })
                } else {
                    // wo dropdown
                    itemList.push({
                        "item_id": $item.data("item_id"),
                        "qty": $item.data("qty"),
                        "isClientOption": 'N',
                        "isAddon": 'N',
                    })
                }
            });

            addon_list = [];

            $(deli).find(".addon_product").each(function(idx, ele){
                $addon = $(ele);

                if ($addon.find("[name=qty]").val() > 0 ){
                    
                    addon_list.push({
                        product_id: $addon.data("product_id"),
                        product_price: $addon.data("product_price"),
                        qty: $addon.find("[name=qty]").val(),
                        isAddon: 'Y', 
                        remarks: "追加產品"
                    })
                }
            })


            deli_arr.push({
                product_id: $deli.find("[name=product_id]").val(),
                recipient_name: $deli.find("[name=recipient_name]").val(),
                recipient_phone: $deli.find("[name=recipient_phone").val(),
                recipient_company: $deli.find("[name=recipient_company]").val(),
                card_head: $deli.find("[name=card_head]").val(),
                card_body: $deli.find("[name=card_body]").val(),
                card_sign: $deli.find("[name=card_sign]").val(),
                deli_region_id: $deli.find("[name=deli_region_id]").val(),
                deli_timeslot_id: $deli.find("[name=deli_timeslot_id]").val(),
                deli_date: $deli.find("[name=deli_date]").val(),
                deli_address: $deli.find("[name=deli_address]").val(),
                remarks_internal: $deli.find("[name=remarks_internal]").val(),
                remarks_external: $deli.find("[name=remarks_external]").val(),
                itemList: itemList,
                addon_list: addon_list
            });
            
        });

        $("[name=deli_arr]").val(JSON.stringify(deli_arr));
        $loader = await globalLoader();
        $.bajax({
            url: "admin/shipment/api/orderCreate",
            method: 'POST',
            formElement: 'Y',
            formElementID: "quick_order",
            callback: function(data) {
                globalLoader($loader);
                if (data.code == 0){
                    infoPopup();
                } else {
                    globalErrorReturn(data);
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });

  
});
</script>
{/literal}