<div class="flex flex-row py-2 mx-2 md:mx-4 lg:mx-12 mt-8 mb-4">
    <div class="text-3xl font-bold text-gray-800">快速新增訂單</div>
</div>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-12">
    <div class="lg:px-8 lg:pt-8 lg:mb-8">
        <form id="quick_order"  method="post" action="/admin/shipment/quickOrderPreview">
            <div class="flex flex-col" data-page="1">
                <div class="mb-4">
                    <div class="flex flex-row justify-start items-center mb-4">
                        <div class="text-xl font-bold text-xl mr-2">客戶資料</div>
                        <div class="btn-add_member bg-blue-500 text-white rounded-full px-6 py-1 hover:opacity-70 cursor-pointer my-auto">選擇會員</div>
                    </div>
                    <div class="grid grid-cols-4 gap-2 mb-2">
                        <div class="col-span-2">
                            <div class="pb-2">會員編號</div>
                            <input class="bg-gray-100 border border-gray-300 rounded-lg w-full py-1 pl-2 cursor-not-allowed" name="sender_no" type="text" readonly> 
                        </div>
                        <div class="col-span-2">
                            <div class="pb-2">客戶姓名</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="sender_name" type="text"> 
                        </div>
                        <div class="col-span-2">
                            <div class="pb-2">客戶電郵</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="sender_email" type="text"> 
                        </div>
                        <div class="col-span-2">
                            <div class="pb-2">客戶電話</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="sender_phone" type="text"> 
                        </div>
                        <div class="col-span-2">
                            <div class="pb-2">客戶公司 (如有)</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="sender_company" type="text"> 
                        </div>
                    </div>
                </div>
    
                <div class="mb-6">
                    <div class="font-bold text-xl mb-4">備註</div>
                    <div class="mb-2">
                        <div>
                            <div class="pb-2">由客戶提供的備註</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks_from_client" type="text"> 
                        </div>
                    </div>
                    <div class="mb-2">
                        <div>
                            <div class="pb-2">內部備註</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks_internal" type="text"> 
                        </div>
                    </div>
                    <div class="mb-2">
                        <div>
                            <div class="pb-2">對客戶備註</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks_external" type="text" > 
                        </div>
                    </div>
                </div>

                <div class="mb-4 flex flex-row h-full items-center">
                    <input type="hidden" name="deli_arr" class="w-full">
                    <div class="font-bold text-xl pr-4">運單列表</div>
                    <div class="px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full cursor-pointer btn_add_deli">新增運單</div>
                </div>

                <div class="deli_tpl hidden">
                    <div class="grid grid-cols-7 gap-5 text-gray-800 border-b-2 border-gray-300 px-4 py-3 lg:px-8 -mx-8">
                        <div class="product_code"></div>
                        <div class="col-span-2 product_name"></div>
                        <div class="deli_date"></div>
                        <div class="deli_time"></div>
                        <div class="deli_region"></div>
                        <div class="ml-auto">
                            <i class="ri-edit-line btn_edit cursor-pointer"></i>
                            <i class="ri-delete-bin-line btn_del px-2 cursor-pointer"></i>
                            <i class="ri-file-copy-2-line btn_copy cursor-pointer"></i>
                        </div>
                    </div>
                    <div class="deliVal"></div>
                </div>

                <div class="grid grid-cols-7 gap-5 text-gray-800 border-b-2 border-gray-300 px-4 py-3 lg:px-8 -mx-8">
                    <div class="">產品</div>
                    <div class="col-span-2">產品名稱</div>
                    <div>送件日期</div>
                    <div>送件時間</div>
                    <div>送件區域</div>
                    <div class="ml-auto">操作</div>
                </div>

                <div class="deli_list_wrapper"></div>
                </div>

                <div class="flex w-full">
                    <input type="submit" class="px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full my-4 mx-auto cursor-pointer" value="提交"> 
                </div>
            </div>
        </form>
    </div>
</div>

<div id="deli_editor" class="hidden">
    <div class="p-4 lg:p-8">
        <div class="mb-4">
            <input name="deli_id" type="hidden">
            <div class="font-bold text-3xl mb-4">運單狀態</div>
            <div class="grid grid-cols-3 mb-2">
                <div class="col-span-3 flex flex-row items-center pb-4">
                    <div class="font-bold text-xl text-gray-800 pr-4">物品列表</div>
                    <div class="btn_addProduct cursor-pointer bg-blue-500 rounded-full px-4 py-1 text-white w-24 h-8 mr-4">選擇產品</div>
                    <div class="btn_addAddon cursor-pointer bg-blue-500 rounded-full px-4 py-1 text-white w-32 h-8">選擇附加產品</div>
                    <input type="hidden" name="product_id">
                </div>
                <div class="col-span-3 selected_product_name text-lg font-semibold text-gray-800"></div>

                <div class="col-span-3">
                    <div class="gap-3 border-b border-gray-100 py-2 text-gray-500">
                        <div class="flex flex-row w-full col-span-3">物品名稱</div>
                    </div>
                    <div class="productItemList">
                        <div class="productItemTpl hidden gap-3 border-t border-gray-1 py-1 items-center">
                            <div class="productItem_name_container flex-none flex flex-row w-full col-span-3">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="mb-4">
            <div class="font-bold text-xl mb-4">收件人資料</div>
            <div class="grid grid-cols-3 gap-2 mb-2">
                <div>
                    <div class="pb-2">收件人姓名</div>
                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="recipient_name" type="text"> 
                </div>
                <div>
                    <div class="pb-2">收件人電話</div>
                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="recipient_phone" type="text"> 
                </div>
                <div>
                    <div class="pb-2">收件人公司</div>
                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="recipient_company" type="text"> 
                </div>
            </div>
        </div>
        
        <div class="mb-4">
            <div class="font-bold text-xl mb-4">運送資料</div>
            <div class="grid grid-cols-3 gap-2 mb-2">
                <div>
                    <div class="pb-2">日子</div>
                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="deli_date" type="date"> 
                </div>
                <div>
                    <div class="pb-2">時段<span class="hidden text-sm text-red-400 same_day_deli_fee ml-2">(此時段會加收同日運送收費: <span></span>)</span></div>
                    <select name="deli_timeslot_id" class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:border-opacity-0 h-8">
                    {foreach from=$result_array.timeslotList key=k item=i}
                        <option value="{$i.slot_id}" data-same_day_fee="{if $i.same_day_deli_fee}{$i.same_day_deli_fee}{else}0{/if}">{$i.adm_name}</option>
                    {/foreach}
                    </select>
                </div>
                <div>
                    <div class="pb-2">區域</div>
                    <select name="deli_region_id" class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:border-opacity-0 h-8">
                    {foreach from=$result_array.regionList key=k item=i}
                        <option value="{$i.region_id}">{$i.name_tc}</option>
                    {/foreach}
                    </select>
                </div>
            </div>
        </div>
    
        <div class="mb-4">
            <div class="font-bold text-xl mb-4">禮物卡內容</div>
            <div class="grid grid-cols-1 gap-2 mb-2">
                <div>
                    <div class="pb-2">上款</div>
                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="card_head" type="text"> 
                </div>
            </div>
            <div class="grid grid-cols-1 gap-2 mb-2">
                <div>
                    <div class="pb-2">內容</div>
                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="card_body" type="text"> 
                </div>
            </div>
            <div class="grid grid-cols-1 gap-2 mb-2">
                <div>
                    <div class="pb-2">下款</div>
                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="card_sign" type="text"> 
                </div>
            </div>
        </div>
    
        <div class="mb-4">
            <div class="font-bold text-xl mb-4">備註</div>
            <div class="grid grid-cols-1 gap-2 mb-2">
                <div>
                    <div class="pb-2">內部備註</div>
                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks_internal" type="text"> 
                </div>
            </div>
            <div class="grid grid-cols-1 gap-2 mb-2">
                <div>
                    <div class="pb-2">對客戶備註</div>
                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks_external" type="text"> 
                </div>
            </div>
        </div>
    
        <div>
            <div class="inline px-6 py-1 bg-blue-500 text-white rounded-full my-2 cursor-pointer mb-4 btn_deli_submit mr-5">提交</div>
        </div>
    </div>
</div>

<div id="product_picker" class="hidden">
    <form class="product_picker_form p-4 w-full sm:w-84" autocomplete="off">
        <div>
            <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                <div class="w-full">
                    <input autocomplete="off" name="skey" placeholder="名稱, product_id">
                </div>
                <div>
                    <i class="ri-search-line"></i>
                </div>
            </div>
        </div>
        <div class="relative h-full h-screen-50">
            <div class="product_picker_inner bg-white h-full w-full overflow-y-auto absolute top-0 left-0 z-10">
                <div class="product_option_tpl hidden bg-white flex items-center border border-solid rounded mb-2 cursor-pointer hover:bg-gray-100" data-member_id="{$result_array.memberDtl.member_id}">
                    <div class="mt-2 ml-2 mb-2 h-10 w-10 bg-center bg-contain bg-no-repeat product_img"></div>
                    <div class="p-2">
                        <div class="font-bold product_code"></div>
                        <div class="product_name"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="product_addon_picker" class="hidden">
    <form class="product_addon_picker_form p-4 w-full sm:w-84" autocomplete="off">
        <input type="hidden" name="product_id">
        <div>
            <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                <div class="w-full">
                    <input autocomplete="off" name="skey" placeholder="名稱, product_id">
                </div>
                <div>
                    <i class="ri-search-line"></i>
                </div>
            </div>
        </div>
        <div class="relative h-full h-screen-50">
            <div class="product_addon_picker_inner bg-white h-full w-full overflow-y-auto absolute top-0 left-0 z-10">
                <div class="product_addon_option_tpl hidden bg-white flex items-center border border-solid rounded mb-2 cursor-pointer hover:bg-gray-100" data-member_id="{$result_array.memberDtl.member_id}">
                    <div class="p-2 flex flex-row items-center">
                        <div class="text-gray-600 text-sm product_code pr-4"></div>
                        <div class="product_name"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="member_picker" class="hidden">
    <form class="member_picker_form p-4 w-full sm:w-84" autocomplete="off" style="width: 70vw;">
        <div>
            <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                <div class="w-full">
                    <input class="w-full" autocomplete="off" name="skey" placeholder="名稱, 會員編號, 電話, 電郵">
                </div>
                <div>
                    <i class="ri-search-line"></i>
                </div>
            </div>
        </div>
        <div class="relative h-full h-screen-50">
            <div class="member-picker-inner bg-white h-full w-full overflow-y-auto absolute top-0 left-0 z-10">
                <div class="tpl hidden bg-white items-center border border-solid rounded mb-2 cursor-pointer hover:bg-gray-100">
                    <div class="px-2 pt-2 grid grid-cols-8 gap-3 text-sm text-gray-500">
                        <div class="">會員編號</div>
                        <div class="col-span-2">名稱</div>
                        <div class="">電話</div>
                        <div class="col-span-2">電郵</div>
                        <div class="col-span-2">公司 (如有)</div>
                    </div>
                    <div class="px-2 pb-2 grid grid-cols-8 gap-3">
                        <div class="member_no"></div>
                        <div class="col-span-2 member_name"></div>
                        <div class="member_phone"></div>
                        <div class="col-span-2 member_email"></div>
                        <div class="col-span-2 member_company"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{literal}
<script>

var deli_arr = [];
var itemArr = [];
var addonArr = [];

$(document).ready(function(){

    $(document).on("click", ".btn-add_member", async function(e){
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#member_picker').html(),
            mounted: function(){
                $(".vk-modal-dom").find("[name=skey]").focus().keyup();
            }
        });
    });

    $(document).off("keyup", ".member_picker_form [name=skey]");
    $(document).on("keyup", ".member_picker_form [name=skey]", function(){
        $container = $(".member-picker-inner");
        $.bajax({
            url: "admin/member/api/getMemberList",
            method: 'POST',
            data: {skey:$(this).val()},
            callback: function(data) {
                if (data.code == 0){
                    $container.children(".member_option").remove();
                    res = data.result.memberList;
                    res.forEach(function($row){
                        $tpl = $("#member_picker .tpl").clone();
                        $tpl.removeClass("tpl");
                        $tpl.removeClass("hidden");
                        $tpl.addClass("member_option")
                        
                        $tpl.find(".member_no").html($row.member_no); 
                        $tpl.find(".member_name").html($row.name);
                        $tpl.find(".member_phone").html($row.mobile);
                        $tpl.find(".member_email").html($row.email);
                        $tpl.find(".member_company").html($row.company_name);
                        $tpl.attr({
                            "data-member_id": $row.member_id,
                            "data-member_no": $row.member_no,
                            "data-member_name": $row.name,
                            "data-member_phone": $row.mobile,
                            "data-member_email": $row.email,
                            "data-member_company": $row.company_name,
                        })
                        $container.append($tpl)
                    });
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });

    $(document).off("click", ".member_option")
    $(document).on("click", ".member_option", function(){
        $this = $(this)
        $("input[name=sender_id]").val($this.data("member_id"));
        $("input[name=sender_no]").val($this.data("member_no"));
        $("input[name=sender_name]").val($this.data("member_name"));
        $("input[name=sender_phone]").val($this.data("member_phone"));
        $("input[name=sender_email]").val($this.data("member_email"));
        $("input[name=sender_company]").val($this.data("member_company"));

        if ($this.closest('.vk-modal-dom').length == 1) {
            $this.closest('.vk-modal-dom').data()._destory()
        }
    })

    function checkSameDay(sel){
        cur = new Date();
        if( sel.getFullYear() === cur.getFullYear() && sel.getMonth() === cur.getMonth() && sel.getDate() === cur.getDate())
            return true;

    }

    $(document).off("change", "[name=deli_timeslot_id], [name=deli_date]");
    $(document).on("change", "[name=deli_timeslot_id], [name=deli_date]", function(e){
        var $this = $(".vk-modal-dom");

        if ($this.find("[name=deli_date]").val()){
            if (checkSameDay(new Date($this.find("[name=deli_date]").val())) && $(".vk-modal-dom [name=deli_timeslot_id] option:selected").attr("data-same_day_fee") != 0 ){
                $this.find(".same_day_deli_fee").removeClass("hidden");
                $this.find(".same_day_deli_fee span").html($(".vk-modal-dom [name=deli_timeslot_id] option:selected").attr("data-same_day_fee"));
            } else {
                $this.find(".same_day_deli_fee").addClass("hidden");
                $this.find(".same_day_deli_fee span").html(0);
            }
        }
    });

    $(document).on("click", ".btn_addProduct", async function(e){
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#product_picker').html(),
            mounted: function(){
                $(".vk-modal-dom").find("[name=skey]").focus().keyup();
            }
        });
    });

    $(document).off("keyup", ".product_picker_form [name=skey]");
    $(document).on("keyup", ".product_picker_form [name=skey]", function(){
        $container = $(".product_picker_inner");
        $vk = $(this).parents(".vk-modal-dom");
        $.bajax({
            url: "admin/product/api/productList",
            method: 'POST',
            data: {skey:$(this).val()},
            callback: function(data) {
                if (data.code == 0){
                    $container.children(".product_option").remove();
                    res = data.result.productList;
                    res.forEach(function($row){
                        $tpl = $vk.find(".product_option_tpl").clone();
                        $tpl.removeClass("product_option_tpl hidden").addClass("product_option")

                        
                        $tpl.find(".product_code").html("(" + $row.product_code + ")"); 
                        $tpl.find(".product_name").html($row.product_name);
                        $tpl.attr({
                            "data-product_id": $row.product_id,
                            "data-product_name": $row.product_name,
                        })

                        if ($row.img.length > 0){
                            $tpl.find(".product_img").attr({style: "background-image: url('" + $row.img[0].img + "')"});
                            $tpl.attr("data-product_img", $row.img[0].img)
                        }  
                        
                        $container.append($tpl)
                    });
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });

    $(document).off("click", ".product_option");
    $(document).on("click", ".product_option", function(e){
        $this_product_id = $(this).data("product_id")
        $("[name=product_id").val($this_product_id)
        $("[name=product_id]").change();

        var $this = $(this)
        if ($this.closest('.vk-modal-dom').length == 1) {
            $this.closest('.vk-modal-dom').data()._destory()
        }
    })

    $(document).off("click", ".btn_addAddon");
    $(document).on("click", ".btn_addAddon", function(){
        addonList = $(this).data("addonList");

        html = `
        <div class="relative pb-5 border-b border-gray-200 p-8">
            <div class="md:flex md:items-center md:justify-between">
                <h3 class="text-lg leading-6 font-medium text-gray-900 mb-2">
                    追加產品
                </h3>
            </div>
            <div>
                ${addonList.map(function(addon, idx){
                    return `
                        <div class="addonGroup mb-2"> 
                            <div class="btn_addon_tag cursor-pointer whitespace-nowrap font-bold px-1 border-b-2 font-medium text-sm">${addon.inhouse_name_tc}</div>
                            ${addon.product_list.map(function(product, i){
                                return `<div>${product.gift_product_name_tc} (數量: <input name="qty" value="0" class="border border-gray-300 rounded-lg w-10 mx-2 py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0"></input>) </div>` 
                            }).join('')}
                        </div>
                    `
                }).join('')}
            </div>

            <div class="">
                <div class="inline px-6 py-1 bg-blue-500 text-white rounded-full my-2 cursor-pointer mb-4 mr-5">提交</div>
            </div>
        </div>
        `

        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: html,
            mounted: function(){
                
            }
        });
    });


    $(document).off("change", ".vk-modal-dom [name=product_id]");
    $(document).on("change", ".vk-modal-dom [name=product_id]", async function(e){
        $loader = await globalLoader();
        itemArr = []
        
        $.bajax({
            url: "admin/shipment/api/getProductDtl",
            method: 'POST',
            data: {product_id: $(this).val()},
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    globalLoader($loader);

                    var $this = $(".vk-modal-dom");
                    $this.find("[name=itemList]").val("");

                    $(".btn_addAddon").data("addonList", data.result.addonList)

                    if (data.result.item_group_list){
                        item_group_list = data.result.item_group_list;

                        $container = $this.find(".productItemList");
                        $container.children(".productItem").remove();

                        $container.attr("data-product_name", data.result.product_name)
                        $container.attr("data-product_code", data.result.product_code)

                        item_group_list.forEach(function(item_group, idx){
                            $tpl = $this.find(".productItemTpl").clone();
                            $tpl.removeClass("productItemTpl hidden").addClass("productItem")
                            

                            // check single item
                            var isSingle = true;
                            item_group.item_list.forEach(function(item, idx){
                                if (idx > 0){
                                    if (item.is_client_optional == 'Y')
                                        isSingle = false;
                                }
                            });
                            if (isSingle){
                                // single item
                                var item = item_group.item_list[0] 
                                containerHtml = `${item.inhouse_name_tc} ${item.consume > 1 ?  `* ${item.consume}`: ``}`;
                            } else {
                                // multi item
                                containerHtml = `<select class="px-2 py-1 w-full border border-gray-300 rounded-lg">
                                        ${item_group.item_list.map(function(item, idx){
                                            if (idx == 0 || item.is_client_optional == 'Y')
                                                return `<option>${idx == 0? `(預設)` : ''}${item.inhouse_name_tc} ${item.consume > 1 ?  `* ${item.consume}`: ``}${item.additional_price > 0 ? `(追加價錢: $${item.additional_price})` : ``}</option>`
                                            else 
                                                return null
                                        }).join('')}
                                    </select>`;
                            }

                            $tpl.find(".productItem_name_container").html(containerHtml);

                            $container.append($tpl);

                            // var item = {
                            //     sku_id: val.sku_id,
                            //     qty: val.qty
                            // }

                            // itemArr.push(item);
                        })

                        $container.attr("data-itemlist", JSON.stringify(itemArr));
                        $container.attr("data-addonlist", JSON.stringify(addonArr))
                    }

                    res = data.result;
                    $(".selected_product_name").html(res.product_name);
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });

    $(document).off("click", ".deli_option .btn_copy");
    $(document).on("click", ".deli_option .btn_copy", function(){
        $tmp = $(this).parents(".deli_option");
        key = $tmp.attr("data-product");
        $cur = deli_arr[key];
        deli_arr.push($cur);

        $tpl = $tmp.clone();
        $(".deli_list_wrapper").append($tpl);
    });
    
    $(document).off("click", ".deli_option .btn_del");
    $(document).on("click", ".deli_option .btn_del", function(){
        $tmp = $(this).parents(".deli_option");
        key = $tmp.attr("data-product");
        deli_arr.splice(key, 1);

        $(this).parents(".deli_option").remove();
    });

    $(document).off("click", ".deli_option .btn_edit");
    $(document).on("click", ".deli_option .btn_edit", function(){
        $deli_option = $(this).parents(".deli_option");
        key = $deli_option.attr("data-product");
        $cur = deli_arr[key];
        // $cur = JSON.parse($tmp.find(".deliVal").html());
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#deli_editor').html(),
            mounted: function(){
                var $this = $(".vk-modal-dom");

                $this.find(".selected_product_name").html($cur["product_name"]);
                $this.find("[name=product_id] [value="+ $cur['product_id'] +"]").prop("selected", true).change();
                $this.find("[name=deli_timeslot_id] [value="+ $cur['deli_timeslot_id'] +"]").prop("selected", true);
                $this.find("[name=deli_region_id] [value="+ $cur['deli_region_id'] +"]").prop("selected", true);
                $this.find("[name=recipient_name]").val($cur['recipient_name']);
                $this.find("[name=recipient_phone]").val($cur['recipient_phone']);
                $this.find("[name=recipient_company]").val($cur['recipient_company']);
                $this.find("[name=deli_date]").val($cur['deli_date']);
                $this.find("[name=card_head]").val($cur['card_head']);
                $this.find("[name=card_body]").val($cur['card_body']);
                $this.find("[name=card_sign]").val($cur['card_sign'])
                $this.find("[name=remarks_internal]").val($cur['remarks_internal']);
                $this.find("[name=remarks_external]").val($cur['remarks_external']);
                $this.find(".productItemList").attr("data-itemlist", JSON.stringify($cur['itemList']))
                $this.find(".btn_addAddon").data("addonList", $cur['addon_list'])
                $this.find(".productItemList").append($cur['content_cache'])


                $(document).off("click", ".btn_deli_submit");
                $(document).on("click", ".btn_deli_submit", function(){
                    var tmpVal = {};
                    var $this = $(".vk-modal-dom");
                    
                    tmpVal['product_id'] = $this.find("[name=product_id]").val();
                    tmpVal['recipient_name'] = $this.find("[name=recipient_name]").val();
                    tmpVal['recipient_phone'] = $this.find("[name=recipient_phone]").val();
                    tmpVal['recipient_company'] = $this.find("[name=recipient_company]").val();
                    tmpVal['deli_date'] = $this.find("[name=deli_date]").val();
                    tmpVal['deli_timeslot_id'] = $this.find("[name=deli_timeslot_id]").val();
                    tmpVal['deli_region_id'] = $this.find("[name=deli_region_id]").val();
                    tmpVal['card_head'] = $this.find("[name=card_head]").val();
                    tmpVal['card_body'] = $this.find("[name=card_body]").val();
                    tmpVal['card_sign'] = $this.find("[name=card_sign]").val();
                    tmpVal['remarks_internal'] = $this.find("[name=remarks_internal]").val();
                    tmpVal['remarks_external'] = $this.find("[name=remarks_external]").val();
                    tmpVal['itemList'] = $this.find(".productItemList").data("itemlist");
                    tmpVal['addon_list'] = $this.find(".productItemList").data("addonlist");
                    tmpVal['product_name'] = $this.find(".productItemList").data("product_name")
                    tmpVal['product_code'] = $this.find(".productItemList").data("product_code")
                    tmpVal['content_cache'] = $this.find(".productItemList").children(".productItem, .addonItem")
                    
                    $deli_option.find(".product_code").html($this.find(".productItemList").data("product_code"))
                    $deli_option.find(".product_name").html($this.find(".productItemList").data("product_name"))
                    $deli_option.find(".deli_date").html($this.find("[name=deli_date]").val())
                    $deli_option.find(".deli_time").html($this.find("[name=deli_timeslot_id] option:selected").html())
                    $deli_option.find(".deli_region").html($this.find("[name=deli_region_id] option:selected").html())
                    deli_arr[key] = tmpVal;

                    var $this = $(this)
                    if ($this.closest('.vk-modal-dom').length == 1) {
                        $this.closest('.vk-modal-dom').data()._destory()
                    }
                    $(".selected_product_name").html("");
                });

            }
        });
    });
     
    $(document).off("click", ".btn_add_deli");
    $(document).on("click", ".btn_add_deli", function(){
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#deli_editor').html(),
            mounted: function(){
                
                $(document).off("click", ".btn_deli_submit");
                $(document).on("click", ".btn_deli_submit", function(){
                    var tmpVal = {};
                    var $this = $(".vk-modal-dom");
                    
                    tmpVal['product_id'] = $this.find("[name=product_id]").val();
                    tmpVal['recipient_name'] = $this.find("[name=recipient_name]").val();
                    tmpVal['recipient_phone'] = $this.find("[name=recipient_phone]").val();
                    tmpVal['recipient_company'] = $this.find("[name=recipient_company]").val();
                    tmpVal['deli_date'] = $this.find("[name=deli_date]").val();
                    tmpVal['deli_timeslot_id'] = $this.find("[name=deli_timeslot_id]").val();
                    tmpVal['deli_region_id'] = $this.find("[name=deli_region_id]").val();
                    tmpVal['card_head'] = $this.find("[name=card_head]").val();
                    tmpVal['card_body'] = $this.find("[name=card_body]").val();
                    tmpVal['card_sign'] = $this.find("[name=card_sign]").val();
                    tmpVal['remarks_internal'] = $this.find("[name=remarks_internal]").val();
                    tmpVal['remarks_external'] = $this.find("[name=remarks_external]").val();
                    tmpVal['itemList'] = $this.find(".productItemList").data("itemlist");
                    tmpVal['addon_list'] = $this.find(".btn_addAddon").data("addonList");
                    tmpVal['product_name'] = $this.find(".productItemList").data("product_name")
                    tmpVal['product_code'] = $this.find(".productItemList").data("product_code")
                    tmpVal['content_cache'] = $this.find(".productItemList").children(".productItem, .addonItem")

                    deli_arr.push(tmpVal);

                    $tpl = $(".deli_tpl").clone();
                    $tpl.removeClass("deli_tpl");
                    $tpl.removeClass("hidden");
                    $tpl.addClass("deli_option");
                    
                    $tpl.attr({
                        "data-product": $(".deli_option").length,
                        "data-itemList": tmpVal['itemList']
                    });
                    $tpl.find(".product_code").html($this.find(".productItemList").data("product_code"))
                    $tpl.find(".product_name").html($this.find(".productItemList").data("product_name"))
                    $tpl.find(".deli_date").html($this.find("[name=deli_date]").val())
                    $tpl.find(".deli_time").html($this.find("[name=deli_timeslot_id] option:selected").html())
                    $tpl.find(".deli_region").html($this.find("[name=deli_region_id] option:selected").html())
                    
                    $(".deli_list_wrapper").append($tpl);

                    var $this = $(this)
                    if ($this.closest('.vk-modal-dom').length == 1) {
                        $this.closest('.vk-modal-dom').data()._destory()
                    }

                    $(".selected_product_name").html("");

                });
            }
        });
    });

    $(document).off("change", "[name=member_id]");
    $(document).on("change", "[name=member_id]", function(){
        $("[name=sender_name]").val($(this).find("option:selected").attr("data-name"));
        $("[name=sender_email]").val($(this).find("option:selected").attr("data-email"));
        $("[name=sender_phone]").val($(this).find("option:selected").attr("data-phone"));
    });

    $("#quick_order").submit(async function(e){
        deli_arr.forEach(function(item){
            delete item.content_cache
        })
        $("[name=deli_arr]").val(JSON.stringify(deli_arr));
        console.log($("[name=deli_arr]").val());
        $loader = await globalLoader();
        e.preventDefault();

        $.bajax({
            url: "admin/shipment/api/checkHolidayAva",
            method: 'POST',
            data: {deli: $("[name=deli_arr]").val()},
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    globalLoader($loader);
                    e.currentTarget.submit();
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
});
</script>
{/literal}