<link rel="preload" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"></noscript>

<link href="/css/tailwind.min.css{$srcVersion}" rel="stylesheet">

<link rel="preload" href="/css/fonts/remixicon.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/css/fonts/remixicon.css"></noscript>
<link rel="preload" href="/css/global.css{$srcVersion}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/css/global.css{$srcVersion}"></noscript>

<link rel="stylesheet" href="/js/lib/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css?v={$timestamp}">
<link rel="stylesheet" href="/js/lib/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css?v={$timestamp}">
<link rel="stylesheet" href="/js/lib/intl-tel-input/css/intlTelInput.css">