<div style="background-image:url(./img/account-bg.png); background-color:#24201d; background-size:auto 400px"
    class="text-white bg-cover bg-no-repeat bg-right bg-bottom">
    <div class="container vk-container py-8">
        <div>The Gift</div>
        <h1 class="font-bold text-2xl">我的帳號</h1>
    </div>
</div>

<section>
    <div class="container vk-container">
        <div class="py-6 grid-cols-12 grid gap-x-3">
            <!-- account aub menu-->
            <nav class="col-span-12 lg:col-span-3">
                <ul>
                    <li><a href="myAccount/account?ac_page=account-info"
                            class="px-4 py-4 block hover:bg-gray-50 text-gray-700 {if $ac_page==" account-info" ||
                            !$ac_page}text-gray-900 bg-gray-50 font-bold{/if}">個人資料</a>
                    </li>
                    <li><a href="/myAccount/myCart" class="px-4 py-4 block hover:bg-gray-50 text-gray-700">我的購物車</a>
                    </li>
                    <li><a href="myAccount/account?ac_page=order"
                            class="px-4 py-4 block hover:bg-gray-50 text-gray-700 {if $ac_page==" order"}text-gray-900
                            bg-gray-50 font-bold{/if}">我的訂單</a></li>
                    <li><a href="myAccount/account?ac_page=wishlist"
                            class="px-4 py-4 block hover:bg-gray-50 text-gray-700 {if $ac_page=="
                            wishlist"}text-gray-900 bg-gray-50 font-bold{/if}">我的願望清單</a></li>
                    <li><a href="/myAccount/account?ac_page=coupon"
                            class="px-4 py-4 block hover:bg-gray-50 text-gray-700 {if $ac_page==" coupon"}text-gray-900
                            bg-gray-50 font-bold{/if}">獎賞及優惠券</a></li>
                </ul>
            </nav>
            <div class="col-span-12 lg:col-span-9 flex-1 border border-gray-200 border-1 px-6 py-6 ">
                {if $ac_page=="account-info" || !$ac_page}
                <h2 class="font-bold text-2xl mb-2">個人資料</h2>
                <table class="text-gray-700 leading-loose w-full">
                    <tr class="border-b border-gray-200 py-2">
                        <td class="w-48 whitespace-nowrap align-center py-2">姓名</td>
                        <td class="pl-4 font-bold align-center">
                            {$result_array.memberDtl.name}
                            <div class="hidden edit_blk">
                                <div class="bg-white w-80 h-40 p-4 flex flex-col justify-center items-center">
                                    <input type="text" name="name"
                                        class="w-64 rounded focus:outline-none border-2 px-3 py-2 mb-4"
                                        placeholder="{$result_array.memberDtl.name}" />
                                    <div
                                        class="btn_edit font-bold rounded-full px-4 py-2 bg-primary text-white mx-auto cursor-pointer">
                                        儲存修改</div>
                                </div>
                            </div>
                        </td>
                        <td class="w-14 whitespace-nowrap align-center">
                            <div class="btn_edit_field font-bold hover:bg-gray-100 cursor-pointer border border-gray-200 py-1 px-2 rounded-md my-auto"
                                data-ctl="name">修改</div>
                        </td>
                    </tr>
                    <tr class="border-b border-gray-200 py-2">
                        <td class="w-48 whitespace-nowrap align-center py-2">密碼</td>
                        <td class="pl-4 font-bold align-center">
                            ********
                            <div class="hidden edit_blk">
                                <div class="bg-white w-80 h-52 p-4 flex flex-col justify-center items-center">
                                    <input type="password" name="password"
                                        class="w-64 inline-block rounded focus:outline-none border-2 px-3 py-2 mb-4"
                                        placeholder="密碼" />
                                    <input type="password" name="confirmed_password"
                                        class="w-64 inline-block rounded focus:outline-none border-2 px-3 py-2 mb-4"
                                        placeholder="確認密碼">
                                    <div
                                        class="btn_edit font-bold rounded-full px-4 py-2 bg-primary text-white mx-auto cursor-pointer">
                                        儲存修改</div>
                                </div>
                            </div>
                        </td>
                        <td class="w-14 whitespace-nowrap align-center">
                            <div class="btn_edit_field font-bold hover:bg-gray-100 cursor-pointer border border-gray-200 py-1 px-2 rounded-md my-auto"
                                data-ctl="name">修改</div>
                        </td>
                    </tr>
                    <tr class="border-b border-gray-200 py-2">
                        <td class="w-48 whitespace-nowrap align-center py-2">手機號碼</td>
                        <td class="pl-4 font-bold align-center">
                            {$result_array.memberDtl.mobile}
                            <div class="hidden edit_blk">
                                <div class="bg-white w-80 h-40 p-4 flex flex-col justify-center items-center">
                                    <input type="text" name="mobile"
                                        class="w-64 inline-block rounded focus:outline-none border-2 px-3 py-2 mb-4"
                                        placeholder="{$result_array.memberDtl.mobile}" />
                                    <div
                                        class="btn_edit font-bold rounded-full px-4 py-2 bg-primary text-white mx-auto cursor-pointer">
                                        儲存修改</div>
                                </div>
                            </div>
                        </td>
                        <td class="w-14 whitespace-nowrap align-center">
                            <div class="btn_edit_field font-bold hover:bg-gray-100 cursor-pointer border border-gray-200 py-1 px-2 rounded-md my-auto"
                                data-ctl="mobile">修改</div>
                        </td>
                    </tr>
                    <tr class="border-b border-gray-200 py-2">
                        <td class="w-48 whitespace-nowrap align-center py-2">電郵地址</td>
                        <td class="pl-4 font-bold align-center">
                            {$result_array.memberDtl.email}
                            <div class="hidden edit_blk">
                                <div class="bg-white w-80 h-40 p-4 flex flex-col justify-center items-center">
                                    <input type="text" name="email"
                                        class="w-64 inline-block rounded focus:outline-none border-2 px-3 py-2 mb-4"
                                        placeholder="{$result_array.memberDtl.email}" />
                                    <div
                                        class="btn_edit font-bold rounded-full px-4 py-2 bg-primary text-white mx-auto cursor-pointer">
                                        儲存修改</div>
                                </div>
                            </div>
                        </td>
                        <td class="w-14 whitespace-nowrap align-center">
                            <div class="btn_edit_field font-bold hover:bg-gray-100 cursor-pointer border border-gray-200 py-1 px-2 rounded-md my-auto"
                                data-ctl="email">修改</div>
                        </td>
                    </tr>
                    <tr class="border-b border-gray-200 py-2">
                        <td class="w-48 whitespace-nowrap align-center py-2">帳戶類別</td>
                        <td class="pl-4 font-bold align-center">{if $result_array.memberDtl.company_name ==
                            ''}個人帳戶{else}商業帳戶: {$result_array.memberDtl.company_name}{/if}</td>
                    </tr>
                    <tr class="border-b border-gray-200 py-2">
                        <td class="w-48 whitespace-nowrap align-center py-2">語言</td>
                        <td class="pl-4 font-bold align-center">
                            {if $result_array.memberDtl.language == 'tc'}中文{else if $result_array.memberDtl.language ==
                            'en'}英文{/if}
                            <div class="hidden edit_blk">
                                <div class="bg-white w-56 h-36 p-4 flex flex-col justify-center items-center">
                                    <select name="language"
                                        class="border-2 border-gray px-3 py-2 rounded focus-within:border-gray-600 hover:border-gray-600 leading-tight mb-4">
                                        <option value="tc" {if $result_array.memberDtl.language=='tc' }selected{/if}>中文</option>
                                        <option value="en" {if $result_array.memberDtl.language=='en' }selected{/if}>English</option>
                                    </select>
                                    <div
                                        class="btn_edit font-bold rounded-full px-4 py-2 bg-primary text-white mx-auto cursor-pointer">
                                        儲存修改</div>
                                </div>
                            </div>
                        </td>
                        <td class="w-14 whitespace-nowrap align-center">
                            <div class="btn_edit_field font-bold hover:bg-gray-100 cursor-pointer border border-gray-200 py-1 px-2 rounded-md my-auto"
                                data-ctl="language">修改</div>
                        </td>
                    </tr>
                    <tr class="border-b border-gray-200 py-2">
                        <td class="w-48 whitespace-nowrap align-center py-2">已連結的facebook帳號</td>
                        <td class="pl-4 font-bold align-center">N/A</td>
                    </tr>
                    <tr class="border-b border-gray-200 py-2">
                        <td class="w-48 whitespace-nowrap align-center py-2">推銷員</td>
                        <td class="pl-4 font-bold align-center">{if $result_array.memberDtl.sales}{$result_array.memberDtl.sales}{else}N/A{/if}</td>
                    </tr>
                    <tr class="border-b border-gray-200 py-2">
                        <td class="w-48 whitespace-nowrap align-center py-2">現金消費額</td>
                        <td class="pl-4 font-bold align-center">{$result_array.memberDtl.cash_dollar}</td>
                    </tr>
                </table>

                {elseif $ac_page=="order"}
                <h2 class="font-bold text-2xl mb-2">我的訂單</h2>

                {if $result_array.orderList}
                {foreach from=$result_array.orderList key=k item=i}
                <div class="max-w-2xl mx-auto space-y-8 sm:px-4 lg:max-w-4xl lg:px-0 my-4">
                    <div class="bg-white border-t border-gray-200 shadow-sm sm:rounded-lg sm:border">
                        <div class="flex items-center p-4 border-b border-gray-200 sm:p-6 sm:grid sm:grid-cols-4 sm:gap-x-6">
                            <dl class="flex-1 grid grid-cols-3 gap-x-6 text-sm sm:col-span-4 sm:grid-cols-5 lg:col-span-5">
                                <div>
                                    <dt class="font-medium text-gray-900">訂單狀態</dt>
                                    <dd class="mt-1 text-gray-500   ">{$i.order_statusDisplay}</dd>
                                </div>
                                <div>
                                    <dt class="font-medium text-gray-900">訂單編號</dt>
                                    <dd class="mt-1 text-gray-500">{$i.order_no}</dd>
                                </div>
                                <div class="hidden sm:block">
                                    <dt class="font-medium text-gray-900">下單日期</dt>
                                    <dd class="mt-1 text-gray-500">{$i.order_datetime|substr:0:10}</dd>
                                </div>
                                <div>
                                    <dt class="font-medium text-gray-900">總價格</dt>
                                    <dd class="mt-1 font-medium text-gray-900">${$i.final_price|number_format:2:".":","}
                                    </dd>
                                </div>
                                <div class="ml-auto">
                                    <a href="myAccount/downloadInvoice?order_id={$i.order_id}" target="_blank" class="text-indigo-600 whitespace-nowrap hover:text-indigo-500">下載訂單</a>
                                </div>
                            </dl>
                        </div>

                        <div class="flex w-full py-2 justify-center items-center md:hidden border-b border-gray-200">
                            <div class="cursor-pointer text-gray-600 hover:opacity-70 btn-see_more text-sm">
                                查看詳細訂單資料
                            </div>
                        </div>

                        <!-- Products -->
                        {foreach from=$i.deliList key=kk item=ii}
                        <div class="deli_content hidden sm:hidden sm:mt-2 w-full sm:w-1/2 text-sm">
                            <span class="text-gray-500">收件資料</span>
                            <table class="text-gray-700 leading-loose">
                                <tr class="border-b border-gray-200 py-2">
                                    <td class="whitespace-nowrap">收件人姓名</td>
                                    <td class="pl-4 whitespace-nowrap font-bold">{$ii.recipient_name}</td>
                                </tr>
                                <tr class="border-b border-gray-200 py-2">
                                    <td class="whitespace-nowrap">收件人電話</td>
                                    <td class="pl-4 whitespace-nowrap font-bold">{$ii.recipient_phone}</td>
                                </tr>
                                {if $ii.recipient_company}
                                <tr class="border-b border-gray-200 py-2">
                                    <td class="whitespace-nowrap">收件人公司</td>
                                    <td class="pl-4 whitespace-nowrap font-bold">{$ii.recipient_company}</td>
                                </tr>
                                {/if}
                                <tr class="border-b border-gray-200 py-2">
                                    <td class="whitespace-nowrap">收件人地址</td>
                                    <td class="pl-4 whitespace-nowrap font-bold">{$ii.deli_address}</td>
                                </tr>
                            </table>

                            <div class="card_content_container my-4 flex flex-col w-full">
                                <div class="flex justify-between items-center">
                                    <span class="text-gray-500">祝賀卡內容</span>
                                    <span class="pl-6 btn_card_content text-lg text-gray-500 cursor-pointer"><i class="ri-more-fill"></i></span>
                                </div>
                                <table class="card_content hidden text-gray-700 leading-loose">
                                    <tr class="border-b border-gray-200 py-2">
                                        <td class="whitespace-nowrap">上款</td>
                                        <td class="pl-4 whitespace-nowrap font-bold">{$ii.card_head}</td>
                                    </tr>
                                    <tr class="border-b border-gray-200 py-2">
                                        <td class="whitespace-nowrap">內容</td>
                                        <td class="pl-4 whitespace-nowrap font-bold">{$ii.card_body}</td>
                                    </tr>
                                    <tr class="border-b border-gray-200 py-2">
                                        <td class="whitespace-nowrap">下款</td>
                                        <td class="pl-4 whitespace-pre-wrap font-bold">{$ii.card_sign}</td>
                                    </tr>
                                </table>    
                            </div>
                        </div>

                        <ul role="list" class="divide-y divide-gray-200">
                            <li class="p-4 sm:p-6 sm:border-b md:border-0">
                                <div class="flex sm:flex-row items-center sm:items-start w-full">
                                    <div
                                        class="flex-shrink-0 w-20 h-20 bg-gray-200 rounded-lg overflow-hidden sm:w-40 sm:h-40">
                                        <img src="{$ii.productDtl.img.0.img}"
                                            alt="Moss green canvas compact backpack with double top zipper, zipper front pouch, and matching carry handle and backpack straps."
                                            class="w-full h-full object-center object-cover">
                                    </div>
                                    <div class="flex-1 ml-6 text-sm w-full">
                                        <div class="font-medium text-gray-900 sm:flex sm:justify-between">
                                            <h5>
                                                ({$ii.productDtl.product_code}) {$ii.productDtl.product_name}
                                            </h5>
                                            <p class="mt-2 sm:mt-0">
                                                ${$ii.deli_price|number_format:2:".":","}
                                            </p>
                                        </div>
                                        <div class="flex flex-col sm:flex-row">
                                            <div class="hidden sm:block sm:mt-2 w-full sm:w-1/2">
                                                <span class="text-gray-500">收件資料</span>
                                                <table class="text-gray-700 leading-loose">
                                                    <tr class="border-b border-gray-200 py-2">
                                                        <td class="whitespace-nowrap">收件人姓名</td>
                                                        <td class="pl-4 whitespace-nowrap font-bold">{$ii.recipient_name}</td>
                                                    </tr>
                                                    <tr class="border-b border-gray-200 py-2">
                                                        <td class="whitespace-nowrap">收件人電話</td>
                                                        <td class="pl-4 whitespace-nowrap font-bold">{$ii.recipient_phone}</td>
                                                    </tr>
                                                    {if $ii.recipient_company}
                                                    <tr class="border-b border-gray-200 py-2">
                                                        <td class="whitespace-nowrap">收件人公司</td>
                                                        <td class="pl-4 whitespace-nowrap font-bold">{$ii.recipient_company}</td>
                                                    </tr>
                                                    {/if}
                                                    <tr class="border-b border-gray-200 py-2">
                                                        <td class="whitespace-nowrap">收件人地址</td>
                                                        <td class="pl-4 whitespace-nowrap font-bold">{$ii.deli_address}</td>
                                                    </tr>
                                                </table>

                                                <div class="card_content_container mt-8">
                                                    <div class="flex justify-between items-center">
                                                        <span class="text-gray-500">祝賀卡內容</span>
                                                        <span class="pl-6 btn_card_content text-lg text-gray-500 cursor-pointer"><i class="ri-more-fill"></i></span>
                                                    </div>
                                                    <table class="card_content hidden text-gray-700 leading-loose">
                                                        <tr class="border-b border-gray-200 py-2">
                                                            <td class="whitespace-nowrap">上款</td>
                                                            <td class="pl-4 whitespace-nowrap font-bold">{$ii.card_head}</td>
                                                        </tr>
                                                        <tr class="border-b border-gray-200 py-2">
                                                            <td class="whitespace-nowrap">內容</td>
                                                            <td class="pl-4 whitespace-nowrap font-bold">{$ii.card_body}</td>
                                                        </tr>
                                                        <tr class="border-b border-gray-200 py-2">
                                                            <td class="whitespace-nowrap">下款</td>
                                                            <td class="pl-4 whitespace-nowrap font-bold">{$ii.card_sign}</td>
                                                        </tr>
                                                    </table>    
                                                </div>
                                            </div>
                                            <div class="w-full sm:w-1/2 sm:mt-2">
                                                {if $ii.addonList}
                                                <div>
                                                    <span class="text-gray-500">附加產品</span> 
                                                    <ol class="">
                                                    {foreach from=$ii.addonList key=kkk item=iii}
                                                        <li class="border-b border-gray-200 py-2">{$iii.productDtl.product_name} * {$iii.qty}</li>
                                                    {/foreach}

                                                    </ol>
                                                </div>
                                                {/if}

                                                {assign var=isClientOption value=N}
                                                {foreach from=$ii.deliDtl.itemList key=kkk item=iii}
                                                    {if $iii.isClientOption == 'Y'}{assign var=isClientOption value=Y}{/if}
                                                {/foreach}
                                                {if $isClientOption == 'Y'}
                                                <div>
                                                    <span class="text-gray-500">升級物品</span> 
                                                    <ol class="list-decimal ml-4">
                                                    {foreach from=$ii.deliDtl.itemList key=kkk item=iii}
                                                        {if $iii.isClientOption == 'Y'}
                                                        <li>{$iii.name}</li>
                                    
                                                        {/if}
                                                    {/foreach}
                                                    </ol>
                                                </div>
                                                {/if}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-6 sm:flex sm:justify-between">
                                    <div class="flex items-center">

                                    </div>

                                    <div
                                        class="mt-6 border-t border-gray-200 pt-4 flex items-center space-x-4 divide-x divide-gray-200 text-sm font-medium sm:mt-0 sm:ml-4 sm:border-none sm:pt-0">
                                        <div class="flex-1 flex justify-center">
                                            <a href="product/productDtl/{$ii.productDtl.product_code}"
                                                class="text-indigo-600 whitespace-nowrap hover:text-indigo-500">查看產品</a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!-- More products... -->
                        </ul>
                        {/foreach}
                    </div>
                </div>


                {/foreach}
                {else}
                <div class="text-center py-12">
                    <div class="text-xl font-bold text-gray-700">你暫時未有任何訂單</div>
                    <div class="text-sm text-gray-400">請於購物車完成購買，你的訂單將會顯示於這裡</div>
                </div>
                {/if}

                {elseif $ac_page=="wishlist"}
                <h2 class="font-bold text-2xl mb-2">我的願望清單</h2>
                {if $result_array.favList}
                <div class="space-y-20">
                    <div>
                        <table class="mt-4 w-full text-gray-500 sm:mt-6">
                            <thead class="sr-only text-sm text-gray-500 text-left sm:not-sr-only">
                                <tr class="border-b border-gray-200 py-2">
                                    <th scope="col" class="sm:w-2/5 lg:w-1/3 pr-8 py-3 font-normal">產品</th>
                                    <th scope="col" class="hidden w-1/5 pr-8 py-3 font-normal sm:table-cell">價格</th>
                                    <th scope="col" class="hidden pr-8 py-3 font-normal sm:table-cell">產品詳細</th>
                                    <th scope="col" class="w-0 py-3 font-normal text-right"></th>
                                </tr>
                            </thead>
                            <tbody class="border-gray-200 divide-y divide-gray-200 text-sm sm:border-t">
                                {foreach from=$result_array.favList key=k item=i}
                                <tr class="border-b border-gray-200 py-2">
                                    <td class="py-6 pr-8">
                                        <div class="flex items-center">
                                            <img src="{$i.productDtl.img.0.img}"
                                                class="w-16 h-16 object-center object-cover rounded mr-6">
                                            <div>
                                                <div class="font-medium text-gray-900">({$i.productDtl.product_code})
                                                    {$i.productDtl.product_name}</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="hidden py-6 pr-8 sm:table-cell">
                                        {if $i.productDtl.sp_price && $i.productDtl.sp_price != $i.productDtl.price}
                                        <div class="pricing">
                                            <div class="pre-price text-gray-400 line-through text-sm ">HKD$
                                                {$i.productDtl.price}</div>
                                            <div class="price text-gray-500 font-bold ">HKD$ {$i.productDtl.sp_price}
                                            </div>
                                        </div>
                                        {else}
                                        <div class="pricing">
                                            <div class="pre-price text-gray-400 text-sm ">HKD$ {$i.productDtl.price}
                                            </div>
                                        </div>
                                        {/if}
                                    </td>
                                    <td class="hidden py-6 pr-8 sm:table-cell">
                                        <ol>
                                            {foreach from=$i.productDtl.itemList item=item}
                                            <li class="list-decimal ml-6">
                                                {foreach from=$item key=kk item=ii}
                                                {if $kk != 0}/{/if}
                                                {$ii.name} * {$ii.consume}
                                                {/foreach}
                                            </li>
                                            {/foreach}
                                        </ol>
                                    </td>
                                    <td class="py-6 font-medium text-right whitespace-nowrap">
                                        <a href="product/productDtl/{$i.product_code}" class="text-indigo-600"><span class="hidden lg:inline">查看產品</span></a>
                                    </td>
                                </tr>
                                {/foreach}
                                <!-- More products... -->     
                            </tbody>
                        </table>
                    </div>
                    <!-- More orders... -->
                </div>
                {else}
                <div class="py-16 text-center bg-gray-100 rounded-xl text-gray-600 mt-3">
                    <div class="text-xl font-bold">未有願望清單</div>
                    <div class="text-sm">當你保存產品時，你的願望清單將會顯示於這裡</div>
                </div>
                {/if}
                {elseif $ac_page=="coupon"}
                <h2 class="font-bold text-2xl mb-2">獎賞及優惠券</h2>
                <!-- <h3 class="font-bold text-lg text-gray-600">會員狀態</h3>
                <div class="py-16 text-center bg-gray-100 rounded-xl text-gray-600 my-3">
                    <div class="text-xl font-bold">未有願望清單</div>
                    <div class="text-sm">當你保存產品時，你的願望清單將會顯示於這裡</div>
                </div> -->
                <div class="my-4">
                    <h3 class="font-bold text-lg text-gray-600 flex items-end">兌換禮物 <span class="text-sm">(現在積分: {$member.point})</span></h3>

                    <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                        {foreach from=$result_array.giftList key=k item=i}
                        <div class="{if $i.quota >0}gift cursor-pointer hover:opacity-75{/if}"  data-name="{$i.name}" data-gift_id="{$i.gift_id}">
                            <div class="w-full aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75  lg:aspect-none">
                                <img src="{$i.gift_img}" class="object-contain lg:w-full h-24">
                            </div>
                            {if $i.quota <=0}
                                <div class="my-1 bg-gray-100 border rounded text-center text-sm h-6">缺貨</div>
                            {else}
                                <div class="my-1 h-6"></div>
                            {/if}
                            <div>
                                <h3 class="font-bold h-16">{$i.name}</h3>
                                <p class="text-gray-500 font-bold">{$i.required_point}積分</p>
                            </div>
                        </div>
                        {/foreach}
                    </div>
                </div>

                <hr>

                <div class="my-4">
                    <h3 class="font-bold text-lg text-gray-600">兌換禮物卡</h3>

                    <div class="flex flex-row items-stretch mt-4 max-w-lg w-full">

                        <input class="redeem_code flex-1 mr-2 border-2 border-gray-300 rounded px-3 py-2">
                        <div class="btn_code_use flex flex-row items-center text-white font-bold bg-gray-900 px-6 rounded hover:opacity-75 transition-all">使用</div>
                    </div>
                </div>

                <hr>

                <div class="my-4">
                    <h3 class="font-bold text-lg text-gray-600">優惠券</h3>
                    <div>
                        <table class="mt-4 w-full text-gray-500 sm:mt-6">
                            <thead class="sr-only text-sm text-gray-500 text-left sm:not-sr-only">
                                <tr class="border-b border-gray-200 py-2">
                                    <th scope="col" class="sm:w-2/5 lg:w-1/3 pr-8 py-3 font-normal">名稱</th>
                                    <th scope="col" class="hidden pr-8 py-3 font-normal sm:table-cell">折扣</th>
                                    <th scope="col" class="hidden pr-8 py-3 font-normal sm:table-cell">倘餘時間</th>
                                    <th scope="col" class="hidden pr-8 py-3 font-normal sm:table-cell">使用條件</th>
                                </tr>
                            </thead>
                            <tbody class="border-gray-200 divide-y divide-gray-200 text-sm sm:border-t">
                                {foreach from=$result_array.memberDtl.voucherList key=k item=i}
                                <tr class="border-b border-gray-200 py-2">
                                    <td class="py-6 pr-8">
                                        {$i.name}
                                    </td>
                                    <td class="hidden py-6 pr-8 sm:table-cell">
                                        {if $i.type == 'P'}
                                        {$i.discount} %
                                        {elseif $i.type == 'A'}
                                        定限 ${$i.discount}
                                        {/if}
                                    </td>
                                    <td class="hidden py-6 pr-8 sm:table-cell">
                                        {if $expiry_date < $i.ava_date} {$i.ava_date|substr:0:10} {else}
                                            {$i.expiry_date|substr:0:10} {/if} </td>
                                    <td class="py-6 font-medium whitespace-nowrap">
                                        {if $i.minimum_order_amt}
                                        <div>最低消費金額: {$i.minimum_order_amt}</div>
                                        {/if}
                                        {if $i.cate_id_arr}
                                        <div>只能使用在特定產品分類</div>
                                        {/if}
                                    </td>
                                </tr>
                                {/foreach}
                                <!-- More products... -->
                            </tbody>
                        </table>
                    </div>
                </div>
                {/if}

            </div>
        </div>

    </div>
</section>

<script>
    var shop_id = {$shop_id};
    {literal}
    $(document).ready(function () {
        $(".btn_card_content").on("click", function(){
            $(this).parents(".card_content_container").find(".card_content").toggleClass("hidden")
        })

        $(".btn-see_more").on("click", function(){
            $(".deli_content").toggleClass("hidden flex flex-col mt-4 px-4")
            $(".deli_content_container").toggleClass("flex-col")
            $(".deli_content_inner").toggleClass("ml-6")
        })


        $(".gift").on("click", async function(){
            gift_id = $(this).attr("data-gift_id");

            vkConfirmDefault({
                title: '確認',
                content: '<div>請確認是否兌換？'+ $(this).attr("data-name")+'</div>',
                confirmButtonHtml: '確認',
                cancelButtonHtml: '返回',
                confirmButtonFunction: async function(e){
                    url = "myAccount/api/redeemGift";
                    $loader = await globalLoader();
                    $.bajax({
                        url: url,
                        method: 'POST',
                        formElement: 'N',
                        data: {
                            gift_id: gift_id
                        },
                        callback: function(data) {
                            if (data.code == 0){
                                globalLoader($loader);
                                vkAlertDefault({
                                    title: "確認訊息",
                                    content: "已成功兌換禮物，現有" + data.result.point + "積分, 我們稍後會聯絡閣下。",
                                    confirmButtonHtml: "確認",
                                });
                            } else {
                                globalLoader($loader);
                                globalErrorReturn(data);
                            }
                        },
                        errorCallback: function(jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR);
                        },
                    });
                }
            })

        })

        $(".btn_code_use").on("click", async function () {
            $loader = await globalLoader();

            $.bajax({
                url: "myAccount/api/redeemGiftCard",
                method: 'POST',
                data: {
                    redeem_code: $(".redeem_code").val()
                },
                callback: function (data) {
                    if (data.code != 0) {
                        globalLoader($loader);
                        globalErrorReturn(data);
                    } else {
                        $(".redeem_code").val("");
                        globalLoader($loader);
                        vkAlertDefault({
                            title: "確認訊息",
                            content: "已成功兌換禮物卡，現有" + data.result.cash_dollar + "現金回贈。",
                            confirmButtonHtml: "確認",
                        });
                    }
                },
                errorCallback: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            });
        });

        $(".btn_edit_field").on("click", function () {
            $tr = $(this).parents("tr");

            $vkmodal({
                fullScreen: false,
                tapBackgroundToClose: true,
                content: $tr.find(".edit_blk").html(),
                mounted: function () {
                    $(".btn_edit").on("click", function () {
                        $input = $(this).siblings("input, select");
                        data = {};
                        data[$input.attr("name")] = $input.val();

                        if ($input.attr("name") == "password") {
                            var pw = $("[name=password]").val();
                            var cpw = $("[name=confirmed_password]").val();
                            if (pw != cpw) {
                                globalErrorReturn({ code: -99, msg: "The password and confirm password is different" });
                            }
                        }

                        $.bajax({
                            url: "myAccount/api/updateProfile",
                            method: 'POST',
                            data: data,
                            callback: function (data) {
                                if (data.code != 0) {
                                    globalErrorReturn(data);
                                } else {
                                    if ($input.attr("name") == "password") {
                                        location.href = "myAccount/logout";
                                    } else {
                                        location.reload()
                                    }
                                }
                            },
                            errorCallback: function (jqXHR, textStatus, errorThrown) {
                                console.log(jqXHR);
                            },
                        });
                    });
                }
            });
        });






    });
    {/literal}
</script>