<div class="py-16"
    style="background-image:url(./img/thegift_login_bg.jpg)">
    <div class="container vk-container h-full flex flex-col justify-center">
        <div class="mb-7"><a href="/myAccount/login" class="inline-flex items-center text-white  group rounded-full px-6 py-3 hover:bg-white">
            <i class="ri-arrow-left-line mr-2 text-group group-hover:text-gray-700"></i>
            <span class="font-bold group-hover:text-gray-700">返回</span>
        </a></div>
        <div class="w-full mx-auto sm:w-96 bg-white rounded-lg overflow-hidden p-6">
            <a href="/" class="block"><img src="./img/the_gift.png"
                    class="w-28 mx-auto block mt-2" /></a>
            <div class="my-4 text-center">
                <h1 class="text-xl font-bold">忘記密碼</h1>
                <p class="text-gray-500 text-sm">請輸入你的電郵地址，以收到的連結重設你的密碼</p>
            </div>
            <div class="email_success_noti hidden bg-green-100 bg-opacity-80 px-4 py-2 flex flex-row justify-evenly items-center text-xs text-gray-700 rounded mb-2 text-center">
                <i class="ri-checkbox-circle-line text-green-600 text-3xl"></i>
                <div class="flex flex-col items-center justify-center">
                    <p class="entered_email"></p>
                    <p>請按下電郵中的連結以重置密碼</p>
                </div>
            </div>
            <form id="forgetPasswordForm">
                <input type="hidden" name="shop_id" value="{$shop_id}" />
                <div
                    class="border-2 border-gray px-3 py-2 rounded focus-within:border-gray-600 hover:border-gray-600 leading-tight">
                    <p class="text-xs text-gray-400">電郵地址</p>
                    <input name="email" type="email" placeholder="你的電郵地址"
                        class="text-sm w-full outline-none" />
                </div>
                <div class="h-2"></div>
                <input type="submit" value="提交"
                    class="submit_btn bg-gray-900 text-white flex font-bold justify-center items-center rounded hover:opacity-75 py-3 w-full cursor-pointer" />
            </form>

        </div>
        <div class="text-white text-xs mt-2 text-center">© 禮譽The Gift, 2021 All right reserved.
        </div>
    </div>
</div>

{literal}
<style>
    header {
        display: none;
    }
</style>

<script>
$(document).ready(function() {
    $("#forgetPasswordForm").submit(async function(e){
            $loader = await globalLoader();
            e.preventDefault();
            $.bajax({
                url: "myAccount/api/resetPasswordRequest",
                method: 'POST',
                data: {
                    "email": $("[name=email]").val(),
                    "shop_id": $("[name=shop_id").val()
                },
                callback: function(data) {
                    globalLoader($loader);
                    if (data.code == 0 || -52){
                        $(".entered_email").html("電郵已發送到  " + $("[name=email]").val())
                        $(".email_success_noti").removeClass("hidden")
                        $(".submit_btn").val("重新發送")
                    } else {
                        globalErrorReturn(data)
                    }
                },
                errorCallback: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            });
        })
})
</script>
{/literal}