<div class="py-16"
    style="background-image:url(./img/thegift_login_bg.jpg)">
    <div class="container vk-container h-full flex flex-col justify-center">
        <div class="mb-7"><a href="/myAccount/login" class="inline-flex items-center text-white  group rounded-full px-6 py-3 hover:bg-white">
            <i class="ri-arrow-left-line mr-2 text-group group-hover:text-gray-700"></i>
            <span class="font-bold group-hover:text-gray-700">返回</span>
        </a></div>
        <div class="w-full mx-auto sm:w-96 bg-white rounded-lg overflow-hidden p-6">
            <img src="./img/the_gift.png" class="w-28 mx-auto block mt-2" />
            <div class="my-4 text-center">
                <h1 class="text-xl font-bold">重設密碼</h1>
                <p class="text-gray-500 text-sm">請輸入你的新密碼</p>
            </div>
            <div class="password_error_noti hidden bg-red-100 bg-opacity-80 px-4 py-2 flex items-center text-sm text-gray-700 rounded mb-2 text-center">
                <i class="ri-close-circle-line text-red-600 text-3xl flex-none"></i>
                <div class="flex-auto w-full text-center">
                    <p>你所輸入的密碼不相符</p>
                </div>
            </div>
            <form id="forgetPasswordForm">
                <input type="hidden" name="member_id" value="{$result_array.memberDtl.member_id}"/>
                <div class="border-2 border-gray px-3 py-2 rounded focus-within:border-gray-600 hover:border-gray-600 leading-tight flex-1">
                    <p class="text-xs text-gray-400">新密碼</p>
                    <input name="password" type="password" placeholder="新密碼" class="text-sm w-full outline-none" autocomplete="new-password" required/>
                </div>
                <div class="h-2"></div>
                <div class="border-2 border-gray px-3 py-2 rounded focus-within:border-gray-600  hover:border-gray-600 leading-tight flex-1">
                    <p class="text-xs text-gray-400">確認密碼</p>
                    <input name="confirm_password" type="password" placeholder="確認密碼" class="text-sm w-full outline-none" autocomplete="new-password" required/>
                </div>
                <div class="h-2"></div>
                <input type="submit" value="提交" class="submit_btn bg-gray-900 text-white flex font-bold justify-center items-center rounded hover:opacity-75 py-3 w-full cursor-pointer" />
                <div class="submit_btn_loading hidden bg-gray-600 text-white flex font-bold justify-center items-center rounded py-3 w-full cursor-wait"><i class="ri-loader-4-line animate-spin"></i></div>
                <div class="submit_btn_success hidden bg-green-300 text-white flex font-bold justify-center items-center rounded py-3 w-full cursor-wait"><i class="ri-checkbox-circle-line text-green-600"></i></div>
            </form>
        </div>
        <div class="text-white text-xs mt-2 text-center">© 禮譽The Gift, 2021 All right reserved.
        </div>
    </div>
</div>

{literal}
<style>
    header {
        display: none;
    }
</style>

<script>
$(document).ready(function() {
    $("[name=confirm_password]").on("change", function(){
        if ($("[name=password]").val() != $("[name=confirm_password").val()) { 
            $(".password_error_noti").removeClass("hidden");
        }
    })

    $("#forgetPasswordForm").submit(async function(e){
        e.preventDefault();

        if ($("[name=password]").val() != $("[name=confirm_password").val()) {
            $(".password_error_noti").removeClass("hidden");
        } else {

            $(".password_error_noti").addClass("hidden");
            $(".submit_btn").addClass("hidden")
            $(".submit_btn_loading").removeClass("hidden")

            $.bajax({
                url: "myAccount/api/resetPassword",
                method: 'POST',
                data: {
                    "password": $("[name=password]").val(),
                    "member_id": $("[name=member_id").val()
                },
                callback: function(data) {
                    if (data.code == 0){
                        setInterval(function() {
                            $(".submit_btn_loading").addClass("hidden");
                            $(".submit_btn_success").removeClass("hidden");
                        }, 300)
                        setInterval(function() {
                            location.replace("/myAccount/login")
                        }, 800)
                    } else {
                        $(".submit_btn_loading").addClass("hidden");
                        $(".submit_btn").removeClass("hidden")

                        globalErrorReturn(data)
                    }
                },
                errorCallback: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            });
        }
    })
})
</script>
{/literal}