<div class="py-16"
    style="background-image:url(./img/thegift_login_bg.jpg)">
    <div class="container vk-container h-full flex flex-col justify-center">
        <div class="mb-7"><a href="/" class="inline-flex items-center text-white  group rounded-full px-6 py-3 hover:bg-white">
            <i class="ri-arrow-left-line mr-2 text-group group-hover:text-gray-700"></i>
            <span class="font-bold group-hover:text-gray-700">返回首頁</span>
        </a></div>
        <div class="w-full mx-auto sm:w-96  bg-white rounded-lg overflow-hidden p-6">
            <a href="/" class="block"><img src="./img/the_gift.png"
                    class="w-28 mx-auto block mt-2" /></a>
            <div class="my-4 text-center">
                <h1 class="text-xl font-bold">登入</h1>
                <p class="text-gray-500 text-sm">繼續登入The Gift</p>
            </div>
            <a href="{$result_array.fbLoginUrl}"
                class="flex text-white font-bold justify-center items-center rounded hover:opacity-75 py-1 facebook-login-by-smarty"
                style="background-color:#3678e5">
                <i class="ri-facebook-circle-fill mr-2 text-2xl"></i>
                <p>以facebook帳號登入
                </p>
            </a>
            <div class="flex items-center my-3">
                <div class="flex-1 h-px bg-gray-300"></div>
                <div class="text-xs text-gray-400 mx-4">或</div>
                <div class="flex-1 h-px bg-gray-300"></div>
            </div>
            <form id="loginForm">
                <div
                    class="border-2 border-gray px-3 py-2 rounded focus-within:border-gray-600 hover:border-gray-600 leading-tight">
                    <p class="text-xs text-gray-400">電子郵件</p>
                    <input name="email" type="email" placeholder="你的電子郵件"
                        class="text-sm w-full outline-none" />
                </div>
                <div class="h-2"></div>
                <div
                    class="border-2 border-gray px-3 py-2 rounded focus-within:border-gray-600  hover:border-gray-600 leading-tight">
                    <p class="text-xs text-gray-400">密碼</p>
                    <input name="password" type="password" placeholder="您的密碼"
                        class="text-sm w-full outline-none" />
                </div>
                <div class="h-2"></div>
                <input type="submit" value="登入"
                    class="bg-gray-900 text-white flex font-bold justify-center items-center rounded hover:opacity-75 py-3 w-full cursor-pointer" />
                <div class="flex flex-row py-2">
                    <a href="#" class="hover:opacity-80 text-sm text-gray-700">忘記密碼？</a>
                    <a href="/myAccount/register"
                        class="ml-auto hover:opacity-80 text-sm text-gray-700">註冊帳號</a>
                </div>
            </form>

        </div>
        <div class="text-white text-xs mt-2 text-center">© 禮譽The Gift, 2021 All right reserved.
        </div>
    </div>
</div>

{literal}
    <style>
        header {
            display: none;
        }
        #fixed-right-operator{
            display:none;
        }
    </style>

    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);

        }(document, 'script', 'facebook-jssdk'));


        $(document).ready(function() {
            //init facebook SDK
            window.fbAsyncInit = function() {
                FB.init({
                    appId: '427609255595588',
                    cookie: true,
                    xfbml: true,
                    version: 'v11.0'
                });

                FB.AppEvents.logPageView();

            };
            //facebook login
            $('#facebook-login').click(function(e) {
                
                e.preventDefault()
        
                FB.login()
            })

            $('.facebook-login-by-smarty').click(function(){
                fullScreenLoader('Y')
            })

            $("#loginForm").submit(async function(e){
                $loader = await globalLoader();
                e.preventDefault();
                $.bajax({
                    url: "myAccount/api/login",
                    method: 'POST',
                    data: {
                        "email": $("[name=email]").val(),
                        "password": $("[name=password").val()
                    },
                    callback: function(data) {
                        globalLoader($loader);
                        if (!data.code == 0){
                            globalErrorReturn(data)
                        } else {
                            location.href="/"
                        }
                    },
                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                });
            })

        })
        /*
    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });

    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }
    */
    </script>
{/literal}