{literal}
<style>
    header {
        display: none;
    }
</style>

<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);

    }(document, 'script', 'facebook-jssdk'));


    $(document).ready(function() {
            //init facebook SDK
            window.fbAsyncInit = function() {
                FB.init({
                    appId: '427609255595588',
                    cookie: true,
                    xfbml: true,
                    version: 'v11.0'
                });

                FB.AppEvents.logPageView();

            };
            //facebook login
            $('#facebook-login').click(function(e) {
                e.preventDefault()
                FB.login()
            })

            $(document).off("focus", "#region_code")
            $(document).on("focus", "#region_code", function() {
                $(this).val("+")
            })
            $(document).off("focusout", "#region_code")
            $(document).on("focusout", "#region_code", function() {
                if ($(this).val() == "+") {
                    $(this).val("")
                }
            })

            $("#registerForm").submit(async function(e) {
                e.preventDefault();

                
                $("input[name=mobile]").val("")
                $("input[name=mobile]").val($("#region_code").val() + $("#mobile").val())

                if ($("[name=email]").val() != $("[name=confirm_email").val()) {
                    globalErrorReturn({
                        code: -99,
                        msg: "The email and confirm email is different"
                    });
                    return false;
                }

                if ($("[name=password]").val() != $("[name=confirm_password").val()) {
                    globalErrorReturn({
                        code: -99,
                        msg: "The password and confirm password is different"
                    });
                    return false;
                }

                if ($.isNumeric($("input[name=mobile]").val()) != true) {
                    globalErrorReturn({
                        code: -99,
                        msg: "Mobile field is not number"
                    });
                    return false;
                }


                $loader = await globalLoader();
                $.bajax({
                    url: "myAccount/api/register",
                    method: 'POST',
                    formElement: 'Y',
                    formElementID: "registerForm",
                    callback: function(data) {
                        if (!data.code == 0) {
                            globalLoader($loader);
                            globalErrorReturn(data)
                        } else {
                            globalLoader($loader);
                            location.href = "/myAccount/login"
                        }
                    },
                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                });
            })
        })
        /*
    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });

    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }
    */
</script>



{/literal}
<div class="min-h-screen min-w-screen md:h-screen py-16" style="background-image:url(./img/thegift_login_bg.jpg)">
    <div class="container vk-container h-full flex flex-col justify-start">
        <div class="mb-7">
            <a href="/myAccount/login" class="inline-flex items-center text-white  group rounded-full px-6 py-3 hover:bg-white">
                <i class="ri-arrow-left-line mr-2 text-group group-hover:text-gray-700"></i>
                <span class="font-bold group-hover:text-gray-700">返回登入</span>
            </a>
        </div>
        <div class="w-full mx-auto  md:w-2/3 bg-white rounded-lg overflow-hidden p-6">
            <div><img src="./img/the_gift.png" class="w-28 mx-auto block mt-2" /></div>
            <div class="my-4 text-center">
                <h1 class="text-xl font-bold">註冊</h1>
                <p class="text-gray-500 text-sm">註冊The Gift帳號</p>
            </div>
            <form id="registerForm">
                <div class="flex flex-col md:flex-row mb-2">
                    <div class="border-2 border-gray px-3 py-2 rounded focus-within:border-gray-600 hover:border-gray-600 leading-tight flex-1">
                        <p class="text-xs text-gray-400">姓名</p>
                        <input name="name" type="text" placeholder="你的姓名" class="text-sm w-full outline-none" required/>
                        <input name="shop_id" type="hidden" value="{$shop_id}" />
                    </div>
                    <div class="hidden md:block md:w-3"></div>
                    <div class="h-2"></div>
                    <div class="border-2 border-gray px-3 py-2 rounded focus-within:border-gray-600  hover:border-gray-600 leading-tight flex-1">
                        <p class="text-xs text-gray-400">手機號碼</p>
                        <div class="flex flex-row items-center pt-0.5">
                            <input id="region_code" type="tel" placeholder="區號" class="text-sm outline-none w-14 border-r-2 mr-2 border-gray-300" required/>
                            <input id="mobile" type="tel" placeholder="您的手機號碼" class="text-sm w-full outline-none" required/>
                            <input type="hidden" name="mobile">
                        </div>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row mb-2">
                    <div class="border-2 border-gray px-3 py-2 rounded focus-within:border-gray-600 hover:border-gray-600 leading-tight flex-1">
                        <p class="text-xs text-gray-400">電子郵件</p>
                        <input name="email" type="email" placeholder="你的電子郵件" class="text-sm w-full outline-none" autocomplete="username" required/>
                    </div>
                    <div class="hidden md:block md:w-3"></div>
                    <div class="h-2"></div>
                    <div class="border-2 border-gray px-3 py-2 rounded focus-within:border-gray-600  hover:border-gray-600 leading-tight flex-1">
                        <p class="text-xs text-gray-400">確認電子郵件</p>
                        <input name="confirm_email" type="email" placeholder="確認電子郵件" class="text-sm w-full outline-none" autocomplete="username" required/>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row mb-2">
                    <div class="border-2 border-gray px-3 py-2 rounded focus-within:border-gray-600 hover:border-gray-600 leading-tight flex-1">
                        <p class="text-xs text-gray-400">密碼</p>
                        <input name="password" type="password" placeholder="你的密碼" class="text-sm w-full outline-none" autocomplete="new-password" required/>
                    </div>
                    <div class="hidden md:block md:w-3"></div>
                    <div class="h-2"></div>
                    <div class="border-2 border-gray px-3 py-2 rounded focus-within:border-gray-600  hover:border-gray-600 leading-tight flex-1">
                        <p class="text-xs text-gray-400">確認密碼</p>
                        <input name="confirm_password" type="password" placeholder="確認密碼" class="text-sm w-full outline-none" autocomplete="new-password" required/>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row mb-2">
                    <div class="border-2 border-gray px-3 py-2 rounded focus-within:border-gray-600 hover:border-gray-600 leading-tight flex-1">
                        <p class="text-xs text-gray-400">語言</p>
                        <select name="language" class="text-sm w-full outline-none">
                            <option value="tc" selected>中文</option>
                            <option value="en">English</option>
                        </select>
                    </div>
                    <div class="hidden md:block md:w-3"></div>
                    <div class="h-2"></div>
                    <div class="border-2 border-gray px-3 py-2 rounded focus-within:border-gray-600  hover:border-gray-600 leading-tight flex-1">
                        <p class="text-xs text-gray-400">推銷員編號 (如有)</p>
                        <input name="sales_key" type="text" placeholder="推銷員編號" class="text-sm w-full outline-none" />
                    </div>
                </div>
                <div class="flex flex-col md:flex-row mb-2">
                    <div class="border-2 border-gray px-3 py-2 rounded focus-within:border-gray-600  hover:border-gray-600 leading-tight flex-1">
                        <p class="text-xs text-gray-400">公司名稱 (如有)</p>
                        <input name="company" type="text" placeholder="公司名稱" class="text-sm w-full outline-none"/>
                    </div>
                </div>

                <div class="h-2"></div>
                <input type="submit" value="註冊帳號" class="bg-gray-900 text-white flex font-bold justify-center items-center rounded hover:opacity-75 py-3 w-full cursor-pointer" />
                <div class="flex flex-row py-2 items-center">
                    <span class="hover:opacity-80 text-sm text-gray-700">已有帳號？</span>
                    <a href="/myAccount/login" class="text-sm font-bold ml-2 underline">Facebook 註冊及登入</a>
                </div>
            </form>

        </div>
        <div class="text-white text-xs mt-2 text-center">© 禮譽The Gift, 2021 All right reserved.
        </div>
    </div>
</div>