<div class="bg-white">
    <div class="container vk-container">
        <div class="flex flex-col w-full justify-center items-center pt-24 pb-16 text-gray-700">
            <i class="ri-mail-send-line text-gray-200 text-6xl "></i>
            <div class="text-2xl pt-4 text-center font-bold">
                歡迎使用The Gift 禮譽服務
            </div>
            <div class="text-center">
                你必須先點擊電子確認信的連結才能繼續。如果你仍未能收到確認信電郵，請重新輸入電子郵件，系統將會重新發送電子確認信。
            </div>

            <form id="resendVerificationEmail_form" class="my-4">
                <input type="text" name="email" class="border-black border py-2 placeholder-gray-500 w-full px-4" placeholder="電郵">
                <input type="submit" value="提交" class="h-full w-full cursor-pointer mt-4 py-2 bg-black text-white font-bold rounded hover:opacity-70 transition-all">
            </form>
        </div>
    </div>
</div>



{literal}
<script>
    $(document).ready(function() {
        $("#resendVerificationEmail_form").submit(async function(e) {
            $loader = await globalLoader();
            e.preventDefault();
            $.bajax({
                url: '/myAccount/api/resendVerificationEmail',
                method: 'POST',
                formElement: 'N',
                data: {
                    email: $(this).find("[name=email]").val()
                },
                callback: function(data) {
                    if (!data.code == 0) {
                        globalLoader($loader);
                        globalErrorReturn(data);
                    } else {
                        globalLoader($loader);
                        vkAlertDefault({
                            title: "成功",
                            content: "認確信已成功發送，請耐心等候。",
                            confirmButtonHtml: "確認",
                            confirmButtonFunction: function(e) {}
                        });
                    }
                },
                errorCallback: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            });
        });
    });
</script>

{/literal}