{*
{if $contentDtl.productList|@count == 4}
    {assign var="grid" value="grid-cols-2"}
*}

{if $contentDtl.productList|@count %4 ==0}
    {assign var="grid" value="md:grid-cols-4"}
{elseif $contentDtl.productList|@count %3 ==0}
    {assign var="grid" value="md:grid-cols-3"}
{else}
    {assign var="grid" value="md:grid-cols-4"}
{/if}


<section class="item-list-showcase ">
    <div class="container vk-container mb-4 mini-container ">
        <div class="py-8 ">
            {$contentDtl.html}
        </div>

        <div class="grid grid-flow-row gap-4 {$grid}">

            {foreach from=$contentDtl.productList key=k item=i}
            <a class="hover:opacity-75 " href="product/productDtl/{$i.productDtl.product_code}">
                <img src="{$i.productDtl.img.0.img}" class="w-full">
                <h3 class="font-bold pt-2 ">{$i.productDtl.product_name}</h3>
                {if $i.productDtl.sp_price && $i.productDtl.sp_price != $i.productDtl.price}
                    <div class="pricing">
                        <span class="pre-price text-gray-400 line-through text-sm ">HKD$ {$i.productDtl.price}</span>
                        <span class="price text-gray-500 font-bold ">HKD$ {$i.productDtl.sp_price}</span>
                    </div>
                {else}
                    <div class="pricing">
                        <span class="pre-price text-gray-400 text-sm ">HKD$ {$i.productDtl.price}</span>
                    </div>
                {/if}
                {if $i.productDtl.discount}
                <span class="bg-theme text-gray text-xs bg-primary inline-block rounded-sm px-1 text-white mt-1 ">{$i.productDtl.discount}% OFF</span>
                {/if}
            </a>
            {/foreach}
        </div>
    </div>
</section>