<div class="product_slider owl-carousel owl-theme w-full container vk-container mini-container mx-auto my-8">
    {foreach from=$contentDtl.product_slider key=k item=i}
    {/foreach}
    <div class="flex flex-col">
        <div class="bg-black bg-opacity-90 relative group"> 
            <img src="../../../img/littlezuri_tmp/luvable_friends_muslin.jpeg" alt="" class="group-hover:opacity-40 w-full h-full">
            <div class="absolute bottom-4 left-4 right-4">
                <a href="#">
                    <div class="bg-white rounded text-center px-6 py-2 w-auto mx-auto opacity-0 group-hover:opacity-100 hover:bg-gray-200">
                        查看更多
                    </div>
                </a>
            </div>
        </div>
        <p class="w-full text-center mb-2 text-sm px-4 text-gray-600">
            Luvable Friends 純棉紗巾3件套裝 - 帥小伙子
        </p>
        <p class="w-full text-center font-bold px-4 text-gray-600">
            HK$199.00
        </p>
    </div>
</div>

{literal}
<script>
    $(document).ready(function() {

        $('.product_slider').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        })
    })
</script>
{/literal}