<div class="pure_html_container">
    {$i.html_tc}
</div>

{literal}
<style>
.pure_html_container td {
  padding: 20px !important;
}


@media screen and (max-width: 900px) {
  .pure_html_container td iframe{
    padding: 20px !important;
    width: 100% !important;
  }
  
  .pure_html_container tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100% !important;
  }

  .pure_html_container td {
    height: 100% !important;
    width: 100% !important;
    margin: 0.25rem auto !important;
    padding: 20px !important;
  }
  .pure_html_container td strong {
    font-size: 17px !important;
  }

  .pure_html_container img{
    margin: 0 auto !important;
  }
}

</style>
{/literal}