<div>
    {literal}
    <script>
        $(document).ready(function() {
            $('.parallax-window').paroller();
        })
    </script>

    <style>
        @media screen and (max-width: 900px) {
            .r_img table tbody tr td  {
                padding: 20px;
            }
            .r_img table tbody tr td h2 strong span{
                font-size: 20px !important;
            }
            .r_img table tbody tr td div p span{
                font-size: 14px !important;
            }
        }
    </style>
    {/literal}
    <div class="grid grid-cols-2 r_img">
        {$contentDtl.html_tc}
        <img src="{$contentDtl.lr_img}" class="flex w-full object-cover object-center paroller" data-paroller-factor="-0.5" style="height: 50vh;">
    </div>
</div>