<!-- ae related START-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>    
<script src="https://gateway-japa.americanexpress.com/static/checkout/checkout.min.js" data-complete="aeCompleteCallback"></script>
<!-- ae related END  -->

<div class="vk-container container mx-auto px-6">
    <h1 class="text-3xl font-bold py-8 border-b border-gray-200">付款</h1>
    <div class="grid lg:grid-cols-12 gap-x-8">
        <div class="col-span-12 lg:col-span-7 pt-6">
            <h4 class="text-xl font-bold mb-2">訂單詳細資料</h4>
            <div class="grid gap-y-4 mb-2">
                <!-- items -->
                {foreach from=$result_array.cartDtl.deliList key=k item=i}
                <section class="product-init py-4 border border-gray-200 rounded px-4">
                    <div class="flex flex-row items-start">
                        <div>
                            <img src="{$i.productDtl.img.0.img}" alt="" class="rounded w-24 h-24" />
                        </div>
                        <div class="ml-4 flex-1">
                            <p class="text-xs text-gray-400">產品編號: {$i.deli_id}{$i.productDtl.product_code}</p>
                            <h4 class="font-bold">{$i.productDtl.product_name}</h4>
                            <p class="pre-price text-gray-400 text-sm mt-1 mb-2">
                                HKD${$i.product_price|number_format:2:".":","} {if $i.shipping_fee || $i.timeslot_fee}(運費: ${($i.shipping_fee + $i.timeslot_fee)|number_format:2:".":","}){/if} {if $i.addon_price}(附加產品: ${$i.addon_price}){/if}=
                                <span class="font-bold text-green-500">${$i.deli_price|number_format:2:".":","}</span>
                            </p>


                            <!-- details -->
                            <hr />
                            <div class="grid grid-cols-1 md:grid-cols-2 gap-x-3 gap-y-3 mt-3 text-sm">
                                <div>
                                    <div class="text-sm font-bold">送貨地址:</div>
                                    <p>{$i.recipient_name} ({$i.recipient_company})</p>
                                    <div>{$i.recipient_phone}</div>
                                    <div>{$i.deli_address}</div>
                                </div>
                                <div>
                                    <div class="text-sm font-bold">送貨時間:</div>
                                    <div>{$i.deli_date}, {$i.timeslotDtl.start_time|substr:0:5} - {$i.timeslotDtl.end_time|substr:0:5}</div>
                                    <div class="text-sm font-bold mt-1">心意卡:</div>
                                    <div>大型賀卡, 尺吋 : B3 ; 35.3x50cm</div>
                                </div>
                            </div>
                            <!-- edit detail button -->
                  
                        </div>
                    </div>
                </section>
                {/foreach}
            </div>
        </div>
        <div class="col-span-12 lg:col-span-5">
            <div class="shadow-lg border border-gray-100 mt-6 px-4 rounded-lg py-4 mb-6">
                <div class="font-bold text-2xl mb-2">摘要</div>
                <section>
                    <div class="font-bold mb-2">你的聯絡資料</div>
                    <div>有關訂單事宜，我們將根據以下資料與閣下聯結。</div>
                    <div>{$result_array.cartDtl.sender_name}</div>
                    <div>{$result_array.cartDtl.sender_phone}</div>
                    <div>{$result_array.cartDtl.sender_email}</div>
                </section>
                <hr class="my-3 -mx-4" />
                <section>
                    <div class="font-bold mb-2">備註</div>
                    <div>
                        <textarea name="remarks_from_client" id="" rows="4" class="border-2 border-gray-200 rounded w-full p-2" placeholder="歡迎在此留下備註，我們會再與閣下聯絡及確認。"></textarea>
                    </div>
                </section>
                <hr class="my-3 -mx-4" />
                <section>
                    <div class="font-bold mb-2">優惠碼</div>
                    <div class="flex flex-row items-stretch">
                        <input name="coupon_code" type="text" placeholder="輸入優惠碼" class="flex-1 mr-2 border-2 border-gray-300 rounded px-3 py-2" />
                        <div class="btn_coupon_use cursor-pointer flex flex-row items-center text-white font-bold bg-gray-900 px-6 rounded hover:opacity-75 transition-all">
                            <span>使用</span>
                        </div>
                    </div>
                    <div class="text-xs text-gray-500 mt-2 couponCodeDisplay hidden">已成功使用<span class="code">YCHS12J</span>，並獲得$<span class="act_discount">40</span>優惠</div>
                    <div class="font-bold mb-2 mt-3">優惠券</div>
                    <div class="relative bg-white border rounded-lg shadow-sm py-2 px-4 flex cursor-pointer focus:outline-none border-gray-300 time-slot-picker">
                        
                        <select name="member_voucher_id" class="w-full">
                            <option value="">-- 不使用 --</option>
                            {foreach from=$result_array.voucherList key=k item=i}
                                <option value="{$i.member_voucher_id}" {if $i.ava == 'N'}disabled{/if}>{$i.name}</option>
                            {/foreach}
                        </select>
                                <!-- <span id="recipient-deliver-time-label-0" class="mt-1 flex items-center text-sm text-gray-500 pick-time-js-trigger"></span> -->
                        
                        <!-- <div class="text-gray-400 flex flex-col justify-center text-2xl">
                            <i class="ri-arrow-down-s-line"></i>
                        </div> -->
                    </div>
                    <div class="font-bold mb-2 mt-3">現金點數</div>
                    <div class="flex flex-row items-start text-green-500">
                        <i class="ri-shopping-cart-2-fill mr-2"></i>
                        <!-- <p>你的帳戶內還剩餘$500現金點數，於本次購買後，將剩餘$100現金點數。</p> -->
                        <p>你的帳戶內還剩餘${$member.cash_dollar}現金點數。</p>
                    </div>
                </section>
                <hr class="my-3 -mx-4" />
                <!-- calculator-->
                <section>
                    <div class="font-bold mb-2">訂單內容</div>
                    <table class="w-full">
                        <tr>
                            <td>產品合計:</td>
                            <td class="text-right">${$result_array.cartDtl.product_price}</td>
                        </tr>
                        <tr>
                            <td>運費合計:</td>
                            <td class="text-right">${$result_array.cartDtl.shipping_fee + $result_array.cartDtl.timeslot_fee}</td>
                        </tr>

                        <tr class="text-green-500 font-bold hidden cashDollar_display">
                            <td>現金點數:</td>
                            <td class="text-right cashDollar_act_discount"></td>
                        </tr>

                        <tr class="text-green-500 font-bold hidden membershipDiscount_display">
                            <td>會員折扣({$member.membership_discount}%):</td>
                            <td class="text-right membershipDiscount_act_discount"></td>
                        </tr>
                        
                        <tr class="text-green-500 font-bold hidden voucher_display">
                            <td>優惠券折扣:</td>
                            <td class="text-right voucher_act_discount"></td>
                        </tr>
                        
                        <tr class="text-green-500 font-bold hidden coupon_display">
                            <td>優惠碼<span class="coupon_code"></span>折扣:</td>
                            <td class="text-right coupon_act_discount"></td>
                        </tr>
                        
                        <tr>
                            <td colspan="2">
                                <hr class="my-2 border-gray-900" />
                            </td>
                        </tr>
                        <tr class="font-bold">
                            <td>
                                總計:
                            </td>
                            <td class="text-right final_price_display"></td>
                        </tr>
                    </table>
                </section>
                <div class="mt-4">
                    <div id="paypal-button"></div>
                    <button type="button" class="w-full block text-center font-bold bg-gray-900 py-3 text-white mb-2 rounded hover:opacity-75 transition-all" data-toggle="modal" data-target="#aeCheckout">American Express 支付</button>
                    <div class="modal fade" id="aeCheckout" tabindex="-1" role="dialog" aria-labelledby="aeCheckoutLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body" id="hco-embedded"></div>
                            </div>
                        </div>
                    </div>


                    <div class="items-center flex italic text-gray-500 text-xs justify-center my-4">
                        <span>技術支持： </span>
                        <img src="img/ae_logo.svg" class="h-4">
                    </div>
                    <a class="btn_offline_payment block text-center font-bold  py-3 rounded border-2 border-gray-900 hover:opacity-75 transition-all cursor-pointer">離線付款(入數/PayMe)</a>
                </div>
                <p class="text-xs mt-3">PayPal/American Express付款流程當中輸入的所有資料僅供相關平台使用，並不影響送貨地點及其相關內容。</p>
                <p class="text-xs mt-3">完成購買程序，即代表您同意這些<a href="#" class="text-theme underline font-bold">服務條款</a>。</p>
            </div>
        </div>
    </div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id={$paypalId}&currency=HKD&locale=zh_HK"></script>
<script>
var ori_price = parseFloat('{$result_array.cartDtl.product_price}');
var coupon_discount = 0;
var voucher_discount = 0;
var cash_dollar = parseFloat('{$member.cash_dollar}');
var cash_dollar_used = 0;
var membership_discount_rate = parseFloat('{$member.membership_discount}');
var membership_discount = 0;
var timeslot_fee = parseFloat('{$result_array.cartDtl.timeslot_fee}');
var shipping_fee= parseFloat('{$result_array.cartDtl.shipping_fee}');
var isCouponApply = false;
var waiting_code = "";



function aeCompleteCallback(resultIndicator, sessionVersion){
    console.log("resultIndicator", resultIndicator);
    console.log("sessionVersion", sessionVersion);
    location.href = "checkout/transactionProcessing?payment_id=" + waiting_code;

}

function recalculate(){
    if (coupon_discount == 0){
        $(".coupon_display").addClass("hidden");
    } else {
        $(".coupon_code").html($("[name=coupon_code]").val())
        $(".coupon_display").removeClass("hidden");
    }
    $(".coupon_act_discount").html("-$" + thousand_separator(coupon_discount, false));

    if (voucher_discount == 0){
        $(".voucher_display").addClass("hidden");
    } else {
        $(".voucher_display").removeClass("hidden");
    }
    $(".voucher_act_discount").html("-$" + thousand_separator(voucher_discount, false));

    if (membership_discount == 0){
        $(".membershipDiscount_display").addClass("hidden");
    } else {
        $(".membershipDiscount_display").removeClass("hidden");
    }
    $(".membershipDiscount_act_discount").html("-$" + thousand_separator(membership_discount, false));

    var final_price = ori_price - coupon_discount - voucher_discount - membership_discount + shipping_fee + timeslot_fee;

    if (cash_dollar > 0 && final_price > 0){
        if (cash_dollar > final_price)
            cash_dollar_used = final_price;
        else if (final_price >= cash_dollar)
            cash_dollar_used = cash_dollar;

        final_price -= cash_dollar_used;
    }

    if (cash_dollar_used == 0){
        $(".cashDollar_display").addClass("hidden");
    } else {
        $(".cashDollar_display").removeClass("hidden");
    }
    $(".cashDollar_act_discount").html("-$" + thousand_separator(cash_dollar_used, false));

    $(".final_price_display").html("$" + thousand_separator(final_price, false));
}


$(document).ready(function() {
    $('#aeCheckout').on('shown.bs.modal', async function (e) {
        res = await updateAeCheckout()
        waiting_code = res.waiting_code
        Checkout.configure({

            session: {
                id:  res.ae_session_id
            },

            order: {
                description: 'Ordered goods',
                id: res.order_id
            },

            interaction: {
                merchant: {
                    name: 'The Gift',
                    address: {
                        line1: 'Flat H, 12/F High Win Factory Building',
                        line2: '47 Hoi Yuen Road, Kwun Tong'
                    }
                }
            }
        });

        Checkout.showEmbeddedPage('#hco-embedded')
    });


    $(".btn_offline_payment").on("click", function(){
        $.bajax({
            url: "checkout/api/offlineCheckout",
            method: 'POST',
            data: {
                coupon_code: $("[name=coupon_code]").val(),
                member_voucher_id: $("[name=member_voucher_id]").val()
            },
            callback: function(data) {
                if (data.code == 0) {
                    location.href = "checkout/offlineCheckoutConfirm?order=" + data.result.order_info
                } else {
                    globalErrorReturn(data);
                }
            }
        })
    })


    if (membership_discount_rate > 0){
        membership_discount = Math.round(ori_price * membership_discount_rate / 100);
    }

    recalculate();

    $("[name=member_voucher_id]").on("change", function() {
        if ($(this).val()){
            $.bajax({
                url: "checkout/api/voucherApply",
                method: 'POST',
                data: {
                    member_voucher_id: $(this).val()
                },
                callback: function(data) {
                    if (!data.code == 0) {
                        voucher_discount = 0;
                        globalErrorReturn(data);
                    } else {
                        voucher_discount = data.result.voucherDtl.act_discount;
                    }
                    recalculate();
                }
            })
        } else {
            voucher_discount = 0;
            recalculate();
        }
    });


    $(".btn_coupon_use").on("click", function() {
        $.bajax({
            url: "checkout/api/couponApply",
            method: 'POST',
            data: {
                coupon_code: $("[name=coupon_code]").val()
            },
            callback: function(data) {
                if (!data.code == 0) {
                    coupon_discount = 0;
                    $("[name=coupon_code]").val("");
                    globalErrorReturn(data);
                    isCouponApply = false;
                    $(".couponCodeDisplay").addClass("hidden");
                    $(".couponCodeDisplay .code").html("");
                    $(".couponCodeDisplay .act_discount").html("0");

                } else {
                    coupon_discount = data.result.couponDtl.act_discount;
                    isCouponApply = true;
                    $(".couponCodeDisplay").removeClass("hidden");
                    $(".couponCodeDisplay .code").html(data.result.couponDtl.code);
                    $(".couponCodeDisplay .act_discount").html(data.result.couponDtl.act_discount);
                }
                recalculate();
            }
        })
    });

    function updateAeCheckout(){
        let data = {
            shop_id: shop_id,
            member_voucher_id: $("[name=member_voucher_id]").val(),
            remarks_from_client: $("[name=remarks_from_client]").val()
        };

        if (isCouponApply){
            data['coupon_code'] = $("[name=coupon_code]").val()
        }

        return new Promise(resolve => {
            $.bajax({
                url: "checkout/api/aeCheckout",
                method: 'POST',
                data: data,
                callback: function(data) {
                    if (!data.code == 0) {
                        globalErrorReturn(data);
                    } else {
                        resolve(data.result);
                    }
                }
            })
        });
    }

    function updatePaypalCheckout() {
        let data = {
            shop_id: shop_id,
            member_voucher_id: $("[name=member_voucher_id]").val(),
            remarks_from_client: $("[name=remarks_from_client]").val()
        };

        if (isCouponApply){
            data['coupon_code'] = $("[name=coupon_code]").val()
        }

        return new Promise(resolve => {
            $.bajax({
                url: "checkout/api/paypalCheckout",
                method: 'POST',
                data: data,
                callback: function(data) {
                    if (!data.code == 0) {
                        globalErrorReturn(data);
                    } else {
                        resolve(data.result);
                    }
                }
            })
        });
    }

    var res = [];
    paypal.Buttons({
        style: {
            color: 'black',
        },
        createOrder: async function(data, actions) {
            // This function sets up the details of the transaction, including the amount and line item details.
            res = await updatePaypalCheckout()
            return actions.order.create({
                purchase_units: [{
                    "reference_id": res.payment_id,
                    "custom_id": res.member_id,
                    "invoice_id": res.order_id,
                    "amount": {
                        "value": res.final_price,
                        "currency": 'HKD'
                    }
                }]
            });
        },
        onApprove: function(data, actions) {
            // This function captures the funds from the transaction.
            return actions.order.capture().then(function(details) {
                // This function shows a transaction success message to your buyer.
                // alert('Transaction completed by ' + details.payer.name.given_name);
                // console.log("checkout/transactionProcessing?payment_id=" + res.waiting_code)
                location.href = "checkout/transactionProcessing?payment_id=" + res.waiting_code;
            });
        },
    }).render('#paypal-button');
})
</script>