<div class="container mx-auto px-6">
    <h1 class="text-2xl font-bold py-8 themeColor">離線支付</h1>
    <div class="content leading-8">
        <div class="mb-4">
            我們已收到你的訂單請求。<br/>
            訂單號碼 : <span class="font-bold text-green-600">{$result_array.order.order_no}</span><br>
            需付金額 : <b>${$result_array.order.final_price}</b><br>
            <div class="text-gray-400">請留意，結帳流程並未完成， 請使用以下方式付款， 並把相關証明使用首頁或每頁最底的上傳入數紙功能通知我們。我們會在核實後完成整個下單流程。謝謝。</div>
        </div>

        <div class="mb-4 flex flex-col">
            <h2 class="text-2xl font-bold mt-2">線下付款</h2>
            <div class="mb-2 flex flex-col">
                <div class="font-bold">轉賬／支票</div>
                <div class="flex items-center gap-x-2 font-bold">中國銀行 <img alt="" src="img/logo_boc.png" class="inline-block h-4"></div>
                <div>戶口名稱 : 禮譽(香港)有限公司</div>
                <div>戶口號碼 : 012-887-2-011407-1</div>
                <div>支票枱頭 : 禮譽(香港)有限公司</div>
            </div>
            <div class="mb-2 flex flex-col">
                <div class="font-bold">轉賬／支票</div>
                <div class="flex items-center gap-x-2 font-bold">匯豐銀行 <img alt="" src="img/logo_hsbc.png" class="inline-block h-4"> </div>
                <div>戶口名稱 : 香港有禮</div>
                <div>戶口號碼 : 456-652742-838</div>
                <div>支票枱頭 : 香港有禮</div>
            </div>
        </div>

        <div class="flex flex-col gap-y-4">
            <h2 class="text-2xl font-bold mt-2">網上付款</h2>
            <div class="flex items-center gap-x-2 font-bold">轉數快 <img alt="" src="img/logo_fps.png" class="inline-block h-6"></div>
            <div>電話號碼: 9239 9998</div>
  
            <div class="flex items-center gap-x-2 font-bold">Payme <img alt="" src="img/logo_payme.png" class="inline-block h-6"></div>
            <div>電話號碼: 9239 9998</div>

        </div>
    </div>
</div>