<div class="bg-white">
    <div class="container vk-container">
        <div class="flex flex-col w-full justify-center items-center pt-24 pb-16 text-gray-700">
            <div class="text-xl">請稍侯</div>
            <div class="text-2xl pt-4">正在確認付款</div>
        </div>
        <div class="flex justify-center items-center w-full py-10 text-gray-400">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="10vw" height="10vw" class="animate-spin"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M18.364 5.636L16.95 7.05A7 7 0 1 0 19 12h2a9 9 0 1 1-2.636-6.364z"/></svg>    </div>
        </div>
        <div class="flex flex-col w-full justify-center items-center pt-16 pb-24 text-gray-700">
            <div class="text-xl">請勿離開此頁面</div>
            <div class="py-4">網路繁忙或需較長時間，請見諒</div>
            <div class="">如需協助請致電 + 852 2739 8808</div>
        </div>
</div>

<script>
var payment_id = "{$result_array.payment_id}";
{literal}

$(document).ready(function(){
    // polling, every 10 seconds
    setInterval(function(){
        $.bajax({
            url: "checkout/api/paypalStatusUpdate",
            method: 'POST',
            data: {payment_id: payment_id},
            callback: function(data) {
                if (!data.code == 0){
                    
                } else {
                    infoPopup("成功", "已完成整個下單流程。");
                    setTimeout(function(){
                        location.href = "/";
                    }, 3000);
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    }, 10000);
});

{/literal}
</script>