<footer class="bg-gray-100">
    <div class="container vk-container pt-16 {if $result_array.pageDtl.page_id != 1}mt-8{/if}">
        <div class="container vk-container mini-container flex flex-col w-full items-center pb-16">
            <div class="pb-2 text-lg font-bold">企業客戶</div>
            <img src="../img/clients_logos.png" alt="" class="w-full h-auto">
        </div>
        <div class="flex lg:flex-row flex-col-reverse">
            <div class="">
                <img src="./img/the_gift.png" alt="" class="opacity-75 h-12 mb-6 mx-auto lg:mx-0" />
                <table class="table-fixed text-gray-600 text-sm mx-auto lg:mx-0">
                    <tr>
                        <td class="pb-2"><i class="ri-map-pin-line mr-2"></i></td>
                        <td class="pb-2">{$shop.address}</td>
                    </tr>
                    <tr>
                        <td class="pb-2"><i class="ri-mail-line mr-2"></i></td>
                        <td class="pb-2">{$shop.email}</td>
                    </tr>
                    <tr>
                        <td><i class="ri-phone-line mr-2"></i></td>
                        <td>{$shop.phone}</td>
                    </tr>
                </table>
                <div class="flex flex-row mt-6 text-gray-600 justify-center lg:justify-start">
                    <a href="{$shop.facebook}" class="hover:opacity-75 px-3 text-xl"><i class="ri-facebook-fill"></i></a>
                    <a href="{$shop.ig}" class="hover:opacity-75 px-3 text-xl"><i class=" ri-instagram-line"></i></a>
                </div>
            </div>
            <div class="lg:ml-auto flex flex-col lg:flex-row lg:w-2/3">
                {foreach from=$header_result_array key=k item=i}
                        {if $i.pageList}
                        <div class="flex-1 text-gray-500 ml-8">
                            <h3 class="text-gray-800 font-bold mb-2">{$i.name}</h3>
                            <ul class="text-sm leading-loose">
                                {foreach from=$i.pageList key=kk item=ii}
                                <li data-id="{$kk}" class="footer-cate hover:opacity-75">
                                    <a href="{$ii.link}">{$ii.name}</a>
                                </li>
                                {/foreach}
                            </ul>
                        </div>
                        {elseif $i.cateList}
                        <div class="flex-1 text-gray-500 ml-8">
                            <h3 class="text-gray-800 font-bold mb-2">{$i.name}</h3>
                            <ul class="text-sm leading-loose">
                                {foreach from=$i.cateList key=kk item=ii}
                                <li data-id="{$kk}" class="footer-cate hover:opacity-75">
                                    <a href="product/productList/{$ii.name_en|replace:array(' ', '&'):array('_','')}">{$ii.name}</a>
                                </li>
                                {/foreach}
                            </ul>
                        </div>
                        {else}
                        <!-- if no pageList and cateList assume it is link-->
                        <!-- LINKS ARE HIDE -->
                        {/if}
                {/foreach}
                <div class="flex-1 text-gray-500 ml-8">
                    <h3 class="text-gray-800 font-bold mb-2">其它連結</h3>
                    <ul class="text-sm leading-loose">
                    {foreach from=$header_result_array key=k item=i}
                        {if $i.pageList}
                      
                        {elseif $i.cateList}
                   
                        {else}
                        
                        
                        <li class="footer-cate hover:opacity-75">
                            <a href="{$i.link}">{$i.name}</a>
                        </li>
                        
                        <!-- if no pageList and cateList assume it is link-->
                        <!-- LINKS ARE HIDE -->
                        {/if}
                    {/foreach}
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex flex-col lg:flex-row items-center py-4 mt-2 lg:mt-6 border-t">
            <div class="text-xs text-gray-400 text-center lg:text-left">Copyright © 2021 The Gift Hong Kong all rights reserved. Powered by <a href="https://bhiner-tech.com" target="_blank">Bhiner Technologies</a></div>
            <img src="./img/payment.png" alt="" class="h-6 lg:ml-auto mt-3 lg:mt-0">
        </div>
    </div>
    <aside id="fixed-right-operator" class="fixed right-0 top-0 h-full flex flex-col justify-center pointer-events-none z-10">
        <div class="btn_upload_excel text-center pointer-events-auto mb-1 bg-theme text-white hover:opacity-75 cursor-pointer">
            <div><i class="ri-file-text-line text-3xl"></i></div>
            <div class="text-xs px-2 pb-1">大量訂購</div>
        </div>
        <div class="btn_upload_depositSlip text-center pointer-events-auto bg-theme text-white hover:opacity-75 cursor-pointer">
            <div><i class="ri-money-dollar-box-line text-3xl"></i></div>
            <div class="text-xs px-2 pb-1">上傳入數紙</div>
        </div>
    </aside>
</footer>

<div id="excel_wrapper" class="hidden">
    <form class="excel_form p-2 " autocomplete="off" style="width: 50vw;">
        <input type="hidden" name="shop_id" value={$shop_id}>
        <div class="bg-white border border-black flex flex-col py-8 items-center">
            <img src="../img/the_gift.png" alt="" class="h-24 object-contain">
            <div class="px-16 pt-8 w-full">
                <div class="border-black border-b"></div>
            </div>
            <div class="text-center py-4">請填寫您的聯絡資料或先登入The Gift帳號，再上傳已完成的Excel表格</div>
            <div class="px-44 flex flex-col">
                <input type="text" name="name" class="border-black border-b-2 py-2 placeholder-gray-500" placeholder="姓名">
                <input type="text" name="email" class="border-black border-b-2 py-2 placeholder-gray-500" placeholder="電郵">
                <input type="text" name="phone" class="border-black border-b-2 py-2 placeholder-gray-500" placeholder="電話號碼">
                <div for="excel_path" class="relative border-black border-b-2 py-2 text-gray-500 flex items-center">
                    請選擇需上傳的Excel表格 <i class="ri-folder-upload-line text-xl pl-2"></i>
                    <input type="file" name="excel_path" class="absolute top-0 left-0 h-full w-full opacity-0 cursor-pointer" accept=".xls,.xlsx,.csv">
                </div>
                <div class="relative py-2 bg-black opacity-90 hover:opacity-100 text-center text-white px-20 mx-auto my-4">
                    提交
                    <input type="submit" class="absolute top-0 left-0 h-full w-full opacity-0 cursor-pointer">
                </div>
            </div>
            <div class="px-16 pt-8 w-full">
                <div class="border-black border-b"></div>
            </div>
            <div class="flex flex-row py-6 px-16">
                <img src="../img/tips.png" alt="" class="object-contain flex-none pr-2">
                <div class="flex-auto">如果您多個收貨人資料及送貨地址需要輸入，我們建議您使用Excel訂單表下單</div>
            </div>
            <div class="px-16 w-full pb-8">
                <div class="border-black border-b"></div>
            </div>
            <a href="https://devthegift.wwdrfive.com/upload/excel/batch.xlsx" class="relative flex flex-row text-white text-center px-3 py-1 items-center" style="background-color: #007e43;">
                <img src="../img/excel_icon.png" alt="" class="h-full">
                <div class="font-bold">下載Excel訂單表</div>
            </a>
            <div class="flex flex-col items-center pt-8 w-full px-4">
                <div class="text-center py-1" style="color: #007e43;">在簡易的3個步驟填寫大量的訂單細節：</div>
                <div class="grid grid-cols-3 border-2 py-4 w-full" style="border-color: #007e43;">
                    <div class="flex flex-col items-center justify-center">
                        <div class="font-bold text-lg">步驟 1</div>
                        <img src="../img/excel_upload_step_1.png" alt="" class="w-16 h-16 object-contain">
                        <div class="text-gray-600 text-sm">下載Excel表格</div>
                        <div class="text-gray-600 text-sm">並按照標題填寫</div>
                    </div>
                    <div class="flex flex-col items-center justify-center border-r-2 border-l-2" style="border-color: #007e43;">
                        <div class="font-bold text-lg">步驟 2</div>
                        <img src="../img/excel_upload_step_2.png" alt="" class="w-16 h-16 object-contain">
                        <div class="text-gray-600 text-sm">上傳Excel表格</div>
                    </div>
                    <div class="flex flex-col items-center justify-center">
                        <div class="font-bold text-lg">步驟 3</div>
                        <img src="../img/excel_upload_step_3.png" alt="" class="w-16 h-16 object-contain">
                        <div class="text-gray-600 text-sm">繼續在線購買</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="depositSlip_wrapper" class="hidden">
    <form class="depositSlip_form p-2" autocomplete="off" style="width: 50vw;">
        <input type="hidden" name="shop_id" value={$shop_id}>
        <div class="bg-white border border-black flex flex-col py-8 items-center">
            <img src="../img/the_gift.png" alt="" class="h-24 object-contain">
            <div class="px-16 pt-8 w-full">
                <div class="border-black border-b"></div>
            </div>
            <div class="text-center py-4">請輸入你的訂單編號及上傳銀行發票</div>
            <div class="px-44 flex flex-col">
                <input type="text" name="order_no" class="border-black border-b-2 py-2 placeholder-gray-500" placeholder="訂單編號">
                <div class="relative border-black border-b-2 py-2 text-gray-500 flex items-center">
                    請選擇需上傳的銀行發票 <i class="ri-folder-upload-line text-xl pl-2"></i>
                    <input type="file" name="deposit_slip" class="absolute top-0 left-0 h-full w-full opacity-0 cursor-pointer">
                </div>
                <div class="relative py-2 bg-black opacity-90 hover:opacity-100 text-center text-white px-20 mx-auto my-4">
                    提交
                    <input type="submit" class="absolute top-0 left-0 h-full w-full opacity-0 cursor-pointer">
                </div>
            </div>
        </div>
    </form>
</div>

<script>
{literal}
$(document).ready(function(){
    $(".btn_upload_excel").on("click", function(e){
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#excel_wrapper').html(),
            mounted: function(){}
        });
    });

    $(document).on("submit", ".excel_form", async function(e){
        e.preventDefault();
        // $loader = await globalLoader();
        $(this).attr("id", "excel_form");

        $.bajax({
            url: "order/api/uploadExcel",
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                // globalLoader($loader);
                if (!data.code == 0){
                    globalErrorReturn(data);
                } else {
                    vkAlertDefault({
                        title: "確認",
                        content: "檔案已上傳成功。",
                        confirmButtonHtml: "確認"
                    });
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })

    $(".btn_upload_depositSlip").on("click", function(e){
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#depositSlip_wrapper').html(),
            mounted: function(){}
        });
    });

    $(document).on("submit", ".depositSlip_form", async function(e){
        e.preventDefault();
        $loader = await globalLoader();
        $(this).attr("id", "depositSlip_form");

        $.bajax({
            url: "order/api/uploadDepositSlip",
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                globalLoader($loader);
                if (!data.code == 0){
                    globalErrorReturn(data);
                } else {
                    vkAlertDefault({
                        title: "確認",
                        content: "入數紙已上傳成功。",
                        confirmButtonHtml: "確認"
                    });
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
});
{/literal}
</script>