<header>
    <!-- promotoinal bar-->
    <aside class="hidden lg:block bg-theme text-white text-sm py-1">
        <div class="text-center">買滿$500即享有免費送貨服務 - <a href="#" class="underline hover:opacity-75">了解更多</a></div>
    </aside>
    <div class="lg:hidden block bg-white top-0 fixed z-50 w-full shadow" id="mobile-header">
        <aside class="block bg-theme text-white text-sm py-1">
            <div class="text-center">買滿$500即享有免費送貨服務 - <a href="#" class="underline hover:opacity-75">了解更多</a></div>
        </aside>
        <div class="px-6">
            <div class="flex flex-row items-center">
                <a class="py-3 inline-block" href="/"><img src=" ../img/the_gift.png" class="h-10 mx-auto" alt="WEB_TITLE" /></a>
                <div class="flex-1"></div>
                <a href="/myAccount/myCart" class="py-2 px-2">
                    <i class="ri-shopping-cart-2-line text-2xl text-gray-600"></i>
                </a>
                {if $member}
                <a href="/myAccount/account" class="py-2 px-2">
                    <i class="ri-account-circle-line text-2xl text-gray-600"></i>
                </a>
                {/if}
                <a href="#" class="py-2 px-2 -mr-4 mobile-menu-open">
                    <i class="ri-menu-line text-2xl text-gray-600"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="hidden fixed z-50 top-0 left-0 w-screen h-screen  text-lg lg:hidden" id="mobile-header-menu">
        <div class="bg-black absolute top-0 left-0 h-full w-full opacity-50 js-closer"></div>
        <div class="w-2/3 fixed lg:hidden bg-white top-0 left-0 h-screen overflow-y-auto">
            <div>
                <nav class="whitespace-nowrap relative">
                <div class="border border-b border-gray-200 px-4 py-4">
                    <p class="mb-1 text-lg">歡迎，</p>
                    {if $member}
                    <div>
                        <div class="text-sm">{$member.name}</div>
                        <a href="/myAccount/logout" class="underline font-bold text-sm">登出</a>
                    </div>
                    {else}
                    <div>
                        <a href="/myAccount/login" class="bg-black text-white font-white block py-3 text-center ">立即登入</a>
                    </div>
                    {/if}
                </div>
                    {literal}
                    <script>
                        $(document).ready(function(){
                            $('.cate-mobile-holder').find('.cate-mobile-holder-clicker').click(function(){
                                var $this = $(this)
                                //hiden all sub cate
                                $('.cate-mobile-holder').find('.cate-mobile-sub-cate').addClass('hidden')
                                $('.cate-mobile-holder').find('.cate-mobile-holder-clicker i').removeClass('ri-arrow-up-s-line').removeClass('ri-arrow-down-s-line').addClass('ri-arrow-down-s-line')
                                //show sub cate inside
                                $this.closest('.cate-mobile-holder').find('.cate-mobile-sub-cate').removeClass('hidden')
                                $this.find('.ri-arrow-down-s-line').removeClass('.ri-arrow-down-s-line').addClass('ri-arrow-up-s-line')
                            })
                        })
                    </script>
                    {/literal}
                    <a href="/myAccount/myCart" class="block px-4 lg:px-6 py-3  border-b border-gray-200">購物車</a>
                    {foreach from=$header_result_array key=k item=i} {if $i.pageList}
                    <!-- if no pageList and cateList assume it is link-->
                    <div class="border-b border-gray-200 cate-mobile-holder">
                        <a href="#" class="cate-mobile-holder-clicker px-4 lg:px-6 py-3 flex flex-row items-center "><span class="font-bold">{$i.name}</span><i class="ri-arrow-down-s-line  text-xl ml-auto"></i></a>
                        <div class="cate-mobile-sub-cate hidden bg-gray-100">
                            <div class="text-gray-900">
                                {foreach from=$i.pageList key=kk item=ii} {if $kk != '0'}
                                <hr>{/if}
                                <a href="/{$ii.url}" class="flex flex-row items-center px-4 lg:px-6 py-3">{$ii.name}</a> {/foreach}
                            </div>
                        </div>
                    </div>
                    {elseif $i.cateList}
                       <div class="cate-mobile-holder">
                        <a href="#" class="cate-mobile-holder-clicker flex flex-row items-center px-4 lg:px-6 py-3 border-b border-gray-200"><div class="font-bold">{$i.name}</div><i class="text-xl ml-auto ri-arrow-down-s-line"></i></a>
                        <!-- full width drop down -->
                        <div class="cate-mobile-sub-cate hidden bg-gray-100">
                                    {foreach from=$i.cateList key=kk item=ii}
                                    
                                        <a href="product/productList/{$ii.name_en|replace:array(' ', '&'):array('_','')}"  class="cate block px-4 lg:px-6 py-3 border-b border-gray-200">{$ii.name}</a>
                                  
                                    {/foreach}

                                {*
                                <div class="sub-menu flex-1 pl-8 pb-6">
                                    {foreach from=$i.cateList key=kk item=ii}
                                    <div data-id="{$kk}" class="subcate grid grid-flow-col grid-cols-3 grid-rows-3 gap-4 text-theme">
                                        {foreach $ii.subcateList key=kkk item=iii}
                                        <a href="product/productList/{$iii.name_en|replace:array(' ', '&'):array('_','')}" class="hover:opacity-75">{$iii.name}</a> {/foreach}
                                    </div>
                                    {/foreach}
                                </div>
                                *}
                  
                        </div>
                       </div>
                        <!-- full width dropdown -->
                    {else}
                    <!-- if no pageList and cateList assume it is link-->
                    <a href="{$i.link}" class="block px-4 lg:px-6 py-3 border-b border-gray-200">
                        <span class="group-hover:opacity-75">{$i.name}</span>

                    </a>
                    {/if} {/foreach}
                </nav>
            </div>
        </div>
    </div>
    
    <aside id="mobile-header-pander"></aside>
    <!-- promotoinal bar-->
    {if $result_array.pageDtl.see_through_nav =='Y'}
    <!-- header style 1-->
    <div class="relative bg-gray-400 bg-cover bg-center" style="height:80vh;  background-image: url(../img/temp-bg.png);">

        <div class="container vk-container h-full">
            <div class="flex flex-col z-10 relative h-full">

                <div class="actual-header top-0 text-white hidden lg:block">
                    <!-- higher toolbar : account, cart, search etc...-->
                    <div class="higher-nav flex flex-row text-sm py-1 items-center">
                        <div class="language-picker flex-row">
                            <a href="#" class="hover:underline">繁體中文</a>
                            <span class="mx-2">/</span>
                            <a href="#" class="hover:underline">English</a>
                        </div>
                        <div class="nav ml-auto flex flex-row">
                            <div class="relative text-2xl hover:bg-white group inline-flex rounded-full cursor-pointer" id="search-trigger-vk-js">
                                <i class="ri-search-line group-hover:text-gray-900 leading-none p-2 z-20"></i>
                            </div>

                            <!-- my cart -->
                            <div class="text-2xl hover:bg-white group rounded-full ml-2 relative">
                                <a href="myAccount/myCart">
                                    <i class="ri-shopping-bag-line group-hover:text-gray-900 leading-none p-2 inline-flex"></i>
                                </a>
                                <div class="pt-2 lg:group-hover:block hidden transition-all absolute right-0 z-20 ">
                                    <div class="bg-white rounded w-84 shadow-lg overflow-hidden" id="vk-ajax-cart-form"></div>
                                </div>
                            </div>
                            <!-- my account -->
                            <div class="text-2xl hover:bg-white group rounded-full ml-2 relative">
                                <a href="myAccount/account">
                                    <i class="ri-account-circle-line group-hover:text-gray-900 leading-none p-2 inline-flex"></i>
                                </a>
                                <div class="pt-2 lg:group-hover:block hidden transition-all absolute right-0 z-20 ">
                                    <div class="transition-all bg-white rounded w-60 shadow-lg text-gray-900 text-base overflow-hidden">
                                        {if $member}
                                        <div class="py-2 px-4 block'">
                                            <div class="font-bold text-sm">{$member.email}</div>
                                            <div class="text-xs text-gray-500">{$member.member_no}</div>
                                        </div>
                                        <hr>
                                        <a href="/myAccount/account" class="py-2 px-4 block hover:bg-gray-50">我的帳號</a>
                                        <hr>
                                        <a href="/myAccount/account?ac_page=order" class="py-2 px-4 block hover:bg-gray-50">我的訂單</a>
                                        <hr>
                                        <a href="/myAccount/account?ac_page=wishlist" class="py-2 px-4 block hover:bg-gray-50">願望清單</a>
                                        <hr>
                                        <a href="/myAccount/account?ac_page=coupon" class="py-2 px-4 block hover:bg-gray-50">獎賞及優惠券</a>
                                        <hr>
                                        <a href="/myAccount/logout" class="py-2 px-4  block text-red-600 font-bold hover:bg-gray-50">登出</a> {else}
                                        <a href="/myAccount/login" class="py-2 px-4  block font-bold hover:bg-gray-50">登入</a>
                                        <hr>
                                        <a href="/myAccount/register" class="py-2 px-4  block font-bold hover:bg-gray-50">註冊帳號</a> {/if}
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- higher toolbar : account, cart, search etc...-->
                    <!-- Logo row -->
                    <div class="text-center">
                        <a class="py-4 inline-block" href="/"><img src=" ../img/the_gift_w.png" class="h-14 xl:h-24 mx-auto" alt="WEB_TITLE" /></a>
                     
                    </div>
                    <!-- Logo row -->
                    <!-- Actual navigation -->
                    <nav class="flex flex-row justify-center whitespace-nowrap relative" id="scroll-listener">
                        {foreach from=$header_result_array key=k item=i} {if $i.pageList}
                        <!-- if no pageList and cateList assume it is link-->
                        <div class="px-4 lg:px-6 py-3 text-sm lg:text-base relative group">
                            <a href="{$i.url}">{$i.name}</a>
                            <div class="absolute right-0 pt-5">
                                <div class="group-hover:block hidden rounded bg-white overflow-hidden text-gray-900 shadow-lg">
                                    {foreach from=$i.pageList key=kk item=ii} {if $kk != '0'}
                                    <hr>{/if}
                                    <a href="/{$ii.url}" class="py-2 block hover:bg-gray-50 px-6">{$ii.name}</a> {/foreach}
                                </div>
                            </div>
                        </div>
                        
                        {elseif $i.cateList}
                        <div class="px-4 lg:px-6 py-3 text-sm lg:text-base group">
                            <span class="group-hover:opacity-75 cursor-pointer">{$i.name}</span>
                            <!-- full width drop down -->
                            <div class="hidden group-hover:block flex-row absolute w-full top-full bg-white left-0 border-l border-r border-b border-gray-200 px-6 pt-5 shadow-lg">
                                <a href="#" class="hover:opacity-75 inline-block mb-2">
                                    <h6 class="text-xl font-bold text-gray-900 leading-tight">{$i.name}</h6>
                                    <div class="flex flex-row items-center text-xs text-gray-400">
                                        <div>全部{$i.name}</div>
                                        <i class="ri-arrow-right-line ml-2"></i>
                                    </div>
                                </a>
                                <div class="flex flex-row items-start">
                                    <ul class="hover-listener border- -ml-6 min-w-screen-20">
                                        {foreach from=$i.cateList key=kk item=ii}
                                        <li data-id="{$kk}" class="cate">
                                            <a href="product/productList/{$ii.name_en|replace:array(' ', '&'):array('_','')}" class="hover:opacity-75 py-3 block pr-8 pl-6 text-gray-800 {if $kk > 0}bg-gray-50{/if}">{$ii.name}</a>
                                        </li>
                                        {/foreach}
                                    </ul>
                                    <div class="sub-menu flex-1 pl-8 pb-6">
                                        {foreach from=$i.cateList key=kk item=ii}
                                        <div data-id="{$kk}" class="subcate grid grid-flow-col grid-cols-3 grid-rows-3 gap-4 text-theme {if $kk >0}hidden{/if}">
                                            {foreach $ii.subcateList key=kkk item=iii}
                                            <a href="product/productList/{$iii.name_en|replace:array(' ', '&'):array('_','')}" class="hover:opacity-75">{$iii.name}</a> {/foreach}
                                        </div>
                                        {/foreach}
                                    </div>
                                </div>
                            </div>
                            <!-- full width dropdown -->
                        </div>
                        {else}
                        <!-- if no pageList and cateList assume it is link-->
                        <a href="{$i.link}" class="px-4 lg:px-6 py-3 text-sm lg:text-base">
                            <span class="group-hover:opacity-75">{$i.name}</span>

                        </a>
                        {/if} {/foreach}
                    </nav>
                    <!-- Actual navigation -->
                </div>
                <div class=" flex-1 flex flex-col justify-center items-center">
                    <h2 class="text-4xl font-bold text-white">物輕 • 情意重</h2>
                    <a href="#" class="bg-white px-8 py-3 mt-8 hover:opacity-75">
                        立即選購
                    </a>
                </div>
            </div>

        </div>
        <div class="absolute top-0 left-0 h-full w-full" style="background: rgb(0,0,0); background: linear-gradient(180deg, rgba(0,0,0,.6) 0%, rgba(0,0,0,0) 100%);"></div>
    </div>
    <!-- header style 1-->
    {else}
    <div class="relative text-theme border-b border-gray-200">
        <div class="container vk-container">
            <div class="flex flex-col z-10 relative">
                <div class="actual-header top-0  hidden lg:block">
                    <!-- higher toolbar : account, cart, search etc...-->
                    <div class="higher-nav flex flex-row text-sm py-1 items-center">
                        <div class="language-picker flex-row">
                            <a href="#" class="hover:underline">繁體中文</a>
                            <span class="mx-2">/</span>
                            <a href="#" class="hover:underline">English</a>
                        </div>
                        <div class="nav ml-auto flex flex-row">
                            <a href="#" class="text-2xl hover:bg-white group inline-flex rounded-full" id="seach-trigger-vk-js"><i class="ri-search-line group-hover:text-gray-900 leading-none p-2"></i></a>
                            <!-- my cart -->
                            <div class="text-2xl hover:bg-white group rounded-full ml-2 relative">
                                <a href="myAccount/myCart">
                                    <i class="ri-shopping-bag-line group-hover:text-gray-900 leading-none p-2 inline-flex"></i>
                                </a>
                                <div class="pt-2 lg:group-hover:block hidden transition-all absolute right-0 z-20 ">
                                    <div class="bg-white rounded w-84 shadow-lg overflow-hidden" id="vk-ajax-cart-form"></div>
                                </div>
                            </div>
                            <!-- my account -->
                            <div class="text-2xl hover:bg-white group rounded-full ml-2 relative">
                                <a href="myAccount/account">
                                    <i class="ri-account-circle-line group-hover:text-gray-900 leading-none p-2 inline-flex"></i>
                                </a>
                                <div class="pt-2 lg:group-hover:block hidden transition-all absolute right-0 z-20 ">
                                    <div class="transition-all bg-white rounded w-60 shadow-lg text-gray-900 text-base overflow-hidden">
                                        {if $member}
                                        <div class="py-2 px-4 block'">
                                            <div class="font-bold text-sm">{$member.email}</div>
                                            <div class="text-xs text-gray-500">{$member.member_no}</div>
                                        </div>
                                        <hr>
                                        <a href="/myAccount/account" class="py-2 px-4 block hover:bg-gray-50">我的帳號</a>
                                        <hr>
                                        <a href="/myAccount/account?ac_page=order" class="py-2 px-4 block hover:bg-gray-50">我的訂單</a>
                                        <hr>
                                        <a href="/myAccount/account?ac_page=wishlist" class="py-2 px-4 block hover:bg-gray-50">願望清單</a>
                                        <hr>
                                        <a href="/myAccount/account?ac_page=coupon" class="py-2 px-4 block hover:bg-gray-50">獎賞及優惠券</a>
                                        <hr>
                                        <a href="/myAccount/logout" class="py-2 px-4  block text-red-600 font-bold hover:bg-gray-50">登出</a> {else}
                                        <a href="/myAccount/login" class="py-2 px-4  block font-bold hover:bg-gray-50">登入</a>
                                        <hr>
                                        <a href="/myAccount/register" class="py-2 px-4  block font-bold hover:bg-gray-50">註冊帳號</a> {/if}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- higher toolbar : account, cart, search etc...-->
                    <!-- Logo row -->
                    <div class="flex flex-row items-center justify-center">
                        <a class="py-4" href="/"><img src="../img/the_gift_g.png" class="h-14 xl:h-24 mx-auto" alt="WEB_TITLE" /></a>
                    </div>
                    <!-- Logo row -->
                    <!-- Actual navigation -->
                    <div class="w-full flex items-center">
                        <nav class="inline-flex flex-row justify-center items-center whitespace-nowrap relative mx-auto" style="min-width: 60%" id="scroll-listener">
                            {foreach from=$header_result_array key=k item=i} {if $i.pageList}
                            <div class="px-4 lg:px-6 py-3 text-sm lg:text-base relative group">
                                <a href="{$i.url}">{$i.name}</a>
                                <div class="absolute right-0 pt-5">
                                    <div class="group-hover:block hidden rounded bg-white overflow-hidden text-gray-900 shadow-lg">
                                        {foreach from=$i.pageList key=kk item=ii} {if $kk != '0'}
                                        <hr>{/if}
                                        <a href="/{$ii.url}" class="py-2 block hover:bg-gray-50 px-6">{$ii.name}</a> {/foreach}
                                    </div>
                                </div>

                            </div>
                            {elseif $i.cateList}
                            <div class="px-4 lg:px-6 py-3 text-sm lg:text-base group">
                                <span class="group-hover:opacity-75 cursor-pointer">{$i.name}</span>
                                <!-- full width drop down -->
                                <div class="hidden group-hover:block flex-row absolute w-full top-full bg-white left-0 border-l border-r border-b border-gray-200 px-6 pt-5 shadow-lg">
                                    <a href="#" class="hover:opacity-75 inline-block mb-2">
                                        <h6 class="text-xl font-bold text-gray-900 leading-tight">{$i.name}</h6>
                                        <div class="flex flex-row items-center text-xs text-gray-400">
                                            <div>全部{$i.name}</div>
                                            <i class="ri-arrow-right-line ml-2"></i>
                                        </div>
                                    </a>
                                    <div class="flex flex-row items-start">
                                        <ul class="hover-listener border- -ml-6 min-w-screen-20">
                                            {foreach from=$i.cateList key=kk item=ii}
                                            <li data-id="{$kk}" class="cate">
                                                <a href="product/productList/{$ii.name_en|replace:array(' ', '&'):array('_','')}" class="hover:opacity-75 py-3 block pr-8 pl-6 text-gray-800 {if $kk > 0}bg-gray-50{/if}">{$ii.name}</a>
                                            </li>
                                            {/foreach}
                                        </ul>
                                        <div class="sub-menu flex-1 pl-8 pb-6">
                                            {foreach from=$i.cateList key=kk item=ii}
                                            <div data-id="{$kk}" class="subcate grid grid-flow-col grid-cols-3 grid-rows-3 gap-4 text-theme {if $kk >0}hidden{/if}">
                                                {foreach $ii.subcateList key=kkk item=iii}
                                                <a href="product/productList/{$iii.name_en|replace:array(' ', '&'):array('_','')}" class="hover:opacity-75">{$iii.name}</a> {/foreach}
                                            </div>
                                            {/foreach}
                                        </div>
                                    </div>
                                </div>
                                <!-- full width dropdown -->
                            </div>
                            {else}
                            <!-- if no pageList and cateList assume it is link-->
                            <a href="{$i.link}" class="px-4 lg:px-6 py-3 text-sm lg:text-base group-hover:opacity-75"><span>{$i.name}</span></a> {/if} {/foreach}



                        </nav>
                    </div>
                    <!-- Actual navigation -->
                </div>
            </div>
        </div>
    </div>
    {/if}
    <div id="fixed-scrollbar-cloner" class="fixed top-0 w-full bg-white shadow-lg z-50 hidden lg:block">
        {literal}
        <style>
            .cloner-act>*:hover {
                color: #bca184
            }
        </style>
        {/literal}
        <div class="cloner-act flex-row items-center justify-center hidden"></div>
    </div>
</header>

{assign var="topLeft" value="top-0 left-0"} {assign var="topMid" value="top-0 left-1/2 transform -translate-x-1/2"} {assign var="topRight" value="top-0 right-0"} {assign var="centerLeft" value="top-1/2 left-0 transform -translate-y-1/2"} {assign var="centerMid"
value="top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"} {assign var="centerRight" value="top-1/2 right-0 transform -translate-y-1/2"} {assign var="bottomLeft" value="bottom-0 left-0"} {assign var="bottomMid" value="bottom-0 left-1/2 transform
-translate-x-1/2"} {assign var="bottomRight" value="bottom-0 right-0"} {foreach from=$popupList key=k item=i} {if $i.activate == 'Y' && $i.show_in_web == 'Y'}

<div class="popup_wrapper fixed m-4 flex items-end pointer-events-none sm:items-start {${$i.location}} z-40" style="min-width: 400px;">
    <div class="w-full flex items-center space-y-4 sm:items-end">
        <div class="max-w-sm w-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden">
            <div class="p-4">
                <div class="flex items-start">
                    <div class="flex-shrink-0">

                    </div>
                    <div class="ml-3 w-0 flex-1 pt-0.5">
                        {$i.content}
                    </div>
                    <div class="ml-4 flex-shrink-0 flex btn_popup_close">
                        <button class="bg-white rounded-md inline-flex text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        <span class="sr-only">Close</span>
                        <!-- Heroicon name: solid/x -->
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{/if} {/foreach}

<div id="search_box_modal" class="hidden">
    <div class="flex flex-col bg-white p-2" style="width: 25vw; height: 70vh;">
        <div class="text-lg text-gray-700 pb-2 px-2 w-full text-center">請輸入產品名稱 / 編號</div>
        <div class="flex flex-row items-center border border-gray-300 rounded-full py-1 pl-4 mb-2">
            <input type="text" name="skey" class="w-full bg-white text-gray-900 text-base text-xl outline-none">
            <div class="ml-auto"><i class="ri-search-line ml-auto text-xl pr-2 text-gray-600"></i></div>
        </div>
        <input type="hidden" name="page" value="">
        <input type="hidden" name="limit" value="">
        <div id="search_box_container" class="w-full h-full overflow-y-auto text-base border border-gray-300">
            <a href="" class="tpl hidden">
                <div class="bg-white flex items-center border-b border-gray-300 cursor-pointer hover:bg-gray-100 text-gray-800">
                    <div class="mt-2 ml-2 mb-2 h-10 w-10 bg-center bg-contain bg-no-repeat img"></div>
                    <div class="p-2">
                        <div class="font-bold product_name"></div>
                        <div class="text-gray-600 text-sm product_code"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{literal}
<script>
    window.member = {
            updateCart: function(newCart) {
                    var $cart = $('#vk-ajax-cart-form')
                    window.member.cart = newCart;

                    $.bajax({
                                url: "/myAccount/api/myCart",
                                callback: function(data) {
                                        // globalLoader($loader);
                                        if (!data.code == 0) {
                                            //globalErrorReturn(data);
                                        } else {
                                            cartResult = data.result.cartDtl.deliList
                                            if (data.result.cartDtl.deliList.length == 0) {
                                                $cart.html(`
                        <div class="text-center px-4 py-2">
                            <h5 class="font-bold text-gray-900 text-lg">你的購物車未有任何商品</h5>
                            <p class="text-gray-500 text-sm">立即前往遊覽並增加商品</p>    
                        </div>
                        `)
                                            } else {
                                                var vartHtml = '<div>'
                                                cartResult.forEach(function(item, index) {
                                                            console.log(item)
                                                            if (index != 0) {
                                                                vartHtml += `<hr/>`
                                                            }
                                                            vartHtml += `
                            <a class="flex flex-row items-center px-2 py-2 hover:bg-gray-50" href="/product/productDtl/${item.productDtl.product_code}">
                                <div class="w-12 h-12 bg-cover bg-center rounded" style="background-image:url('${item.productDtl.img[0].img}');"></div>
                                <div class="ml-3 text-gray-900 text-base">
                                    <div class="font-bold text-sm">${item.productDtl.product_name}</div>
                                    <div class="flex flex-row items-end">
                                        <div class="text-green-500 text-sm font-bold">$${item.deliDtl.deli_price}</div>
                                        ${parseFloat(item.deliDtl.deli_price) > parseFloat(item.productDtl.price) ? '' : `<div class="overline line-through text-gray-400 text-xs ml-1">$${item.productDtl.price}</div>`}
                                         
                                    </div>
                                </div>
                            </a>
                            `
                        })
                        vartHtml += `
                        <hr/>
                        <a href="myAccount/myCart" class="block text-center font-bold py-3 bg-gray-50 text-base text-gray-600 hover:bg-gray-100">查看全部商品</a>
                        </div>`
                        $cart.html(vartHtml)
                       
                      
                    }
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    },
}

$(document).ready(function(){

    //set mobile header pander
    function mobileHeaderHeightCalculate(){
        $('#mobile-header-pander').css({
            height : $('#mobile-header').css('display') == 'none' ? 0 : $('#mobile-header').outerHeight()
        })
    }
    mobileHeaderHeightCalculate()

    $(window).on('resize', function(){
        mobileHeaderHeightCalculate()
    })

    //mobile header handler
    $('.mobile-menu-open').click(function(){
        $('#mobile-header-menu').removeClass('hidden')
    })

    $('#mobile-header-menu').find('.js-closer').click(function(e){
        if($(e.target).hasClass('js-closer')){
            $('#mobile-header-menu').addClass('hidden')
        }
    })

    //search box
    $(document).off("click", "#search-trigger-vk-js")
    $(document).on("click", "#search-trigger-vk-js", function() {
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#search_box_modal').html(),
            mounted: function(){
                $(".vk-modal-dom").find("[name=skey]").off("keyup")
                $(".vk-modal-dom").find("[name=skey]").on("keyup", function() {
                    $container = $(".vk-modal-dom").find("#search_box_container")
                    $.bajax({
                        url: "admin/product/api/productList",
                        method: 'POST',
                        data: {skey:$(this).val()},
                        callback: function(data) {
                            if (data.code == 0){
                                $container.children(".product_result").remove();
                                res = data.result;
                                res.forEach(function($row){
                                    $tpl = $container.find(".tpl").clone();
                                    $tpl.removeClass("tpl");
                                    $tpl.removeClass("hidden");
                                    $tpl.addClass("product_result")
                                    
                                    $tpl.find(".product_code").html($row.product_code); 
                                    $tpl.find(".product_name").html($row.product_name);
                                    $tpl.find(".img").attr({style: "background-image: url('" + $row.img[0].img + "')"});
                                    $tpl.attr({
                                        "data-product_id": $row.product_id,
                                        "data-product_name": $row.product_name,
                                        "data-product_code": $row.product_code
                                    })
                                    $tpl.attr("href", "product/productDtl/" + $row.product_code)
                                    $container.append($tpl)
                                });
                            }
                        },
                        errorCallback: function(jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR);
                        },
                    });
                })
            }
        });
    })

    //window scroll handler
    $('#fixed-scrollbar-cloner').find('.cloner-act').html($('#scroll-listener').html())
    $(window).scroll(function(e){
        var $cloner = $('#fixed-scrollbar-cloner').find('.cloner-act');
        //console.log($(window).scrollTop())
        //clone scroller at the beginning

        //scroll detector
        if($(window).scrollTop() >= $('#scroll-listener').position().top){
            $cloner.removeClass('hidden').addClass('flex')
        } else {
            $cloner.addClass('hidden').removeClass('flex')
        }
    })

    //update cart
    window.member.updateCart()

    $(".btn_popup_close").on("click", function(){
        $(this).parents(".popup_wrapper").remove();
    });

    $(".cate").on("mouseover", function(){
        id = $(this).attr("data-id");
        $(".cate a").addClass("bg-gray-50");
        $(this).find("a").removeClass("bg-gray-50");

        $(".subcate").addClass("hidden");
        $(".subcate[data-id='"+id+"']").removeClass("hidden");
    });
});
</script>
{/literal}

