<script src="/js/bhiner-datepicker.js"></script>
<script src="/js/lib/moment-with-locales.min.js"></script>
<script>
    var shop_id = {$shop_id};
    {literal}
        // TO Lok: deli_arr sample
        var deli_arr = [{
            "deli_id": "10",
            "recipient_name": "willa",
            "recipient_phone": "女",
            "recipient_company": "knjwnfeaflkhkh",
            "deli_date": "2021-10-28",
            "deli_timeslot_id": "9",
            "deli_address": "",
            "deli_region_id": "6",
            "card_head": "",
            "card_body": "",
            "card_sign": "",
            "remarks_internal": "",
            "remarks_external": "",
        }];

        //destination
        window.deliveryHook = {
            shopId : {/literal}{$shop_id}{literal}, 
            holidayList: [],
            deliveryArray: [],
            deliveryAddressMethod: 'split-address', //same-address or  split-address
            refresh: function() {
                //refresh address picker =======
                //toggler UI
                var $deliveryHolder = $('#delivery-address-method-picker')
                $deliveryHolder.find(`[data-address-method="${this.deliveryAddressMethod}"]`).find('.select-active-class').removeClass('hidden')
                .closest(`[data-address-method="${this.deliveryAddressMethod}"]`).siblings().find('.select-active-class').addClass('hidden')

                //form hide or show
                if (this.deliveryAddressMethod == 'same-address') {
                    $('#same-address-form').removeClass('hidden')
                    $('#item-preview-list').find('.indi-address-delivery-picker').addClass('hidden')

                } else {
                    $('#same-address-form').addClass('hidden')
                    $('#item-preview-list').find('.indi-address-delivery-picker').removeClass('hidden')
                }
                //end refresh address picker =======

                //refresh input, form

                //recreate delivery array
                console.log(this)
            }
        }

        $(document).ready(function() {
            //set moment time to server time
            var serverTimeOffset = new Date({/literal}{$timestamp}{literal}).getTime() - Date.now();
            moment.now = function() {
                return serverTimeOffset + Date.now();
            };
            //implement json object to product list
            var deliveryId = []
            window.deliveryHook.holidayList = {/literal}{$result_array.holidayList|json_encode}{literal}
            $('.product-init').each(function(index, element) {
                //parse holiday object into each dom product indi
                var elementProductId = String($(element).data().productId)
                var elementDeliId = String($(element).data().deliveryId)
                deliveryId.push($(element).data().deliveryId)
                //start to loop holiday and see if product match holiday
                var tempHolidayList = []
                window.deliveryHook.holidayList.forEach(function(holiday, holidayIndex) {
                    if (holiday.product_id_arr == null) {
                        tempHolidayList.push(holiday)
                    } else {
                        //start to loop the product id and see if holiday id match our product
                        holiday.product_id_arr.every(function(holidayProductId,
                            holidayProductIdIndex) {
                            if (holidayProductId == elementProductId) {
                                tempHolidayList.push(holiday)
                            } else {
                                return true
                            }
                        })
                    }
                })
                //after looping, apply holiday into dom
                $(element).data('holidayList', tempHolidayList)
                console.log($(element).data())

            })

            var getDeliveryListStringObj = {
                cust_deli_id_arr: JSON.stringify(deliveryId),
                shop_id: window.deliveryHook.shopId
            }
            console.log('===')
            
            $.bajax({
                url: "checkout/api/getDistrictList",
                data: getDeliveryListStringObj,
                method: 'POST',
                callback: function(data) {
                  console.log('====')
                  console.log(data)
                    if (!data.code == 0) {

                    } else {
                        //hide loader
                        $('.js-form-loading-container').hide()
                        $('#main-form-act').removeClass('opacity-0')

                        //put data into product list
                        console.log('hey')
                        data.result.forEach(function(deliListArr, index) {
                            //put list into item list
                            $('#item-preview-list').find(`[data-delivery-id="${deliListArr.cust_deli_id}"]`).data('deList', deliListArr.districtList)
                        })
                    }
                }
            })


            //init user interface
            window.deliveryHook.refresh()

            //address handler
            deliveryAddressMethod = ''
            $('#delivery-address-method-picker').find('[data-address-method]').click(function() {
                var $this = $(this)

                window.deliveryHook.deliveryAddressMethod = $this.data().addressMethod
                window.deliveryHook.refresh()
            })

            //pickers ========================
            //===============================

            //pick address and region
            $('.deli-region-picker').click(function(e) {
                var $this = $(this)
                e.preventDefault()
                $vkmodal({
                    fullScreen: false,
                    tapBackgroundToClose: true,
                    content: $("#general-popup").html(),
                    mounted: function(element) {
                        //close handler
                        element.find('.js-close').click(function() {
                            killVkmodal(element.data().timestamp)
                        })

                        //start to find regions
                        var domHtml = ''
                        var data;

                        if ($this.hasClass('indi-deli-region-picker')) {

                            data = $this.closest('.product-init').data().deList

                        } else {
                            //get from general array
                        }

                        //parse code into html DOM
                        data.forEach(function(distrist, key) {
                            if (distrist.show_in_web == 'Y') {
                                domHtml += `
                                <h4 class="font-bold text-sm text-gray-500 mb-2 mt-3">
                                ${distrist.name}
                                </h4>
                                          `
                            }

                            //loop region
                            distrist.regionList.forEach(function(region, key) {
                                domHtml += `
<a href="#" class="indi-region-picker indi-region-picker-inner whitespace-nowrap
border border-gray-200 px-2 py-1 inline-block mb-1 rounded hover:opacity-75 font-bold" 
data-region="${region.region_id}" data-time-slot='${JSON.stringify(region.timeslotList)}'>
${region.name}
                                              </a>`
                            })
                        })

                        //place content
                        element.find('.content-replacer').html(domHtml)

                        //return region code
                        element.find('.indi-region-picker').click(function(e) {
                            e.preventDefault()
                            var $button = $(this)

                            //change the time slot available in product init
                            $this.closest('.product-init').data('timeSlot', $button
                                .data().timeSlot)
                            console.log($this.closest('.product-init').data())

                            //place value
                            $this.find('input[name=recipient-region]').val($button
                                .data().region)
                            $this.find('.pick-region-js-trigger').text($button.html())

                            //unlock time stamp
                            $this.closest('.product-init').find('.time-slot-hidden')
                                .removeClass('hidden')

                            //place display text
                            killVkmodal(element.data().timestamp)

                        })
                        return;
                    },
                });

            })

            //time slot picker

            $(".time-slot-picker").click(function() {
                var $this = $(this)
                /* $.bajax({
                url: "checkout/api/getTimeslotList",
                method: 'POST',
                data: {
                    product_id: 3,
                    shop_id: shop_id
                },
                callback: function(data) {
                    if (!data.code == 0) {
                        globalErrorReturn(data);
                    } else {
                        console.log(data);
                        console.log("ajax done");
                    }
                }
            }) */

                $vkmodal({
                    fullScreen: false,
                    tapBackgroundToClose: true,
                    content: $("#time-slot-popup").html(),
                    mounted: function(element) {
                        element.find(".js-close").click(function() {
                            killVkmodal(element.data().timestamp);
                        });
                        var domHtml = ''

                        //create content html here
                        var data = $this.closest('.product-init').data()
                        var timeSlotHtmlDefault ='';
                        var timeSlotHtmlExtra = '';
                        if($this.hasClass('indi-time-slot-picker')){
                          //product indi picker
                          console.log('===')
                          console.log(data)
                          data.timeSlot.forEach(function(timeSlot, index){
                            var tempHtml = `
                            <a href="#" data-time-slot-id="${timeSlot.slot_id}" class="time-slot-picker-js-indi border border-gray-300 rounded text-sm text-gray-700 font-bold px-3 py-2 hover:opacity-50 transition-all" data-extra-fee="${timeSlot.deli_fee}" data-same-day-extra-fee="${timeSlot.same_day_deli_fee}">
                              <div>${moment(`2020-01-01 ${timeSlot.start_time}`).format('HH:mm')} 至 ${moment(`2020-01-01 ${timeSlot.end_time}`).format('HH:mm')} 送貨</div>
                              <div class="text-xs text-gray-400">${timeSlot.deli_fee == '0' ? `免運費` : `額外運費 : <span class="text-green-500 extra-fee-js-dom">$${timeSlot.deli_fee}</span> `}</div>
                            </a>
                            `

                            if(timeSlot.default == 'Y'){
                              timeSlotHtmlDefault += tempHtml
                            } else {
                              timeSlotHtmlExtra += tempHtml
                            }
                          })
                        } else {
                          //global picker

                        }
                        timeSlotHtmlDefault += '</div>'
                        timeSlotHtmlExtra += '</div>'
                        //time-field-picker-container

                        //place content
                        element.find('.default-time-slot-container').html(timeSlotHtmlDefault)
                        element.find('.extra-time-slot-container').html(timeSlotHtmlExtra)

                        //event listener

                        //indi time slot picker
                        $('.time-slot-picker-js-indi').click(function(e){
                          var $indiThis = $(this)
                          element.find('.time-slot-picker-js-indi').removeClass('ring-2 ring-green-500 text-green-500')
                          $indiThis.addClass('ring-2 ring-green-500 text-green-500')
                          $this.data('timeSlot',$indiThis.data().timeSlotId)
                        })

                        //date time picker
                        return;
                    },
                });
            });

            //final payment ========================
            //===============================

            //payment process

            $(document).on("click", ".btn_payment", function(e) {

                var data = {
                    deli_arr: JSON.stringify(deli_arr),
                    shop_id: shop_id,
                    sender_name: $("[name=sender_name]").val(),
                    sender_phone: $("[name=sender_phone]").val(),
                    sender_email: $("[name=sender_email]").val(),
                }

                //send payment order
                $.bajax({
                    url: "checkout/api/saveAddress",
                    method: 'POST',
                    data: data,
                    callback: function(data) {
                        if (!data.code == 0) {
                            console.log(data.code)
                            globalErrorReturn(data);
                        } else {
                            location.href = "checkout/checkoutConfirmation";
                        }
                    }
                })
            });


            $(document).on("click", "#time-picker-js-modal", function(e) {
                console.log($(e.target));
                if ($(e.target).hasClass("time-picker-js-modal-closer")) {
                    $("#time-picker-js-modal").remove();
                }
            });

            $(".region-picker").click(function() {
                $.bajax({
                    url: "checkout/api/getRegionList",
                    method: 'POST',
                    data: {
                        //product_id: 3,
                        shop_id: shop_id
                    },
                    callback: function(data) {
                        if (!data.code == 0) {
                            globalErrorReturn(data);
                        } else {
                            console.log(data);
                            console.log("ajax done");
                        }
                    }
                })
            });

        });
    {/literal}
</script>

<div class="hidden" id="time-slot-popup">
    <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <div
                class="inline-block bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 align-middle sm:max-w-2xl w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 sm:mt-0 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium text-gray-900 modal-title">
                                請選擇日期
                            </h3>
                        </div>
                    </div>
                    <div class="slot-picker-container mb-4">
                      <input type="text" class="bhiner-datepicker border border-gray-300 px-4 py-2 rounded mt-2 w-full font-bold" data-blocked-date="" placeholder="請選擇日期">
                    </div>
                    <hr/>
                    <div class="slot-picker-container mt-4">
                      <h4 class="font-bold mt-4 text-lg">選擇時段</h4>
                        
                      </div>
                      <h4  class="font-bold mb-2 mt-4">預設時段</h4>
                      <div class="default-time-slot-container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-2 gap-y-2">

                      </div>
                      <h4  class="font-bold mb-2 mt-4">指定／特殊時段</h4>
                      <div class="extra-time-slot-container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-2 gap-y-2">

                      </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                      <button type="button"
                          class="js-confirm mt-3 w-full inline-flex justify-center rounded-md bg-blue-500 text-white shadow-sm px-4 py-2 bg-white text-base font-medium hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-100 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                          確定
                      </button>
                      <button type="button"
                          class="js-close mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-100 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                          取消
                      </button>

                  </div>
                </div>
              
            </div>
        </div>
    </div>
</div>

<div class="hidden" id="general-popup">
    <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <div
                class="inline-block bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 align-middle sm:max-w-2xl w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 sm:mt-0 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium text-gray-900 modal-title">
                                請選擇區域
                            </h3>
                        </div>
                    </div>
                    <div class="content-replacer">
                        <div class="popup-js-form-loading-container text-center py-24">
                            <svg class="animate-spin mx-auto h-12 w-12 text-black opacity-20"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                    stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor"
                                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button type="button"
                        class="js-close mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-100 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden" id="edit-address-popup">
    <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <div
                class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center sm:mt-0 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                                請選擇時段
                            </h3>
                        </div>
                    </div>
                    <div class="mt-2 grid grid-cols-2 gap-x-2 gap-y-2">
                        <label x-radio-group-option=""
                            class="relative bg-white border rounded-lg shadow-sm p-4 flex cursor-pointer focus:outline-none border-gray-300 undefined"
                            x-description='Checked: "border-transparent", Not Checked: "border-gray-300"	Active: "ring-2 ring-indigo-500"'
                            :class="{ 'border-transparent': (value === 'Express'), 'border-gray-300': !(value === 'Express'), 'ring-2 ring-indigo-500': (active === 'Express'), 'undefined': !(active === 'Express') }">
                            <input type="radio" x-model="value" name="delivery-method" value="Express" class="sr-only"
                                aria-labelledby="delivery-method-1-label"
                                aria-describedby="delivery-method-1-description-0 delivery-method-1-description-1" />
                            <div class="flex-1 flex">
                                <div class="flex flex-col">
                                    <span class="block text-sm font-medium text-gray-900">
                                        上午 8:00 至 中午 12:00
                                    </span>
                                </div>
                            </div>
                        </label>
                        <label x-radio-group-option=""
                            class="relative bg-white border rounded-lg shadow-sm p-4 flex cursor-pointer focus:outline-none border-gray-300 undefined"
                            x-description='Checked: "border-transparent", Not Checked: "border-gray-300"	Active: "ring-2 ring-indigo-500"'
                            :class="{ 'border-transparent': (value === 'Express'), 'border-gray-300': !(value === 'Express'), 'ring-2 ring-indigo-500': (active === 'Express'), 'undefined': !(active === 'Express') }">
                            <input type="radio" x-model="value" name="delivery-method" value="Express" class="sr-only"
                                aria-labelledby="delivery-method-1-label"
                                aria-describedby="delivery-method-1-description-0 delivery-method-1-description-1" />
                            <div class="flex-1 flex">
                                <div class="flex flex-col">
                                    <span class="block text-sm font-medium text-gray-900">
                                        上午 8:00 至 中午 12:00
                                    </span>
                                </div>
                            </div>
                        </label>
                        <label x-radio-group-option=""
                            class="relative bg-white border rounded-lg shadow-sm p-4 flex cursor-pointer focus:outline-none border-gray-300 undefined"
                            x-description='Checked: "border-transparent", Not Checked: "border-gray-300"	Active: "ring-2 ring-indigo-500"'
                            :class="{ 'border-transparent': (value === 'Express'), 'border-gray-300': !(value === 'Express'), 'ring-2 ring-indigo-500': (active === 'Express'), 'undefined': !(active === 'Express') }">
                            <input type="radio" x-model="value" name="delivery-method" value="Express" class="sr-only"
                                aria-labelledby="delivery-method-1-label"
                                aria-describedby="delivery-method-1-description-0 delivery-method-1-description-1" />
                            <div class="flex-1 flex">
                                <div class="flex flex-col">
                                    <span class="block text-sm font-medium text-gray-900">
                                        上午 8:00 至 中午 12:00
                                    </span>
                                </div>
                            </div>
                        </label>
                        <label x-radio-group-option=""
                            class="relative bg-white border rounded-lg shadow-sm p-4 flex cursor-pointer focus:outline-none border-gray-300 undefined"
                            x-description='Checked: "border-transparent", Not Checked: "border-gray-300"	Active: "ring-2 ring-indigo-500"'
                            :class="{ 'border-transparent': (value === 'Express'), 'border-gray-300': !(value === 'Express'), 'ring-2 ring-indigo-500': (active === 'Express'), 'undefined': !(active === 'Express') }">
                            <input type="radio" x-model="value" name="delivery-method" value="Express" class="sr-only"
                                aria-labelledby="delivery-method-1-label"
                                aria-describedby="delivery-method-1-description-0 delivery-method-1-description-1" />
                            <div class="flex-1 flex">
                                <div class="flex flex-col">
                                    <span class="block text-sm font-medium text-gray-900">
                                        上午 8:00 至 中午 12:00
                                    </span>
                                </div>
                            </div>
                        </label>
                        <label x-radio-group-option=""
                            class="relative bg-white border rounded-lg shadow-sm p-4 flex cursor-pointer focus:outline-none border-gray-300 undefined"
                            x-description='Checked: "border-transparent", Not Checked: "border-gray-300"	Active: "ring-2 ring-indigo-500"'
                            :class="{ 'border-transparent': (value === 'Express'), 'border-gray-300': !(value === 'Express'), 'ring-2 ring-indigo-500': (active === 'Express'), 'undefined': !(active === 'Express') }">
                            <input type="radio" x-model="value" name="delivery-method" value="Express" class="sr-only"
                                aria-labelledby="delivery-method-1-label"
                                aria-describedby="delivery-method-1-description-0 delivery-method-1-description-1" />
                            <div class="flex-1 flex">
                                <div class="flex flex-col">
                                    <span class="block text-sm font-medium text-gray-900">
                                        上午 8:00 至 中午 12:00
                                    </span>
                                </div>
                            </div>
                        </label>
                        <label x-radio-group-option=""
                            class="relative bg-white border rounded-lg shadow-sm p-4 flex cursor-pointer focus:outline-none border-gray-300 undefined"
                            x-description='Checked: "border-transparent", Not Checked: "border-gray-300"	Active: "ring-2 ring-indigo-500"'
                            :class="{ 'border-transparent': (value === 'Express'), 'border-gray-300': !(value === 'Express'), 'ring-2 ring-indigo-500': (active === 'Express'), 'undefined': !(active === 'Express') }">
                            <input type="radio" x-model="value" name="delivery-method" value="Express" class="sr-only"
                                aria-labelledby="delivery-method-1-label"
                                aria-describedby="delivery-method-1-description-0 delivery-method-1-description-1" />
                            <div class="flex-1 flex">
                                <div class="flex flex-col">
                                    <span class="block text-sm font-medium text-gray-900">
                                        上午 8:00 至 中午 12:00
                                    </span>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button type="button"
                        class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-theme text-base font-medium text-white hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm focus:ring-gray-100">
                        確定
                    </button>
                    <button type="button"
                        class="js-close mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-100 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mx-auto px-6">
    <h1 class="text-3xl font-bold py-8 border-b border-gray-200">結帳</h1>
    <div class="js-form-loading-container text-center py-24">
        <svg class="animate-spin mx-auto h-12 w-12 text-black opacity-20" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
        </svg>
    </div>
    <div class="grid lg:grid-cols-12 gap-x-8 opacity-0 transition-all" id="main-form-act">
        <!-- batch address information -->
        <div class="col-span-12 xl:col-span-6 pb-8">
            <h2 class="text-lg font-medium text-gray-900 mt-10">您的聯絡資料</h2>
            <p class="text-sm text-gray-400">
                我們將以以下聯絡資料通知你有關相關發貨的資料
            </p>
            <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
                <div class="sm:col-span-2">
                    <label for="name" class="block text-sm font-medium text-gray-700">姓名</label>
                    <div class="mt-1">
                        <input type="text" id="name" name="sender_name" placeholder="你的姓名" autocomplete="name"
                            class="block border-gray-200 border py-2 px-3 w-full rounded" spellcheck="false"
                            data-ms-editor="true" value="{$result_array.cartDtl.sender_name}" />
                    </div>
                </div>

                <div class="">
                    <label for="tel" class="block text-sm font-medium text-gray-700">手機號碼</label>
                    <div class="mt-1">
                        <input type="text" name="sender_phone" id="tel" placeholder="你的手機號碼" autocomplete="tel"
                            class="block border-gray-200 border py-2 px-3 w-full rounded" spellcheck="false"
                            data-ms-editor="true" value="{$result_array.cartDtl.sender_phone}" />
                    </div>
                </div>

                <div class="">
                    <label for="email" class="block text-sm font-medium text-gray-700">電郵地址</label>
                    <div class="mt-1">
                        <input type="text" name="sender_email" id="email" placeholder="你的電郵地址" autocomplete="email"
                            class="block border-gray-200 border py-2 px-3 w-full rounded" spellcheck="false"
                            data-ms-editor="true" value="{$result_array.cartDtl.sender_email}" />
                    </div>
                </div>
            </div>
            <div class="mt-10 border-t border-gray-200 pt-10">
                <legend class="text-lg font-medium text-gray-900">
                    送貨設定
                </legend>
                <div id="delivery-address-method-picker"
                    class="mt-4 grid grid-cols-1 gap-y-2 sm:gap-y-6 sm:grid-cols-2 sm:gap-x-4">
                    <label data-address-method="same-address" for="delivery-same-address" x-radio-group-option=""
                        class="relative bg-white border rounded-lg shadow-sm p-4 flex cursor-pointer focus:outline-none border-gray-300 undefined">

                        <div class="flex-1 flex">
                            <div class="flex flex-col">
                                <span id="delivery-method-0-label" class="block text-sm font-medium text-gray-900">
                                    同一派送地址
                                </span>
                                <span id="delivery-method-0-description-0"
                                    class="mt-1 flex items-center text-sm text-gray-500">
                                    全部商品設定為同一個送貨及運送時間
                                </span>
                            </div>
                        </div>
                        <div class="select-active-class hidden">
                            <svg class="h-5 w-5 text-green-600 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <div class="absolute -inset-px rounded-lg border-2 pointer-events-none border-green-500 ">
                            </div>
                        </div>
                    </label>

                    <label for="delivery-split-address" x-radio-group-option=""
                        class="relative bg-white border rounded-lg shadow-sm p-4 flex cursor-pointer focus:outline-none border-gray-300 undefined"
                        data-address-method="split-address">

                        <div class="flex-1 flex">
                            <div class="flex flex-col">
                                <span id="delivery-method-1-label" class="block text-sm font-medium text-gray-900">
                                    分開發送地址
                                </span>
                                <span id="delivery-method-1-description-0"
                                    class="mt-1 flex items-center text-sm text-gray-500">
                                    獨立填寫每個商品的發送地址
                                </span>
                            </div>
                        </div>
                        <div class="select-active-class hidden">
                            <svg class="h-5 w-5 text-green-600 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <div class="absolute -inset-px rounded-lg border-2 pointer-events-none border-green-500">
                            </div>
                        </div>
                    </label>
                </div>

                <div id="same-address-form" class="grid lg:grid-cols-2 gap-x-4 gap-y-6 mt-6">
                    <div>
                        <label for="recipient-name-{$i.deli_id}"
                            class="block text-sm font-medium text-gray-700">收貨人姓名</label>
                        <div class="mt-1">
                            <input type="text" id="recipient-name-{$i.deli_id}" name="recipient_name"
                                placeholder="收貨人姓名" autocomplete="recipient-name"
                                class="block border-gray-200 border py-2 px-3 w-full rounded" spellcheck="false"
                                data-ms-editor="true" value="">
                        </div>
                    </div>

                    <div>
                        <label for="recipient-tel-{$i.deli_id}"
                            class="block text-sm font-medium text-gray-700">收貨人電話號碼</label>
                        <div class="mt-1">
                            <input type="text" id="recipient-tel-{$i.deli_id}" name="recipient_phone"
                                placeholder="收貨人電話號碼" autocomplete="recipient-tel"
                                class="block border-gray-200 border py-2 px-3 w-full rounded" spellcheck="false"
                                data-ms-editor="true" value="">
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <label for="recipient-company"
                            class="block text-sm font-medium text-gray-700">收貨人公司名稱(如適用)</label>
                        <div class="mt-1">
                            <input type="text" id="recipient-company" name="recipient_company"
                                placeholder="收貨人公司名稱(如適用)" autocomplete="recipient-company"
                                class="block border-gray-200 border py-2 px-3 w-full rounded" spellcheck="false"
                                data-ms-editor="true" value="">
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <label class="block text-sm font-medium text-gray-700">送貨地區</label>
                        <div class="mt-1">
                            <div
                                class="relative bg-white border rounded-lg shadow-sm p-1 px-4 flex cursor-pointer focus:outline-none border-gray-300 deli-region-picker">
                                <div class="flex-1 flex items-center">
                                    <div class="flex flex-col">
                                        <input type="hidden" name="recipient-region" placeholder="送貨地區"
                                            autocomplete="recipient-region" spellcheck="false" data-ms-editor="true">
                                        <span class="flex items-center text-sm text-gray-500 pick-region-js-trigger">
                                            未選擇送貨時段
                                        </span>
                                    </div>
                                </div>
                                <div class="text-gray-400 flex flex-col justify-center text-2xl">
                                    <i class="ri-arrow-down-s-line"></i>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <label for="recipient-address-{$i.deli_id}"
                            class="block text-sm font-medium text-gray-700">送貨地址</label>
                        <textarea name="deli_address" id="recipient-address-{$i.deli_id}" rows="4"
                            class="w-full block border-gray-200 border py-2 px-3 rounded" placeholder="送貨地址"
                            spellcheck="false" data-ms-editor="true" autocomplete="off"></textarea>
                    </div>
                    <div class="sm:col-span-2">
                        <label for="recipient-deliver-time" class="block text-sm font-medium text-gray-700">送貨時段</label>
                        <div class="mt-1">
                            <input type="hidden" id="recipient-deliver-time" name="recipient-deliver-time">
                            <div
                                class="relative bg-white border rounded-lg shadow-sm py-1 px-4 flex cursor-pointer focus:outline-none border-gray-300 time-slot-picker ">
                                <input type="hidden" value="" name="deli_date">
                                <input type="hidden" value="" name="deli_timeslot_id">
                                <!-- 一般送貨時段：無額外附加費 08:00 至 13:00 時段內送貨 -->
                                <div class="flex-1 flex items-center">
                                    <div class="flex flex-col">
                                        <span class="flex items-center text-sm text-gray-500 pick-time-js-trigger">
                                            未選擇送貨時段
                                        </span>
                                    </div>
                                </div>
                                <div class="text-gray-400 flex flex-col justify-center text-2xl">
                                    <i class="ri-arrow-down-s-line"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Preview items-->
        <div class="col-span-12 xl:col-span-6">
            <div class="border border-gray-200 mt-12 rounded-md px-4" id="item-preview-list">
                <div class="font-bold text-xl my-4">產品一覽</div>
                <!-- indi items -->
                {foreach from=$result_array.cartDtl.deliList key=k item=i}
                    <hr>

                    <section class="product-init py-4" data-delivery-id="{$i.deli_id}"
                        data-product-id="{$i.productDtl.product_id}">
                  
                        <div class="flex flex-row items-start">
                            <div>
                                <img src="{$i.productDtl.img.0.img}" class="rounded w-24 h-auto" />
                            </div>
                            {*<textarea class="hidden district-json-object">{$i.districtList|json_encode}</textarea>*}
                            <div class="ml-3 flex-1">
                                <p class="text-xs text-gray-400">產品編號: {$i.productDtl.product_code}</p>
                                <h4 class="font-bold">{$i.productDtl.product_name}</h4>
                                {if $i.addon_list.length != '0'}
                                    <div></div>
                                {/if}
                                <p class="pre-price text-gray-400 text-sm mt-1 mb-2">
                                    HKD$ {$i.product_price}
                                </p>
                                <!-- opeartions -->
                                <div class="grid grid-cols-1 gap-y-2 gap-x-4">
                                    <!-- delivery address-->

                                    <div class="indi-address-delivery-picker">
                                        <hr />
                                        <h3 class="font-bold mt-4">送貨地址及時間</h3>
                                        <div class="grid lg:grid-cols-2 gap-x-4 gap-y-3 mt-3">
                                            <div>
                                                <label for="recipient-name-{$i.deli_id}"
                                                    class="block text-sm font-medium text-gray-700">收貨人姓名</label>
                                                <div class="mt-1">
                                                    <input type="text" id="recipient-name-{$i.deli_id}"
                                                        name="recipient_name" placeholder="收貨人姓名"
                                                        autocomplete="recipient-name"
                                                        class="block border-gray-200 border py-2 px-3 w-full rounded"
                                                        spellcheck="false" data-ms-editor="true" value="">
                                                </div>
                                            </div>

                                            <div>
                                                <label for="recipient-tel-{$i.deli_id}"
                                                    class="block text-sm font-medium text-gray-700">收貨人電話號碼</label>
                                                <div class="mt-1">
                                                    <input type="text" id="recipient-tel-{$i.deli_id}"
                                                        name="recipient_phone" placeholder="收貨人電話號碼"
                                                        autocomplete="recipient-tel"
                                                        class="block border-gray-200 border py-2 px-3 w-full rounded"
                                                        spellcheck="false" data-ms-editor="true" value="">
                                                </div>
                                            </div>

                                            <div class="sm:col-span-2">
                                                <label for="recipient-company"
                                                    class="block text-sm font-medium text-gray-700">收貨人公司名稱(如適用)</label>
                                                <div class="mt-1">
                                                    <input type="text" id="recipient-company" name="recipient_company"
                                                        placeholder="收貨人公司名稱(如適用)" autocomplete="recipient-company"
                                                        class="block border-gray-200 border py-2 px-3 w-full rounded"
                                                        spellcheck="false" data-ms-editor="true" value="">
                                                </div>
                                            </div>

                                            <div class="sm:col-span-2">
                                                <label class="block text-sm font-medium text-gray-700">送貨地區</label>
                                                <div class="mt-1">
                                                    <div
                                                        class="relative bg-white border rounded-lg shadow-sm py-1 px-4 flex cursor-pointer focus:outline-none border-gray-300 deli-region-picker indi-deli-region-picker">
                                                        <div class="flex-1 flex items-center">
                                                            <div class="flex flex-col">
                                                                <input type="hidden" name="recipient-region"
                                                                    placeholder="送貨地區" autocomplete="recipient-region"
                                                                    class="block border-gray-200 border py-2 px-3 w-full rounded"
                                                                    spellcheck="false" data-ms-editor="true">
                                                                <span
                                                                    class="flex items-center text-sm text-gray-500 pick-region-js-trigger">
                                                                    未選擇送貨時段
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="text-gray-400 flex flex-col justify-center text-2xl">
                                                            <i class="ri-arrow-down-s-line"></i>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="sm:col-span-2">
                                                <label for="recipient-address-{$i.deli_id}"
                                                    class="block text-sm font-medium text-gray-700">送貨地址</label>
                                                <textarea name="deli_address" id="recipient-address-{$i.deli_id}" rows="4"
                                                    class="w-full block border-gray-200 border py-2 px-3 rounded"
                                                    placeholder="送貨地址" spellcheck="false" data-ms-editor="true"
                                                    autocomplete="off"></textarea>
                                            </div>
                                            <div class="sm:col-span-2 hidden time-slot-hidden">
                                                <label for="recipient-deliver-time"
                                                    class="block text-sm font-medium text-gray-700">送貨時段</label>
                                                <div class="mt-1">
                                                    <input type="hidden" id="recipient-deliver-time"
                                                        name="recipient-deliver-time">
                                                    <div
                                                        class="relative bg-white border rounded-lg shadow-sm py-1 px-4 flex cursor-pointer focus:outline-none border-gray-300 time-slot-picker indi-time-slot-picker">
                                                        <input type="hidden" value="" name="deli_date">
                                                        <input type="hidden" value="" name="deli_timeslot_id">
                                                        <!-- 一般送貨時段：無額外附加費 08:00 至 13:00 時段內送貨 -->
                                                        <div class="flex-1 flex items-center">
                                                            <div class="flex flex-col">
                                                                <span
                                                                    class="flex items-center text-sm text-gray-500 pick-time-js-trigger">
                                                                    未選擇送貨時段
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="text-gray-400 flex flex-col justify-center text-2xl">
                                                            <i class="ri-arrow-down-s-line"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- gift card -->
                                    <label class="block text-sm font-medium text-gray-700">心意卡</label>
                                    <div
                                        class="relative bg-white border rounded-lg shadow-sm py-1 px-4 flex cursor-pointer focus:outline-none border-gray-300 card-design-picker">
                                        <div class="flex-1 flex items-center">
                                            <div class="flex flex-col">
                                                <span class="flex items-center text-sm text-gray-500 pick-card-js-trigger">
                                                    我不需要賀卡
                                                </span>
                                            </div>
                                        </div>
                                        <div class="text-gray-400 flex flex-col justify-center text-2xl">
                                            <i class="ri-arrow-down-s-line"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                {/foreach}
                <!-- item loops ends herer-->
            </div>
            <section class="my-6">
                <div class="flex flex-col xl:flex-row-reverse items-center">
                    <div
                        class="btn_payment w-full xl:w-1/3 ml-auto bg-gray-900 text-white font-bold py-3 rounded transition-all hover:opacity-70 text-center">
                        付款</div>
                    <div class="flex flex-row items-center mt-3 xl:mt-0">
                        <span class="text-xs text-gray-500 mr-4">我們接受以下付款選項 : </span>
                        <img src="./img/payment.png" alt="" class="h-6 ">
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>