<div class="vk-container container mx-auto px-6">
  <h1 class="text-3xl font-bold py-8 border-b border-gray-200">結帳</h1>
  <div class="grid lg:grid-cols-12 gap-x-8">
    <div class="col-span-12 lg:col-span-7 pt-6">
      <h4 class="text-xl font-bold mb-2">訂單詳細資料</h4>
      <div class="grid gap-y-4 mb-2">
        <!-- items -->
        {foreach from=$result_array.cartDtl.deliList key=k item=i}
        <section class="product-init py-4 border border-gray-200 rounded px-4">
          <div class="flex flex-row items-start">
            <div>
              <img src="{$i.productDtl.img.0.img}" alt="" class="rounded w-24 h-24"/>
            </div>
            <div class="ml-4 flex-1">
              <p class="text-xs text-gray-400">產品編號: {$i.deli_id}{$i.productDtl.product_code}</p>
              <h4 class="font-bold">{$i.productDtl.product_name}</h4>
              <p class="pre-price text-gray-400 text-sm mt-1 mb-2">
                HKD${$i.product_price|number_format:2:".":","} {if $i.shipping_fee}(運費 : {($i.shipping_fee + $i.timeslot_fee)|number_format:2:".":","}){/if} = 
                <span class="font-bold text-green-500">${$i.deli_price|number_format:2:".":","}</span>
              </p>
            

              <!-- details -->
              <hr />
              <div class="grid grid-cols-1 md:grid-cols-2 gap-x-3 gap-y-3 mt-3 text-sm">
                <div>
                  <div class="text-sm font-bold">送貨地址:</div>
                  <p>{$i.recipient_name} ({$i.recipient_company})</p>
                  <div>{$i.recipient_phone}</div>
                  <div>{$i.deli_address}</div>
                </div>
                <div>
                  <div class="text-sm font-bold">送貨時間:</div>
                  <div>{$i.deli_date}, {$i.timeslotDtl.start_time|substr:0:5} - {$i.timeslotDtl.end_time|substr:0:5}</div>
                  <div class="text-sm font-bold mt-1">心意卡:</div>
                  <div>大型賀卡, 尺吋 : B3 ; 35.3x50cm</div>
                </div>
              </div>
              <!-- edit detail button -->
              <div class="mt-2 text-right">
                <hr class="my-4" />
                <a
                  href="#"
                  class="inline-flex flex-row items-center font-bold text-sm border-2 border-gray-900 px-7 py-2 rounded hover:bg-gray-900 hover:text-white transition-all ml-auto"
                >
                  <span><i class="ri-edit-line"></i></span>
                  <span class="ml-2">修改資料 / 檢視心意卡</span>
                </a>
              </div>
            </div>
          </div>
        </section>
        {/foreach}
      </div>
    </div>
    <div class="col-span-12 lg:col-span-5">
      <div class="shadow-lg border border-gray-100 mt-6 px-4 rounded-lg py-4 mb-6">
        <div class="font-bold text-2xl mb-2">摘要</div>
        <section>
          <div class="font-bold mb-2">你的資料聯絡</div>
          <div>{$result_array.cartDtl.sender_name}</div>
          <div>{$result_array.cartDtl.sender_phone}</div>
          <div>{$result_array.cartDtl.sender_email}</div>
        </section>
        <hr class="my-3 -mx-4" />
        <section>
          <div class="font-bold mb-2">備註</div>
          <div>
            <textarea name="remarks_from_client" id="" rows="4" class="border-2 border-gray-200 rounded w-full p-2" placeholder="可留下備註；如聯絡方式，特別安排等等"></textarea>
          </div>
        </section>
        <hr class="my-3 -mx-4" />
        <section>
          <div class="font-bold mb-2">優惠碼</div>
          <div class="flex flex-row items-stretch">
            <input name="coupon_code" type="text" placeholder="輸入優惠碼" class="flex-1 mr-2 border-2 border-gray-300 rounded px-3 py-2"/>
            <div class="btn_coupon_use flex flex-row items-center text-white font-bold bg-gray-900 px-6 rounded hover:opacity-75 transition-all">
              <span>使用</span>
            </div>
          </div>
          <div class="text-xs text-gray-500 mt-2">已成功使用YCHS12J，並獲得$40優惠</div>
          <div class="font-bold mb-2 mt-3">優惠券</div>
          <div class="relative bg-white border rounded-lg shadow-sm py-2 px-4 flex cursor-pointer focus:outline-none border-gray-300 time-slot-picker">
            <div class="flex-1 flex items-center">
              <div class="flex flex-col">
                <select name="member_voucher_id">
                  <option value="">-- 不使用 --</option>
                  {foreach from=$member.voucherList key=k item=i}
                    <option value="{$i.member_voucher_id}">{$i.name}</option>
                  {/foreach}
                </select>
                <span id="recipient-deliver-time-label-0" class="mt-1 flex items-center text-sm text-gray-500 pick-time-js-trigger">$100 迎新優惠劵</span>
              </div>
            </div>
            <div class="text-gray-400 flex flex-col justify-center text-2xl">
              <i class="ri-arrow-down-s-line"></i>
            </div>
          </div>
          <div class="font-bold mb-2 mt-3">現金點數</div>
          <div class="flex flex-row items-start text-green-500">
            <i class="ri-shopping-cart-2-fill mr-2"></i>
            <p>你的帳戶內還剩餘$500現金點數，於本次購買後，將剩餘$100現金點數。</p>
          </div>
        </section>
        <hr class="my-3 -mx-4" />
        <!-- calculator-->
        <section>
          <div class="font-bold mb-2">訂單內容</div>
          <table class="w-full">
            {foreach from=$result_array.cartDtl.deliList key=k item=i}
            <tr>
              <td>{$i.productDtl.product_name}</td>
              <td class="text-right">{$i.deli_price}</td>
            </tr>
            {/foreach}
            <tr>
              <td>運費合計:</td>
              <td class="text-right">$40</td>
            </tr>
            <tr class="text-green-500 font-bold">
              <td>現金點數:</td>
              <td class="text-right">-$40</td>
            </tr>
            <tr class="text-green-500 font-bold">
              <td>優惠券折扣:</td>
              <td class="text-right">-$40</td>
            </tr>
            <tr class="text-green-500 font-bold">
              <td>優惠碼YCHS12J折扣:</td>
              <td class="text-right">-$40</td>
            </tr>
            <tr>
              <td colspan="2"><hr class="my-2 border-gray-900" /></td>
            </tr>
            <tr class="font-bold">
              <td>
                總計:
              </td>
              <td class="text-right">$2918</td>
            </tr>
          </table>
        </section>
        <div class="mt-4">
            
            <div id="paypal-button"></div>
            <!-- <a href="#" class="block text-center font-bold bg-gray-900 py-3 text-white mb-2 rounded hover:opacity-75 transition-all">以信用卡支付</a> -->
            <a href="#" class="block text-center font-bold  py-3 rounded border-2 border-gray-900 hover:opacity-75 transition-all">離線付款(入數/PayMe)</a>
        </div>
        <p class="text-xs  mt-3 ">完成購買程序，即代表您同意這些<a href="#" class="text-theme underline font-bold">服務條款</a>。</p>
      </div>
    </div>
  </div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id={$paypalId}&currency=HKD&locale=zh_HK"></script>
<script>
$(document).ready(function(){
  
  $("[name=member_voucher_id]").on("change", function(){
    $.bajax({
      url: "checkout/api/voucherApply",
      method: 'POST',
      data: {
        member_voucher_id: $(this).val()
      },
      callback: function(data) {
          if (!data.code == 0){
              globalErrorReturn(data);
          } else {
            console.log(data);
            console.log("ajax done");
          }
      }
    })
  });


  $(".btn_coupon_use").on("click", function(){
    $.bajax({
      url: "checkout/api/couponApply",
      method: 'POST',
      data: {
        coupon_code: $("[name=coupon_code]").val()
      },
      callback: function(data) {
          if (!data.code == 0){
              globalErrorReturn(data);
          } else {
            console.log(data);
            console.log("ajax done");
          }
      }
    })
  });

  function updateCheckout(){
    return new Promise(resolve => {
      $.bajax({
        url: "checkout/api/paypalCheckout",
        method: 'POST',
        data: {
            shop_id: shop_id
        },
        callback: function(data) {
            if (!data.code == 0){
                globalErrorReturn(data);
            } else {

              console.log("ajax done");
              resolve(data.result);
            }
        }
      })
    });
  }
  
  var res = [];
  paypal.Buttons({
    style: {
        color:   'black',
    },
    createOrder: async function(data, actions) {
      // This function sets up the details of the transaction, including the amount and line item details.
      res = await updateCheckout()
      console.log(res);
      return actions.order.create({
        purchase_units: [{
          reference_id: res.payment_id,
          custom_id: res.member_id, 
          invoice_id: res.order_id,
          amount: {
            value: res.final_price,
            currency: 'HKD'
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      // This function captures the funds from the transaction.
      return actions.order.capture().then(function(details) {
        // This function shows a transaction success message to your buyer.
        // alert('Transaction completed by ' + details.payer.name.given_name);
        location.href = "checkout/transactionProcessing?payment_id=" + res.waiting_code;
      });
    },
  }).render('#paypal-button');
})

</script>