<script src="https://www.paypal.com/sdk/js?client-id={$paypalId}&currency=HKD"></script>
<!-- <script src="https://www.paypal.com/sdk/js?client-id=test&currency=HKD"></script> -->



<div id="paypal-button-container"></div>

  <script>
    function updateCheckout(){
      return new Promise(resolve => {
        $.bajax({
          url: "order/api/checkout",
          method: 'POST',
          data: {
              shop_id: shop_id
          },
          callback: function(data) {
              if (!data.code == 0){
                  globalErrorReturn(data);
              } else {

                console.log("ajax done");
                resolve(data.result);
              }
          }
        })
      });
    }
    
    paypal.Buttons({
      createOrder: async function(data, actions) {
        console.log("create order");
        // This function sets up the details of the transaction, including the amount and line item details.


        let res = await updateCheckout()
        console.log(res);
        return actions.order.create({
          purchase_units: [{
            reference_id: res.order_no ,
            custom_id: res.member_id, 
            invoice_id: res.order_id,
            amount: {
              value: res.final_price,
              currency: 'HKD'
            }
          }]
        });
      },
      onApprove: function(data, actions) {
        // This function captures the funds from the transaction.
        return actions.order.capture().then(function(details) {

          
          // This function shows a transaction success message to your buyer.
          alert('Transaction completed by ' + details.payer.name.given_name);
          console.log(details);
        });
      },
  }).render('#paypal-button-container');

  </script>

{*

  purchase_units: [{
    reference_id: 36 ,
    description: "test2", 
    custom_id: "BBB", 
    invoice_id: 36,
    amount: {
      value: '0.02',
      currency: 'HKD'
    }
  }]

<div id="btn_offline">offline payment</div>


<script>
var shop_id = "{$shop_id}";
$("#btn_offline").on("click", function(){
    $.bajax({
        url: "order/api/checkout",
        method: 'POST',
        data: {
            shop_id: shop_id
        },
        callback: function(data) {
            if (!data.code == 0){
                globalErrorReturn(data);
            } else {
                infoPopup("成功", "已加入願望清單。");
            }
        },
        errorCallback: function(jqXHR, textStatus, errorThrown) {
            console.log(jqXHR);
        },
    });
});


</script>
*}