<div class="grid lg:grid-cols-2 px-4 pt-8 pb-4 lg:px-12 gap-4">
    
    <div id="deposit_slip_list_wrapper" class="shadow-lg rounded-lg">
        <div class="flex items-center gap-x-2 bg-white py-4 px-6 rounded-t-lg">
            <div class="text-2xl font-bold">未處理的入數紙</div>
            <div class="btn_refresh flex items-center px-2 py-1 bg-blue-500 text-white rounded cursor-pointer hover:opacity-70" data-type="deposit_slip"><i class="ri-refresh-line"></i>重新整理</div>
        </div>
        <div class="log_wrapper border-gray-300 bg-gray-100 px-3 py-2 overflow-y-auto border-t border-gray-300 rounded-b-lg" style="height: 400px"></div>
    </div>

    <div id="item_out_of_stock_list_wrapper" class="shadow-lg rounded-lg">
        <div class="flex items-center gap-x-2 bg-white py-4 px-6 rounded-t-lg">
            <div class="text-2xl font-bold">物品存量警示</div>
            <div class="btn_refresh flex items-center px-2 py-1 bg-blue-500 text-white rounded cursor-pointer hover:opacity-70" data-type="item_out_of_stock"><i class="ri-refresh-line"></i>重新整理</div>
        </div>
        <div class="log_wrapper border-gray-300 bg-gray-100 px-3 py-2 overflow-y-auto border-t border-gray-300 rounded-b-lg" style="height: 400px"></div>
    </div>

    <div id="product_out_of_stock_list_wrapper" class="shadow-lg rounded-lg">
        <div class="flex items-center gap-x-2 bg-white py-4 px-6 rounded-t-lg">
            <div class="text-2xl font-bold">顯示為缺貨中的產品</div>
            <div class="btn_refresh flex items-center px-2 py-1 bg-blue-500 text-white rounded cursor-pointer hover:opacity-70" data-type="product_out_of_stock"><i class="ri-refresh-line"></i>重新整理</div>
        </div>
        <div class="log_wrapper border-gray-300 bg-gray-100 px-3 py-2 overflow-y-auto border-t border-gray-300 rounded-b-lg" style="height: 400px"></div>
    </div>

    <div id="publish_list_wrapper" class="shadow-lg rounded-lg">
        <div class="flex items-center gap-x-2 bg-white py-4 px-6 rounded-t-lg">
            <div class="text-2xl font-bold">已排期而未發佈產品</div>
            <div class="btn_refresh flex items-center px-2 py-1 bg-blue-500 text-white rounded cursor-pointer hover:opacity-70" data-type="publish"><i class="ri-refresh-line"></i>重新整理</div>
        </div>
        <div class="log_wrapper border-gray-300 bg-gray-100 px-3 py-2 overflow-y-auto border-t border-gray-300 rounded-b-lg" style="height: 400px"></div>
    </div>
    
</div>

<script>
var shop_id = {$shop_id};
var default_type_arr = 'publish,item_out_of_stock,product_out_of_stock,deposit_slip'
// var default_type_arr = 'product_out_of_stock_list'
// var default_type_arr = 'item_out_of_stock_list'
var disabled_class = "cursor-not-allowed bg-gray-200"
</script>


{literal}

<script>
$(document).ready(function(){
    alertListInit();

    $(document).on("click", "#product_out_of_stock_list_wrapper .slider", function(){
        $product = $(this).parents(".product");
        if ($product.find(".is_force_checkout_val").is(":checked")){
            $product.find("[name=force_checkout_start_date]").addClass(disabled_class);
            $product.find("[name=force_checkout_start_date]").prop("readonly", true);
            $product.find("[name=force_checkout_end_date]").addClass(disabled_class);
            $product.find("[name=force_checkout_end_date]").prop("readonly", true);
        } else {
            $product.find("[name=force_checkout_start_date]").removeClass(disabled_class);
            $product.find("[name=force_checkout_start_date]").prop("readonly", false);
            $product.find("[name=force_checkout_end_date]").removeClass(disabled_class);
            $product.find("[name=force_checkout_end_date]").prop("readonly", false);
        }
    });

    $(document).off("click", ".alert_wrapper .btn_check").on("click", ".alert_wrapper .btn_check", async function(){
            var $row = $(this).parents(".alert");
            var slip_id = $row.attr("data-slip_id");
            var order_no = $row.attr("data-order_no");

            $.bajax({
                url: "admin/shipment/api/getOrderList",
                method: 'POST',
                formElement: 'N',
                data: {
                    shop_id: shop_id,
                    order_no: order_no,
                },
                callback: function(data) {
                    if (data.code != 0){
                        globalErrorReturn(data);
                    } else {
                        if (data.result.orderList.length >0){
                            vkConfirmDefault({
                                title: '確認',
                                content: '<div>請確認這張入數紙是訂單: ' + order_no + '</div>',
                                confirmButtonHtml: '確認',
                                cancelButtonHtml: '返回',
                                confirmButtonFunction: function(){
                                    $.bajax({
                                        url: "admin/shipment/api/approveDepositSlip",
                                        method: 'POST',
                                        formElement: 'N',
                                        data: {
                                            slip_id: slip_id,
                                            order_no: order_no,
                                            is_confirmed: 'Y',
                                            order_id: data.result.orderList[0].order_id
                                        },
                                        callback: function(data) {
                                            if (data.code != 0){
                                                globalErrorReturn(data);
                                            } else {
                                                $row.remove();
                                            }
                                        },
                                        errorCallback: function(jqXHR, textStatus, errorThrown) {
                                            console.log(jqXHR);
                                        },
                                    });
                                }
                            })
                        } else {
                            vkAlertDefault({
                                title: "錯誤",
                                content: "<div>沒有找到訂單: " + $slip.find("[name=order_no]").val() + "</div>",
                                confirmButtonHtml: "確認",
                                confirmButtonFunction:function(e){}
                            });
                        }
                        
                    }
                },
                errorCallback: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            });
        })

    $(document).off("click", ".alert_wrapper .btn_void").on("click", ".alert_wrapper .btn_void", async function(){
        $row = $(this).parents(".alert");
        $loader = await globalLoader();
        var slip_id = $row.attr("data-slip_id");
        vkConfirmDefault({
            title: '確認',
            content: '<div>請確認是否刪除這條目？</div>',
            confirmButtonHtml: '確認',
            cancelButtonHtml: '返回',
            confirmButtonFunction: function(){
                $.bajax({
                    url: "admin/shipment/api/editDepositSlip",
                    method: 'POST',
                    formElement: 'N',
                    data: {
                        slip_id: slip_id,
                        activate: 'N',
                    },
                    callback: function(data) {
                        globalLoader($loader);
                        if (data.code != 0){
                            globalErrorReturn(data);
                        } else {
                            $row.remove();
                        }
                    },
                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                });
            },
            cancelButtonFunction : function(){
            globalLoader($loader);
        }
        })
    })

    $(document).off("click", "#product_out_of_stock_list_wrapper .btn_submit_product").on("click", "#product_out_of_stock_list_wrapper .btn_submit_product", function(){
        $container = $(this).parents(".product")
        $.bajax({
            url: "/admin/product/api/editProduct",
            method: "POST", 
            formElement: "N",
            data: {
                product_id: $container.data("product_id"),
                shop_id: shop_id,
                sales_status: $container.find("[name=sales_status]").val(),
                is_force_checkout: $container.find(".is_force_checkout_val").is(":checked")? "Y": "N",
                force_checkout_start_date: $container.find("[name=force_checkout_start_date]").val() ? $container.find("[name=force_checkout_start_date]").val() : "NULL",
                force_checkout_end_date: $container.find("[name=force_checkout_end_date]").val() ? $container.find("[name=force_checkout_end_date]").val() : "NULL",
            },
            callback:function(data){
                if(data.code == 0){
                    infoPopup();
                    refreshAlertList("product_out_of_stock");
                }
            }
        })
    })

    $(document).off("click", "#publish_list_wrapper .btn_submit_product").on("click", "#publish_list_wrapper .btn_submit_product", function(){
        $container = $(this).parents(".product")
        $.bajax({
            url: "/admin/product/api/editProduct",
            method: "POST", 
            formElement: "N",
            data: {
                product_id: $container.data("product_id"),
                shop_id: shop_id,
                sales_status: $container.find("[name=sales_status]").val(),
                publish_date: $container.find("[name=publish_date]").val()
            },
            callback:function(data){
                if(data.code == 0){
                    infoPopup();
                    refreshAlertList("publish");
                }
            }
        })
    })

    $(document).off("change", "[name=remarks]").on("change", "[name=remarks]", function(){
        $alert = $(this).parents(".alert");
        $.bajax({
            url: "/admin/alert/api/editAlert",
            method: "POST",
            formElement: "N",
            data: {
                alert_id: $alert.data("alert_id"),
                remarks: $(this).val()
            },
            callback: function (data) {
                if (data.code == 0) {
                    infoPopup();
                    globalLoader($loader);
                } else {
                    globalErrorReturn(data);
                }
            },
            errorCallback: function (jqXHR, textStatus, errorThrown) {
                globalLoader($loader);
                console.log(jqXHR);
            },
        });
    })

    $(document).off("click", ".btn_ignore").on("click", ".btn_ignore", function(){
        $alert = $(this).parents(".alert");
        $.bajax({
            url: "/admin/alert/api/ignore",
            method: "POST",
            formElement: "N",
            data: {
                alert_id: $alert.data("alert_id"),
                ignore_time: $(this).siblings("[name=ignore_time]").val()
            },
            callback: function (data) {
                if (data.code == 0) {
                    $alert.remove();
                    globalLoader($loader);
                } else {
                    globalErrorReturn(data);
                }
            },
            errorCallback: function (jqXHR, textStatus, errorThrown) {
                globalLoader($loader);
                console.log(jqXHR);
            },
        });
    })

    $(document).off("click", ".btn_refresh").on("click", ".btn_refresh", function(){
        refreshAlertList($(this).data("type"));
    })

    $(document).off('click', "#product_out_of_stock_list_wrapper .item_group .slider").on('click', "#product_out_of_stock_list_wrapper .item_group .slider", function(){
        $container = $(this).parents(".child")

        $.bajax({
            url: "/admin/product/api/editProductItemGroup",
            method: "POST", 
            formElement: "N",
            data: {
                product_item_id: $container.data("product_item_id"),
                is_force_checkout: $container.find(".is_force_checkout_val").is(":checked")? "N" : "Y",
            },
            callback:function(data){
                if(data.code == 0){
                    infoPopup();
                    refreshAlertList("product_out_of_stock,item_out_of_stock");
                }
            }
        })
    })

    $(document).off('click', "#item_out_of_stock_list_wrapper .slider").on('click', "#item_out_of_stock_list_wrapper .slider", function(){
        $container = $(this).parents(".child")

        $.bajax({
            url: "/admin/product/api/editProductItemGroup",
            method: "POST", 
            formElement: "N",
            data: {
                product_item_id: $container.data("product_item_id"),
                is_force_checkout: $container.find(".is_force_checkout_val").is(":checked")? "N" : "Y",
            },
            callback:function(data){
                if(data.code == 0){
                    infoPopup();
                    refreshAlertList("product_out_of_stock,item_out_of_stock");

                }
            }
        })
    })
})

async function refreshAlertList(type_arr = default_type_arr){
    $loader = await globalLoader();
    $.bajax({
        url: "/admin/alert/api/refreshAlertStatus",
        method: "POST",
        formElement: "N",
        data: {
            shop_id: shop_id,
            type_arr: type_arr
        },
        callback: function (data) {
            if (data.code == 0) {
                if (data && data.result){

                    type_arr.split(',').forEach(function(type){
                        console.log("type", type)
                        switch(type){
                            case 'item_out_of_stock':
                                genItemOutOfStockList(data.result.time_list);
                                break;
                            case 'product_out_of_stock':
                                genProductOutOfStockList(data.result.time_list);
                                break;
                            case 'publish':
                                genPublishList(data.result.time_list);
                                break;
                            case 'deposit_slip':
                                genDepositSlipList(data.result.time_list);
                                break;
                        }
                    });

                    globalLoader($loader);
                }
            } else {
                globalErrorReturn(data);
            }
        },
        errorCallback: function (jqXHR, textStatus, errorThrown) {
            globalLoader($loader);
            console.log(jqXHR);
        },
    });
}

async function alertListInit(type_arr = default_type_arr){
    $loader = await globalLoader();
    $.bajax({
        url: "/admin/alert/api/getAlertList",
        method: "POST",
        formElement: "N",
        data: {
            shop_id: shop_id, 
            type_arr: type_arr
        },
        callback: function (data) {
            if (data.code == 0) {
                if (data && data.result){

                    type_arr.split(',').forEach(function(type){
                        switch(type){
                            case 'item_out_of_stock':
                                genItemOutOfStockList(data.result.time_list);
                                break;
                            case 'product_out_of_stock':
                                genProductOutOfStockList(data.result.time_list);
                                break;
                            case 'publish':
                                genPublishList(data.result.time_list);
                                break;
                            case 'deposit_slip':
                                genDepositSlipList(data.result.time_list);
                                break;
                        }
                    });

                    globalLoader($loader);
                }
            } else {
                globalErrorReturn(data);
            }
        },
        errorCallback: function (jqXHR, textStatus, errorThrown) {
            globalLoader($loader);
            console.log(jqXHR);
        },
    });
}

function genItemOutOfStockList(timeList){
    $container = $("#item_out_of_stock_list_wrapper .log_wrapper");
    $container.find("*").remove();

    timeList.forEach(function(time, idx){
        $container.append(`
            <div class="time_session">
                ${time.item_out_of_stock_list ? ` 
                    <div class="separator my-2 text-xl font-bold">${time.rounded_alert_time}</div>
                        <div class="alert_wrapper gap-y-2 flex flex-col">
                            ${time.item_out_of_stock_list.map(function(alert){
                                return genAlert(alert);
                            }).join('')}
                        </div>    
                `:''}
            </div>
        `)
    })


    function genAlert(alert){
        item = alert.item
        return `
            <div class="alert border-b px-4 py-2 bg-white shadow-lg rounded-xl" data-alert_id="${alert.alert_id}">
                <div class="flex parent mb-2 justify-between gap-x-4">
                    <div>
                        <a href="admin/item/itemDtl?item_id=${item.item_id}" target="_blank" class="font-bold text-xl text-blue-600 hover:opacity-80">(${item.item_id}) ${item.inhouse_name_tc}</a>
                        <div class="flex items-center gap-x-4 mt-2">
                            <div class="px-2 py-1 bg-gray-500 text-white rounded">庫存: ${item.qty}</div>
                            <div class="px-2 py-1 bg-gray-500 text-white rounded">預留存量: ${item.reserved_qty}</div>
                            <div class="px-2 py-1 bg-gray-500 text-white rounded ${item.ava_qty < 0 ? `text-red-500 font-bold` : ''}">可用存量: ${item.ava_qty}</div>
                            <div class="px-2 py-1 bg-gray-500 text-white rounded">存量警示: ${item.alert_qty}</div>
                        </div>
                    </div>
                    <div>
                        <div class="flex items-baseline gap-4 whitespace-nowrap">
                            <div class="font-bold flex items-center"><i class="ri-chat-history-line"></i>提示忽視:</div> 
                            <div class="flex items-baseline gap-x-2 ml-auto">
                                <input type="date" name="ignore_time" placeholder="日數" class="border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">    
                                <div class="btn_ignore px-2 py-1 bg-blue-500 text-white rounded cursor-pointer hover:opacity-70">忽視</div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <input name="remarks" placeholder="備註" class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" value="${alert.remarks? alert.remarks : ''}">    
                        </div>
                    </div>
                </div>
                <div class="child_wrapper flex flex-col gap-1">
                    ${item.product_list.length > 0 ? `
                        <div class="grid grid-cols-12 items-center border-b font-bold">
                            <div class="col-span-4">產品名稱</div>
                            <div class="col-span-7">影響的組品組合</div>
                            <div class="flex items-center gap-4">
                                <div class="w-32 flex-0 text-right">無視缺貨</div>
                            </div>
                        </div>
                        
                        ${item.product_list.map(function(product){
                            rand = random();
                            return `
                                <div class="grid grid-cols-12 items-center child" data-product_item_id="${product.product_item_id}">
                                    <div class="col-span-4">
                                        <a href="admin/product/productDtl?product_id=${product.product_id}" target="_blank" class="text-blue-600 hover:opacity-80">(${product.product_code}) ${product.product_name_tc}</a>
                                    </div>
                                    <div class="col-span-7">${product.inhouse_name_tc ? product.inhouse_name_tc: "單件物品"}</div>
                                    <div class="flex items-center gap-4">
                                        <div class="flex-0 w-32 text-right">
                                            <label class="switch">
                                                <input type="hidden" name="is_force_checkout_${rand}">
                                                <input id="is_force_checkout_${rand}" class="is_force_checkout_val" type="checkbox" ${product.is_force_checkout =='Y'? `checked`: ``}>
                                                <span class="slider"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            `
                        }).join('')}
                        `
                        : `<div class="flex items-center">此物品沒有任何產品正在使用</div>`}
                </div>
            </div>
        `;
    }
}

function genProductOutOfStockList(timeList){
    $container = $("#product_out_of_stock_list_wrapper .log_wrapper");
    $container.find("*").remove();

    timeList.forEach(function(time, idx){
        $container.append(`
            <div class="time_session">
                ${time.product_out_of_stock_list ? ` 
                    <div class="separator my-2 text-xl font-bold">${time.rounded_alert_time}</div>
                    <div class="alert_wrapper gap-y-2 flex flex-col">
                        ${time.product_out_of_stock_list.map(function(alert){
                            return genAlert(alert);
                        }).join('')}
                    </div>    
                `:''}
            </div>
        `)
    })
    
    function genAlert(alert){
        product = alert.product;
        rand =  random();
        return `
            <div class="alert border-b px-4 py-2 bg-white shadow-lg rounded-xl" data-alert_id="${alert.alert_id}">
                <div class="flex parent mb-2 justify-between gap-x-4">
                    <div class="flex flex-col gap-2">
                        <div class="flex gap-2">
                            <a href="admin/product/productDtl?product_id=${product.product_id}" target="_blank" class="text-blue-600 hover:opacity-80">(${product.product_code}) ${product.product_name}</a>
                            ${product.sales_status =='40_out_of_stock' ? `<div class="rounded border px-2 py-1 text-sm bg-purple-500 border-gray-800 bg-gray-300 text-white font-light">產品狀態設置為缺貨中</div>`:``}
                        </div>
                        <div class="product" data-product_id="${product.product_id}">
                            <div class="flex gap-2 mb-2 flex-wrap items-center">
                                <div class="flex items-center font-bold gap-x-2">
                                    無視缺貨繼續出售: 
                                    <label class="switch">
                                        <input type="hidden" name="is_force_checkout_${rand}">
                                        <input id="is_force_checkout_${rand}" class="is_force_checkout_val" type="checkbox" ${product.is_force_checkout =='Y'? `checked`: ``}>
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="flex items-center font-bold gap-x-2">
                                    開始時段:
                                    <input type="date" name="force_checkout_start_date" class="border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 ${product.is_force_checkout == 'N'? disabled_class : ''}" ${product.is_force_checkout == 'N'? 'readonly' : ''} value="${product.force_checkout_start_date}">
                                </div>
                                <div class="flex items-center font-bold gap-x-2">
                                    結束時段:
                                    <input type="date" name="force_checkout_end_date" class="border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 ${product.is_force_checkout == 'N'? disabled_class : ''}" ${product.is_force_checkout == 'N'? 'readonly' : ''} value="${product.force_checkout_end_date}">
                                </div>
                                <div class="flex items-center font-bold gap-x-2">
                                    產品狀態
                                    <select name="sales_status" class="border border-gray-300 py-2 px-1 rounded ">
                                        <option value="10_to_be_confirm" ${product.sales_status == '10_to_be_confirm' ? 'selected' : ''}>待確定</option>
                                        <option value="20_not_for_sale" ${product.sales_status == '20_not_for_sale' ? 'selected' : ''}>下架中</option>
                                        <option value="30_on_sale" ${product.sales_status == '30_on_sale' ? 'selected' : ''}>上架中</option>
                                        <option value="40_out_of_stock" ${product.sales_status == '40_out_of_stock' ? 'selected' : ''}>缺貨中</option>
                                    </select>
                                </div>
                                <div class="btn_submit_product px-2 py-1 bg-blue-500 text-white rounded cursor-pointer hover:opacity-70">提交</div>
                            </div>

                        </div>
                    </div>
                    <div>
                        <div class="flex items-baseline gap-4 whitespace-nowrap">
                            <div class="font-bold flex items-center"><i class="ri-chat-history-line"></i>提示忽視:</div> 
                            <div class="flex items-baseline gap-x-2 ml-auto">
                                <input type="date" name="ignore_time" placeholder="日數" class="border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">    
                                <div class="btn_ignore px-2 py-1 bg-blue-500 text-white rounded cursor-pointer hover:opacity-70">忽視</div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <input name="remarks" placeholder="備註" class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" value="${alert.remarks? alert.remarks : ''}">    
                        </div>
                    </div>
                </div>

                ${product.sales_status !='40_out_of_stock' ? `
                    <div class="flex flex-col ml-auto gap-1 item_grp_list">
                        <div class="flex items-center border-b font-bold">
                            <div>物品或物品組合名稱</div>
                            <div class="flex items-center ml-auto gap-4">
                                <div class="w-32 text-right px-2">所需數量</div>
                                <div class="w-32 text-right px-2">可用存量</div>
                                <div class="w-32 flex-0 text-right">無視缺貨</div>
                            </div>
                        </div>
                        ${product.item_group_list.map(function(item_group){
                            if (item_group.qty > item_group.ava_qty){
                                return `
                                <div class="flex items-center item_group child" data-product_item_id="${item_group.product_item_id}">
                                    <div>${item_group.len > 1 ? `物品組合 - ${item_group.inhouse_name_tc}`: `單件物品 - ${item_group.item_list[0].inhouse_name_tc}`}</div>
                                    <div class="flex items-center ml-auto gap-4">
                                        <div class="w-32 text-right px-2">${item_group.qty}</div>
                                        <div class="w-32 text-right px-2">${item_group.ava_qty}</div>
                                        <div class="flex-0 w-32 text-right">
                                            <label class="switch">
                                                <input type="hidden" name="is_force_checkout_${rand}">
                                                <input id="is_force_checkout_${rand}" class="is_force_checkout_val" type="checkbox" ${item_group.is_force_checkout =='Y'? `checked`: ``}>
                                                <span class="slider"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                `
                            } else {
                                return ''
                            }
                        }).join('')}
                    </div>
                ` : ``}

            </div>   
        
        `
    }
}

function genPublishList(timeList){
    $container = $("#publish_list_wrapper .log_wrapper");
    $container.find("*").remove();

    timeList.forEach(function(time, idx){
        $container.append(`
            <div class="time_session">
                ${time.publish_list ? ` 
                    <div class="separator my-2 text-xl font-bold">${time.rounded_alert_time}</div>
                    <div class="alert_wrapper gap-y-2 flex flex-col">
                        ${time.publish_list.map(function(alert){
                            return genAlert(alert);
                        }).join('')}
                    </div>    
                `:''}
            </div>
        `)
    })
    
    function genAlert(alert){
        product = alert.product;
        rand =  random();
        return `
            <div class="alert border-b px-4 py-2 bg-white shadow-lg rounded-xl" data-alert_id="${alert.alert_id}">
                <div class="flex parent mb-2 justify-between gap-x-4">
                    <div class="flex flex-col gap-2">
                        <div class="flex gap-2">
                            <a href="admin/product/productDtl?product_id=${product.product_id}" target="_blank" class="text-blue-600 hover:opacity-80">(${product.product_code}) ${product.product_name}</a>
                            ${product.sales_status =='40_out_of_stock' ? `<div class="rounded border px-2 py-1 text-sm bg-purple-500 border-gray-800 bg-gray-300 text-white font-light">產品狀態設置為缺貨中</div>`:``}
                            <div class="text-gray-600 whitespace-nowrap flex items-center">前台狀態: <strong>${product.frontend_status == "10_dont_show" ? `不顯示` : product.frontend_status == "40_out_of_stock" ? `顯示為缺貨中` : `顯示(正常出售)`}</strong></div>
                        </div>
                        <div class="product" data-product_id="${product.product_id}">
                            <div class="flex gap-x-2 mb-2 flex-wrap items-center font-bold">
                                <div class="flex items-center">
                                    發佈日期: 
                                    <input type="date" class="border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="publish_date" value="${product.publish_date}" /> 
                                </div>
                                <div class="font-bold">
                                    產品狀態
                                    <select name="sales_status" class="border border-gray-300 py-2 px-1 rounded ">
                                        <option value="10_to_be_confirm" ${product.sales_status == '10_to_be_confirm' ? 'selected' : ''}>待確定</option>
                                        <option value="20_not_for_sale" ${product.sales_status == '20_not_for_sale' ? 'selected' : ''}>下架中</option>
                                        <option value="30_on_sale" ${product.sales_status == '30_on_sale' ? 'selected' : ''}>上架中</option>
                                        <option value="40_out_of_stock" ${product.sales_status == '40_out_of_stock' ? 'selected' : ''}>缺貨中</option>
                                    </select>
                                </div>
                                <div class="btn_submit_product px-2 py-1 bg-blue-500 text-white rounded cursor-pointer hover:opacity-70">提交</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="flex items-baseline gap-4 whitespace-nowrap">
                            <div class="font-bold flex items-center"><i class="ri-chat-history-line"></i>提示忽視:</div> 
                            <div class="flex items-baseline gap-x-2 ml-auto">
                                <input type="date" name="ignore_time" placeholder="日數" class="border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">    
                                <div class="btn_ignore px-2 py-1 bg-blue-500 text-white rounded cursor-pointer hover:opacity-70">忽視</div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <input name="remarks" placeholder="備註" class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" value="${alert.remarks? alert.remarks : ''}">    
                        </div>
                    </div>
                </div>
            </div>   
        
        `
    }
}

function genDepositSlipList(timeList){
    $container = $("#deposit_slip_list_wrapper .log_wrapper");
    $container.find("*").remove();

    timeList.forEach(function(time, idx){
        $container.append(`
            <div class="time_session ">
                ${time.deposit_slip_list ? ` 
                    <div class="separator my-2 text-xl font-bold">${time.rounded_alert_time}</div>
                    <div class="alert_wrapper gap-y-2 flex flex-col px-2 pb-2 ">
                        ${time.deposit_slip_list.map(function(alert){
                            return genAlert(alert);
                        }).join('')}
                    </div>    
                `:''}
            </div>
        `)
    })
    
    function genAlert(alert){
        slip = alert.deposit_slip;
        rand =  random();
        return `
            <div class="alert border-b px-4 py-2 bg-white shadow-lg rounded-xl" data-alert_id="${alert.alert_id}"  data-slip_id="${slip.slip_id}" data-order_no="${slip.order_no}">
                <div class="flex parent mb-2 justify-between gap-x-4">
                    <div class="slip flex flex-col gap-2">
                        <div class="flex gap-x-2 mb-2 flex-wrap items-center">
                            <div><span class="font-bold">帳單號碼</span>: ${slip.order_no}</div>
                            <div><span class="font-bold">電話號碼</span>: ${slip.phone}</div>
                            <div><span class="font-bold">上載人名稱</span>: ${slip.phone}</div>
                            <div class="w-full"><a href="${slip.deposit_slip}" target="_blank"><img src="${slip.deposit_slip}" /></a></div>
                        </div>
                        
                    </div>
                    <div>
                        <div class="flex items-baseline gap-4 whitespace-nowrap">
                            <div class="font-bold flex items-center"><i class="ri-chat-history-line"></i>提示忽視:</div> 
                            <div class="flex items-baseline gap-x-2 ml-auto">
                                <input type="date" name="ignore_time" placeholder="日數" class="border border-gray-300 rounded-lg py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">    
                                <div class="btn_ignore px-2 py-1 bg-blue-500 text-white rounded cursor-pointer hover:opacity-70">忽視</div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <input name="remarks" placeholder="備註" class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" value="${alert.remarks? alert.remarks : ''}">    
                        </div>
                    </div>
                </div>
                <div class="ml-auto">
                    <div class="flex flex-row items-center justify-end text-xl text-gray-700 gap-x-2">
                        <div class="btn_check flex items-center bg-blue-500 text-white px-2 py-1 rounded hover:opacity-70 cursor-pointer">認可<i class="ri-check-line"></i></div>
                        <div class="btn_void flex items-center bg-blue-500 text-white px-2 py-1 rounded hover:opacity-70 cursor-pointer">刪除<i class="ri-delete-bin-line"></i></div>
                    </div>
                </div>
            </div>   
        
        `
    }
}





</script>
{/literal}