 {* <!-- DevExtreme theme -->
 <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.2.4/css/dx.light.css">
 <!-- DevExtreme library -->
 <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/21.2.4/js/dx.all.js"></script> *}

 <div class="supplier-container fixed w-screen h-screen bg-white top-0 left-0 ">
     <div class="flex flex-col h-full max-h-min">
         <!-- Title -->
         <div class="flex border-b border-gray-300 w-full">
             <div class="flex items-center justify-center py-2">
                 <a href="#"
                     class="js-back rounded border border-gray-200 hover:bg-gray-200 text-gray-600 mx-2 my-2 px-1 ml-6"><i
                         class="ri-close-line text-3xl "></i></a>
                 <div class="leading-tight">
                     <h3 class="text-gray-500 text-lg ml-4">The Gift 禮譽</h3>
                     <h1 class="font-bold text-2xl ml-4 text-gray-900">供應商管理系統</h1>
                 </div>
             </div>
             <!-- Search Bar-->
             <!--<div class="ml-auto flex items-center justify-center mr-6">
                <div class="bg-gray-100 rounded-full flex items-center justify-center pr-4 w-96">
                    <i class="ri-search-line px-4 opacity-50"></i>
                    <input type="text" class="bg-transparent py-3 w-full" placeholder="物品編號 ／ SKU ／ 標籤">
                </div>
            </div>-->
         </div>
         <!-- Lower content -->
         <main class="flex-grow flex items-stretch max-h-min overflow-y-hidden">
             <!-- Supplier list-->
             <div class="max-w-xs w-full bg-gray-600 overflow-y-auto">
                 <div class="flex flex-col h-full overflow-hidden">
                     <div class="flex items-center px-4 py-3 border-b border-gray-700">
                         <h4 class="text-white font-bold text-xl">供應商列表</h4>
                         <a href="#" id="add-supplier"
                             class="ml-auto inline-flex items-center font-bold bg-white text-blue-500 px-3 rounded py-1 hover:opacity-75"><i
                                 class="ri-add-line"></i><span>新增供應商</span></a>
                     </div>
                     <div class=" flex-grow max-h-min overflow-y-auto">
                         <a href="#" data-id="SUPPLIER_ID" class="flex items-center text-white px-4 py-2 font-bold">
                             <i class="ri-archive-fill"></i><span>1.</span><span>China Pacafic</span>
                         </a>
                         <a href="#" data-id="SUPPLIER_ID"
                             class="flex items-center text-gray-400 hover:text-gray-100 px-4 py-2">
                             <i class="ri-archive-fill"></i><span>2.</span><span>China Pacafic</span>
                         </a>
                         <a href="#" data-id="SUPPLIER_ID"
                             class="flex items-center text-gray-400 hover:text-gray-100 px-4 py-2">
                             <i class="ri-archive-fill"></i><span>3.</span><span>China Pacafic</span>
                         </a>
                         <a href="#" data-id="SUPPLIER_ID"
                             class="flex items-center text-gray-400 hover:text-gray-100 px-4 py-2">
                             <i class="ri-archive-fill"></i><span>4.</span><span>China Pacafic</span>
                         </a>
                         <a href="#" data-id="SUPPLIER_ID"
                             class="flex items-center text-gray-400 hover:text-gray-100 px-4 py-2">
                             <i class="ri-archive-fill"></i><span>5.</span><span>China Pacafic</span>
                         </a>
                         <a href="#" data-id="SUPPLIER_ID"
                             class="flex items-center text-gray-400 hover:text-gray-100 px-4 py-2">
                             <i class="ri-archive-fill"></i><span>6.</span><span>China Pacafic</span>
                         </a>
                     </div>
                 </div>
             </div>
             <!-- supplier relative item list-->
             <div class="flex-grow h-full flex flex-col overflow-y-hidden w-full">
                 <!-- Right panel title-->
                 <div class="flex border-b border-gray-300 w-full">
                     <div class="flex items-center justify-center py-4">
                         <div class="leading-tight ml-6">
                             <h1 class="font-bold text-2xl text-gray-900">China Pacafic</h1>
                             <h3 class="text-gray-500 text-lg">物品數量 : 32</h3>
                         </div>
                     </div>
                     <!-- Search Bar-->
                     <div class="ml-auto flex items-center justify-center mr-6">
                         <div class="bg-gray-100 rounded-full flex items-center justify-center pr-4 w-96">
                             <i class="ri-search-line px-4 opacity-50"></i>
                             <input type="text" class="bg-transparent py-3 w-full" placeholder="物品編號 ／ SKU ／ 標籤">
                         </div>
                     </div>
                 </div>
                 <!-- Right panel lower-->
                 <div class="bg-gray-100 flex-grow overflow-y-auto max-h-min mt-4">
                     <div id="supplier-item-table" class="h-full w-full"></div>
                 </div>
             </div>
         </main>
     </div>
 </div>


 {literal}
     <script>
         $(document).ready(function() {
             //window history back
             $('.js-back').click(function(e) {
                 e.preventDefault();
                 window.history.back()
             })


             //add supplier
             $('#add-supplier').click(function(e) {
                 e.preventDefault()
                 console.log('should add supplier')
             })

             //item table

             const customers = [{
                 ID: 1,
                 CompanyName: 'Super Mart of the West',
                 Address: '702 SW 8th Street',
                 City: 'Bentonville',
                 State: 'Arkansas',
                 Zipcode: 72716,
                 Phone: '(800) 555-2797',
                 Fax: '(800) 555-2171',
                 Website: 'http://www.nowebsitesupermart.com',
             }, {
                 ID: 2,
                 CompanyName: 'Electronics Depot',
                 Address: '2455 Paces Ferry Road NW',
                 City: 'Atlanta',
                 State: 'Georgia',
                 Zipcode: 30339,
                 Phone: '(800) 595-3232',
                 Fax: '(800) 595-3231',
                 Website: 'http://www.nowebsitedepot.com',
             }, {
                 ID: 3,
                 CompanyName: 'K&S Music',
                 Address: '1000 Nicllet Mall',
                 City: 'Minneapolis',
                 State: 'Minnesota',
                 Zipcode: 55403,
                 Phone: '(612) 304-6073',
                 Fax: '(612) 304-6074',
                 Website: 'http://www.nowebsitemusic.com',
             }, {
                 ID: 4,
                 CompanyName: "Tom's Club",
                 Address: '999 Lake Drive',
                 City: 'Issaquah',
                 State: 'Washington',
                 Zipcode: 98027,
                 Phone: '(800) 955-2292',
                 Fax: '(800) 955-2293',
                 Website: 'http://www.nowebsitetomsclub.com',
             }, {
                 ID: 5,
                 CompanyName: 'E-Mart',
                 Address: '3333 Beverly Rd',
                 City: 'Hoffman Estates',
                 State: 'Illinois',
                 Zipcode: 60179,
                 Phone: '(847) 286-2500',
                 Fax: '(847) 286-2501',
                 Website: 'http://www.nowebsiteemart.com',
             }, {
                 ID: 6,
                 CompanyName: 'Walters',
                 Address: '200 Wilmot Rd',
                 City: 'Deerfield',
                 State: 'Illinois',
                 Zipcode: 60015,
                 Phone: '(847) 940-2500',
                 Fax: '(847) 940-2501',
                 Website: 'http://www.nowebsitewalters.com',
             }, {
                 ID: 7,
                 CompanyName: 'StereoShack',
                 Address: '400 Commerce S',
                 City: 'Fort Worth',
                 State: 'Texas',
                 Zipcode: 76102,
                 Phone: '(817) 820-0741',
                 Fax: '(817) 820-0742',
                 Website: 'http://www.nowebsiteshack.com',
             }, {
                 ID: 8,
                 CompanyName: 'Circuit Town',
                 Address: '2200 Kensington Court',
                 City: 'Oak Brook',
                 State: 'Illinois',
                 Zipcode: 60523,
                 Phone: '(800) 955-2929',
                 Fax: '(800) 955-9392',
                 Website: 'http://www.nowebsitecircuittown.com',
             }, {
                 ID: 9,
                 CompanyName: 'Premier Buy',
                 Address: '7601 Penn Avenue South',
                 City: 'Richfield',
                 State: 'Minnesota',
                 Zipcode: 55423,
                 Phone: '(612) 291-1000',
                 Fax: '(612) 291-2001',
                 Website: 'http://www.nowebsitepremierbuy.com',
             }, {
                 ID: 10,
                 CompanyName: 'ElectrixMax',
                 Address: '263 Shuman Blvd',
                 City: 'Naperville',
                 State: 'Illinois',
                 Zipcode: 60563,
                 Phone: '(630) 438-7800',
                 Fax: '(630) 438-7801',
                 Website: 'http://www.nowebsiteelectrixmax.com',
             }, {
                 ID: 11,
                 CompanyName: 'Video Emporium',
                 Address: '1201 Elm Street',
                 City: 'Dallas',
                 State: 'Texas',
                 Zipcode: 75270,
                 Phone: '(214) 854-3000',
                 Fax: '(214) 854-3001',
                 Website: 'http://www.nowebsitevideoemporium.com',
             }, {
                 ID: 12,
                 CompanyName: 'Screen Shop',
                 Address: '1000 Lowes Blvd',
                 City: 'Mooresville',
                 State: 'North Carolina',
                 Zipcode: 28117,
                 Phone: '(800) 445-6937',
                 Fax: '(800) 445-6938',
                 Website: 'http://www.nowebsitescreenshop.com',
             }];

             window.dxTable = $('#supplier-item-table').dxDataGrid({
                 dataSource: customers,
                 editing: {
                     mode: 'cell',
                     allowUpdating: true,
                     allowAdding: true,
                     allowDeleting: false,
                 },
                 searchPanel: {
                     visible: true,
                     placeholder: '物品編號 ／ SKU ／ 標籤',
                     width:300,
                 },
                 keyExpr: 'ID',
                 columns: ['CompanyName', 'City', 'State', 'Phone', 'Fax'],
                 showBorders: true,
             });

         })
     </script>
{/literal}