<script src="/adminA/js/jquery.dad.js"></script>

<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:ml-12">
    <div class=" text-3xl font-bold">分類管理</div>
    <a href="admin/cate/cateList"><i class="ri-arrow-go-back-line text-2xl pl-6"></i></a>
</div>

<form id="edit_form" action="/admin/product/api/editCate" method="post">
    <input name="cate_id" type="hidden" value="{if $result_array.cateDtl.cate_id}{$result_array.cateDtl.cate_id}{else}0{/if}" readonly> 
    <input name="shop_id" type="hidden" value="{$shop_id}" readonly> 
    <div class="grid grid-cols-2 m-4 bg-white rounded-lg shadow-lg lg:mx-12 p-4">
        <div class="col-span-2 flex flex-row w-full">
            <div class="w-full p-4 flex-1">
                <div class="text-gray-600 pb-2">中文顯示</div>
                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_tc" type="text" value="{$result_array.cateDtl.name_tc}"> 
            </div>
            <div class="w-full p-4 flex-1">
                <div class="text-gray-600 pb-2">英文顯示</div>
                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_en" type="text" value="{$result_array.cateDtl.name_en}"> 
            </div>
            <div class="p-4">
                <div class="text-gray-600 pb-2">顯示中</div>
                <label class="switch">
                    <input name="show_in_web" type="hidden">
                    <input data-name="show_in_web" type="checkbox" {if $result_array.cateDtl.show_in_web === 'Y'}checked{/if}>
                    <span class="slider"></span>
                </label>
            </div>
        </div>
        {if $result_array.cateDtl.cate_id}
            <div class="w-full p-4 flex-1">
                <div class="text-gray-600 pb-2">中文簡介</div>
                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="description_tc" type="text" placeholder="中文簡介" value="{$result_array.cateDtl.description_tc}">
            </div>

            <div class="w-full p-4 flex-1">
                <div class="text-gray-600 pb-2">英文簡介</div>
                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="description_en" type="text" placeholder="英文簡介" value="{$result_array.cateDtl.description_en}">
            </div>

            <div class="w-full p-4 flex-1">
                <div class="text-gray-600 pb-2">底色</div>
                <div id="color-selector" class=""></div>
                <input name="background_color" type="hidden" id="background_color" value="{$result_array.shopDtl.nav_color}"> 
            </div>
            
            <div class="h-44 relative object-center {if !$result_array.cateDtl.cate_banner}w-44 border-4 rounded-lg{/if}" id="preview-border">
                <div class="text-gray-600 pb-2">右面圖片</div>
                {if $result_array.cateDtl.cate_banner}<img src="{$result_array.cateDtl.cate_banner}" class="h-44 w-full object-contain" id="preview" />
                {else}<img class="hidden flex w-full h-full items-center justify-center text-gray-800 object-contain" src="" id="preview" alt=""><div class="flex w-full h-full items-center justify-center text-gray-800" id="upload-text">按此上載圖片</div>{/if}
                <input name="cate_banner" type="file" class="absolute left-0 bottom-0 w-full h-full opacity-0 cursor-pointer" id="filetag">
            </div>
        {/if}
        <div class="col-span-2">
            <input type="submit" class="w-32 py-2 px-6 bg-blue-500 text-white rounded-full my-4 mx-auto cursor-pointer hover:bg-blue-400" value="{if $result_array.cateDtl.cate_id}更新{else}提交{/if}"> 
        </div>
    </div>
</form>

<div id="greeting_picker" class="hidden">
    <form class="greeting_picker_form p-4 w-full sm:w-84" autocomplete="off">
        <div class="hidden">
            <div class="mb-4 flex border-2 items-center rounded border-primary focus:border-primary-dark px-2 py-3">
                <div class="w-full">
                    <input autocomplete="off" name="skey" placeholder="名稱">
                </div>
                <div>
                    <i class="ri-search-line"></i>
                </div>
            </div>
        </div>
        <div class="relative h-full h-screen-50">
            <div class="greeting-picker-inner bg-white h-full w-full overflow-y-auto absolute top-0 left-0 z-10">
                <div class="tpl hidden bg-white flex items-center border border-solid rounded mb-2 cursor-pointer">
                    <div class="flex flex-col p-2">
                        <div class="text-gray-600 greeting_name"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="cate_wrapper dad-container-js">
    {foreach from=$result_array.cateDtl.subcateList key=k item=i}
    <div class="cate flex flex-row bg-white rounded-lg items-center justify-between mx-4 my-2 p-4 lg:mx-12 hover:bg-gray-100" data-cate_id="{$i.cate_id}" >
        <i class="dragger ri-drag-move-2-fill text-2xl text-gray-400 hover:text-gray-500 px-1 lg:px-3"></i>
        <div class="flex items-center gap-4 ">
            <div class="text-lg">{$i.name_tc}</div>
            <a href="admin/product/productList?cate_id={$i.cate_id}" class="text-gray-500" target="_blank">相關產品: {$i.product_count}件</a>
            {if $i.show_in_web == 'N'}
                <div class="px-2 py-1 text-sm text-gray-700 bg-gray-300 rounded font-bold">不顯示在網站中</div>
            {/if}
        </div>
        <div class="flex flex-row ml-auto text-lg pr-4">
            <a href="admin/cate/subcateDtl?cate_id={$i.cate_id}&parent_cate_id={$i.parent_cate_id}"><i class="ri-edit-line pr-4 text-gray-800 hover:opacity-70"></i></a>
            <i class="ri-delete-bin-line text-gray-800 hover:opacity-70 cursor-pointer btn_del_cate" data-cate_id="{$i.cate_id}"></i>
        </div>
    </div>
    {/foreach}
</div>

{if $result_array.cateDtl.cate_id}
<div class="w-full flex justify-center py-4">
    <a href="admin/cate/subcateDtl?cate_id=0&parent_cate_id={$result_array.cateDtl.cate_id}">
        <div class="flex flex-row shadow-lg px-8 py-3 rounded-full border-2 justify-center items-center" style="border-color: rgb(223, 162, 124) !important; color: rgb(223, 162, 124) !important;">
            <div>新增子分類</div>
            <i class="ri-add-fill text-lg pl-2"></i>
        </div>
    </a>
</div>
{/if}


<script>
var background_color = "{$result_array.cateDtl.background_color}";

</script>

{literal}
<script>
function initDad(){
    
    try { 
      dadInstance.deactivate();
    } catch {

    }
    dadInstance = $(".dad-container-js").dad({ exchangable: true, draggable: ".dragger",});
    dadInstance.activate();


    $(".dad-container-js").off("dadDrop").on("dadDrop", async function(e, droppedElement){
        e.preventDefault();
        $loader = await globalLoader();

        subcate_arr = [];

        $(".cate_wrapper .cate").each(function(idx, cate){
            subcate_arr.push($(cate).attr("data-cate_id"))
        })

        var data = {
            subcate_arr: subcate_arr.toString(),
            parent_cate_id: $("[name=cate_id]").val()
        };

        $.bajax({
            url: '/admin/product/api/sortCateSubcate',
            method: 'POST',
            formElement: 'N',
            data: data,
            callback: function (data) {
                if (!data.code == 0) {
                    globalLoader($loader);
                    globalErrorReturn(data)
                } else {
                    infoPopup();
                    globalLoader($loader);
                    initDad();
                }
            },
            errorCallback: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
}

$(document).ready(function(){
    initDad();

    new Picker({
        parent: document.querySelector('#color-selector'),
        editorFormat: 'hex',
        popup: false,
        alpha: false,
        editor: true,
        color: background_color,
        onChange: function(color) {
            document.querySelector('#background_color').value = color.hex;
        }
    });

    $(document).on("click", ".btn_del_cate", function(){
        var $row = $(this).parents(".cate");
        var cate_id = $(this).attr("data-cate_id");
        vkConfirmDefault({
            title: '確認',
            content: '<div>請確認是否刪除這條目？</div>',
            confirmButtonHtml: '確認',
            cancelButtonHtml: '返回',
            confirmButtonFunction: async function(e){
                url = "admin/product/api/editCate";
                $loader = await globalLoader();
                $.bajax({
                    url: url,
                    method: 'POST',
                    formElement: 'N',
                    data: {
                        cate_id: cate_id,
                        activate: 'N',
                    },
                    callback: function(data) {
                        globalLoader($loader);
                        if (data.code == 0){
                            $row.remove();
                        } else {
                            globalErrorReturn(data);
                        }
                    },
                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                });
            },
            cancelButtonFunction : function(){
                globalLoader($loader);
            }
        })
    })
    
    $(document).off("click", ".btn_add_greeting");
    $(document).on("click", ".btn_add_greeting", function(){
        $that = $(this);
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#greeting_picker').html(),
            mounted: function(){
                $(".vk-modal-dom").find("[name=skey]").focus().keyup();
            }
        });
    });

    $(document).off("click", ".greeting_option");
    $(document).on("click", ".greeting_option", function(){
        cate_id = $(this).attr("data-cate_id");
        
        if ($(".greeting_val[data-cate_id="+cate_id+"]").length == 0){
            $container = $(".greetingList_wrapper");

            $tpl = $(".greetingList_wrapper .tpl").clone();
            $tpl.removeClass("tpl");
            $tpl.removeClass("hidden");
            $tpl.addClass("greeting_val")
            
            $tpl.attr({
                "data-cate_id": $(this).attr("data-cate_id"),
                "data-name_tc": $(this).attr("data-name_tc"),
                "data-name_en": $(this).attr("data-name_en")
            });
            $tpl.find(".display_name").html($(this).attr("data-name_tc"));

            $container.append($tpl);
        }

        var $this = $(this)
        if ($this.closest('.vk-modal-dom').length == 1) {
            $this.closest('.vk-modal-dom').data()._destory()
        }
        return;
    });
    
    $(document).off("click", ".btn_del_greeting");
    $(document).on("click", ".btn_del_greeting", function(){
        $(this).parents(".greeting").remove();
    });

    $(document).off("keyup", ".greeting_picker_form [name=skey]");
    $(document).on("keyup", ".greeting_picker_form [name=skey]", function(){
        $container = $(".greeting-picker-inner");
        $.bajax({
            url: "admin/setting/api/getGreetingCateList",
            debug: 'Y',
            method: 'POST',
            data: {skey:$(this).val()},
            callback: function(data) {
                if (data.code == 0){
                    $container.children(".greeting_option").remove();
                    res = data.result;
                    res.forEach(function($row){
                        $tpl = $("#greeting_picker .tpl").clone();
                        $tpl.removeClass("tpl");
                        $tpl.removeClass("hidden");
                        $tpl.addClass("greeting_option")
                        
                        $tpl.find(".greeting_name").html($row.name_tc); 
                        $tpl.attr({
                            "data-cate_id": $row.cate_id,
                            "data-name_tc": $row.name_tc,
                            "data-name_en": $row.name_en
                        })
                        $container.append($tpl)
                    });
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });
        
    $("#filetag").on("change", function() {
    changeImage(this);

        function changeImage(input) { 
            var reader;
            
            if (input.files && input.files[0]) {
                reader = new FileReader();
                
                reader.onload = function(e) {
                    $("#preview").attr('src', e.target.result);
                    $("#preview").removeClass("hidden");
                    if ($("#upload-text")) {
                        $("#upload-text").addClass("hidden");
                    }
                    if ($("#preview-border")) {
                        $("#preview-border").removeClass("w-44", "border-4", "rounded-lg");
                    }
                }
                
                reader.readAsDataURL(input.files[0]);
            }
        }

    });

    $("#edit_form").submit(async function(e){
        if ($("[data-name=show_in_web]").is(":checked"))
            $("[name=show_in_web]").val("Y")
        else 
            $("[name=show_in_web]").val("N")

        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                if (!data.code == 0){
                    globalErrorReturn(data);
                } else {
                    infoPopup();
                    location.href="admin/cate/cateDtl?cate_id=" + data.result.cate_id
                    // location.reload(); //   production use
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
});

</script>
{/literal}