<div class="flex flex-row mx-4 mt-2 mb-7 lg:mx-12 items-center">
    <a href="admin/cate/cateList"><div class=" text-2xl font-bold">分類管理</div></a>
    <a href="admin/cate/cateDtl?cate_id=0"><div class="px-4 py-1 ml-4 bg-blue-500 hover:bg-blue-400 text-white rounded-full cursor-pointer my-auto font-bold flex items-center"><i class="ri-add-line mr-1 text-white"></i><span>新增分類</span></div></a>
</div>

<div class="grid grid-cols-1 gap-2 mx-4 my-4 lg:mx-12">
    {foreach from=$result_array.cateList key=k item=i}
        <div class="flex bg-white shadow-sm p-6 py-3 rounded-lg hover:bg-gray-50">
            <div class="flex items-center gap-4">
                <div class="flex flex-col">
                    <div class="text-xl font-bold text-gray-700">{$i.name_tc}</div>
                    <div class="text-gray-700 text-sm">{$i.subcate|@count}個子分類</div>
                </div>
                {if $i.show_in_web == 'N'}
                <div class="px-2 py-1 text-sm text-gray-700 bg-gray-300 rounded font-bold">不顯示在網站中</div>
                {/if}
            </div>
            <div class="flex flex-row ml-auto text-lg items-center text-2xl">
                <a href="admin/cate/cateDtl?cate_id={$i.cate_id}" class="flex items-center text-gray-400 hover:text-gray-600"><i class="ri-edit-line pr-2"></i><span class="text-lg">編輯</span></a>
                <a data-cate_id="{$i.cate_id}" data-shop_id="{$i.shop_id}" class="btn_del flex items-center text-gray-400 hover:text-gray-600 ml-4"><i class="ri-delete-bin-line "></i><span class="text-lg">刪除</span></a>
            </div>
        </div>
    {/foreach}
    <div class="hidden">
        <a href="admin/cate/cateDtl?cate_id=0">
            <div class="flex flex-col bg-white shadow-lg p-3 rounded-lg border-4 h-40" style="border-color: rgb(223, 162, 124) !important;">
                <div class="flex flex-col items-center justify-center" style="color: rgb(223, 162, 124) !important;">
                    <i class="ri-add-fill text-5xl"></i>
                    <div>新增分類</div>
                </div>
            </div>
        </a>
    </div>
</div>

{literal}
<script>
$(document).ready(function(){
    
    $(document).off("click", ".btn_del");
    $(document).on("click", ".btn_del", async function(e){
        $loader = await globalLoader();
        $this = $(this)
        vkConfirmDefault({
            title: '確認',
            content: '<div>請確認是否刪除這條目？</div>',
            confirmButtonHtml: '確認',
            cancelButtonHtml: '返回',
            confirmButtonFunction: function(){
                $.bajax({
                    url: "admin/product/api/editCate",
                    method: 'POST',
                    formElement: 'N',
                    data: {
                        cate_id: $this.attr("data-cate_id"),
                        shop_id: $this.attr("data-shop_id"),
                        activate: 'N',
                    },
                    callback: function(data) {
                        if (data.code != 0){
                            globalLoader($loader);
                            globalErrorReturn(data);
                        } else {
                            globalLoader($loader);
                            location.reload();
                        }
                    },
                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                });
            },
            cancelButtonFunction : function(){
                globalLoader($loader);
            }
        })
    })
   
});
</script>
{/literal}