<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:ml-12">
    <div class=" text-2xl font-bold">子分類管理</div>
    <a href="admin/cate/cateDtl?cate_id={$result_array.parentCateDtl.cate_id}"><i class="ri-arrow-go-back-line text-2xl pl-4"></i></a>
</div>

<form id="edit_form" action="/admin/product/api/editCate" method="post">
    <input name="cate_id" type="hidden" value="{if $result_array.cateDtl.cate_id}{$result_array.cateDtl.cate_id}{else}0{/if}" readonly> 
    <input name="parent_cate_id" type="hidden" value="{$result_array.parentCateDtl.cate_id}" readonly> 
    <input name="shop_id" type="hidden" value="{$shop_id}" readonly> 
    <div class="flex flex-col items-center justify-around m-4 bg-white rounded-lg shadow-lg lg:mx-12">
        <div class="flex flex-row w-full">
            <div class="w-full p-4 flex-1">
                <div class="text-gray-600 pb-2">中文顯示</div>
                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_tc" type="text" value="{$result_array.cateDtl.name_tc}"> 
            </div>
            <div class="w-full p-4 flex-1">
                <div class="text-gray-600 pb-2">英文顯示</div>
                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_en" type="text" value="{$result_array.cateDtl.name_en}"> 
            </div>
            <div class="p-4">
                <div class="text-gray-600 pb-2">顯示中</div>
                <label class="switch">
                    <input name="show_in_web" type="hidden">
                    <input data-name="show_in_web" type="checkbox" {if $result_array.cateDtl.show_in_web === 'Y'}checked{/if}>
                    <span class="slider"></span>
                </label>
            </div>
        </div>
        {if $result_array.cateDtl.cate_id}

        <div class="h-44 relative object-center {if !$result_array.cateDtl.cate_banner}w-44 border-4 rounded-lg{/if}" id="preview-border">
            {if $result_array.cateDtl.cate_banner}<img src="{$result_array.cateDtl.cate_banner}" class="h-44 w-full object-contain" id="preview" />
            {else}<img class="hidden flex w-full h-full items-center justify-center text-gray-800 object-contain" src="" id="preview" alt=""><div class="flex w-full h-full items-center justify-center text-gray-800" id="upload-text">按此上載圖片</div>{/if}
            <input name="cate_banner" type="file" class="absolute left-0 bottom-0 w-full h-full opacity-0 cursor-pointer" id="filetag">
        </div>
        {/if}
        <input type="submit" class="w-32 py-2 px-6 bg-blue-500 text-white rounded-full my-4 mx-auto cursor-pointer hover:bg-blue-400" value="{if $result_array.cateDtl.cate_id}更新{else}提交{/if}"> 
    </div>
</form>

{if $result_array.cateDtl.cate_id && $result_array.cateDtl.parent_cate_id == null}
<div class="flex flex-col lg:flex-row mb-4 bg-white rounded-lg mx-4 my-2 p-4 lg:mx-12">
    {if $result_array.cateDtl.productList}
    <div class="sortable grid grid-cols-4 auto-rows-auto gap-5">
        {foreach from=$result_array.cateDtl.productList key=k item=i}
        <div class="product" data-product_id="{$i.product_id}">
            <img src="{$i.img.0.img}">
            <div class="text-gray-600 text-xs py-2">產品名稱</div>
            <div class="truncate">{$i.product_name_tc}</div>
        </div>
        {/foreach}
    </div>
    {/if}
</div>
{/if}

<script>
var subcate_id = "{if $result_array.cateDtl.cate_id}{$result_array.cateDtl.cate_id}{/if}"
{literal}
$(document).ready(function(){
    $(".sortable").sortable({
        animation: 150,
        onUpdate: async function(e){
            product_id_arr = [];
            $(".product").each(function(){
                product_id_arr.push($(this).attr("data-product_id"));
            });

            $loader = await globalLoader();
            e.preventDefault();
            $.bajax({
                url: "admin/product/api/sortSubcateProduct",
                method: 'POST',
                data: {
                    product_id_arr: product_id_arr.toString(),
                    cate_id: subcate_id
                },
                callback: function(data) {
                    globalLoader($loader);
                    if (!data.code == 0){
                        globalErrorReturn(data)
                    } else {
                        // location.reload(); //   production use
                    }
                },
                errorCallback: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            });
        }
    })

    try {
        var fileTag = document.getElementById("filetag"),
        uploadText = document.getElementById('upload-text')
        preview = document.getElementById("preview");
        previewBorder = document.getElementById("preview-border");
            
        fileTag.addEventListener("change", function() {
        changeImage(this);
    
            function changeImage(input) { 
                var reader;
                
                if (input.files && input.files[0]) {
                    reader = new FileReader();
                    
                    reader.onload = function(e) {
                        preview.setAttribute('src', e.target.result);
                        preview.classList.remove("hidden");
                        if (uploadText) {
                            uploadText.classList.add("hidden");
                        }
                        if (previewBorder) {
                            previewBorder.classList.remove("w-44", "border-4", "rounded-lg");
                        }
                    }
                    
                    reader.readAsDataURL(input.files[0]);
                }
            }
    
        });
    } catch(err){}

    $("#edit_form").submit(async function(e){
        if ($("[data-name=show_in_web]").is(":checked"))
            $("[name=show_in_web]").val("Y")
        else 
            $("[name=show_in_web]").val("N")
        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    infoPopup();
                    location.href = "admin/cate/cateDtl?cate_id=" + data.result.parent_cate_id
                    // if ($("[name=cate_id]").val() == 0){
                    // } else {
                    //     globalLoader($loader);
                    // }
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
});
{/literal}
</script>