<div>
    <div class="container vk-container">
        <div class="comno-product-list-banner"></div>
        <div class="combo-product-list grid grid-cols-1 lg:grid-cols-2 gap-x-4 gap-y-4 mt-4 mb-4">
            {foreach from=$result_array.productList item=i key=k}
                <div class="combo-product-indi flex flex-row items-center lg:grid lg:grid-cols-3 gap-x-2 border border-gray-200 rounded hover:shadow-md transition-all">
                    
                    <a class="p-6  overflow-hidden flex-shrink" href="/product/productDtl/{$i.product_code}">
                        <img src="{$i.img[0].img}" class="rounded w-24 lg:w-auto " alt="{$i.product_name}">
                    </a>
                    <div class="py-4 pr-4 col-span-1 lg:col-span-2 flex-grow flex-1">
                        <a class="font-bold text-xl leading-tight" href="/product/productDtl/{$i.product_code}">{$i.product_name}</a>
                        <!--<div>
                            {$i|@print_r}
                        </div>-->
                        <div>
                            {if !$sp_price}
                            <div class="text-lg font-bold text-green-500">${$i.price|number_format}</div>
                            {else}
                            <div class="flex flex-row items-end">
                                <div class="font-bold text-green-500 text-lg">${$i.sp_price|number_format}</div>
                                <div class="line-through text-sm text-gray-500">${$i.price|number_format}</div>
                            </div>
                            {/if}
                        </div>
                        <a href="/product/productDtl/{$i.product_code}" class="inline-flex flex-row items-center font-bold text-sm border-2 border-gray-900 px-7 py-2 rounded hover:bg-gray-900 hover:text-white transition-all ml-auto my-2 ">
                            <span>立即購買</span>
                          </a>
                        <div class="product-src ">
                            <div class="inline-flex flex-row items-center bg-gray-50 rounded py-2 px-3">
                            {foreach from=$i.productDtl.srcProductDtl item=ii key=kk}
                                {if $kk != '0'}
                                    <i class="ri-add-line mx-4 text-gray-300"></i>
                                {/if}
                                <a href="/product/productDtl/{$ii.product_code}" class="text-center hover:opacity-75 transition-all flex flex-row">
                                    <div><img src="{$ii.img[0].img}" alt="{$ii.product_name}" class="w-10"></div>
                                    <div class="text-left leading-tight ml-2 overflow-hidden">
                                        <div class="text-sm whitespace-nowrap overflow-ellipsis">{$ii.product_name}</div>
                                        <div class="text-sm text-gray-400">${$ii.price|number_format}</div>
                                    </div>
                                </a>
                            {/foreach}
                            </div>
                        </div>
                    </div>
                </div>
            {/foreach}
        </div>
    </div>
</div>