<!-- breadcumb -->
<div class="breadcumb container vk-container text-sm py-5">

    <a href="/" class="text-gray-400 hover:underline hover:opacity-75">首頁</a>
    <span class="text-gray-400 mx-2">/</span>
    <a href="/product/productList" class="text-gray-400 hover:underline hover:opacity-75">全部產品</a>
    
    {if $result_array.cateDtl}
        <span class="text-gray-400 mx-2">/</span>
        {if $result_array.cateDtl.parent_cate}
            <a href="product/productList/{$result_array.cateDtl.parent_cate.name_en|replace:array(' ', '&'):array('_','')}" class="themeColor hover:underline hover:opacity-75">{$result_array.cateDtl.parent_cate.name}</a><span class="text-gray-400 mx-2">/</span>
        {/if}
        <a href="product/productList/{$result_array.cateDtl.name_en|replace:array(' ', '&'):array('_','')}" class="themeColor hover:underline hover:opacity-75 ">{$result_array.cateDtl.name}</a>
    {/if}
</div>
<!-- breadcumb -->
{if $result_array.cateDtl.cate_banner}
<section class="container vk-container mb-6">
    <img src="{$result_array.cateDtl.cate_banner}" alt="banner" class="w-full lg:w-auto lg:h-120 mx-auto">
</section>
{/if}

<section class="container vk-container">
    <div class="flex flex-row">
        <aside class="w-84 left-column-selector hidden lg:block text-sm">
            <form action="#" class="border border-gray-300">
                <!-- 
                    From: Sing
                    To: Lok
                    category 可以multi select?  舊site 得一個

                -->
                {foreach from=$result_array.cateList key=k item=i}
                {if $i.subcate}
                <div class="{if $k > 0}border-t{/if} border-gray-300">
                    <h6 class="text-base font-bold py-3 px-6">{$i.name}</h6>
                    <ul class="px-6 mb-3">
                        {foreach from=$i.subcate key=kk item=ii}
                        <li class="flex items-center relative hover:opacity-70 themeColorHover">
                            
                            <!-- 
                            <input type="checkbox" class="absolute top-0 left-0 w-full h-full opacity-0">
                            <div class="h-5 w-5 border border flex items-center justify-center mr-2">
                                <i class="ri-check-line text-gray-600"></i>
                            </div> -->
                            <a href="product/productList/{$ii.name_en|replace:array(' ', '&'):array('_','')}">{$ii.name}</a>
                        </li>
                        {/foreach}
                    </ul>
                </div>
                {/if}
                {/foreach}
            </form>
        </aside>
        <div class="lg:ml-12 flex-1">
            <div class="flex flex-row">
                <div>
                    <h1 class="font-bold text-xl">{$result_array.cateDtl.name}</h1>
                    <div class="text-gray-400 text-sm">共<strong>{$result_array.page_config.ttlCount}</strong>個搜尋結果</div>
                </div>
                <div class="picker-holder ml-auto flex flex-row justify-end items-center">
                    <div class="text-gray-600">排序</div>
                    <div class="bg-gray-200 rounded ml-4 px-4 py-2 flex flex-row items-center">
                        <select name="sorting" class="appearance-none bg-transparent text-gray-500 outline-none" data-page="{$result_array.page_config.page}">
                            <option value="1" {if $result_array.page_config.sortMode == 1}selected{/if}>定價低至高</option>
                            <option value="2" {if $result_array.page_config.sortMode == 2}selected{/if}>定價高至低</option>
                            <option value="3" {if $result_array.page_config.sortMode == 3}selected{/if}>新品上市</option>
                        </select>
                        <i class="ri-arrow-down-s-line text-gray-500 ml-2 text-lg"></i>
                    </div>
                </div>
            </div>
            <!-- item list -->
            <section class="item-list-showcase mt-6">
                <div class="mb-4 mini-container">
                    <div class="grid grid-flow-row grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4">
                        {foreach from=$result_array.productList key=k item=i}
                        <a class="hover:opacity-75 h-80" href="product/productDtl/{$i.product_code}">
                            <img src="{$i.img.0.img}" class="w-full h-2/3 object-cover">
                            <div class="h-1/3">
                                <h3 class="font-bold pt-2">{$i.product_name}</h3>
                                <div class="pricing">
                                    {if $i.sp_price && $i.sp_price != $i.price}
                                    <span class="pre-price text-gray-400 line-through text-sm">HKD$ {$i.price|number_format:2:".":","}</span>
                                    <span class="price text-gray-500 font-bold">HKD$ {$i.sp_price|number_format:2:".":","}</span>
                                    {else}
                                    <span class="pre-price text-gray-400 text-sm">HKD$ {$i.price|number_format:2:".":","}</span>
                                    {/if}
                                </div>
                                {if $i.discount}
                                <span class="themeBackgroundColor text-gray text-xs bg-primary inline-block rounded-sm px-1 text-white mt-1 ">{$i.discount}% OFF</span>
                                {/if}
    
                                {if $i.isInStock == 'N'}
                                <span class="themeBackgroundColor text-gray text-xs bg-primary inline-block rounded-sm px-1 text-white mt-1 ">缺貨中</span>
                                {/if}
                            </div>
                        </a>
                        {/foreach}
                    </div>
                </div>
            </section>
            <!-- pager -->
            <div id="product_pager" class="flex flex-row items-center justify-center py-8">
                {if $result_array.page_config.page > 1}
                    <a data-page="page_{$result_array.page_config.page - 1}" class="cursor-pointer border border-gray-200 text-gray-400 h-8 text-center flex items-center justify-center hover:opacity-75 mx-1 px-4">上一頁</a>
                {/if}

                {for $foo=($result_array.page_config.page -2) to ($result_array.page_config.page+2)}
                    {if $foo > 0 && $foo <=  {($result_array.page_config.ttlCount / $result_array.page_config.limit)|ceil}}
                        {if $foo == $result_array.page_config.page}
                            <a data-page="page_{$foo}" class="cursor-pointer bg-gray-500 text-white w-8 h-8 text-center flex items-center justify-center hover:opacity-75 mx-1">{$foo}</a>
                        {else}
                            <a data-page="page_{$foo}" class="cursor-pointer border border-gray-200 text-gray-400 w-8 h-8 text-center flex items-center justify-center hover:opacity-75 mx-1">{$foo}</a>
                        {/if}
                    {/if}
                {/for}

                {if ($result_array.page_config.page + 1) <= {($result_array.page_config.ttlCount / $result_array.page_config.limit)|ceil}}
                    <a data-page="page_{$result_array.page_config.page + 1}" class="cursor-pointer border border-gray-200 text-gray-400 h-8 text-center flex items-center justify-center hover:opacity-75 mx-1 px-4">下一頁</a>
                {/if}
            </div>
            <!-- pager -->
            <!-- item list -->
        </div>
    </div>
</section>
<script>
{literal}
$(document).ready(function(){
    $("#product_pager [data-page^='page_']").on("click", function(e){
        var page = $(this).attr("data-page").replace("page_", "");
        $("[name=sorting]").attr("data-page", page);
        sortPageUpdate();
    });

    $("[name=sorting]").change(function(){
        sortPageUpdate();
    });

    function sortPageUpdate(){
        var page = $("[name=sorting]").attr("data-page");
        var sort = $("[name=sorting]").val();
        path = window.location.pathname + "?page=" + page + "&sortMode=" + sort;
        location.href = path;
    }
});
{/literal}
</script>