<div>
    {literal}
    <script>
        $(document).ready(function() {
            $('.parallax-window').paroller();
        })
    </script>

    <style>
        .double_right_img table tbody tr td  {
            padding: 20px;
        }

        @media screen and (max-width: 900px) {
            .double_right_img table tbody tr td h2 span {
                font-size: 23px !important;
            }
        }
    </style>
    {/literal}

    <div class="grid grid-cols-1 md:grid-cols-2 double_right_img">
        <div class="grid grid-cols-2">
            {$contentDtl.html}

            <img src="{$contentDtl.lr_img}" class="flex h-full w-full object-cover object-center paroller" data-paroller-factor="-0.5">
        </div>
        <div class="grid grid-cols-2">

            {$contentDtl.html2}

            <img src="{$contentDtl.lr_img2}" class="flex h-full w-full object-cover object-center paroller" data-paroller-factor="-0.5">
        </div>
    </div>
</div>