<section>
    <div class="container vk-container mx-auto">
        <div class="flex flex-col sm:flex-row w-full justify-center sm:justify-evenly items-center">
            <a href="#">
                <div class="h-full w-full">
                    <img src="../../../img/littlezuri_tmp/square-1.jpeg" alt="" class="object-cover">
                </div>
            </a>
            <a href="#">
                <div class="h-full w-full">
                    <img src="../../../img/littlezuri_tmp/square-2.jpeg" alt="" class="object-cover">
                </div>
            </a>
            <a href="#">
                <div class="h-full w-full">
                    <img src="../../../img/littlezuri_tmp/square-3.jpeg" alt="" class="object-cover">
                </div>
            </a>
        </div>
    </div>
</section>