<div class="w-full container vk-container mini-container mx-auto my-8">
    <div class="pb-8">
        {$contentDtl.html}
    </div>

    <div class="productSlider owl-carousel owl-theme ">
        {foreach from=$contentDtl.productList key=k item=i}
        <div class="flex flex-col">
            <div class="bg-black bg-opacity-90 relative group"> 
                <img src="{$i.productDtl.img[0].img}" alt="" class="group-hover:opacity-40 w-full h-full">
                <div class="absolute bottom-4 left-4 right-4">
                    <a href="/product/productDtl/{$i.productDtl.product_code}">
                        <div class="bg-white rounded text-center px-6 py-2 w-auto mx-auto opacity-0 group-hover:opacity-100 hover:bg-gray-200">
                            {$RM.viewProduct}
                        </div>
                    </a>
                </div>
            </div>
            <p class="w-full text-center mb-2 text-sm px-4">
                {$i.productDtl.product_name}
            </p>
            {if $i.productDtl.sp_price && $i.productDtl.sp_price != $i.productDtl.price}
            <div class="flex px-4 w-full justify-center">
                <p class="text-sm line-through text-gray-600 text-center pr-2">
                    HK${$i.productDtl.price}
                </p>
                <p class="text-center font-bold">
                    HK${$i.productDtl.sp_price}
                </p>
            </div>
            {else}
            <p class="w-full text-center font-bold px-4">
                HK${$i.productDtl.price}
            </p>
            {/if}
        </div>
        {/foreach}
    </div>
</div>

{literal}
<script>
    $(document).ready(function() {

        $('.productSlider').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            dots: false,
            responsive: {
                0: {
                    items: 3
                },
                600: {
                    items: 4
                },
                1000: {
                    items: 5
                }
            }
        })
    })
</script>
{/literal}