<div class="owl-carousel owl-theme w-full">
    {foreach from=$contentDtl.slider key=k item=i}
    <div class="item"><img src="{$i.img}" alt=""/></div>
    {/foreach}
</div>

{literal}
<script>
    $(document).ready(function() {

        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            dots: false,
            items: 1
        })
    })
</script>
{/literal}