

<!-- breadcumb -->
<div class="breadcumb container vk-container  py-3 text-xs md:text-sm">
    <a href="/" class="text-gray-400 hover:underline hover:opacity-75">首頁</a>
    <span class="text-gray-400 mx-2">/</span>
    <a href="/product/productList" class="text-gray-400 hover:underline hover:opacity-75">全部產品</a>
    <span class="text-gray-400 mx-2">/</span>
    <a class="themeColor hover:underline hover:opacity-75">{$result_array.productDtl.product_name}</a>
</div>
<!-- breadcumb -->
<!-- item display section -->
<div class="container vk-container">
    <section class="flex flex-col lg:flex-row mb-6 justify-center">
        <!-- image display section -->
        <div class="flex flex-col-reverse lg:flex-row items-stretch">
            <div class="display-images-list w-14 mr-3">
                {foreach from=$result_array.productDtl.img item=i key=k}
                    <div class="mb-3 hover:opacity-75 border border-gray-100"><img src="{$i.img}" alt=""></div>
                {/foreach}
            </div>
            <div class="item-detail-main-image w-auto h-auto md:w-120 md:h-120 border border-gray-100">
                <img src="{$result_array.productDtl.img.0.img}" alt="" class="w-full h-full block object-cover">
            </div>
        </div>
        <!-- item detail section -->
        <div class="item-operating lg:ml-12">
            <div class="mb-2">
                <h1 class="font-bold text-3xl">{$result_array.productDtl.product_name}</h1>
                <p class="text-sm text-gray-500">產品編號: {$result_array.productDtl.product_code}</p>
            </div>
            <aside class="flex flex-row items-center text-green-500 text-sm">
                <span>{if $result_array.productDtl.frontend_status == '30_on_sales'}還有存貨{else}缺貨中{/if}</span>
                <i class="ri-truck-line mx-1"></i>
                <span>提供全港18區送貨服務</span>
            </aside>
            {if $result_array.productDtl.deli_start_date}
            <aside class="flex flex-row items-center text-green-500 text-sm">
                <span>開始發送日期: {$result_array.productDtl.deli_start_date}</span>
            </aside>
            {/if}
            <div class="price-container">
                <div class="price flex flex-row items-end mt-4 mb-1 leading-none">
                    {if $result_array.productDtl.sp_price && $result_array.productDtl.sp_price != $result_array.productDtl.price}
                    <div class="act_price discounted-price text-red-400 font-bold text-2xl">${$result_array.productDtl.sp_price|number_format:2:".":","}</div>
                    <div class="original-price line-through text-sm text-gray-400 ml-1">${$result_array.productDtl.price|number_format:2:".":","}</div>
                    {else}
                    <div class="act_price original-price text-gray-700 font-bold text-2xl">${$result_array.productDtl.price|number_format:2:".":","}</div>
                    {/if}
                </div>
                {if $result_array.productDtl.discount}
                <div class="discount-text text-red-400 text-sm">
                    您節省了：${($result_array.productDtl.price - $result_array.productDtl.sp_price)|number_format:2:".":","} ({$result_array.productDtl.discount}%)
                </div>
                {/if}
            </div>
            <div class="qty-controller mt-4">
                <div class="flex flex-row items-stretch">
                    <div class="btn_qty px-2 py-1 border border-gray-200 hover:bg-gray-50 cursor-pointer" data-act="minus"><i class="ri-subtract-line"></i></div>
                    <input type="text" class="outline-none text-center w-12 border-t border-b border-gray-200" value="1" name="qty">
                    <div class="btn_qty px-2 py-1 border border-gray-200 hover:bg-gray-50 cursor-pointer" data-act="plus"><i class="ri-add-line"></i></div>
                </div>
            </div>
            <!-- should be update-->
            {foreach from=$result_array.productDtl.item_group_list key=k item=i}
            <!-- upgrade option -->
            <!-- loop the item group -->
                {if $i.is_client_optional == 'Y'}
                    <div class="option-type mt-2" href="#">
                        <p class="text-gray-400 text-sm mb-2">你會想更改禮籃內的{$i.display_name}嗎?</p>
                    </div>

                    <div class="relative upgrade_item" data-grp="{$k}" data-additional_price="0">
                        <div class="inline-flex">
                            <div class="border relative z-0 inline-flex shadow-sm">
                                <div class="inline-flex items-center pr-4 relative">
                                    <div class="w-12 h-12 bg-contain mr-4 selected_img bg-no-repeat	bg-center" style="background-image: url('{$i.item_list.0.item_img}');"></div>
                                    <p class="text-gray-500 text-sm selected_field">{$i.item_list.0.display_name} (預設)</p>
                                </div>
                                <button type="button" class="relative inline-flex items-center p-2 text-sm font-medium">
                                    <svg class="h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    
                        
                        <ul class="origin-top-right absolute z-10 mt-2 w-72 rounded-md shadow-lg overflow-hidden bg-white divide-y divide-gray-200 ring-1 ring-black ring-opacity-5 focus:outline-none hidden">
                            {foreach from=$i.item_list key=kk item=ii}
                            {if $ii.is_client_optional == 'Y' || $kk == 0}
                            <li class="text-gray-900 cursor-default select-none relative py-2 px-4 text-sm hover:bg-gray-300" role="option" data-item_id="{$ii.item_id}" data-qty="{$ii.qty}" data-additional_price="{if $ii.additional_price}{$ii.additional_price}{else}0{/if}" data-name="{$ii.display_name}" data-default="{if $kk == 0}Y{else}N{/if}" data-img="{$ii.item.item_img}" data-default='{if $kk == 0}Y{else}N{/if}'>
                                <div class="flex flex-col">
                                    <div class="flex justify-between">
                                        <p class="font-normal">{$ii.display_name} * {$ii.qty}</p>
                                        {if $kk == 0}
                                        <div class="bg-gray-900 font-bold px-1.5 rounded text-white text-xs">(預設)</div>
                                        {/if}

                                        <span class="text-gray-800 checkMark {if $kk != 0}hidden{/if}">
                                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                                            </svg>
                                        </span>
                                    </div>
                                    {if $ii.additional_price}
                                        <p class="text-gray-500 mt-1">+$ {$ii.additional_price|number_format:2:".":","}</p>
                                    {/if}
                                </div>
                            </li>
                            {/if}
                            {/foreach}
                        </ul>
                    </div>
                {/if}

            {/foreach}

            {if $result_array.productDtl.addonList}
            <!-- addon option -->
            <div class="option-type mt-2 py-2">
                <p class="text-gray-400 text-sm mb-2">加配其他產品?</p>
                <a class="btn_addon_product inline-flex flex-row border border-gray-200 items-center hover:opacity-75 px-4 cursor-pointer"> 
                    <p class="text-gray-500 text-sm">請選擇</p>
                    <i class="ri-arrow-down-s-line text-xl text-gray-300 px-3"></i>
                </a>
            </div>
            <ul class="addonList">
                
            </ul>
            {/if}
            
            <!-- checkout and add to fav -->
            <div class="flex flex-row mt-4 items-stretch">
                <a class="add-to-fav border border-gray-300 text-gray-600 w-12 h-12 flex items-center justify-center hover:opacity-75 cursor-pointer"><i class="ri-heart-line"></i></a>
                <a class="add-to-cart themeBackgroundColor px-16 flex items-center text-white ml-2 hover:opacity-75 cursor-pointer">加到購物籃</a>
            </div>
            <!-- payment method -->
            <div class="flex flex-row items-center bg-blue-50 mt-3 rounded-sm">
                <p class="text-xs px-3 py-2 font-bold text-blue-500">支持的付款方式</p>
                <img src="./img/payment.png" alt="" class="h-4">
            </div>
        </div>
    </section>
</div>
<!-- item description -->
<section>
    <div class="container vk-container">
        <div class="border border-gray-200">
            <!-- description header -->
            <div class="flex flex-row">
                <div class="btn_tag py-6 px-12 cursor-pointer font-bold" data-tag="detail">詳細資料</div>
                <div class="btn_tag py-6 px-12 cursor-pointer text-gray-400 hover:opacity-75" data-tag="deli">運送選項</div>
                <div class="btn_tag py-6 px-12 cursor-pointer text-gray-400 hover:opacity-75" data-tag="info">附加資訊</div>
            </div>
            <div class="px-6 py-6">
                <div class="tag" data-tag="detail">
                    <h3 class="font-bold text-xl">產品詳情</h3>
                    <ol>
                    {foreach from=$result_array.productDtl.item_group_list key=k item=group_list}
                        <li class="list-disc ml-6">
                            {$group_list.display_name} {if $group_list.is_product_page_show_qty == 'Y'}x {$group_list.qty}{/if}
                        </li>
                    {/foreach}
                    </ol>
                    <p>&nbsp;</p>
                    {if $result_array.productDtl.cust_info_act == 'Y'}
                        {$result_array.productDtl.cust_info}
                    {/if}
                </div>

                <div class="tag hidden" data-tag="deli">
                    {if $result_array.productDtl.cust_deli_act == 'Y'}
                        {$result_array.productDtl.cust_deli}
                    {else}
                        {$result_array.productTplDtl.deli_msg}
                    {/if}
                </div>
                <div class="tag hidden" data-tag="info">
                    {if $result_array.productDtl.cust_addinfo_act == 'Y'}
                        {$result_array.productDtl.cust_addinfo}
                    {else}
                        {$result_array.productTplDtl.info_msg}
                    {/if}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- items you may like -->
<section class="item-list-showcase mb-6">
    <div class="container vk-container mb-4 mini-container">
        <div class="py-8">
            <h2 class="text-center font-bold text-2xl">你可能喜歡</h2>
            <p class="text-center text-gray-400 text-lg">你可能喜歡的其他商品</p>
        </div>
        <div class="grid grid-flow-col grid-cols-4 gap-4">
            {foreach from=$result_array.relatedProductList key=k item=i}
            <a class="hover:opacity-75" href="product/productDtl/{$i.product_code}">
                <img src="{$i.img.0.img}" alt="">
                <h3 class="font-bold pt-2">{$i.product_name}</h3>
                {if $i.productDtl.sp_price && $i.productDtl.sp_price != $i.productDtl.price}
                <div class="pricing">
                    <span class="pre-price text-gray-400 line-through text-sm">HKD$ {$i.price}</span>
                    <span class="price text-gray-500 font-bold">HKD$ {$i.sp_price}</span>
                </div>
                <span class="themeBackgroundColor text-gray text-xs bg-primary inline-block rounded-sm px-1 text-white mt-1">{$i.discount}% OFF</span>
                {else}
                <div class="pricing">
                    <span class="price text-gray-500 font-bold">HKD$ {$i.price}</span>
                </div>
                {/if}
            </a>
            {/foreach}
        </div>
    </div>
</section>
<!-- item display section -->


{assign var=addNavCurCls value="border-theme themeColor"}
{assign var=addNavDefCls value="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300"}

<div id="addon_picker" class="hidden">
    <div class="relative pb-5 border-b border-gray-200 sm:pb-0 p-8">
        <div class="md:flex md:items-center md:justify-between">
            <h3 class="text-lg leading-6 font-medium text-gray-900 mb-2">
                追加產品
            </h3>
        </div>
        <div class="mt-4">
            <!-- Tabs at small breakpoint and up -->
            <div class=" sm:block">
                <nav class="-mb-px flex space-x-8">
                    {foreach from=$result_array.productDtl.addonList key=k item=i}
                    <div class="btn_addon_tag cursor-pointer {if $k == 0}{$addNavCurCls}{else}{$addNavDefCls}{/if} whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm" data-tag="{$k}">{$i.name}</div>
                    {/foreach}
                </nav>
            </div>
        </div>
    </div>

    {foreach from=$result_array.productDtl.addonList key=k item=i}
    <div class="bg-white addon_tag {if $k==0}{else}hidden{/if}" data-tag="{$k}">
        <div class="max-w-2xl mx-auto py-4 px-4 sm:px-6 lg:max-w-5xl lg:px-8">
            <div class="grid grid-cols-2 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-6 xl:gap-x-8">
            {foreach from=$i.product_list key=kk item=ii}
            <div class="addonProductDtl" data-product_id="{$ii.product_id}" data-price="{$ii.act_price}">
                <div class="relative addon_product">
                    <img src="{$ii.img}" class="w-full cursor-pointer btn_view_addon" data-addonDtl='{$ii|@json_encode|escape}'>
                </div>
                
                <h3 class="font-bold pt-2 addon_product_name">{$ii.product_name}</h3>
                <div class="pricing">
                    <span class="text-gray-500 font-bold">HKD$ {$ii.act_price|number_format:2:".":","}</span>
                </div>

                <div class="flex flex-row items-stretch">
                    <div class="btn_addon_qty px-2 py-1 cursor-pointer border border-gray-200 hover:bg-gray-50" data-act="minus" data-product_id="{$ii.product_id}"><i class="ri-subtract-line"></i></div>
                    <div class="val_addon_qty px-2 py-1 outline-none text-center w-12 border-t border-b border-gray-200" data-product_id="{$ii.product_id}">0</div>
                    <div class="btn_addon_qty px-2 py-1 cursor-pointer border border-gray-200 hover:bg-gray-50" data-act="plus" data-product_id="{$ii.product_id}"><i class="ri-add-line"></i></div>
                </div>

            </div>
            {/foreach}
        
            <!-- More products... -->
            </div>
        </div>
    </div>
    {/foreach}
</div>

<div id="addonDtl" class="hidden">
    <div class="-my-2 grid grid-cols-2 w-84 max-w-full overflow-hidden">
        <div>
            <img src="upload/product/3/163539438520200225201755_tEKGOAiX.jpeg" class="product_img">
        </div>
        <div class="flex flex-col p-2 text-xs justify-between">
            <div>
                <div class="font-bold">產品詳細</div>
                <div class="itemList" style="display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;"></div>
            </div>
            <div class="text-right"><a href="#" class="product_link text-blue-500" target="_blank">產品頁面</a></div>
        </div>
    </div>
</div>

<style>
{literal}
.addon_product:hover .productItemList{
    display: block;
}
{/literal}
</style>
<textarea id="itemGroupList" class="hidden">
    {$result_array.productDtl.item_group_list|@json_encode nofilter}
</textarea>
<script>
var itemList;
var itemGroupList = JSON.parse($("#itemGroupList").val());
var addonItemList = [];
var product_id = '{$result_array.productDtl.product_id}';
var member_id = '{$member.member_id}';
var qty = 1;
var ori_price = {if $result_array.productDtl.sp_price}{$result_array.productDtl.sp_price}{else}{$result_array.productDtl.price}{/if};
var final_price = ori_price;

{literal}
$(document).ready(function(){

    itemList = [];
    itemGroupList.forEach(function(grp,idx){
        boolAdded = false;
        for(var i = 0 ; i < grp.item_list.length && !boolAdded; i++){
            item = grp.item_list[i]
            console.log(item);
            if (item.is_auto_replace == 'Y' || i == 0){
                boolAdded = true;
                itemList.push({
                    item_id: item.item_id, 
                    qty: grp.qty * item.consume, // number of set it provides multiple number of qty for the item_grp
                    isClientOption: 'N',
                    isAddon: 'N'
                });
            }
        }
    });

    $(document).on("click", ".btn_view_addon", function(){
        addonDtl = JSON.parse($(this).attr("data-addonDtl"));
        $tpl = $("#addonDtl")

        $tpl.find(".product_img").attr("src", addonDtl.img[0].img);
        $tpl.find(".product_link").attr("href", `product/productDtl/${addonDtl.product_code}`)

        $ol = $("<ol/>");
        addonDtl.itemList.forEach(function(val, idx){
            $ol.append(
                $("<li/>").html(`${val.name} * ${val.consume}`)
            )
        });

        $tpl.find(".itemList").append($ol);

        vkAlertDefault({
            outerClass: "",
            title: "",
            content: $tpl.html(),
            confirmButton:false,
            tapBackgroundToClose: true
        });
    });

    $(document).off("click", ".btn_addon_qty")
    $(document).on("click", ".btn_addon_qty", function(){
        $vk = $(this).parents(".vk-modal-dom");
        var product_id = $(this).data("product_id");
        $input = $(".val_addon_qty[data-product_id='" + product_id + "'");
        var qty = $input.html();

        var act = $(this).data('act');

        switch (act){
            case 'plus':
                qty++;
                break;
            case 'minus':
                if (qty > 0)
                    qty--;
                break;
        }

        $input.html(qty);
        $(".addonList li").remove();
        $container = $(".addonList");
        $container.find("li").remove();
        
        addonItemList = [];
        product_id_arr = [];
        
        $vk.find(".addonProductDtl").each(function(idx, con){
            $val = $(con);
            var qty = $val.find(".val_addon_qty").html();
            var name = $val.find(".addon_product_name").html();
            var price = $val.attr("data-price");
            var product_id = $val.attr("data-product_id");
            var $tpl = $("<li/>").addClass("list-decimal ml-6")

            // check qty > 0 && the product is not existed yet
            if(qty >0 && product_id_arr.indexOf(product_id) == -1){
                product_id_arr.push(product_id)
                if (qty == 1){
                    $container.append(
                        $tpl.html(name)
                    );
                } else {
                    $container.append(
                        $tpl.html(name + " * " + qty) 
                    );
                }

                addonItemList.push({
                    product_id: product_id,
                    qty: qty,
                    price: price,
                    isAddon: 'Y',
                    remarks: '追加產品'
                });
            }
        })

        calcPrice();
    });

    $(document).on("click", ".btn_addon_tag", function(){
        $(".btn_addon_tag").removeClass("{/literal}{$addNavCurCls}{literal}").addClass("{/literal}{$addNavDevCls}{literal}")
        $(this).addClass("{/literal}{$addNavDevCls}{literal}").addClass("{/literal}{$addNavCurCls}{literal}")

        let tag = $(this).data('tag');

        $('.addon_tag').addClass("hidden");
        $(".addon_tag[data-tag=" + tag + "]").removeClass("hidden");

    });

    $(".btn_addon_product").on("click", function(){
        $that = $(this);
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#addon_picker').html()
        });
    });

    $('body').click(function(e){
        var $target = $(e.target)
       if($target.closest('.upgrade_item').length == 0){
        $('.upgrade_item').find('ul').addClass('hidden')
       }
    })

    $(".upgrade_item").on("click", function(){
        $grp = $(this)

        $grp.find("ul").removeClass("hidden");

        $grp.find("li").off().on("click", function(){
            $grp.find(".checkMark").addClass("hidden");
            $(this).find(".checkMark").removeClass("hidden");
            
            let item = {
                item_id: $(this).data("item_id"),
                qty: $(this).data("qty")
            };

            if ($(this).attr("data-default") == 'N'){
                item['isClientOption'] = 'Y';
                item['remarks'] = '客戶更改內容';
            }

            itemList[$grp.data("grp")] = item

            // update field
            $grp.find(".selected_field").html( $(this).data("default") == 'Y' ? $(this).data("name") + " (預設)" : $(this).data("name"));
            $grp.find(".selected_img").attr("style", "background-image: url('"+$(this).data("img")+"')")
            $grp.find("ul").addClass("hidden");
            $grp.data("additional_price", $(this).data("additional_price"))

            calcPrice();
        });
    });

    function calcPrice(){
        final_price = ori_price;
        $(".upgrade_item").each(function(idx, val){
            if ($(val).data("additional_price"))
                final_price = final_price + parseFloat($(val).data("additional_price"))
        });

        addonItemList.forEach(function(val, idx){
            final_price += val.price * val.qty;
        });

        $(".act_price").html("$" + thousand_separator(final_price));
    }


    $(".btn_qty").on("click", function(){
        var act = $(this).data('act');

        switch (act){
            case 'plus':
                qty++;
                break;
            case 'minus':
                if (qty > 1)
                    qty--;
                break;
        }

        $("[name=qty]").val(qty);
    })
    
    $(".btn_tag").on("click", function(){
        activeCls = "font-bold";
        inactiveCls = "text-gray-400 hover:opacity-75";
        tag = $(this).data("tag");

        $(".btn_tag").removeClass(activeCls).addClass(inactiveCls);
        $(this).addClass(activeCls).removeClass(inactiveCls);

        $('.tag').addClass("hidden");
        $(".tag[data-tag=" + tag + "]").removeClass("hidden");
    });

    $(".add-to-fav").on("click", async function(e){
        $loader = await globalLoader();
        $.bajax({
            url: "myAccount/api/addFav",
            method: 'POST',
            data:{
                product_id: product_id,
                member_id: member_id
            },
            callback: function(data) {
                globalLoader($loader);
                if (!data.code == 0){
                    globalErrorReturn(data);
                } else {
                    infoPopup("成功", "已加入願望清單。");
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });

    $(".add-to-cart").on("click", async function(e){
        // $loader = await globalLoader();
        
        var deli_arr = [
            {
                itemList: itemList,
                product_id: product_id, 
            }
        ];

        e.preventDefault();
        $.bajax({
            url: "myAccount/api/addCart",
            method: 'POST',
            data:{
                product_id: product_id,
                shop_id: shop_id,
                member_id: member_id, 
                qty: qty,
                deli_arr: JSON.stringify(deli_arr),
                addon_list: JSON.stringify(addonItemList)
            },
            callback: function(data) {
                // globalLoader($loader);
                if (!data.code == 0){
                    globalErrorReturn(data);
                } else {
                    infoPopup("成功", "已加入購物車。");
                    window.member.updateCart()
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });
});
{/literal}

</script>