<main class="bg-white">
  <div id="back_wrapper" class="px-4 py-4 overflow-y-auto">
    
    <h1 class="text-3xl font-bold border-gray-200 border-b pb-3 flex">
      <span>品牌管理</span>
      <a href="#" id="add-brand" class="text-base inline-flex text-white bg-blue-500 font-bold ml-2 items-center px-3"><i class="ri-add-line"></i><span>增加品牌</span></a>
    </h1>
  </div>
  <div class="brand-list">
    <table class="w-full">
      <thead>
        <tr class="border-b border-gray-300 font-bold text-gray-500">
          <td class="px-4 pb-1">品牌名稱</td>
          <td class="px-4 pb-1">品牌名稱(英文)</td>
          <!--<td class="px-4 pb-1">操作</td>-->
        </tr>
      </thead>
      <tbody class="brand-parse-body"></tbody> 
    </table>
  </div>
</main>

{literal}
<style>
  #onesignal-bell-container {
    display: none !important;
  }
  .navigation-section {
    display: none;
  }
</style>

<script>
  $(document).ready(function () {
    //get brand list
    refreshBrandList();

    //edit brand
    $(document).on("change", ".brand-indi input", function () {
      var $this = $(this);
      var $container = $this.closest(".brand-indi");
      console.log({
        brand_id: $container.find('input[name="brand_id"]').val(),
        brand_name_tc: $container.find('input[name="brand_name_tc"]').val(),
        brand_name_en: $container.find('input[name="brand_name_en"]').val(),
      });
      $.bajax({
        url: "/admin/item/api/editBrand",
        data: {
          brand_id: $container.find('input[name="brand_id"]').val(),
          brand_name_tc: $container.find('input[name="brand_name_tc"]').val(),
          brand_name_en: $container.find('input[name="brand_name_en"]').val(),
        },
        callback: function (data) {
          //change the output color and set timeout
          $this
            .removeClass("border-gray-300  ")
            .addClass("border-green-500 outline outline-green-500 ");

          setTimeout(function () {
            //refreshBrandList();
            $this.removeClass('border-green-500 outline outline-green-500 ')
            .addClass('border-gray-300 ')
          }, 1500);
        },
      });
    });

    //click and add brand
    $("#add-brand").click(function (e) {
      e.preventDefault();
      e.preventDefault();
      $vkmodal({
        fullScreen: false,
        tapBackgroundToClose: true,
        content: `<div class="w-96 px-4 py-4">
          <h3 class="text-2xl font-bold">新增品牌</h3>
          <form>
            <label for="brand-name-tc" class="mt-2 block">品牌姓名<label>
            <input id="brand-name-tc" name="" placeholder="品牌姓名" class="w-full py-1 px-2 border border-gray-300 rounded">
            <label for="brand-name-en" class="mt-2 block">品牌名稱(英文)<label>
            <input id="brand-name-en" name="" placeholder="品牌名稱(英文)" class="w-full py-1 px-2 border border-gray-300 rounded">
          </form>
          <div class="flex items-center mt-3">
            <a href="#" class="save-brand py-2 px-3 border border-blue-500 bg-blue-500 font-bold text-white ml-auto">儲存</a>
            <a href="#" class="cancel-brand py-2 px-3 border border-gray-100 font-bold text-gray-600 ml-2">取消</a>
          </div>
        <div>`,
        mounted: function (ele) {
          $(".save-brand").click(function (e) {
            //add new contact
            var $main = ele;
            $.bajax({
              url: "/admin/item/api/editBrand",
              data: {
                brand_id: "0",
                brand_name_tc: ele.find("#brand-name-tc").val(),
                brand_name_en: ele.find("#brand-name-en").val(),
              },
              callback: function (data) {
                killVkmodal(ele.data().timestamp);
                refreshBrandList();
              },
            });
          });

          $(".cancel-brand").click(function (e) {
            killVkmodal(ele.data().timestamp);
          });
        },
      });
    });

    function refreshBrandList() {
      $.bajax({
        url: "/admin/item/api/getBrandList",
        method: "POST",
        formElement: "N",
        callback: function (data) {
          var result_html = "";
          data.result.item_brand_list.map(function (item, index) {
            result_html += `<tr class="border-b border-gray-200 brand-indi">
          <td class="px-4 py-2 w-108">
            <input name="brand_id" type="hidden"  value="${item.brand_id}">
            <input
              name="brand_name_tc"
              value="${item.brand_name_tc}"
              class="border-2 border-gray-300 py-1 px-2 w-full rounded  transition-all duration-150"
            />
          </td>
          <td class="px-4 py-2 w-108">
            <input
              name="brand_name_en"
              value="${item.brand_name_en}"
              class="border-2 border-gray-300 py-1 px-2 w-full rounded transition-all duration-150 "
            />
          </td>
         <!-- <td class="px-4 py-2">
            <a
              href="#"
              class="remove-brand hover:bg-gray-200 text-xl rounded-full px-2 py-2 transition-all duration-150"
              ><i class="ri-delete-bin-line"></i
            ></a>
          </td>-->
        </tr>`;
          });
          $(".brand-parse-body").html(result_html);
        },
        errorCallback: function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR);
        },
      });
    }
  });
</script>
{/literal}
