<main class="bg-white">
  <div class="px-4 py-4 overflow-y-auto">
    <a
      onclick="window.history.go(-1); return false;"
      class="inline-flex font-bold rounded px-3 py-1 ml-auto mr-3 border border-gray-300 text-gray-500 hover:opacity-75 mb-2"
    >
      <i class="ri-arrow-left-line"></i>
      <span class="ml-2">返回</span>
    </a>
    <h1 class="text-3xl font-bold border-gray-200 border-b pb-3">
      新增物品
    </h1>
  </div>
  <!-- item detail handler -->
  <div class="select-none px-6">
    <div class="flex gap-x-12">
      <!-- image-->
      <div class="flex items-start gap-x-8 w-full">
        <!-- Left Col-->
        <div>
          <h2 class="text-xl font-bold text-gray-800 mt-5 mb-2">物品圖片</h2>
          <button
            class="w-108 h-108 bg-gray-200 rounded border-2 border-gray-300 border-dashed flex items-center justify-center mt-6"
          >
            <div class="text-center text-gray-400">
              <i class="ri-add-line text-6xl"></i>
              <div class="text-2xl">新增圖片</div>
            </div>
          </button>
        </div>
        <!-- Right Col-->
        <div class="grid grid-cols-4 gap-x-6 gap-y-3 flex-grow">
          <h2 class="col-span-4 text-xl font-bold text-gray-800 mt-5 mb-2">
            供應商相關基本資料
          </h2>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              SKU
            </label>
            <div class="">
              <input
                readonly
                value="001-EG-00001"
                class="w-full border border-gray-300 rounded px-2 py-1 bg-gray-100 text-gray-800"
              />
            </div>
          </div>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              供應商
            </label>
            <div class="">
              <select class="selectize w-full rounded" name="supplier_id">
                {foreach from=$result_array.supplier_list item=i}
                <option value="{$i.supplier_id}"
                  >{$i.name_tc}({$i.name_en})</option
                >
                {/foreach}
              </select>
            </div>
          </div>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              中文名稱（供應商）
            </label>
            <div class="">
              <input
                class="w-full border border-gray-300 rounded px-2 py-1"
                placeholder="中文名稱（供應商）"
              />
            </div>
          </div>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              英文名稱（供應商）
            </label>
            <div class="">
              <input
                class="w-full border border-gray-300 rounded px-2 py-1"
                placeholder="英文名稱（供應商）"
              />
            </div>
          </div>
          <div>
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              物品種類
            </label>
            <div class="">
              <input
                class="w-full border border-gray-300 rounded px-2 py-1"
                placeholder="物品種類"
              />
            </div>
          </div>
          <div>
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              品牌
            </label>
            <div class="">
              <input
                class="w-full border border-gray-300 rounded px-2 py-1"
                placeholder="品牌"
              />
            </div>
          </div>
          <div>
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              款式（選填）
            </label>
            <div class="">
              <input
                class="w-full border border-gray-300 rounded px-2 py-1"
                placeholder="款式（選填）"
              />
            </div>
          </div>
          <div>
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              國家
            </label>
            <div class="">
              <input
                class="w-full border border-gray-300 rounded px-2 py-1"
                placeholder="國家"
              />
            </div>
          </div>
          <div>
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              貨品編號（供應商）
            </label>
            <div class="">
              <input
                class="w-full border border-gray-300 rounded px-2 py-1"
                placeholder="國家"
              />
            </div>
          </div>
          <div>
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              單位／箱（選填）
            </label>
            <div class="">
              <input
                class="w-full border border-gray-300 rounded px-2 py-1"
                placeholder="國家"
              />
            </div>
          </div>
          <div>
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              批發價（成本）
            </label>
            <div class="">
              <input
                class="w-full border border-gray-300 rounded px-2 py-1"
                placeholder="國家"
              />
            </div>
          </div>
          <div>
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              建議零售價（選填）
            </label>
            <div class="">
              <input
                class="w-full border border-gray-300 rounded px-2 py-1"
                placeholder="國家"
              />
            </div>
          </div>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              商品條碼（選填）
            </label>
            <div class="flex flex-stretch">
              <input
                class="w-full border border-gray-300 rounded px-2 py-1"
                placeholder="商品條碼"
              />
              <a
                href="#"
                class="inline-flex items-center justify-center border border-gray-300 px-2"
                ><i class="ri-barcode-line"></i
                ><span class="whitespace-nowrap ml-2">預覽條碼</span></a
              >
            </div>
          </div>
          <h2 class="col-span-4 text-xl font-bold text-gray-800 mt-5 mb-2">
            物品標籤
          </h2>
          <div class="col-span-4 flex">
            <button
              class="border inline-flex border-gray-300 rounded font-bold px-3 py-2 text-gray-600"
            >
              <i class="ri-add-line mr-2"></i>
              <span>增加標籤</span>
            </button>
            <div class="tag-display-list-js"></div>
          </div>
          <h2 class="col-span-4 text-xl font-bold text-gray-800 mt-5 mb-2">
            物品備註
          </h2>
          <div class="col-span-4 flex">
            <textarea
              placeholder="任何物品備註"
              class="w-full border border-gray-300 rounded py-2 px-3 resize-none"
              rows="4"
            ></textarea>
          </div>

          <h2 class="col-span-4 text-xl font-bold text-gray-800 mt-5 mb-2">
            顯示設定
          </h2>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              內部提示中文名稱
            </label>
            <div class="">
              <input
                class="w-full border border-gray-300 rounded px-2 py-1"
                placeholder=" 內部提示中文名稱"
              />
            </div>
          </div>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              內部提示英文名稱
            </label>
            <div class="">
              <input
                class="w-full border border-gray-300 rounded px-2 py-1"
                placeholder="內部提示英文名稱"
              />
            </div>
          </div>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              The Gift 中文名稱
            </label>
            <div class="">
              <input
                class="w-full border border-gray-300 rounded px-2 py-1"
                placeholder="the Gift網站內顯示名稱"
              />
            </div>
          </div>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              The Gift 英文名稱
            </label>
            <div class="">
              <input
                class="w-full border border-gray-300 rounded px-2 py-1"
                placeholder="the Gift網站內顯示名稱"
              />
            </div>
          </div>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              LoTaiPo 中文名稱
            </label>
            <div class="">
              <input
                class="w-full border border-gray-300 rounded px-2 py-1"
                placeholder="Lo Tai Po網站內顯示名稱"
              />
            </div>
          </div>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              LoTaiPo 英文名稱
            </label>
            <div class="">
              <input
                class="w-full border border-gray-300 rounded px-2 py-1"
                placeholder="Lo Tai Po網站內顯示名稱"
              />
            </div>
          </div>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              Little Zuri 中文名稱
            </label>
            <div class="">
              <input
                class="w-full border border-gray-300 rounded px-2 py-1"
                placeholder="Little Zuri網站內顯示名稱"
              />
            </div>
          </div>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              Little Zuri 英文名稱
            </label>
            <div class="">
              <input
                class="w-full border border-gray-300 rounded px-2 py-1"
                placeholder="Little Zuri網站內顯示名稱"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- sku holder -->
  <hr class="border-b border-gray-200 w-full my-12" />
  <!-- Storage management -->
  <div class="px-4">
    <div class="flex items-center">
      <h1 class="text-3xl font-bold text-gray-800 mb-2">倉庫管理</h1>
    </div>
    <div class="grid grid-cols-2 gap-x-6">
      <!-- Sku list -->
      <div>
        <div class="flex items-center py-2">
          <h1 class="text-xl font-bold text-gray-800 mb-2">規格管理</h1>
          <button
            class="ml-auto bg-blue-500 text-white font-bold rounded px-3 py-2 text-lg hover:bg-blue-400"
          >
            增加規格
          </button>
        </div>
        <div class="border border-gray-300">
          <table class="w-full rounded overflow-hidden">
            <thead>
              <tr>
                <td class="font-bold border-b border-gray-300 px-2 w-16">
                  圖片
                </td>
                <td class="font-bold border-b border-gray-300 px-2">描述</td>
                <td class="font-bold border-b border-gray-300 px-2">SKU後綴</td>
                <td class="font-bold border-b border-gray-300 w-24">存量</td>
                <td class="font-bold border-b border-gray-300 w-24">
                  存量(預留存量)
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border-b border-gray-200 p-2">
                  <div class="w-14 h-14 bg-gray-200 rounded"></div>
                </td>
                <td class="border-b border-gray-200 p-2">S碼</td>
                <td class="border-b border-gray-200 p-2">001-EG-00001-SM</td>
                <td class="border-b border-gray-200 p-2">
                  <input
                    type="number"
                    class="w-16 rounded border border-gray-300 px-1"
                    value="0"
                    placeholder="存量"
                  />
                </td>
              </tr>
              <tr>
                <td class="border-b border-gray-200 p-2">
                  <div class="w-14 h-14 bg-gray-200 rounded"></div>
                </td>
                <td class="border-b border-gray-200 p-2">M碼</td>
                <td class="border-b border-gray-200 p-2">001-EG-00001-M</td>
                <td class="border-b border-gray-200 p-2">
                  <input
                    type="number"
                    class="w-16 rounded border border-gray-300 px-1"
                    value="0"
                    placeholder="存量"
                  />
                </td>
              </tr>
              <tr>
                <td class="border-b border-gray-200 p-2">
                  <div class="w-14 h-14 bg-gray-200 rounded"></div>
                </td>
                <td class="border-b border-gray-200 p-2">L碼</td>
                <td class="border-b border-gray-200 p-2">001-EG-00001-L</td>
                <td class="border-b border-gray-200 p-2">
                  <input
                    type="number"
                    class="w-16 rounded border border-gray-300 px-1"
                    value="0"
                    placeholder="存量"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Sku edit log-->
      <div>
        <div class="flex items-center py-2">
          <h1 class="text-xl font-bold text-gray-800 mb-2">規格管理日誌</h1>
          <!-- 
              <button
            class="ml-auto bg-blue-500 text-white font-bold rounded px-3 py-2 text-lg hover:bg-blue-400"
          >
            增加規格
          </button>
          -->
        </div>
        <div class="bg-gray-800 text-white font-bold px-6 py-4 rounded-lg">
          <p>
            [2022-10-12 7:04 PM] <span class="text-blue-300">Jenny</span> -
            新增SKU - 尺碼
          </p>
          <p>
            [2022-10-11 10:03 AM] <span class="text-blue-300">Jenny</span> -
            新增SKU - 顏色
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- panel -->
  <div class="flex py-4 px-4 border-t border-gray-300 mt-3">
    <button
      onclick="window.history.go(-1); return false;"
      class="font-bold rounded px-6 py-3 ml-auto text-2xl mr-3 border border-gray-300 text-gray-500 hover:opacity-75"
    >
      取消
    </button>
    <button
      class="bg-blue-500 text-white font-bold rounded px-6 py-3 text-2xl hover:bg-blue-400"
    >
      新增物品
    </button>
  </div>
</main>

<script>
    var supplier_id = '{$result_array.item.supplier_id}';

  var item_cate_id = '{$result_array.item.item_cate_id}';
  var brand_id = '{$result_array.item.brand_id}';
  var country_id = '{$result_array.item.country_id}';
  var tag_id_arr = [{foreach from=$result_array.item.tag_list item=i}{foreach from=$i.child_list item=ii}{$ii.tag_id},{/foreach}{/foreach}]
  var item_id = '{$result_array.item.item_id}';
  var sku = '{$result_array.item.sku}';
  var og_sku = '{$result_array.item.sku}'.split("-");
  var supplier_list = JSON.parse("{json_encode($result_array.supplier_list)|escape:'javascript'}");
  var cate_list = JSON.parse("{json_encode($result_array.cate_list)|escape:'javascript'}");
  var popup_item_id = '{$result_array.popup_item_id}';
  var supplier = {};
var item_cate = {};
  {literal}
    function generateSku() {
      if (item_cate && supplier) {
        sku = "";
        sku += item_cate.cate_id.padStart(3, "0"); // 3 digits cate id
        sku += "-";
        sku += supplier.short_form;
        sku += "-";

        if (supplier.short_form == og_sku[1]) sku += og_sku[2];
        else sku += supplier.next_item_id;

        $("[name=sku]:eq(0)").val(sku);
      }
    }

    $(document).on("change", "[name=item_cate_id]", function () {
      var selectedVal = parseInt($(this).val());
      if (selectedVal != 0) {
        child_cate_list = [];
        cate_list.forEach(function (val) {
          val.child_list.forEach(function (vv) {
            child_cate_list.push(vv);
          });
        });

        item_cate =
          child_cate_list[
            child_cate_list
              .map(function (val, idx) {
                return parseInt(val.cate_id);
              })
              .indexOf(selectedVal)
          ];
      }

      generateSku();
    });

    $(document).on("change", "[name=supplier_id]", function () {
      var selectedVal = parseInt($(this).val());
      if (selectedVal != 0) {
        supplier =
          supplier_list[
            supplier_list
              .map(function (val, idx) {
                return parseInt(val.supplier_id);
              })
              .indexOf(selectedVal)
          ];
      }

      generateSku();
    });
</script>
<style>
  #onesignal-bell-container {
    display: none !important;
  }
  .navigation-section {
    display: none;
  }
</style>
{/literal}
