<div class="flex flex-col px-4 lg:px-10 my-4">
    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">物品組合管理: {if $result_array.itemGrpDtl.grp_id}{$result_array.itemGrpDtl.adm_name}{else}新增物品組合{/if}</div>
        </div>
    </div>

    <div class="bg-white rounded-lg shadow-lg py-2 w-full">    
        <form id="edit_form" action="/admin/item/api/editItemGrp" method="post">
            <input name="shop_id" type="hidden" value="{$shop_id}" readonly> 
            <input name="grp_id" type="hidden" value="{if $result_array.itemGrpDtl.grp_id}{$result_array.itemGrpDtl.grp_id}{else}0{/if}" readonly> 
            <input name="item_grp_content_json_str" type="hidden">
            <div class="grid lg:grid-cols-2 gap-2 w-full p-2 lg:p-8 ">
                
                <div>
                    <div class="text-sm text-gray-600 pb-2">名稱<span class="text-xs text-gray-400">(只在後台顯示)</span></div>
                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="adm_name" type="text" value="{$result_array.itemGrpDtl.adm_name}"> 
                </div>

            </div>

            <div>

                <div class="flex mt-4 lg:mt-8">
                    <div class="text-2xl text-gray-800 font-bold lg:px-10">物品組合內容</div>
                    <div class="ml-4 px-8 py-2 bg-blue-500 hover:bg-blue-400 text-white rounded-full mr-auto cursor-pointer btn_add_sku">增加物品組合內的物品</div>
                </div>
                <div class="grid grid-cols-12 border-b-2 border-gray-300 items-center">
                    <div class="text-gray-700 px-4 py-4 whitespace-nowrap"></div>
                    <div class="col-span-2 text-gray-700 pr-2 py-4 whitespace-nowrap">SKU</div>
                    <div class="col-span-2 text-gray-700 px-2 py-4 whitespace-nowrap">名稱</div>
                    <div class="text-gray-700 px-2 py-4 whitespace-nowrap">數量</div>
                    <div class="text-gray-700 px-2 py-4 whitespace-nowrap">自動替換/<br>客戶選擇</div>
                    <div class="text-gray-700 px-2 py-4 whitespace-nowrap">額外價格</div>
                    <div class="text-gray-700 px-2 py-4 whitespace-nowrap">成本參考</div>
                    <div class="text-gray-700 px-2 py-4 whitespace-nowrap">備註</div>
                    <div class="text-gray-700 px-2 py-4 whitespace-nowrap">使用中?</div>
                    <div class="text-gray-700 px-2 pr-4 py-4 whitespace-nowrap text-right">操作</div>
                </div>
                <div id="itemList_container">
                    {if $result_array.itemGrpDtl.item_grp_content}
                        <div class="sortableArea">
                        {foreach from=$result_array.itemGrpDtl.item_grp_content key=k item=i}
                            
                            <div class="sku_container grid grid-cols-12 py-2  items-center border-b border-gray-300">
                                <input name="content_id" type="hidden" value="{$i.content_id}">
                                <input name="sku_id" type="hidden" value="{$i.sku_id}">
                                <div class="text-gray-800 ml-2 item_img flex items-center">
                                    <i class="ri-drag-move-2-fill text-2xl text-gray-400 hover:text-gray-500 cursor-move"></i>
                                    <div class="mt-2 ml-2 mb-2 h-10 w-10 bg-center bg-contain bg-no-repeat img" style="background-image: url('{$i.item_img}')"></div>
                                </div>
                                <div class="col-span-2 text-gray-800 pr-2 flex items-center justify-between	">
                                    <div class="sku_val"><a href="admin/item/itemDtl?item_id={$i.item_id}" target="_blank" class="text-blue-700 hover:opacity-70">{$i.sku_val}</a></div>
                                    <div class="flex items-center">
                                        <div class="default_lbl bg-gray-600 text-white text-xs inline-block rounded-md px-1 mx-2 whitespace-nowrap {if $k >0}hidden{/if}">預設</div>
                                        <div class="btn_skuPicker px-4 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full mr-auto cursor-pointer whitespace-nowrap">選擇</div>
                                    </div>
                                </div>
                                <div class="col-span-2 text-gray-800 px-2 flex flex-col">
                                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 mb-1 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_tc" placeholder="中文" value="{$i.name_tc}">
                                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_en" placeholder="英文" value="{$i.name_en}">
                                </div>
                                <div class="text-gray-800 px-2"><input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="qty" value="{$i.qty}" type="number"></div>
                                <div class="text-gray-800 px-2 client_optional">
                                    <div class="client_optional_inner items-center flex {if $k == 0}hidden{/if}">
                                        <div class="mr-2">自動</div>
                                        <label class="switch mr-2">
                                            <input name="client_optional" value='Y' type="checkbox" {if $i.client_optional == 'Y'}checked{/if}>
                                            <span class="slider"></span>
                                        </label>
                                        <div>選擇</div>
                                    </div>
                                </div>
                                <div class="text-gray-800 px-2"><input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 {if $k == 0}cursor-not-allowed bg-gray-100{/if}" name="additional_price" value="{if $k == 0}0{else}{$i.additional_price}{/if}" {if $k == 0}readonly{/if} type="number"></div>
                                <div class="text-gray-800 px-2 cost">{$i.cost}</div>
                                <div class="text-gray-800 px-2 py-4 whitespace-nowrap"><input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks" value="{$i.remarks}"></div>
                                <div class="text-gray-800 px-2 py-4 whitespace-nowrap">
                                    <label class="switch mr-2">
                                        <input name="is_active" value='Y' type="checkbox" {if $i.is_active == 'Y'}checked{/if}>
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="text-gray-800 px-2 pr-4 text-lg action text-right">
                                    <i class="ri-delete-bin-line cursor-pointer btn_del_sku"></i>
                                </div>
                            </div>
                            
                        {/foreach}
                        </div>
                    {else}
                        <div class="sortableArea">
                            <div class="sku_container grid grid-cols-12 py-2  items-center border-b border-gray-300">
                                <input name="content_id" type="hidden" value="0">
                                <input name="sku_id" type="hidden" value="{$i.sku_id}">
                                <div class="text-gray-800 ml-2 item_img flex items-center">
                                    <i class="ri-drag-move-2-fill text-2xl text-gray-400 hover:text-gray-500 cursor-move"></i>
                                    <div class="mt-2 ml-2 mb-2 h-10 w-10 bg-center bg-contain bg-no-repeat img" style="background-image: url('{$i.item_img}')"></div>
                                </div>
                                <div class="col-span-2 text-gray-800 pr-2 flex items-center justify-between	">
                                    <div class="sku_val"><a href="admin/item/itemDtl?item_id={$i.item_id}" target="_blank" class="text-blue-700 hover:opacity-70">{$i.sku_val}</a></div>
                                    <div class="flex items-center">
                                        <div class="default_lbl bg-gray-600 text-white text-xs inline-block rounded-md px-1 mx-2 whitespace-nowrap">預設</div>
                                        <div class="btn_skuPicker px-4 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full mr-auto cursor-pointer whitespace-nowrap">選擇</div>
                                    </div>
                                </div>
                                <div class="col-span-2 text-gray-800 px-2 flex flex-col">
                                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 mb-1 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_tc" placeholder="中文" value="">
                                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_en" placeholder="英文" value="">
                                </div>
                                <div class="text-gray-800 px-2"><input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="qty" value="1" type="number"></div>
                                <div class="text-gray-800 px-2 client_optional">
                                    <div class="client_optional_inner items-center flex">
                                        <div class="mr-2">自動</div>
                                        <label class="switch mr-2">
                                            <input name="client_optional" value='Y' type="checkbox">
                                            <span class="slider"></span>
                                        </label>
                                        <div>選擇</div>
                                    </div>
                                </div>
                                <div class="text-gray-800 px-2"><input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 cursor-not-allowed bg-gray-100" name="additional_price" value="0" readonly type="number"></div>
                                <div class="text-gray-800 px-2 cost">{$i.cost}</div>
                                <div class="text-gray-800 px-2 py-4 whitespace-nowrap"><input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks" value="{$i.remarks}"></div>
                                <div class="text-gray-800 px-2 py-4 whitespace-nowrap">
                                    <label class="switch mr-2">
                                        <input name="is_active" value='Y' type="checkbox" {if $i.is_active == 'Y'}checked{/if}>
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="text-gray-800 px-2 pr-4 text-lg action text-right">
                                    <i class="ri-delete-bin-line cursor-pointer btn_del_sku"></i>
                                </div>
                            </div>
                        </div>
                    {/if}
                    
                    
                        <div class="sku_container_tpl hidden grid grid-cols-12 py-2 items-center border-b border-gray-300" >
                            <input name="content_id" type="hidden" value="0">
                            <input name="sku_id" type="hidden">
                            <div class="text-gray-800 ml-2 item_img flex items-center">
                                <i class="ri-drag-move-2-fill text-2xl text-gray-400 hover:text-gray-500 cursor-move"></i>
                                <div class="mt-2 ml-2 mb-2 h-10 w-10 bg-center bg-contain bg-no-repeat img"></div>
                            </div>
                            <div class="col-span-2 text-gray-800 pr-2 flex items-center justify-between	">
                                <div class="sku_val"></div>
                                <div class="flex items-center">
                                    <div class="default_lbl bg-gray-600 text-white text-xs inline-block rounded-md px-1 mx-2 whitespace-nowrap hidden">預設</div>
                                    <div class="btn_skuPicker px-4 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full mr-auto cursor-pointer whitespace-nowrap">選擇</div>
                                </div>
                            </div>
                            <div class="col-span-2 text-gray-800 px-2 flex flex-col">
                                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 mb-1 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_tc" placeholder="中文" value="">
                                <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_en" placeholder="英文" value="">
                            </div>
                            <div class="text-gray-800 px-2"><input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="qty" value="1" type="number"></div>
                            <div class="text-gray-800 px-2 client_optional">
                                <div class="client_optional_inner items-center flex">
                                    <div class="mr-2">自動</div>
                                    <label class="switch mr-2">
                                        <input name="client_optional" value='Y' type="checkbox">
                                        <span class="slider"></span>
                                    </label>
                                    <div>選擇</div>
                                </div>
                            </div>
                            <div class="text-gray-800 px-2"><input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="additional_price" value="0" type="number"></div>
                            <div class="text-gray-800 px-2 cost">{$i.cost}</div>
                            <div class="text-gray-800 px-2 py-4 whitespace-nowrap"><input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="remarks" value="{$i.remarks}"></div>
                            <div class="text-gray-800 px-2 py-4 whitespace-nowrap">
                                <label class="switch mr-2">
                                    <input name="is_active" value='Y' type="checkbox" {if $i.is_active == 'Y'}checked{/if}>
                                    <span class="slider"></span>
                                </label>
                            </div>
                            <div class="text-gray-800 px-2 pr-4 text-lg action text-right">
                                <i class="ri-delete-bin-line cursor-pointer btn_del_sku"></i>
                            </div>


                        
                        </div>
                    


                </div>

            </div>

            <div class="flex w-full justify-center items-center mt-6 mb-4">
                <input type="submit" class="px-6 py-1 bg-blue-500 text-white rounded-full cursor-pointer hover:opacity-70" value="提交"> 
            </div>
        </form>
    </div>
</div>
 
{include file='module/skuPicker.html'}
{literal}
<script>
$(document).ready(function(){
    inactiveClass = "cursor-not-allowed bg-gray-100";

    $(".sortableArea").sortable({
        onUpdate: function (/**Event*/evt) {
		    $(".sortableArea .sku_container").each(function(idx, val){
                if (idx == 0){
                    $(val).find(".default_lbl").removeClass('hidden')
                    $(val).find(".client_optional_inner").addClass("hidden");
                    $(val).find("[name=client_optional]").prop("checked", false)
                    $(val).find("[name=additional_price]").val("0").addClass(inactiveClass).prop("readonly", true);
                } else {
                    $(val).find(".default_lbl").addClass('hidden')
                    $(val).find(".client_optional_inner").removeClass("hidden");
                    $(val).find("[name=additional_price]").removeClass(inactiveClass).prop("readonly", false);
                }
            })
        }
    })
    $(document).on("click", ".btn_del_sku", function(e){
        $(this).parents(".sku_container").remove();
        $(".sortableArea .sku_container").each(function(idx, val){
            if (idx == 0){
                $(val).find(".default_lbl").removeClass('hidden')
                $(val).find(".client_optional_inner").addClass("hidden");
                $(val).find("[name=client_optional]").prop("checked", false)
                $(val).find("[name=additional_price]").val("0").addClass(inactiveClass).prop("readonly", true);
            } else {
                $(val).find(".default_lbl").addClass('hidden')
                $(val).find(".client_optional_inner").removeClass("hidden");
                $(val).find("[name=additional_price]").removeClass(inactiveClass).prop("readonly", false);
            }
        })
    });

    $(".btn_add_sku").on("click", function(e){
        $tpl = $(".sku_container_tpl").clone();
        $tpl.removeClass("hidden sku_container_tpl");
        $tpl.addClass("sku_container");

        $("#itemList_container .sortableArea").append($tpl);
    });

    $(document).on("click", ".btn_skuPicker", function(e){
        $row = $(this).parents(".sku_container");
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#sku_picker').html(),
            mounted: function(){
                $(".vk-modal-dom").find("[name=skey]").focus().keyup();
                $(document).off("click", ".sku_option");
                $(document).on("click", ".sku_option", function(){
                    $row.find(".img").attr({
                        style: "background-image: url('" + $(this).attr("data-item_img") + "')"
                    });
                    $row.find(".sku_val").html(`<a href="admin/item/itemDtl?item_id=${$(this).attr('data-item_id')}" target="_blank" class="text-blue-700 hover:opacity-70">${$(this).attr('data-sku_val')}</a>`);
                    $row.find("[name=sku_id]").val($(this).attr("data-sku_id"));
                    $row.find("[name=name_tc]").val($(this).attr("data-name_tc")).attr({placeholder: "中文: " + $(this).attr("data-name_tc") + "(預設)"});
                    $row.find("[name=name_en]").val($(this).attr("data-name_en")).attr({placeholder: "英文: " + $(this).attr("data-name_en") + "(預設)"});
                    $row.find(".cost").html($(this).attr("data-cost"));

                    var $this = $(this)
                    if ($this.closest('.vk-modal-dom').length == 1) {
                        $this.closest('.vk-modal-dom').data()._destory()
                    }
                    return;
                });
            }
        });
    });
    
    $("#edit_form").submit(async function(e){
        var item_json = [];
        $(".sku_container").each(function(idx, val){
            $row = $(val)
            if ($row.find("[name=sku_id]").val()){
                var content = {
                    content_id: $row.find("[name=content_id]").val(),
                    sku_id: $row.find("[name=sku_id]").val(),
                    name_tc: $row.find("[name=name_tc]").val(),
                    name_en: $row.find("[name=name_en]").val(),
                    qty: $row.find("[name=qty]").val(),
                    additional_price: $row.find("[name=additional_price]").val(),
                    remarks: $row.find("[name=remarks]").val()
                };
    
                if ($row.find("[name=client_optional]").is(":checked")) {
                    content['client_optional'] = 'Y';
                } else {
                    content['client_optional'] = 'N';
                }
    
                if ($row.find("[name=is_active]").is(":checked")) {
                    content['is_active'] = 'Y';
                } else {
                    content['is_active'] = 'N';
                }
    
                item_json.push(content);
            }
        });

        $("[name=item_grp_content_json_str]").val(JSON.stringify(item_json));
        
        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data)
                } else {
                    if ($("[name=grp_id]").val() == 0)
                        location.href = "admin/item/itemGrpDtl?grp_id=" + data.result.grp_id
                    else
                        globalLoader($loader);
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
});

</script>
{/literal}