

<main class="bg-white">
    <form id="child_edit_form">
        <input type="hidden" name="item_id" value="{if $result_array.item}{$result_array.item.item_id}{else}0{/if}" >
        <!-- item detail handler -->
        <div class="select-none px-6">
            <div class="flex gap-x-12">
            <!-- image-->
            <div class="flex items-start gap-x-8 w-full">
                <!-- Left Col-->
                <div>
                <h2 class="text-xl font-bold text-gray-800 mt-5 mb-2">物品圖片</h2>
    
                
                
                <label
                    for="item_img"
                    class="w-108 h-108 bg-gray-200 rounded border-2 border-gray-300 border-dashed flex items-center justify-center mt-6 bg-contain cursor-pointer bg-no-repeat bg-center"
                    style="{if $result_array.item.item_img}background-image:url('{$result_array.item.item_img}'); border-style: solid;{/if}"
                    data-item_id="{$result_array.item.item_id}">
                    <input type="hidden" name="item_img" value="{$result_array.item.item_img}">
                    {if $result_array.item.item_img}
                    
                    {else}
                    <div class="text-center text-gray-400 lbl">
                        <i class="ri-add-line text-6xl"></i>
                        <div class="text-2xl">新增圖片</div>
                    </div>
                    {/if}
                </label>
                </div>
                <!-- Right Col-->
                <div class="grid grid-cols-4 gap-x-6 gap-y-3 flex-grow">
                <h2 class="col-span-4 text-xl font-bold text-gray-800 mt-5 mb-2">
                    供應商相關基本資料
                </h2>
                <div class="col-span-2">
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">SKU</label>
                    <div class="">
                    <input readonly value="{$result_array.item.sku}" class="w-full border border-gray-300 rounded px-2 py-1 bg-gray-100 text-gray-800" />
                    </div>
                </div>
                <div class="col-span-2">
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">供應商</label>
                    
                    <div class="">
                        <input readonly value="{$result_array.item.supplier.name_tc}({$result_array.item.supplier.name_en})" class="w-full border border-gray-300 rounded px-2 py-1 bg-gray-100 text-gray-800" />
                    </div>
                    <!-- <input
                        class="w-full border border-gray-300 rounded px-2 py-1"
                        placeholder="供應商"
                        value="{$result_array.item.supplier.name_tc}"
                        name="supplier"
                    /> -->
                </div>
                <div class="col-span-2">
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">中文名稱（供應商）</label>
                    <div class="">
                    <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="中文名稱（供應商）" value="{$result_array.item.supplier_name_tc}" name="supplier_name_tc"/>
                    </div>
                </div>
                <div class="col-span-2">
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">英文名稱（供應商）</label>
                    <div class="">
                        <input class="w-full border border-gray-300 px-2 py-1" placeholder="英文名稱（供應商）" value="{$result_array.item.supplier_name_en}" name="supplier_name_en"/>
                    </div>
                </div>
                <div>
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">物品種類</label>
                    
                    <div class="">
                        <input readonly class="lbl bg-gray-100 text-gray-800 w-full border border-gray-300 rounded px-2 py-1" value="{$result_array.item.cate.child_list.0.cate_name_tc}{if $result_array.item.cate.child_list.0.cate_name_en} ({$result_array.item.cate.child_list.0.cate_name_en}){/if}" /> 
                    </div>
                </div>
                <div>
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">品牌</label>
                    
                    <div class="relative dropdown-container">
                        <input type="hidden" class="val" name="brand_id" value="{$result_array.item.brand.brand_id}" />
                        <input name="brand" class="lbl w-full border border-gray-300 rounded px-2 py-1" value="{$result_array.item.brand.brand_name_tc}{if $result_array.item.brand.brand_name_en}({$result_array.item.brand.brand_name_en}){/if}" autocomplete="off"/> 
                        <div class="dropdown border-l border-r border-b absolute bg-white z-20 border-gray-300 rounded-b max-h-52 overflow-auto hidden w-full">
                            <div class="dropdown-closer fixed top-0 left-0 h-screen w-screen z-10"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"> 款式（選填） </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="款式（選填）" value="{$result_array.item.pattern}" name="pattern" />
                    </div>
                </div>
                <div>
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"> 國家 </label>
                    <div class="">
                        <select class="selectize w-full rounded " name="country_id">
                            <option value="">-- 不適用 --</option> 
                            {foreach from=$result_array.country_list item=i}
                            <option value="{$i.country_id}">{$i.country_name_tc}({$i.country_name_en})</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div>
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"> 貨品編號（供應商） </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="貨品編號（供應商）" value="{$result_array.item.supplier_stock_code}" name="supplier_stock_code" />
                    </div>
                </div>
                <div>
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"> 單位／箱（選填） </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="單位／箱（選填）" value="{$result_array.item.unit}" name="unit" />
                    </div>
                </div>
                <div>
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"> 批發價（成本） </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="批發價（成本）" value="{$result_array.item.cost}" name="cost" />
                    </div>
                </div>
                <div>
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"> 購入價（入貨參考）</label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="購入價（入貨參考）" value="{$result_array.item.stockin_price}" name="stockin_price" />
                    </div>
                </div>
                <div class="col-span-2">
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"> 建議零售價（選填） </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="建議零售價（選填）" value="{$result_array.item.suggested_price}" name="suggested_price" />
                    </div>
                </div>
                <div class="col-span-2">
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"> 商品條碼（選填） </label>
                    <div class="flex flex-stretch">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="商品條碼（選填）" name="supplier_barcode" value="{$result_array.item.supplier_barcode}" /> 
                        {if $result_array.item}
                        <div class="btn_gen_barcode inline-flex items-center justify-center border border-gray-300 px-2 cursor-pointer">
                            <i class="ri-barcode-line"></i>
                            <span class="whitespace-nowrap ml-2">預覽條碼</span>
                        </div> 
                        {/if}
                    </div>
                </div>
                <div class="col-span-2 grid grid-cols-2">
                    <div>
                        <label class="font-bold text-base text-gray-500 mb-1 inline-block">物品存量可以為無限</label>
                        <div class="flex flex-stretch">
                            <label class="switch">
                                <input type="hidden" name="is_unlimited_qty">
                                <input id="is_unlimited_qty" type="checkbox" {if $result_array.item.is_unlimited_qty === 'Y'}checked{/if}>
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <label class="font-bold text-base text-gray-500 mb-1 inline-block">前台將會顯示數量</label>
                        <div class="flex flex-stretch">
                            <label class="switch">
                                <input type="hidden" name="is_product_page_show_qty">
                                <input id="is_product_page_show_qty" type="checkbox" {if $result_array.item.is_product_page_show_qty === 'Y'}checked{/if}>
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <h2 class="col-span-4 text-xl font-bold text-gray-800 mt-5 mb-2">
                    物品標籤
                </h2>
                <div class="col-span-4 flex">
                    <div class="w-full">
                        <div class="relative dropdownMulti-container">
                            <div class="selected_list flex w-full border border-gray-300 rounded px-2 py-1 flex-wrap">
                                {foreach from=$result_array.item.tag_list item=parent}
                                    {foreach from=$parent.child_list item=i}
                                    <div class="selectedOption rounded px-2 py-1 border-gray-300 border m-1 flex-none cursor-pointer flex items-center" data-val="{$i.tag_id}">{$i.tag_name_tc}({$i.tag_name_en}) <i class="ri-close-line ml-2 text-sm"></i></div>
                                    {/foreach}
                                {/foreach}
                                <input name="tag" class="lbl flex-grow m-1" value="" autocomplete="off"/> 
                            </div>
                            <div class="dropdownMulti border-l border-r border-b absolute bg-white z-50 border-gray-300 rounded-b max-h-52 overflow-auto hidden w-full">
                                <div class="dropdownMulti-closer fixed top-0 left-0 h-screen w-screen z-10"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="col-span-4 text-xl font-bold text-gray-800 mt-5 mb-2">
                    物品備註
                </h2>
                <div class="col-span-4 flex">
                    <textarea
                    placeholder="任何物品備註"
                    class="w-full border border-gray-300 rounded py-2 px-3 resize-none"
                    rows="4"
                    name="remarks"
                    >{$result_array.item.remarks}</textarea>
                </div>
        
                <h2 class="col-span-4 text-xl font-bold text-gray-800 mt-5 mb-2">
                    顯示設定
                </h2>
                <div class="col-span-2">
                    <label
                    class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
                    >
                    內部提示中文名稱
                    </label>
                    <div class="">
                    <input
                        class="w-full border border-gray-300 rounded px-2 py-1"
                        placeholder="內部提示中文名稱"
                        value="{$result_array.item.inhouse_name_tc}"
                        name="inhouse_name_tc"
                    />
                    </div>
                </div>
                <div class="col-span-2">
                    <label
                    class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
                    >
                    內部提示英文名稱
                    </label>
                    <div class="">
                    <input
                        class="w-full border border-gray-300 rounded px-2 py-1"
                        placeholder="內部提示英文名稱"
                        value="{$result_array.item.inhouse_name_en}"
                        name="inhouse_name_en"
                    />
                    </div>
                </div>
                <div class="col-span-2">
                    <label
                    class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
                    >
                    The Gift 中文名稱
                    </label>
                    <div class="">
                    <input
                        class="w-full border border-gray-300 rounded px-2 py-1"
                        placeholder="the Gift網站內顯示名稱"
                        value="{$result_array.item.gift_name_tc}"
                        name="gift_name_tc"
                    />
                    </div>
                </div>
                <div class="col-span-2">
                    <label
                    class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
                    >
                    The Gift 英文名稱
                    </label>
                    <div class="">
                    <input
                        class="w-full border border-gray-300 rounded px-2 py-1"
                        placeholder="the Gift網站內顯示名稱"
                        value="{$result_array.item.gift_name_en}"
                        name="gift_name_en"
                    />
                    </div>
                </div>
                <div class="col-span-2">
                    <label
                    class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
                    >
                    LoTaiPo 中文名稱
                    </label>
                    <div class="">
                    <input
                        class="w-full border border-gray-300 rounded px-2 py-1"
                        placeholder="Lo Tai Po網站內顯示名稱"
                        value="{$result_array.item.ltp_name_tc}"
                        name="ltp_name_tc"
                    />
                    </div>
                </div>
                <div class="col-span-2">
                    <label
                    class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
                    >
                    LoTaiPo 英文名稱
                    </label>
                    <div class="">
                    <input
                        class="w-full border border-gray-300 rounded px-2 py-1"
                        placeholder="Lo Tai Po網站內顯示名稱"
                        value="{$result_array.item.ltp_name_en}"
                        name="ltp_name_en"
                    />
                    </div>
                </div>
                <div class="col-span-2">
                    <label
                    class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
                    >
                    Little Zuri 中文名稱
                    </label>
                    <div class="">
                    <input
                        class="w-full border border-gray-300 rounded px-2 py-1"
                        placeholder="Little Zuri網站內顯示名稱"
                        value="{$result_array.item.zuri_name_tc}"
                        name="zuri_name_tc"
                    />
                    </div>
                </div>
                <div class="col-span-2">
                    <label
                    class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
                    >
                    Little Zuri 英文名稱
                    </label>
                    <div class="">
                    <input
                        class="w-full border border-gray-300 rounded px-2 py-1"
                        placeholder="Little Zuri網站內顯示名稱"
                        value="{$result_array.item.zuri_name_en}"
                        name="zuri_name_en"
                    />
                    </div>
                </div>
                <div class="col-span-2">
                    <label
                    class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
                    >
                    產品別稱
                    </label>
                    <div class="">
                    <input
                        class="w-full border border-gray-300 rounded px-2 py-1"
                        placeholder="產品別稱"
                        value="{$result_array.item.alias}"
                        name="alias"
                    />
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </form>

    <!-- panel -->
    <div class="flex py-4 px-4 border-t border-gray-300 mt-3">
        <button onclick="killVkmodal($('.childPopup').attr('data-vkmodal-id')); return false;" class="font-bold rounded px-6 py-3 ml-auto text-2xl mr-3 border border-gray-300 text-gray-500 hover:opacity-75">取消</button>
        <button class="cursor-pointer btn_child_submit_form bg-blue-500 text-white font-bold rounded px-6 py-3 text-2xl hover:bg-blue-400">{if $result_array.item}更新物品{else}新增物品{/if}</button>
    </div>
</main>

<script>
var child_item_cate_id = '{$result_array.item.cate.cate_id}';
var child_supplier_id = '{$result_array.item.supplier.supplier_id}';
var country_id = '{$result_array.item.country_id}';


</script>

{literal}
<script>
    $(document).ready(function(){
        
        setTimeout(function(){
            $("#child_edit_form [name=country_id]")[0].selectize.setValue(country_id)
        }, 100);

        $(".selectize").selectize({});


        $(".btn_child_submit_form").on("click", async function (e) {
            $loader = await globalLoader();
            e.preventDefault();

            if ($("#child_edit_form #is_unlimited_qty").is(":checked")) {
                $("#child_edit_form [name=is_unlimited_qty]").val("Y")
            } else {
                $("#child_edit_form [name=is_unlimited_qty]").val("N")
            }

            if ($("#child_edit_form #is_product_page_show_qty").is(":checked")) {
                $("#child_edit_form [name=is_product_page_show_qty]").val("Y")
            } else {
                $("#child_edit_form [name=is_product_page_show_qty]").val("N")
            }

            var unidx = $("#child_edit_form").serializeArray()
            var data = [];
            $.map(unidx, function(n, i){
                data[n['name']] = n['value'];
            });

            tag_id_arr = [];
            $("#child_edit_form [name=tag]").parents(".dropdownMulti-container").find(".selectedOption").each(function(idx, val){
                tag_id_arr.push($(val).attr("data-val"));
            });

            data['tag_id_arr'] = tag_id_arr.toString();

            data['item_cate_id'] = child_item_cate_id;
            data['supplier_id'] = child_supplier_id;

            $.bajax({
                url: '/admin/item/api/editItem',
                method: 'POST',
                formElement: 'N',
                data: data,
                callback: function (data) {
                    location.reload()
                    // killVkmodal($(".childPopup").attr("data-vkmodal-id"));
                    globalLoader($loader);
                },
                errorCallback: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            });
        })

        $(".dropdown-container .lbl").on("click", function(){
        $container = $(this).parents(".dropdown-container");
        
        $container.find(".option").removeClass("hidden");
        $container.find(".dropdown").removeClass("hidden");
        $container.find(".lbl").addClass("rounded-b-none");

        
        $container.find(".dropdown-closer").on("click", function(e){
            $container.find(".dropdown").addClass("hidden")
            $container.find(".lbl").removeClass("rounded-b-none");
        })
        
    }).on("keyup", function(){
        $container = $(this).parents(".dropdown-container");
        var val = $(this).val().toLowerCase();
        var val_list = [];
        $container.find(".option").each(function(idx, option){
            if ($(option).html().toLowerCase().indexOf(val) >= 0){
                $(option).removeClass("hidden")
            } else {
                $(option).addClass("hidden")
            }
        });
    }).on("focusout", function(){
        $container = $(this).parents(".dropdown-container");

        val_list = [];
        $container.find(".dropdown .option").each(function(idx, ele){
            val_list.push(ele.innerText);
        })

        if (val_list.indexOf($(this).val() <0)){
            $(this).siblings(".val").val("");
            $(this).val("");
        }
    });

    $(document).on("click", ".dropdown-container .option", function(){
        $container = $(this).parents(".dropdown-container");

        $container.find(".dropdown").addClass("hidden")
        $container.find(".lbl").removeClass("rounded-b-none");
    })

    $(".dropdownMulti-container .lbl").on("click", function(){
        $container = $(this).parents(".dropdownMulti-container");
        $container.find(".option").removeClass("hidden");

        $container.find(".dropdownMulti").removeClass("hidden");
        $container.find(".selected_list").addClass("rounded-b-none");

        setTimeout(function(){
            $container.find(".dropdown-closer").on("click", function(e){
                $container.find(".dropdown").addClass("hidden")
                $container.find(".lbl").removeClass("rounded-b-none");
            })

            $container.find(".dropdownMulti-closer").on("click", function(e){
                $container.find(".dropdownMulti").addClass("hidden")
                $container.find(".selected_list").removeClass("rounded-b-none");
            })
        }, 200)
    }).on("keyup", function(){
        $container = $(this).parents(".dropdownMulti-container");
        var val = $(this).val().toLowerCase();
        var val_list = [];
        $container.find(".option").each(function(idx, option){
            if ($(option).html().toLowerCase().indexOf(val) >= 0){
                $(option).removeClass("searchHidden")
            } else {
                $(option).addClass("searchHidden")
            }
        });
    }).on("focusout", function(){
        $(this).val("")
    })
    
    $("[name=brand]").on("click", function(e){
        $dropdown = $(this).siblings(".dropdown");

        $dropdown.find(".option").remove();

        $.bajax({
            url: "admin/item/api/getBrandList",
            method: 'POST',
            formElement: 'N',
            data: {},
            callback: function(data) {
                brandList = data.result.item_brand_list;


                $option = $("<div/>").attr({
                    class: "option p-2 z-20 relative hover:bg-gray-200 hover:text-grey-600 cursor-pointer",
                    "data-val" :''
                }).html(`-- 不適用 --`);
                                
                $option.on("click", function(){
                    $container = $(this).parents(".dropdown-container");
                    
                    $container.find(".lbl").val($(this).html())
                    $container.find(".val").val($(this).attr("data-val"));
                });

                
                $dropdown.append($option);

                brandList.forEach(function(val,idx){
                    
                    $option = $("<div/>").attr({
                        class: "option p-2 z-20 relative hover:bg-gray-200 hover:text-grey-600 cursor-pointer",
                        "data-val" :val.brand_id
                    }).html(`${val.brand_name_tc}(${val.brand_name_en})`);
                                    
                    $option.on("click", function(){
                        $container = $(this).parents(".dropdown-container");
                        
                        $container.find(".lbl").val($(this).html())
                        $container.find(".val").val($(this).attr("data-val"));
                    });

                    $dropdown.append($option);
                });
                // return true;
            }
        });
    });

    $("[name=item_cate]").on("click", function(e){
        $dropdown = $(this).siblings(".dropdown");

        $dropdown.find(".option").remove();
        $dropdown.find(".option_grp").remove();

        $.bajax({
            url: "admin/item/api/getItemCateList",
            method: 'POST',
            formElement: 'N',
            data: {},
            callback: function(data) {
                item_cate_list = data.result.item_cate_list;

                item_cate_list.forEach(function(cate,idx){
                    $option_grp = $("<div/>").attr({
                        class: "option_grp p-2 z-20 relative pointer-event-none",
                    }).html(`--${cate.cate_name_tc}(${cate.cate_name_en})--`);
                    $dropdown.append($option_grp);

                    cate.child_list.forEach(function(cate, idx){
                        $option = $("<div/>").attr({
                            class: "option p-2 z-20 relative hover:bg-gray-200 hover:text-grey-600 cursor-pointer",
                            "data-val" :cate.cate_id
                        }).html(`${cate.cate_name_tc}(${cate.cate_name_en})`);
                                        
                        $option.on("click", function(){
                            $container = $(this).parents(".dropdown-container");
                            
                            $container.find(".lbl").val($(this).html())
                            $container.find(".val").val($(this).attr("data-val"));
                            item_cate_id = cate.cate_id;
                            generateSku();
                        });
    
                        $dropdown.append($option);
                    });
                });
                // return true;
            }
        });
    });

    $("[name=tag]").on("click", function(e){
        $container = $(this).parents(".dropdownMulti-container");
        $dropdown = $container.find(".dropdownMulti");
        $dropdown.find(".option").remove();
        $dropdown.find(".option_grp").remove();

        $.bajax({
            url: "admin/item/api/getItemTagList",
            method: 'POST',
            formElement: 'N',
            data: {},
            callback: function(data) {
                tag_list = data.result.item_tag_list;

                tag_list.forEach(function(tag,idx){
                    $option_grp = $("<div/>").attr({
                        class: "option_grp p-2 z-20 relative pointer-event-none",
                    }).html(`--${tag.tag_name_tc}(${tag.tag_name_en})--`);
                    $dropdown.append($option_grp);

                    tag.child_list.forEach(function(tag, idx){
                        $option = $("<div/>").attr({
                            class: "option p-2 z-20 relative hover:bg-gray-200 hover:text-grey-600 cursor-pointer flex items-center",
                            "data-val" :tag.tag_id
                        }).html(`${tag.tag_name_tc}(${tag.tag_name_en})`);
                                        

                        // check if it is selecting or not
                        if ($container.find(`.selected_list [data-val=${tag.tag_id}]`).length > 0)
                            $option.addClass("hidden")


                        $option.off("click").on("click", function(){
                            if ($container.find(`.selected_list [data-val=${tag.tag_id}]`).length == 0){
                                $div = $("<div/>").attr({
                                    class: "selectedOption rounded px-2 py-1 border-gray-300 border m-1 flex-none cursor-pointer flex items-center",
                                    "data-val": tag.tag_id
                                }).html(`${tag.tag_name_tc}(${tag.tag_name_en}) <i class="ri-close-line ml-2 text-sm"></i>`)


                                $div.on("click", function(){
                                    val = $(this).attr('data-val');
                                    $(this).remove();
                                    $container.find(`.dropdownMulti [data-val=${val}]`).removeClass("hidden");
                                });


                                $(this).addClass("hidden");
    
                                $container.find(".selected_list").prepend($div);
                            }
                        });
    
                        $dropdown.append($option);
                    });
                });
            }
        });
    });

    });
</script>
{/literal}