<main class="flex items-stretch h-full overflow-y-hidden">
    <div class="bg-white h-full w-64">
        <a href="/admin/item/supplierDtl_2022" class="bg-blue-500 font-bold inline-flex items-center text-white  my-3 font-bold px-3 py-2 mx-2 my-2 pr-4 hover:opacity-75"><i class="ri-add-fill mr-2"></i><span>新增供應商</span></a>
        <div id="supplier-list-js" class=" overflow-y-auto h-full">
        </div>
    </div>

    <div class="item-list flex-grow bg-gray-100 border-l border-gray-200 ">
        <div class="item-list-title px-4 py-2 bg-white">
            <div class="flex items-center">
                <div>
                    <div id="supplier-counter" class="flex items-center">
                        <div class="supplier-title-js font-bold text-2xl"></div>
                        <a href="/admin/item/supplierDtl_2022?supplier=" class="ml-2 edit_supplier_link hidden items-center
                            px-3 py-1 rounded border border-gray-300 hover:opacity-75"><i
                                class="ri-pencil-line"></i><span>編輯</span></a>
                    </div>
                    <p>物件總數量 : <span id="item-counter-js"></span></p>
                </div>
                <div class="flex ml-auto">
                    <div class="relative flex">
                        <button class="btn_cate_switch flex items-center mr-2 px-3">
                            <div>顯示種類 - <span class="font-bold" id="picked-cate-js">所有</span></div>
                            <i class="ri-arrow-down-s-fill"></i>
                        </button>
                        <div
                            class="select-type-list bg-white rounded-lg shadow border border-gray-200 w-96 absolute right-0 top-full py-1 hidden">
                            <div class="grid grid-cols-2 gap-x-2">
                                <div class="col-span-2 flex items-center">
                                    <input class="ml-2" type="checkbox" id="cate-check-all" checked />
                                    <label for="cate-check-all"
                                        class="cursor-pointer flex-grow font-bold ml-2 py-1 text-lg">顯示所有</label>
                                </div>

                                {foreach from=$result_array.item_cate_list item=i}
                                    <div class="parent col-span-2 grid grid-cols-2 items-center">
                                        <div class="bg-gray-200 h-px col-span-2"></div>
                                        <div class="col-span-2 flex items-center">
                                            <input class="parent_check_box ml-2" type="checkbox"
                                                id="cate-check-{$i.cate_id}" checked />
                                            <label for="cate-check-{$i.cate_id}"
                                                class="cursor-pointer flex-grow font-bold ml-2 py-1 text-lg">{$i.cate_name_tc}</label>
                                        </div>

                                        <div class="col-span-2 grid grid-cols-2 children_group">
                                            {foreach from=$i.child_list item=ii}
                                                <div class="col-span-1 flex items-center">
                                                    <input name="cate" class="ml-2" type="checkbox"
                                                        id="cate-check-{$ii.cate_id}" checked value="{$ii.cate_id}" />
                                                    <label for="cate-check-{$ii.cate_id}"
                                                        class="cursor-pointer flex-grow ml-2 py-1">{$ii.cate_name_tc}</label>
                                                </div>
                                            {/foreach}
                                        </div>
                                    </div>
                                {/foreach}
                            </div>
                        </div>
                    </div>
                    <div
                        class="search-bar flex items-center bg-white rounded-lg border border-gray-300 overflow-hidden">
                        <i class="ri-search-line text-xl ml-3 leading-none text-gray-700"></i>
                        <input placeholder="標籤、名字、條碼、SKU搜尋" class="bg-transparent px-3 py-2 w-72" name="skey" />
                    </div>
                </div>
            </div>
        </div>
        <div class="operator-nav border-gray-200 border-t px-4 flex">
            <a href="/admin/item/createItem" class="bg-blue-500 text-white ml-auto my-3 font-bold px-4 py-2">新增物品</a>
        </div>
        <div class="item-list-looper-act border-b border-gray-200">

        </div>
    </div>
</main>


{literal}

    <script>
        $(document).ready(function() {
            window.supplierList = null
            window.activeSupplier = null
            $(document).on("click", ".btn_toggle_various_list", function() {
                var parent_item_id = $(this).parents(".parent").attr("data-item-id")
                if ($(this).hasClass("ri-add-line")) {
                    // hide
                    $(this).removeClass("ri-add-line").addClass("ri-subtract-line")
                    $(`[data-parent_id=${parent_item_id}]`).removeClass("hidden");
                } else {
                    // expand
                    $(this).removeClass("ri-subtract-line").addClass("ri-add-line")
                    $(`[data-parent_id=${parent_item_id}]`).addClass("hidden");
                }
            })

            $(document).on("keyup", "[name=skey]", function() {
                refreshItemList();
            });

            $(document).on("click", ".btn_cate_switch", function() {
                $(".select-type-list").toggleClass("hidden");
            });

            $(document).on("change", "[name=cate]", function() {
                if ($(this).parents(".children_group").find("[name=cate]:not(:checked)").length > 0) {
                    // some siblings are not checked
                    $(this).parents(".parent").find(".parent_check_box").prop("checked", false);
                } else {
                    // all silbings are checked
                    $(this).parents(".parent").find(".parent_check_box").prop("checked", true);
                }

                if ($(".parent_check_box:not(:checked)").length > 0) {
                    $("#cate-check-all").prop("checked", false);
                } else {
                    $("#cate-check-all").prop("checked", true);
                }

                refreshItemList();
            })

            $(document).on("change", "#cate-check-all", function() {
                if ($(this).prop("checked")) {
                    $(".parent_check_box").prop("checked", true);
                    $("[name=cate]").prop("checked", true);
                } else {
                    $(".parent_check_box").prop("checked", false);
                    $("[name=cate]").prop("checked", false);
                }

                refreshItemList();
            });

            $(document).on("change", ".parent_check_box", function() {
                if ($(this).prop("checked")) {
                    $(this).parents(".parent").find("[name=cate]").prop("checked", true);
                } else {
                    $(this).parents(".parent").find("[name=cate]").prop("checked", false);
                }

                refreshItemList();
            });


            //get supplier with api
            function refreshSupplierList(fnCallback, activeSupplier = null) {
                $.bajax({
                    url: "/admin/supplier/api/getSupplierList",
                    debug: 'N',
                    formElement: 'N',
                    //formElementID: 'loginForm',
                    callback: function(data) {
                        window.supplierList = data.result.supplier_list
                        var supplierListDom = `
                            <a href="#" class="supplier-indi show-all-item px-4 py-2 block hover:bg-gray-50 opacity-50 font-bold">
                                <div class="whitespace-nowrap">全部供應商</div>
                            </a>
                                                    `
                        data.result.supplier_list.map(function(supplier,
                            supplierIndex) {
                            supplierListDom += `
<a href="#" class="supplier-indi px-4 py-2 block hover:bg-gray-50 opacity-50 font-bold" data-supplier="${supplier.supplier_id}">
<div class="whitespace-nowrap">[${supplier.short_form}]${supplier.name_tc}</div></a>
                            `;
                        })
                        $('#supplier-list-js').html(supplierListDom)

                        //then callback
                        fnCallback()
                    },
                    errorCallback: function(jqXHR) {
                        debug(jqXHR);
                    }
                });
            }

            //get items with api
            function refreshItemList(supplierId = null) {
                //get active supplier
                if (supplierId == null) {
                    //coomented : do not set a active supplier with default - just leave if blank for all items
                    //window.activeSupplier = window.supplierList[0]
                    $('.supplier-title-js').html('全部供應商')
                    //reset active supplier
                    $(`.supplier-indi:eq(0)`).removeClass('opacity-50').siblings('.supplier-indi').addClass(
                        'opacity-50')
                    $('.edit_supplier_link').removeClass('flex').addClass('hidden')
                } else {

                    console.log(supplierId)
                    //reset active supplier
                    $(`.supplier-indi[data-supplier="${supplierId}"]`).removeClass('opacity-50').siblings('.supplier-indi').addClass('opacity-50')
                    window.supplierList.forEach((supplier, index) => {
                        if (supplier.supplier_id == supplierId) {
                            window.activeSupplier = window.supplierList[index]
                            $('.supplier-title-js').html(window.activeSupplier.name_tc)
                        }
                    })
                    //active edit button for supplier
                    $('.edit_supplier_link').attr('href', '/admin/item/supplierDtl_2022?supplier=' + supplierId)
                        .removeClass('hidden').addClass('flex')
                }

                var cate_id_arr = []
                $("[name=cate]:checked").each(function(idx, val) {
                    cate_id_arr.push($(val).val())
                });

                var data = {
                    supplier_id: supplierId,
                    cate_id_arr: cate_id_arr.join(','),
                    skey: $("[name=skey]").val()
                };

                $.bajax({
                    url: "/admin/item/api/getItemList",
                    debug: 'N',
                    data: data,
                    formElement: 'N',
                    //formElementID: 'loginForm',
                    callback: function(data) {
                        console.log(data)
                        var $container = $('.item-list-looper-act')
                        //html item counter 
                        $('#item-counter-js').html(data.result.length)
                        var supplierListDom = data.result.map(function(item, itemIndex) {
                            html = `
<div href="#" class="item-indi pr-4 py-2 block flex items-center bg-white border-t border-gray-200 gap-x-2 parent " data-item-id="${item.item_id}">
                                <!-- Expand -->
<div><i class="btn_toggle_various_list ri-add-line pl-6 pr-2 py-6 ri-add-line text-2xl cursor-pointer ${item.various_item_list.length > 0?'':'opacity-0' }"></i></div>
                                <!-- Check box -->
                                <div></div>
                                <!-- Main Image -->
<div class="h-12 w-12 rounded overflow-hidden bg-gray-200"><img src="${item.item_img}" onerror="this.style.display='none'" class="h-12 object-cover" alt="img"></div>
                                <!-- Main Image -->
                                <div class="item-title-desc">
<div class="whitespace-nowrap font-bold">${item.inhouse_name_tc}</div>
<div class="whitespace-nowrap text-xs text-gray-700">${item.sku}</div>
<div class="whitespace-nowrap text-xs text-gray-700">別稱 : ${item.alias}</div>
                                </div>
                                <div>
<div class="ml-2">數量 : <span>${item.qty}</span></div>
                                </div>
                                <div class="flex items-center ml-auto gap-x-2">
<a href="/admin/item/itemDtl?item_id=${item.item_id}" class="flex items-center px-3 py-2 rounded border border-gray-300 hover:opacity-75"><i class="ri-pencil-line"></i><span>編輯</span></a>
                                    <a href="#" class="flex items-center px-3 py-2 rounded border border-gray-300 hover:opacity-75"><i class="ri-delete-bin-line"></i><span>刪除</span></a>
                                </div>
                            </div>
                            `;

                            if (item.various_item_list) {
                                item.various_item_list.forEach(function(child, childIdx) {
                                    html += `
<div href="#" class="item-indi px-4 py-2 pl-24 block flex items-center bg-white border-t border-gray-200 gap-x-2 hidden bg-gray-50 " data-item-id="${child.item_id}" data-parent_id="${item.item_id}">
                                        <!-- Check box -->
                                        <div></div>
                                        <!-- Main Image -->
<div class="h-12 w-12 rounded overflow-hidden bg-gray-200"><img src="${child.item_img}" onerror="this.style.display='none'" class="h-12 object-cover" alt="img"></div>
                                        <!-- Main Image -->
                                        <div class="item-title-desc">
<div class="whitespace-nowrap font-bold">${child.inhouse_name_tc}</div>
<div class="whitespace-nowrap text-xs text-gray-700">${child.sku}</div>
<div class="whitespace-nowrap text-xs text-gray-700">別稱 : ${child.alias}</div>
                                        </div>
                                        <div>
<div class="ml-2">數量 : <span>${child.qty}</span></div>
                                        </div>
                                        <div class="flex items-center ml-auto gap-x-2">
<a href="/admin/item/itemDtl?item_id=${child.item_id}" class="flex items-center px-3 py-2 rounded border border-gray-300 hover:opacity-75"><i class="ri-pencil-line"></i><span>編輯</span></a>
                                            <a href="#" class="flex items-center px-3 py-2 rounded border border-gray-300 hover:opacity-75"><i class="ri-delete-bin-line"></i><span>刪除</span></a>
                                        </div>
                                    </div>
                                    `;
                                });
                            }



                            return html;
                        })
                        $container.html(supplierListDom)

                    },
                    errorCallback: function(jqXHR) {
                        debug(jqXHR);
                    }
                });
            }


            //bindling listener
            $(document).on('click', '.supplier-indi', function(e) {
                //supplier indi clicked
                e.preventDefault()
                var $this = $(this)
                if ($this.hasClass('show-all-item')) {
                    refreshItemList()
                    history.replaceState({}, null, '/admin/item/itemListWithSupplier')
                } else {
                    refreshItemList($this.data().supplier)
                    history.replaceState({}, null, '/admin/item/itemListWithSupplier?supplier=' + $this.data().supplier)
                }

            })

            //init
            function listPageInit() {
                //get current supplier
                var urlQuery = unserialize(window.location.search)
                
                //call refresh item list after supplier ajax called
                refreshSupplierList(function() {
                    refreshItemList(urlQuery.supplier ? urlQuery.supplier : null)
                })
            }

            listPageInit();
        })
    </script>

    <style>
        .navigation-section {
            display: none;
        }
    </style>
{/literal}