<script src="js/qrcode.min.js"></script>

<main id="main-container" class="bg-white" data-supplier="{$result_array.item.supplier_id}">
    <div id="back_wrapper" class=" px-4 py-4 overflow-y-auto">
        <!-- <a class="back-to-list-js inline-flex font-bold rounded px-3 py-1 ml-auto mr-3 border border-gray-300 text-gray-500 hover:opacity-75 mb-2">
            <i class="ri-arrow-left-line"></i>
            <span class="ml-2">返回</span>
        </a> -->
        <h1 class="text-3xl font-bold border-gray-200 border-b pb-3">
        {if $result_array.item}{$result_array.item.inhouse_name_tc}{else}新增物品{/if}
        </h1>
    </div>
    <form id="uploadItemImgForm" class="hidden">
        <input type="file" id="item_img" name="item_img">
        <input name="item_id" value="0" >
    </form>

    <form id="edit_form">
        <input type="hidden" name="item_id" value="{if $result_array.item}{$result_array.item.item_id}{else}0{/if}" >
        <!-- item detail handler -->
        <div class="select-none px-6">
            <div class="flex gap-x-12">
            <!-- image-->
            <div class="flex items-start gap-x-8 w-full">
                <!-- Left Col-->
                <div>
                <h2 class="text-xl font-bold text-gray-800 mt-5 mb-2">物品圖片</h2>
                <label
                    for="item_img"
                    class="w-108 h-108 bg-gray-200 rounded border-2 border-gray-300 border-dashed flex items-center justify-center mt-6 bg-contain cursor-pointer bg-no-repeat bg-center"
                    style="{if $result_array.item.item_img}background-image:url('{$result_array.item.item_img}'); border-style: solid;{/if}"
                    data-item_id="{$result_array.item.item_id}">
                    <input type="hidden" name="item_img" value="{$result_array.item.item_img}">
                    {if $result_array.item.item_img}
                    
                    {else}
                    <div class="text-center text-gray-400 lbl">
                        <i class="ri-add-line text-6xl"></i>
                        <div class="text-2xl">新增圖片</div>
                    </div>
                    {/if}
                </label>
                </div>
                <!-- Right Col-->
                <div class="grid grid-cols-4 gap-x-6 gap-y-3 flex-grow">
                <h2 class="col-span-4 text-xl font-bold text-gray-800 mt-5 mb-2">
                    供應商相關基本資料
                </h2>
                <div class="col-span-2">
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">SKU</label>
                    <div class="">
                    <input readonly value="{$result_array.item.sku}" class="w-full border border-gray-300 rounded px-2 py-1 bg-gray-100 text-gray-800" name="sku"/>
                    </div>
                </div>
                <div class="col-span-2">
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">供應商</label>
                    
                    <div class="">
                        {if $result_array.item}
                            <input type="hidden" name="supplier_id" value="{$result_array.item.supplier_id}" />
                            <input readonly value="{$result_array.item.supplier.name_tc}({$result_array.item.supplier.name_en})" class="w-full border border-gray-300 rounded px-2 py-1 bg-gray-100 text-gray-800" />
                        {else}
                            <input type="hidden" name="supplier_id" value="{$result_array.supplier.supplier_id}">
                            <div class="w-full border border-gray-300 rounded px-2 py-1 bg-gray-100 text-gray-800">{$result_array.supplier.name_tc}({$result_array.supplier.name_en})</div>
                        {/if}
                    </div>
                </div>
                <div class="col-span-2">
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">中文名稱(供應商)</label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="中文名稱(供應商)" value="{$result_array.item.supplier_name_tc}" name="supplier_name_tc"/>
                    </div>
                </div>
                <div class="col-span-2">
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">英文名稱(供應商)</label>
                    <div class="">
                        <input class="w-full border border-gray-300 px-2 py-1" placeholder="英文名稱(供應商)" value="{$result_array.item.supplier_name_en}" name="supplier_name_en"/>
                    </div>
                </div>
                <div>
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">物品種類 <div data-popup="admin/item/itemCateEditor" class="inline-block btn_popup text-blue-600 hover:opacity-80 cursor-pointer">(管理)</div></label>
                    {if $result_array.item.item_id}
                    <div class="">
                        <input type="hidden" class="val" name="item_cate_id" value="{$result_array.item.item_cate_id}" data-name_tc="{$result_array.item.cate.child_list.0.cate_name_tc}" data-name_en="{$result_array.item.cate.child_list.0.cate_name_en}"/>
                        <input readonly name="item_cate" class="lbl bg-gray-100 text-gray-800 w-full border border-gray-300 rounded px-2 py-1" value="{$result_array.item.cate.child_list.0.cate_name_tc}{if $result_array.item.cate.child_list.0.cate_name_en} ({$result_array.item.cate.child_list.0.cate_name_en}){/if}" /> 
                    </div>
                    {else}
                    <div class="relative dropdown-container">
                        <input type="hidden" class="val" name="item_cate_id" value="{$result_array.item.item_cate_id}" />
                        <input name="item_cate" class="lbl w-full border border-gray-300 rounded px-2 py-1" value="{$result_array.item.cate.child_list.0.cate_name_tc}{if $result_array.item.cate.child_list.0.cate_name_en} ({$result_array.item.cate.child_list.0.cate_name_en}){/if}" autocomplete="off"/> 
                        <div class="dropdown border-l border-r border-b absolute bg-white z-20 border-gray-300 rounded-b max-h-52 overflow-auto hidden w-full">
                            <div class="dropdown-closer fixed top-0 left-0 h-screen w-screen z-10"></div>
                        </div>
                    </div>
                    {/if}
                </div>
                <div>
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">品牌 <div data-popup="admin/item/brandEditor" class="btn_popup inline-block text-blue-600 hover:opacity-80 cursor-pointer">(管理)</div></label>
                    
                    <div class="relative dropdown-container">
                        <input type="hidden" class="val" name="brand_id" value="{$result_array.item.brand.brand_id}" data-name_tc="{$result_array.item.brand.brand_name_tc}" data-name_en="{$result_array.item.brand.brand_name_en}" />
                        <input name="brand" class="lbl w-full border border-gray-300 rounded px-2 py-1" value="{$result_array.item.brand.brand_name_tc}{if $result_array.item.brand.brand_name_en}({$result_array.item.brand.brand_name_en}){/if}" autocomplete="off"/> 
                        <div class="dropdown border-l border-r border-b absolute bg-white z-20 border-gray-300 rounded-b max-h-52 overflow-auto hidden w-full">
                            <div class="dropdown-closer fixed top-0 left-0 h-screen w-screen z-10"></div>
                        </div>
                    </div>
                </div>
                <div>
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">款式(選填) </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="款式(選填)" value="{$result_array.item.pattern}" name="pattern" />
                    </div>
                </div>
                <div>
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">貨品編號(供應商) </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1 parent" placeholder="貨品編號(供應商)" value="{$result_array.item.supplier_stock_code}" name="supplier_stock_code" />
                    </div>
                </div>
                <div>
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">國家(中文) </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="國家(中文)" value="{$result_array.item.country_tc}" name="country_tc" />
                    </div>
                </div>
                <div>
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">國家(英文) </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="國家(英文)" value="{$result_array.item.country_en}" name="country_en" />
                    </div>
                </div>
                <div>
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">單位／箱(選填) </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="單位／箱(選填)" value="{$result_array.item.unit}" name="unit" />
                    </div>
                </div>
                <div>
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">批發價(成本) </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="批發價(成本)" value="{$result_array.item.cost}" name="cost" />
                    </div>
                </div>
                <div>
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">購入價(入貨參考)</label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="購入價(入貨參考)" value="{$result_array.item.stockin_price}" name="stockin_price" />
                    </div>
                </div>
                <div>
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">建議零售價(選填) </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="建議零售價(選填)" value="{$result_array.item.suggested_price}" name="suggested_price" />
                    </div>
                </div>
                <div class="col-span-2">
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">商品條碼(選填) </label>
                    <div class="flex flex-stretch">
                        <input class="w-full border border-gray-300 rounded px-2 py-1 parent" placeholder="商品條碼(選填)" name="supplier_barcode" value="{$result_array.item.supplier_barcode}" /> 
                        {if $result_array.item}
                        <div class="btn_gen_barcode inline-flex items-center justify-center border border-gray-300 px-2 cursor-pointer">
                            <i class="ri-barcode-line"></i>
                            <span class="whitespace-nowrap ml-2">預覽條碼</span>
                        </div> 
                        {/if}
                    </div>
                </div>
                <div class="grid grid-cols-2">
                    <div>
                        <label class="font-bold text-base text-gray-500 mb-1 inline-block">物品存量可以為無限</label>
                        <div class="flex flex-stretch">
                            <label class="switch">
                                <input type="hidden" name="is_unlimited_qty">
                                <input class="p_is_unlimited_qty" id="is_unlimited_qty" type="checkbox" {if $result_array.item.is_unlimited_qty === 'Y'}checked{/if}>
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <label class="font-bold text-base text-gray-500 mb-1 inline-block">前台將會顯示數量</label>
                        <div class="flex flex-stretch">
                            <label class="switch">
                                <input type="hidden" name="is_product_page_show_qty">
                                <input id="is_product_page_show_qty" type="checkbox" {if $result_array.item.is_product_page_show_qty === 'Y'}checked{/if}>
                                <span class="slider"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">存量警示 </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" type="number" placeholder="存量警示" value="{$result_array.item.alert_qty}" name="alert_qty" />
                    </div>
                </div>
                {if $result_array.item}
                <div>
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">&nbsp;</label>
                    <div class="">
                        <a href="admin/product/productDtl?item_id={$result_array.item.item_id}" target="_blank" class="whitespace-nowrap bg-blue-500 text-white font-bold rounded px-3 py-2 text-lg hover:bg-blue-400 cursor-pointer">生成為單一物品產品</a>
                    </div>
                </div>
                {/if}
                <h2 class="col-span-4 text-xl font-bold text-gray-800 mt-5 mb-2">物品標籤 <div data-popup="admin/item/itemTagEditor" class="btn_popup inline-block text-blue-600 hover:opacity-80 cursor-pointer">(管理)</div></h2>
                <div class="col-span-4 flex">
                    <div class="w-full">
                        <div class="relative dropdownMulti-container">
                            <div class="selected_list flex w-full border border-gray-300 rounded px-2 py-1 flex-wrap">
                                {foreach from=$result_array.item.tag_list item=parent}
                                    {foreach from=$parent.child_list item=i}
                                    <div class="selectedOption rounded px-2 py-1 border-gray-300 border m-1 flex-none cursor-pointer flex items-center" data-val="{$i.tag_id}">{$i.tag_name_tc}({$i.tag_name_en}) <i class="ri-close-line ml-2 text-sm"></i></div>
                                    {/foreach}
                                {/foreach}
                                <input name="tag" class="lbl flex-grow m-1" value="" autocomplete="off"/> 
                            </div>
                            <div class="dropdownMulti border-l border-r border-b absolute bg-white z-50 border-gray-300 rounded-b max-h-52 overflow-auto hidden w-full">
                                <div class="dropdownMulti-closer fixed top-0 left-0 h-screen w-screen z-10"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="col-span-4 text-xl font-bold text-gray-800 mt-5 mb-2">物品備註</h2>
                <div class="col-span-4 flex">
                    <textarea placeholder="任何物品備註" class="w-full border border-gray-300 rounded py-2 px-3 resize-none" rows="4" name="remarks">{$result_array.item.remarks}</textarea>
                </div>
                <div class="col-span-4 flex items-center mt-5 mb-2 gap-x-2">
                    <h2 class="text-xl font-bold text-gray-800">顯示設定</h2>
                    <div class="btn_gen_name whitespace-nowrap bg-blue-500 text-white font-bold rounded px-3 py-1 hover:bg-blue-400 cursor-pointer">自動生成名稱</div>
                </div>
                <div class="col-span-2">
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"> 內部提示中文名稱 </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="內部提示中文名稱" value="{$result_array.item.inhouse_name_tc}" name="inhouse_name_tc" />
                    </div>
                </div>
                <div class="col-span-2">
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">內部提示英文名稱</label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="內部提示英文名稱" value="{$result_array.item.inhouse_name_en}" name="inhouse_name_en" />
                    </div>
                </div>
                <div class="col-span-2">
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">The Gift 中文名稱 </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="the Gift網站內顯示名稱" value="{$result_array.item.gift_name_tc}" name="gift_name_tc" />
                    </div>
                </div>
                <div class="col-span-2">
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">The Gift 英文名稱 </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="the Gift網站內顯示名稱" value="{$result_array.item.gift_name_en}" name="gift_name_en" />
                    </div>
                </div>
                <div class="col-span-2">
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">LoTaiPo 中文名稱 </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="Lo Tai Po網站內顯示名稱" value="{$result_array.item.ltp_name_tc}" name="ltp_name_tc" />
                    </div>
                </div>
                <div class="col-span-2">
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">LoTaiPo 英文名稱 </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="Lo Tai Po網站內顯示名稱" value="{$result_array.item.ltp_name_en}" name="ltp_name_en" />
                    </div>
                </div>
                <div class="col-span-2">
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">Little Zuri 中文名稱 </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="Little Zuri網站內顯示名稱" value="{$result_array.item.zuri_name_tc}" name="zuri_name_tc" />
                    </div>
                </div>
                <div class="col-span-2">
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">Little Zuri 英文名稱 </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="Little Zuri網站內顯示名稱" value="{$result_array.item.zuri_name_en}" name="zuri_name_en" />
                    </div>
                </div>
                <div class="col-span-2">
                    <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">產品別稱 </label>
                    <div class="">
                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="產品別稱" value="{$result_array.item.alias}" name="alias" />
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </form>
    <!-- sku holder -->
    <hr class="border-b border-gray-200 w-full my-12" />
    <!-- Storage management -->
    <div class="px-4">
        <div class="grid grid-cols-2 gap-x-6">
        <!-- Sku list -->
            <div>
                <div class="flex items-center py-2 justify-between">
                    <h1 class="text-xl font-bold text-gray-800 mb-2">規格管理</h1>
                    <div class="flex items-center gap-4">
                        {if $result_array.item && $result_array.item.various_item_list}
                            <button class="btn_create_item_grp bg-blue-500 text-white font-bold rounded px-3 py-2 text-lg hover:bg-blue-400" data-item_id="{$result_array.item.item_id}">子物品生成為物品組合</button>
                        {/if}
                        <button class="btn_init_various_picker bg-blue-500 text-white font-bold rounded px-3 py-2 text-lg hover:bg-blue-400">增加子物品</button>
                    </div>
                </div>
                <div class="border border-gray-300">
                <table class="w-full rounded overflow-hidden">
                    <thead>
                    <tr>
                        <td class="font-bold border-b border-gray-300 px-2 w-16">圖片</td>
                        <td class="font-bold border-b border-gray-300 px-2">描述</td>
                        <td class="font-bold border-b border-gray-300 px-2">SKU後綴</td>
                        <td class="font-bold border-b border-gray-300 w-36">貨品編號(供應商)</td>
                        <td class="font-bold border-b border-gray-300 w-36">商品條碼</td>
                        <td class="font-bold border-b border-gray-300 w-24">無限存量</td>
                        <td class="font-bold border-b border-gray-300 w-24">存量</td>
                        <td class="font-bold border-b border-gray-300 w-26">存量<br>(預留存量)</td>
                        <td class="font-bold border-b border-gray-300 w-26">存量<br>(可用存量)</td>
                        <td class="font-bold border-b border-gray-300 w-10"></td>
                    </tr>
                    </thead>
                    <tbody class="various_container">
                        <tr class="parent_storage">
                            <input type="hidden" name="item_id" value="{$i.item_id}">
                            <td class="border-b border-gray-600 p-2" colspan="2"></td>
                            <td class="border-b border-gray-600 p-2">{$result_array.item.sku}</td>
                            <td class="border-b border-gray-600 p-2">
                                <input class="w-full border border-gray-300 rounded px-2 py-1 parent" placeholder="貨品編號(供應商)" value="{$result_array.item.supplier_stock_code}" name="supplier_stock_code" />
                            </td>
                            <td class="border-b border-gray-600 p-2">
                                <input class="w-full border border-gray-300 rounded px-2 py-1 parent" placeholder="商品條碼(選填)" name="supplier_barcode" value="{$result_array.item.supplier_barcode}" /> 
                            </td>
                            <td class="border-b border-gray-600 p-2">
                                <label class="switch">
                                    <input type="hidden" name="is_unlimited_qty">
                                    <input class="p_is_unlimited_qty" type="checkbox" {if $result_array.item.is_unlimited_qty === 'Y'}checked{/if}>
                                    <span class="slider"></span>
                                </label>
                            </td>
                            <td class="border-b border-gray-600 p-2">
                                <input type="number" class="w-16 rounded border border-gray-300 px-1" value="{$result_array.item.qty}" placeholder="存量" name="qty" />
                            </td>
                            <td class="border-b border-gray-600 p-2">
                                {if $result_array.item.reserved_qty}{$result_array.item.reserved_qty}{else}0{/if}
                            </td>
                            <td class="border-b border-gray-600 p-2">
                                {if $result_array.item.ava_qty}{$result_array.item.ava_qty}{else}0{/if}
                            </td>
                            <td class="border-b border-gray-600 p-2">
                                <a href="#" class="p3-4 py-2 text-xl delete-various ml-auto flex items-center px-3 hidden"><i class="ri-close-line"></i></a>
                            </td>
                        </tr>

                        {if $result_array.item.various_item_list}
                            {foreach from=$result_array.item.various_item_list key=k item=i}
                            <tr class="various">
                                <input type="hidden" name="item_id" value="{$i.item_id}">
                                <input type="hidden" name="sku" value="{$i.sku}">
                                <input type="hidden" name="val_id_arr" value="{foreach $i.various_list item=ii}{$ii.val_id},{/foreach}">
                                <td class="border-b border-gray-200 p-2">
                                    <label for="item_img" class="bg-contain bg-no-repeat bg-center cursor-pointer block w-14 h-14 bg-gray-200 rounded" style="{if $i.item_img}background-image:url('{$i.item_img}');{/if}" data-item_id="{$i.item_id}"></div>
                                    <input type="hidden" name="item_img" value="{$i.item_img}" />
                                </td>
                                <td class="border-b border-gray-200 p-2">{foreach from=$i.various_list key=kk item=ii}{if $kk > 0}-{/if}{$ii.name_tc}{/foreach}</td>
                                <td class="border-b border-gray-200 p-2"><a class="btn_init_popup text-blue-700 opacity-80 sku" data-item_id="{$i.item_id}">{$i.sku}</a></td>
                                <td class="border-b border-gray-200 p-2">
                                    <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="貨品編號(供應商)" value="{$i.supplier_stock_code}" name="supplier_stock_code">
                                </td>
                                <td class="border-b border-gray-200 p-2">
                                    <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="商品條碼" name="supplier_barcode" value="{$i.supplier_barcode}">
                                </td>
                                <td class="border-b border-gray-200 p-2">
                                    <label class="switch">
                                        <input type="hidden" name="is_unlimited_qty">
                                        <input class="is_unlimited_qty" type="checkbox" {if $i.is_unlimited_qty === 'Y'}checked{/if}>
                                        <span class="slider"></span>
                                    </label>
                                </td>
                                <td class="border-b border-gray-200 p-2">
                                    <input type="number" class="w-16 rounded border border-gray-300 px-1" value="{$i.qty}" placeholder="存量" name="qty" />
                                </td>
                                <td class="border-b border-gray-200 p-2">
                                    {if $i.reserved_qty}{$i.reserved_qty}{else}0{/if}
                                </td>
                                <td class="border-b border-gray-200 p-2">
                                    {if $i.ava_qty}{$i.ava_qty}{else}0{/if}
                                </td>
                                <td class="border-b border-gray-200 p-2">
                                    <a href="#" class="p3-4 py-2 text-xl delete-various ml-auto flex items-center px-3 hidden"><i class="ri-close-line"></i></a>
                                </td>
                            </tr>
                            {/foreach}
                        {else}
                        {/if}
                    
                    </tbody>
                </table>
            </div>
        </div>
        <div class="flex flex-col gap-4">
            <!-- Sku edit log-->
            <div>
                <div class="flex items-center py-2">
                    <h1 class="text-xl font-bold text-gray-800 mb-2">規格管理日誌</h1>
                </div>
                <div class="h-40 overflow-auto bg-gray-800 text-white font-bold px-6 py-4 rounded-lg">
                    {foreach from=$result_array.log_list key=k item=log}
                    <table>
                        {foreach from=$log.item_list key=kk item=item}
                        <tr>
                            <td>[{$log.create_datetime}] </td>
                            <td class="text-blue-300">{$log.username}</td>
                            <td>- {$log.action_display}{$item.key_display} - {$item.original} => {$item.updated}</td>
                        </tr>
                        {/foreach}
                    </table>
                    {/foreach}
                </div>
            </div>
            <!-- stock in stock out log -->
            <div>
                <div class="flex items-center py-2">
                    <h1 class="text-xl font-bold text-gray-800 mb-2">
                        近二十次出入庫紀錄 
                        <a href="admin/item/stockInStockOut?item_id={$result_array.item.item_id}" target="_blank" class="bg-blue-500 text-white font-bold rounded px-3 py-2 text-lg hover:bg-blue-400">完整出入庫紀錄</a>
                    </h1>
                </div>
                <div class="h-60 overflow-auto bg-gray-800 text-white font-bold px-6 py-4 rounded-lg">
                    <table>
    
                        {foreach from=$result_array.stockInStockOutList key=k item=log}
                        <tr>
                            <td>[{$log.create_datetime}]</td>
                            <td class="text-blue-300">{$log.username} - </td>
                            <td>{if $log.ref_no}[ref: {$log.ref_no}]{/if}</td>
                            <td>{$log.type}</td>
                            <td class="text-blue-300">- {$log.inhouse_name_tc}: </td>
                            <td class="{if $log.io=="stock_out"}text-red-300{else}text-green-300{/if}">{$log.qty}</td>
                        </tr>
                        {/foreach}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- panel -->
    <div class="flex py-4 px-4 border-t border-gray-300 mt-3">
        <button class="back-to-list-js font-bold rounded px-6 py-3 ml-auto text-2xl mr-3 border border-gray-300 text-gray-500 hover:opacity-75">取消</button>
        <button class="cursor-pointer btn_submit_form bg-blue-500 text-white font-bold rounded px-6 py-3 text-2xl hover:bg-blue-400">{if $result_array.item}更新物品{else}新增物品{/if}</button>
    </div>
</main>    
<div id="qrcode" class="hidden"></div>

{include file='module/variousPicker.html'}
{literal}
<style>
.navigation-section {
    background-color: white;
    border-left: 1px solid rgba(209, 213, 219, var(--tw-border-opacity));
    --tw-border-opacity: 1;
}
#onesignal-bell-container {
    display: none !important;
}
.searchHidden {
    display: none;
}
</style>
{/literal}

<script>
var cate_list = JSON.parse("{json_encode($result_array.cate_list)|escape:'javascript'}");
var supplier = {
    short_form: '{$result_array.supplier.short_form}',
    next_item_id: '{$result_array.supplier.next_item_id}'
}
var supplier_list = JSON.parse("{json_encode($result_array.supplier_list)|escape:'javascript'}");
var supplier_id = '{$result_array.item.supplier_id}';
var item_cate_id = '{$result_array.item.item_cate_id}';
var brand_id = '{$result_array.item.brand_id}';
var tag_id_arr = [{foreach from=$result_array.item.tag_list item=i}{foreach from=$i.child_list item=ii}{$ii.tag_id},{/foreach}{/foreach}]
var item_id = '{$result_array.item.item_id}';
var sku = '{$result_array.item.sku}';
var og_sku = '{$result_array.item.sku}'.split("-");
var popup_item_id = '{$result_array.popup_item_id}';


</script>

{literal}
<script>

var item_cate = {};
var selectOptions = [];



function generateSku(){
    if (item_cate_id != '' && Object.keys(supplier).length > 0){
        sku = ''
        sku += item_cate_id.padStart(3,'0'); // 3 digits cate id
        sku += "-";
        sku += supplier.short_form;
        sku += "-";

        // if (supplier.short_form == og_sku[1])
        //     sku += og_sku[2];
        // else
            sku += supplier.next_item_id;

        $("[name=sku]:eq(0)").val(sku)
        $(".parent_storage td:eq(1)").html(sku)

        $(".various").each(function(i, v){
            $dom = $(v);
            $dom.find("[name=sku]").val(sku);
            $dom.find(".sku").html(sku);
        });
    }
}

$(document).ready(function(){
    if (sku == '') 
        generateSku();
        
    $(document).off("click", ".btn_gen_name").on("click", ".btn_gen_name", function(){
        //THE GIFT, LoTtaiPo 品牌+種類,  little ZURI, 品牌+種類+款式 預設制
        $("[name=gift_name_tc]").val($("[name=country_tc]").val() + $("[name=brand_id").attr("data-name_tc") + " " + $("[name=item_cate_id").attr("data-name_tc"))
        $("[name=ltp_name_tc]").val($("[name=country_tc]").val() + $("[name=brand_id").attr("data-name_tc") + " " + $("[name=item_cate_id").attr("data-name_tc"))
        $("[name=gift_name_en]").val($("[name=brand_id").attr("data-name_en") + " " + $("[name=item_cate_id").attr("data-name_en") + ", " + $("[name=country_en]").val())
        $("[name=ltp_name_en]").val($("[name=brand_id").attr("data-name_en") + " " + $("[name=item_cate_id").attr("data-name_en") + ", " + $("[name=country_en]").val())
        
        $("[name=zuri_name_tc]").val($("[name=country_tc]").val() + $("[name=brand_id").attr("data-name_tc") + " " + $("[name=item_cate_id").attr("data-name_tc") + " - " + $("[name=pattern]").val())
        $("[name=zuri_name_en]").val($("[name=brand_id").attr("data-name_en") + " " + $("[name=item_cate_id").attr("data-name_en") + " - " + $("[name=pattern]").val() + ", " + $("[name=country_en]").val())
    })

    $(document).on("keyup", ".parent[name=supplier_stock_code]", function(){
        $(".parent[name=supplier_stock_code]").val($(this).val())
    });

    $(document).on("keyup", ".parent[name=supplier_barcode]", function(){
        $(".parent[name=supplier_barcode]").val($(this).val())
    });

    $(document).on("click", ".p_is_unlimited_qty", function(){
        $(".p_is_unlimited_qty").prop("checked", $(this).is(":checked"))
    })
        
    $(document).on("click", ".selectedOption", function(){
        $(this).remove();
    })

    $(".dropdown-container .lbl").on("click", function(){
        $container = $(this).parents(".dropdown-container");
        
        $container.find(".option").removeClass("hidden");
        $container.find(".dropdown").removeClass("hidden");
        $container.find(".lbl").addClass("rounded-b-none");

        
        $container.find(".dropdown-closer").on("click", function(e){
            $container.find(".dropdown").addClass("hidden")
            $container.find(".lbl").removeClass("rounded-b-none");
        })

    }).on("keyup", function(){
        $container = $(this).parents(".dropdown-container");
        var val = $(this).val().toLowerCase();
        var val_list = [];
        $container.find(".option").each(function(idx, option){
            if ($(option).html().toLowerCase().indexOf(val) >= 0){
                $(option).removeClass("hidden")
            } else {
                $(option).addClass("hidden")
            }
        });
    }).on("focusout", function(){
        $container = $(this).parents(".dropdown-container");
        
        val_list = [];
        $container.find(".dropdown .option").each(function(idx, ele){
            val_list.push(ele.innerText);
        })
        
        if (val_list.indexOf($(this).val()) <0){
            $(this).siblings(".val").val("NULL");
            $(this).val("-- 不適用 --")
        } 
    });

    $(document).on("click", ".dropdown-container .option", function(){
        $container = $(this).parents(".dropdown-container");

        $container.find(".dropdown").addClass("hidden")
        $container.find(".lbl").removeClass("rounded-b-none");
    })

    $(".dropdownMulti-container .lbl").on("click", function(){
        $container = $(this).parents(".dropdownMulti-container");
        $container.find(".option").removeClass("hidden");

        $container.find(".dropdownMulti").removeClass("hidden");
        $container.find(".selected_list").addClass("rounded-b-none");

        setTimeout(function(){
            $container.find(".dropdown-closer").on("click", function(e){
                $container.find(".dropdown").addClass("hidden")
                $container.find(".lbl").removeClass("rounded-b-none");
            })

            $container.find(".dropdownMulti-closer").on("click", function(e){
                $container.find(".dropdownMulti").addClass("hidden")
                $container.find(".selected_list").removeClass("rounded-b-none");
            })
        }, 200)
    }).on("keyup", function(){
        $container = $(this).parents(".dropdownMulti-container");
        var val = $(this).val().toLowerCase();
        var val_list = [];
        $container.find(".option").each(function(idx, option){
            if ($(option).html().toLowerCase().indexOf(val) >= 0){
                $(option).removeClass("searchHidden")
            } else {
                $(option).addClass("searchHidden")
            }
        });
    }).on("focusout", function(){
        $(this).val("")
    })
    
    $("[name=brand]").on("click", function(e){
        $dropdown = $(this).siblings(".dropdown");

        $dropdown.find(".option").remove();

        $.bajax({
            url: "admin/item/api/getBrandList",
            method: 'POST',
            formElement: 'N',
            data: {},
            callback: function(data) {
                brandList = data.result.item_brand_list;


                $option = $("<div/>").attr({
                    class: "option p-2 z-20 relative hover:bg-gray-200 hover:text-grey-600 cursor-pointer",
                    "data-val" :'NULL'
                }).html(`-- 不適用 --`);
                                
                $option.on("click", function(){
                    $container = $(this).parents(".dropdown-container");
                    
                    $container.find(".lbl").val($(this).html())
                    $container.find(".val").val($(this).attr("data-val"));
                });

                
                $dropdown.append($option);

                brandList.forEach(function(val,idx){
                    
                    $option = $("<div/>").attr({
                        class: "option p-2 z-20 relative hover:bg-gray-200 hover:text-grey-600 cursor-pointer",
                        "data-val": val.brand_id,
                        "data-name_tc": val.brand_name_tc,
                        "data-name_en": val.brand_name_en
                    }).html(`${val.brand_name_tc}(${val.brand_name_en})`);
                                    
                    $option.on("click", function(){
                        $container = $(this).parents(".dropdown-container");
                        
                        $container.find(".lbl").val($(this).html())
                        $container.find(".val").val($(this).attr("data-val")).attr({
                            "data-name_tc": $(this).attr("data-name_tc"),
                            "data-name_en": $(this).attr("data-name_en"),
                        });
                    });

                    $dropdown.append($option);
                });
                // return true;
            }
        });
    });

    $("[name=item_cate]").on("click", function(e){
        $dropdown = $(this).siblings(".dropdown");

        $dropdown.find(".option").remove();
        $dropdown.find(".option_grp").remove();

        $.bajax({
            url: "admin/item/api/getItemCateList",
            method: 'POST',
            formElement: 'N',
            data: {},
            callback: function(data) {
                item_cate_list = data.result.item_cate_list;

                item_cate_list.forEach(function(cate,idx){
                    $option_grp = $("<div/>").attr({
                        class: "option_grp p-2 z-20 relative pointer-event-none",
                    }).html(`--${cate.cate_name_tc}(${cate.cate_name_en})--`);
                    $dropdown.append($option_grp);

                    cate.child_list.forEach(function(cate, idx){
                        $option = $("<div/>").attr({
                            class: "option p-2 z-20 relative hover:bg-gray-200 hover:text-grey-600 cursor-pointer",
                            "data-val": cate.cate_id,
                            "data-name_tc": cate.cate_name_tc,
                            "data-name_en": cate.cate_name_en
                        }).html(`${cate.cate_name_tc}(${cate.cate_name_en})`);
                                        
                        $option.on("click", function(){
                            $container = $(this).parents(".dropdown-container");
                            
                            $container.find(".lbl").val($(this).html())
                            $container.find(".val").val($(this).attr("data-val")).attr({
                                "data-name_tc": $(this).attr("data-name_tc"),
                                "data-name_en": $(this).attr("data-name_en"),
                            });
                            item_cate_id = cate.cate_id;
                            generateSku();
                        });
    
                        $dropdown.append($option);
                    });
                });
                // return true;
            }
        });
    });

    $("[name=tag]").on("click", function(e){
        $container = $(this).parents(".dropdownMulti-container");
        $dropdown = $container.find(".dropdownMulti");
        $dropdown.find(".option").remove();
        $dropdown.find(".option_grp").remove();

        $.bajax({
            url: "admin/item/api/getItemTagList",
            method: 'POST',
            formElement: 'N',
            data: {},
            callback: function(data) {
                tag_list = data.result.item_tag_list;

                tag_list.forEach(function(tag,idx){
                    $option_grp = $("<div/>").attr({
                        class: "option_grp p-2 z-20 relative pointer-event-none",
                    }).html(`--${tag.tag_name_tc}(${tag.tag_name_en})--`);
                    $dropdown.append($option_grp);

                    tag.child_list.forEach(function(tag, idx){
                        $option = $("<div/>").attr({
                            class: "option p-2 z-20 relative hover:bg-gray-200 hover:text-grey-600 cursor-pointer flex items-center",
                            "data-val" :tag.tag_id
                        }).html(`${tag.tag_name_tc}(${tag.tag_name_en})`);
                                        

                        // check if it is selecting or not
                        if ($container.find(`.selected_list [data-val=${tag.tag_id}]`).length > 0)
                            $option.addClass("hidden")


                        $option.off("click").on("click", function(){
                            if ($container.find(`.selected_list [data-val=${tag.tag_id}]`).length == 0){
                                $div = $("<div/>").attr({
                                    class: "selectedOption rounded px-2 py-1 border-gray-300 border m-1 flex-none cursor-pointer flex items-center",
                                    "data-val": tag.tag_id
                                }).html(`${tag.tag_name_tc}(${tag.tag_name_en}) <i class="ri-close-line ml-2 text-sm"></i>`)


                                $div.on("click", function(){
                                    val = $(this).attr('data-val');
                                    $(this).remove();
                                    $container.find(`.dropdownMulti [data-val=${val}]`).removeClass("hidden");
                                });


                                $(this).addClass("hidden");
    
                                $container.find(".selected_list").prepend($div);
                            }
                        });
    
                        $dropdown.append($option);
                    });
                });
            }
        });
    });

    //handle back button
    function goBackToList(){
        if($('#main-container').data().supplier != ''){
            window.location.href= "/admin/item/itemList?supplier=" + $('#main-container').data().supplier
        } else {
            window.history.back()
        }
       
    }

    $('.back-to-list-js').click(function(){
        goBackToList()
    })

    initPopup(popup_item_id);

    $(document).on("click", ".delete-various", function(){
        $(this).parents(".various").remove();
    });

    $(document).on("click", ".btn_init_popup", function(){
        initPopup($(this).attr("data-item_id"));
    });

    function initPopup(item_id){
        if (item_id != 0 && item_id != ''){
            $vkmodal({
                extraClass: "childPopup",
                fullScreen: false,
                tapBackgroundToClose: true,
                ajaxPath: `admin/item/itemDtlContent?item_id=${item_id}`,
            });
        }
    }


    $(document).on("change", "[name=inhouse_name_tc]", function(){
        var val = $(this).val();
        if (!$("[name=gift_name_tc]").val())
            $("[name=gift_name_tc]").val(val)
        if (!$("[name=zuri_name_tc]").val())
            $("[name=zuri_name_tc]").val(val)
        if (!$("[name=ltp_name_tc]").val())
            $("[name=ltp_name_tc]").val(val)
    })

    $(document).on("change", "[name=inhouse_name_en]", function(){
        var val = $(this).val();
        if (!$("[name=gift_name_en]").val())
            $("[name=gift_name_en]").val(val)
        if (!$("[name=zuri_name_en]").val())
            $("[name=zuri_name_en]").val(val)
        if (!$("[name=ltp_name_en]").val())
            $("[name=ltp_name_en]").val(val)
    })

    $(document).on("click", ".btn_add_various", async function(){
        var $this = $(this)

        val_list = [];
        $(".vk-modal-dom [role=list]").each(function(idx, val){
            val_id_arr = [];
            $(val).find(".val.active").each(function(i,v){
                val_id_arr.push(JSON.parse($(v).attr("data-val"))['val_id'])
            });

            if (val_id_arr.length > 0){
                val_list.push({
                    "val_list" : val_id_arr
                })
            }
        });

        $loader = await globalLoader();
        $.bajax({
            url: "admin/item/api/renderVariousCodeMap",
            method: 'POST',
            formElement: 'N',
            data: {
                various_json: JSON.stringify(val_list),
                sku: $("[name=sku]").val()
            },
            callback: function(data) {
                if (data.code == 0){
                    $container = $(".various_container");

                    data.result.sku_list.forEach(function(val, idx){

                        var isExisted = false;
                        $("[name=sku]").each(function(i,v){
                            if ($(this).val() == val.sku)
                                isExisted = true;
                        });

                        if (!isExisted){
                            $container.append(`
                                <tr class="various">
                                    <input type="hidden" name="item_id" value="0">
                                    <input type="hidden" name="sku" value="${val.sku}">
                                    <input type="hidden" name="val_id_arr" value="${val.val_id_arr}">
                                    <td class="border-b border-gray-200 p-2">
                                        <label for="item_img" class="bg-contain bg-no-repeat bg-center cursor-pointer block w-14 h-14 bg-gray-200 rounded" data-item_id="${item_id}"></div>
                                        <input type="hidden" name="item_img" value="" />
                                    </td>
                                    <td class="border-b border-gray-200 p-2">${val.name}</td>
                                    <td class="border-b border-gray-200 p-2 sku">${val.sku}</td>
                                    <td class="border-b border-gray-200 p-2">
                                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="貨品編號(供應商)" name="supplier_stock_code">
                                    </td>
                                    <td class="border-b border-gray-200 p-2">
                                        <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="商品條碼" name="supplier_barcode" >
                                    </td>
                                    <td class="border-b border-gray-200 p-2">
                                        <input type="number" class="w-16 rounded border border-gray-300 px-1" value="0" placeholder="存量" name="qty" />
                                    </td>
                                    <td class="border-b border-gray-200 p-2">0</td>
                                    <td class="border-b border-gray-200 p-2">0</td>
                                    <td class="border-b border-gray-200 p-2">
                                        <a href="#" class="p3-4 py-2 text-xl delete-various ml-auto flex items-center px-3"><i class="ri-close-line"></i></a>
                                    </td>
                                </tr>
                            `)
                        }
                    })

                    $(".various [name=qty]").val(0);
                    
                }
                globalLoader($loader);

                if ($this.closest('.vk-modal-dom').length == 1) {
                    $this.closest('.vk-modal-dom').data()._destory()
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                globalLoader($loader);
            },
        });
    });
    
    $(document).on("click", ".btn_init_various_picker", function(){
        if (!$("[name=supplier_id]").val() || !$("[name=item_cate_id]").val()){
            vkAlertDefault({
                title: "錯誤",
                content: "請選擇生產商及產品種類",
                confirmButtonHtml: "確認"
            });

            return false;
        }

        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#various_picker').html(),
            mounted: function(){
                var $container = $('.various-picker-inner');

                $.bajax({
                    url: "admin/item/api/getItemCateVarious",
                    method: 'POST',
                    data: {cate_id: $("[name=item_cate_id]").val()},
                    callback: function(data) {
                        if (data.code == 0){

                            if (data.result.various_list && data.result.various_list.length>0){
                                var html = `<nav class="h-full overflow-y-auto" >`;
                                data.result.various_list.map(function(parent, parentIdx) {
                                    
                                    html += `
                                    
                                        <div class="relative">
                                            <div class="z-10 sticky top-0 border-t border-b border-gray-200 bg-gray-50 px-6 py-1 text-sm font-medium text-gray-500">${parent.name_tc}(${parent.name_en})${parent.remarks? "(" + parent.remarks +")" : ''}</div>
                                            <ul role="list" class="relative z-0 divide-y divide-gray-200">`
                                                
    
    
                                    parent.val_list.map(function(val, valIdx){
                                        html += `
                                        <li class="bg-white">
                                            <div class="val relative px-2 py-1 flex items-center space-x-3 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500 cursor-pointer m-1 border border-white rounded" data-val='${JSON.stringify(val)}'>
                                                <div class=" w-32 flex-shrink-0 font-bold mr-2">${val.val}</div>
                                                <div class="flex-1 min-w-0">
                                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                                    <p class="text-sm font-medium text-gray-900">${val.name_tc}</p>
                                                    <p class="text-sm text-gray-500 truncate">${val.name_en}</p>
                                                </div>
                                                <div class="flex-1 min-w-0">
                                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                                    <p class="text-sm font-medium text-gray-900">${val.remarks ? val.remarks : ''}</p>
                                                </div>
                                            </div>
                                        </li>
                                        `
                                    });
    
                                    html += `
                                            </ul>
                                        </div>
                                        `
                                })
                                html += `</nav>`;
                            } else {
                                var html = `
                                    <nav class="h-full overflow-y-auto flex" >
                                        <div class="m-auto relative">此物品種類暫時沒有任何規格<div data-popup="admin/item/itemCateEditor" class="btn_popup_various inline-block text-blue-600 hover:opacity-80 cursor-pointer" target="_blank">(管理)</div></div>
                                    </nav>`;
                                
                            }



                            $container.html(html)
                            
                        }
                    },
                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                });
            }
        });
    });

    $(document).on("click", ".btn_popup_various", function(){
        var $this = $(this)
        if ($this.closest('.vk-modal-dom').length == 1) {
            $this.closest('.vk-modal-dom').data()._destory()
        }

        $vkmodal({
            extraClass: "page_popup",
            fullScreen: false,
            tapBackgroundToClose: true,
            ajaxPath: `${$(this).attr("data-popup")}?is_popup=Y`,
        });
    });

    $(document).on("click", ".btn_gen_barcode", function(){
        $("#qrcode").html("")
        new QRCode(document.getElementById("qrcode"), `ITEMID:${item_id}||SKU:${sku}`);
    
        setTimeout(function(){
            var mywindow = window.open('', 'QR Code', 'height=300,width=300');
            mywindow.document.write(document.getElementById("qrcode").innerHTML);
            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10*/
        }, 500)
    })

    var $imgDom;
    $(document).on("click", "label[for=item_img]", function(){
        $imgDom = $(this);
        var item_id = $(this).attr("data-item_id");
        $("#uploadItemImgForm [name=item_id]").val(item_id?item_id:0);
    });

    $(document).on("change", "#item_img", async function(){
        $loader = await globalLoader();
        $.bajax({
            url: "admin/item/api/uploadItemImg",
            method: 'POST',
            formElement: 'Y',
            formElementID: "uploadItemImgForm",
            callback: function(data) {
                if (data.code == 0){
                    var path = data.result.img_path
                    if (path){
                        $imgDom.attr({
                            "style": "background-image: url('"+ path +"'); border-style: solid;"
                        })
    
                        $imgDom.find("[name=item_img]").val(path);
                        $imgDom.find(".lbl").remove();
                    }
                }
                globalLoader($loader);
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                globalLoader($loader);
            },
        });
    });
    
    $(document).on("click", ".btn_create_item_grp", async function(){
        $loader = await globalLoader();
        $.bajax({
            url: "/admin/item/api/createItemGrp",
            debug: 'N',
            data: {
                item_id: $(this).attr("data-item_id")
            },
            formElement: 'N',
            callback: function(data) {
                location.href = "admin/product/itemGrpList?grp_id=" + data.result.grp.grp_id;
            },
            errorCallback: function(jqXHR) {
                debug(jqXHR);
            }
        });
    });


    $(".btn_submit_form").on("click", async function (e) {
        e.preventDefault();

        // valid the qty
        if ($(".parent_storage [name=qty]").val() && $(".various").length >0){
            // only validate when parent_storage contain qty

            var parent_qty = parseInt($(".parent_storage [name=qty]").val())

            var child_qty = 0;

            $(".various").each(function(idx, ele){
                $(ele).find("[name=qty]").val() ? child_qty += parseInt($(ele).find("[name=qty]").val()) : null;
            })


            if (child_qty != parent_qty){
                vkAlertDefault({
                    title: "錯誤",
                    content: "物品的數量和其規格管理數量不相符，請再修改後再提交。",
                    confirmButtonHtml: "確認"
                });

                return false;
            }
        }

        if ($("#is_unlimited_qty").is(":checked")) {
            $("[name=is_unlimited_qty]").val("Y")
        } else {
            $("[name=is_unlimited_qty]").val("N")
        }

        if ($("#is_product_page_show_qty").is(":checked")) {
            $("[name=is_product_page_show_qty]").val("Y")
        } else {
            $("[name=is_product_page_show_qty]").val("N")
        }

        var unidx = $("#edit_form").serializeArray()
        var data = [];
        $.map(unidx, function(n, i){
            data[n['name']] = n['value'];
        });

        var variousJson = []
        $(".various").each(function(idx, ele){
            $tmp = {
                // item_id: $(ele).find("[name=item_id]").val(),
                qty: $(ele).find("[name=qty]").val(),
                item_img: $(ele).find("[name=item_img]").val(),
                sku: $(ele).find("[name=sku]").val(),
                val_list: $(ele).find("[name=val_id_arr]").val(),
                item_cate_id: $("[name=item_cate_id]").val(),
                supplier_stock_code: $(ele).find("[name=supplier_stock_code").val(),
                supplier_barcode: $(ele).find("[name=supplier_barcode").val(),
                is_unlimited_qty: $(ele).find(".is_unlimited_qty").is(":checked") ? 'Y' : 'N'
            };
            variousJson.push($tmp);
        });

        data['various_json'] = JSON.stringify(variousJson)
        // data['tag_id_arr'] = $("[name=tag_id]").val().toString();

        tag_id_arr = [];
        $("[name=tag]").parents(".dropdownMulti-container").find(".selectedOption").each(function(idx, val){
            tag_id_arr.push($(val).attr("data-val"));
        });

        data['tag_id_arr'] = tag_id_arr.toString();


        data['qty'] = $(".parent_storage [name=qty]").val();

        $loader = await globalLoader();
        $.bajax({
            url: '/admin/item/api/editItem',
            method: 'POST',
            formElement: 'N',
            data: data,
            callback: function (data) {
                if (!data.code == 0) {
                    globalLoader($loader);
                    globalErrorReturn(data)
                } else {
                    infoPopup("成功", "已更新物品資料。");
                    location.href = "admin/item/itemDtl?item_id=" + data.result.itemDtl.item_id
                }
            },
            errorCallback: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })

});



</script>
{/literal}