<script src="/adminA/js/jquery.dad.js"></script>

<main class="bg-white">
  <div class="px-4 py-4 overflow-y-auto border-gray-200 border-b flex mb-3 items-center">
    <h1 class="text-3xl font-bold">編輯物品種類</h1>
    <a href="#" id="add-cate-dad" class="bg-blue-500 px-3 py-2 font-bold inline-flex text-white ml-2">
      <i class="ri-add-line"></i>
      <span class="ml-2">增加種類</span>
    </a>
  </div>
  <div class="px-4 pb-4">
    <div class="dad-container-js"></div>
  </div>
</main>
{literal}
<script>
  var dadInstance;

  function initDad() {
    try {
      dadInstance.deactivate();
    } catch {}
    dadInstance = $(".cate-dad").dad({
      exchangable: true,
      draggable: ".dragger",
    });
    dadInstance.activate();

    $(".cate-dad").off("dadDrop").on("dadDrop", async function (e, droppedElement) {
      e.preventDefault();
      $loader = await globalLoader();

      var data = {
        cate_id_arr: $(this).find(".cate-child-indi [name=cate_id]").map(function(i, c){return $(c).val()}).toArray().join(',')
      };

      $.bajax({
        url: "/admin/item/api/sortItemCate",
        method: "POST",
        formElement: "N",
        data: data,
        callback: function (data) {
          if (!data.code == 0) {
            globalLoader($loader);
            globalErrorReturn(data);
          } else {
            infoPopup();
            globalLoader($loader);
            initDad();
          }
        },
        errorCallback: function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR);
        },
      });
    });


    
    try {
      dadInstance2.deactivate();
    } catch {}
    dadInstance2 = $(".dad-container-js").dad({
      exchangable: true,
      draggable: ".dragger_p",
    });
    dadInstance2.activate();

    $(".dad-container-js").off("dadDrop").on("dadDrop", async function (e, droppedElement) {
      if (!$(droppedElement).hasClass("cate-child-indi")){
        e.preventDefault();
        $loader = await globalLoader();
  
        var data = {
          cate_id_arr: $(".dad-container-js .dad-outer-container").map(function(i, d){return $(d).find(".cate-dad-title").attr('data-cate-id')}).toArray().join(',')
        };
  
        $.bajax({
          url: "/admin/item/api/sortItemCate",
          method: "POST",
          formElement: "N",
          data: data,
          callback: function (data) {
            if (!data.code == 0) {
              globalLoader($loader);
              globalErrorReturn(data);
            } else {
              infoPopup();
              globalLoader($loader);
              initDad();
            }
          },
          errorCallback: function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR);
          },
        });
      }
    });
  }

  $(document).off("click", ".edit-cate-child")
  $(document).off("click", ".save-edit")
  $(document).off("click", ".cancel-edit-mode")
  $(document).off("click", ".edit-cate-dad")
  $(document).off("click", ".cancel-dad-edit-mode")
  $(document).off("click", ".delete-cate-child")
  $(document).off("click", ".save-dad-edit")
  $(document).off("click", ".remove-cate-dad")

  $(document)
    .on("click", ".edit-cate-child", function (e) {
      //start edit mode
      e.preventDefault();
      var $this = $(this);
      var $child = $this.closest(".cate-child-indi");
      $child.find(".edit-mode").removeClass("hidden").addClass("flex");
      $child.find("input").focus();
      $child.find(".edit-cate-child").addClass("hidden");
      $child.find(".cate-child-title").addClass("hidden");
    })
    .on("click", ".save-edit", async function (e) {
      //save button
      e.preventDefault();
      $loader = await globalLoader();

      var $this = $(this);
      var $child = $this.closest(".cate-child-indi");

      var parent_cate_id = $child
        .parents(".dad-outer-container")
        .find(".cate-dad-title")
        .attr("data-cate-id");

      var data = {
        cate_id: $child.find("[name=cate_id]").val(),
        parent_cate_id: parent_cate_id,
        cate_name_tc: $child.find("[name=cate_name_tc]").val(),
        cate_name_en: $child.find("[name=cate_name_en]").val(),
      };

      $.bajax({
        url: "/admin/item/api/editItemCate",
        method: "POST",
        formElement: "N",
        data: data,
        callback: function (data) {
          if (!data.code == 0) {
            globalLoader($loader);
            globalErrorReturn(data);
          } else {
            $child.find(".edit-mode").addClass("hidden").removeClass("flex");
            $child.find(".edit-cate-child").removeClass("hidden");
            $child.find(".cate-child-title").removeClass("hidden").html("[" +data.result.item_cate.child_list[0].cate_id.padStart(3, "0") +"]" + $child.find("[name=cate_name_tc]").val() + "(" + $child.find("[name=cate_name_en]").val() + ")");
            $child.find("[name=cate_id]").val(data.result.item_cate.child_list[0].cate_id);
            $child.find(".cate-sku-editior").attr("data-cate-id", data.result.item_cate.child_list[0].cate_id);

            globalLoader($loader);
            infoPopup("成功", "已更新物品分類資料。");
            initDad();
          }
        },
        errorCallback: function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR);
        },
      });
    })
    .on("click", ".cancel-edit-mode", function (e) {
      //cancel edit mode
      e.preventDefault();
      var $this = $(this);
      var $child = $this.closest(".cate-child-indi");
      $child.find(".edit-mode").addClass("hidden").removeClass("flex");
      $child.find(".edit-cate-child").removeClass("hidden");
      $child.find(".cate-child-title").removeClass("hidden");
      // $child.find("input").val($child.find(".cate-child-title").html());
    })
    .on("click", ".edit-cate-dad", function (e) {
      //start edit mode
      e.preventDefault();
      var $this = $(this);
      var $child = $this.closest("h4");
      $child.find(".dad-edit-mode").removeClass("hidden").addClass("flex");
      $child.find("input").focus();
      $child.find(".edit-cate-dad").addClass("hidden");
      $child.find(".cate-dad-title").addClass("hidden");
    })
    .on("click", ".cancel-dad-edit-mode", function (e) {
      //start edit mode
      e.preventDefault();
      var $this = $(this);
      var $child = $this.closest("h4");
      $child.find(".dad-edit-mode").addClass("hidden").removeClass("flex");
      // $child.find("input").val($child.find(".cate-dad-title").html());
      $child.find(".edit-cate-dad").removeClass("hidden");
      $child.find(".cate-dad-title").removeClass("hidden");
    })
    .on("click", ".delete-cate-child", async function (e) {
      //delete child
      e.preventDefault();
      var $this = $(this);
      $loader = await globalLoader();
      var $child = $this.closest(".cate-child-indi");

      var data = {
        cate_id: $child.find("[name=cate_id]").val(),
        activate: "N",
      };

      $.bajax({
        url: "/admin/item/api/editItemCate",
        method: "POST",
        formElement: "N",
        data: data,
        callback: function (data) {
          if (!data.code == 0) {
            globalLoader($loader);
            globalErrorReturn(data);
          } else {
            infoPopup();
            $child.remove();
            globalLoader($loader);
          }
        },
        errorCallback: function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR);
        },
      });
    })
    .on("click", ".save-dad-edit", async function (e) {
      //start edit mode
      e.preventDefault();
      $loader = await globalLoader();

      var $this = $(this);
      var $child = $this.closest("h4");

      var data = {
        cate_id: $child.find("[name=cate_id]").val(),
        cate_name_tc: $child.find("[name=cate_name_tc]").val(),
        cate_name_en: $child.find("[name=cate_name_en]").val(),
      };

      $.bajax({
        url: "/admin/item/api/editItemCate",
        method: "POST",
        formElement: "N",
        data: data,
        callback: function (data) {
          if (!data.code == 0) {
            globalLoader($loader);
            globalErrorReturn(data);
          } else {
            $child.find(".dad-edit-mode").addClass("hidden").removeClass("flex");
            $child.find(".edit-cate-dad").removeClass("hidden");
            $child.find(".cate-dad-title").html($child.find("[name=cate_name_tc]").val() + "(" + $child.find("[name=cate_name_en]").val()+ ")").removeClass("hidden");
            $child.find("[name=cate_id]").val(data.result.item_cate.cate_id);
            $child.parents(".dad-outer-container").find(".cate-dad-title").attr("data-cate-id", data.result.item_cate.cate_id);

            globalLoader($loader);
            infoPopup("成功", "已更新物品分類資料。");
            initDad();
          }
        },
        errorCallback: function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR);
        },
      });
    })
    .on("click", ".remove-cate-dad", async function (e) {
      e.preventDefault();
      $loader = await globalLoader();

      var $this = $(this);

      var data = {
        cate_id: $this.closest("h4").find("[name=cate_id]").val(),
        activate: "N",
      };

      $.bajax({
        url: "/admin/item/api/editItemCate",
        method: "POST",
        formElement: "N",
        data: data,
        callback: function (data) {
          if (!data.code == 0) {
            globalLoader($loader);
            globalErrorReturn(data);
          } else {

            infoPopup();
            $this.closest(".dad-outer-container").remove();
            globalLoader($loader);
          }
        },
        errorCallback: function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR);
        },
      });
    });

  //cate dad action
  $(document).on("click", ".add-cate-child", function (e) {
    if (
      $(this)
        .parents(".dad-outer-container")
        .find(".dad-edit-mode [name=cate_id]")
        .val() == 0
    ) {
      vkAlertDefault({
        title: "錯誤",
        content: "請先命名分類再增加子分類",
        confirmButtonHtml: "確認",
      });
      return false;
    }
    e.preventDefault;
    var $this = $(this);
    $this.closest(".dad-outer-container").find(".cate-dad").append(`
        <div class="border border-gray-300 text-xl py-2 px-3 bg-white mb-px flex cate-child-indi rounded">
          <span class="flex items-center cate-child-title text-base">未命名</span>
          <div class="items-center edit-mode hidden text-sm">
            中文名稱：<input name="cate_name_tc" class="py-1 px-2 border border-gray-200" value="" />
            <div class="ml-2">英文名稱：<input name="cate_name_en" class="py-1 px-2 border border-gray-200" value="" /></div>
            <input name="cate_id" type="hidden" value="0"/>
            <a href="#" class="bg-blue-500 border border-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2 save-edit"><span class="">儲存</span></a>
            <a href="#" class=" px-3 py-2 font-bold inline-flex text-gray-700 text-base border border-gray-400 ml-2 cancel-edit-mode"><span class="">取消</span></a>
          </div>
          <a href="#" class="p3-4 py-2 ml-2 edit-cate-child"><i class="ri-edit-line"></i></a>
          <div class="flex items-center ml-auto mr-4 text-gray-600 text-sm">預設規格 : <span>未有規格</span><a href="#" class="cate-sku-editior border border-gray-300 rounded font-bold py-2 px-2 ml-2 hover:opacity-75">編輯規格</a></div>
          <a href="#" class=" py-2 text-xl delete-cate-child flex items-center px-3"><i class="ri-close-line"></i></a>
        </div>`);
  });

  $(document).ready(function () {
    //add cate dad
    $("#add-cate-dad").click(function (e) {
      e.preventDefault();
      $(".dad-container-js").append(`
        <div class="border-2 border-gray-300 border-dashed mb-3 pb-3 py-2 bg-gray-100 dad-outer-container">
            <h4 class="font-bold text-gray-600 text-2xl px-5 py-2 flex items-center">
                <span class="cate-dad-title">未命名</span>
                <div class="items-center dad-edit-mode hidden">
                    中文名稱：<input name="cate_name_tc" class="py-1 px-2 border border-gray-200" value="未命名" />
                    <div class="ml-2">英文名稱：<input name="cate_name_en" class="py-1 px-2 border border-gray-200" value="unnamed" /></div>
                    <input name="cate_id" type="hidden" value="0"/>
                    <a href="#" class="bg-blue-500 border border-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2 save-dad-edit"><span class="">儲存</span></a>
                    <a href="#" class="px-3 py-2 font-bold inline-flex text-gray-700 text-base border border-gray-400 ml-2 cancel-dad-edit-mode"><span class="">取消</span></a>
                </div>
                <a href="#" class="p3-4 py-2 ml-2 edit-cate-dad"><i class="ri-edit-line"></i></a>
                <a href="#" class="add-cate-child bg-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-auto"><i class="ri-add-line"></i><span class="ml-2">增加子分類</span></a>
                <a href="#" class="remove-cate-dad bg-red-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2"><i class="ri-add-line"></i><span class="ml-2">刪除分類</span></a>
            </h4>
            <div class="cate-dad px-5 py-2" style="min-height: 60px;"></div>
        </div>
     `);
      initDad();
    });
  });

  //edit sku
  $(document).off("click", ".cate-sku-editior").on("click", ".cate-sku-editior", function (e) {
    e.preventDefault();
    var $this = $(this);
    var childTitle = $this
      .closest(".cate-child-indi")
      .find(".cate-child-title")
      .html();
    var dadTitle = $this
      .closest(".dad-outer-container")
      .find(".cate-dad-title")
      .html();

    $vkmodal({
      extraClass: "childPopup",
      tapBackgroundToClose: false,
      fullScreen: true,
      content: `
      <div class="bg-white h-screen w-screen flex items-stretch overflow-y-hidden flex-col main-edit-panel-container" data-cate-id="${
        $this.data().cateId
      }">
            <div class="flex items-stretch h-full overflow-y-hidden">
              <div class="main-panel flex flex-grow flex-col h-full overflow-y-hidden">
                <div class="border-gray-300 border-b py-3 px-3">
                  <div class="flex items-center text-lg">
                    <span class="text-gray-500">${dadTitle}</span>
                    <i class="ri-arrow-right-s-line text-gray-400"></i>
                    <span class="text-gray-500">${childTitle}</span>
                  </div>
                  <h1 class="font-bold text-xl text-gray-700">編輯規格選項</h1>
                </div>
                <div class="flex-grow overflow-y-auto overflow-x-hidden bg-gray-100 h-min">
                  <div class="variant-list-looper flex flex-col">
                  </div>
                </div>
              </div>
              <div class="template-panel flex flex-col f-full overflow-y-hidden border-l-4 border-gray-300 w-120">

                <h1 class="font-bold text-lg text-gray-700 template-head border-gray-300 border-b py-3 px-3 ">
                  <div class="flex items-center mb-1">
                    <span>常用規格副本</span>
                    <a href="#" class="add-variant-template border border-gray-300 text-sm ml-2 py-1 px-3 rounded hover:opacity-75 ml-auto">增加常用副本</a>
                  </div>
                  <div class="border border-gray-300 rounded-full"><input class="search-template-field bg-transparent px-3 py-1" value=""/></div>
                </h1>
                <div class="flex-grow overflow-y-auto h-full bg-gray-100 variant-template-list-js  pb-3">
                  <!-- loop template here-->

                </div>
              </div>

          </div>
          <div class="flex items-center bg-white border-t border-gray-300 px-3 py-3">
              <a href="#" class="font-bold text-white bg-blue-500 rounded text-lg px-6 py-2 ml-auto save-variant-panel">儲存</a>
              <a href="#" class="font-bold border border-gray-400 rounded text-gray-400 text-lg px-6 py-2 ml-2 close-variant-panel"
                >取消</a
              >
            </div>
        </div>
        `,
      mounted: function (ele) {

        var searchFilterString = ''
        function changeFilterString(string){
          var searcherText = ''
          if(string || string == ''){
            searchFilterString = string
          }
          searcherText = searchFilterString;
          $('.variant-template-list-js').find('.variant-template-indi').find('.main-template-title-sp').each(function(index, elem){
            var $elem = $(elem)
            if($elem.text().toUpperCase().indexOf(searcherText.toUpperCase()) != -1){
              $elem.closest('.variant-template-indi').removeClass('hidden')
            } else {
              $elem.closest('.variant-template-indi').addClass('hidden')
            }
          })
        }

        $(".add-variant-template").click(function (e) {
          e.preventDefault();
        });

        $(".edit-variant-template").click(function (e) {
          e.preventDefault();
          var $this = $(this);

          $vkmodal({
            extraClass: "childPopup",
            tapBackgroundToClose: true,
            fullScreen: false,
            content: `<div class="w-108 bg-white rounded px-3 py-3">
                <div>
                  <div class="text-gray-400">編輯常用規格副本</div>
                  <div class="grid grid-cols-2">
                    <div>
                      <label>規格副本中文名稱</label>
                      <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="規格副本中文名稱">
                    </div>
                    <div>
                      <label>規格副本英文名稱</label>
                      <input class="w-full border border-gray-300 rounded px-2 py-1" placeholder="規格副本英文名稱">
                    </div>
                  </div>
                  <div class=""><div>
                </div>
              </div>`,
          });
        });

        //close panel clicker
        $(document)
          .off("click", ".save-variant-panel")
          .on("click", ".save-variant-panel", async function (e) {
            //form submit json

            var submitJson = [];
            var returnHtml = "";
            var isValidate = true;
            $(".variant-list-looper").find(".indi-variant-container").each(function (index, ele) {
                

                var mainObj = {
                  name_tc: $(ele).find('.indi-variant-info input[name="name-tc"]').val(),
                  name_en: $(ele).find('.indi-variant-info input[name="name-en"]').val(),
                  remarks: $(ele).find('.indi-variant-info input[name="remarks"]').val(),
                  val_json: [],
                };

                returnHtml += (index == 0 ? "" : ",") + `<span class="text-gray-900 font-bold">${$(ele).find('.indi-variant-info input[name="name-tc"]').val()}</span>`;

                $(ele).find(".sub-variant-row").each(function (ii, ee) {
                  if ($(ee).find('input[name="val"]').val() == '' || !$(ee).find('input[name="val"]').val()){
                    infoPopup("失敗", "規格SKU 是必填項目，用以組成物品SKU");
                    isValidate = false;
                    return false;
                  }
                  mainObj.val_json.push({
                    val: $(ee).find('input[name="val"]').val(),
                    name_tc: $(ee).find('input[name="name_tc"]').val(),
                    name_en: $(ee).find('input[name="name_en"]').val(),
                    remarks: $(ee).find('input[name="remarks"]').val(),
                  });
                });

                submitJson.push(mainObj);
              });
            if (!isValidate){
              return false;
            }


            //submit
            $loader = await globalLoader();
            $.bajax({
              url: "/admin/item/api/editItemCate",
              data: {
                cate_id: $(".main-edit-panel-container").data().cateId,
                various_json: JSON.stringify(submitJson),
              },
              method: "POST",
              formElement: "N",
              callback: function () {
                globalLoader($loader);
                infoPopup("成功", "已更新物品分類資料。");
                $this
                  .closest(".cate-child-indi")
                  .find(".indi-sku-option-holder")
                  .html(
                    returnHtml == "" ? "<span>未有規格</span>" : returnHtml
                  );
              },
            });
          })
          .off("click", ".close-variant-panel")
          .on("click", ".close-variant-panel", function (e) {
            e.preventDefault();
            var $this = $(this);
            killVkmodal(ele.data().timestamp);
          });

        //will call variant api with cate id
        function renderVariantLooper() {
          var html = "";
          var $container = $(".variant-list-looper");
          //bajax

          $.bajax({
            url: "/admin/item/api/getItemCateDtl",
            data: {
              cate_id: $(".main-edit-panel-container").data().cateId,
            },
            method: "POST",
            formElement: "N",
            callback: function (data) {
              // data.result.variousTplList.map(function (template, index) {
              //   console.log(template);
              // });
              if (data.result.item_cate.child_list[0].various_list){

              }
              var varList = data.result.item_cate.child_list[0].various_list;
              varList.map(function (val, valIndex) {
                html += `
              <div class=" mt-4 mx-4 border border-gray-300 bg-white overflow-x-hidden indi-variant-container">
                <div class="flex items-stretch">
                  <div class="grid grid-cols-3 gap-x-2 py-1 flex-grow indi-variant-info">
                    <div class="py-1 px-2">
                      <label class="block text-gray-500 font-bold text-sm mb-1">規格中文</label>
                      <input value="${val.name_tc ? val.name_tc : ""}" name="name-tc" class="border border-gray-300 w-full px-2 py-1 rounded"/>
                    </div>
                    <div class="py-1 px-2">
                      <label class="block text-gray-500 font-bold text-sm mb-1">規格英文</label>
                      <input value="${val.name_en ? val.name_en : ""}" name="name-en" class="border border-gray-300 w-full px-2 py-1 rounded" />
                    </div>
                    <div class="py-1 px-2">
                      <label class="block text-gray-500 font-bold text-sm mb-1">備註</label>
                      <input value="${val.remarks ? val.remarks : ""}" name="remarks" class="border border-gray-300 w-full px-2 py-1 rounded" />
                    </div>
                  </div>
                  <a href="#" class="remove-variant-js border-l border-gray-300 flex items-center justify-center px-6 text-gray-600 hover:bg-gray-100"><i class="ri-delete-bin-line text-xl "></i> 刪除規格</a>
                </div>
                <div class="sub-indi-variant-container">
                 <div class="flex-col items-stretch sub-indi-variant-container-looper">`;

                val.val_list.map(function (valIndi, valIndiIndex) {
                  html += `<div class="flex items-stretch  sub-variant-row">
                    <div class="grid grid-cols-4 gap-x-2 border-t border-gray-300 py-1 flex-grow">
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格選項（中文）</label>
                          <input value="${valIndi.name_tc ? valIndi.name_tc : ""}" name="name_tc" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格選項（英文）</label>
                          <input value="${valIndi.name_en ? valIndi.name_en : ""}" name="name_en" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格SKU</label>
                          <input value="${valIndi.val ? valIndi.val : ""}" name="val" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">備註</label>
                          <input value="${valIndi.remarks ? valIndi.remarks : ""}" name="remarks" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                      </div>
                      <a href="#" class="remove-sub-variant-js border-t border-gray-300 flex items-center justify-center px-6 text-gray-600 hover:bg-gray-100"><i class="ri-close-line text-xl "></i></a>
                  </div>`;
                });

                html += `</div>
                <div class="flex items-stretch divide-x">
                  <a href="#" class="add-sub-variant-js inline-flex items-center text-lg text-blue-500 self-center py-3 px-3 hover:bg-gray-100 rounded border-t border-gray-300 w-full">
                    <i class="ri-add-circle-line "></i>
                    <span class="ml-3 font-bold ">增加規格</span>
                  </a>
                  <a href="#" class="copy-sub-variant-to-template-js inline-flex items-center text-lg text-gray-500 self-center py-3 px-3 hover:bg-gray-100 rounded border-t border-gray-300 w-full">
                    <i class="ri-file-copy-line"></i>
                    <span class="ml-3 font-bold ">複製到副本</span>
                  </a>
                </div>
                </div>
              </div>
            `;
              });

              $container.html(html);

              $container.append(`
    <a href="#" class="add-variant-js inline-flex items-center text-xl text-blue-500 self-center py-3 px-3 hover:bg-gray-200 my-3 rounded">
      <i class="ri-add-circle-line "></i>
      <span class="ml-3 font-bold ">增加規格選項</span>
    </a>
  `);
            },
          });
        }
        function renderVariantTemplate() {
          var html = "";
          var $container = $(".variant-template-list-js");

          $.bajax({
            url: "/admin/item/api/getCateVariousTpl",
            method: "POST",
            formElement: "N",
            callback: function (data) {
              data.result.variousTplList.map(function (template, index) {
                // console.log(template);
                html += `
            <div class="variant-template-indi mx-3 border border-gray-300 bg-white px-3 mt-2 pt-2 rounded">
              <div class="font-bold text-lg flex items-center"><span class="main-template-title-sp">${template.name_tc}(${template.name_en})</span>
                <a href="#" data-id="${template.type_id}" class="edit-variant-template flex items-center text-gray-500 ml-2 text-sm"><i class="ri-edit-line"></i><span class="ml-2" >編輯</span></a>
              </div>
              <div class="text-sm text-gray-500 mb-1">${template.remarks ? template.remarks : ""}</div>
              <div class="flex items-center flex-wrap gap-x-1 gap-y-1">`;
                template.val_list.map(function (val, valIndex) {
                  html += `<span class="border border-gray-400 text-gray-600 rounded px-1">${val.name_tc}(${val.name_en})</span>`;
                });
                html += `</div>
              <div class="-mx-3 border-t border-gray-300 mt-2 py-2 text-blue-500 text-center font-bold hover:bg-blue-50 inject-variant-template-js">添加至規格<textarea class="hidden">${JSON.stringify(
                template
              )}</textarea></div>
            </div>
            `;
              });
              $container.html(html);
              changeFilterString()
            },
          });
        }

        $(document)
          .off("click", ".add-variant-js")
          .on("click", ".add-variant-js", function (e) {
            e.preventDefault();
            var $containter = $(".variant-list-looper");
            $containter.find(".add-variant-js").before(`
              <div class=" mt-4 mx-4 border border-gray-300 bg-white overflow-x-hidden indi-variant-container">
                <div class="flex items-stretch">
                  <div class="grid grid-cols-3 gap-x-2 py-1 flex-grow indi-variant-info">
                    <div class="py-1 px-2">
                      <label class="block text-gray-500 font-bold text-sm mb-1">規格中文</label>
                      <input value="" name="name-tc" class="border border-gray-300 w-full px-2 py-1 rounded"/>
                    </div>
                    <div class="py-1 px-2">
                      <label class="block text-gray-500 font-bold text-sm mb-1">規格英文</label>
                      <input value="" name="name-en" class="border border-gray-300 w-full px-2 py-1 rounded" />
                    </div>
                    <div class="py-1 px-2">
                      <label class="block text-gray-500 font-bold text-sm mb-1">備註</label>
                      <input value="" name="remarks" class="border border-gray-300 w-full px-2 py-1 rounded" />
                    </div>
                  </div>
                  <a href="#" class="remove-variant-js border-l border-gray-300 flex items-center justify-center px-6 text-gray-600 hover:bg-gray-100"><i class="ri-delete-bin-line text-xl "></i> 刪除規格</a>
                </div>
                <div class="sub-indi-variant-container">
                 <div class="flex-col items-stretch sub-indi-variant-container-looper">

                   <div class="flex items-stretch  sub-variant-row">
                    <div class="grid grid-cols-4 gap-x-2 border-t border-gray-300 py-1 flex-grow">
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格選項（中文）</label>
                          <input value="" name="name_tc" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格選項（英文）</label>
                          <input value="" name="name_en" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格SKU</label>
                          <input value="" name="val" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">備註</label>
                          <input value="" name="remarks" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                      </div>
                      <a href="#" class="remove-sub-variant-js border-t border-gray-300 flex items-center justify-center px-6 text-gray-600 hover:bg-gray-100"><i class="ri-close-line text-xl "></i></a>
                  </div>

                  </div>
                  <div class="flex items-stretch divide-x">
                  <a href="#" class="add-sub-variant-js inline-flex items-center text-lg text-blue-500 self-center py-3 px-3 hover:bg-gray-100 rounded border-t border-gray-300 w-full">
                    <i class="ri-add-circle-line "></i>
                    <span class="ml-3 font-bold ">增加規格</span>
                  </a>
                  <a href="#" class="copy-sub-variant-to-template-js inline-flex items-center text-lg text-gray-500 self-center py-3 px-3 hover:bg-gray-100 rounded border-t border-gray-300 w-full">
                    <i class="ri-file-copy-line"></i>
                    <span class="ml-3 font-bold ">複製到副本</span>
                  </a>
                </div>
                </div>
              </div>
            `);
          })
          .off("click", ".add-sub-variant-js")
          .on("click", ".add-sub-variant-js", function (e) {
            e.preventDefault();
            var $this = $(this);
            var $container = $this.closest(".sub-indi-variant-container");
            $container.find(".sub-indi-variant-container-looper").append(`
              <div class="flex items-stretch sub-variant-row">
                    <div class="grid grid-cols-4 gap-x-2 border-t border-gray-300 py-1 flex-grow">
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格選項（中文）</label>
                          <input value="" name="name_tc" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格選項（英文）</label>
                          <input value="" name="name_en" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格SKU</label>
                          <input value="" name="val" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">備註</label>
                          <input value="" name="remarks" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                      </div>
                      <a href="#" class="remove-sub-variant-js border-t border-gray-300 flex items-center justify-center px-6 text-gray-600 hover:bg-gray-100"><i class="ri-close-line text-xl "></i></a>
                  </div>`);
          })
          .off("click", ".remove-sub-variant-js")
          .on("click", ".remove-sub-variant-js", function (e) {
            e.preventDefault();
            //remove sub group
            var $this = $(this);
            $this.closest(".sub-variant-row").remove();
          })
          .off("click", ".remove-variant-js")
          .on("click", ".remove-variant-js", function (e) {
            e.preventDefault();
            //remove group
            var $this = $(this);
            $this.closest(".indi-variant-container").remove();
          })
          .off("click", ".inject-variant-template-js")
          .on("click", ".inject-variant-template-js", function (e) {
            e.preventDefault();
            var $this = $(this);
            var val = JSON.parse($this.find("textarea").val());
            console.log(val);
            var html = "";
            var $container = $(".variant-list-looper");
            //render html
            html += `
              <div class=" mt-4 mx-4 border border-gray-300 bg-white overflow-x-hidden indi-variant-container">
                <div class="flex items-stretch">
                  <div class="grid grid-cols-3 gap-x-2 py-1 flex-grow indi-variant-info">
                    <div class="py-1 px-2">
                      <label class="block text-gray-500 font-bold text-sm mb-1">規格中文</label>
                      <input value="${val.name_tc}" name="name-tc" class="border border-gray-300 w-full px-2 py-1 rounded"/>
                    </div>
                    <div class="py-1 px-2">
                      <label class="block text-gray-500 font-bold text-sm mb-1">規格英文</label>
                      <input value="${val.name_en}" name="name-en" class="border border-gray-300 w-full px-2 py-1 rounded" />
                    </div>
                    <div class="py-1 px-2">
                      <label class="block text-gray-500 font-bold text-sm mb-1">備註</label>
                      <input value="${val.remarks ? val.remarks : ""}" name="remarks" class="border border-gray-300 w-full px-2 py-1 rounded" />
                    </div>
                  </div>
                  <a href="#" class="remove-variant-js border-l border-gray-300 flex items-center justify-center px-6 text-gray-600 hover:bg-gray-100"><i class="ri-delete-bin-line text-xl "></i> 刪除規格</a>
                </div>
                <div class="sub-indi-variant-container">
                 <div class="flex-col items-stretch sub-indi-variant-container-looper">`;

            val.val_list.map(function (subVal, subValIndex) {
              html += ` <div class="flex items-stretch  sub-variant-row">
                    <div class="grid grid-cols-4 gap-x-2 border-t border-gray-300 py-1 flex-grow">
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格選項（中文）</label>
                          <input value="${subVal.name_tc}" name="name_tc" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格選項（英文）</label>
                          <input value="${subVal.name_en}" name="name_en" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格SKU</label>
                          <input value="${subVal.val}" name="val" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">備註</label>
                          <input value="${subVal.remarks ? subVal.remarks : ""}" name="remarks" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                      </div>
                      <a href="#" class="remove-sub-variant-js border-t border-gray-300 flex items-center justify-center px-6 text-gray-600 hover:bg-gray-100"><i class="ri-close-line text-xl "></i></a>
                  </div>`;
            });
            html += `</div>
            <div class="flex items-stretch divide-x">
                  <a href="#" class="add-sub-variant-js inline-flex items-center text-lg text-blue-500 self-center py-3 px-3 hover:bg-gray-100 rounded border-t border-gray-300 w-full">
                    <i class="ri-add-circle-line "></i>
                    <span class="ml-3 font-bold ">增加規格</span>
                  </a>
                  <a href="#" class="copy-sub-variant-to-template-js inline-flex items-center text-lg text-gray-500 self-center py-3 px-3 hover:bg-gray-100 rounded border-t border-gray-300 w-full">
                    <i class="ri-file-copy-line"></i>
                    <span class="ml-3 font-bold ">複製到副本</span>
                  </a>
                </div>
                </div>
              </div>
            `;
            $container.find(".add-variant-js").before(html);
          })
          .off("click", ".add-variant-template")
          .on("click", ".add-variant-template", function (e) {
            $vkmodal({
              //extraClass: "childPopup",
              tapBackgroundToClose: true,
              fullScreen: false,
              content: `
              <div class="flex items-center gap-x-3 pr-3">
                <h1 class="font-bold text-xl mt-4 mb-3 mx-3">增加常用規格副本</h1>
                <a href="#" class="cancel-popup-tpl-js ml-auto border border-gray-300 text-gray-600 bg-white font-bold rounded py-2 px-3 hover:opacity-75">取消</a>
                <a href="#" class="create-template-tpl-js border border-gray-300 text-white bg-blue-500 font-bold rounded py-2 px-3 hover:opacity-75">新增副本</a>
                <!--<a href="#" class="save-template-tpl-js border border-gray-300 text-white bg-blue-500 font-bold rounded py-2 px-3 hover:opacity-75" data-type-id="">儲存</a>
                <a href="#" class="delete-template-tpl-js border border-gray-300 text-white bg-red-500 font-bold rounded py-2 px-3 hover:opacity-75">刪除副本</a>-->
              </div>
              <div class="border border-gray-300 bg-white overflow-x-hidden indi-variant-container">
                <div class="flex items-stretch">
                  <div class="grid grid-cols-3 gap-x-2 py-1 flex-grow indi-variant-info">
                    <div class="py-1 px-2">
                      <label class="block text-gray-500 font-bold text-sm mb-1">規格中文</label>
                      <input value="" name="name-tc" class="border border-gray-300 w-full px-2 py-1 rounded"/>
                    </div>
                    <div class="py-1 px-2">
                      <label class="block text-gray-500 font-bold text-sm mb-1">規格英文</label>
                      <input value="" name="name-en" class="border border-gray-300 w-full px-2 py-1 rounded" />
                    </div>
                    <div class="py-1 px-2">
                      <label class="block text-gray-500 font-bold text-sm mb-1">備註</label>
                      <input value="" name="remarks" class="border border-gray-300 w-full px-2 py-1 rounded" />
                    </div>
                  </div>
                </div>
                <div class="sub-indi-variant-container">
                 <div class="flex-col items-stretch sub-indi-variant-container-looper">

                   <div class="flex items-stretch  sub-variant-row">
                    <div class="grid grid-cols-4 gap-x-2 border-t border-gray-300 py-1 flex-grow">
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格選項（中文）</label>
                          <input value="" name="name_tc" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格選項（英文）</label>
                          <input value="" name="name_en" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格SKU</label>
                          <input value="" name="val" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">備註</label>
                          <input value="" name="remarks" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                      </div>
                      <a href="#" class="remove-sub-variant-js border-t border-gray-300 flex items-center justify-center px-6 text-gray-600 hover:bg-gray-100"><i class="ri-close-line text-xl "></i></a>
                  </div>

                  </div>
                  <div class="flex items-stretch divide-x">
                  <a href="#" class="add-sub-variant-js inline-flex items-center text-lg text-blue-500 self-center py-3 px-3 hover:bg-gray-100 rounded border-t border-gray-300 w-full">
                    <i class="ri-add-circle-line "></i>
                    <span class="ml-3 font-bold ">增加規格</span>
                  </a>
                </div>
                </div>
              </div>`,
              mounted: async function (ele) {
                $(".cancel-popup-tpl-js").click(function (e) {
                  e.preventDefault();
                  killVkmodal($(ele).data().timestamp);
                });

                $(".create-template-tpl-js, .save-template-tpl-js").click(
                  async function (e) {
                    e.preventDefault();
                    var $this = $(this);
                    if ($this.data().typeId == null) {
                      console.log("create new");
                      killVkmodal($(ele).data().timestamp);
                    } else {
                    }
                    //generate json
                    var val_json = [];
                    $(ele)
                      .find(".sub-variant-row")
                      .each(function (ii, ee) {
                        val_json.push({
                          val: $(ee).find('input[name="val"]').val(),
                          name_tc: $(ee).find('input[name="name_tc"]').val(),
                          name_en: $(ee).find('input[name="name_en"]').val(),
                          remarks: $(ee).find('input[name="remarks"]').val(),
                        });
                      });

                    $loader = await globalLoader();

                    $.bajax({
                      url: "/admin/item/api/editItemCateVariousTpl",
                      data: {
                        name_tc: $(ele)
                          .find('.indi-variant-info input[name="name-tc"]')
                          .val(),
                        name_en: $(ele)
                          .find('.indi-variant-info input[name="name-en"]')
                          .val(),
                        remarks: $(ele)
                          .find('.indi-variant-info input[name="remarks"]')
                          .val(),
                        type_id: "0",
                        val_json: JSON.stringify(val_json),
                      },
                      callback: function () {
                        //render new template
                        renderVariantTemplate();

                        //close loader
                        globalLoader($loader);

                        //close modal
                        killVkmodal($(ele).data().timestamp);
                      },
                    });
                  }
                );
              },
            });
          })
          .off("click", ".copy-sub-variant-to-template-js")
          .on("click", ".copy-sub-variant-to-template-js", function (e) {
            //grap data from the current widget
            var $this = $(this);
            var $container = $this.closest(".indi-variant-container");
            //grab data from each sku
            var listData = [];
            $container.find(".sub-variant-row").each(function (index, item) {
              listData.push({
                name_tc: $(item).find('input[name="name_tc"]').val(),
                name_en: $(item).find('input[name="name_en"]').val(),
                remarks: $(item).find('input[name="remarks"]').val(),
                val: $(item).find('input[name="val"]').val(),
              });
            });

            var vkHtml = `<div class="flex items-center gap-x-3 pr-3">
                <h1 class="font-bold text-xl mt-4 mb-3 mx-3">增加常用規格副本</h1>
                <a href="#" class="cancel-popup-tpl-js ml-auto border border-gray-300 text-gray-600 bg-white font-bold rounded py-2 px-3 hover:opacity-75">取消</a>
                <a href="#" class="create-template-tpl-js border border-gray-300 text-white bg-blue-500 font-bold rounded py-2 px-3 hover:opacity-75">新增副本</a>
                <!--<a href="#" class="save-template-tpl-js border border-gray-300 text-white bg-blue-500 font-bold rounded py-2 px-3 hover:opacity-75" data-type-id="">儲存</a>
                <a href="#" class="delete-template-tpl-js border border-gray-300 text-white bg-red-500 font-bold rounded py-2 px-3 hover:opacity-75">刪除副本</a>-->
              </div>
              <div class="border border-gray-300 bg-white overflow-x-hidden indi-variant-container">
                <div class="flex items-stretch">
                  <div class="grid grid-cols-3 gap-x-2 py-1 flex-grow indi-variant-info">
                    <div class="py-1 px-2">
                      <label class="block text-gray-500 font-bold text-sm mb-1">規格中文</label>
                      <input value="${$container
                        .find('.indi-variant-info input[name="name-tc"]')
                        .val()}" name="name-tc" class="border border-gray-300 w-full px-2 py-1 rounded"/>
                    </div>
                    <div class="py-1 px-2">
                      <label class="block text-gray-500 font-bold text-sm mb-1">規格英文</label>
                      <input value="${$container
                        .find('.indi-variant-info input[name="name-en"]')
                        .val()}" name="name-en" class="border border-gray-300 w-full px-2 py-1 rounded" />
                    </div>
                    <div class="py-1 px-2">
                      <label class="block text-gray-500 font-bold text-sm mb-1">備註</label>
                      <input value="${$container
                        .find('.indi-variant-info input[name="remarks"]')
                        .val()}" name="remarks" class="border border-gray-300 w-full px-2 py-1 rounded" />
                    </div>
                  </div>
                </div>
                <div class="sub-indi-variant-container">
                 <div class="flex-col items-stretch sub-indi-variant-container-looper">`;

            listData.map(function (data, dataIndex) {
              vkHtml += `<div class="flex items-stretch  sub-variant-row">
                    <div class="grid grid-cols-4 gap-x-2 border-t border-gray-300 py-1 flex-grow">
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格選項（中文）</label>
                          <input value="${data.name_tc}" name="name_tc" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格選項（英文）</label>
                          <input value="${data.name_en}" name="name_en" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格SKU</label>
                          <input value="${data.val}" name="val" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">備註</label>
                          <input value="${data.remarks}" name="remarks" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                      </div>
                      <a href="#" class="remove-sub-variant-js border-t border-gray-300 flex items-center justify-center px-6 text-gray-600 hover:bg-gray-100"><i class="ri-close-line text-xl "></i></a>
                  </div>`;
            });

            vkHtml += `</div>
                  <div class="flex items-stretch divide-x">
                  <a href="#" class="add-sub-variant-js inline-flex items-center text-lg text-blue-500 self-center py-3 px-3 hover:bg-gray-100 rounded border-t border-gray-300 w-full">
                    <i class="ri-add-circle-line "></i>
                    <span class="ml-3 font-bold ">增加規格</span>
                  </a>
                </div>
                </div>
              </div>`;

            $vkmodal({
              //extraClass: "childPopup",
              tapBackgroundToClose: true,
              fullScreen: false,
              content: vkHtml,
              mounted: async function (ele) {
                $(".cancel-popup-tpl-js").click(function (e) {
                  e.preventDefault();
                  killVkmodal($(ele).data().timestamp);
                });

                $(".create-template-tpl-js, .save-template-tpl-js").click(
                  async function (e) {
                    e.preventDefault();
                    var $this = $(this);
                    if ($this.data().typeId == null) {
                      console.log("create new");
                      killVkmodal($(ele).data().timestamp);
                    } else {
                    }
                    //generate json
                    var val_json = [];
                    $(ele)
                      .find(".sub-variant-row")
                      .each(function (ii, ee) {
                        val_json.push({
                          val: $(ee).find('input[name="val"]').val(),
                          name_tc: $(ee).find('input[name="name_tc"]').val(),
                          name_en: $(ee).find('input[name="name_en"]').val(),
                          remarks: $(ee).find('input[name="remarks"]').val(),
                        });
                      });

                    $loader = await globalLoader();

                    $.bajax({
                      url: "/admin/item/api/editItemCateVariousTpl",
                      data: {
                        name_tc: $(ele)
                          .find('.indi-variant-info input[name="name-tc"]')
                          .val(),
                        name_en: $(ele)
                          .find('.indi-variant-info input[name="name-en"]')
                          .val(),
                        remarks: $(ele)
                          .find('.indi-variant-info input[name="remarks"]')
                          .val(),
                        type_id: "0",
                        val_json: JSON.stringify(val_json),
                      },
                      callback: function () {
                        //render new template
                        renderVariantTemplate();

                        //close loader
                        globalLoader($loader);

                        //close modal
                        killVkmodal($(ele).data().timestamp);
                      },
                    });
                  }
                );
              },
            });
          })
          .off("click", ".edit-variant-template")
          .on("click", ".edit-variant-template", function (e) {
            //grap data from the current widget
            var $this = $(this);
            var typeId = $this.data().id;

            var $container = $this.closest(".variant-template-indi");
            var $data = JSON.parse($container.find("textarea").val());
            //grab data from each sku
            console.log($data);

            var vkHtml = `<div class="flex items-center gap-x-3 pr-3">
                <h1 class="font-bold text-xl mt-4 mb-3 mx-3">增加常用規格副本</h1>
                <a href="#" class="cancel-popup-tpl-js ml-auto border border-gray-300 text-gray-600 bg-white font-bold rounded py-2 px-3 hover:opacity-75">取消</a>
                <!-- <a href="#" class="create-template-tpl-js border border-gray-300 text-white bg-blue-500 font-bold rounded py-2 px-3 hover:opacity-75">新增副本</a>-->
                <a href="#" class="save-template-tpl-js border border-gray-300 text-white bg-blue-500 font-bold rounded py-2 px-3 hover:opacity-75" data-type-id="">儲存</a>
                <a href="#" class="delete-template-tpl-js border border-gray-300 text-white bg-red-500 font-bold rounded py-2 px-3 hover:opacity-75">刪除副本</a>
              </div>
              <div class="border border-gray-300 bg-white overflow-x-hidden indi-variant-container">
                <div class="flex items-stretch">
                  <div class="grid grid-cols-3 gap-x-2 py-1 flex-grow indi-variant-info">
                    <div class="py-1 px-2">
                      <label class="block text-gray-500 font-bold text-sm mb-1">規格中文</label>
                      <input value="${
                        $data.name_tc ? $data.name_tc.trim() : ""
                      }" name="name-tc" class="border border-gray-300 w-full px-2 py-1 rounded"/>
                    </div>
                    <div class="py-1 px-2">
                      <label class="block text-gray-500 font-bold text-sm mb-1">規格英文</label>
                      <input value="${
                        $data.name_en ? $data.name_en.trim() : ""
                      }" name="name-en" class="border border-gray-300 w-full px-2 py-1 rounded" />
                    </div>
                    <div class="py-1 px-2">
                      <label class="block text-gray-500 font-bold text-sm mb-1">備註</label>
                      <input value="${
                        $data.name_remarks ? $data.name_remarks.trim() : ""
                      }" name="remarks" class="border border-gray-300 w-full px-2 py-1 rounded" />
                    </div>
                  </div>
                </div>
                <div class="sub-indi-variant-container">
                 <div class="flex-col items-stretch sub-indi-variant-container-looper">`;

            $data.val_list.map(function (data, dataIndex) {
              vkHtml += `<div class="flex items-stretch  sub-variant-row">
                    <div class="grid grid-cols-4 gap-x-2 border-t border-gray-300 py-1 flex-grow">
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格選項（中文）</label>
                          <input value="${data.name_tc}" name="name_tc" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格選項（英文）</label>
                          <input value="${data.name_en}" name="name_en" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">規格SKU</label>
                          <input value="${data.val}" name="val" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                        <div class="py-1 px-2">
                          <label class="block text-gray-500 font-bold text-sm mb-1">備註</label>
                          <input value="${data.remarks}" name="remarks" class="border border-gray-300 w-full px-2 py-1 rounded" />
                        </div>
                      </div>
                      <a href="#" class="remove-sub-variant-js border-t border-gray-300 flex items-center justify-center px-6 text-gray-600 hover:bg-gray-100"><i class="ri-close-line text-xl "></i></a>
                  </div>`;
            });

            vkHtml += `</div>
                  <div class="flex items-stretch divide-x">
                  <a href="#" class="add-sub-variant-js inline-flex items-center text-lg text-blue-500 self-center py-3 px-3 hover:bg-gray-100 rounded border-t border-gray-300 w-full">
                    <i class="ri-add-circle-line "></i>
                    <span class="ml-3 font-bold ">增加規格</span>
                  </a>
                </div>
                </div>
              </div>`;

            $vkmodal({
              //extraClass: "childPopup",
              tapBackgroundToClose: true,
              fullScreen: false,
              content: vkHtml,
              mounted: async function (ele) {
                $(".cancel-popup-tpl-js").click(function (e) {
                  e.preventDefault();
                  killVkmodal($(ele).data().timestamp);
                });

                $(".save-template-tpl-js").click(async function (e) {
                  e.preventDefault();
                  var $this = $(this);
                  if ($this.data().typeId == null) {
                    console.log("create new");
                    killVkmodal($(ele).data().timestamp);
                  } else {
                  }
                  //generate json
                  var val_json = [];
                  $(ele)
                    .find(".sub-variant-row")
                    .each(function (ii, ee) {
                      val_json.push({
                        val: $(ee).find('input[name="val"]').val(),
                        name_tc: $(ee).find('input[name="name_tc"]').val(),
                        name_en: $(ee).find('input[name="name_en"]').val(),
                        remarks: $(ee).find('input[name="remarks"]').val(),
                      });
                    });

                  $loader = await globalLoader();

                  $.bajax({
                    url: "/admin/item/api/editItemCateVariousTpl",
                    data: {
                      name_tc: $(ele)
                        .find('.indi-variant-info input[name="name-tc"]')
                        .val(),
                      name_en: $(ele)
                        .find('.indi-variant-info input[name="name-en"]')
                        .val(),
                      remarks: $(ele)
                        .find('.indi-variant-info input[name="remarks"]')
                        .val(),
                      type_id: typeId,
                      val_json: JSON.stringify(val_json),
                    },
                    callback: function () {
                      //render new template
                      renderVariantTemplate();

                      //close loader
                      globalLoader($loader);

                      //close modal
                      killVkmodal($(ele).data().timestamp);
                    },
                  });
                });

                $(".delete-template-tpl-js").click(async function (e) {
                  e.preventDefault();
                  var $this = $(this);

                  //generate json
                  vkConfirmDefault({
                    title: "刪除規格副本",
                    content: "確認刪除此規格副本嗎？",
                    confirmButton: true,
                    confirmButtonHtml: "刪除",
                    confirmButtonHtmlClass: "bg-red-500 text-white",
                    confirmButtonFunction: async function () {
                      $loader = await globalLoader();
                      $.bajax({
                        url: "/admin/item/api/editItemCateVariousTpl",
                        data: {
                          type_id: typeId,
                          activate: "N",
                        },
                        callback: function () {
                          //render new template
                          renderVariantTemplate();

                          //close loader

                          globalLoader($loader);

                          //close modal
                          killVkmodal($(ele).data().timestamp);
                        },
                      });
                    },
                    cancelButtonHtml: "取消",
                  });
                });
              },
            });
          })
          .off('keyup', '.search-template-field')
          .on('keyup', '.search-template-field', function(e){
            var $this = $(this)
            console.log('ads')
            changeFilterString($this.val())
          })

        //get templates
        renderVariantTemplate();
        //start to render content & list of variant
        renderVariantLooper();

        $(document).on("click", ".variant-adder", function () {});
      },
    });
  });

  $(document).ready(function (e) {
    //get item cate list
    $.bajax({
      url: "/admin/item/api/getItemCateList",
      method: "POST",
      formElement: "N",

      callback: function (data) {
        var html = "";
        var cateList = data.result.item_cate_list;
        cateList.map(function (cate, index) {
          html += `
            <div class="border-2 border-gray-300 border-dashed mb-3 pb-3 py-2 bg-gray-100 dad-outer-container">
              <h4 class="font-bold text-gray-600 text-2xl px-5 py-2 flex items-center">
                <i class="dragger_p ri-drag-move-2-fill text-2xl text-gray-400 hover:text-gray-500 px-1 lg:px-3"></i>
                <span class="cate-dad-title" data-cate-id="${cate.cate_id}">${cate.cate_name_tc} (${cate.cate_name_en})</span>
                <div class="items-center dad-edit-mode hidden">
                  中文名稱：<input name="cate_name_tc" class="py-1 px-2 border border-gray-200" value="${cate.cate_name_tc}" />
                  <div class="ml-2">英文名稱：<input name="cate_name_en" class="py-1 px-2 border border-gray-200" value="${cate.cate_name_en}" /></div>
                  <input name="cate_id" type="hidden" value="${cate.cate_id}"/>
                  <a href="#" class="bg-blue-500 border border-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2 save-dad-edit"><span class="">儲存</span></a>
                  <a href="#" class="px-3 py-2 font-bold inline-flex text-gray-700 text-base border border-gray-400 ml-2 cancel-dad-edit-mode"><span class="">取消</span></a>
                </div>

                <a href="#" class="p3-4 py-2 ml-2 edit-cate-dad"><i class="ri-edit-line"></i></a>
                <a href="#" class="add-cate-child bg-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-auto"><i class="ri-add-line"></i><span class="ml-2">增加子分類</span></a>
                <a href="#" class="remove-cate-dad bg-red-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2"><i class="ri-add-line"></i><span class="ml-2">刪除分類</span></a>
              </h4>
              <div class="cate-dad px-5 py-2" style="min-height: 60px;">`;
          if (cate.child_list) {
            cate.child_list.map(function (childCate, childIndex) {
              html += `
                    <div class="border border-gray-300 py-2 px-3 bg-white mb-px flex cate-child-indi rounded text-base items-center">
                      <i class="dragger ri-drag-move-2-fill text-2xl text-gray-400 hover:text-gray-500 px-1 lg:px-3"></i>
                      <span class="flex items-center cate-child-title text-base">[${childCate.cate_id.padStart("3","0")}] ${childCate.cate_name_tc} (${childCate.cate_name_en})</span>
                      <div class="items-center edit-mode hidden text-sm">
                        中文名稱：<input name="cate_name_tc" class="py-1 px-2 border border-gray-200" value="${
                          childCate.cate_name_tc
                        }" />
                        <div class="ml-2">英文名稱：<input name="cate_name_en" class="py-1 px-2 border border-gray-200" value="${
                          childCate.cate_name_en
                        }" /></div>
                        <input name="cate_id" type="hidden" value="${
                          childCate.cate_id
                        }"/>
                        <a href="#" class="bg-blue-500 border border-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2 save-edit"><span class="">儲存</span></a>
                        <a href="#" class="px-3 py-2 font-bold inline-flex text-gray-700 text-base border border-gray-400 ml-2 cancel-edit-mode"><span class="">取消</span></a>
                      </div>
                      <a href="#" class="p3-4 py-2 ml-2 edit-cate-child"><i class="ri-edit-line"></i></a>
                      <div class="flex items-center ml-auto mr-4 text-gray-600 text-sm">預設規格 :<div class="inline-flex indi-sku-option-holder">`;

              if (childCate.various_list.length == 0) {
                html += "<span>未有規格</span>";
              } else {
                childCate.various_list.map(function (val, index) {
                  html +=
                    (index == 0 ? "" : ", ") +
                    `<span class="text-gray-900 font-bold" >${val.name_tc}</span>`;
                });
              }
              //<span>未有規格</span>

              html += `</div><a href="#" class="cate-sku-editior border border-gray-300 rounded font-bold py-2 px-2 ml-2 hover:opacity-75" data-cate-id="${childCate.cate_id}">編輯規格</a></div>
                      <a href="#" class=" py-2 text-xl delete-cate-child flex items-center px-3"><i class="ri-close-line"></i></a>
                    </div>
                  `;
            });
          }

          html += `</div></div>`;
        });

        $(".dad-container-js").html(html);

        initDad();
      },
    });
  });
</script>

<style>
  #onesignal-bell-container {
    display: none !important;
  }
  .navigation-section {
    background-color: white;
    border-left: 1px solid rgba(209, 213, 219, var(--tw-border-opacity));
    --tw-border-opacity: 1;
  }
</style>
{/literal}
