
<div id="gridContainer"></div>


{literal}
<script>
$(document).ready(function(){
    var collapsed = false;

    $("#gridContainer").dxDataGrid({

        dataSource: new DevExpress.data.DataSource({
            load: function (data) {            
                return fetch("admin/item/api/getItemList").then(response => response.json()).then(data => data.result)


                // return fetch("admin/item/api/getItemList").then(response => response.json()).then(data => data.result[0]);
            }
        }),
        // columns: ["item_id", "sku_prefix", "qty", "name_tc", "name_en"],
        // dataSource: {
        //     store: {
        //         type: "json",
        //         url: "admin/item/api/getItemList",
        //         key: "result.result.data",
        //         // beforeSend: function(request) {
        //         //     request.params.startDate = "2020-05-10";
        //         //     request.params.endDate = "2020-05-15";
        //         // }
        //     }
        // },
        paging: {
            pageSize: 10
        },
        pager: {
            showPageSizeSelector: true,
            allowedPageSizes: [10, 25, 50, 100]
        },
        headerFilter: {
            visible: true
        },
        searchPanel: {
            visible: true
        },
        // remoteOperations: false,
        // searchPanel: {
        //     visible: true,
        //     highlightCaseSensitive: true
        // },
        // groupPanel: { visible: true },
        // grouping: {
        //     autoExpandAll: false
        // },
        // allowColumnReordering: true,
        // rowAlternationEnabled: true,
        // showBorders: true,
        columns: [
            {
                dataField: "sku_prefix",
                caption: "Sku 前綴"
            },
            {
                dataField: "name_tc",
                caption: "中文"
            },
            {
                dataField: "name_en",
                caption: "英文"
            },
            {
                dataField: "platform",
                caption: "平台"
            },{
                type: "buttons",
                buttons: [{
                    hint: "edit",
                    icon: "edit",
                    onClick: function(e) {
                        console.log(e.row.key);
                        location.href ="admin/item/itemDtl?item_id=" + e.row.key.item_id;

                        e.event.preventDefault();
                    }
                }]
            }
            // {
            //     dataField: "Amount",
            //     caption: "Sale Amount",
            //     dataType: "number",
            //     format: "currency",
            //     alignment: "right",
            // },
            // {
            //     dataField: "Discount",
            //     caption: "Discount %",
            //     dataType: "number",
            //     format: "percent",
            //     alignment: "right",
            //     allowGrouping: false,
                
            //     cssClass: "bullet"
            // },
            // {
            //     dataField: "SaleDate",
            //     dataType: "date"
            // },
            // {
            //     dataField: "Region",
            //     dataType: "string"
            // },
            // {
            //     dataField: "Sector",
            //     dataType: "string",
            // },
            // {
            //     dataField: "Channel",
            //     dataType: "string",
            // },
            // {
            //     dataField: "Customer",
            //     dataType: "string",
            //     width: 150
            // }
        ],
        // onContentReady: function(e) {
        //     if(!collapsed) {
        //         collapsed = true;
        //         e.component.expandRow(["EnviroCare"]);
        //     }
        // }
    });


});

</script>

{/literal}
