<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-12">
    <div class="flex flex-col items-start">
        <a href="admin/item/itemReplaceList"><div class="text-2xl font-bold">物品取代列表</div></a>
    </div>
    
    
    <div class="flex bg-white rounded-full ml-auto shadow hidden">
        <form id="list_form" action="admin/item/itemList" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="skey" class="flex px-4 py-2 rounded-full truncate" type="text" placeholder="SKU, 條碼, 中文, 英文" value="{$result_array.page_config.skey}">
                <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-12">
    <div class="grid grid-cols-6 gap-5 text-gray-600 border-b-2 border-gray-300 px-4 py-3 lg:px-8">
        <div class="flex flex-row my-auto cursor-pointer">被取代物品</div>
        <div class="flex flex-row my-auto cursor-pointer">取代的SKU</div>
        <div class="col-span-2 flex flex-row my-auto cursor-pointer">時段取代</div>
        <div class="flex flex-row my-auto cursor-pointer">缺貨時自動取代</div>
        <div class="my-auto ml-auto">操作</div>
    </div>

    {foreach from=$result_array.itemReplaceList key=k item=i}
    <div class="grid grid-cols-6 auto-rows-auto items-center gap-5 px-4 py-3 lg:px-8 text-gray-800 border-b border-gray-300 hover:bg-gray-100 {if $i.alert =='Y'}text-red-500{/if}">

        <div class="flex flex-row items-center">
            <div class="pl-2">{$i.name_tc}</div>
        </div>
        <div class="">{$i.replaceSku.name_tc} ({$i.replaceSku.sku_val})</div>
        <div class="col-span-2">{$i.replace_period_start} - {$i.replace_period_end}</div>
        <div class="">{if $i.replace == 'Y'}<i class="ri-check-line text-lg text-green-600"></i>{else}<i class="ri-close-line text-red-500"></i>{/if}</div>
        <div class="ml-auto">
            <a href="admin/item/itemDtl?item_id={$i.item_id}"><i class="ri-edit-line pr-2 hover:text-gray-400 text-lg"></i></a>
        </div>
    </div>
    {/foreach}
</div>
