<script src="/adminA/js/jquery.dad.js"></script>

<main class="bg-white">
  <div class="px-4 py-4 overflow-y-auto border-gray-200 border-b flex mb-3 items-center">
      <h1 class="text-3xl font-bold"> 編輯物品標籤 </h1>
      <a href="#" id="add-tag-dad" class="bg-blue-500 px-3 py-2 font-bold inline-flex text-white ml-2">
        <i class="ri-add-line"></i>
        <span class="ml-2">增加標籤</span>
      </a>
  </div>
  <div class="px-4 pb-4">
      <div class="dad-container-js"></div>
  </div>
</main>

{literal}
<script>
  var dadInstance;
  
  function initDad(){

    try {
      dadInstance.deactivate();
    } catch {

    } 
    dadInstance = $(".tag-dad").dad({ exchangable: true, draggable: ".dragger",});
    dadInstance.activate();


    
    $(".tag-dad").off("dadDrop").on("dadDrop", async function(e, droppedElement){
      e.preventDefault();
      $loader = await globalLoader();

      var data = {
        tag_id: $(droppedElement).find(".edit-mode [name=tag_id]").val(),
        parent_tag_id: $(droppedElement).parents(".dad-outer-container").find(".tag-dad-title").attr("data-tag-id")
      };

      $.bajax({
          url: '/admin/item/api/editItemTag',
          method: 'POST',
          formElement: 'N',
          data: data,
          callback: function (data) {
              if (!data.code == 0) {
                globalLoader($loader);
                globalErrorReturn(data)
              } else {
                infoPopup();
                globalLoader($loader);
                initDad();
              }
          },
          errorCallback: function (jqXHR, textStatus, errorThrown) {
              console.log(jqXHR);
          },
      });
    })
  }

  $(document).off("click", ".edit-tag-child");
  $(document).off("click", ".save-edit");
  $(document).off("click", ".cancel-edit-mode");
  $(document).off("click", ".edit-tag-dad");
  $(document).off("click", ".cancel-dad-edit-mode");
  $(document).off("click", ".delete-tag-child");
  $(document).off("click", ".save-dad-edit");
  $(document).off("click", ".remove-tag-dad");
  $(document).off("click", ".add-tag-child");
  
  $(document)
    .on("click", ".edit-tag-child", function (e) {
      //start edit mode
      e.preventDefault();
      var $this = $(this);
      var $child = $this.closest(".tag-child-indi");
      $child.find(".edit-mode").removeClass("hidden").addClass("flex");
      $child.find("input").focus();
      $child.find(".edit-tag-child").addClass("hidden");
      $child.find(".tag-child-title").addClass("hidden");
    })
    .on("click", ".save-edit", async function (e) {
      //save button
      e.preventDefault();
      $loader = await globalLoader();

      var $this = $(this);
      var $child = $this.closest(".tag-child-indi");
      
      var parent_tag_id = $child.parents(".dad-outer-container").find(".tag-dad-title").attr("data-tag-id");

      var data = {
        tag_id: $child.find("[name=tag_id]").val(),
        parent_tag_id: parent_tag_id,
        tag_name_tc: $child.find("[name=tag_name_tc]").val(),
        tag_name_en: $child.find("[name=tag_name_en]").val(),
      };

      $.bajax({
          url: '/admin/item/api/editItemTag',
          method: 'POST',
          formElement: 'N',
          data: data,
          callback: function (data) {
              if (!data.code == 0) {
                globalLoader($loader);
                globalErrorReturn(data)
              } else {
                $child.find(".edit-mode").addClass("hidden").removeClass("flex");
                $child.find(".edit-tag-child").removeClass("hidden");
                $child.find(".tag-child-title").removeClass("hidden").html($child.find("[name=tag_name_tc]").val() + "(" + $child.find("[name=tag_name_en]").val() + ")");
                $child.find("[name=tag_id]").val(data.result.item_tag.child_list[0].tag_id)
                globalLoader($loader);
                infoPopup("成功", "已更新物品標籤資料。");
                initDad();
              }
          },
          errorCallback: function (jqXHR, textStatus, errorThrown) {
              console.log(jqXHR);
          },
      });
    })
    .on("click", ".cancel-edit-mode", function (e) {
      //cancel edit mode
      e.preventDefault();
      var $this = $(this);
      var $child = $this.closest(".tag-child-indi");
      $child.find(".edit-mode").addClass("hidden").removeClass("flex");
      $child.find(".edit-tag-child").removeClass("hidden");
      $child.find(".tag-child-title").removeClass("hidden");
      // $child.find("input").val($child.find(".tag-child-title").html());
    })
    .on("click", ".edit-tag-dad", function (e) {
      //start edit mode
      e.preventDefault();
      var $this = $(this);
      var $child = $this.closest("h4");
      $child.find(".dad-edit-mode").removeClass("hidden").addClass("flex");
      $child.find("input").focus();
      $child.find(".edit-tag-dad").addClass("hidden");
      $child.find(".tag-dad-title").addClass("hidden");
    })
    .on("click", ".cancel-dad-edit-mode", function (e) {
      //start edit mode
      e.preventDefault();
      var $this = $(this);
      var $child = $this.closest("h4");
      $child.find(".dad-edit-mode").addClass("hidden").removeClass("flex");
      // $child.find("input").val($child.find(".tag-dad-title").html());
      $child.find(".edit-tag-dad").removeClass("hidden");
      $child.find(".tag-dad-title").removeClass("hidden");
    })
    .on("click", ".delete-tag-child", async function(e){
      //delete child
      e.preventDefault();
      var $this = $(this);
      var $child = $this.closest(".tag-child-indi");

      vkConfirmDefault({
          title: '確認',
          content: '<div>請確認是否刪除這條目？</div>',
          confirmButtonHtml: '確認',
          cancelButtonHtml: '返回',
          confirmButtonFunction: async function(e){
              $loader = await globalLoader();
              var data = {
                tag_id: $child.find("[name=tag_id]").val(),
                activate: 'N'
              };

              $.bajax({
                  url: '/admin/item/api/editItemTag',
                  method: 'POST',
                  formElement: 'N',
                  data: data,
                  callback: function (data) {
                      if (!data.code == 0) {
                        globalLoader($loader);
                        globalErrorReturn(data)
                      } else {
                        infoPopup();
                        $child.remove();
                        globalLoader($loader);
                      }
                  },
                  errorCallback: function (jqXHR, textStatus, errorThrown) {
                      console.log(jqXHR);
                  },
              });
          }
      })
    })
    .on("click", ".save-dad-edit", async function (e) {
      //start edit mode
      e.preventDefault();
      $loader = await globalLoader();

      var $this = $(this);
      var $child = $this.closest("h4");

      var data = {
        tag_id: $child.find("[name=tag_id]").val(),
        tag_name_tc: $child.find("[name=tag_name_tc]").val(),
        tag_name_en: $child.find("[name=tag_name_en]").val(),
      };

      $.bajax({
          url: '/admin/item/api/editItemTag',
          method: 'POST',
          formElement: 'N',
          data: data,
          callback: function (data) {
              if (!data.code == 0) {
                globalLoader($loader);
                globalErrorReturn(data)
              } else {
                $child.find(".dad-edit-mode").addClass("hidden").removeClass("flex");
                $child.find(".edit-tag-dad").removeClass("hidden");
                $child.find(".tag-dad-title").html($child.find("[name=tag_name_tc]").val() + "(" + $child.find("[name=tag_name_en]").val() + ")").removeClass("hidden");
                $child.find("[name=tag_id]").val(data.result.item_tag.tag_id)
                $child.parents(".dad-outer-container").find(".tag-dad-title").attr("data-tag-id", data.result.item_tag.tag_id);
                globalLoader($loader);
                infoPopup("成功", "已更新物品標籤資料。");
                initDad();
              }
          },
          errorCallback: function (jqXHR, textStatus, errorThrown) {
              console.log(jqXHR);
          },
      });
    })
    .on("click", ".remove-tag-dad", async function (e) {
      e.preventDefault();

      var $this = $(this);

      vkConfirmDefault({
          title: '確認',
          content: '<div>請確認是否刪除這條目？</div>',
          confirmButtonHtml: '確認',
          cancelButtonHtml: '返回',
          confirmButtonFunction: async function(e){
              $loader = await globalLoader();
              var data = {
                tag_id: $this.closest("h4").find("[name=tag_id]").val(),
                activate: 'N'
              };
            
              $.bajax({
                  url: '/admin/item/api/editItemTag',
                  method: 'POST',
                  formElement: 'N',
                  data: data,
                  callback: function (data) {
                      if (!data.code == 0) {
                        globalLoader($loader);
                        globalErrorReturn(data)
                      } else {
                        infoPopup();
                        $this.closest(".dad-outer-container").remove();
                        globalLoader($loader);
                      }
                  },
                  errorCallback: function (jqXHR, textStatus, errorThrown) {
                      console.log(jqXHR);
                  },
              });
          }
      })
    });

  //tag dad action
  $(document).on("click", ".add-tag-child", function (e) {
    if ($(this).parents(".dad-outer-container").find(".dad-edit-mode [name=tag_id]").val() == 0){
      vkAlertDefault({
        title: "錯誤",
        content: "請先命名標籤分類再增加子標籤",
        confirmButtonHtml: "確認"
      });
      return false;
    }
    e.preventDefault;
    var $this = $(this);
    $this.closest(".dad-outer-container").find(".tag-dad").append(`
      <div class="border border-gray-300 text-xl py-2 px-3 bg-white mb-px flex tag-child-indi rounded">
            <span class="flex items-center tag-child-title text-base">未命名</span>
            <div class="items-center edit-mode hidden text-sm">
              中文名稱：<input name="tag_name_tc" class="py-1 px-2 border border-gray-200" value="" />
              <div class="ml-2">英文名稱：<input name="tag_name_en" class="py-1 px-2 border border-gray-200" value="" /></div>
              <input name="tag_id" type="hidden" value="0"/>
              <a href="#" class="bg-blue-500 border border-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2 save-edit"><span class="">儲存</span></a>
              <a href="#" class=" px-3 py-2 font-bold inline-flex text-gray-700 text-base border border-gray-400 ml-2 cancel-edit-mode"><span class="">取消</span></a>
            </div>
            <a href="#" class="p3-4 py-2 ml-2 edit-tag-child"><i class="ri-edit-line"></i></a>
            <a href="#" class="p3-4 py-2 text-xl delete-tag-child ml-auto flex items-center px-3"><i class="ri-close-line"></i></a>
          </div>`);
  });

  $(document).ready(function () {
    //add tag dad
    $("#add-tag-dad").click(function (e) {
      e.preventDefault();
      $(".dad-container-js").append(`
        <div class="border-2 border-gray-300 border-dashed mb-3 pb-3 py-2 bg-gray-100 dad-outer-container">
            <h4 class="font-bold text-gray-600 text-2xl px-5 py-2 flex items-center">
                <span class="tag-dad-title">未命名</span>
                <div class="items-center dad-edit-mode hidden">
                    中文名稱：<input name="tag_name_tc" class="py-1 px-2 border border-gray-200" value="未命名" />
                    <div class="ml-2">英文名稱：<input name="tag_name_en" class="py-1 px-2 border border-gray-200" value="unnamed" /></div>
                    <input name="tag_id" type="hidden" value="0"/>
                    <a href="#" class="bg-blue-500 border border-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2 save-dad-edit"><span class="">儲存</span></a>
                    <a href="#" class="px-3 py-2 font-bold inline-flex text-gray-700 text-base border border-gray-400 ml-2 cancel-dad-edit-mode"><span class="">取消</span></a>
                </div>
                <a href="#" class="p3-4 py-2 ml-2 edit-tag-dad"><i class="ri-edit-line"></i></a>
                <a href="#" class="add-tag-child bg-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-auto"><i class="ri-add-line"></i><span class="ml-2">增加子標籤</span></a>
                <a href="#" class="remove-tag-dad bg-red-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2"><i class="ri-add-line"></i><span class="ml-2">刪除子標籤</span></a>
            </h4>
            <div class="tag-dad px-5 py-2" style="min-height: 60px;"></div>
        </div>
      `);
    initDad();
    });
  });

  $(document).ready(function (e) {
    //get item tag list
    $.bajax({
      url: "/admin/item/api/getItemTagList",
      method: "POST",
      formElement: "N",

      callback: function (data) {
        var html = "";
        var tagList = data.result.item_tag_list;
        tagList.map(function (tag, index) {
          html += `
          <div class="border-2 border-gray-300 border-dashed mb-3 pb-3 py-2 bg-gray-100 dad-outer-container">
            <h4 class="font-bold text-gray-600 text-2xl px-5 py-2 flex items-center">
              <span class="tag-dad-title" data-tag-id="${tag.tag_id}">${tag.tag_name_tc} (${tag.tag_name_en})</span>
              <div class="items-center dad-edit-mode hidden">
                中文名稱：<input name="tag_name_tc" class="py-1 px-2 border border-gray-200" value="${tag.tag_name_tc}" />
                <div class="ml-2">英文名稱：<input name="tag_name_en" class="py-1 px-2 border border-gray-200" value="${tag.tag_name_en}" /></div>
                <input name="tag_id" type="hidden" value="${tag.tag_id}"/>
                <a href="#" class="bg-blue-500 border border-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2 save-dad-edit"><span class="">儲存</span></a>
                <a href="#" class="px-3 py-2 font-bold inline-flex text-gray-700 text-base border border-gray-400 ml-2 cancel-dad-edit-mode"><span class="">取消</span></a>
              </div>

              <a href="#" class="p3-4 py-2 ml-2 edit-tag-dad"><i class="ri-edit-line"></i></a>
              <a href="#" class="add-tag-child bg-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-auto"><i class="ri-add-line"></i><span class="ml-2">增加子標籤</span></a>
              <a href="#" class="remove-tag-dad bg-red-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2"><i class="ri-add-line"></i><span class="ml-2">刪除標籤</span></a>
            </h4>
            <div class="tag-dad px-5 py-2" style="min-height: 60px;">`;
            if (tag.child_list){
              tag.child_list.map(function (childtag, childIndex) {
                html += `
                  <div class="border border-gray-300 text-xl py-2 px-3 bg-white mb-px flex tag-child-indi rounded">
                    <span class="flex items-center tag-child-title text-base">${childtag.tag_name_tc} (${childtag.tag_name_en})</span>
                    <div class="items-center edit-mode hidden text-sm">
                      中文名稱：<input name="tag_name_tc" class="py-1 px-2 border border-gray-200" value="${childtag.tag_name_tc}" />
                      <div class="ml-2">英文名稱：<input name="tag_name_en" class="py-1 px-2 border border-gray-200" value="${childtag.tag_name_en}" /></div>
                      <input name="tag_id" type="hidden" value="${childtag.tag_id}"/>
                      <a href="#" class="bg-blue-500 border border-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2 save-edit"><span class="">儲存</span></a>
                      <a href="#" class="px-3 py-2 font-bold inline-flex text-gray-700 text-base border border-gray-400 ml-2 cancel-edit-mode"><span class="">取消</span></a>
                    </div>
                    <a href="#" class="p3-4 py-2 ml-2 edit-tag-child"><i class="ri-edit-line"></i></a>
                    <a href="#" class="p3-4 py-2 text-xl delete-tag-child ml-auto flex items-center px-3"><i class="ri-close-line"></i></a>
                  </div>
                `;
              });
            }

          html += `</div></div>`;
        });

        $(".dad-container-js").html(html);

        initDad();
      },
    });
  });
</script>

<style>
  #onesignal-bell-container {
    display: none !important;
  }
  .navigation-section {
    background-color: white;
    border-left: 1px solid rgba(209, 213, 219, var(--tw-border-opacity));
    --tw-border-opacity: 1;
  }
</style>
{/literal}
