<script src="js/qrcode.min.js"></script>
<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-12">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">庫存位置管理</div>
    </div>

    <div class="btn_add_location ml-8 px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full mr-auto cursor-pointer">增加位置</div>

    <div class="flex bg-white rounded-full ml-auto shadow">
        <form id="list_form" action="admin/item/itemList" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="skey" class="flex px-4 py-2 rounded-full truncate" type="text" placeholder="SKU, 中文, 英文"
                    value="{$result_array.page_config.skey}">
                <div
                    class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-12">
    <div class="grid grid-cols-9 gap-5 text-gray-600 border-b-2 border-gray-300 px-4 py-3 lg:px-8">
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "
            adm_name" && $result_array.page_config.order=="desc" } desc{/if}" data-sort_field="adm_name">
            {if $result_array.page_config.sort == "adm_name"}
                {if $result_array.page_config.order == "desc"}
                <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>系統用名字</div>
        </div>
        <div class="col-span-6 flex flex-row my-auto">
            <div>備註</div>
        </div>
        <div class="ml-auto">
            操作
        </div>

    </div>

    {foreach from=$result_array.locationList key=k item=i}
    <div class="location border-b border-gray-300 hover:bg-gray-100 pb-4" data-location_id="{$i.location_id}" data-adm_name="{$i.adm_name}">
        <div class="grid grid-cols-9 auto-rows-auto items-center gap-5 px-4 lg:px-8 py-2 text-gray-800">
            <div class="col-span-2 pl-2 adm_name flex items-center">
                <div>{$i.adm_name}</div>
                <i class="ml-2 ri-qr-code-line btn_qrcode cursor-pointer hover:opacity-70 pr-2" title="貨架二維碼"></i>
            </div>
            <div class="col-span-4 remarks">{$i.remarks}</div>
            <div class="col-span-3 ml-auto flex items-center gap-x-2">
                <div class="btn_edit_location hover:text-gray-400 cursor-pointer flex items-center border px-2 py-1 {if $k == 0}hidden {/if}">
                    <i class="ri-edit-line text-lg pr-2"></i>
                    編輯
                </div>
                
                <div class="btn_voidSku cursor-pointer hover:opacity-70 flex items-center border px-2 py-1">
                    <i class="ri-eraser-line  text-lg pr-2"></i>
                    刪除
                </div>
                <div class="btn_transferSku cursor-pointer hover:opacity-70 flex items-center border px-2 py-1">
                    <i class="ri-route-line text-lg"></i>
                    庫存移動
                </div>
            </div>
        </div>
        {if $i.containingList}
            <div class="bg-gray-50 px-10 deli_wrapper text-xs border-t border-gray-200 py-2">
                <div class="grid grid-cols-7 gap-5 text-gray-500 pb-0.5 font-light">
                    <div>物品</div>
                    <div class="col-span-5">數量</div>
                    <div class="ml-auto">操作</div>
                </div>
            </div>
            {foreach from=$i.containingList key=kk item=ii}
            <div class="sku bg-gray-50 px-10 grid grid-cols-7 auto-rows-auto items-center border-b border-gray-200 gap-5 text-gray-800 font-medium py-1 items-center hover:bg-gray-200" data-item_id="{$ii.item_id}" data-qty="{$ii.qty}">
                <div>{$ii.inhouse_name_tc}</div>
                <div class="col-span-5">{$ii.qty}</div>
                <div class="ml-auto">                    
                    <div class="btn_transferSku cursor-pointer hover:opacity-70 flex items-center border px-2 py-1">
                        <i class="ri-route-line text-lg"></i>
                        庫存移動
                    </div>
                </div>
            </div>
            {/foreach}
        {/if}
    </div>
    {/foreach}
</div>


<div id="transferSku" class="hidden">

    <form class="mb-0" style="width: 25vw;" id="transferSku_form">
        <input type="hidden" name="location_id">
        <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">

                <div class="mb-4 font-bold text-xl pickerTit">物品轉庫</div>

                <div class="grid grid-cols-6 gap-6">

                    <div class="col-span-6">
                        <label for="sku_val" class="block text-sm font-medium text-gray-700">相關物品</label>
                        <input type="hidden" name="sku_id" value="">
                        <div class="sku_select_disable mt-1 border border-gray-300 rounded-lg w-full py-1 px-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 bg-gray-100 text-gray-500 cursor-not-allowed">未有物品可供選擇</div>
                        <select class="hidden sku_select mt-1 block w-full py-2 px-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <option>-- 選擇物品 --</option>
                        </select>
                    </div>


                    <div class="col-span-6">
                        <div class="flex">
                            <label for="qty" class="block text-sm font-medium text-gray-700">數量</label>
                            <p class="ml-2 text-sm font-medium text-gray-700 sku_qty">(現有數量: )</p>
                        </div>
                        <input type="number" name="qty" class="mt-1 border border-gray-300 rounded-lg w-full py-1 px-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">
                    </div>


                    <div class="col-span-6 tar_location_picker hidden">
                        <div class="flex">
                            <label for="location_id" class="block text-sm font-medium text-gray-700">目標庫存位置</label>
                            <p class="ml-2 text-sm font-medium text-gray-700 adm_name">(現在位置: )</p>
                        </div>
                        <input type="hidden" name="tar_location_id">
                        <select class="tar_location_select mt-1 block w-full py-2 px-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <option>-- 選擇位置 --</option>
                            {foreach from=$result_array.locationList key=k item=i}
                            <option value="{$i.location_id}">{$i.adm_name} ({$i.remarks})</option>
                            {/foreach}
                        </select>
                    </div>

                </div>
            </div>
            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                <button type="submit"
                    class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-500 hover:opacity-70 focus:outline-none focus:ring-2 focus:ring-offset-2">
                    提交
                </button>
            </div>
        </div>
    </form>

</div>
<div id="qrcode" class="hidden"></div>
{include file='../module/voidSku.html'}

<div id="vk_editLocation" class="hidden">
    <div class="p-4">
        <div class="text-xl mb-6 tit">存倉位置</div>
        <form class="location_editForm w-full mb-2">
            <div>
                <input type="hidden" name="location_id" value="0" />
                <div class="mb-4">
                    <label for="adm_name" class="text-gray-600">系統名字</label>
                    <input type="text" name="adm_name"
                        class="mt-1 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">
                </div>

                <div class="max-w-full w-96">
                    <label for="remarks" class="text-gray-600">備註</label>
                    <input type="text" name="remarks"
                        class="mt-1 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">
                </div>
            </div>
            <div class="text-center m-6">
                <input type="submit" class="inline px-16 py-2 bg-blue-500 text-white text-xl rounded-full my-4 cursor-pointer text-center" value="儲存" />
            </div>
        </form>
    </div>
</div>

{literal}
<script>
    $(document).ready(function () {

        $(document).on("click", ".btn_qrcode", function(){
            $("#qrcode").html("")
            $location = $(this).parents(".location");
            var qr = `LOCATIONID:${$location.attr("data-location_id")}||LOCATIONNAME:${$location.attr("data-adm_name")}`;
            new QRCode(document.getElementById("qrcode"), qr);

            setTimeout(function(){
                var mywindow = window.open('', 'QR Code', 'height=300,width=300');
                mywindow.document.write(document.getElementById("qrcode").innerHTML);
                mywindow.document.close(); // necessary for IE >= 10
                mywindow.focus(); // necessary for IE >= 10*/
            }, 500)
        })

        $(document).on("click", ".btn_sku_qrcode", function(){
            $("#qrcode").html("")
            $sku = $(this).parents(".sku");
            var qr = `ITEMID:${$sku.attr("data-item_id")}`
            new QRCode(document.getElementById("qrcode"), qr);

            setTimeout(function(){
                var mywindow = window.open('', 'QR Code', 'height=300,width=300');
                mywindow.document.write(document.getElementById("qrcode").innerHTML);
                mywindow.document.close(); // necessary for IE >= 10
                mywindow.focus(); // necessary for IE >= 10*/
            }, 500)
        })

        $(".btn_add_location").on("click", function () {
            $vkmodal({
                fullScreen: false,
                tapBackgroundToClose: true,
                content: $('#vk_editLocation').html(),
                mounted: function () {
                    $('.vk-modal-dom').find(".tit").html("新增存倉位置");
                    $(".vk-modal-dom").find("[name=location_id]").val("0");
                    $(".vk-modal-dom").find("[name=adm_name]").val("");
                    $(".vk-modal-dom").find("[name=remarks]").val("");
                }
            });
        });

        $(document).on("click", ".btn_edit_location", async function(e){
            $location = $(this).parents(".location");
            
            $vkmodal({
                fullScreen: false,
                tapBackgroundToClose: true,
                content: $('#vk_editLocation').html(),
                mounted: function () {
                    $('.vk-modal-dom').find(".tit").html("修改存倉位置");
                    $(".vk-modal-dom").find("[name=location_id]").val($location.attr('data-location_id'));
                    $(".vk-modal-dom").find("[name=adm_name]").val($location.find(".adm_name").html());
                    $(".vk-modal-dom").find("[name=remarks]").val($location.find(".remarks").html());
                }
            });
        });

        $(document).on("submit", ".location_editForm", async function(e){
            e.preventDefault();
            $loader = await globalLoader();
            $.bajax({
                url: "admin/item/api/editLocation",
                method: 'POST',
                data: {
                    location_id: $(this).find("[name=location_id]").val(),
                    adm_name: $(this).find("[name=adm_name]").val(),
                    remarks: $(this).find("[name=remarks]").val()
                },
                callback: function(data) {
                    if (data.code == 0){   
                        location.reload();
                    } else {
                        globalLoader($loader);
                        globalErrorReturn(data);
                    }
                },
                errorCallback: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            });
        });

    });
</script>
{/literal}