<main class="bg-white">
  <div class="px-4 py-4 overflow-y-auto border-gray-200 border-b flex mb-3 items-center">
    <h1 class="text-3xl font-bold">編輯貨架</h1>
    <a href="#" id="add-cate-dad" class="bg-blue-500 px-3 py-2 font-bold inline-flex text-white ml-2">
      <i class="ri-add-line"></i>
      <span class="ml-2">增加貨架</span>
    </a>
  </div>
  <div class="px-4 pb-4">
    <div class="container-js"></div>
  </div>
</main>
{literal}
<script>
async function pageInit(){
    location_list = await new Promise(function(resolve, reject){
        $.bajax({
            url: "/admin/item/api/getLocationList",
            method: "POST",
            callback: function (data) {
                if (!data.code == 0) {
                    globalErrorReturn(data);
                    resolve (null);
                } else {
                    if (data.result && data.result.location_list){
                        resolve (data.result.location_list);
                    } else {
                        resolve (null);
                    }
                }
    
                resolve(true);
            },
            errorCallback: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })

    $container = $(".container-js");

    for(var i = 0; i < location_list.length ; i++){
        $container.append(initLocation(location_list[i]));
    }
}

function initLocation(location){
    return `
        <div class="border-2 border-gray-300 border-dashed mb-3 pb-3 py-2 bg-gray-100 location">
            <div class="px-5 py-2 flex items-center">
                <span class="cate-dad-title font-bold text-gray-600 text-2xl" data-location_id="${location.location_id}">${location.adm_name}</span>
                <div class="flex items-center dad-edit-mode hidden gap-x-2">
                    <div>名稱：<input name="adm_name" class="py-1 px-2 border border-gray-200" value="${location.adm_name}"></div>
                    <div>備註：<input name="remarks" class="py-1 px-2 border border-gray-200" value="${location.remarks}"></div>
                    <a href="#" class="bg-blue-500 border border-blue-500 px-3 py-2 font-bold inline-flex text-white text-base save-dad-edit"><span class="">儲存</span></a>
                    <a href="#" class="px-3 py-2 font-bold inline-flex text-gray-700 text-base border border-gray-400 cancel-dad-edit-mode"><span class="">取消</span></a>
                </div>

                <a href="#" class="p3-4 py-2 ml-2 edit-cate-dad"><i class="ri-edit-line"></i></a>
                <a href="#" class="add-cate-child bg-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-auto"><i class="ri-add-line"></i><span class="ml-2">修改</span></a>
                <a href="#" class="remove-cate-dad bg-red-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2"><i class="ri-add-line"></i><span class="ml-2">刪除貨架</span></a>
            </div>
            <div class="item_wrapper px-2 py-1 grid grid-cols-2 gap-2 ">
                ${location.item_list.map(function(item, idx){
                    return `
                        <div class="bg-white px-4 py-1 flex items-center gap-x-2">
                            ${item.item_img ? `<div class="h-16 w-16 bg-gray-200 bg-contain bg-no-repeat bg-center" style="background-image:url('${item.item_img}')"></div>` : `<div class="h-16 w-16"></div>`}
                            <div>(${item.item_id})${item.inhouse_name_tc}</div>
                            <div class="ml-auto">刪除</div>
                        </div>
                    `
                }).join('')}
            </div>
        </div>
    `
}

$(document).ready(function(){
    pageInit();

});
</script>

<style>
  #onesignal-bell-container {
    display: none !important;
  }
  .navigation-section {
    background-color: white;
    border-left: 1px solid rgba(209, 213, 219, var(--tw-border-opacity));
    --tw-border-opacity: 1;
  }
</style>
{/literal}
