<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-12">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">出庫紀錄管理</div>
    </div>
    
    <div class="btn_void_sku ml-8 px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full mr-auto cursor-pointer">註銷物品</div>
    
    <div class="flex bg-white rounded-full ml-auto shadow">
        <form id="list_form" action="admin/item/stockOutList" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="skey" class="flex px-4 py-2 rounded-full" type="text" placeholder="物品名稱" value="{$result_array.page_config.skey}">
                <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bg-white rounded-lg mx-4 my-2 lg:mx-12">
    <div class="grid grid-cols-5 gap-5 text-gray-600 border-b-2 border-gray-300 p-4 lg:px-8">
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "sku_id" && $result_array.page_config.order=="desc" } desc{/if}" data-sort_field="sku_id">
            {if $result_array.page_config.sort == "sku_id"}
            {if $result_array.page_config.order == "desc"}
            <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
            {else}
            <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>
            {/if}
            {else}
            <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>物品</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "qty" && $result_array.page_config.order=="desc" } desc{/if}" data-sort_field="qty">
            {if $result_array.page_config.sort == "qty"}
            {if $result_array.page_config.order == "desc"}
            <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
            {else}
            <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>
            {/if}
            {else}
            <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>數量</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "remarks" && $result_array.page_config.order=="desc" } desc{/if}" data-sort_field="remarks">
            {if $result_array.page_config.sort == "remarks"}
            {if $result_array.page_config.order == "desc"}
            <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
            {else}
            <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>
            {/if}
            {else}
            <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>備註</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "updated_by_id" && $result_array.page_config.order=="desc" } desc{/if}" data-sort_field="updated_by_id">
            {if $result_array.page_config.sort == "updated_by_id"}
            {if $result_array.page_config.order == "desc"}
            <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
            {else}
            <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>
            {/if}
            {else}
            <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>管理員</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "create_datetime" && $result_array.page_config.order=="desc" } desc{/if}" data-sort_field="create_datetime">
            {if $result_array.page_config.sort == "create_datetime"}
            {if $result_array.page_config.order == "desc"}
            <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
            {else}
            <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>
            {/if}
            {else}
            <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>日期</div>
        </div>
    </div>

    {foreach from=$result_array.outList key=k item=i}
    <div class="grid grid-cols-5 auto-rows-auto gap-5 p-4 lg:px-8 text-gray-800 hover:bg-gray-100 border-b border-gray-300 product"  data-sku='{$i.skuDtl|@json_encode|escape}'>
        <div>
            <a href="admin/item/itemDtl?item_id={$i.item_id}" class="text-blue-700 hover:opacity-70" target="_blank">
                {$i.inhouse_name_tc}
            </a>
        </div>
        <div>{$i.qty}</div>
        <div>{$i.remarks}</div>
        <div>{$i.adminDtl.username}</div>
        <div>{$i.create_datetime}</div>
    </div>
    {/foreach}
</div>

{include file='../module/pagerModule.html'}

<div id="voidSku" class="hidden">

    <form class="mb-0" style="width: 25vw;">
        <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">

                <div class="mb-4 font-bold text-xl pickerTit">物品出庫 / 註銷</div>

                <div class="grid grid-cols-6 gap-6">
                    
                    <div class="col-span-6">
                        <label for="location_id" class="block text-sm font-medium text-gray-700">庫存位置</label>
                        <input type="hidden" name="location_id">
                        <select class="location_select mt-1 block w-full py-2 px-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <option>-- 選擇位置 --</option>
                            {foreach from=$result_array.locationList key=k item=i}
                            <option value={$i.location_id}>{$i.adm_name} ({$i.remarks})</option>
                            {/foreach}
                        </select>
                    </div>


                    <div class="col-span-6">
                        <label for="sku_val" class="block text-sm font-medium text-gray-700">相關物品</label>
                        <input type="hidden" name="sku_id">
                        <div class="sku_select_disable mt-1 border border-gray-300 rounded-lg w-full py-1 px-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 bg-gray-100 text-gray-500 cursor-not-allowed">-- 請先選擇庫存位置 --</div>
                        <select class="hidden sku_select mt-1 block w-full py-2 px-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <option>-- 選擇SKU --</option>
                        </select>
                    </div>


                    <div class="col-span-6">
                        <div class="flex">
                            <label for="qty" class="block text-sm font-medium text-gray-700">數量</label>
                            <p class="ml-2 text-sm font-medium text-gray-700 sku_qty">(現有數量: )</p>
                        </div>
                        <input type="number" name="qty" class="mt-1 border border-gray-300 rounded-lg w-full py-1 px-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">
                    </div>

                    <div class="col-span-6">
                        <label class="block text-sm font-medium text-gray-700">預設備註</label>
                        <select class="advice_remarks mt-1 block w-full py-2 px-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <option>-- 未使用 --</option>
                            <option value="盤點">盤點</option>
                            <option value="遺失">遺失</option>
                            <option value="損壞">損壞</option>
                            <option value="禮物">禮物</option>
                        </select>
                    </div>

                    <div class="col-span-6">
                        <label for="remarks" class="block text-sm font-medium text-gray-700">備註</label>
                        <input type="text" name="remarks"
                            class="mt-1 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">
                    </div>


                </div>
            </div>
            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                <button type="submit"
                    class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-500 hover:opacity-70 focus:outline-none focus:ring-2 focus:ring-offset-2">
                    提交
                </button>
            </div>
        </div>
    </form>

</div>

{literal}
<script>
    $(document).ready(function () {
        $(document).on("click", ".btn_void_sku", function () {
            $vkmodal({
                fullScreen: false,
                tapBackgroundToClose: true,
                content: $('#voidSku').html(),
            });
        });

        $(document).on("change", ".vk-modal-dom .advice_remarks", function(){
        $("[name=remarks]").val($(this).val());
    });

    $(document).on("change", ".vk-modal-dom .location_select", function(){
        let $location_id = parseInt($(this).val());
        $("[name=location_id]").val($location_id);

        $.bajax({
            url: "admin/item/api/getLocationDtl",
            method: 'POST',
            data: {
                location_id: $location_id,
            },
            callback: function(data) {
                if (data.code == 0){
                    res = data.result.locationDtl
                    if ((res.itemList).length > 0) {
                        $(".vk-modal-dom").find(".sku_select").removeClass("hidden")
                        $(".vk-modal-dom").find(".sku_select_disable").addClass("hidden")
    
                        $(".vk-modal-dom").find(".sku_option").remove();
                        (res.itemList).forEach(function(item){
                            $option = $("<option/>").attr({
                                value: item.item_id
                            }).attr("data-sku_qty", item.qty).html(item.display_name).addClass("sku_option");
                            $(".vk-modal-dom").find(".sku_select").append($option);
                        });
                    } else {
                        $(".vk-modal-dom").find(".sku_option").remove();
                        $(".vk-modal-dom").find(".sku_select_disable").removeClass("hidden").html("此位置未有產品")
                        $(".vk-modal-dom").find(".sku_select").addClass("hidden")
                        $(".vk-modal-dom").find(".sku_qty").html("(現有數量: )")
                    }
                } else {
                    globalErrorReturn(data);
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });

    $(document).on("change", ".vk-modal-dom .sku_select", function() {
        $sku_qty = $(this).find(":selected").data("sku_qty");
        if ($sku_qty) {
            $(".vk-modal-dom").find(".sku_qty").html("(現有數量: " + $sku_qty + " )")
            $(".vk-modal-dom").find("[name=qty]").attr("max", $sku_qty);
        } else {
            $(".vk-modal-dom").find(".sku_qty").html("(現有數量: )")
        }
        $(".vk-modal-dom").find("[name=sku_id]").val($(this).val())
    })
    
    $(document).on("keyup", ".vk-modal-dom [name=remarks]", function(){
        $(".vk-modal-dom .advice_remarks option:eq(0)").prop("selected", true)
    });

    $(document).on("submit", ".vk-modal-dom form", async function(e){
        e.preventDefault();
        $vk = $(this).parents(".vk-modal-dom")

        $loader = await globalLoader();

        // validation 
        // balabala

        $.bajax({
            url: "admin/item/api/voidSku",
            method: 'POST',
            data: {
                code: "ITEMID:" + $vk.find("[name=sku_id]").val(),
                qty: $vk.find("[name=qty]").val(),
                remarks: $vk.find("[name=remarks]").val(),
                location_id: $vk.find("[name=location_id]").val(),
            },
            callback: function(data) {
                if (data.code == 0){   
                    location.reload();
                } else {
                    globalErrorReturn(data);
                    globalLoader($loader);
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                globalLoader($loader);
                console.log(jqXHR);
            },
        });
    });
})
</script>
{/literal}