<script src="js/qrcode.min.js"></script>
<div class="flex flex-row py-2 mx-2 md:mx-4 lg:mx-12 mt-8 mb-4">
    <div class="text-3xl font-bold text-gray-800">{if $result_array.purchaseDtl.po_id}[{$result_array.purchaseDtl.create_datetime|substr:0:10}] {$result_array.purchaseDtl.ref_no}{else}新增採購訂單{/if}</div>
</div>

<form id="purchase_form"  method="post" action="/admin/item/api/editPurchase">
    <div class="rounded-lg hadow-lg mx-4 my-2 lg:mx-12 mb-8">
        
        <div class="lg:flex mb-4">
            <input type="hidden" name="po_id" value="{if $result_array.purchaseDtl.po_id}{$result_array.purchaseDtl.po_id}{else}0{/if}">
            <input type="hidden" name="inList" />
            <input type="hidden" name="type" value="採購入庫" />
            <div class="bg-white lg:flex lg:flex-col lg:mr-4 rounded-lg shadow-lg w-full">
                {if !$result_array.purchaseDtl.po_id || $result_array.purchaseDtl.po_id && $result_array.purchaseDtl.supplier}
                <div class="p-4 lg:px-10 py-4">
                    <div class="flex flex-row justify-start items-center mb-4">
                        <div class="text-xl font-bold text-xl mr-2">供應商資料</div>
                        {if !$result_array.purchaseDtl.po_id}
                        <div class="btn-select-supplier bg-blue-500 text-white rounded-full px-6 py-1 hover:opacity-70 cursor-pointer my-auto ml-4">選擇供應商</div>
                        {/if}
                        <input name="supplier_id" type="hidden" value="{$result_array.purchaseDtl.supplier.supplier_id}"> 
                    </div>
                    <div class="grid grid-cols-2 gap-2 mb-2">
                        <div>
                            <div class="pb-2">供應商名稱</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 ring-blue-500 focus:ring-2 focus:border-opacity-0 bg-gray-100 text-gray-500 cursor-not-allowed supplier_name" type="text" value="{$result_array.purchaseDtl.supplier.name_tc}" readonly> 
                        </div>
                        <div>
                            <div class="pb-2">聯絡人姓名</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 ring-blue-500 focus:ring-2 focus:border-opacity-0 bg-gray-100 text-gray-500 cursor-not-allowed contact_name" type="text" value="{$result_array.purchaseDtl.supplier.contact_list.0.contact_name}" readonly> 
                        </div>
                        <div>
                            <div class="pb-2">聯絡人電郵</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 ring-blue-500 focus:ring-2 focus:border-opacity-0 bg-gray-100 text-gray-500 cursor-not-allowed contact_email" type="text" value="{$result_array.purchaseDtl.supplier.email}" readonly> 
                        </div>
                        <div>
                            <div class="pb-2">聯絡人電話</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 ring-blue-500 focus:ring-2 focus:border-opacity-0 bg-gray-100 text-gray-500 cursor-not-allowed contact_phone" type="text" value="{$result_array.purchaseDtl.supplier.phone}" readonly> 
                        </div>
                    </div>
                </div>
                {/if}
                <div class="mb-6">
                
                    <div class="font-bold text-xl lg:px-10 py-4 lg:py-6 p-4">入庫詳細</div>
                    <div class="grid grid-cols-2 gap-2 mb-2 lg:px-10 py-4 lg:py-6 p-4">
                        <div class="mb-2">
                            <div class="pb-2">Ref. No.</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 ring-blue-500 focus:ring-2 focus:border-opacity-0" name="ref_no" type="text" value="{$result_array.purchaseDtl.ref_no}"> 
                        </div>
                        <div class="mb-2">
                            <div class="pb-2">相關檔案</div>
                            {if $result_array.purchaseDtl.po_id}
                                {if $result_array.purchaseDtl.ref_file}
                                    <a href="{$result_array.purchaseDtl.ref_file}" target="_blank" class="text-blue-700 ">{$result_array.purchaseDtl.ref_file|regex_replace:"/.*\//":""}</a>
                                {else}
                                    <div class="py-1">
                                        -- 沒有 --
                                    </div> 
                                {/if}
                            {else}
                                <input type="file" name="ref_file">
                            {/if}
                        </div>
                        <div class="mb-2 col-span-2">
                            <div class="pb-2">備註</div>
                            <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" type="text" value="{$result_array.purchaseDtl.remarks}" name="remarks"> 
                        </div>
                    </div>
                    
                    <div class="font-bold text-xl lg:px-10 py-4 lg:py-6 p-4 flex items-center">
                        入庫內容
                    </div>


                    <div class="grid grid-cols-4 gap-2 border-b">
                        <div class="p-2 pl-4 lg:pl-10 whitespace-nowrap">入庫物品</div>
                        <div class="p-2 whitespace-nowrap cursor-default">
                            <div class="tooltip">商品條碼
                                <div class="tooltiptext px-2 py-1">可以使用 ','  分隔不同商品條碼</div>
                            </div>
                        </div>
                        <div class="p-2 whitespace-nowrap">數量</div>
                        <div class="p-2 whitespace-nowrap">件價</div>
                    </div>
                    
                    <div class="inRowList_wrapper">

                        {if $result_array.purchaseDtl.po_id}
                            {foreach from=$result_array.purchaseDtl.stock_in_list key=k item=i}
                            <div class="grid grid-cols-4 gap-2 mb-2 border-b items-center in_row sku" data-sku='{$i|@json_encode|escape}'>
                                <div class="p-2 pl-4 lg:pl-10 sku_id items-center flex">
                                    {if $i.various_item_id}
                                        <a href="admin/item/itemDtl?item_id={$i.various_item_id}&child_item_id={$i.item_id}" class="sku_val truncate text-blue-700 flex-none cursor-pointer" target="_blank">{$i.inhouse_name_tc}</a>
                                    {else}
                                        <a href="admin/item/itemDtl?item_id={$i.item_id}" class="sku_val truncate text-blue-700 flex-none cursor-pointer" target="_blank">{$i.inhouse_name_tc}</a>
                                    {/if}
                                </div>
                                <div class="p-2 whitespace-nowrap barcode">
                                    {$i.barcode}
                                </div>
                                <div class="p-2 whitespace-nowrap qty">
                                    {$i.qty}
                                </div>
                                <div class="p-2 whitespace-nowrap avg_price">
                                    {$i.avg_price}
                                </div>
                            </div>
                            {/foreach}
                        {/if}
                        
                    </div>
                </div>

                <div class="flex w-full">
                    <input type="submit" class="px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full my-4 mx-auto cursor-pointer" value="提交"> 
                </div>
            </div>

        </div>
    </div>
</form>

<div id="qrcode" class="hidden"></div>
{include file='module/skuMultiPicker.html'}
{include file='module/supplierPicker.html'}

<script>
var errorClass = "border-2 -m-1 border-red-400";
var successClass = "border"
var po_id = {if $result_array.purchaseDtl.po_id}{$result_array.purchaseDtl.po_id}{else}0{/if};
$in_row = null;
{literal}

$(document).ready(function(){

    $(document).on("click", ".btn_sku_qrcode", function(){
        skuData = JSON.parse($(this).parents(".sku").attr('data-sku'));

        $("#qrcode").html("")
        new QRCode(document.getElementById("qrcode"), `SKUID:${skuData.sku_id}||SKUVAL:${skuData.sku_val}`);

        setTimeout(function(){
            var mywindow = window.open('', 'QR Code', 'height=300,width=300');
            mywindow.document.write(document.getElementById("qrcode").innerHTML);
            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10*/
        }, 500)
    })

    $(".btn-add-sku").on("click", function(){
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#skuMutli_picker').html(),
            mounted: function(){
                $(".vk-modal-dom").find("[name=skey]").focus().keyup();
            }
        });
    });

    $(document).on("click", ".btn_submit-skuMulti", function(){
        $vk = $(this).closest('.vk-modal-dom');
        $(".inRowList_wrapper *").remove();

        $(".skuMulti_picker_form").data("sku_arr").forEach(function(val, idx){
            $tpl = $("#inRow_tpl").clone();
            $tpl.removeClass("hidden")
            $tpl.addClass("inRow sku");
            $tpl.attr({
                "id": "",
                "data-sku": JSON.stringify(val)
            });
            
            $tpl.data("sku_data", val)
            $tpl.find(".sku_val").html(val['sku_val']);
            $tpl.find(".avg_price input").attr("data-cost", val['cost']);
            $tpl.find(".sku_id input").val(val['sku_id']);

            $(".inRowList_wrapper").append($tpl);
        });
        
        $(".skuMulti_picker_form").data("sku_arr", []);
        $(".inRow").each(function(idx, val){
            $(".skuMulti_picker_form").data("sku_arr").push($(val).data("sku_data"));
        })
        
        if ($vk.length == 1) {
            $vk.closest('.vk-modal-dom').data()._destory()
        }
    })
    
    $(document).on("change", ".avg_price input", function(){
        if (parseInt($(this).val()) > parseInt($(this).attr("data-cost"))){
            $this = $(this).parents(".inRow");
            vkConfirmDefault({
                title: '確認',
                content: `
                        <div>
                            本次件價高於過往成本價${$(this).attr("data-cost")}，請確認是否確認這條目？
                            <br>
                            <a class="text-blue-600 hover:opacity-70" target="_blank" href="admin/product/productList?skey=${$this.find(".sku_val").html()}">有使用此物品的相關產品</a>
                        </div>
                        `,
                confirmButtonHtml: '確認',
                cancelButtonHtml: '取消',
                cancelButtonFunction : function(){
                    $this.find(".avg_price input").val("");
                }
            })
        }
    });
    
    $(".btn-select-supplier").on("click", function(){
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('#supplier_picker').html(),
            mounted: function(){
                $(".vk-modal-dom").find("[name=skey]").focus().keyup();
            }
        });
    });

    $(document).on("click", ".supplier_option", function(){
        $vk = $(this).closest('.vk-modal-dom');

        $("[name=supplier_id]").val($(this).attr("data-supplier_id"));
        $(".supplier_name").val($(this).attr("data-supplier_name"));
        $(".contact_name").val($(this).attr("data-contact_name"));
        $(".contact_phone").val($(this).attr("data-contact_phone"));
        $(".contact_email").val($(this).attr("data-contact_email"));

        $container = $(".inRowList_wrapper");
        $container.find(".in_row").remove();

        $(this).data("item_list").forEach(function(item){
            if (item.is_parent == 'N'){
                html = `
                <div class="grid grid-cols-4 gap-2 mb-2 border-b items-center in_row sku">
                    <div class="p-2 pl-4 lg:pl-10 sku_id items-center flex">
                        <a href="admin/item/itemDtl?${item.various_item_id ? `item_id=${item.various_item_id}&child_item_id=${item.item_id}` : `item_id=${item.item_id}`}" class="sku_val truncate text-blue-700 flex-none cursor-pointer" target="_blank">${item.inhouse_name_tc}</a>
                        <input type="hidden" name="item_id" value="${item.item_id}" />
                    </div>
                    <div class="p-2 whitespace-nowrap barcode">
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="barcode" value="${item.supplier_barcode?item.supplier_barcode:''}" />
                    </div>
                    <div class="p-2 whitespace-nowrap qty">
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="qty" value="0" />
                    </div>
                    <div class="p-2 whitespace-nowrap avg_price">
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="avg_price" value="${item.cost?item.cost:0}" />
                    </div>
                </div>
                `
                $container.append(html);
            }


        })

        $vk.data()._destory();
    });

    $("#purchase_form").submit(async function(e){
        e.preventDefault();
        var boolValid = true;
        
        
        if (!$("[name=supplier_id").val()){
            globalErrorReturn({
                code: 31,
                msg: "不能沒有供應商"
            })

            boolValid = false;
        }

        if (!$("[name=remarks]").val() && !$("[name=ref_no]").val()){
            globalErrorReturn({
                code: 31,
                msg: "不能同時沒有備註和Ref. No."
            })

            boolValid = false;
        }


        if (boolValid){
            $loader = await globalLoader();
            let inList = [];
            $(".in_row").each(function(idx, val){
                if ($(val).find("[name=qty]").val() > 0 ){
                    tmp = {
                        item_id: $(val).find("[name=item_id]").val(),
                        qty: $(val).find("[name=qty]").val(),
                        avg_price: $(val).find("[name=avg_price]").val(),
                        barcode: $(val).find("[name=barcode]").val()
                    }
                    inList.push(tmp);
                }
            });
    
            $("[name=inList]").val(JSON.stringify(inList));
    
            $.bajax({
                url: $(this).attr("action"),
                method: 'POST',
                formElement: 'Y',
                formElementID: $(this).attr('id'),
                callback: function(data) {
                    if (!data.code == 0){
                        globalLoader($loader);
                        globalErrorReturn(data);
                    } else {
                        infoPopup("成功", "已更新資料。");
                        if (po_id == 0){
                            location.href = "admin/item/stockInDtl?po_id=" + data.result.po_id
                        } else {
                            globalLoader($loader);
                        }
                    }
                },
                errorCallback: function(jqXHR, textStatus, errorThrown) {
                    globalLoader($loader);
                    console.log(jqXHR);
                },
            });
        }
       
    })
});
{/literal}
</script>