<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-12">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">入庫紀錄管理</div>
    </div>
    <a href="admin/item/stockInDtl" class="ml-8 px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full cursor-pointer">新增採購訂單</a>
    <div class="btn_stock_in ml-8 px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full cursor-pointer">物品入庫</div>

    <div class="flex bg-white rounded-full ml-auto shadow">
        <form id="list_form" action="admin/item/stockInList" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="skey" class="flex px-4 py-2 rounded-full" type="text" placeholder="Ref. No., 供應商名稱" value="{$result_array.page_config.skey}">
                <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bg-white rounded-lg mx-4 my-2 lg:mx-12">
    <div class="grid grid-cols-7 gap-5 text-gray-600 border-b-2 border-gray-300 p-4 lg:px-8">
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "ref_no" && $result_array.page_config.order=="desc" } desc{/if}" data-sort_field="ref_no">
            {if $result_array.page_config.sort == "ref_no"}
            {if $result_array.page_config.order == "desc"}
            <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
            {else}
            <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>
            {/if}
            {else}
            <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>Ref. No.</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "supplier_id" && $result_array.page_config.order=="desc" } desc{/if}" data-sort_field="supplier_id">
            {if $result_array.page_config.sort == "qty"}
            {if $result_array.page_config.order == "desc"}
            <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
            {else}
            <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>
            {/if}
            {else}
            <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>供應商</div>
        </div>
        <div class="flex flex-row my-auto ">類型</div>
        <div class="flex flex-row my-auto ">備註</div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "updated_by_id" && $result_array.page_config.order=="desc" } desc{/if}" data-sort_field="updated_by_id">
            {if $result_array.page_config.sort == "updated_by_id"}
            {if $result_array.page_config.order == "desc"}
            <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
            {else}
            <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>
            {/if}
            {else}
            <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>管理員</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "create_datetime" && $result_array.page_config.order=="desc" } desc{/if}" data-sort_field="create_datetime">
            {if $result_array.page_config.sort == "create_datetime"}
            {if $result_array.page_config.order == "desc"}
            <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
            {else}
            <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>
            {/if}
            {else}
            <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>日期</div>
        </div>
        <div class="flex flex-row w-full justify-end">操作</div>
    </div>

    {foreach from=$result_array.purchaseList key=k item=i}
    <div class="grid grid-cols-7 auto-rows-auto items-center gap-5 p-4 lg:px-8 text-gray-800 hover:bg-gray-100 border-b border-gray-300 product">
        <div>{$i.ref_no}</div>
        <div>{$i.supplierDtl.name_tc}</div>
        <div>{$i.type}</div>
        <div>{$i.remarks}</div>
        <div>{$i.adminDtl.username}</div>
        <div>{$i.create_datetime}</div>
        <div class="flex flex-row w-full justify-end">
            <a href="admin/item/stockInDtl?po_id={$i.po_id}"><i class="ri-edit-line pr-3 hover:text-gray-400 text-lg"></i></a>
        </div>
    </div>
    {/foreach}
</div>
<div class="stockInWrapper hidden">

    <form class="mb-0" style="width: 25vw;">
        <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">

                <div class="mb-4 font-bold text-xl pickerTit">物品入庫</div>

                <div class="grid grid-cols-6 gap-6">
                    


                    <div class="col-span-6">
                        <label for="sku_val" class="block text-sm font-medium text-gray-700">物品</label>
                        <select name="item_id" class="sku_select mt-1 block w-full bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            {foreach from=$result_array.itemList key=k item=i}
                            <option value="{$i.item_id}">({$i.item_id}) {$i.inhouse_name_tc}</option>
                            {/foreach}
                        </select>
                    </div>


                    <div class="col-span-6">
                        <div class="flex">
                            <label for="qty" class="block text-sm font-medium text-gray-700">數量</label>
                        </div>
                        <input type="number" name="qty" class="mt-1 border border-gray-300 rounded-lg w-full py-1 px-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">
                    </div>

                    <div class="col-span-6">
                        <label class="block text-sm font-medium text-gray-700">入庫類別</label>
                        <select name="type" class="mt-1 block w-full py-2 px-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <option>-- 未使用 --</option>
                            <option value="盤盈入庫">盤盈入庫</option>
                            <option value="退貨入庫">退貨入庫</option>
                            <option value="⼿動入庫">⼿動入庫</option>
                        </select>
                    </div>

                    <div class="col-span-6">
                        <label for="remarks" class="block text-sm font-medium text-gray-700">備註</label>
                        <input type="text" name="remarks" class="mt-1 border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">
                    </div>


                </div>
            </div>
            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                <button type="submit"
                    class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-500 hover:opacity-70 focus:outline-none focus:ring-2 focus:ring-offset-2">
                    提交
                </button>
            </div>
        </div>
    </form>

</div>

{include file='../module/pagerModule.html'}

{literal}
<script>
$(document).ready(function () {
    $(document).off("click", ".btn_stock_in").on("click", ".btn_stock_in", function(){
        $vkmodal({
            fullScreen: false,
            tapBackgroundToClose: true,
            content: $('.stockInWrapper').html(),
            mounted: function(ele){
                ele.find("[name=item_id]").selectize();

                ele.find("form").submit(async function(e){
                    e.preventDefault();

                    $loader = await globalLoader();

                    $.bajax({
                        url: "/admin/item/api/editPurchase",
                        method: 'POST',
                        formElement: 'N',
                        data: {
                            remarks: ele.find("[name=remarks]").val(),
                            type: ele.find("[name=type]").val(),
                            inList: JSON.stringify([{
                                item_id: ele.find("[name=item_id]").val(),
                                qty: ele.find("[name=qty]").val(),
                                avg_price: 0
                            }])
                        },
                        callback: function(data) {
                            if (!data.code == 0){
                                globalLoader($loader);
                                globalErrorReturn(data);
                            } else {
                                infoPopup("成功", "已更新資料。");
                                location.reload()
                            }
                        },
                        errorCallback: function(jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR);
                        },
                    });
                });
            }
        });
    })
});
</script>
{/literal}