<script src="js/qrcode.min.js"></script>
<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-12">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">庫存位置管理</div>
    </div>

    <div class="flex bg-white rounded-full ml-auto shadow hidden">
        <form id="list_form" action="admin/item/locationList" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="skey" class="flex px-4 py-2 rounded-full truncate" type="text" placeholder="SKU, 中文, 英文" 
                    value="{$result_array.page_config.skey}">
                <div
                    class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-12">
    <form id="stocktakeForm">
        <div class="grid grid-cols-9 gap-5 text-gray-600 border-b-2 border-gray-300 px-4 py-3 lg:px-8">
            <div class="col-span-2 flex flex-row my-auto">系統用名字</div>
            <div class="col-span-6 flex flex-row my-auto">備註</div>
        </div>

        {foreach from=$result_array.stocktakeDtl.locationList key=k item=i}
        <div class="location border-b border-gray-300 hover:bg-gray-100 pb-4" data-location_id="{$i.location_id}" data-adm_name="{$i.adm_name}">
            <div class="grid grid-cols-9 auto-rows-auto items-center gap-5 px-4 lg:px-8 py-2 text-gray-800">
                <div class="col-span-2 pl-2 adm_name flex items-center">{$i.adm_name}<i class="ri-qr-code-line btn_qrcode cursor-pointer hover:opacity-70 pr-2" title="貨架二維碼"></i></div>
                <div class="col-span-6 remarks">{$i.remarks}</div>
            </div>
            {if $i.skuList}
                <div class="bg-gray-50 px-10 deli_wrapper text-xs border-t border-gray-200 py-2">
                    <div class="grid grid-cols-11 gap-5 text-gray-500 pb-0.5 font-light">
                        <div class="col-span-4">SKU值</div>
                        <div class="col-span-3">物品</div>
                        <div>預期數量</div>
                        <div>盤點後數量</div>
                        <div class="col-span-2">備註</div>
                        <!-- <div>最後更新者</div> -->
                    </div>
                </div>
                {foreach from=$i.skuList key=kk item=ii}
                <div class="sku bg-gray-50 px-10 grid grid-cols-11 auto-rows-auto items-center border-b border-gray-200 gap-5 text-gray-800 font-medium py-1 items-center hover:bg-gray-200" data-map_id="{$ii.map_id}">
                    <div class="col-span-4 flex items-center">{$ii.sku_val}<i class="ri-qr-code-line btn_sku_qrcode cursor-pointer hover:opacity-70" title="SKU 二維碼"></i></div>
                    <div class="col-span-3">{$ii.name_tc}</div>
                    <div>{$ii.expected_qty}</div>
                    <div><input class="w-full border border-gray-300 rounded-lg focus:ring-2 ring-blue-500 focus:border-opacity-0 px-2 text-gray-700" name="actual_qty" value="{$ii.actual_qty}"> </div>
                    <div class="col-span-2"><input class="w-full border border-gray-300 rounded-lg focus:ring-2 ring-blue-500 focus:border-opacity-0 px-2 text-gray-700" name="remarks" value="{$ii.remarks}"> </div>
                    <!-- <div>{$ii.username}</div> -->
                </div>
                {/foreach}
            {/if}
        </div>
        {/foreach}

        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit" class="w-64 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-500 hover:opacity-70 focus:outline-none focus:ring-2 focus:ring-offset-2">提交</button>
        </div>
    </form>
</div>

<div id="qrcode" class="hidden"></div>
<script>
var stocktake_id = '{$result_array.stocktakeDtl.stocktake_id}';
</script>

{literal}
<script>
    $(document).ready(function () {

        $(document).on("click", ".btn_qrcode", function(){
            $("#qrcode").html("")
            $location = $(this).parents(".location");
            var qr = `LOCATIONID:${$location.attr("data-location_id")}||LOCATIONNAME:${$location.attr("data-adm_name")}`;
            new QRCode(document.getElementById("qrcode"), qr);

            setTimeout(function(){
                var mywindow = window.open('', 'QR Code', 'height=300,width=300');
                mywindow.document.write(document.getElementById("qrcode").innerHTML);
                mywindow.document.close(); // necessary for IE >= 10
                mywindow.focus(); // necessary for IE >= 10*/
            }, 500)
        })

        $(document).on("click", ".btn_sku_qrcode", function(){
            $("#qrcode").html("")
            $sku = $(this).parents(".sku");
            var qr = `SKUID:${$sku.attr("data-sku_id")}||SKUVAL:${$sku.attr("data-sku_val")}`
            new QRCode(document.getElementById("qrcode"), qr);

            setTimeout(function(){
                var mywindow = window.open('', 'QR Code', 'height=300,width=300');
                mywindow.document.write(document.getElementById("qrcode").innerHTML);
                mywindow.document.close(); // necessary for IE >= 10
                mywindow.focus(); // necessary for IE >= 10*/
            }, 500)
        })

        $("#stocktakeForm").submit(async function(e){
            e.preventDefault();
            $loader = await globalLoader();

            stocktakeJson = []

            $(".sku").each(function(i,v){
                stocktakeJson.push({
                    map_id: $(v).attr("data-map_id"),
                    remarks: $(v).find("[name=remarks]").val(),
                    actual_qty: $(v).find("[name=actual_qty]").val()
                })
            });

            var data = {
                stocktake_id: stocktake_id,
                stocktakeJson: JSON.stringify(stocktakeJson)
            };

            $.bajax({
                url: "admin/item/api/editStocktake",
                method: 'POST',
                data: data,
                callback: function(data) {
                    if (data.code == 0){   
                        globalLoader($loader);
                        vkAlertDefault({
                            title: "成功",
                            content: "資料已成功儲存，不過還有SKU尚未完成盤點，無法提交",
                            confirmButtonHtml: "確認"
                        });
                        
                    } else if (data.code == 31) {
                        globalLoader($loader);
                        vkConfirmDefault({
                            title: '確認',
                            content: '資料已成功儲存，盤點已完成，是否更新庫存量？',
                            confirmButtonHtml: '更新庫存',
                            cancelButtonHtml: '返回',
                            confirmButtonFunction: async function(e){
                                $loader = await globalLoader();
                                $.bajax({
                                    url: "admin/item/api/submitStocktake",
                                    method: 'POST',
                                    formElement: 'N',
                                    data: {
                                        stocktake_id: stocktake_id
                                    },
                                    callback: function(data) {
                                        globalLoader($loader);
                                        if (data.code == 0){
                                            location.href = "admin/item/locationList";
                                        } else {
                                            globalErrorReturn(data);
                                        }
                                    },
                                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                                        console.log(jqXHR);
                                    },
                                });
                            },
                            cancelButtonFunction : function(){
                                globalLoader($loader);
                            }
                        })
                    } else {
                        globalLoader($loader);
                        globalErrorReturn(data);
                    }
                },
                errorCallback: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                    globalLoader($loader);
                },
            });

        });
    });
</script>
{/literal}