<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-12">
    <div class="flex flex-col items-start">
        <a href="admin/item/stocktakeList"><div class="text-2xl font-bold">盤點列表</div></a>
    </div>
    
    <div class="ml-8 px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full mr-auto cursor-pointer btn_stocktake">開始盤點</div>
    
    
    <div class="flex bg-white rounded-full ml-auto shadow hidden">
        <form id="list_form" action="admin/item/itemList" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="skey" class="flex px-4 py-2 rounded-full truncate" type="text" placeholder="SKU, 條碼, 中文, 英文" value="{$result_array.page_config.skey}">
                <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-12">
    <div class="grid grid-cols-3 gap-5 text-gray-600 border-b-2 border-gray-300 px-4 py-3 lg:px-8">
        <div class="flex flex-row my-auto">開始日期</div>
        <div class="flex flex-row my-auto">狀態</div>
        <div class="my-auto ml-auto">操作</div>
    </div>

    {foreach from=$result_array.stocktakeList key=k item=i}
    <div class="grid grid-cols-3 auto-rows-auto items-center gap-5 px-4 py-3 lg:px-8 text-gray-800 border-b border-gray-300 hover:bg-gray-100 {if $i.alert =='Y'}text-red-500{/if}">
        <div class="">{$i.create_datetime|substr:0:10}</div>
        <div class="">{$i.status_lbl}</div>
        <div class="ml-auto">
            <a href="admin/item/stocktakeDtl?stocktake_id={$i.stocktake_id}"><i class="ri-edit-line pr-2 hover:text-gray-400 text-lg"></i></a>
        </div>
    </div>
    {/foreach}
</div>

{literal}
<script>
$(document).ready(function(){
    $(document).on("click", ".btn_stocktake", async function(){
        $loader = await globalLoader();
        $.bajax({
            url: "admin/item/api/startStocktake",
            method: 'POST',
            callback: function(data) {
                globalLoader($loader);
                if (!data.code == 0){
                    globalErrorReturn(data);
                } else {
                    location.href = "admin/item/stocktakeDtl?stocktake_id=" + data.result.stocktake_id
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });
});
</script>
{/literal}