<div class="topWrapper">
    <div class="px-4 py-4 border-gray-200 border-b flex gap-8 items-center">
        

        <div class="flex gap-4 flex-col w-full">
            <div class="w-full">
                <div>顯示物品</div>
                <select multiple name="item_id" class="logInit w-full border-gray-300 rounded whitespace-nowrap w-80"></select>
            </div>
    
            <div class="flex items-center gap-8 w-full">
                <div class="w-1/2">
                    <div>類型</div>
                    <select multiple name="type" class="logInit w-full selectize border-gray-300 rounded whitespace-nowrap w-32">
                        <option value="訂單出庫">訂單出庫</option>    
                        <option value="手動出庫">手動出庫</option>    
                        <option value="領用出庫">領用出庫</option>    
                        <option value="盤虧出庫">盤虧出庫</option>    
                        <option value="採購入庫">採購入庫</option>    
                        <option value="⼿動入庫">⼿動入庫</option>    
                        <option value="退貨入庫">退貨入庫</option>    
                        <option value="盤盈入庫">盤盈入庫</option>    
                    </select>
                </div>
        
                <div>
                    <div>相關時間</div>
                    <div>
                        <input type="date" class="logInit border border-gray-300 rounded-lg py-1 pl-2 ring-blue-500 focus:ring-2 focus:border-opacity-0" name="start_date">
                         - 
                        <input type="date" class="logInit border border-gray-300 rounded-lg py-1 pl-2 ring-blue-500 focus:ring-2 focus:border-opacity-0" name="end_date">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="flex w-full gap-2 px-4">
    <div>
        <div class="flex items-center px-2">
            <h1 class="text-3xl font-bold whitespace-nowrap">概覽</h1>
        </div>
        <div class="sumup_container">
            <div class="header_container grid grid-cols-2 bg-gray-300">
                <div class="px-4 py-1 font-bold border-l-gray-900 border-r-gray-400 border-t-gray-900 flex items-center gap-2">商品名稱</div>
                <div class="px-2 py-1 font-bold border-r-gray-900 border-t-gray-900 flex items-center gap-2">
                    <div class="grid grid-cols-3">
                        <div>入庫量</div>
                        <div>出庫量</div>
                        <div>淨出入庫量</div>
                    </div>
                </div>
            </div>
            <div class="body_container border-b-gray-900">
        
            </div>
        </div>
    </div>

    <div class="flex-1">
        <div class="flex items-center px-2">
            <h1 class="text-3xl font-bold whitespace-nowrap">出入庫紀錄</h1>            
        </div>
        <div class="log_container">
            <div class="header_container grid grid-cols-8 bg-gray-300">
                <div class="px-4 py-1 font-bold border-l-gray-900 border-r-gray-400 border-t-gray-900 flex items-center gap-2 cursor-pointer" data-sort="ref_no"><i class="ri-arrow-up-down-line"></i>出入庫單號</div>
                <div class="px-4 py-1 font-bold border-r-gray-400 border-t-gray-900 flex items-center gap-2 cursor-pointer col-span-2" data-sort="item_id"><i class="ri-arrow-up-down-line"></i>商品名稱</div>
                <div class="px-4 py-1 font-bold border-r-gray-400 border-t-gray-900 flex items-center gap-2 cursor-pointer" data-sort="create_datetime"><i class="ri-arrow-up-line"></i>時間</div>
                <div class="px-4 py-1 font-bold border-r-gray-400 border-t-gray-900 flex items-center gap-2 cursor-pointer" data-sort="type"><i class="ri-arrow-up-down-line"></i>類型</div>
                <div class="px-4 py-1 font-bold border-r-gray-400 border-t-gray-900 flex items-center gap-2 cursor-pointer" data-sort="type"><i class="ri-arrow-up-down-line"></i>備註</div>
                <div class="px-4 py-1 font-bold border-r-gray-400 border-t-gray-900 flex items-center gap-2 cursor-pointer" data-sort="qty"><i class="ri-arrow-up-down-line"></i>數量</div>
                <div class="px-4 py-1 font-bold border-r-gray-900 border-t-gray-900 flex items-center gap-2 cursor-pointer" data-sort="username"><i class="ri-arrow-up-down-line"></i>操作人</div>
            </div>
            <div class="body_container border-b-gray-900">
        
            </div>
        </div>
    </div>

</div>

<script>
var boolInit = false;
var item_id = getQueryString("item_id");
</script>
<style>
.border-t-gray-900{
    border-top: 1px solid rgb(17, 24, 39);
}

.border-r-gray-900{
    border-right: 1px solid rgb(17, 24, 39);
}

.border-l-gray-900{
    border-left: 1px solid rgb(17, 24, 39);
}

.border-b-gray-900{
    border-bottom: 1px solid rgb(17, 24, 39);
}

.border-r-gray-400{
    border-right: 1px solid rgb(156, 163, 175);
}

</style>

{literal}
<script>
$(document).ready(function(){
    itemListInit();

    $(document).off("change", ".logInit").on("change", ".logInit", function(){
        logInit();
    })

    $(document).off("click", "[data-sort]").on("click", "[data-sort]", function(){
        $sort = $(this).find("i");
        if ($sort.hasClass("ri-arrow-up-down-line")){
            $("[data-sort] i").removeClass("ri-arrow-down-line").removeClass("ri-arrow-up-line").addClass("ri-arrow-up-down-line")
            $sort.removeClass("ri-arrow-up-down-line").addClass("ri-arrow-up-line")
        } else if ($sort.hasClass("ri-arrow-up-line")) {
            $("[data-sort] i").removeClass("ri-arrow-down-line").removeClass("ri-arrow-up-line").addClass("ri-arrow-up-down-line")
            $sort.removeClass("ri-arrow-up-down-line").removeClass("ri-arrow-up-line").addClass("ri-arrow-down-line")
        } else { // ri-arrow-up-line
            $("[data-sort] i").removeClass("ri-arrow-down-line").removeClass("ri-arrow-up-line").addClass("ri-arrow-up-down-line")
            $sort.removeClass("ri-arrow-down-line")
        }
        logInit();
    })
})

function logInit(){
    $sort = $("[data-sort] i.ri-arrow-down-line,[data-sort] i.ri-arrow-up-line").parent();
    if ($sort){
        sorting = $sort.data("sort");
        if ($sort.find("i").hasClass("ri-arrow-down-line"))
            sorting += " DESC";
    } else {
        sorting = null;
    }

    $.bajax({
        url: "/admin/item/api/getStockInStockOutList",
        method: "POST",
        formElement: "N",
        data: {
            item_id_arr: $("[name=item_id]").val().toString(),
            type_arr: $("[name=type]").val().toString(),
            sorting: sorting,
            start_date: $("[name=start_date]").val(),
            end_date: $("[name=end_date]").val(),
        },
        callback: function (data) {
            if (data.code == 0) {
                if (data && data.result){
                    $container = $(".log_container .body_container");
                    $container.find(".item").remove();
                    stockInStockOutList = data.result.stockInStockOutList;

                    stockInStockOutList.forEach(function(item, idx){
                        $container.append(`
                            <div class="grid grid-cols-8 item bg-white">
                                ${item.deli_id ? 
                                    `<div class="px-2 py-1 font-bold border-l-gray-900 border-r-gray-400 border-t-gray-900"><a href="admin/shipment/deliDtl?deli_id=${item.deli_id}" target="_blank" class="cursor-pointer font-bold text-blue-600 hover:opacity-80">${item.ref_no ? item.ref_no : ''}</a></div>`
                                    :
                                    `<div class="px-2 py-1 font-bold border-l-gray-900 border-r-gray-400 border-t-gray-900">${item.ref_no ? item.ref_no : ''}</div>`
                                }
                                <div class="px-2 py-1 font-bold border-r-gray-400 border-t-gray-900 col-span-2">(${item.item_id}) ${item.inhouse_name_tc} (${item.supplier_stock_code})</div>
                                <div class="px-2 py-1 font-bold border-r-gray-400 border-t-gray-900">${item.create_datetime}</div>
                                <div class="px-2 py-1 font-bold border-r-gray-400 border-t-gray-900">${item.type}</div>
                                <div class="px-2 py-1 font-bold border-r-gray-400 border-t-gray-900">${item.remarks ? item.remarks : ''}</div>
                                <div class="px-2 py-1 font-bold border-r-gray-400 border-t-gray-900 ${item.io == 'stock_out'? `text-red-600`: `text-green-600`}">${item.qty}</div>
                                <div class="px-2 py-1 font-bold border-r-gray-900 border-t-gray-900">${item.username}</div>
                            </div>
                        `);
                    });

                    $container = $(".sumup_container .body_container");
                    $container.find(".item").remove();
                    sisosuList = data.result.stockInStockOutSumUpList;

                    sisosuList.forEach(function(item, idx){
                        $container.append(`
                            <div class="grid grid-cols-2 item bg-white">
                                <div class="px-2 py-1 font-bold border-l-gray-900 border-r-gray-400 border-t-gray-900 ${item.type == 'parent' ? 'font-bold text-blue-700' : ''}">(${item.item_id}) ${item.inhouse_name_tc} (${item.supplier_stock_code})</div>
                                <div class="grid grid-cols-3 px-2 py-1 font-bold border-r-gray-900 border-t-gray-900">
                                    <span class="text-green-600">${item.stock_in_qty}</span>
                                    <div> - <span class="text-red-600">${item.stock_out_qty}</span></div>
                                    <div> = ${item.net_qty > 0 ? `<span class="text-green-600">${item.net_qty}</span>` : `<span class="text-red-600">${item.net_qty}</span>`}</div>
                                </div>
                            </div>
                        `);
                    })
                }
            } else {
                globalErrorReturn(data);
            }
        },
        errorCallback: function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR);
        },
    });
}

function itemListInit(){
    $.bajax({
        url: "/admin/item/api/getItemList",
        method: "POST",
        formElement: "N",
        callback: function (data) {
            if (data.code == 0) {
                if (data && data.result){
                    itemList = data.result;
                    $container = $("[name=item_id]")

                    itemList.forEach(function(item, idx){
                        $container.append(`
                            <option value="${item.item_id}">(${item.item_id}) ${item.inhouse_name_tc}</option>
                        `);
                        
                        item.various_item_list.forEach(function(item2, idx2){
                            $container.append(`
                                <option value="${item2.item_id}">(${item2.item_id}) ${item2.inhouse_name_tc}</option>
                            `);
                        })
                    })

                    $container.selectize();

                    if (!boolInit){
                        boolInit = true;
                        if(item_id){
                            $container.data('selectize').setValue(item_id);
                        }
                    }
                }
            } else {
                globalErrorReturn(data);
            }
        },
        errorCallback: function (jqXHR, textStatus, errorThrown) {
            globalLoader($loader);
            console.log(jqXHR);
        },
    });
}
</script>
{/literal}