<script src="js/qrcode.min.js"></script>

<main class="bg-white">
  <div class="px-4 py-4 overflow-y-auto">
    <a
      onclick="window.history.go(-1); return false;"
      class="inline-flex font-bold rounded px-3 py-1 ml-auto mr-3 border border-gray-300 text-gray-500 hover:opacity-75 mb-2"
    >
      <i class="ri-arrow-left-line"></i>
      <span class="ml-2">返回</span>
    </a>
    <h1 class="text-3xl font-bold border-gray-200 border-b pb-3">
      {if
      $result_array.item}{$result_array.item.inhouse_name_tc}{else}新增供應商{/if}
    </h1>
  </div>
  <form id="uploadItemImgForm" class="hidden">
    <input type="file" id="item_img" name="item_img" />
    <input name="item_id" value="0" />
  </form>

  <form id="edit_form">
    <input
      type="hidden"
      name="item_id"
      value="{if $result_array.item}{$result_array.item.item_id}{else}0{/if}"
    />
    <!-- item detail handler -->
    <div class="select-none px-6">
      <div class="flex gap-x-12">
        <!-- Right Col-->
        <div class="grid grid-cols-4 gap-x-6 gap-y-3 flex-grow">
          <h2 class="col-span-4 text-xl font-bold text-gray-800 mt-5 mb-2">
            供應商相關基本資料
          </h2>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              供應商中文名稱
            </label>
            <div class="">
              <input
                value="{$result_array.item.sku}"
                class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800"
                name="sku"
              />
            </div>
          </div>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              供應商英文名稱
            </label>
            <div class="">
              <input
                value="{$result_array.item.sku}"
                class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800"
                name="sku"
              />
            </div>
          </div>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              供應商簡稱
            </label>
            <div class="">
              <input
                value="{$result_array.item.sku}"
                class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800"
                name="sku"
              />
            </div>
          </div>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              供應商類別
            </label>
            <div class="">
              <input
                value="{$result_array.item.sku}"
                class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800"
                name="sku"
              />
            </div>
          </div>
          <div class="col-span-4">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              聯絡人
            </label>
            <div
              class="grid gap-x-3 contact-list w-full grid-cols-3 gap-y-3 text-gray-800 select-text"
            >
              <div
                href="#"
                class="contact-indi h-24 border-2 border-gray-300 rounded px-3 py-2 flex"
              >
                <div class="flex-grow mr-3">
                  <h4 class="text-gray-900 font-bold">Simon Lee</h4>
                  <p class="text-sm">simonlee@thegift.com</p>
                  <p class="text-sm">63562716</p>
                </div>
                <a
                  href="#"
                  class="ml-auto flex items-center justify-center text-gray-600"
                  ><i class="ri-edit-line"></i><span>編輯</span></a
                >
              </div>
              <div
                href="#"
                class="contact-indi h-24 border-2 border-gray-300 rounded px-3 py-2 flex"
              >
                <div class="flex-grow mr-3">
                  <h4 class="text-gray-900 font-bold">Simon Lee</h4>
                  <p class="text-sm">simonlee@thegift.com</p>
                  <p class="text-sm">63562716</p>
                </div>
                <a
                  href="#"
                  class="ml-auto flex items-center justify-center text-gray-600"
                  ><i class="ri-edit-line"></i><span>編輯</span></a
                >
              </div>

              <a
                href="#"
                class="contact-indi contact-adder text-xl font-bold text-gray-500 text-center flex items-center justify-center h-24 border-2 border-gray-300 rounded px-2 py-2 border-dashed"
              >
                <i class="ri-add-line"></i>
                <p>新增聯絡人</p>
              </a>
            </div>
          </div>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              支付資料
            </label>
            <div class="">
              <input
                value="{$result_array.item.sku}"
                class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800"
                name="sku"
              />
            </div>
          </div>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              MOQ
            </label>
            <div class="">
              <input
                value="{$result_array.item.sku}"
                class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800"
                name="sku"
              />
            </div>
          </div>

          <div class="col-span-4 grid grid-cols-3 gap-x-3">
            <div class="col-span-1">
              <label
                class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
              >
                電話
              </label>
              <div class="">
                <input
                  value="{$result_array.item.sku}"
                  class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800"
                  name="sku"
                />
              </div>
            </div>
            <div class="col-span-1">
              <label
                class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
              >
                電郵
              </label>
              <div class="">
                <input
                  value="{$result_array.item.sku}"
                  class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800"
                  name="sku"
                />
              </div>
            </div>
            <div class="col-span-1">
              <label
                class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
              >
                傳真
              </label>
              <div class="">
                <input
                  value="{$result_array.item.sku}"
                  class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800"
                  name="sku"
                />
              </div>
            </div>
          </div>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              地址
            </label>
            <div class="">
              <textarea
                value="{$result_array.item.sku}"
                class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800 resize-none h-44"
                name="sku"
              ></textarea>
            </div>
          </div>
          <div class="col-span-2">
            <label
              class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block"
            >
              備註
            </label>
            <div class="">
              <textarea
                value="{$result_array.item.sku}"
                class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800 resize-none h-44"
                name="sku"
              ></textarea>
            </div>
          </div>
          <div class="col-span-4 flex items-center">
            <button
              class="ml-auto cursor-pointer btn_submit_form bg-blue-500 text-white font-bold rounded px-6 py-2 text-lg hover:bg-blue-400"
            >
              {if $result_array.item}儲存{else}新增供應商{/if}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- sku holder -->
  <hr class="border-b border-gray-200 w-full my-12" />
  <!-- Storage management -->
  <div class="px-4 overflow-y-auto">
    <div class="flex items-center">
      <h1 class="text-3xl font-bold text-gray-800 mb-2">訂單記錄</h1>
    </div>
    <table class="w-full mb-12">
      <tr class="font-bold whitespace-nowrap text-gray-600">
        <td>採購訂單編號</td>
        <td>訂單日期</td>
        <td>採購單金額</td>
        <td>發票編號</td>
        <td>發票金額</td>
        <td>支付狀態</td>
        <td>狀態</td>
        <td class="w-24">活動記錄</td>
        <td class="w-64">備註</td>
      </tr>
      <tr class=" border-gray-500 border-t pt-2">
        <td>
          <div class="flex items-center">
            <span>EG10291091</span
            ><a href="#" class="ml-2"><i class="ri-file-text-line"></i></a>
          </div>
        </td>
        <td>12/01/2022</td>
        <td>
          <input
            type="text"
            value="28371"
            class="border border-gray-200 px-2"
          />
        </td>
        <td>
          <div class="flex items-center gap-x-2">
            <input
              type="text"
              value="FG2831728"
              class="border border-gray-200 px-2"
            />
            <a href="#" class="ml-2">
              <i class="ri-upload-2-line"> </i>
            </a>
            <a href="#" class="ml-2">
              <i class="ri-file-text-line"></i>
            </a>
          </div>
        </td>
        <td>
          <input
            type="text"
            value="12312.3"
            class="border border-gray-200 px-2"
          />
        </td>
        <td>
          <div class="flex items-center">
            <select class="border border-gray-200 px-2">
              <option>未付款</option>
              <option>已付款</option>
            </select>
            <a href="#" class="ml-2">
              <i class="ri-upload-2-line"> </i>
            </a>
            <a href="#" class="ml-2">
              <i class="ri-file-text-line"></i>
            </a>
          </div>
        </td>
        <td>
          <select class="border border-gray-200 px-2">
            <option>訂單處理中</option>
            <option>已入庫</option>
          </select>
        </td>
        <td><a href="#" class="text-blue-500 underline">查閱</a></td>
        <td>
          <textarea
            name=""
            id=""
           
            row="10"
            class="border border-gray-200 w-full"
          ></textarea>
        </td>
      </tr>
    </table>
  </div>
  <!-- panel -->
  <!-- <div class="flex py-4 px-4 border-t border-gray-300 mt-3">
    <button
      onclick="window.history.go(-1); return false;"
      class="font-bold rounded px-6 py-3 ml-auto text-2xl mr-3 border border-gray-300 text-gray-500 hover:opacity-75"
    >
      取消
    </button>
    <button
      class="cursor-pointer btn_submit_form bg-blue-500 text-white font-bold rounded px-6 py-3 text-2xl hover:bg-blue-400"
    >
      {if $result_array.item}儲存{else}新增供應商{/if}
    </button>
  </div>
  -->
</main>
<div id="qrcode" class="hidden"></div>

{literal}
<script></script>

<style>
  #onesignal-bell-container {
    display: none !important;
  }
  .navigation-section {
    display: none;
  }
</style>
{/literal}
