<main class="bg-white">
  <div class="px-4 py-4 overflow-y-auto">
      <a onclick="window.history.go(-1); return false;" class="inline-flex font-bold rounded px-3 py-1 ml-auto mr-3 border border-gray-300 text-gray-500 hover:opacity-75 mb-2">
          <i class="ri-arrow-left-line"></i>
          <span class="ml-2">返回</span>
      </a>
      <h1 class="text-3xl font-bold border-gray-200 border-b pb-3">
          {if $result_array.supplier}{$result_array.supplier.name}{else}新增供應商{/if}
      </h1>
  </div>

  <form id="edit_form">
      <input type="hidden" name="supplier_id" value="{if $result_array.supplier}{$result_array.supplier.supplier_id}{else}0{/if}" />
      <!-- item detail handler -->
      <div class="select-none px-6">
          <div class="flex gap-x-12">
              <!-- Right Col-->
              <div class="grid grid-cols-4 gap-x-6 gap-y-3 flex-grow">
                  <h2 class="col-span-4 text-xl font-bold text-gray-800 mt-5 mb-2">
                      供應商相關基本資料
                  </h2>
                  <div class="col-span-2">
                      <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">
                          供應商中文名稱
                      </label>
                      <div class="">
                          <input value="{$result_array.supplier.name_tc}" class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800" name="name_tc" />
                      </div>
                  </div>
                  <div class="col-span-2">
                      <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">
                          供應商英文名稱
                      </label>
                      <div class="">
                          <input value="{$result_array.supplier.name_en}" class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800" name="name_en" />
                      </div>
                  </div>
                  <div class="col-span-2">
                      <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">
                          供應商簡稱
                      </label>
                      <div class="">
                          <input value="{$result_array.supplier.short_form}" class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800" name="short_form" />
                      </div>
                  </div>
                  <div class="col-span-2">
                      <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">
                          供應商類別  <div data-popup="admin/item/supplierCateEditor" class="btn_popup inline-block text-blue-600 hover:opacity-80 cursor-pointer">（管理）</div>
                      </label>

                      <div class="relative dropdownMulti-container">

                          <div class="selected_list flex w-full border border-gray-300 rounded px-2 py-1">
                              {foreach from=$result_array.supplier.tag_list item=parent}
                                  {foreach from=$parent.child_list item=i}
                                  <div class="selectedOption rounded px-2 py-1 border-gray-300 border m-1 flex-none cursor-pointer flex items-center" data-val="{$i.tag_id}">{$i.name} <i class="ri-close-line ml-2 text-sm"></i></div>
                                  {/foreach}
                              {/foreach}
                              <input name="tag" class="lbl flex-grow m-1" value="" autocomplete="off"/> 
                          </div>
                          <div class="dropdownMulti border-l border-r border-b absolute bg-white z-50 border-gray-300 rounded-b max-h-52 overflow-auto hidden w-full">
                              <div class="dropdownMulti-closer fixed top-0 left-0 h-screen w-screen z-10"></div>
                          </div>
                      </div>
                  </div>
                  <div class="col-span-4">
                      <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">
                          聯絡人
                      </label>
                      <div class="grid gap-x-3 w-full grid-cols-3 gap-y-3 text-gray-800 select-text contact-list">
                          {foreach from=$result_array.supplier.contact_list item=i}
                          <div class="contact-indi h-36 border-2 border-gray-300 rounded px-3 py-2 flex">
                              <div class="flex-grow mr-3 contact-indi-holder">
                                  <h4 class="text-gray-900 font-bold contact-name">
                                      {$i.contact_name}
                                  </h4>
                                  <p class="text-sm contact-email">{$i.contact_email}</p>
                                  <p class="text-sm contact-phone">{$i.contact_phone}</p>
                                  <p class="text-sm contact-remarks">{$i.contact_remarks}</p>
                                  <a href="#" class="mb-2 inline-flex items-center justify-center text-gray-600 edit-contact"><i class="ri-edit-line"></i><span>編輯</span></a>
                              </div>

                              <a href="#" class="ml-auto flex items-center justify-center text-red-600 remove-contact"><i class="ri-edit-line"></i><span>刪除</span></a>
                          </div>
                          {/foreach}

                          <a href="#" class="contact-indi contact-adder text-xl font-bold text-gray-500 text-center flex items-center justify-center h-36 border-2 border-gray-300 rounded px-2 py-2 border-dashed">
                              <i class="ri-add-line"></i>
                              <p>新增聯絡人</p>
                          </a>
                      </div>
                  </div>
                  <div class="col-span-2">
                      <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">
                          支付資料
                      </label>
                      <div class="">
                          <input value="{$result_array.supplier.payment_method}" class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800" name="payment_method" />
                      </div>
                  </div>
                  <div class="col-span-2">
                      <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">
                          MOQ
                      </label>
                      <div class="">
                          <input value="{$result_array.supplier.MOQ}" class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800" name="MOQ" />
                      </div>
                  </div>

                  <div class="col-span-4 grid grid-cols-3 gap-x-3">
                      <div class="col-span-1">
                          <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">
                              電話
                          </label>
                          <div class="">
                              <input value="{$result_array.supplier.phone}" class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800" name="phone" />
                          </div>
                      </div>
                      <div class="col-span-1">
                          <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">
                              電郵
                          </label>
                          <div class="">
                              <input value="{$result_array.supplier.email}" class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800" name="email" />
                          </div>
                      </div>
                      <div class="col-span-1">
                          <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">
                              傳真
                          </label>
                          <div class="">
                              <input value="{$result_array.supplier.fax}" class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800" name="fax" />
                          </div>
                      </div>
                  </div>
                  <div class="col-span-2">
                      <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">
                          地址
                      </label>
                      <div class="">
                          <textarea class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800 resize-none h-44" name="address">{$result_array.supplier.address}</textarea>
                      </div>
                  </div>
                  <div class="col-span-2">
                      <label class="font-bold text-base pl-2 text-gray-500 mb-1 inline-block">
                          備註
                      </label>
                      <div class="">
                          <textarea class="w-full border border-gray-300 rounded px-2 py-1 text-gray-800 resize-none h-44" name="remarks">{$result_array.supplier.remarks}</textarea>
                      </div>
                  </div>
                  <div class="col-span-4 flex items-center">
                    <div class="ml-auto">
                      <div class="inline-block btn_delete_supplier font-bold rounded px-6 py-2 ml-auto text-lg mr-3 border border-gray-300 text-gray-500 hover:opacity-75">刪除</div>
                      <div onclick="window.history.go(-1); return false;" class="inline-block font-bold rounded px-6 py-2 ml-auto text-lg mr-3 border border-gray-300 text-gray-500 hover:opacity-75">取消</div>
                      <button type="submit" class="ml-auto cursor-pointer btn_submit_form bg-blue-500 text-white font-bold rounded px-6 py-2 text-lg hover:bg-blue-400">
                          {if $result_array.supplier}儲存{else}新增供應商{/if}
                      </button>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </form>
  <!-- sku holder -->
  <hr class="border-b border-gray-200 w-full my-12" />
  <!-- Storage management -->
  <div class="px-4 overflow-y-auto">
      <div class="flex items-center">
          <h1 class="text-3xl font-bold text-gray-800 mb-2">訂單記錄</h1>
      </div>
      <table class="w-full mb-12">
          <tr class="font-bold whitespace-nowrap text-gray-600">
              <td>採購訂單編號</td>
              <td>訂單日期</td>
              <td>採購單金額</td>
              <td>發票編號</td>
              <td>發票金額</td>
              <td>支付狀態</td>
              <td>狀態</td>
              <td class="w-24">活動記錄</td>
              <td class="w-64">備註</td>
          </tr>
          <tr class="border-gray-500 border-t pt-2">
              <td>
                  <div class="flex items-center">
                      <span>EG10291091</span><a href="#" class="ml-2"><i class="ri-file-text-line"></i></a>
                  </div>
              </td>
              <td>12/01/2022</td>
              <td>
                  <input type="text" value="28371" class="border border-gray-200 px-2" />
              </td>
              <td>
                  <div class="flex items-center gap-x-2">
                      <input type="text" value="FG2831728" class="border border-gray-200 px-2" />
                      <a href="#" class="ml-2">
                          <i class="ri-upload-2-line"> </i>
                      </a>
                      <a href="#" class="ml-2">
                          <i class="ri-file-text-line"></i>
                      </a>
                  </div>
              </td>
              <td>
                  <input type="text" value="12312.3" class="border border-gray-200 px-2" />
              </td>
              <td>
                  <div class="flex items-center">
                      <select class="border border-gray-200 px-2">
                          <option>未付款</option>
                          <option>已付款</option>
                      </select>
                      <a href="#" class="ml-2">
                          <i class="ri-upload-2-line"> </i>
                      </a>
                      <a href="#" class="ml-2">
                          <i class="ri-file-text-line"></i>
                      </a>
                  </div>
              </td>
              <td>
                  <select class="border border-gray-200 px-2">
                      <option>訂單處理中</option>
                      <option>已入庫</option>
                  </select>
              </td>
              <td><a href="#" class="text-blue-500 underline">查閱</a></td>
              <td>
                  <textarea name="" id="" row="10" class="border border-gray-200 w-full"></textarea>
              </td>
          </tr>
      </table>
  </div>

</main>
<script>
  var supplier_id = '{$result_array.supplier.supplier_id}';
  var tag_id_arr = [{foreach from=$result_array.supplier.tag_list item=i}{foreach from=$i.child_list item=ii}{$ii.tag_id},{/foreach}{/foreach}]
</script>
<style>

.searchHidden {
    display: none;
}
</style>
{literal}
<script>
  $(document).ready(function () {

    $(document).on("click", ".selectedOption", function(){
        $(this).remove();
    })

    $(document).on("click", ".btn_delete_supplier", function(e){
      e.preventDefault();
      vkConfirmDefault({
          title: '確認',
          content: '<div>請確認是否刪除這條目？</div>',
          confirmButtonHtml: '確認',
          cancelButtonHtml: '返回',
          confirmButtonFunction: async function(e){
              url = "admin/supplier/api/editSupplier";
              $loader = await globalLoader();
              $.bajax({
                  url: url,
                  method: 'POST',
                  formElement: 'N',
                  data: {
                      supplier_id: $("[name=supplier_id]").val(),
                      activate: "N"
                  },
                  callback: function(data) {
                      globalLoader($loader);
                      if (data.code == 0){
                          location.href= "admin/item/itemList";
                      } else {
                          globalErrorReturn(data);
                      }
                  },
                  errorCallback: function(jqXHR, textStatus, errorThrown) {
                      console.log(jqXHR);
                  },
              });
          }
      })
    });

    $(".dropdownMulti-container .lbl").on("click", function(){
        $container = $(this).parents(".dropdownMulti-container");
        $container.find(".option").removeClass("hidden");

        $container.find(".dropdownMulti").removeClass("hidden");
        $container.find(".selected_list").addClass("rounded-b-none");

        setTimeout(function(){
            $container.find(".dropdown-closer").on("click", function(e){
                $container.find(".dropdown").addClass("hidden")
                $container.find(".lbl").removeClass("rounded-b-none");
            })

            $container.find(".dropdownMulti-closer").on("click", function(e){
                $container.find(".dropdownMulti").addClass("hidden")
                $container.find(".selected_list").removeClass("rounded-b-none");
            })
        }, 200)
    }).on("keyup", function(){
        $container = $(this).parents(".dropdownMulti-container");
        var val = $(this).val();
        var val_list = [];
        $container.find(".option").each(function(idx, option){
            if ($(option).html().indexOf(val) >= 0){
                $(option).removeClass("searchHidden")
            } else {
                $(option).addClass("searchHidden")
            }
        });
    }).on("focusout", function(){
        $(this).val("")
    })

    $("[name=tag]").on("click", function(e){
        $container = $(this).parents(".dropdownMulti-container");
        $dropdown = $container.find(".dropdownMulti");
        $dropdown.find(".option").remove();
        $dropdown.find(".option_grp").remove();

        $.bajax({
            url: "admin/item/api/getSupplierTagList",
            method: 'POST',
            formElement: 'N',
            data: {},
            callback: function(data) {
                tag_list = data.result.supplier_tag_list;

                tag_list.forEach(function(tag,idx){
                    $option_grp = $("<div/>").attr({
                        class: "option_grp p-2 z-20 relative pointer-event-none",
                    }).html(`--${tag.name}--`);
                    $dropdown.append($option_grp);

                    tag.child_list.forEach(function(tag, idx){
                    
                        $option = $("<div/>").attr({
                            class: "option p-2 z-20 relative hover:bg-gray-200 hover:text-grey-600 cursor-pointer flex items-center",
                            "data-val" :tag.tag_id
                        }).html(`${tag.name}`);
                                        

                        // check if it is selecting or not
                        if ($container.find(`.selected_list [data-val=${tag.tag_id}]`).length > 0)
                            $option.addClass("hidden")


                        $option.on("click", function(){
                            if ($container.find(`.selected_list [data-val=${tag.tag_id}]`).length == 0){
                                $div = $("<div/>").attr({
                                    class: "selectedOption rounded px-2 py-1 border-gray-300 border m-1 flex-none cursor-pointer flex items-center",
                                    "data-val": tag.tag_id
                                }).html(`${tag.name} <i class="ri-close-line ml-2 text-sm"></i>`)


                                $div.on("click", function(){
                                    val = $(this).attr('data-val');
                                    $(this).remove();
                                    $container.find(`.dropdownMulti [data-val=${val}]`).removeClass("hidden");
                                });


                                $(this).addClass("hidden");
    
                                $container.find(".selected_list").prepend($div);
                            }
                        });
    
                        $dropdown.append($option);
                    });
                });
            }
        });
    });

    $(".btn_submit_form").on("click", async function (e) {
      $loader = await globalLoader();
      e.preventDefault();

      var unidx = $("#edit_form").serializeArray();
      var data = [];
      $.map(unidx, function (n, i) {
        data[n["name"]] = n["value"];
      });

      // data["tag_id_arr"] = $("[name=tag_id]").val().toString();
      
      tag_id_arr = [];
      $("[name=tag]").parents(".dropdownMulti-container").find(".selectedOption").each(function(idx, val){
          tag_id_arr.push($(val).attr("data-val"));
      });

      data['tag_id_arr'] = tag_id_arr.toString();


      //append contact json
      var tempContactList = [];
      $(".contact-indi:not(.contact-adder)").map(function (index, contact) {
        console.log(contact)
        var name = $(contact).find(".contact-name").text().replace(/\s+/g, " ").trim(),
          phone = $(contact).find(".contact-phone").text().replace(/\s+/g, " ").trim(),
          email = $(contact).find(".contact-email").text().replace(/\s+/g, " ").trim();
          remarks = $(contact).find(".contact-remarks").text().replace(/\s+/g, " ").trim();
        tempContactList.push({
          contact_name: name,
          contact_phone: phone,
          contact_email: email,
          contact_remarks: remarks,
        });
      });
      data["contact_json"] = JSON.stringify(tempContactList);

      $.bajax({
        url: "/admin/supplier/api/editSupplier",
        method: "POST",
        formElement: "N",
        data: data,
        callback: function (data) {
          if (!data.code == 0) {
            globalLoader($loader);
            globalErrorReturn(data);
          } else {
            infoPopup("成功", "已更新供應商資料。");
            if (supplier_id == ""){
                location.href = "admin/item/supplierDtl?supplier_id=" + data.result.supplier.supplier_id;
            } else {
                globalLoader($loader);
            }
          }
        },
        errorCallback: function (jqXHR, textStatus, errorThrown) {
          console.log(jqXHR);
        },
      });
    });

    $(document)
      .on("click", ".contact-adder", function (e) {
        //contact adder
        e.preventDefault();
        $vkmodal({
          fullScreen: false,
          tapBackgroundToClose: true,
          content: `<div class="w-96 px-4 py-4">
          <h3 class="text-2xl font-bold">新增聯絡人</h3>
          <form>
            <label for="contact-name" class="mt-2 block">聯絡人姓名<label>
            <input id="contact-name" name="" placeholder="聯絡人姓名" class="w-full py-1 px-2 border border-gray-300 rounded">
            <label for="contact-email" class="mt-2 block">聯絡人電郵<label>
            <input id="contact-email" name="" placeholder="聯絡人電郵" class="w-full py-1 px-2 border border-gray-300 rounded">
            <label for="contact-phone" class="mt-2 block">聯絡人電話<label>
            <input id="contact-phone" name="" placeholder="聯絡人電話" class="w-full py-1 px-2  border border-gray-300 rounded">
            <label for="contact-remarks" class="mt-2 block">聯絡人備註<label>
            <input id="contact-remarks" name="" placeholder="聯絡人備註" class="w-full py-1 px-2  border border-gray-300 rounded">
          </form>
          <div class="flex items-center mt-3">
            <a href="#" class="save-contact py-2 px-3 border border-blue-500 bg-blue-500 font-bold text-white ml-auto">儲存</a>
            <a href="#" class="cancel-contact py-2 px-3 border border-gray-200 font-bold text-gray-600 ml-2">取消</a>
          </div>
        <div>`,
          mounted: function (ele) {
            $(".save-contact").click(function (e) {
              //add new contact
              var $main = ele;
              killVkmodal(ele.data().timestamp);

              $insert = $("<div/>").attr("class", "contact-indi h-36 border-2 border-gray-300 rounded px-3 py-2 flex").html(`
                    <div class="flex-grow mr-3 contact-indi-holder">
                      <h4 class="text-gray-900 font-bold contact-name">${$main.find("#contact-name").val()}</h4>
                      <p class="text-sm contact-email">${$main.find("#contact-email").val()}</p>
                      <p class="text-sm contact-phone">${$main.find("#contact-phone").val()}</p>
                      <p class="text-sm contact-remarks">${$main.find("#contact-remarks").val()}</p>
                      <a href="#" class="mb-2 inline-flex items-center justify-center text-gray-600  edit-contact"><i class="ri-edit-line"></i><span>編輯</span></a>
                    </div>
                    <a href="#" class="ml-auto flex items-center justify-center text-red-600 remove-contact"><i class="ri-edit-line"></i><span>刪除</span></a>
                  `)


              $insert.insertBefore($(".contact-adder"));
              // $(".contact-list")
              //   .insertBefore($insert, $(".contact-adder"));
            });

            $(".cancel-contact").click(function (e) {
              killVkmodal(ele.data().timestamp);
            });
          },
        });
      })
      .on("click", ".edit-contact", function (e) {
        var $contact_ori = $(this).closest(".contact-indi");
        $vkmodal({
          fullScreen: false,
          tapBackgroundToClose: true,
          content: `<div class="w-96 px-4 py-4">
          <h3 class="text-2xl font-bold">新增聯絡人</h3>
          <form>
            <label for="contact-name" class="mt-2 block">聯絡人姓名<label>
            <input id="contact-name" name="" placeholder="聯絡人姓名" class="w-full py-1 px-2 border border-gray-300 rounded" value="${$contact_ori.find(".contact-name").text().replace(/\s+/g, " ").trim()}">
            <label for="contact-email" class="mt-2 block">聯絡人電郵<label>
            <input id="contact-email" name="" placeholder="聯絡人電郵" class="w-full py-1 px-2 border border-gray-300 rounded" value="${$contact_ori.find(".contact-email").text().replace(/\s+/g, " ").trim()}">
            <label for="contact-phone" class="mt-2 block">聯絡人電話<label>
            <input id="contact-phone" name="" placeholder="聯絡人電話" class="w-full py-1 px-2  border border-gray-300 rounded" value="${$contact_ori.find(".contact-phone").text().replace(/\s+/g, " ").trim()}">
            <label for="contact-remarks" class="mt-2 block">聯絡人備註<label>
            <input id="contact-remarks" name="" placeholder="聯絡人備註" class="w-full py-1 px-2  border border-gray-300 rounded" value="${$contact_ori.find(".contact-remarks").text().replace(/\s+/g, " ").trim()}">
          </form>
          <div class="flex items-center mt-3">
            <a href="#" class="save-contact py-2 px-3 border border-blue-500 bg-blue-500 font-bold text-white ml-auto">儲存</a>
            <a href="#" class="cancel-contact py-2 px-3 border border-gray-200 font-bold text-gray-600 ml-2">取消</a>
          </div>
        <div>`,
          mounted: function (ele) {
            $(".save-contact").click(function (e) {
              //add new contact
              var $main = ele;
              killVkmodal(ele.data().timestamp);
              $contact_ori.find(".contact-name").html(ele.find("#contact-name").val());
              $contact_ori.find(".contact-email").html(ele.find("#contact-email").val());
              $contact_ori.find(".contact-phone").html(ele.find("#contact-phone").val());
              $contact_ori.find(".contact-remarks").html(ele.find("#contact-remarks").val());
            });

            $(".cancel-contact").click(function (e) {
              killVkmodal(ele.data().timestamp);
            });
          },
        });
      })
      .on("click", ".remove-contact", function (e) {
        e.preventDefault();
        var $this = $(this);
        var $contact = $this.closest(".contact-indi");
        $vkmodal({
          fullScreen: false,
          tapBackgroundToClose: true,
          content: `<div class="w-96 px-4 py-4">
          <h3 class="text-2xl font-bold">刪除聯絡人</h3>
          <form>
            <p>你確認要刪除聯絡人<b>${$contact
              .find(".contact-name")
              .html()}</b>嗎？</p>

          </form>
          <div class="flex items-center mt-3">
            <a href="#" class="delete-contact py-2 px-3 border border-red-500 bg-red-500 font-bold text-white ml-auto">刪除</a>
            <a href="#" class="cancel-contact py-2 px-3 border border-gray-200 font-bold text-gray-600 ml-2">取消</a>
          </div>
        <div>`,
          mounted: function (ele) {
            //confirm delete
            ele.find(".delete-contact").click(function (e) {
              e.preventDefault();
              $contact.remove();
              killVkmodal(ele.data().timestamp);
            });
            //cancel
            ele.find(".cancel-contact").click(function (e) {
              e.preventDefault();
              killVkmodal(ele.data().timestamp);
            });
          },
        });
      });
  });
</script>

<style>
  #onesignal-bell-container {
    display: none !important;
  }
  .navigation-section {
    display: none;
  }
</style>
{/literal}
