<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-10">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">供應商列表</div>
    </div>
    <a href="admin/item/supplierDtl?supplier_id=0"><div class="ml-8 px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full mr-auto cursor-pointer">新增供應商</div></a>

    <div class="flex bg-white rounded-full ml-auto shadow">
        <form id="list_form" action="admin/member/memberList" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="business" type="hidden" value="{$result_array.page_config.business}">
                <input name="membership_id" type="hidden" value="{$result_array.page_config.admin_id}">
                <input name="admin_id" type="hidden" value="{$result_array.page_config.admin_id}">
                <input name="skey" class="flex px-4 py-2 rounded-full truncate" type="text" placeholder="供應商, 聯絡人, 電話" value="{$result_array.page_config.skey}">
                <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-10">
    <div class="grid grid-cols-10 gap-5 text-gray-600 border-b-2 border-gray-300 px-4 py-3 lg:px-8">
        <div class='col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "member_no" && $result_array.page_config.order == "desc"} desc{/if}' data-sort_field="member_no">
            {if $result_array.page_config.sort == "member_no"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>供應商</div>
        </div>
        <div class='col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "email" && $result_array.page_config.order == "desc"} desc{/if}' data-sort_field="email">
            {if $result_array.page_config.sort == "email"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>聯絡人</div>
        </div>
        <div class='col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "mobile" && $result_array.page_config.order == "desc"} desc{/if}' data-sort_field="mobile">
            {if $result_array.page_config.sort == "mobile"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>聯絡電話</div>
        </div>
        <div class='col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "point" && $result_array.page_config.order == "desc"} desc{/if}' data-sort_field="point">
            {if $result_array.page_config.sort == "point"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>電子郵件</div>
        </div>
        <div class='flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "cash_dollar" && $result_array.page_config.order == "desc"} desc{/if}' data-sort_field="cash_dollar">
            {if $result_array.page_config.sort == "cash_dollar"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>備註</div>
        </div>
        <div class="flex flex-row my-auto ml-auto">操作</div>
    </div>

    {foreach $result_array.itemList key=k item=i}
    <div class="grid grid-cols-10 auto-rows-auto items-center gap-5 lg:px-8 py-3 text-gray-800 border-b border-gray-300 hover:bg-gray-100">
        <div class="col-span-2 truncate">{$i.supplier_name}</div>
        <div class="col-span-2 truncate">{$i.contact_name}</div>
        <div class="col-span-2 truncate">{$i.contact_phone}</div>
        <div class="col-span-2">{$i.contact_email}</div>
        <div>{$i.remarks}</div>
        <div class="ml-auto">
            <a href="admin/item/supplierDtl?supplier_id={$i.supplier_id}"><i class="ri-edit-line pr-2 hover:text-gray-400 text-lg"></i></a>
            <a class="btn_del" data-supplier_id="{$i.supplier_id}" data-shop_id="{$i.shop_id}"><i class="ri-delete-bin-line hover:text-gray-400 text-lg"></i></a>
        </div>
    </div>
    {/foreach}
</div>

{include file='../module/pagerModule.html'}

{literal}
<script>
$(document).ready(function(){
    $(document).off("click", ".btn_del");
    $(document).on("click", ".btn_del", async function(e){
        $loader = await globalLoader()
        $this = $(this)
        vkConfirmDefault({
            title: '確認',
            content: '<div>請確認是否刪除這條目？</div>',
            confirmButtonHtml: '確認',
            cancelButtonHtml: '返回',
            confirmButtonFunction: function(){
                $.bajax({
                    url: "admin/member/api/editMember",
                    method: 'POST',
                    formElement: 'N',
                    data: {
                        shop_id: $this.attr("data-shop_id"),
                        member_id: $this.attr("data-member_id"),
                        activate: 'N',
                    },
                    callback: function(data) {
                        if (data.code != 0){
                            globalLoader($loader);
                            globalErrorReturn(data);
                        } else {
                            location.reload();
                        }
                    },
                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                });
            },
            cancelButtonFunction : function(){
                globalLoader($loader);
            }
        })
    })

    $(document).on("change", "#admin_filter_select", function() {
        $("#list_form [name=admin_id]").val($(this).find(":selected").val())

        $("#list_form").submit();
    })

    $(document).on("change", "#membership_filter_select", function() {
        $("#list_form [name=membership_id]").val($(this).find(":selected").val())

        $("#list_form").submit();
    })
})
</script>
{/literal}