<script src="/adminA/js/jquery.dad.js"></script>

<main class="bg-white">
  <div class="px-4 py-4 overflow-y-auto">
    <a
      onclick="window.history.go(-1); return false;"
      class="inline-flex font-bold rounded px-3 py-1 ml-auto mr-3 border border-gray-300 text-gray-500 hover:opacity-75 mb-2"
    >
      <i class="ri-arrow-left-line"></i>
      <span class="ml-2">返回</span>
    </a>
    <h1 class="text-3xl font-bold border-gray-200 border-b pb-3">
      編輯供應商分類
    </h1>
  </div>
  <div class="px-4 pb-4">
    <a
      href="#"
      id="add-cate-dad"
      class="bg-blue-500 px-3 py-2 font-bold inline-flex text-white mb-3"
      ><i class="ri-add-line"></i><span class="ml-2">增加分類</span></a
    >
    <div class="dad-container-js">
      <div
        class="border-2 border-gray-300 border-dashed mb-3 pb-3 py-2 bg-gray-100 dad-outer-container"
      >
        <h4
          class="font-bold text-gray-600 text-2xl px-5 py-2 flex items-center"
        >
          <span class="cate-dad-title">食物</span>
          <div class="items-center dad-edit-mode hidden">
            <input class="py-1 px-2 border border-gray-200" value="食物" />
            <a
              href="#"
              class="bg-blue-500 border border-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2 save-dad-edit"
              ><span class="">儲存</span></a
            >
            <a
              href="#"
              class="px-3 py-2 font-bold inline-flex text-gray-700 text-base border border-gray-400 ml-2 cancel-dad-edit-mode"
            >
              <span class="">取消</span></a
            >
          </div>

          <a href="#" class="p3-4 py-2 ml-2 edit-cate-dad"
            ><i class="ri-edit-line"></i
          ></a>
          <a
            href="#"
            class="add-cate-child bg-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-auto"
            ><i class="ri-add-line"></i><span class="ml-2">增加子分類</span></a
          >
          <a
            href="#"
            class="remove-cate-dad bg-red-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2"
            ><i class="ri-add-line"></i><span class="ml-2">刪除分類</span></a
          >
        </h4>
        <div class="cate-dad px-5 py-2" style="min-height: 60px;">
          <div
            class="border border-gray-300 text-xl py-2 px-3 bg-white mb-px flex cate-child-indi rounded"
          >
            <div class="dragger flex items-center px-3 text-gray-400">
              <i class="ri-drag-move-2-line"></i>
            </div>
            <span class="flex items-center cate-child-title">水果</span>
            <div class="items-center edit-mode hidden">
              <input class="py-1 px-2 border border-gray-200" value="水果" />
              <a
                href="#"
                class="bg-blue-500 border border-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2 save-edit"
                ><span class="">儲存</span></a
              >
              <a
                href="#"
                class="px-3 py-2 font-bold inline-flex text-gray-700 text-base border border-gray-400 ml-2 cancel-edit-mode"
              >
                <span class="">取消</span></a
              >
            </div>
            <a href="#" class="p3-4 py-2 ml-2 edit-cate-child"
              ><i class="ri-edit-line"></i
            ></a>
            <a
              href="#"
              class="p3-4 py-2 text-xl delete-cate-child ml-auto flex items-center px-3"
              ><i class="ri-close-line"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{literal}
<script>
  $(document)
    .on("click", ".edit-cate-child", function (e) {
      //start edit mode
      e.preventDefault();
      var $this = $(this);
      console.log("12312");
      var $child = $this.closest(".cate-child-indi");
      console.log($child.html());
      $child.find(".edit-mode").removeClass("hidden").addClass("flex");
      $child.find("input").focus();
      $child.find(".edit-cate-child").addClass("hidden");
      $child.find(".cate-child-title").addClass("hidden");
    })
    .on("click", ".save-edit", function (e) {
      //save button
      e.preventDefault();
      var $this = $(this);
      var $child = $this.closest(".cate-child-indi");
      $child.find(".edit-mode").addClass("hidden").removeClass("flex");
      $child.find(".edit-cate-child").removeClass("hidden");
      $child
        .find(".cate-child-title")
        .removeClass("hidden")
        .html($child.find("input").val());
    })
    .on("click", ".cancel-edit-mode", function (e) {
      //cancel edit mode
      e.preventDefault();
      var $this = $(this);
      var $child = $this.closest(".cate-child-indi");
      $child.find(".edit-mode").addClass("hidden").removeClass("flex");
      $child.find(".edit-cate-child").removeClass("hidden");
      $child.find(".cate-child-title").removeClass("hidden");
      $child.find("input").val($child.find(".cate-child-title").html());
    })

    .on("click", ".edit-cate-dad", function (e) {
      //start edit mode
      e.preventDefault();
      var $this = $(this);
      var $child = $this.closest("h4");
      $child.find(".dad-edit-mode").removeClass("hidden").addClass("flex");
      $child.find("input").focus();
      $child.find(".edit-cate-dad").addClass("hidden");
      $child.find(".cate-dad-title").addClass("hidden");
    })
    .on("click", ".cancel-dad-edit-mode", function (e) {
      //start edit mode
      e.preventDefault();
      var $this = $(this);
      var $child = $this.closest("h4");
      $child.find(".dad-edit-mode").addClass("hidden").removeClass("flex");
      $child.find("input").val($child.find(".cate-dad-title").html());
      $child.find(".edit-cate-dad").removeClass("hidden");
      $child.find(".cate-dad-title").removeClass("hidden");
    })
    .on("click", ".save-dad-edit", function (e) {
      //start edit mode
      e.preventDefault();
      var $this = $(this);
      var $child = $this.closest("h4");
      $child.find(".dad-edit-mode").addClass("hidden").removeClass("flex");
      $child.find(".edit-cate-dad").removeClass("hidden");
      $child
        .find(".cate-dad-title")
        .html($child.find("input").val())
        .removeClass("hidden");
    })
    .on("click", ".remove-cate-dad", function (e) {
      e.preventDefault();
      var $this = $(this);
      $this.closest(".dad-outer-container").remove();
    });

  //cate dad action
  $(document).on("click", ".add-cate-child", function (e) {
    console.log("hey");
    e.preventDefault;
    var $this = $(this);
    $this.closest(".dad-outer-container").find(".cate-dad").append(`<div
            class="border border-gray-300 text-xl py-2 px-3 bg-white mb-px flex cate-child-indi rounded"
          >
            <div class="dragger flex items-center px-3 text-gray-400"><i class="ri-drag-move-2-line"></i></div>
            <span class="flex items-center cate-child-title">未命名</span>
            <div class="items-center edit-mode hidden">
              <input class="py-1 px-2 border border-gray-200" value="" />
              <a
                href="#"
                class="bg-blue-500 border border-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2 save-edit"
                ><span class="">儲存</span></a
              >
              <a
                href="#"
                class=" px-3 py-2 font-bold inline-flex text-gray-700 text-base border border-gray-400 ml-2 cancel-edit-mode"
              >
                <span class="">取消</span></a
              >
            </div>
            <a href="#" class="p3-4 py-2 ml-2 edit-cate-child"
              ><i class="ri-edit-line"></i
            ></a>
            <a
              href="#"
              class="p3-4 py-2 text-xl delete-cate-child ml-auto flex items-center px-3"
              ><i class="ri-close-line"></i
            ></a>
          </div>`);
  });

  $(document).ready(function () {
    $(".cate-dad").dad({
      exchangable: true,

      draggable: ".dragger",
    });

    //add cate dad
    $("#add-cate-dad").click(function (e) {
      e.preventDefault();
      $(".dad-container-js").append(`
      <div
        class="border-2 border-gray-300 border-dashed mb-3 pb-3 py-2 bg-gray-100 dad-outer-container"
      >
      <h4
          class="font-bold text-gray-600 text-2xl px-5 py-2 flex items-center"
        >
          <span class="cate-dad-title">未命名</span>
          <div class="items-center dad-edit-mode hidden">
            <input class="py-1 px-2 border border-gray-200" value="未命名" />
            <a
              href="#"
              class="bg-blue-500 border border-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2 save-dad-edit"
              ><span class="">儲存</span></a
            >
            <a
              href="#"
              class="px-3 py-2 font-bold inline-flex text-gray-700 text-base border border-gray-400 ml-2 cancel-dad-edit-mode"
            >
              <span class="">取消</span></a
            >
          </div>

          <a href="#" class="p3-4 py-2 ml-2 edit-cate-dad"
            ><i class="ri-edit-line"></i
          ></a>
          <a
            href="#"
            class="add-cate-child bg-blue-500 px-3 py-2 font-bold inline-flex text-white text-base ml-auto"
            ><i class="ri-add-line"></i><span class="ml-2">增加子分類</span></a
          >
          <a
            href="#"
            class="remove-cate-dad bg-red-500 px-3 py-2 font-bold inline-flex text-white text-base ml-2"
            ><i class="ri-add-line"></i><span class="ml-2">刪除分類</span></a
          >
        </h4>
        <div class="cate-dad px-5 py-2" style="min-height: 60px;"></div>
    </div>
   `);
      $(".cate-dad").dad({
        exchangable: true,

        draggable: ".dragger",
      });
    });
  });
</script>

<style>
  #onesignal-bell-container {
    display: none !important;
  }
  .navigation-section {
    display: none;
  }
</style>
{/literal}
