
<script src="/adminA/js/jquery.dad.js"></script>


<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-10">
    <div class="flex flex-col items-start">
        <div class="text-2xl font-bold">企業客戶列表</div>
    </div>

    <div class="flex bg-white rounded-full ml-auto shadow">
    </div>
</div>

<form id="uploadImgForm" class="hidden">
    <input name="shop_id" value="{$shop_id}">
    <input type="file" name="image" id="uploadImg">
</form>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-10">
    <div class="grid md:grid-cols-3 lg:grid-cols-4 gap-5 p-4 dad-container-js">
            {foreach from=$result_array.client_list key=k item=i}
            <div class="client relative border border-gray-300 rounded-lg text-gray-700 p-2 w-full h-60" data-client_id="{$i.client_id}">
                <i class="dragger ri-drag-move-2-fill text-2xl text-gray-400 hover:text-gray-500 px-1 lg:px-3 absolute"></i>
                <div class="bg-center bg-cover bg-no-repeat w-full h-full bg-contain" style="background-image: url('{$i.image_path}');"></div>
                <i class="cursor-pointer btn_del_client ri-subtract-line bg-red-200 text-red-900 border border-gray-300 hover:opacity-70 px-2 py-1 rounded-lg absolute top-2 right-2"></i>
            </div>
            {/foreach}
        <label for="uploadImg" class="flex flex-col bg-white shadow-lg p-3 rounded-lg border-2 h-60 w-full" style="border-color: rgb(223, 162, 124) !important;">
            <div class="flex flex-col items-center justify-center my-auto" style="color: rgb(223, 162, 124) !important;">
                <i class="ri-add-fill text-5xl"></i>
                <div>新增禮物</div>
            </div>
        </label>
    </div>
</div>

{literal}
<script>
function initDad(){
    
    try { 
        dadInstance.deactivate();
    } catch {

    }
    dadInstance = $(".dad-container-js").dad({ exchangable: true, draggable: ".dragger",});
    dadInstance.activate();


    $(".dad-container-js").off("dadDrop").on("dadDrop", async function(e, droppedElement){
        e.preventDefault();
        $loader = await globalLoader();

        client_arr = [];

        $(".client").each(function(idx, cate){
            client_arr.push($(cate).attr("data-client_id"))
        })

        var data = {
            client_arr: client_arr.toString(),
            shop_id: $("[name=shop_id]").val()
        };

        $.bajax({
            url: '/admin/page/api/sortClient',
            method: 'POST',
            formElement: 'N',
            data: data,
            callback: function (data) {
                if (!data.code == 0) {
                    globalLoader($loader);
                    globalErrorReturn(data)
                } else {
                    infoPopup();
                    globalLoader($loader);
                    initDad();
                }
            },
            errorCallback: function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
}

$(document).ready(function(){
    initDad();

    $(document).off("change", "#uploadImg").on("change", "#uploadImg", async function(){
        $loader = await globalLoader();
        
        $.bajax({
            url: "admin/page/api/addClient",
            method: 'POST',
            formElement: 'Y',
            formElementID: "uploadImgForm",
            callback: function(data) {
                if (data.code == 0){
                    infoPopup();
                    location.reload();
                } else {
                globalLoader($loader);
                    globalErrorReturn(data);
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })

    $(document).off("click", ".btn_del_client").on("click", ".btn_del_client", function(){
        $client = $(this).parents(".client");

        vkConfirmDefault({
            title: '確認',
            content: '<div>請確認是否刪除這條目？</div>',
            confirmButtonHtml: '確認',
            cancelButtonHtml: '返回',
            confirmButtonFunction: async function(e){
                url = "admin/page/api/delClient";
                $loader = await globalLoader();
                $.bajax({
                    url: url,
                    method: 'POST',
                    formElement: 'N',
                    data: {
                        client_id: $client.attr("data-client_id"),
                        shop_id: $("[name=shop_id]").val()
                    },
                    callback: function(data) {
                        globalLoader($loader);
                        if (data.code == 0){
                            infoPopup();
                            $client.remove();
                        } else {
                            globalErrorReturn(data);
                        }
                    },
                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                });
            },
            cancelButtonFunction : function(){
                globalLoader($loader);
            }
        })
    });
});
</script>
{/literal}