
<script src="https://cdn.tiny.cloud/1/68fu0z5t4y9y8al1jtldxgili6iop0dak2gdwjtl9jp7hlz7/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<div class="flex flex-col  px-4 lg:px-12">
    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">資訊管理</div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg py-2 w-full">    
        <form id="edit_form" action="admin/page/api/editShop" method="post">
            <input type="hidden" name="shop_id" value="{$shop_id}"> 
            <div class="text-2xl text-gray-800 p-2 lg:pt-8 lg:pb-4 lg:px-8">聯絡方法</div>
            
            <div class="flex flex-col w-full lg:mr-6">
                <div class="flex flex-col md:flex-row justify-between lg:px-8 flex-wrap">
                    <div class="md:w-1/2 w-full p-2">
                        <div class="text-xs text-gray-600 pb-2">Whatsapp</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="whatsapp" type="text" value="{$result_array.shopDtl.whatsapp}"> 
                    </div>
                    <div class="md:w-1/2 w-full p-2">
                        <div class="text-xs text-gray-600 pb-2">Whatsapp_2</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="whatsapp2" type="text" value="{$result_array.shopDtl.whatsapp2}"> 
                    </div>
                    <div class="md:w-1/2 w-full p-2">
                        <div class="text-xs text-gray-600 pb-2">電話</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="phone" type="text" value="{$result_array.shopDtl.phone}"> 
                    </div>
                    <div class="md:w-1/2 w-full p-2">
                        <div class="text-xs text-gray-600 pb-2">傳真</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="fax" type="text" value="{$result_array.shopDtl.fax}"> 
                    </div>
                    <div class="md:w-1/2 w-full p-2">
                        <div class="text-xs text-gray-600 pb-2">平台分成 <span class="text-gray-400">(用以計算參考價格)</span></div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="platform_commission" type="text" value="{$result_array.shopDtl.platform_commission}"> 
                    </div>
                    <div class="md:w-1/2 w-full p-2">
                        <div class="text-xs text-gray-600 pb-2">利潤百份比 <span class="text-gray-400">(用以計算參考價格)</span></div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="markup" type="number" value="{$result_array.shopDtl.markup}"> 
                    </div>
                    <div class="md:w-1/2 w-full p-2">
                        <div class="text-xs text-gray-600 pb-2">中文地址</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="address_tc" type="text" value="{$result_array.shopDtl.address_tc}"> 
                    </div>
                    <div class="md:w-1/2 w-full p-2">
                        <div class="text-xs text-gray-600 pb-2">英文地址</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="address_en" type="text" value="{$result_array.shopDtl.address_en}"> 
                    </div>
                    <div class="md:w-1/2 w-full p-2">
                        <div class="text-xs text-gray-600 pb-2">Google 座標 X</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="google_x" type="text" value="{$result_array.shopDtl.google_x}"> 
                    </div>
                    <div class="md:w-1/2 w-full p-2">
                        <div class="text-xs text-gray-600 pb-2">Google 座標 Y</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="google_y" type="text" value="{$result_array.shopDtl.google_y}"> 
                    </div>
                    <div class="md:w-1/2 w-full p-2">
                        <div class="text-xs text-gray-600 pb-2">Instagram</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="ig" type="text" value="{$result_array.shopDtl.ig}"> 
                    </div>
                    <div class="md:w-1/2 w-full p-2">
                        <div class="text-xs text-gray-600 pb-2">Facebook</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="facebook" type="text" value="{$result_array.shopDtl.facebook}"> 
                    </div>
                    <div class="md:w-1/2 w-full p-2">
                        <div class="text-xs text-gray-600 pb-2">電郵</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="email" type="text" value="{$result_array.shopDtl.email}"> 
                    </div>
                    <div class="md:w-1/2 w-full p-2">
                        <div class="text-xs text-gray-600 pb-2">Twitter</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="twitter" type="text" value="{$result_array.shopDtl.twitter}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-xs text-gray-600 pb-2">置頂文字</div>
                        <textarea class="tinymce border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="header_text" type="text">{$result_array.shopDtl.header_text}</textarea> 
                    </div>
                </div>
                <div class="flex w-full justify-center items-center mt-2 mb-4">
                    <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 rounded-full cursor-pointer" type="submit" value="儲存">
                </div>
            </div>
        </form>
    </div>
</div>

{literal}
<script>

$(document).ready(function(){

    try{
        tinymce.init({
            language: 'zh_TW',
            content_css: "/css/tailwind.css, /css/global.css?v=2",
            language_url: '/adminA/js/tinymce/langs/zh_TW.js',
            selector: '.tinymce',
            width : 'full',
            menubar: false,
            plugins: ["link emoticons textcolor fullscreen code table paste preview",],
            paste_data_images: true,
            paste_merge_formats: true,
            paste_word_valid_elements: "b,strong,i,em,h1,h2",
            paste_webkit_styles: "color font-size",
            paste_retain_style_properties: "color font-size",
            paste_convert_word_fake_lists: true,
            inline_styles : false,
            cleanup_on_startup : true,
            fix_list_elements : false,
            fix_nesting : false,
            fix_table_elements : false,
            paste_use_dialog : true,
            paste_auto_cleanup_on_paste : true,
            toolbar: 'undo redo | formatselect | forecolor backcolor | bold italic underline | alignleft aligncenter alignright | fontsizeselect | link image fullscreen | emoticons | removeformat code | table tabledelete | tableprops tablerowprops tablecellprops | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol | preview | customButton priceOfCounctry',
            toolbar_mode: 'sliding',
            theme_advanced_buttons3_add : "preview",
            plugin_preview_width : "500", // working!
            plugin_preview_height : "600", // working!
        });
    } catch(e){
        console.log(e);
        // do nothing, select mode
    }

    $("#edit_form").submit(async function(e){
        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                globalLoader($loader);
                if (!data.code == 0){
                    vkAlertDefault({
                        title: "錯誤",
                        content: data.code + ": " +data.msg,
                        confirmButtonHtml: "確認",
                        confirmButtonFunction:function(e){}
                    });
                } else {
                    infoPopup();
                    // location.reload(); //   production use
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
    
});

</script>
{/literal}