<script src="/adminA/js/jquery.dad.js"></script>

<main class="bg-white">
  <div class="px-4 py-4 overflow-y-auto border-gray-200 border-b flex mb-3 items-center">
    <h1 class="text-3xl font-bold">導覽列管理</h1>
    <a href="#" class="add-nav bg-blue-500 px-3 py-2 font-bold inline-flex text-white ml-2">
      <i class="ri-add-line"></i>
      <span class="ml-2">增加新導覽列</span>
    </a>
    <a href="#" class="save-nav bg-blue-500 px-3 py-2 font-bold inline-flex text-white ml-2">儲存</a>
  </div>
  <div class="px-4 pb-4">
    <div class="dad-container-js dad"></div>
    
    <a href="#" class="save-nav w-full bg-blue-500 px-3 py-2 font-bold text-white block text-center rounded hover:opacity-80 cursor-pointer">儲存</a>
</div>
</main>

{literal}
<style>
  .navigation-section {
    background-color: white;
  }
  #container{
    background-color: white;
  }
</style>

<script>
var shop_id = "{/literal}{$shop_id}{literal}";
var cateList = null;
var pageList = null;

var init_var;
function initDad(){
  try { 
    dadInstance.deactivate();
  } catch {

  }
  dadInstance = $(".dad-container-js").dad({ exchangable: true, draggable: ".dragger",});
  dadInstance.activate();


  $(".dad-container-js").off("dadDrop").on("dadDrop", async function(e, droppedElement){
  })
  
  
  try { 
    dadInstance2.deactivate();
  } catch {

  }
  dadInstance2 = $(".lv2_nav_wrapper").dad({ exchangable: true, draggable: ".dragger_c",});
  dadInstance2.activate();
}

function genLv1Nav(navList){
    if (navList?.cateList?.length > 0){
        type ='cate'
    } else if(navList?.pageList?.length > 0){
        type = 'page'
    } else {
        type = 'link'
    }


    content = `
        <div class="dad-outer-container nav mb-3">
            <div class="lv1_nav_wrapper">
                <div class="flex items-center border border-gray-300 pb-3 py-2 bg-gray-100 ">
                    <div class="dragger flex items-center px-3 text-gray-400">
                        <i class="ri-drag-move-2-line"></i>
                    </div>
                    <div class="lv1_nav w-full flex gap-x-4">
                        <div class="flex-0 flex items-center gap-x-4">
                            <select name="nav_type" class="px-2 py-1">
                                <option value="page" ${type == 'page'? 'selected':''}>頁面</option> 
                                <option value="cate" ${type == 'cate'? 'selected':''}>產品分類</option> 
                                <option value="link" ${type == 'link'? 'selected':''}>連結</option> 
                            </select>
                            <input name="name_tc" class="px-2 py-1" value="${navList?.name_tc? navList.name_tc : ''}" placeholder="中文名稱">
                            <input name="name_en" class="px-2 py-1" value="${navList?.name_en? navList.name_en : ''}" placeholder="英文名稱">
                        </div>
                        <div class="flex-1 pr-2 flex items-center gap-x-2">
                            <div class="link_selector selector w-full ${type != 'link'? 'hidden':''}">
                                <input name="link" value="${navList?.link? navList.link : ''}" placeholder="連結(如有)" class="w-full px-2 py-1">
                            </div>
                            <div class="cate_selector selector w-full flex items-center gap-x-4 ${type != 'cate'? 'hidden':''}">
                                <select name="cate_id" class="w-full selectize">
                                    ${cateList.map(function(cate, idx){
                                        return `<option value="${cate.cate_id}">${cate.name_tc} (${cate.name_en})</option>`
                                    }).join('')}
                                </select>
                                <div class="btn_add_cate whitespace-nowrap bg-blue-500 px-3 py-1 font-bold inline-flex text-white rounded hover:opacity-80 cursor-pointer">增加子分類</div>
                            </div>
                            <div class="page_selector selector w-full flex items-center gap-x-4 ${type != 'page'? 'hidden':''}">
                                <select name="page_id" class="w-full selectize">
                                    ${pageList.map(function(page, idx){
                                        return `<option value="${page.page_id}">${page.name_tc} (${page.name_en})</option>`
                                    }).join('')}
                                </select>
                                <div class="btn_add_page whitespace-nowrap bg-blue-500 px-3 py-1 font-bold inline-flex text-white rounded hover:opacity-80 cursor-pointer">增加子分類</div>
                            </div>
                            <a class="btn_delete_item whitespace-nowrap flex items-center px-3 py-1 rounded border border-gray-300 hover:opacity-75">
                                <i class="ri-delete-bin-line"></i>
                                <span>刪除</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="lv2_nav_wrapper ml-10">
                    ${switcher()}
                </div>
            </div>
        </div>
    `;

    function switcher(){
        content = ``;
        switch (type){
            case 'cate':
                navList.cateList.forEach(function(item, idx){
                    content += genLv2Nav(item, "cate")
                })
                break;
            case 'page':
                navList.pageList.forEach(function(item, idx){
                    content += genLv2Nav(item, "page")
                })
                break;
        }
        content += ``;

        return content;
    }

    return content;
}

function genLv2Nav(item, mode){
    content = `
        <div class="flex items-center border border-gray-300 p-2 gap-x-2 bg-gray-100 lv2_nav">
            <div class="dragger_c flex items-center px-3 text-gray-400"><i class="ri-drag-move-2-line"></i></div>
    `;
    switch (mode) {
        case 'cate':
            content += `
                <select name="cate_id" class="selectize w-full">
                    ${cateList.map(function(cate, idx){
                        return `<option value="${cate.cate_id}" ${item.cate_id == cate.cate_id ? 'selected' : ''}>${cate.name_tc} (${cate.name_en})</option>`
                    }).join('')}
                </select>
                <a class="btn_delete_lv2_item whitespace-nowrap flex items-center px-3 py-2 rounded border border-gray-300 hover:opacity-75">
                    <i class="ri-delete-bin-line"></i>
                    <span>刪除</span>
                </a>
            `;
            break;
        case 'page':
            content += `
                    <select name="page_id" class="selectize w-full">
                        ${pageList.map(function(page, idx){
                            return `<option value="${page.page_id}" ${item.page_id == page.page_id ? 'selected' : ''}>${page.name_tc} (${page.name_en})</option>`
                        }).join('')}
                    </select>
                    <a class="btn_delete_lv2_item whitespace-nowrap flex items-center px-3 py-2 rounded border border-gray-300 hover:opacity-75">
                        <i class="ri-delete-bin-line"></i>
                        <span>刪除</span>
                    </a>
                `;
            break;
    }

    content += `
            </div>`;


    return content;
}

function submitGo(){
    var nav_list = [];

    $(".dad-outer-container").each(function(idx, dad){
        $lv1_nav = $(dad).find(".lv1_nav_wrapper");
        $lv2_nav = $lv1_nav.find(".lv2_nav_wrapper");
        type = $lv1_nav.find("[name=nav_type]").val();

        nav = {
            name_tc: $lv1_nav.find("[name=name_tc]").val(),
            name_en: $lv1_nav.find("[name=name_en]").val(),
            shop_id: shop_id
        }



        switch (type){
            case 'page':
                nav['page_id_arr'] = $lv2_nav.find(".lv2_nav [name=page_id]").map(function(i, page_id){
                    return $(page_id).val()
                }).toArray().join(',');
                nav['link'] = '';
                break;
            case 'cate':
                nav['cate_id_arr'] = $lv2_nav.find(".lv2_nav [name=cate_id]").map(function(i, cate_id){
                    return $(cate_id).val()
                }).toArray().join(',');
                nav['link'] = '';
                break;
            case 'link':
                nav['link'] = $lv1_nav.find("[name=link]").val()
                break;
        }
        
        nav_list.push(nav);
    });

    $.bajax({
        url: "/admin/page/api/editNav",
        method: "POST",
        formElement: "N",
        data: {
            nav_list: JSON.stringify(nav_list),
            shop_id: shop_id
        },
        callback: function (data) {
            if (data.code == 0){
                infoPopup();
                initNavList();
            } else {
                globalErrorReturn(data);
            }
        },
    });
}

function initNavList(){
    $.bajax({
        url: "/admin/page/api/getNavList",
        method: "POST",
        formElement: "N",

        callback: function (data) {
            var html = "";
            var navList = data.result.nav_list;
            navList.map(function (navItem, index) {
                html += genLv1Nav(navItem);;
            });

            $(".dad-container-js").html(html);

            initDad();
            $("select.selectize:not(.selectized)").selectize()
        },
    });
}

async function pageInit(){
    cateList = await new Promise(function(resolve, reject){
        $.bajax({
            url: "/admin/product/api/getCateList",
            method: "POST",
            formElement: "N",
            callback: function (data) {
                resolve(data.result);
            },
        });
    });

    pageList = await new Promise(function(resolve, reject){
        $.bajax({
            url: "/admin/page/api/getPageList",
            method: 'POST',
            formElement: 'N',
            data: {
                cb: 'flat',
            },
            callback: function (data) {

                resolve(data.result.page_list);
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    });

    return true;
}

$(document).ready(async function(){
    await pageInit();
    await initNavList();

    $(document).off("click", ".save-nav").on("click", ".save-nav", function(){
        submitGo();
    })

    $(document).off("click", ".add-nav").on("click", ".add-nav", function(){
        content = genLv1Nav(null);
        $(".dad-container-js").append(content);

        $("html").animate({
            scrollTop: $(".dad-outer-container:last").position().top -150
        }, 500);
    })

    $(document).off("click", ".btn_add_page").on("click", ".btn_add_page", function(){
        $lv1_nav = $(this).parents(".lv1_nav_wrapper")
        $lv2_nav = $lv1_nav.find(".lv2_nav_wrapper");

        page_id = $lv1_nav.find(".page_selector [name=page_id]").val()
        content = genLv2Nav({page_id: page_id}, "page");

        $lv2_nav.append(content);
        $("select.selectize:not(.selectized)").selectize()
    });

    $(document).off("click", ".btn_add_cate").on("click", ".btn_add_cate", function(){
        $lv1_nav = $(this).parents(".lv1_nav_wrapper")
        $lv2_nav = $lv1_nav.find(".lv2_nav_wrapper");

        cate_id = $lv1_nav.find(".cate_selector [name=cate_id]").val()
        content = genLv2Nav({cate_id: cate_id}, "cate");

        $lv2_nav.append(content);
        $("select.selectize:not(.selectized)").selectize()
    });

    $(document).off("change", "[name=nav_type]").on("change", "[name=nav_type]", function(){
        $lv1_nav = $(this).parents(".lv1_nav_wrapper")
        $lv2_nav = $lv1_nav.find(".lv2_nav_wrapper");

        $lv2_nav.find(".lv2_nav").remove();

        switch ($(this).val()){
            case 'link':
                $lv1_nav.find(".selector:not(.link_selector)").addClass("hidden")
                $lv1_nav.find(".link_selector").removeClass("hidden")
                break;
            case 'page':
                $lv1_nav.find(".selector:not(.page_selector)").addClass("hidden")
                $lv1_nav.find(".page_selector").removeClass("hidden")
                break;
            case 'cate':
                $lv1_nav.find(".selector:not(.cate_selector)").addClass("hidden")
                $lv1_nav.find(".cate_selector").removeClass("hidden")
                break;
        }
    });

    $(document).off("click", ".btn_delete_item").on("click", ".btn_delete_item", function(){
        $(this).parents(".nav").remove();
    })

    $(document).off("click", ".btn_delete_lv2_item").on("click", ".btn_delete_lv2_item", function(){
        $(this).parents(".lv2_nav").remove();
    })
});
</script>
{/literal}

