<div class="flex flex-col px-4 lg:px-12">
    <div class="flex flex-row items-center mt-8 mb-4">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">導覽列管理</div>
        </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg py-2 w-full">    
        <form id="edit_form" action="/admin/page/api/editNav" method="post">
            <input name="shop_id" type="hidden" value="{$shop_id}" readonly> 
            <input name="nav_id" type="hidden" value="{if $result_array.nav.nav_id}{$result_array.nav.nav_id}{else}0{/if}" readonly> 
            <div class="flex flex-col w-full lg:py-6 lg:mr-6 lg:px-8">
                <div class="flex flex-col lg:flex-row justify-between">
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">中文</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_tc" type="text" value="{$result_array.nav.name_tc}"> 
                    </div>
                    <div class="w-full p-2">
                        <div class="text-sm text-gray-600 pb-2">英文</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="name_en" type="text" value="{$result_array.nav.name_en}"> 
                    </div>
                </div>
                <div class="flex flex-row pt-6" style="margin-bottom: -1px;">
                    <div class="btn_tag z-10 bg-white flex items-center justify-center h-10 text-center text-gray-800 px-4 cursor-pointer rounded-t-lg mr-4 border-gray-300 border border-b-0" data-ctl="link">連結</div>
                    <div class="btn_tag z-10 bg-white flex items-center justify-center h-10 text-center text-gray-800 px-4 cursor-pointer rounded-t-lg mr-4 border-gray-300 border-b" data-ctl="cate_id_arr">產品分類列表</div>
                    <div class="btn_tag z-10 bg-white flex items-center justify-center h-10 text-center text-gray-800 px-4 cursor-pointer rounded-t-lg border-gray-300 border-b" data-ctl="page_id_arr">頁面列表</div>
                </div>
                <div class="flex flex-col lg:flex-row items-center border border-gray-300 rounded-b-lg">
                    <div class="w-full p-2 tag" data-ctl="link">
                        <div class="text-sm text-gray-600 pb-2">連結</div>
                        <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" name="link" type="text" value="{$result_array.nav.link}"> 
                    </div> 
                    <div class="w-full p-2 tag hidden" data-ctl="cate_id_arr">
                        <div class="text-sm text-gray-600 pb-2">產品分類列表</div>
                        <select id="blist" class="selectize" multiple>
                            {foreach from=$result_array.cateList key=k item=i}
                            <option value="{$i.cate_id}" {if $result_array.nav.cate_id_arr|strstr:{$i.cate_id}}selected{/if}>{$i.name_tc}{if $i.show_in_web == 'N'}(不顯示在網站中){/if}</option>
                            {/foreach}
                        </select>
                        <input name="cate_id_arr" type="hidden"> 
                    </div>
                    <div class="w-full p-2 tag hidden" data-ctl="page_id_arr">
                        <div class="text-sm text-gray-600 pb-2">頁面列表</div>
                        <select id="wlist" class="selectize" multiple>
                            {foreach from=$result_array.pageList.removeable_N key=k item=i}
                            <option value="{$i.page_id}" {foreach from=$result_array.nav.page key=kk item=ii}{if {$ii.page_id} == {$i.page_id}}selected{/if}{/foreach}>{$i.name_tc}</option>
                            {/foreach}
                            {foreach from=$result_array.pageList.removeable_Y key=k item=i}
                                <option value="{$i.page_id}" {foreach from=$result_array.nav.page key=kk item=ii}{if {$ii.page_id} == {$i.page_id}}selected{/if}{/foreach}>{$i.name_tc}</option>
                            {/foreach}
                        </select>
                        <input name="page_id_arr" type="hidden"> 
                    </div>
                </div>
                
                <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 mt-8 mx-auto rounded-full cursor-pointer" type="submit" value="儲存">
            </div>
        </form>
    </div>
</div>

{literal}
<script>
var tagActiveCls = "border border-b-0 active";
var tagInactiveCls = "border-b";
$(document).ready(async function(){

    $(".btn_tag").on("click", function(){
        $(".btn_tag").removeClass(tagActiveCls).addClass(tagInactiveCls);
        $(this).addClass(tagActiveCls).removeClass(tagInactiveCls);

        var ctl = $(this).attr("data-ctl");
        $(".tag").hide();
        $(".tag[data-ctl='"+ctl+"']").show();
    })

    var tag_check = function () {
        $("[name=blist]").val($("#blist").val().toString())
        $("[name=wlist]").val($("#wlist").val().toString())

        if ($("[name=blist]").val()) {
            $("[data-ctl=blist]").closest(".btn_tag").trigger("click");
        }
        if ($("[name=wlist]").val()) {
            $("[data-ctl=wlist]").closest(".btn_tag").trigger("click");
        }
    }
    tag_check()

    $("#edit_form").submit(async function(e){
        ctl = $(".btn_tag.active").attr("data-ctl");

        switch (ctl){
            case 'link':
                $("[name=cate_id_arr]").val("")
                $("[name=page_id_arr]").val("")
                break;
            case 'cate_id_arr':
                $("[name=cate_id_arr]").val($("#cate_id_selector").val().toString())
                $("[name=link]").val("")
                $("[name=page_id_arr]").val("")
                break;
            case 'page_id_arr':
                $("[name=page_id_arr]").val($("#page_id_selector").val().toString())
                $("[name=link]").val("")
                $("[name=cate_id_arr]").val("")
                break;
        }

        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                if (!data.code == 0){
                    globalLoader($loader);
                    globalErrorReturn(data);
                } else {
                    infoPopup();
                    if ($("[name=nav_id]").val() == 0){
                        location.href = "admin/page/navDtl?nav_id=" + data.result.nav_id;
                    } else {
                        globalLoader($loader);
                    }
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
   
});
</script>
{/literal}