
<div class="flex flex-col w-full">
    <div class="flex flex-col mt-8 mb-4 mx-4 lg:mx-12">
        <div class="flex flex-row items-center ">
            <div class="flex flex-col items-start">
                <a href="admin/item/itemList"><div class="text-3xl font-bold text-gray-800">導覽列管理</div></a>
            </div>
            <a href="https://{$shop.domain}" target="_blank"><div class="ml-6 px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full mr-auto cursor-pointer">前往網站</div></a>
        </div>
        <div class="text-gray-600">以下的按鈕將會顯示於導覽列</div>
    </div>

    <div class="sort_wrapper">
        {foreach from=$result_array.nav key=k item=i}
        <div class="flex flex-row bg-white rounded-lg items-center justify-between mx-4 my-2 p-4 lg:mx-12 hover:bg-gray-100 navItem" data-nav_id="{$i.nav_id}">
            <i class="ri-drag-move-2-fill text-2xl text-gray-400 hover:text-gray-500 px-1 lg:pl-3 pr-4 lg:pr-6"></i>
            <div class="flex flex-col w-full justify-items-center">
                <div class="text-xl">{$i.name_tc}</div>
            </div>
            <div class="flex flex-row ml-auto text-lg pr-4">
                <a href="admin/page/navDtl?nav_id={$i.nav_id}"><i class="ri-edit-line pr-4 text-gray-800 hover:text-gray-600"></i></a>
                <a class="btn_del"><i class="ri-delete-bin-line text-gray-800 hover:text-gray-600"></i></a>
            </div>
        </div>
        {/foreach}
    </div>

    <div class="w-full flex justify-center">
        <a href="admin/page/navDtl?nav_id=0">
            <div class="flex flex-row shadow-lg px-8 py-3 rounded-full border-2 justify-center items-center mt-2" style="border-color: rgb(223, 162, 124) !important; color: rgb(223, 162, 124) !important;">
                <div>新增導覽列</div>
                <i class="ri-add-fill text-lg pl-2"></i>
            </div>
        </a>
    </div>
</div>
<script>
var shop_id = {$shop_id}
{literal}
$(document).ready(function(){

    $(document).off("click", ".btn_del");
    $(document).on("click", ".btn_del", async function(e){
        $loader = await globalLoader();
        $container = $(this).parents(".navItem");
        vkConfirmDefault({
            title: '確認',
            content: '<div>請確認是否刪除這條目？</div>',
            confirmButtonHtml: '確認',
            cancelButtonHtml: '返回',
            confirmButtonFunction: async function(){
                url = "admin/page/api/editNav";
                e.preventDefault();
                $.bajax({
                    url: url,
                    method: 'POST',
                    formElement: 'N',
                    data: {
                        shop_id: shop_id,
                        nav_id: $container.attr("data-nav_id"),
                        activate: 'N'
                    },
                    callback: function(data) {
                        if (data.code != 0){
                            infoPopup()
                            globalLoader($loader);
                            globalErrorReturn(data);
                        } else {
                            globalLoader($loader);
                            $container.remove();
                        }
                    },
                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                });
            },
            cancelButtonFunction : function(){
                globalLoader($loader);
            }
        })
    })



    $(".sort_wrapper").sortable({
        animation: 150,
        onUpdate: async function(e){
            nav_id_arr = [];
            $(".navItem").each(function(){
                nav_id_arr.push($(this).attr("data-nav_id"));
            });

            $loader = await globalLoader();
            e.preventDefault();
            $.bajax({
                url: "admin/page/api/sortNav",
                method: 'POST',
                data: {
                    nav_id_arr: nav_id_arr.toString(),
                    shop_id: shop_id
                },
                callback: function(data) {
                    globalLoader($loader);
                    if (!data.code == 0){
                        globalErrorReturn(data)
                    } else {
                        infoPopup()
                        // location.reload(); //   production use
                    }
                },
                errorCallback: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                },
            });
        }
    });
});
{/literal}
</script>