<div class="flex flex-row items-center mx-4 mt-8 mb-4 lg:mx-10">
    <div class="flex flex-row items-center">
        <div class="text-2xl font-bold">彈出框管理</div>
        <a href="admin/page/popupDtl?popup_id=0"><div class="bg-blue-500 rounded-full px-5 py-2 hover:opacity-80 cursor-pointer text-white text-center ml-4">新增彈出框</div></a>
    </div>

    <div class="flex bg-white rounded-full ml-auto shadow">
        <form id="list_form" action="admin/page/popupList" method="get" class="m-0">
            <div class="flex flex-row">
                <input name="sort" type="hidden" value="{$result_array.page_config.sort}">
                <input name="order" type="hidden" value="{$result_array.page_config.order}">
                <input name="page" type="hidden" value="{$result_array.page_config.page}">
                <input name="limit" type="hidden" value="{$result_array.page_config.limit}">
                <input name="skey" class="flex py-2 px-4 rounded-full truncate" type="text" placeholder="名稱" value="{$result_array.page_config.skey}">
                <div class="w-auto flex justify-end items-center text-gray-400 bg-gray-500 hover:bg-gray-400 rounded-full py-2 px-3.5 relative cursor-pointer">
                    <input type="submit" class="absolute opacity-0 w-full h-full left-0 top-0 z-50 cursor-pointer">
                    <i class="ri-search-line text-lg"></i>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="bg-white rounded-lg shadow-lg mx-4 my-2 lg:mx-10">
    <div class="grid grid-cols-8 gap-5 text-gray-600 border-b-2 border-gray-300 px-4 py-3 lg:px-8">
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "order_no" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="order_no">
            {if $result_array.page_config.sort == "order_no"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>名稱</div>
        </div>
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "sender_name" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="sender_name">
            {if $result_array.page_config.sort == "sender_name"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>地點</div>
        </div>
        <div class="col-span-2 flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "sender_phone" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="sender_phone">
            {if $result_array.page_config.sort == "sender_phone"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>到期日</div>
        </div>
        <div class="flex flex-row my-auto cursor-pointer sortable{if $result_array.page_config.sort == "sender_phone" && $result_array.page_config.order == "desc"} desc{/if}" data-sort_field="sender_phone">
            {if $result_array.page_config.sort == "sender_phone"} 
                {if $result_array.page_config.order == "desc"}
                    <i class="ri-arrow-down-line pr-2 hover:text-gray-400"></i>
                {else}
                    <i class="ri-arrow-up-line pr-2 hover:text-gray-400"></i>    
                {/if}
            {else}
                <i class="ri-arrow-up-down-line pr-2 hover:text-gray-400"></i>
            {/if}
            <div>顯示頁面</div>
        </div>
        
        <div class="my-auto ml-auto">操作</div>
    </div>

    {foreach from=$result_array.popupList key=k item=i}
    <div class="popupGrp border-b border-gray-300 hover:bg-gray-100">
        <div class="grid grid-cols-8 auto-rows-auto gap-5 px-4 py-3 lg:px-8 text-gray-800">
            <div class="col-span-2 truncate btn_url flex cursor-pointer" data-order_id="{$i.order_id}"><i class="ri-arrow-down-s-line"></i>{$i.adm_name}</div>
            <div class="col-span-2 truncate">
                {if $i.location == 'topLeft'}左上{/if}
                {if $i.location == 'topMid'}上{/if}
                {if $i.location == 'topRight'}右上{/if}
                {if $i.location == 'centerLeft'}左{/if}
                {if $i.location == 'centerMid'}正中{/if}
                {if $i.location == 'centerRight'}右{/if}
                {if $i.location == 'bottomLeft'}左下{/if}
                {if $i.location == 'bottomMid'}下{/if}
                {if $i.location == 'bottomRight'}右下{/if}
            </div>
            <div class="col-span-2 truncate">{$i.expiry_datetime}</div>
            <div class="">{if $i.show_in_web == 'Y'}<i class="ri-eye-line hover:text-gray-400"></i>{else}<i class="ri-eye-line hover:text-gray-400"></i>{/if}</div>
            
            <div class="ml-auto">
                <a href="admin/page/popupDtl?popup_id={$i.popup_id}"><i class="ri-edit-line pr-1 hover:text-gray-400"></i></a>
                <a class="btn_del" data-popup_id="{$i.popup_id}" data-shop_id="{$i.shop_id}"><i class="ri-delete-bin-line hover:text-gray-400"></i></a>
            </div>
        </div>
        <div class="px-10 url_wrapper text-xs hidden mb-4">
            {foreach from=$i.urlList key=kk item=ii}
                <a href="{$ii.url}" target="_blank">{$ii.url}</a><br/>
            {/foreach}
        </div>
    </div>
    {/foreach}
</div>

{include file='../module/pagerModule.html'}

{literal}
<script>
$(document).ready(function(){
    $(document).off("click", ".btn_url");
    $(document).on("click", ".btn_url", function(){
        $(".url_wrapper").addClass("hidden");

        $container = $(this).parents(".popupGrp").find(".url_wrapper");
        $container.removeClass("hidden");
    });

    $(document).off("click", ".btn_del");
    $(document).on("click", ".btn_del", async function(){
        $loader = await globalLoader();
        $this = $(this)
        vkConfirmDefault({
            title: '確認',
            content: '<div>請確認是否刪除這條目？</div>',
            confirmButtonHtml: '確認',
            cancelButtonHtml: '返回',
            confirmButtonFunction: function(){
                $.bajax({
                    url: "admin/page/api/editPopup",
                    method: 'POST',
                    formElement: 'N',
                    data: {
                        popup_id: $this.attr("data-popup_id"),
                        shop_id: $this.attr("data-shop_id"),
                        activate: 'N',
                    },
                    callback: function(data) {
                        if (data.code != 0){
                            globalLoader($loader);
                            globalErrorReturn(data);
                        } else {
                            location.reload();
                        }
                    },
                    errorCallback: function(jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR);
                    },
                });
            },
            cancelButtonFunction : function(){
                globalLoader($loader);
            }
        })
    })
});
</script>
{/literal}