<script src="https://cdn.tiny.cloud/1/68fu0z5t4y9y8al1jtldxgili6iop0dak2gdwjtl9jp7hlz7/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<div class="flex flex-row py-2 mx-2 md:mx-4 lg:mx-12 mt-8 mb-4">
    <div class="text-3xl font-bold text-gray-800">{if !$result_array.popupDtl.popup_id}新增彈出框{else}彈出框管理{/if}</div>
</div>

<div class="bg-white rounded-lg hadow-lg mx-4 my-2 lg:mb-16 lg:mx-12">
    <div class="p-2 lg:p-8 ">
        <form class="content_edit_form" id="edit_form" action="/admin/page/api/editPopup" method="post">
            <input name="popup_id" type="hidden" value="{if $result_array.popupDtl.popup_id}{$result_array.popupDtl.popup_id}{else}0{/if}" readonly>
            <div class="flex flex-col">
                <div class="mb-4">
                    <div class="font-bold text-xl mb-4">運單狀態</div>
                    <div class="grid grid-cols-2 gap-3 mb-2">
                        <input name="shop_id" type="hidden" value="{$shop_id}">
                        <div>
                            <div class="pb-2">位置</div>
                            <select name="location" class="border border-gray-300 rounded-lg w-full py-1 pl-2 h-8 focus:border-opacity-0">
                                <option value="topLeft" {if $result_array.popupDtl.location == 'topLeft'}selected{/if}>左上</option>
                                <option value="topMid" {if $result_array.popupDtl.location == 'topMid'}selected{/if}>上</option>
                                <option value="topRight" {if $result_array.popupDtl.location == 'topRight'}selected{/if}>右上</option>
                                <option value="centerLeft" {if $result_array.popupDtl.location == 'centerLeft'}selected{/if}>左</option>
                                <option value="centerMid" {if $result_array.popupDtl.location == 'centerMid'}selected{/if}>正中</option>
                                <option value="centerRight" {if $result_array.popupDtl.location == 'centerRight'}selected{/if}>右</option>
                                <option value="bottomLeft" {if $result_array.popupDtl.location == 'bottomLeft'}selected{/if}>左下</option>
                                <option value="bottomMid" {if $result_array.popupDtl.location == 'bottomMid'}selected{/if}>下</option>
                                <option value="bottomRight" {if $result_array.popupDtl.location == 'bottomRight'}selected{/if}>右下</option>
                            </select>
                        </div>

                        <div>
                            <div class="pb-2">名字</div>
                            <input name="adm_name" value="{$result_array.popupDtl.adm_name}" class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">
                        </div>

                        <div>
                            <div class="pb-2">中文內容</div>
                            <textarea class="border-2 border-gray-300 tinymce" name="content_tc">{$result_array.popupDtl.content_tc}</textarea>
                        </div>

                        <div>
                            <div class="pb-2">英文內容</div>
                            <textarea class="border-2 border-gray-300 tinymce" name="content_en">{$result_array.popupDtl.content_en}</textarea>
                        </div>

                        <div>
                            <div class="pb-2">到期時間 (預設是永久顯示)</div>
                            <input name="expiry_datetime" type="datetime-local" value="{$result_array.popupDtl.expiry_datetime|substr:0:16|replace:" ":"T"}" class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0">
                        </div>
                        <div class="grid grid-cols-2 gap-3 mb-2">
                            <div class="flex flex-col justify-center h-full">
                                <div class="pb-2">顯示中</div>
                                <label class="switch">
                                    <input type="hidden" name="show_in_web">
                                    <input id="show_in_web" type="checkbox" {if $result_array.popupDtl.show_in_web === 'Y'}checked{/if}>
                                    <span class="slider"></span>
                                </label>
                            </div>
                        </div>

                        <div>
                            <input name="url_arr" type="hidden">
                            <div class="flex flex-row items-center pb-2">
                                <div>出現在那一個頁面 (url)</div>
                                <div class="ml-4 px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full cursor-pointer btn_add_url">增加URL</div>
                            </div>
                            <div class="url_container">
                                <div class="flex flex-row w-full h-full items-center url_wrapper py-2 tpl hidden">
                                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 truncate">
                                    <i class="ri-delete-bin-line btn_del_url text-gray-800 text-xl hover:text-gray-600 cursor-pointer pl-4"></i>
                                </div>

                                {foreach from=$result_array.popupDtl.urlList key=k item=i}
                                <div class="flex flex-row w-full h-full items-center url_wrapper py-2">
                                    <input class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0 truncate" value="{if $i.url|strstr:'http'}{$i.url}{else}{$baseURL}/{$i.url}{/if}">
                                    <i class="ri-delete-bin-line btn_del_url text-gray-800 text-xl hover:text-gray-600 cursor-pointer pl-4"></i>
                                </div>
                                {/foreach}
                            </div>
                        </div>
                        <div>
                            <div class="flex flex-col justify-center h-full">
                                <div class="pb-2">底色</div>
                                <div id="color-selector" class=""></div>
                                <input name="bg_color" type="hidden" id="nav_color_picker" value="{$result_array.popupDtl.bg_color}"> 
                            </div>
                        </div>

                    </div>
                </div>

                <div>
                    <input type="submit" class="px-6 py-1 bg-blue-500 hover:bg-blue-400 text-white rounded-full my-2 cursor-pointer mb-4" value="提交">
                </div>
            </div>
        </form>
    </div>
</div>

{literal}
<style>
    .picker_sample, .picker_done{display: none;}
</style>
<script>

$(document).ready(function(){

    new Picker({
        parent: document.querySelector('#color-selector'),
        editorFormat: 'hex',
        popup: false,
        alpha: false,
        editor: true,
        color: '{/literal}{$result_array.popupDtl.bg_color}{literal}',
        onChange: function(color) {
            document.querySelector('#nav_color_picker').value = color.hex;
        }
    });

    try {
        tinymce.init({
            language: 'zh_TW',
            content_css: "/css/tailwind.css, /css/global.css?v=2",
            language_url: '/adminA/js/tinymce/langs/zh_TW.js',
            selector: '.tinymce',
            width: 'full',
            menubar: false,
            plugins: ["link lists image emoticons textcolor fullscreen code table paste preview",],
            paste_data_images: true,
            paste_merge_formats: true,
            images_upload_url: '/admin/page/api/uploadImg',
            images_upload_handler: function (blobInfo, success, failure) {
                var xhr, formData;
                xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', '/admin/page/api/uploadImg');
                xhr.onload = function() {
                    var json;
                    if (xhr.status != 200) {
                        failure('HTTP Error: ' + xhr.status);
                        return;
                    }
                    json = JSON.parse(xhr.responseText);
                    if(json.code!='0'){
                        failure(json.msg);
                        return;
                    } else {
                        if (!json || typeof json.result.img_path != 'string') {
                            failure(json.result.error);
                            return;
                        }
                        success("/" + json.result.img_path);
                    }
                };
                formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.filename());
                xhr.send(formData);
            },
            paste_word_valid_elements: "b,strong,i,em,h1,h2",
            paste_webkit_styles: "color font-size",
            paste_retain_style_properties: "color font-size",
            paste_convert_word_fake_lists: true,
            inline_styles : false,
            cleanup_on_startup : true,
            fix_list_elements : false,
            fix_nesting : false,
            fix_table_elements : false,
            paste_use_dialog : true,
            paste_auto_cleanup_on_paste : true,
            paste_merge_formats: true,
            paste_convert_word_fake_lists: true,
            toolbar: 'undo redo | formatselect | numlist bullist | forecolor backcolor | bold italic underline | alignleft aligncenter alignright | fontsizeselect | link image fullscreen | emoticons | removeformat code | table tabledelete | tableprops tablerowprops tablecellprops | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol | preview ',
            toolbar_mode: 'sliding',
            theme_advanced_buttons3_add: "preview",
            plugin_preview_width: "500", // working!
            plugin_preview_height: "600", // working!
        });
    } catch (e) {
        console.log(e);
        // do nothing, select mode
    }

    $(document).off("click", ".btn_add_url").on("click", ".btn_add_url", function(){
        $container = $(".url_container");
        $tpl = $container.find(".tpl").clone();
        $tpl.removeClass("tpl hidden").addClass("url_wrapper");

        $container.append($tpl);
    })


    $(document).off("click", ".btn_del_url").on("click", ".btn_del_url", function(){
        $(this).parents(".url_wrapper").remove();
    })

    $(".content_edit_form").submit(async function(e){

        if ($("#show_in_web").is(":checked")) {
            $("[name=show_in_web]").val("Y")
        } else if ($("#show_in_web").not(":checked")){
            $("[name=show_in_web]").val("N")
        }

        if ($("#overlay").is(":checked")) {
            $("[name=overlay]").val("Y")
        } else if ($("#overlay").not(":checked")){
            $("[name=overlay]").val("N")
        }

        var tArr = [];
        $(".url_wrapper:not(.hidden) input").each(function(idx, ele){
            tArr.push($(ele).val());
        });

        $("[name=url_arr]").val(JSON.stringify(tArr));

        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                globalLoader($loader);
                if (!data.code == 0){
                    vkAlertDefault({
                        title: "錯誤",
                        content: data.code + ": " +data.msg,
                        confirmButtonHtml: "確認",
                        confirmButtonFunction:function(e){}
                    });
                } else {
                    infoPopup();
                    globalLoader($loader);
                    // location.href = "admin/page/popupDtl?popup_id=" + data.result.popup_id
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
});
</script>
{/literal}