<div class="flex flex-col px-4 lg:px-12 lg:pb-16">
    <div class="flex flex-row items-center mt-8 mb-4    ">
        <div class="flex flex-col items-start">
            <div class="text-2xl font-bold text-gray-800">風格管理</div>
        </div>
    </div>
    
    <form id="edit_form" action="/admin/page/api/editStyle" method="post">
        <input name="shop_id" type="hidden" value="{$shop_id}" > 
        <div class="flex flex-col gap-2">
            <div class="bg-white rounded-lg w-full shadow-lg">
                <div class="flex flex-col mx-4 lg:mx-12 border-b-2 border-gray-400 pb-8">
                    <div class="text-xl text-gray-800 font-bold mt-4 py-2">商標圖片上載</div>
                    <div class="text-gray-600 m-y4">請選擇300x300的png格式圖片進行上載</div>
                    <div class="text-gray-600 m-y4">(此圖片顯示在網站左下角)</div>
        
                    <div class="bg-transparent w-60 h-60 border-gray-300 relative {if !$result_array.shopDtl.logo}bg-white border-4 rounded-lg{/if}">
                        {if $result_array.shopDtl.logo}<img src="{$result_array.shopDtl.logo}" class="w-full h-full object-contain object-center" id="preview"/>{else}<img class="hidden flex w-full h-full items-center justify-center text-gray-800" src="" id="preview" alt=""><div class="flex w-full h-full items-center justify-center text-gray-800 cursor-pointer" id="upload-text">按此上載圖片</div>{/if}
                        <input name="logo" type="file" class="absolute left-0 bottom-0 w-full h-full opacity-0 cursor-pointer" id="filetag">
                    </div>
                </div>
                <div class="flex flex-col mx-4 lg:mx-12 pb-8">
                    <div class="text-xl text-gray-800 font-bold mt-4 py-2">導覽列顏色</div>
                    <div id="color-selector" class=""></div>
                    <input name="nav_color" type="hidden" id="nav_color_picker" value="{$result_array.shopDtl.nav_color}"> 
                </div>
            </div>
            <div class="bg-white rounded-lg w-full shadow-lg ">
                <div class="px-4 py-2 lg:px-12">
                    <div class="text-xl text-gray-800 font-bold mt-4 py-2">產品列表分類下方圖片<a href="img/help_1.png" target="_blank"><i class="ri-question-line"></i></a></div>
                    <div class="text-gray-600 m-y4">請選擇300x300的png格式圖片進行上載</div>
                    
                    <div class="flex flex-col lg:flex-row gap-2">
                        <div class="flex flex-col gap-2 lg:w-1/3">
                            <div class="mt-4 py-2">第一格圖片</div>
                            <div class="bg-transparent w-60 h-60 border-gray-300 relative {if !$result_array.shopDtl.product_list_img_1_path}bg-white border-4 rounded-lg{/if}">
                                {if $result_array.shopDtl.product_list_img_1_path}<img src="{$result_array.shopDtl.product_list_img_1_path}" class="w-full h-full object-contain object-center preview"/>{else}<img class="hidden flex w-full h-full items-center justify-center text-gray-800 preview"><div class="flex w-full h-full items-center justify-center text-gray-800 cursor-pointer upload-text">按此上載圖片</div>{/if}
                                <input name="product_list_img_1_path" type="file" class="absolute left-0 bottom-0 w-full h-full opacity-0 cursor-pointer filetag">
                            </div>
                            <div>
                                <div class="mt-4 py-2">第一格圖片相關連結</div>
                                <input name="product_list_img_1_link" class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" value="{$result_array.shopDtl.product_list_img_1_link}" placeholder="連結">
                            </div>
                        </div>
    
                        <div class="flex flex-col gap-2 lg:w-1/3">
                            <div class="mt-4 py-2">第二格圖片</div>
                            <div class="bg-transparent w-60 h-60 border-gray-300 relative {if !$result_array.shopDtl.product_list_img_2_path}bg-white border-4 rounded-lg{/if}">
                                {if $result_array.shopDtl.product_list_img_2_path}<img src="{$result_array.shopDtl.product_list_img_2_path}" class="w-full h-full object-contain object-center preview"/>{else}<img class="hidden flex w-full h-full items-center justify-center text-gray-800 preview"><div class="flex w-full h-full items-center justify-center text-gray-800 cursor-pointer upload-text">按此上載圖片</div>{/if}
                                <input name="product_list_img_2_path" type="file" class="absolute left-0 bottom-0 w-full h-full opacity-0 cursor-pointer filetag">
                            </div>
                            <div>
                                <div class="mt-4 py-2">第二格圖片相關連結</div>
                                <input name="product_list_img_2_link" class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" value="{$result_array.shopDtl.product_list_img_2_link}" placeholder="連結">
                            </div>
                        </div>
    
                        <div class="flex flex-col gap-2 lg:w-1/3">
                            <div class="mt-4 py-2">第三格圖片</div>
                            <div class="bg-transparent w-60 h-60 border-gray-300 relative {if !$result_array.shopDtl.product_list_img_3_path}bg-white border-4 rounded-lg{/if}">
                                {if $result_array.shopDtl.product_list_img_3_path}<img src="{$result_array.shopDtl.product_list_img_3_path}" class="w-full h-full object-contain object-center preview"/>{else}<img class="hidden flex w-full h-full items-center justify-center text-gray-800 preview"><div class="flex w-full h-full items-center justify-center text-gray-800 cursor-pointer upload-text">按此上載圖片</div>{/if}
                                <input name="product_list_img_3_path" type="file" class="absolute left-0 bottom-0 w-full h-full opacity-0 cursor-pointer filetag">
                            </div>
                            <div>
                                <div class="mt-4 py-2">第三格圖片相關連結</div>
                                <input name="product_list_img_3_link" class="border border-gray-300 rounded-lg w-full py-1 pl-2 focus:ring-2 ring-blue-500 focus:border-opacity-0" value="{$result_array.shopDtl.product_list_img_3_link}" placeholder="連結">
                            </div>
                        </div>
                    </div>
                            
                </div>

            </div>
        </div>
        <input class="bg-blue-500 hover:bg-blue-300 text-white px-10 py-1 mr-auto rounded-full cursor-pointer mt-4" type="submit" value="儲存">
    </form>
</div>


{literal}
<style>
    .picker_sample, .picker_done{display: none;}
</style>
<script>
$(document).ready(function(){

    $("#edit_form").submit(async function(e){
        $loader = await globalLoader();
        e.preventDefault();
        $.bajax({
            url: $(this).attr("action"),
            method: 'POST',
            formElement: 'Y',
            formElementID: $(this).attr('id'),
            callback: function(data) {
                globalLoader($loader);
                if (!data.code == 0){
                    vkAlertDefault({
                        title: "錯誤",
                        content: data.code + ": " +data.msg,
                        confirmButtonHtml: "確認",
                        confirmButtonFunction:function(e){}
                    });
                } else {
                    infoPopup();
                    // location.reload(); //   production use
                }
            },
            errorCallback: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
            },
        });
    })
    
    new Picker({
        parent: document.querySelector('#color-selector'),
        editorFormat: 'hex',
        popup: false,
        alpha: false,
        editor: true,
        color: '{/literal}{$result_array.shopDtl.nav_color}{literal}',
        onChange: function(color) {
            document.querySelector('#nav_color_picker').value = color.hex;
        }
    });

    $(".filetag").on('change', function(){
        var reader;
        $container = $(this).parent();

        if (this.files && this.files[0]) {
            reader = new FileReader();
            
            reader.onload = function(e) {
                $container.find(".preview").attr('src', e.target.result);
                $container.find(".preview").removeClass("hidden");
                if($container.find(".upload-text"))
                    $container.find(".upload-text").addClass('hidden')
            }
            
            reader.readAsDataURL(this.files[0]);
        }
    });



    var fileTag = document.getElementById("filetag");
    var uploadText = document.getElementById('upload-text');
    var preview = document.getElementById("preview");
     
    fileTag.addEventListener("change", function() {
        changeImage(this);
        function changeImage(input) { 
            var reader;
            
            if (input.files && input.files[0]) {
                reader = new FileReader();
                
                reader.onload = function(e) {
                    preview.setAttribute('src', e.target.result);
                    preview.classList.remove("hidden");
                    if(uploadText)
                        uploadText.classList.add('hidden')
                }
                
                reader.readAsDataURL(input.files[0]);
            }
        }
    
    });
});
</script>
{/literal}